[2022-01-07 11:49] MarkMcWire commented on #5181
Now, it works. :+1: @Noordfrees @tothxa

[2022-01-08 06:41] klaus-halfmann opened #5200 "Fail to select Ship in Neptunes Revenge"
**Describe the bug**

When playing Neptunes Revenge I got stuck as I was unable to select the Expedition ship.
Minerva. As a workaround I later found that I can use the Ships statistics Window, too.

**To Reproduce**

1. Open Attached Save File [Neptune2.wgf.zip](https://github.com/widelands/widelands/files/7832746/Neptune2.wgf.zip)
2. Try to select Minerva
3. -> Fail

**Expected behavior**

* I c

[2022-01-08 08:56] Noordfrees commented on #5200
You can select *Minerva* by clicking on the spot left to it. Ships are clickable over multiple fields. That *Leonardo* catches the click on the centre is because multiple ships can be on the same spot (bug #1408) and the game just picks one arbitrary ship when you click there.

I'm not sure if there's really something that can be done about that, though if the other bug is solved in a way that pre

[2022-01-08 16:16] Noordfrees commented on #3280
No longer valid. I installed Widelands b21 from the official repo on my new Raspberry Pi and it works fine.

[2022-01-08 16:16] #3280 closed, assigned to nobody

[2022-01-11 14:06] Noordfrees commented on #3162
If we use an indexed palette for our PNGs we can reduce image size a lot. E.g. the amazon dressmakery working spritesheet at scale 4 goes down from 1.4 MB to 366 kB when using indexing (~**74%** smaller). Its PC mask goes from 14.3 kB to 11.8 kB (17%).

The downside of indexing is that we lose partial transparency: All semi-transparent areas (shadows on the ground) are replaced by either full tran

[2022-01-11 17:22] tothxa opened #5201 "Too many decimal places in encyclopedia entries of mines"
**Describe the bug**
The percentages for mines are listed with the default precision of 6 decimal places, which is ugly.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game
2. Open the encyclopedia
3. Select a mine
4. Look for the chance of production after resources ran out

**Expected behavior**
Earlier (e.g. in v1.0) it was dynamic, like 50% / 33.33%.

**Screenshots**
![mine_perc

[2022-01-12 09:07] #3156 closed, assigned to nobody

[2022-01-12 21:31] hessenfarmer commented on #3162
I think the hard edges and especially fully black shadow is a major problem. But to be finally sure I'd like to see the new model in game, to decide about it.
has the console command the same effects? or how is compression achieved? would be nice to see this in game as well.

[2022-01-13 00:50] tothxa commented on #3162
The transparency issue is not a limitation of the PNG format itself, see https://en.wikipedia.org/wiki/Portable_Network_Graphics#Transparency_of_image, only of many popular PNG creation programs unfortunately.

[2022-01-13 03:10] dsymonds opened #5202 "widelands_m1Arm_1.0 requires macOS 12"
The [downloads page](https://www.widelands.org/wiki/Download/) says "MacOS X 11.0 and newer, 64-bit ARM (Apple Silicon)" for the widelands_m1Arm_1.0.dmg release (MD5 `236b89ec2c75a856e0d8ec9a16c047a2`), but trying to launch the app fails with an error:
<img width="328" alt="Screen Shot 2022-01-13 at 2 07 53 pm" src="https://user-images.githubusercontent.com/31506/149258873-5877860a-9bd7-4d63-8aa1-

[2022-01-13 06:14] klaus-halfmann commented on #5202
Thanks for you Bug Report.

You are actually the first one with am M1 Mac playing widelands, welcome!.
The requirement was not intentional,  its just that I "handcrafted" that version
on my Mac which is already macOS 12.0. We have no access to any build
machine with macOS 11.x, yet. And I have no idea how to cross compile this.
So you only have two options for now:
* Upgrade to macOS 21.x
* Use th

[2022-01-13 06:21] klaus-halfmann commented on #5202
Meanwhile I updated the download page.

I will leave this bug open for some weeks but it may become a "wont fix", sorry for that.

[2022-01-13 06:35] dsymonds commented on #5202
Yeah, I downloaded the Intel version, which runs just fine.

Happy to help figure this out with you. I haven't used Xcode for a while, but it at least used to have pretty good older-version support (e.g. I could specify the minimum macOS version I wanted the project to target by selecting the relevant SDK version). Per [the docs](https://developer.apple.com/documentation/apple-silicon/building-a-u

[2022-01-13 08:55] Noordfrees commented on #3162
Current master:
![shot0000](https://user-images.githubusercontent.com/48293446/149296576-fe6ce457-e4c6-441c-9a15-98dfe40a2686.png)
Same image with *all* PNGs in the game converted to indexed:
![shot0001](https://user-images.githubusercontent.com/48293446/149296579-09cbeadf-a804-4c83-a96b-4c883f577aa8.png)

---

I also found another tool called pngquant that can handle semi-transparency in 8-bit PN

[2022-01-13 10:39] hessenfarmer commented on #3162
the black shadows of PNG8 converted Images as seen in the in game screenshot are a NoGo from my side.
however the PNgquant file looks promising. I compared it to the master and couldn't see much difference even in high zoom in my webbrowser. Only noticeable at high zoom factor is a a potential higher contrast in the PNGquant image, which is probably even desirable.
So to keep it short PNGquant is

[2022-01-13 10:58] tothxa commented on #3162
The PNGQuant docs say you can get further reduction in file size if you run a compression optimizer like pngcrush/optipng/oxipng afterwards.

[2022-01-13 11:06] klaus-halfmann commented on #5202
We have a bunch of testcases executed as part of the build, these will fail, of course. give me some time and I will try what I can figure out. you could start using ./compile.sh once this is ok we can got to utils/macos/build_app.sh . You will need the version from master though,as we did not touch the release1.0 branch.

[2022-01-13 12:13] tothxa commented on #3162
optipng after pngquant is only ~1.5% further decrease. oxipng seems to be newer and better, but it's still not packaged for debian, and is written in rust, so I couldn't try it so easily.
However the player colour files are effectively 1 bit already, so you don't need pngquant for them, optipng alone reduces your example from 14.3kB to 3.4kB.

[2022-01-13 12:24] Noordfrees commented on #3162
I've run pngquant across all PNGs and achieved a reduction of the whole datadir from 814 to 414 MB. I'm pushing the branch now (which takes several times longer than the actual conversion :wink:) and will open a PR later.

We also have a script `utils/optimize_pngs.py` which applies various such tools. I did not manage to get pngquant working with it (its in-place option seems somewhat erratic, I

[2022-01-13 12:35] tothxa commented on #3162
OTOH pngquant --nofs --posterize 4 makes it 314kB (15% decrease compared to default pngquant), and I can't see any difference on my laptop screen, except for the shadow which got a little darker.

edit:
This is not universal though. If there are smooth colour transitions (like in https://www.widelands.org/forum/topic/5285/?page=3#post-37585), they get striped.

[2022-01-13 14:44] frankystone opened #5206 "Documentation SVG-image links are wrong"
On the server some things are different...
Beside the [systemd service file seems to be not work correct](https://github.com/widelands/widelands/discussions/5203) the created links of the svg-images are wrong.

Background:
On the server we produce html files with the sphinx-builder `dirhtml` which produces __one__ index.html for each page so the directory tree looks like:
[code]
Whereas during dev

[2022-01-15 05:23] dsymonds commented on #5202
After a couple of trivial little bumps, I got it building on my machine. The game starts, but then crashes soon after starting. It doesn't immediately look like the other ASan crashes already on the issue tracker:

[code]

[2022-01-15 12:54] tothxa opened #5210 "Segfault when trying to close window with escape key (seems to be related to dropdown filtering)"
**Describe the bug**
Game crashes when panel in Editor/New Map or in Encyclopedia has focus and Esc is pressed.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Editor with New Map
2. Select a default terrain (to give focus to terrains panel)
3. Press Esc
4. Game crashes

or

1. Start Game or Editor
2. Open Encyclopedia
3. Go to any of Workers, Buildings, Wares or Immovables tabs
4. Sel

[2022-01-16 08:53] SirVer opened #5211 "Issues with Asiatic languages"
This was reported to me via Email:

[code]

[2022-01-16 18:57] Darmorque commented on #2851
I'd like to know too whether there's any progress on that matter. UI and font scaling implementation would be awesome improvement to this overall great game!

[2022-01-16 20:13] hessenfarmer commented on #5211
I can confirm this. If you select one of these languages the game gets stuck while loading the tribes immovables of the first player.

tried to catch something in gdb, but it kept writing:

"warning: invalid parameter passed to c runtime function"

[2022-01-16 20:38] Noordfrees commented on #5211
I can't reproduce any type of bug with japanese or chinese, it all seems to behave fine for me. Loading a game works normally, the strings are no different from any other partially complete language, and there are no console errors.

Perhaps a Windows-specific bug?

I'm not really sure what sort of problem the original bug report is describing though; "*errors occur*" and "*there are many parts th

[2022-01-16 21:06] tothxa commented on #5210
Whee, I'm feeling like a gdb wizard! :))) (which of course I'm not)

So it's `ui_basic/listselect.cc:566` and :569, where `linked_dropdown` is dereferenced unconditionally, but it can be nullptr when list is not a dropdown.

But my question for the fix is:
Should it just return false, or call `UI::Panel::handle_key(down, code)` as the fallthrough case does?

edit:
OK, found it. Must call default `

[2022-01-17 08:51] #5210 closed, assigned to tothxa

[2022-01-17 14:24] hessenfarmer commented on #5211
well I believe it describes the problem I encountered on my system while trying to reproduce.

if you select one of the languages you can't start the game as the loading screen gets stuck at step 2/6 loading the tribes immovables of the first players tribe.
even if you barely realize that you have selected the chinese language due to bein only 0.x % translated, meaning it does not depend on the st

[2022-01-17 15:48] frankystone commented on #5211
Here, also on linux, all is fine: Setting Japanese as language, restarting the game and create a new game.

Isn't it possible to add some log output to https://github.com/widelands/widelands/blob/dfdbd6a3c06d5c62e1f0690a29cfc1e16fa2f190/src/logic/map_objects/tribes/tribe_descr.cc#L413
or some other related functions?

Possibly related: #4978

[2022-01-18 09:29] tibor95 commented on #4930
we already have distance any_flag <-> nearest_warehouse calculated, but it is not used for building productionsites at all. I will have a look and see.

[2022-01-18 10:58] tibor95 commented on #4930
Probably easier thing that can be done right now is for every productionsite (trainingsite too?) &buildable_field we can decrease calculated score by distance to nearest warehouse. Or some multiply, maybe managed by genetic algorithm

[2022-01-18 13:12] #3956 closed, assigned to nobody

[2022-01-18 13:19] hessenfarmer commented on #4930
It might be doable to store distance from nearest warehouse for every field when constructing or destructing / loosing a warehouse going over all fields centrically from the warehouse. We can't do this in calculating buildable fields for performance reasons I think.

[2022-01-18 14:38] tibor95 commented on #4930
But this is already done - for flags - look for flag_warehouse_distance object, It is one of AI jobs.

Do not forget changes in the roads affect these numbers too...

[2022-01-18 15:03] tibor95 commented on #4930
I was thinking to apply this only to productionsites with inputs. What do you think?

[2022-01-18 15:12] tibor95 commented on #4930
Well, I am wrong. We indeed need it for buildable fields, not flags...

[2022-01-18 15:30] tibor95 commented on #4930
Perhaps we can walk from a buildable field and use this info from better accessible flag. I will look at the code

[2022-01-18 16:45] hessenfarmer commented on #4930
Makes sense. however there might be exceptions which will need evaluation if we are going to implement it. (e.g PS with inputs and space consuming like frisian claypit, or PS with input and strong dependency on supporters like frisian aqua farm or charcoal burner)

[2022-01-18 16:49] hessenfarmer commented on #4930
Well we are walking a map region in most cases however I don't know whether we walk it in circles. If yes we could catch the first flag and take this info as a pseudo measurement which isn't very exact and the error gets greater the more distance from our filed the flag has, as we do not know whether we are nearer to a warehouse as  this flag or further away.

[2022-01-18 18:48] tibor95 commented on #4930
Looking into update_buildable_field(), I see two options:
1. use one of current map.find_immovables(...), this does not check reachability but should get us all flags so we can pick best (lowest) number
2. create new code with map.find_reachable_fields(...) - and this would consider reachability but mean extra CPU use

we can consider option 1 as better alternative of just measuring an air distanc

[2022-01-18 21:08] hessenfarmer commented on #4930
a. I wan't to get rid of this helper function find_immovables, because it is very unfriendly for Multithreading (see the AI Multithreading branch)
b. we should not pick lowest as we have a circular region, so average would be better imho. but I agree to the principle of collecting the flags.

well reachability isn't what is needed as we need distance, I believe. Calculatin distance would mean find

[2022-01-19 08:20] tibor95 commented on #4930
re using reachability - this would confirm that such flag is connectable by new possible road.

If you want to get rid of find_immovables() is it good to use it? And I like the idea of calculating the average from all flags.

I will look at your branch to check what alternatives are you using

[2022-01-19 12:59] tibor95 commented on #4930
Do you think I can copy this block of code from your branch: https://github.com/widelands/widelands/blob/8e6d8ee835db446a018516276eac2bbf683be2c7/src/ai/defaultai.cc#L1741

And update it as we discussed above?

[2022-01-19 13:12] hessenfarmer commented on #4930
Well,
simply copying might not be good for 2 reasons:
1. I had to make all variables non static for multithreading.
2. I splitted Military and economic aspects to enable shorter Mutex locks. But this was before changing to directly walk over the mapfields rather then using find_immovables.

so my preferred solution would be to apply the concept of iterating over the map directly to the current str

[2022-01-19 13:26] tibor95 commented on #4930
Reasonable. I will go that way

[2022-01-19 20:32] hessenfarmer opened #5214 "scenario or addon wares make game crash when economy profile selected"
if a scenario or addon defines new wares the game crashes if the economy profiles men u is opened in the economy window.

possible solutions:
1. add possibility to amend economy profiles
2. define default values for a ware (i.e. 1) in every economy profile.

2 is better as there might be customised profiles which we don't know

[2022-01-20 09:05] #4929 closed, assigned to Noordfrees

[2022-01-20 09:05] #4532 closed, assigned to nobody

[2022-01-20 09:05] #4534 closed, assigned to nobody

[2022-01-20 19:00] tibor95 commented on #4930
I need your advice and approval.
I have an idea to take out chucks of code from update_buildable_field to separate methods, see partial implementation here:
https://github.com/widelands/widelands/blob/6644f3159133f833307737834a6cf3f531ae7e62/src/ai/defaultai.cc#L1857

look for handle_own_ps() method. The idea is to create another 1-3 such methods, and this would help us with unifying those two rad

[2022-01-21 09:06] hessenfarmer commented on #4930
the concept looks good to go.

However 2 things I found in your partial implementation:
1. at this stage in the code we are only in interested in Buildings so you should check first if it is a building and only continue if we have a building ( see  https://github.com/widelands/widelands/blob/8e6d8ee835db446a018516276eac2bbf683be2c7/src/ai/defaultai.cc#L1756)
2. you don't need the unique_coords mec

[2022-01-21 09:18] tibor95 commented on #4930
re 1.: - Fair comment, but for the future we are interested also in flags here, so test should be 'flag or building'.

re 2.: - I completely forgot about big buildings :(

I was also afraid about pointers and references here, and also bit struggling to make it compile.

Small question, is it possible that building will disappear while update_buildable_fields() is being executed? I presume NOT.

[2022-01-21 09:58] hessenfarmer commented on #4930
in multithreading it is possible and it is probable as well, as the economy code is executed in parallel there. This was the reason for me to not use find_immovables anymore in the multithreading branch. So to prepare for making the AI multithreadable in the future we should aim at keeping long living pointers that can be changed outside the AI to an absolute minimum.

[2022-01-21 12:41] optikfluffel commented on #5202
Hey there, I have macOS 12 running on my M1 Macbook Air, but just get a different error message when trying to start the ARM version:

<img width="260" alt="Screenshot 2022-01-21 at 13 35 08" src="https://user-images.githubusercontent.com/379915/150528455-5ef3e48e-d92a-4e9a-9b79-92ffb66f8f9c.png">

[2022-01-21 17:32] klaus-halfmann commented on #5202
Hello @dsymonds. The ASAN error, looks like this happend when you tried to change the language.
I can can reproduce this bug, by just trying to open the option menu in master.
@Noordfrees  just found it on 1.1~git25953[2131b1d@atlantean02] and 1.1~git25598[dfdbd6a@master] is this a now issue. (maOS was pick about some LANG variables) I used LANG=en_EN.UTF-8. Also crashes with LANG=de_DE.UTF-8
or L

[2022-01-21 17:41] klaus-halfmann commented on #5202
Hello @optikfluffel welcome to widelands. I must confirm you are correct :-(. Just got the same `/Volumes/Widelands\ 1.0/Widelands.app/Contents/MacOS/widelands` Only with a German dialog. This was build in macOS 12.0 maybe 12.1 again changed something.  Let me try to build it again, this will take some time, as we have just my machine to build it.

[2022-01-21 18:08] klaus-halfmann commented on #5202
@optikfluffel please try this one  https://magentacloud.de/s/e7BHdHH2tgNLXLJ (Found this on my disk from some later attepts) Is this is OK I will upload it as "official" Version

[2022-01-21 18:32] optikfluffel commented on #5202
@klaus-halfmann thanks, but I'm sorry to say that I just get the same error message. Maybe related (sorry, I forgot to tell you before) I'm not only running Monterey on that thing, but the RC of 12.2 that got released only yesterday.

[2022-01-21 19:20] klaus-halfmann commented on #5202
@optikfluffel So I can just wait (and maybe you can report this to Apple then 😃 )

[2022-01-21 19:51] klaus-halfmann commented on #5202
Oops I dowloaded it again and now it is broken.
MD5 236b89ec2c75a856e0d8ec9a16c047a2 is the same?

Does Apple Attach some Metadata on such a download?
I uploaded the Widelands.app.zip now, please try again,

[2022-01-21 22:11] optikfluffel commented on #5202
The `.dmg` has that MD5 hash yes. Same error with the App from the `.zip`.

---

Edit: I just compiled it myself, and it starts just fine. Haven't played around with it much yet. If there's anything I can do to help figure this out let me know. I for example have no idea how to build the `.app` from here.

[2022-01-22 07:43] klaus-halfmann commented on #5202
@optikfluffel please try to build it with  utils/macos/build_app.sh and then to upload the file somewhere.
I suspect some Apple/Firefox/Magenta Down/Upload issue to kick in here. I made my share writeable
https://magentacloud.de/s/e7BHdHH2tgNLXLJ
so please upload the file there. You will need the https://github.com/auriamg/macdylibbundler to
fix the Library dependencies inside the .app file.

The

[2022-01-23 10:24] frankystone commented on #5202
Maybe related: https://www.widelands.org/forum/post/38401/

[2022-01-24 09:52] optikfluffel commented on #5202
I too have issues regarding signing, when building the `.app`.

<details>
    <summary>Log Output</summary>

    ~/Downloads/widelands
    Done building.
    Making WidelandsRelease/Widelands.app now.
    Copying data files ...
    Copying locales ...
    Copying binary ...
    Copying and fixing dynamic libraries...
    * Collecting dependencies...............
    /!\ WARNING : can't get path for

[2022-01-24 13:59] klaus-halfmann commented on #5202
The script may not work on head and not for an DEBUG/ASAN build.
It should work on the release 1.0 branch.

For head I would need to add the new Alsa(?) library or such.

[2022-01-25 07:18] tibor95 commented on #4930
I progressed a bit, in fact the refactoring is more-less done. However I was not able to create that hollow area, can you please have a look?:
https://github.com/widelands/widelands/blob/079a06a739caa2ff9f91593ff8fb5db273da158a/src/ai/defaultai.cc#L1903
That first commented line is my attempt. Also if you have time you can have a look on other stuff around that I changed.
Thanks

[2022-01-25 09:01] hessenfarmer commented on #4930
for the hollow area see
https://github.com/widelands/widelands/blob/7bb011c1efb4b8a66b0ab567b64f3095a814400f/src/ai/defaultai.cc#L1233

[2022-01-25 09:03] hessenfarmer commented on #4930
will have alook into the rest later on.
maybe you might open a draft PR to make commenting /suggeting easier

[2022-01-25 09:13] tibor95 commented on #4930
What is difference between HollowArea and MapHollowRegion? Do I need the later, or the first is usable?

[2022-01-25 09:17] tibor95 commented on #4930
https://github.com/widelands/widelands/pull/5216 - we can continue there with discussion

[2022-01-25 14:03] hessenfarmer commented on #4930
HollowArea defines just a donut style area shape MapHollowRegion expects such a shape to provide each Node in this area to be examined.
So you need both of them:
1. define the Area
2. pass this Area to the MapHollowRegion

[2022-01-25 20:44] tibor95 commented on #4930
https://github.com/widelands/widelands/blob/3d33a62278414b0136c23e8799721723346f3788/src/ai/defaultai.cc#L1903

I tried, but compilation fails on:

[code]

Can you advice?

[2022-01-28 06:57] #5206 closed, assigned to nobody

[2022-01-28 12:24] tothxa opened #5221 "formatting workflow should be run on PR"
**Describe the bug**
Currently the format.yaml workflow is only run on push, so it is possible to create a pull request with unformatted code if the PR branch comes from a fork where format.yaml can't push changes.

**To Reproduce**
E.g. see history of #5215

**Expected behavior**
The formatting workflow should run for all new PRs, not just for new commits to a PR.

[2022-01-29 12:21] hessenfarmer opened #5222 "appveyor Artifact upload failing due to invalid filename"
Since some builds our appveyor builds are failing as the upload of the final artifact is not working. I have created a support ticket which resulted in the following answer:

<html><body>

From: Feodor Fitsner (Support staff)                      Well, nope, the issue is not in artifact storage size. Apparently, the new storage we are adopting right now does not like []  square brackets in a file

[2022-01-29 12:53] #5214 closed, assigned to tothxa

[2022-01-29 12:53] #3162 closed, assigned to gunchleoc

[2022-01-29 13:14] Noordfrees opened #5224 "Clean up optional Lua parentheses"
Follow-up for #4787: Clean up all hits from the Lua style checker script by replacing `_""` → `_("")` and `_[[]]` → `_([[]])`.

Currently 3462 errors, https://github.com/widelands/widelands/runs/4991244440?check_suite_focus=true

[2022-01-29 13:26] Noordfrees commented on #5221
Would be great but I'm not sure this is possible currently:

https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull-request-events-for-forked-repositories

and

https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflows-in-forked-repositories

master is always formatted by the action, so if unformatted code is merged it will just be ta

[2022-01-30 09:10] optikfluffel commented on #5202
I can't event get it to compile using the `release-1.0` branch.

[2022-01-30 11:03] klaus-halfmann commented on #5202
@optikfluffel what exactly is the probelm? did you use the ./compile.sh script?

[2022-01-30 11:13] optikfluffel commented on #5202
@klaus-halfmann Yes I tried `./compile.sh -r -w`.

First it complained that I didn't have `ninja`, after installing that I got:

<details>
  <summary>Log Output</summary>

  ###########################################################
  #     Script to simplify the compilation of Widelands     #
  ###########################################################

    Because of the many different systems

[2022-01-30 11:18] matthiakl commented on #5222
As we now have all daily builds on GitHub we may disable Appveyor build for every commit.

[2022-01-30 11:44] klaus-halfmann commented on #5202
lets meet at https://meet.ffmuc.net/WidelandsChat

I had the very same Problem, but I do not recall how I fixed it

I needed this but I do not know if its is related:

brewprefix="`brew --prefix`"
export CMAKE_PREFIX_PATH="${brewprefix}/opt/icu4c"

[2022-01-30 11:49] klaus-halfmann commented on #5202
To allow crosscompiling and allowing a mix of x38 and arm code brew has deiced to put itself at a different location on m1Macs:

brew --prefix
/opt/homebrew

in x86 macs it is located somewhere else, so you can use x86 tools, too.
(Do not ask me about the details ...)

[2022-01-30 11:54] klaus-halfmann commented on #5202
My original attempt is found here: https://github.com/widelands/widelands/issues/5103

[2022-01-30 12:05] klaus-halfmann commented on #5202
My $PATH looks like:
`/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/Users/klaus/bin`

C++ compiler is:
[code]

[2022-01-30 12:20] klaus-halfmann commented on #5202
Some possible soultion maby be found here https://discourse.cmake.org/t/cmake-not-working-after-update-do-big-sur/2546/14

[2022-01-30 12:29] hessenfarmer commented on #5222
the only reason to keep it was that from appveyor the artifacts could be downloaded by everyone and on github you need to register. So we did not want to enforce registry for just downloading a dev build.
if we skip this policy we might skip appveyor.

my vote would be to keep appveyor for the reason above and alter the filename.

[2022-01-30 14:22] Noordfrees commented on #5222
But now we upload the GitHub Actions CI artifacts to the `latest` pre-release, where they can be downloaded publicly without signing in. +1 from me for dropping AppVeyor altogether.

[2022-01-30 15:00] hessenfarmer commented on #5222
in this case lets drop it. But we should keep a copy of the appveyor.yml somwehere to be able to reuse it just in case we might need it sometimes

[2022-01-30 15:31] Noordfrees commented on #5222
The file will be part of the git history forever, it's impossible to permanently lose [any file](https://github.com/widelands/widelands/blob/08d590c990ad437e6ff91707ac3e96587f2920eb/tribes/barbarians/stronghold/stronghold_i_00.png) · [no matter](https://github.com/widelands/widelands/blob/08d590c990ad437e6ff91707ac3e96587f2920eb/worlds/blackland/pics/loading_01.jpg) · [how old](https://github.com/

[2022-01-31 08:35] #5224 closed, assigned to Noordfrees

[2022-01-31 17:28] frankystone commented on #4842
I just found a bug/feature which makes it much easier to add additional expedition items, for me it makes most sense to add soldiers to an expedition:

In the configure expedition window
1. click on the outer right button for additional items
2.  scroll the list and click on a soldier. The soldier will be added at the outer left position.
3. Click again on the outer right button: The list stays at

[2022-02-01 11:26] #5201 closed, assigned to tothxa

[2022-02-02 09:09] hessenfarmer commented on #5222
As I don't like throwing things away (for reason that you never know if you might need them again) I made a fix without interfering anything else.

[2022-02-03 22:11] #5222 closed, assigned to nobody

[2022-02-04 08:02] #3599 closed, assigned to Noordfrees

[2022-02-04 15:08] frankystone opened #5232 "restrict list for uploading add-on"
~[See: https://github.com/widelands/wl_addons_server/pull/127#issuecomment-1029904377 and https://github.com/widelands/wl_addons_server/pull/127#issuecomment-1029926013]~

I would also suggest to restrict the list when clicking on "Choose Add-On for Upload" to the add-ons which are newly packed. Maybe this can be achieved with an addtional key in an add-on the `addon`-file: `oldversion`. If an add

[2022-02-04 15:39] frankystone opened #5233 "Keep the widelands home directory clean"
The widelands home directory (`.widelands/`) contain several entries on the base level which are related to add-ons.

[code]

I want to suggest that all those entries (files and folders) should be below __one__ directory on the base level. E.g.:

[code]

The initial idea is to keep player related things (save games, replays, screenshots) on the base level (more or less) and they don't get confused

[2022-02-04 15:45] Noordfrees commented on #5233
See also: #4383

The problem will be this will break existing configurations. We should use new unique directory names to allow easier detecting whether a user is using the old or new structure, and migrate all files automatically on startup when an old-style structure is found.

`temp` is used not only for add-ons but also for lots of other stuff related to saving games and maps and replays and m

[2022-02-04 15:48] Noordfrees commented on #5232
I don't see the need for an `oldversion` key. We can just check if the Remote info from the Browse tab has an older version than your local copy ;)

[2022-02-04 17:41] tothxa commented on #5233
Would it be possible to keep the directories of each addon directly in `addons`, and just move `addons_i18n` to something like `addons/__i18n` (and forbid addon directory names starting with `_`), and move `addons_i18n_versions` to `addons/__i18n/versions`?

[2022-02-06 15:15] tothxa commented on #4335
Closed via #5220

[2022-02-06 15:15] #4335 closed, assigned to nobody

[2022-02-06 15:33] frankystone opened #5236 "Tutorial explaining how requests work"
How requests work are one of the most difficult things in widelands and can lead into questions (in best case) or frustration (in worth case).

Maybe a tutorial can explain some things and should answer some questions like:

- What happens if a production site/construction site needs a ware?
- Why do building materials are carried from a far away spot although my warehouse nearby has this wares?
-

[2022-02-08 10:58] #2933 closed, assigned to nobody

[2022-02-08 10:58] #5197 closed, assigned to nobody

[2022-02-08 10:58] #3878 closed, assigned to nobody

[2022-02-08 11:03] tothxa commented on #5236
I think this could fit well in tutorial 04.

It should also mention split economies. The map is a large island already, so seafaring can be added easily to explain ship scheduling aspects as well. (Tutorial 03 is the basics of seafaring, while 04 is advanced topics, so the order shouldn't be changed, and 03 shouldn't be further extended.) These 2 would even make a nice continuous storyline: after

[2022-02-08 19:54] #5194 closed, assigned to nobody

[2022-02-08 21:13] tothxa commented on #4994
Can we consider this fixed by #5204?

[2022-02-09 07:43] hessenfarmer commented on #4994
I think so.

[2022-02-09 07:43] #4994 closed, assigned to nobody

[2022-02-10 16:25] Ahmad-fadl opened #5239 "could not create png struct"
After building the game successfully with cmake and ninja option the game's GUI and music worked fine but then whenever I start any kind of game, a pop up error window comes with the massage "widelands/src/graphic/image_io.cc:87 save_to_png : could not create png struct"
alle dependencies are installed via homebrew.

Steps to reproduce the behavior:
1. build the game with ninja macOS Monterey vers

[2022-02-10 17:16] klaus-halfmann commented on #5239
Is this an x86 or arm (Apple Silicon) Mac?

[2022-02-10 17:27] Ahmad-fadl commented on #5239
Its Intel 6-core i7

[2022-02-10 17:28] klaus-halfmann commented on #5239
Please compare with my installation
[code]

(If you are running Apple Silicon you may have a mixed installation wit old x86 libpng).
please try to find out where this libpng 1.4.12 comes from.

you may need to `rm -Rf build` to recompile the code once you fixed that.
(please add the logs as text, too)

[2022-02-10 17:38] klaus-halfmann commented on #5239
I will be online at https://meet.ffmuc.net/WidelandsChat for about an hour now.

[2022-02-10 17:39] Ahmad-fadl commented on #5239
<img width="982" alt="Screenshot 2022-02-10 at 18 35 36" src="https://user-images.githubusercontent.com/57096392/153464212-9d73270d-3464-4da9-8f9a-7bc6a11a7b9c.png">

I only have libpng 1.6.37 installed i already tried building otherwise using this ./compile script.
That also didn’t work.
i even tried to specify the version of libpng in the "find_package" function in cmakelists.txt that didn’t wor

[2022-02-10 17:48] klaus-halfmann commented on #5239
Compiling I get
`Found PNG: /opt/homebrew/lib/libpng.dylib (found version "1.6.37") `

Please check also

[code]

[2022-02-10 17:49] klaus-halfmann commented on #5239
My $PATH  is
`/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/Users/klaus/bin`

[2022-02-10 18:26] Ahmad-fadl commented on #5239
I deleted "/Library/Frameworks/Mono.framework/Versions/Current/Commands" from my path so my path now is "/usr/local/opt/icu4c/sbin:/usr/local/opt/icu4c/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/opt/ccache/libexec:/Library/Apple/usr/bin:/Applications/Privileges.app/Contents/Resources:/usr/local/opt/unzip/bin:/usr/local/anaconda3/bin:/usr/local/anaconda3/condabin"
and the error is

[2022-02-10 18:28] klaus-halfmann commented on #5239
Try to reduce the path to an absolute minimum. There are some extras there widelands will not need.
Hint: contact can be done in German, too.

[2022-02-10 18:42] Ahmad-fadl commented on #5239
I jsut reduced it to the minimum "/usr/local/opt/icu4c/sbin:/usr/local/opt/icu4c/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin"
still the same error

[2022-02-11 10:54] Ahmad-fadl commented on #5239
I took a look at the generated make files and saw that the included png library was taken from the mono.framework.
The issue has been solved By Deleting mono.framework. Otherwise Cmake wouldn’t include libpng from the right directory no matter if mono.framework in the PATH or not.

[2022-02-11 10:54] #5239 closed, assigned to nobody

[2022-02-11 11:32] Ahmad-fadl opened #5240 "Container Overflow when clicking on Options"
Hi,
After compiling with the compile.sh Script the game ran and I was able to start a single-player game.
But whenever I click on Options from the main GUI the game stops and this error "==31695==ERROR: AddressSanitizer: container-overflow on address 0x60400027a590 at pc 0x0001050ab553 bp 0x7ff7bee2de90 sp 0x7ff7bee2de88" apears on my terminal.

Steps to reproduce the behavior:
1. build the game w

[2022-02-11 12:57] klaus-halfmann commented on #5240
Thanks, I will try to reproduces this, but such Bugs are often compiler / OS specific.

On Apple you should see an Apple Crashreport.
I use to create the bugreport from this. Eventually adding some logoutput.

[2022-02-11 13:02] klaus-halfmann commented on #5240
OK, I can reproduce this out of the box. @Noordfrees please take a look.
I will try to find this in the debugger

[2022-02-11 15:09] klaus-halfmann commented on #5240
Happens in `void Options::update_language_stats()` from options.cc
[code]

This is split in "en_EN" and "UTF-8"
src/ui_fsmenu/options.cc:626

Bug should be here:
`split(parts, parts[0], {'@'});`

 parts will be recyled so I think this is the bug.

@Noordfrees  why does this not happen on all the other OSs ?

[2022-02-11 15:17] Noordfrees commented on #5240
[code]
looks suspicious. `split` accepts a vector into which the output will be written plus a reference to the string to split. So this call will cause the referenced string to be deleted in order to write the output. Can you try changing the signature of `split` (in  `src/base/string.*`) to accept `std::string` instead of `const std::string&` as second parameter and see if this fixes it?

[2022-02-11 15:42] klaus-halfmann commented on #5240
Originally this was  boost::split, OK.
Changing src/base/string.h  ripples to all the code. I wll try a change locally in src/ui_fsmenu/options.cc

[2022-02-11 16:11] klaus-halfmann commented on #5240
Uhm i did not push for a while
`git push --dry-run --set-upstream`

gives me lots of Output like:
 * [new branch]            3599-progress-screen-until-ready -> 3599-progress-screen-until-ready
 * [new branch]            4911_AI_fixes -> 4911_AI_fixes
...
* [new reference]         nf/test-why-bformat-fails-on-msvc -> nf/test-why-bformat-fails-on-msvc
* [new tag]               build-16 -> build-16

[2022-02-11 16:19] Noordfrees commented on #5240
Please please please **never** call `git push` without specifying a remote **and** a branch when you're working on a shared repository. Git will by default attempt to update *all* branches with your local copy and mess up a *lot* of completely unrelated stuff.
Always add the name of the remote you want to push to (e.g. `origin`) and the name of the *one* branch you wish to push – so if you're curr

[2022-02-11 16:39] klaus-halfmann commented on #5240
git push --dry-run origin 5240-fix-container-overflow
fatal: --mirror can't be combined with refspecs

Maybe I ruined my local branch already?

[2022-02-11 16:48] Noordfrees commented on #5240
More like the whole local repo checkout ;)
You've configured your copy as a mirror of the whole repo. I don't really know how to deal with this except it is Very Dangerous… You can try
[code]
to see whether this is true, and if so change the value and retry…

[2022-02-11 17:00] klaus-halfmann commented on #5240
@Ahmad-fadl  would you like to review my fix?

[2022-02-11 17:01] klaus-halfmann commented on #5240
I think I did a fetch --all does this result in remote.origin.mirror being set?

[2022-02-12 07:28] klaus-halfmann commented on #5240
Note: this does only happen in case "try system" language is set.
In case (with e.g. release 1.0) some other language was selected all is fine.

[2022-02-12 10:45] #5192 closed, assigned to nobody

[2022-02-12 12:53] #5240 closed, assigned to nobody

[2022-02-12 13:07] Ahmad-fadl commented on #5240
The bug was fixed with [this](https://github.com/widelands/widelands/issues/5240#:~:text=20%20hours%20ago-,Fix%20unhealtlhy%20usage%20of%20split%20in%20language%20menu%20%235241,-Merged)
Thanks @klaus-halfmann

[2022-02-12 15:46] frankystone opened #5242 "Add-On manager logs a user in although the user has been logged out prior"
Every time i start the addons manager i get logged in automatically although in a previous session i logged out.

**To Reproduce**
1. Start Add-on manager
2. Log out (if you where logged in once) or log in and log out again
3. Quit the game (or just leave the add-on manager)
4. Start Add-on manager again

You are logged in.

**Expected behavior**
The Add-Ons manager should recognize the last state

[2022-02-12 17:31] Ahmad-fadl opened #5243 "Tutorial basic control"
After compiling with ./compile.sh.
I started the tutorial basic control.
The tutorial started teaching me about "show building spaces" and then automatically highlighted show/Hide options one after another but when the highlighter came to show building spaces (as in the screenshot) the whole game crushed  and the massage ("Illegal instruction: 4") appeared on the terminal

Steps to reproduce the b

[2022-02-12 17:58] klaus-halfmann commented on #5243
Hello Ahmand, thanks for digging into the tutorials. I think such Errors happens as we introduced multithreading. Such functions kind of violate the idea of gui vs. control threads and needs special
treatments. I will try to reproduce this tomorrow.

[2022-02-12 18:02] Ahmad-fadl commented on #5243
Thanks for taking a look at it.
after more testing the error is for sure here in [this line](https://github.com/widelands/widelands/blob/b0d4511f32772934bcff8432e2c73a46ae7c7205/data/campaigns/tutorial01_basic_control.wmf/scripting/mission_thread.lua#L56) so that you know where to start and to save you sometime.

[2022-02-12 18:34] frankystone commented on #5243
Here on archlinux using version 1.1~git25633[b0d4511@master] (Debug) no error appears.

[2022-02-12 20:30] jmoerschbach commented on #5058
fixed with #5237
@Noordfrees  please confirm and close :)

[2022-02-12 20:41] #5058 closed, assigned to nobody

[2022-02-12 20:42] #5180 closed, assigned to Noordfrees

[2022-02-12 20:59] hessenfarmer commented on #5243
i couldn't reproduce this neither on current master on windows

[2022-02-12 21:12] Ahmad-fadl commented on #5243
I already merged [this](https://github.com/widelands/widelands/commit/504858c9a6f565c06e622b04edfda0de0fce3075) with [this](https://github.com/widelands/widelands/commit/97d6f701322bdc32f822391aeb6e510f435f9360) fix on my fork .
but just a minute i'll try with the newest version of the upstream master

[2022-02-12 21:17] Ahmad-fadl commented on #5243
My mistake sorry..

[2022-02-12 21:17] #5243 closed, assigned to nobody

[2022-02-12 22:53] #3448 closed, assigned to gunchleoc

[2022-02-13 10:40] MarkMcWire opened #5244 "AI don't build enough wells and upgrade no buildings."
As already mentioned in the other thread, the Europeans in the current build of Widelands don't build the required 5 wells (basic amount) and thus somehow get stuck in the basic economy. No battle arenas, warehouses, or building upgrades are constructed even after 10 hours of gameplay.

-> https://drive.google.com/file/d/13Ppm8BqTTDdeqCTcOaAMC4rJf1NGVpBY/view?usp=sharing

Use as addons only europe

[2022-02-13 10:56] tibor95 commented on #5244
I will look into this. I must check the code.
I presume the problem is general - in all tribes

[2022-02-13 11:02] tibor95 commented on #5244
First thing that comes into mind is if the well building is properly identified by AI:
https://github.com/widelands/widelands/blob/df614fd8e76f79084d3d35cd3bfbd5efcbc29d1f/src/ai/defaultai.cc#L962
But I presume this is OK on your side

[2022-02-13 11:07] tibor95 commented on #5244
But actual problem is here:

https://github.com/widelands/widelands/blob/df614fd8e76f79084d3d35cd3bfbd5efcbc29d1f/src/ai/defaultai.cc#L5542

We do not even consider basic_amount for these three types of buildings..

EDIT:
It is interesting that nobody complained so far.
Also, there can be problem with changing this and AI training. If all current 4 tribes has this amount set to 1...

I will wait t

[2022-02-13 11:24] Noordfrees commented on #5242
I'm not sure about this. When entering the lobby you are also logged in automatically if your config file contains cached credentials, and the server behaviour is consistent with that.

I would not be opposed to skipping the automatic connect that is made the moment you open the manager and only initiate the connection when you first need it (e.g. when fetching remotes). This would also save time

[2022-02-13 12:06] frankystone commented on #5242
In contrast to the lobby one is able to upload content. So this can't be compared imho.

Yes, just because i logged out manually? For scrolling through addons, watching the rates and screenshots, installing an addon, an account is not needed.

An account is only needed for rating an addon or for submitting addons/screenshots. I think having an account is a security feature and automatically loggin

[2022-02-13 12:22] #4930 closed, assigned to nobody

[2022-02-13 15:43] hessenfarmer commented on #5244
I agree we shuld go over the code to see whether it could be improved.
However basic_amount was meant to be used to prevent an AI deadlock by prefering some essential buildings in the start of the game . So normally we should have only basic_amount = 1 as this would prevent a deadlock.  sometimes we used basic_amount = 2 on special occasions but carefully. Specifying basic_amount = 5 could easily

[2022-02-13 15:49] hessenfarmer commented on #5244
we do in this line
https://github.com/widelands/widelands/blob/df614fd8e76f79084d3d35cd3bfbd5efcbc29d1f/src/ai/defaultai.cc#L5597

so adding a higher value then 4 might help here

[2022-02-13 17:49] tibor95 commented on #5244
This is what I just found in one init.lua:
   aihints = {
      very_weak_ai_limit = 1,
      weak_ai_limit = 2,
      basic_amount = 2,
   },
How can basic_amount be above *_ai_limit?

Similarly Building Observer's cnt_target should be always at least equal basic _amount. So one of changes could be force cnt_target >= basic_amount - at least for the well and other two sites.

However I agree that

[2022-02-13 18:29] MarkMcWire commented on #5244
I've reduced all my basic_amounts to 1 or 2, with the exception of the reed_yards, which is still 4, because Europeans need lot of reed as build material for basic buildings and reed_yards needs some time to reach the optimum work output, because reed grows not as fast as the consumption.

But only 2 wells are actually not enough to start an economy, because most of my buildings have water as inpu

[2022-02-13 18:40] tibor95 commented on #5244
Yes, I am trying to improve the code here.
How this what you describe is not a  "deadlock" - deadlock can be no lumberjack and no wood to build one. Or no wood hardener and no planks to build one.

The problem here is with AI training. We do not have a 'stable' tribe that is so heavy dependent on water, so training might not be very effective

But as I say - I work and investigate this..

[2022-02-13 19:01] tibor95 commented on #5244
Another idea - we make the wells count kind of depend on productionsites - not bad concept, but what if we counted actual water-consumers? I do not think AI is doing something like that in any such case

[2022-02-13 19:48] hessenfarmer commented on #5244
1. for solving the basic_economy we might apply the same bonus as shown after this line for the wells as well (which is basically what suggested above.
https://github.com/widelands/widelands/blob/df614fd8e76f79084d3d35cd3bfbd5efcbc29d1f/src/ai/defaultai.cc#L6194

2. rather basing them on a new value to be calculated I'd prefer using the mechanisms.  like in line
https://github.com/widelands/widela

[2022-02-13 19:49] hessenfarmer commented on #5244
good question which Building was this
edit found it. there are other files like this.
this is definitly a bug and should be fixed, I think it never arose as problem as nobody used weak AI

[2022-02-14 07:14] tibor95 commented on #5244
It is rather bug in logic in AI, or corner case that is not handled properly. The code of AI is simply too complex :(

[2022-02-14 07:18] tibor95 commented on #5244
I already created a branch and some code there, definitelly this need improvement, I want to use stocklevel in decision making.

However if productionsites can have very different water needs, their number is not good enough predictor of needed wells count. I will let you know if some code will be ready at least for draft pull request

[2022-02-14 07:21] hessenfarmer commented on #5244
well having a lua definition like the described is a definition error. Only thing AI should  do codewise is to safeguard this by throwing a warning in the logs.

[2022-02-14 07:26] hessenfarmer commented on #5244
What we should do imho is handle wells separatly (means duplicating the current weighing section and adjusting it) or handle them like all other productionsites (which means just let them fall through to line 5947.
I would first go for the second solution and only afterwards for the first one.
Maybe we could add a little more weight on stocklevel for the  handling of all normal sites as well.

[2022-02-14 07:29] tibor95 commented on #5244
I agree. But who reads logs :) This is basically to preserve status quo

[2022-02-14 07:57] tibor95 commented on #5244
I would not mix them with other buildings

My suggested logic would be:

- basic_amout => forced withing building basic economy
- cnt_count => relevant after achieving basic economy
- cnt_count is minimal number of such sites and when dismantling sites, never go under this

However we can go up to 2*cnt_count, but above cnt_count we can go only if stockcount < 10 (or some other number)

This will

[2022-02-14 09:30] #5242 closed, assigned to Noordfrees

[2022-02-14 10:39] hessenfarmer commented on #5244
well, currently they are mixed with fishers and hunters ;-). to be honest we need to think of what ios driving the necessity of these buildings most. In my eyes it is Low stock for their outputs. we can add some other factors like size of productionsites or expansion modus but in the end it remains needednes of the ware should be the main factor. Therefore we could try to skip the logic for them a

[2022-02-14 11:06] tibor95 commented on #5244
Even now we do not dismantle wells below cnt_target:
https://github.com/widelands/widelands/blob/6e1c91828294e26343dd340f4f39eb8648d0ecf0/src/ai/defaultai.cc#L4839

Maybe I used wrong words:

- basic_amount => do not exceed while building basic economy
- cnt_count => minimal count of sites once basic economy is achieved, regardless of stock level, never dismantle below this level
- above cnt_count

[2022-02-14 11:31] tibor95 commented on #5244
Also I do not see good way how to calculate cnt_target from stocklevel. If we were trying to come up with such number

[2022-02-14 12:05] hessenfarmer commented on #5244
ok so I agree that cnt_target should be a safeguard for dismantling.

quarry is different of course. However the reason why these 3 kinds of building may be grouped together is that they are all important for the food economy. so in theory they should be of equal importance unless one tribe needs much more from one ware then the other. this is where stock dependency is kicking in.
to cure for the

[2022-02-14 12:08] hessenfarmer commented on #5244
easiest way would be to do something like a stepped if:
if stocklevel  == economy target then cnt_target++
if stocklevel < 0.8 # economy target then cnt_target++

or something similar

[2022-02-14 12:12] tibor95 commented on #5244
Of course, do some experiments. But I do not believe you comment a block of code and it will work automagically.

Current code allows to exceed cnt_target - if AI indeed does it - I have no idea, but it would be nice to have this block of code more readable and more explicit.

[2022-02-14 12:44] tibor95 commented on #5244
But a time aspect should be there, so that it does not increase every 10 seconds or so.
Basically this is what I propose, only I do not define target as a concrete number. Just I would allow next building if:

- no other building of the type is being in construction (unoccupied??)
- total_count() < cnt_count * 2

EDIT: third condition of course

- stocklevel < some_target

[2022-02-14 15:00] hessenfarmer commented on #5244
All valid factors, some of them are already considered probably. Only thing is that in my code example I assumed that cnt_target is always initialized at the beginning according to the current formula and only increased if stocklevel is low.

[2022-02-15 14:28] hessenfarmer commented on #5244
I did some experimentation.
1. @MarkMcWire already reduced basic_amount of the wells in his addon to 2
2. master can't handle this.
3. commenting out the whole block works, but not pretty well.
4. copying the bigger (and somewhat generic algorithm modified) bonus for basic buildings from line 6246 to line 5649 works to cope for basic building issues later on the AI build enough wells from my persp

[2022-02-15 14:50] tibor95 commented on #5244
OK, this is quite a lot of findings. So I presume that you are overtaking this.

If you want and will have a branch ready, I can do some AI training to see how things settle down...

[2022-02-15 15:03] hessenfarmer commented on #5244
originally that was not my plan. However As I introduced the main error it should be my obligation to do so.
I assume I might ask for a review if I am ready?
Edit:
if you already had a branch for this you might just push it to either upstream or to your fork and point me there to see what I could use from it.

[2022-02-15 15:07] tibor95 commented on #5244
You already have some working code on your PC, everything in your head so it is logical for you to continue...

Yes, of course I will review the pull request.

One comment generally - we/you should not overthink scoring, bonuses and so on, just provide the room for AI to find out own weights and scoring...

[2022-02-15 15:08] tibor95 commented on #5244
I had a branch, but really no use for you to use it, your changes are much broader....

[2022-02-15 15:28] hessenfarmer commented on #5244
I only had it for the original problem regarding the AI handliung of basic_amount with wells. But yes it is logical I will take this as I introduced the wrong code some time ago and I have some solution in mind already.

I am glad you have more time for discussing things lately as it is errorprone to do things alone as I just have proven.

that is what I always try when changing things: make the A

[2022-02-17 09:50] frankystone commented on #3937
The linked issues (Mesa, Freedesktop) are all solved, so i think we can close this.

Thanks to @scx who worked hard to solve the issues!

[2022-02-17 09:50] #3937 closed, assigned to nobody

[2022-02-17 10:04] frankystone commented on #3387
@hessenfarmer Since you had done many Lua-scripting: Is this still an issue?

[2022-02-17 10:13] frankystone commented on #2084
This has been fixed by https://github.com/widelands/widelands/pull/4074

c&p do work in the lobby.

[2022-02-17 10:13] #2084 closed, assigned to nobody

[2022-02-17 10:39] frankystone commented on #5059
Can't reproduce.

Version: 1.1~git25639[6e1c918@master] (Release)

[2022-02-17 10:42] frankystone commented on #5056
Should be fixed by https://github.com/widelands/widelands/pull/5070

See https://github.com/widelands/widelands/pull/5070#issuecomment-934387499

[2022-02-17 11:14] frankystone commented on #4241
Closing this since windows 7 is EOL and there have been no such issues reported for a  long period.

The similar issue #3887 is also closed.

[2022-02-17 11:14] #4241 closed, assigned to nobody

[2022-02-17 11:18] frankystone commented on #4146
This should have been fixed by: https://github.com/widelands/widelands/pull/4389

See also: https://github.com/widelands/widelands/issues/4190

[2022-02-17 11:18] #4146 closed, assigned to nobody

[2022-02-17 12:15] frankystone commented on #3223
Since this is part of the github actions: Can't this be closed?

[2022-02-17 12:29] frankystone commented on #3155
I think having the trees in the tooltip for terrains and  the terrains in the tooltip for tree solves this issue. Not sure if adding this information to the info tool would help map authors.

Closing?

[2022-02-17 12:42] frankystone commented on #3144
Is this still a problem?

I have no problems with the Boar sound...

[2022-02-17 13:23] frankystone commented on #2056
Multithreading is done in current master, so this can be closed i think?

[2022-02-17 13:39] tothxa commented on #3155
Adding tree growth info to the info panel would be somewhat useful, but probably not enough to justify the space needed for it.

OTOH, the cleanest and most useful way to add instant feedback would be to add a tooltip when placing trees that shows the growth probability of the active tree if placed on the node under the mouse pointer.

[2022-02-17 13:51] frankystone opened #5264 "Ships are not shown on minimap"
Whereas roads, buildings and other things are shown immediately on the minimap if they change, ships aren't shown on the minimap at all.

![missing_ships](https://user-images.githubusercontent.com/6730556/154495117-0c776f85-ac33-4132-b31a-a982d5abedd8.jpg)

It would be very helpful if sailing ships are shown on the minimap.

**Version:**
 - OS: archlinux
 - Widelands Version: 1.1~git25639[6e1c918@

[2022-02-17 14:55] #2056 closed, assigned to Noordfrees

[2022-02-17 15:20] frankystone commented on #3155
Yes, i agree. Calculating the growth probability can be problematic if two different terrains adjoin though. Don't know how this works during a game.

[2022-02-17 16:24] tothxa commented on #1475
@frankystone I'm willing to implement #5220 for games too. However we need to decide whether it can be allowed for all games, because it may be considered as too much help for the players. Otherwise it needs changes in much more places, which I can't do right now.

[2022-02-17 16:35] frankystone commented on #1475
Currently i think just give a hint about the port space will be enough. Just because this is an important issue, imho.

Discovering a map without knowing on which places which building can be built (below immovables) is one of the interesting things in widelands, for me. Maybe wait for other opinions.

[2022-02-17 16:38] frankystone commented on #5175
Maybe related: #3995

[2022-02-17 16:41] tothxa commented on #3155
The info tool already has some way to decide which terrain to report (I tried it, it reports the same terrain for a node regardless of which triangle the mouse pointer is in), so I guess we wouldn't be far off if we used the same function to get the terrain...
I may be able to do this too when I take some break from the graphics re-export.

[2022-02-17 16:43] Noordfrees commented on #1475
+1
IMHO port spaces are the only case where this feature is desirable in a game.

[2022-02-17 16:44] Noordfrees commented on #3155
The tree growth chances where multiple terrains touch can be very counter-intuitive, so showing it would be useful IMHO

[2022-02-17 16:45] Noordfrees commented on #2056
Not entirely, so far we only split a logic thread off from a UI thread but in the future we will want more threads as well – AI, economy pathfinding, add-ons networking…

[2022-02-17 16:47] Noordfrees commented on #3223
We still have not added all desirable checks; see also #5262

[2022-02-17 16:49] Noordfrees commented on #5056
Are you sure? This assert does not seem related to the bugs fixed there

[2022-02-17 16:51] Noordfrees commented on #3387
Lua output currently is not formatted with a timestamp, unlike output from C++. Would it be considered useful to replace Lua's `print` function with a C++ function that invokes our logger, this would be guaranteed to work on Windows as well and it would give proper timestamped formatting.

[2022-02-17 17:22] tothxa commented on #1475
Well, at least building spaces within the controlled territory, blocked by buildings, flags, roads and tribe immovables would be useful to help decide whether to rearrange some infrastructure, and not reveal (much) new information that was not available to the player before. But there are also the trees planted by the foresters...

But sticking to ports then:
It's not clear to me what was the orig

[2022-02-17 17:32] akupar commented on #1475
I could look into this. Should it look like this (but just the port space)?
![image](https://user-images.githubusercontent.com/49523197/154537099-ed80f859-5d95-4812-9216-f34d02e723fe.png)

[2022-02-17 18:53] frankystone commented on #1475
Yes, exactly. I think this solution comes very close to the old proposed solution (mockup, which i like very well):

![port space problem](https://launchpadlibrarian.net/152240783/wlbug20131003.jpg)

[2022-02-17 20:06] hessenfarmer commented on #3387
I have not tested this anymore due to the info in the first post. However I think the solution of @Noordfrees would solve 2 problems at once

[2022-02-18 06:10] klaus-halfmann commented on #5202
We should investigate this command `xattr -d com.apple.quarantine` looks like apple inhibits using downloaded content this way. But I have no time these days, sorry.

See also
* https://developer.apple.com/forums/thread/666452
* https://stackoverflow.com/questions/46198557/understanding-output-of-xattr-p-com-apple-quarantine
* https://github.com/transmission/transmission/issues/164

The "real" sol

[2022-02-18 06:16] frankystone commented on #5056
I have misread the comment. Sorry.

[2022-02-18 06:28] frankystone commented on #5236
Yesterday i had an idea... so i will try to work on parts of this issue.

[2022-02-18 09:17] #5244 closed, assigned to hessenfarmer

[2022-02-18 16:43] akupar commented on #1475
I think that color thing might actually be better. The transparent icon looks a bit confusing when there is nothing on top of it (see pics in #5267). Then you wouldn't need two buildhelps in the editor either.

[2022-02-18 17:16] tothxa commented on #1475
I think it's all right, not confusing at all.

[2022-02-19 12:31] Wuzzy2 opened #5268 "Missing lore and production info in Empire/Atlantean building help"
**Describe the bug**
If you play as the Empire or Atlanteans and open the building help for any of the building, there is a section called "Lore" and "Production" that is currently empty.
For the lore it shows "Text needed" and for the "Production" section is shows "Calculation needed".

Other tribes seems t

**To Reproduce**
Steps to reproduce the behavior:
1. Play as Empire or Atlanteans
2. Clic

[2022-02-19 12:54] klaus-halfmann commented on #5268
Well this is not really a Bug but some missing texts, to be added . @Noordfrees  please tell us where we can add such texts, I would go ahead and invente some Lore and such.

Lore is "just" a bit of imagination describing the building in a funny way.

Production is something different, this should be done mathematically correct. One could derive some estimations by watching regular gameplay, which

[2022-02-19 12:59] Floy288 commented on #5268
Duplicate of #

[2022-02-19 14:33] Noordfrees commented on #5268
Lore texts are defined in the building's entry in `data/tribes/initialization/<tribename>/units.lua` by adding helptexts with the keys `lore` and `lore_author`, like this:

https://github.com/widelands/widelands/blob/eda47cde863b64577473b181950f5900bc4dee92/data/tribes/initialization/barbarians/units.lua#L1082-L1094

In the same way, the performance text is added as a helptext with the key `perfor

[2022-02-19 15:27] Wuzzy2 commented on #5268
Suggestion: When lore text is missing, hide the lore section in the help so this awkward dummy text is not shown.

[2022-02-19 15:50] frankystone commented on #5268
I don't think it's awkward. Maybe just rephrase to something like: "Text needed. If you have an idea for a text please make a suggestion in the forums at https://www.widelands.org."

[2022-02-20 08:22] klaus-halfmann commented on #5268
OK, here is a branch where I will collect some lore for ATL, feel free to add your ideas.
https://github.com/widelands/widelands/tree/atl_lore

[2022-02-20 10:42] frankystone commented on #4284
I guess the width of the window was mainly increased by the buttons "Mute this buildings message" and "Mute all buildings of this type", but i am not sure which messages a port will send. The only one i think of is "New Port", are there other messages?
As far i remember the main reason for implementing those buttons was the message "Out of trees" or similar if a woodcutter doesn't find any trees i

[2022-02-20 10:48] Noordfrees commented on #4284
Military sites also send lots of messages, and ports send messages about waiting expeditions. Newly built warehouses of all types send a New Warehouse message. I always use Mute All for warehouses and HQ because I don't like those messages any more than the Out Of Resources messages from 5% mines. (For HQ the buttons usually don't make sense but in scenarios you could still receive another HQ via

[2022-02-20 12:57] tothxa commented on #4284
Also the "Start Expedition" button should be separated from the Dismantle and Destroy buttons, like the Stop/Start button is in production sites.

[2022-02-20 14:14] hessenfarmer commented on #5268
Maybe this might be discussed in a similar way then https://www.widelands.org/forum/topic/4193/

[2022-02-20 17:43] frankystone commented on #4284
Looks like this is the only viable solution. I have trouble to imagine a good order of the buttons though, because the order should be consistent to other windows. Mockup, which saves ~100px in width (section on the right shows original width):
![Port_buttons](https://user-images.githubusercontent.com/6730556/154855588-27d2bcaf-2b8c-45cf-8b58-dae7382aee49.jpg)

So this order makes also sense imho:

[2022-02-20 18:22] tothxa commented on #4284
I think debug should be in the upper row, because it's not standard anyway. (reorder it for other buildings too, if it helps simplifying the code?) That's one less button width.

Also the gap should be between dismantle and area (no gap between help and goto), like for other buildings.

[2022-02-21 20:51] Wuzzy2 opened #5273 "Barbarian campain shows "incomplete" when campaign completed"
**Describe the bug**
If you complete the two missions of the Barbarian campaign, at the end of mission 2, it says: “You have completed the last mission of the Barbarian tutorial campaign. You may continue playing if you wish, otherwise move on to the next campaign.”

However, when you return to the campaign menu and look at the Barbarian campaign again, you now see a fake mission called "Not yet c

[2022-02-21 21:34] MarkMcWire opened #5274 "Game crash if two different workers can became same kind of another worker."
I did an experiment a while ago. In my tribe there are several levels for each worker, so that the basic can become normal and the normal can become advanced. Each with different experience points.

Since the development from basic_stonemason via normal_stonemason to advanced_stonemason took too long and the AI ​​constantly had empty stonemason_houses, I also entered the option for advanced_stonec

[2022-02-21 22:08] Wuzzy2 opened #5275 "Nothing gets built if all builders are on a building site with missing supplies"
The builders can refuse to build anything at all if all builders are on a building site with missing supplies for hours, even if there are other building sites with 100% supplies.

Not sure if this is a bug, but it's certainly very unexpected with no obvious solution for the player.

## How to reproduce:

(This example is quite contrived but good to demonstrate how to trigger this. For a more real

[2022-02-21 22:16] Wuzzy2 opened #5276 "Selecting Fortified Village and then HQ Hunter screws up GUI"
## Reproducing

1. Start a new game
2. Select a map
3. In "Configure this game", select "Collector"
4. In "Players", select "Fortified Village" for player 1 (or any other player)
5. In "Configure this game", select "HQ Hunter"

## What happens

In the player list, the Fortiied Village has disappeared. I guess this is because Fortified Village is invalid for HQ Hunter. The text has disappeared and

[2022-02-21 22:16] Wuzzy2 commented on #5276
Version: 1.0

[2022-02-21 22:35] Wuzzy2 commented on #5268
I looked at this again and I discovered the missing lore actually affects all tribes. List of buildings with missing lore:

* Almost all Atlantean buildings
* Almost all Empire buildings
* Almost all Amazonian buildings
* Barbarians: Ferry Yard, alternative Headquarters
* Frisians: Coal Mine, Deep Coal Mine, Deep Gold Mine, Deep Iron Mine, Deep Rock Mine, Ferry Yard, Fortress, Gold Mine, Headquart

[2022-02-22 05:44] klaus-halfmann commented on #5268
@Wuzzy2 give us some time or start inventing some lore for the EMP like I do with ATL. Its a creative process that should not be done in a hurry. I hope you played all the EMP Scenarios and got an Idea how empire "feels". If you think about terms like "pax romana", get inspired by "Quo Vadis" or whatever Imperial powers. This is open source and you are invited to contribute. You may register yours

[2022-02-22 07:03] tibor95 commented on #5274
I am not very familiar with that workers upgrading stuff, but general question - do you have DEBUG build, can you run with -verbose parameter and get command line output? Probably there will be nothing useful, but still

I wonder if this can be related to AI code or something else

[2022-02-22 07:45] hessenfarmer commented on #5275
for me this is not a bug at all. this gamne is about management of building an economy and this is a players fault, which can (and should be) corrected like described as workaround.

So I agree to add some hints in the tips and tricks of the website and the loading screen displays, but disagree to change anything here.

[2022-02-22 09:58] hessenfarmer commented on #5274
I dont't believe this is AI related neither do I think this is a bug.
I need to check whether this might be related to wrong definitions in lua instead. But this is not possible anymore as @MarkMcWire found another solution.
if it is really not possible it isn't a bug neither as in this case it is a feature request.

Edit: @MarkMcWire could you provide the crashing definitions

[2022-02-22 11:26] frankystone opened #5277 "Give visual representation for modal and non modal message_box"
A modal message_box pauses the game whereas a non-modal message_box  do not pause the game. It should be more clear to the player when he couldn't do something (modal) or if he can act on the game while the window is open.

Thread in the forum: https://www.widelands.org/forum/post/38499/

**Describe the solution you'd like**
I think both solutions should be applied:
- The non-modal message_box has

[2022-02-22 13:43] tothxa opened #5279 "Use after free crash in MapObject::serial()"
**Describe the bug**
Game with updated all_buildings_… map from media trunk crashes after a short time.

**To Reproduce**
Steps to reproduce the behavior:
1. Load attached game or start with attached map
2. Wait about 10 to 20 seconds
3. Game crashes

**Expected behavior**
No crash. :smiley:

**Version:**
 - OS: antix/Debian buster with backports
 - Widelands Version: Version 1.1~git25646[ef3483a@

[2022-02-22 13:47] tothxa commented on #5276
I think it should be kept to explain why the other starting conditions can't be selected.

(BTW Hi Wuzzy! Thanks for all the things you did for Minetest! :smiley: )

[2022-02-22 14:53] tothxa commented on #5275
OTOH maybe it should be possible to kick the worker from a constructionsite too, if it doesn't need too deep changes in the code.

[2022-02-22 15:03] tothxa opened #5280 "Add clean cancel button for constructionsites"
**Is your feature request related to a problem? Please describe.**
Related to the deadlock described in #5275

Sometimes it would be nice (or even critical) to recover some building material that has a shortage, but was delivered to a less critical building site. Currently all already delivered materials are lost if the building is cancelled.

**Describe the solution you'd like**
When a constructi

[2022-02-22 15:44] tothxa commented on #5280
Sorry, I shoudn't have posted this based on memory. I mean it as there should be a clean cancel function for production sites, that does the above, not just the destroy function.

Of course recovering the materials is already possible, by setting the amounts to zero, but it only takes effect after the current work step is done.

[2022-02-22 18:42] tothxa commented on #5275
I added a section on this to [Tips & Tricks](https://www.widelands.org/wiki/Tips%20and%20Tricks/#not-enough-builders) in the wiki, so that part is fixed.

[2022-02-22 22:07] Wuzzy2 commented on #5268
No rush.

[2022-02-23 09:11] tibor95 opened #5283 "AI does not expand properly - problem with basic economy"
**Describe the bug**
AI players does not grow properly, f.e. wood hardeners are not build, logs shows something like that:

`[00:00:03.943 game] INFO: AI  1: Player has not all buildings for basic economy yet (12 missing), but enemy is nearby, so quitting the mode at 000:00:03`

What is a nonsense,

**To Reproduce**
Steps to reproduce the behavior:
1. Run game with --verbose mode
2. Start the game

[2022-02-23 09:20] tibor95 commented on #5283
I think it goes to last_time_seen in EnemySiteObserver. It seems it is now set to 0, that is evaluated as we just seen the enemy. Should be invalid or very big number. I think there were changes few commits in this regard...

[2022-02-23 09:40] tothxa commented on #5279
Oops, wrong map. I mean, it crashes just fine :smile:, but it's not the one the savegame was created with, and it has too much logging output.

Here's the one from launchpad (with updates): [all_buildings_emp.wmf.zip](https://github.com/widelands/widelands/files/8123216/all_buildings_emp.wmf.zip)

[2022-02-23 10:25] hessenfarmer commented on #5283
good catch we removed the overriding of the default init value in the constructor of the object for satisfying clang tidy so we now need to properly define the init value in the class definition, as you already did.

[2022-02-23 16:58] MarkMcWire commented on #5274
@hessenfarmer

`
push_textdomain("europeans_tribe.wad", true)

dirname = path.dirname(__file__)

descriptions:new_worker_type {
    name = "europeans_stonemason_normal",
    -- TRANSLATORS: This is a worker name used in lists of workers
    descname = pgettext("europeans_worker", "Normal Stonemason"),
    animation_directory = dirname,
    icon = dirname .. "menu.png",
    vision_range = 2,

    e

[2022-02-24 09:58] #5283 closed, assigned to tibor95

[2022-02-24 12:05] tothxa commented on #5268
I've realised that Empire will be easy: just collect some classical Latin quotes, and use those along with a translation. I already have  a few in mind, so I'll create a draft PR later today, but I don't want to spend too much time on it until the graphics re-export is ready for testing.

[2022-02-24 12:48] klaus-halfmann commented on #5268
@tothxa Great ! give me a link and we can start to do some kind of P2P review

[2022-02-24 22:30] hessenfarmer commented on #5274
I successfully used 2 advanced stonemason created by 2 different careers in the same stonemasons house so I would close this bug

[2022-02-24 22:30] #5274 closed, assigned to nobody

[2022-02-25 05:37] klaus-halfmann commented on #5268
@Wuzzy2 please take a look here https://github.com/widelands/widelands/actions/runs/1894680815#artifacts
It still need some polishing, but I think I got some reasaonable / funny lores.

[2022-02-27 15:34] #5117 closed, assigned to nobody

[2022-02-27 21:14] jmoerschbach commented on #5264
Should there also a new map layer for that? I believe ships do not fit in any of the existing buttons/layers.

[2022-02-28 11:27] #5166 closed, assigned to Noordfrees

[2022-02-28 14:18] Noordfrees opened #5290 "Minimap Renderer Assertion Fails"
1. Start the editor and switch to fullscreen mode (1920×1080 in my case).
2. Create a new 512×64 map.
3. Open the minimap.
4. Zoom out as far as you can and move around rapidly.
5. Crash:
[code]

Version: bde2e7c (both debug and release)
OS: Ubuntu Mate 21.10

[2022-02-28 15:42] Noordfrees opened #5291 "Dropdown with no filter matches shows hotkey"
1. In a game, open the game speed dropdown
2. Enter a character that is not present in any entry, so the dropdown is filtered with no matches
3. The dropdown displays a hotkey where none should be shown:
![grafik](https://user-images.githubusercontent.com/48293446/156012070-5e562c99-6519-45bf-90ec-016f7d1d852c.png)

Version: bde2e7c Release

[2022-03-04 09:29] Bastrabun opened #5294 "Game crash lua_errors.cc:21] destroyed_building: Error in immovable program main: Error reading line 'transform=ashes': transform: Unknown map object type 'ashes'"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
Error when starting a game.

[00:00:56.000 real] ERROR: ##############################
[00:00:56.000 real] ERROR:   FATAL EXCEPTION: Error while loading tribe 'empire': [/home/username/projects/widelands/1.0/widelands/src/scripting/lua_errors.cc:21] tribe empire: Failed adding immovable 'destroyed_building': [/h

[2022-03-04 12:15] MarkMcWire opened #5295 "Crash if new game was started, savegame loading don't crash"

[2022-03-04 12:22] Noordfrees commented on #5295
Duplicate of #5294

[2022-03-11 20:25] AMDmi3 opened #5298 "Does not install with NLS disabled"
**Describe the bug**
When configured with `-DOPTION_BUILD_TRANSLATIONS=OFF`, install target fails:

[code]
while with the enabled option it's:
[code]
it looks like it tries to install files which are not generated.

Additionally, it seems to require Gettext regardless of the option setting.

**Expected behavior**
Installation should pass.

**Version:**
 - OS: FreeBSD 13.0
 - Widelands Version: 1.0

[2022-03-11 20:35] Noordfrees opened #5300 "QuickNavigation GUI"
https://www.widelands.org/forum/topic/5510/

The QuickNavigation (the Ctrl+(1-9) / 1-9 feature) should get a GUI. This GUI would consist of a window with buttons for each landmark that allow you to perform the Set and Goto operation for each landmark via mouse click. Additionally it should allow adding new landmarks (without a hotkey), unsetting and deleting landmarks, and assigning names to landm

[2022-03-11 20:45] Noordfrees commented on #5298
This could be fixed by surrounding the respective `install` command with an `if(OPTION_BUILD_TRANSLATIONS)`, but I wonder if having an option to build translations even makes sense. Building them takes so little time compared to compiling the source code that skipping them doesn't offer any benefits in my opinion. Would anyone miss this option if it's removed and translations are always built?

[2022-03-11 20:58] AMDmi3 commented on #5298
Well i18n files take noticeable amount of disk space, which can be gigabytes overall for an average desktop system, while providing no or almost no benefit since a person usually needs no more than one translation, and not all of them. That's why `localepurge` was invented. So I'd prefer this option to work properly, e.g. toggle both dependency on gettext and translation files building/installatio

[2022-03-12 16:23] jmoerschbach commented on #4334
I am in favor of closing this @Noordfrees

[2022-03-12 16:41] #4334 closed, assigned to nobody

[2022-03-12 18:28] jmoerschbach commented on #4324
I believe this bug is only visible when the dropdown does not close when an entry was selected, right?
As of current master, this "staying open dropdown"-feature is not working

[2022-03-13 12:59] akupar opened #5301 "Unknown map object type 'ashes' Lua error when starting new game"
**Describe the bug**
A Lua error "Unknown map object type 'ashes'" when starting a new game in the current master branch. The error occurs when the game is loading resources.

**To Reproduce**
1. Clone 'master' branch.
2. Compile
3. Start the game
4. Start a new game: single player > new game etc.

**Expected behavior**
New game should start. No error should occur.

**Screenshots**
![unknown map o

[2022-03-13 13:01] Noordfrees commented on #5301
Duplicate of #5294 and #5295

[2022-03-14 15:14] #5298 closed, assigned to Noordfrees

[2022-03-14 16:49] AMDmi3 commented on #5298
Works for me, thank you!

[2022-03-16 15:48] Ahmad-fadl opened #5303 "Question"
Hi, this is not a bug but rather a question to the developers.
I'm trying to save some data from the game for my scientific project (Building's inputs outputs wares logistic data etc..).
Can someone please tell me how to map "descriptionindex" to the actual ware name ?
It should be done somewhere in the source code but i can’t find it.
Sorry for putting this here but i didn’t know where else to as

[2022-03-16 16:42] Noordfrees commented on #5303
[code]
- `egbase`: Many functions get a `Game` or `EditorGameBase` reference as parameter. if not, many map object or Player instances and other objects also have an `egbase()` or `game()` function that returns it.  So it should nearly always be possible to get this reference though the exact way depends on which function you're working in.
- `get_ware_descr`: Depending on what type of object you'

[2022-03-18 15:32] Ahmad-fadl commented on #5303
this egbase.descriptions().get_ware_descr(index)->name() worked. Thanks

[2022-03-18 15:32] #5303 closed, assigned to nobody

[2022-03-18 19:35] #5193 closed, assigned to nobody

[2022-03-19 11:48] #1475 closed, assigned to gunchleoc

[2022-03-20 15:28] #5264 closed, assigned to jmoerschbach

[2022-03-21 17:41] #4786 closed, assigned to Noordfrees

[2022-03-21 17:41] #5294 closed, assigned to Noordfrees

[2022-03-21 17:41] #5295 closed, assigned to Noordfrees

[2022-03-21 17:41] #5301 closed, assigned to Noordfrees

[2022-03-22 20:09] hessenfarmer opened #5321 "geologists do not find anything anymore"
#5286 caused that geologists do not find any ressources anymore

[2022-03-23 09:16] Noordfrees commented on #5321
And again the postloading order is messed up…

In addition to fixing this we really need a regression testcase for this problem.

[2022-03-23 09:25] bgruschko opened #5322 "Screen is flickering green after startup"
After startup the GUI is flickering with green stripes.

**Steps to reproduce the behavior:**
1. Start the game

**Screenshot:**
![screen](https://user-images.githubusercontent.com/7606982/159666177-a9aa4049-6492-43c6-b0b6-fc67eec9a5fb.png)

**Version:**
 - OS: Windos 10 with latest Nvidia driver pack
 - Widelands Version: ["Release 1.0", "master branch"]

[2022-03-23 12:46] hessenfarmer opened #5324 "Most Atlantean Lore is missing citation marks"
as the Lore are always cited from an author they need to be encapsulated by citation marks, like the barbarian Lore

[2022-03-23 15:38] Noordfrees commented on #5324
The frisians don't have any quotation marks around their lore strings. I consider these strings like block quotes in a scientific paper, which are a verbatim quote which is marked as such by indenting it as a paragraph visibly separate from other text, possibly using a different font size.

“This is an inline quote which needs ‘quotation’ marks” (Bunny Bot)

However we should make this consistent

[2022-03-23 17:44] frankystone commented on #5322
Can you please provide the `stdout.txt` which should be in the same folder where widelands is installed?

[2022-03-24 08:31] bgruschko commented on #5322
I couldn't find an stdout.txt in the installation directory. Starting from console and properly exiting widelands (tooks me a couple of tries with the flickering) also didn't generate one:
![screen2](https://user-images.githubusercontent.com/7606982/159874708-fe3740bb-560e-4db0-a7c7-5388f52014a9.png)

[2022-03-24 08:48] frankystone commented on #5322
Can you try: `widelands.exe > log.txt` when starting from a console?

That should generate the file `log.txt`. I am not a  Windows user so i just follow https://www.widelands.org/wiki/Technical%20Faq/#how-do-i-get-log-output-in-windows-for-debugging See also the next chapter there.

[2022-03-24 08:56] #5321 closed, assigned to Noordfrees

[2022-03-24 09:09] bgruschko commented on #5322
I found a stdout.txt in ~/.widelands:

[stdout.txt](https://github.com/widelands/widelands/files/8340016/stdout.txt)

[2022-03-24 16:42] frankystone commented on #5322
For comparison with my video:

Your output | My output
------------------ | --------------
Graphics: Try to set Videomode 800x600 |                           Graphics: Try to set Videomode 1600x900
Graphics: OpenGL: Version "4.6.0 - Build 27.20.100.8280" |         Graphics: OpenGL: Version "4.6.0 NVIDIA 510.54"
Graphics: SDL_GL_RED_SIZE is 10 |                                  Graphics: SDL_GL_RED

[2022-03-25 07:04] andy5995 opened #5329 "Tooltips don't appear properly when 'accessibility mode for tooltips' is enabled"
_Originally posted by @Noordfrees in https://github.com/widelands/widelands/issues/4733#issuecomment-789612070_

It doesn't seem like it's working properly. When I hover the mouse over the building icons, the type of building doesn't appear unless I click on one of the buildings.

* WL version: git @ commit https://github.com/widelands/widelands/commit/da898d23c2835831a8ad26040ac3d3176a8ea5b8
* OS

[2022-03-25 11:31] hessenfarmer commented on #5322
I believe this issue is not a Widelands issue but a driver issue.
With my Geforce GTX70 it works well in windows. Maybe deinstalling and reinstalling the driver from Windows might help.
I installed the driver from windows and it has a version beginning with 27.21....... this corresponds to 510.64 I believe.  So may be the driver is outdated or corrupted.
In any case I don't think this to be a wide

[2022-03-25 20:54] andy5995 commented on #1051
Would implementing [STUN](https://en.wikipedia.org/wiki/STUN) be another possible solution?

[2022-03-25 21:00] andy5995 commented on #5087
This happens to me too, when clicking on the 'unbennant1' game, then clicking join. crashes after a second or 2.

OS: Manjaro Linux 21.2.5

WL v1.0 installed with pacman.

[code]

[2022-03-25 21:57] Noordfrees commented on #5087
Unbenannt1 is yet another zombie game (known bug). In current master the crash is already fixed and a proper error message displayed instead.

[2022-03-25 23:30] tothxa opened #5332 "Poems with long lines in lore texts get messed up"
**To Reproduce**
1. Start a game with Atlanteans
2. Open the encyclopedia and choose the building tab
3. Select armorsmithy or gold mine
4. Look at lore text
5. See problem

**Expected behavior**
I'm not sure how this should be handled. If I were to format them freely, I'd probably right align the line endings that didn't fit on the main line. But I'm not sure whether implementing such formatting

[2022-03-25 23:42] Noordfrees commented on #5332
+1 for right-aligning the extra lines. I think they should also have a maximum width of 50% or such so they can't be confused with the next rhyme line.

I believe this can't be achieved with RT tags alone, so we might need to implement a new WLRichtext tag `<poem>Text</poem>` to handle the layouting in C++.

Preventing the text from flowing around the image should be doable by adjusting the `<div>

[2022-03-26 13:55] frankystone commented on #5332
I don't see a problem here :-)

AFAIK poems are either centered or left aligned. But searching the web it seems there is no _general_ rule for aligning a poem. -1 to right aligning the text, it would break the flow of reading.

+1 for preventing the floating of text around the image.

[2022-03-26 15:47] tothxa commented on #5332
This is what I meant:
![shot0047_ed](https://user-images.githubusercontent.com/80712255/160246963-c0ed30c2-b2a8-4418-8059-0a871dd53f36.png)

Well, indeed, this isn't pretty either…

[2022-03-26 16:27] frankystone commented on #5332
What might can help is to add some punctuation and make sentences:

She twists and tweaks the steel
with might`,`
that soldiers may therewith once
fight`.`
`M`ost skillful foes, whose lethal
lance`,`
from this their armour off will
glance!

Although maybe not following the punctuation rules, but hey, it's a poem :-)

Edit: Don't know if this will be feasible for other languages

[2022-03-27 14:55] Only4us opened #5333 "Level 2 Barbarians Campain Crash after killing the first enenmy"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
After i kill the first enemy, doesn't matter which one first, in Level 2 of the Barbarians campaign the game crashes without any error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Level 2 Barbarians campaign
2. Kill one enemy
3. wait 2 seconds
4. game switches off completely

**Expected behavio

[2022-03-27 16:37] frankystone commented on #5333
Can you please provide a savegame?

[2022-03-27 18:19] hessenfarmer commented on #5333
It may be the case that this was related to the postloading issues that had been fixed recently.
@Only4us can you confirm this with the latest master?

[2022-03-28 18:34] Only4us commented on #5333
Where do i find the savegames on my file system?

[2022-03-28 19:05] hessenfarmer commented on #5333
there should be a folder like /.widelands

[2022-03-28 20:26] andy5995 commented on #4365
And what do you think about replacing some the text like

with something like:

My thinking is that the tutorial should focus on game mechanics, rather than include info that is already in the general game documentation (to make the tutorial easier to maintain).

[2022-03-29 05:24] andy5995 opened #5336 "In basic control tutorial, first objective appears twice"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
In the basic control tutorial, the first objective appears two times, which is a bit confusing. It's mentioned in #4365, but it's not exactly clutter: it's duplicated information. The desired behavior would be for the welcome message->click ok->first objective.

**Screenshots**
Note the first window, and the tex

[2022-03-29 07:04] frankystone commented on #5336
FYI: Some time ago a new concept of so called [Training wheels](https://www.widelands.org/documentation/autogen_auxiliary_init/) get implemented, see. e.g. https://github.com/widelands/widelands/pull/4369 and [other merged Pull requests](https://github.com/widelands/widelands/pull/4369). Since no one worked on this further, this concept got partially disabled…

To remove the objective text in the

[2022-03-29 07:23] hessenfarmer commented on #4365
Well the Wiki is not well maintained. and the online encyclopedia lacks some coding changes to be in line with the ingame encyclopedia.
Reason is that we decided to maintain only in game help and tutorials completely as this is the first hand information for new players.
So I am against deleting too much information. We already deleted some clutter while keeping all relevant information

[2022-03-29 13:42] MXB2001 opened #5337 "Grammar error"
Empire Weapon Smithy

The text says:
"Did not start forging a wooden spear because Planks is missing"

is should be are because Planks is plural not singular (where is would have been correct as in the Plank is missing for example)

[2022-03-29 19:33] hessenfarmer commented on #5337
this sentence is constructed from different string parts so it will fail for all wares which are written in the plural form like amazons boots, planks, buckets, and so on.

[2022-03-29 19:59] Noordfrees commented on #5337
How about rephrasing it similar to "because the site needs/lacks %s"? Just suggesting it because that's how I phrased it in Low German where it works for singular and plural names alike ("denn dat hapert an %s"), English might have other complications though

[2022-03-29 22:15] andy5995 commented on #5336
Thanks @frankystone I think I can figure out from what you told me. I'll see what I can do...

[2022-03-30 07:31] andy5995 commented on #5336
The behavior I mentioned above is not really a bug I think, just confusing. The objective is appearing the second time because the mission thread is clicking on the objectives button and opening the objectives window (as @hessenfarmer pointed out to me in #5338)

[2022-03-30 11:52] #5336 closed, assigned to nobody

[2022-03-30 15:57] frankystone commented on #5333
I have played the tutorial with current master and found no crash.

You can find savegames either in `~/.widelands` or in `~/.local/share/widelands`.

[2022-03-30 20:53] andy5995 opened #5340 "In MP setup, if player 2 selects blue flag, host can not change his own tribe"
**Describe the bug**
When setting up an MP game, host can not change his tribe settings

**To Reproduce**
1. Host a game
2. Select a map (I chose Golden Peninsula for testing)
3. Second player joins
4. Player 2 changes role to player  1 with blue flag
5. The host (player 1) can not change his tribe

**Screenshots**
![image](https://user-images.githubusercontent.com/16764864/160928637-cb4aaf16-9e1f

[2022-03-30 21:10] andy5995 opened #5341 "In MP setup, changing role/flag in some cases causes host to crash"
**Describe the bug**
While setting up an MP game, if player 2 changes his flag, player 1 (the host) crashes

**To Reproduce**
Steps to reproduce the behavior:
1. The steps mentioned in #5340
2. Player 2 changes flag to red
3. host crashes

**Version:**
 - OS: Manjaro
 - Widelands Version: https://github.com/widelands/widelands/commit/386823517f8d37f777c81d9ebcdfbd11cc436344

**Additional context**

[2022-03-30 21:14] andy5995 commented on #5341
I should maybe mentioned, while one may think this is a rare case, it happened to me and a friend the first time we tried playing multiplayer a couple days ago.

So... I guess my point is that you can expect that it could likely happen to new players, even though it's easy enough to prevent if you're familiar with setting up a game.

[2022-03-31 06:42] frankystone commented on #5340
In the screenshot 'arch_stanton' is set as a spectator, not a player. A spectator shouldn't be able to choose a tribe.

If the host opens a new game and immediately sets blue as his player, the second player will become the red player after joining the game. Blue can then choose a tribe.

Anyway: In the situation of screenshot, the spectator can choose red as player, although red is already set. T

[2022-04-01 09:14] tothxa opened #5344 "Different status label when experienced worker is missing"
(different aspect of #5106)

Currently the status label is the same when a building is missing a new worker (lack of tool) and when it is missing an experienced worker (e.g. master miner). I think these should be treated as different conditions, because different action is needed from the player (ensure there is a toolsmith and it has supplies vs. try to free up or train an experienced worker).

[2022-04-01 09:24] tothxa opened #5345 "Show name of missing worker in positions tab"
(yet another aspect of #5106 and #5344)

The workers tab in building windows doesn't show which type of worker is missing, only the worker icon, which is very hard to identify. The text should be changed to include the type of the missing worker.

[2022-04-01 09:27] hessenfarmer commented on #5322
@bgruschko have you been able to solve the issue, so we can close this?

[2022-04-01 09:28] hessenfarmer commented on #5333
@Only4us can you confirm the crash is gone in latest master, so we can close this?

[2022-04-01 11:44] bgruschko commented on #5322
@hessenfarmer: No I couldn't, but I strongly suspect that it has something to do with opengl drivers. I'll close the bug since it is not really a widelands bug. If I'll find a a solution I'll post it here in case someone else should happen to have the same problem.

[2022-04-01 11:44] #5322 closed, assigned to nobody

[2022-04-01 16:10] hessenfarmer commented on #5322
Well if I / we might be of any help let us know. your suspection is reasonable. BTW which graphics card are you using?

[2022-04-02 10:45] Only4us commented on #5333
I found widelands under /var/lib/flatpak/app/, but i was not able to find the savegames in there. I just installed widelands recently, do i have the latest master?

[2022-04-02 15:31] tothxa commented on #5333
@Only4us So you have Widelands installed as a flatpak.

Your savegames should be in `~/.var/app/org.widelands.Widelands/.widelands/save/` (`~` means your home directory).

Did you install it from flathub or flathub-beta? The command `flatpak list` shows which version you have, and where you installed it from.

[2022-04-02 15:41] tothxa commented on #5333
@Only4us Your version in the original post seems to match the one used in the previous beta flatpak, so you may have that. Please try updating it to the newer one with `flatpak update org.widelands.Widelands` (or `flatpak update org.widelands.Widelands//beta` if you also have stable installed), and let us know if it still has the problem.

[2022-04-02 16:04] rwblyth opened #5346 "Friends in Need - cannot load game - Unknown worker 'frisians_diker'"
Hi, I am part way through Friends in Need and cannot load my game after updating Widelands. The error message says, "Unknown worker 'frisians_diker'".

**Steps to reproduce**
1. With any saved game from Friends in Need (even one saved at the very start of the level), saved before updating Widelands today 2nd April
2. Load the scenario
3. Game tries to load but fails with the error message in the a

[2022-04-03 19:28] hessenfarmer commented on #5346
the savegame really would help. to find it maybe just search for files of type .wgf.
Furthermore it would help to know with which version the save had been saved.

[2022-04-03 19:48] rwblyth commented on #5346
The search worked - they are saved to `~/.local/share/widelands/save` - attached the first save from this scenario ("new-land.wgf") and the most recent ("new-port.wgf") in the attached zip. Both of them get the same error on loading.

Looking at the update log I think I was running 1.1~bzr10206-202203182002 for both of these.

[widelands-5346-saved-games.zip](https://github.com/widelands/widelands

[2022-04-04 07:02] andy5995 commented on #3144
Sounds fine and to me. I think this can be closed.

Looks ok, too.

![image](https://user-images.githubusercontent.com/16764864/161490261-c502b4d1-bc54-4fa1-93cd-56046f58e2b8.png)

[2022-04-04 09:02] Noordfrees commented on #5346
Yet another load order bug, will investigate…

[2022-04-05 04:58] MXB2001 opened #5351 "Grammar mistake"
For Amazons Cocoa Beans is missing should be are missing since Beans are plural.

[2022-04-05 06:32] hessenfarmer commented on #5351
duplicate of #5337

[2022-04-05 06:33] #5351 closed, assigned to nobody

[2022-04-05 07:40] #5291 closed, assigned to nobody

[2022-04-05 07:41] #5346 closed, assigned to Noordfrees

[2022-04-06 06:28] andy5995 commented on #4914
Is this really worth implementing? If someone wants to hear their own music while playing widelands, they can simply mute the game music and play their own music in whatever media player they'd like.

[2022-04-06 19:46] andy5995 opened #5355 "Move map preview higher in the map info pane"
I'd like to be able to see map previews more quickly. Much of the time I have to scroll down past the description. I think the preview images should be moved up, so they appear between the "map name" and "Author" field.

[2022-04-07 07:31] Noordfrees commented on #5355
Then the tags and add-ons would be visible only after scrolling down, and this is also important information that should be visible at first glance. Author, description and hint are less important though, so how about reordering it:
- Name
- Tags
- Add-ons
- Minimap
- Author
- Description
- Hint

Alternatively, instead of placing all information in one long scrolling box, we could have two boxes w

[2022-04-07 20:14] andy5995 opened #5356 "When showing construction cost of a building, also show what it produces and consumes"
When hovering over a building from the construction menu, the tooltip shows construction costs. I propose that it should also show what the the building produces and consumes

https://github.com/widelands/widelands/blob/1fbdb119e3f1e7ba16857bf02ee59981d5843802/src/wui/fieldaction.cc#L92-L98

[2022-04-07 21:32] andy5995 opened #5357 "update gamespeed analog clock button"
_Originally posted by @hessenfarmer in https://github.com/widelands/widelands/issues/5339#issuecomment-1086322934_

[2022-04-08 17:10] frankystone commented on #5355
What about having different views for the table? Similar to a filemanager: "Listview" (like now) and a "Symbolview (Map view)" where the latter one shows the minimaps in first column and some additional information in a second column beside the minimap (e.g.: Name, Author, Size, Nr of players, whatever). Additional information can be in the right pane.

[2022-04-10 08:07] frankystone commented on #5356
Although i think this a good idea, especially for new players, i am not sure if the additional information would make the tool tipp too large. E.g. it would be much information shown for all the tools a toolsmithy can make.

I think such information is better in the ingame encyclopedia, that's why it is there. If #3769 get implemented it will become more useful.

See also #2047

[2022-04-12 12:48] olih10200 opened #5361 "Error on loading saved game - Ship scout"
Hey Folks,
Found an error (bug) - the git version almost every week updated (at least once).
The saved game's date is: 2022-04-10
Tried to update game version just now, but the error below stayed.

**Describe the bug**
The saved game almost totally loaded, then error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Single player'
2. Click on 'Load saved' ( [meglepi.wgf](https://github

[2022-04-13 15:46] frankystone commented on #5361
Hi olih,

i guess this is related to #5346 or/and #4786 @Noordfrees ?

The error says:
[code]

According to the save game (scenario "Surprise Surprise") this game has just run 14 min? I am wondering how ships can be involved in this short time...

[2022-04-13 16:27] Noordfrees commented on #5361
I can confirm the bug with the savegame, but this is not related to any of the mentioned bugs (which is a nice change :wink:). It looks more like a bug in command queue saveloading. The problem *seems* to be that a `CmdShipScoutDirection` that has been issued directly prior to saving is being loaded with incorrect data. Since this scenario is non-seafaring, such a command cannot have been issued i

[2022-04-15 07:04] klaus-halfmann opened #5362 "Update widelands to 1.0 o itch.io"
I found that some players in the lobby downloaded release 20 from itch.io:
https://widelands.itch.io/widelands

There is a a member registered May 05, 2019 as https://itch.io/profile/widelands
But I could not guess if it is one of our developers, so:

* In case the person registered at itch.io reads this, please Update the version there.
* In case one of our devs has some other account at itch.io

[2022-04-15 07:06] klaus-halfmann commented on #5332
Making the window a bit wider would fix this for many cases.

[2022-04-15 08:43] frankystone opened #5363 "Adjustable game time for time related win conditions"
See: https://www.widelands.org/forum/topic/5561/

**Implementation steps**
- [ ] Add ui element for defining a max play time
- [ ] Make the set value available for time related win conditions

[2022-04-15 08:58] frankystone commented on #895
Isn't this been solved by #4319 ?

[2022-04-15 09:14] frankystone commented on #5362
I do not understand the people who just download and install some thing from a non original source…

Instead of updating just give a link to the [Download page](https://www.widelands.org/wiki/Download/) is a better way, imho.

[2022-04-15 15:50] frankystone commented on #5273
This might be just a confusing wording. If you look at the campaigns window top it should be clear that a Campaign is tribe specific and each campaign consists of scenarios:

![capaigns_vs_scenarios](https://user-images.githubusercontent.com/6730556/163591660-13fbdb86-d754-4104-8da7-2aa89da60dcc.jpg)

The sentence _"…otherwise move on to the next campaign.”_ is correct, imho.

[2022-04-16 02:26] Wuzzy2 commented on #5273
You're missing the point. I already know everything you just said, this is *not* what I'm talking about.

The point is the fake mission number 3 with the title "Not yet implemented". The end of mission 2 says it's the end of the campaign. Yet in the mission screen there is "Not yet implemented", implying it's NOT really end of the campaign, like as if more scenarios might come in the future. So th

[2022-04-16 09:03] eveDude commented on #1294
Playing on 1400p over here, while most of the stuff is okay-ish, the menus (like action menu) are really really tiny.
Would be neat if there was some (independant) UI scaling.

Hijacking this issue, since it came up when I googled..

[2022-04-16 14:44] frankystone commented on #5273
Ah, now i understand :)

Yes, i would assume that every campaign is incomplete, just because [_"Widelands is currently (and will always be) under development"_](https://www.widelands.org).

What about rephrasing: “You have completed the __currently__ last mission of the Barbarian ~~tutorial~~ campaign. You may continue playing if you wish, otherwise move on to the next campaign.”

----------------

[2022-04-17 02:43] Wuzzy2 commented on #5273
Treating campaigns as eternally WIP/incomplete because stuff MIGHT be added in future seems overly strict to me. I guess at some point just treat them as complete if they reached a certain level of quality. And even then this doesn't mean change should be forever forbidden, if they seem reasonable. And if there are even more ideas, can just start a new campaign, I guess …

But on the other hand, I

[2022-04-21 08:48] Ahmad-fadl opened #5368 "Question"
Hi,
This is just a question to the developers or to someone who understands the logic of the game.
A Productionsite has the attribute "inputqueu" and an inputqueu has (1- get_max_size()  2- get_max_fill() 3- get_filled())  where :
get_max_size() returns the capacity of the building regarding this ware.
get_filled() the currently existing amount of this ware.
get_max_fill() returns the maximum amou

[2022-04-21 09:58] Noordfrees commented on #5368
An "order" for a ware or worker is represented by the **`Request`** class. An `InputQueue` has a `request_` attribute which it frequently updates with information about how many more items the queue wants. The `Request` instance tracks how many items have been sent and how many are lacking, and an `Economy` instance regularly tries to satisfy open requests and handles assignment of available suppl

[2022-04-21 11:02] hessenfarmer commented on #5362
for the account it would be a good idea to ask @gunchleoc as she was our chieftain then

[2022-04-21 11:24] Ahmad-fadl commented on #5368
Ah ok i see.
I'll write a getter function to access The request from inside the building.
Thanks.

[2022-04-21 11:24] #5368 closed, assigned to nobody

[2022-04-22 12:18] Noordfrees commented on #399
Marking as urgent for v1.1 because an open PR is linked

[2022-04-22 12:20] Noordfrees commented on #5018
Should no longer relevant with versions newer than v1.0

[2022-04-22 12:20] #5018 closed, assigned to nobody

[2022-04-22 12:21] Noordfrees commented on #5136
Marking as urgent for v1.1 because an open PR is linked.

[2022-04-22 12:24] Noordfrees commented on #4809
IMHO the fix can be considered good enough to be permanent. IIRC I left a TODO to beautify it on occasion, but we can close this bug.

[2022-04-22 12:26] Noordfrees commented on #4917
With the "recent" refactorings introducing lots of potential new bugs I really think this should be fixed for v1.1.

[2022-04-22 12:29] Noordfrees commented on #2148
Marking as urgent for v1.1 because an open PR is linked.

[2022-04-22 12:30] Noordfrees commented on #3141
Hasn't been seen again for years…

[2022-04-22 12:30] #3141 closed, assigned to nobody

[2022-04-22 12:32] Noordfrees commented on #1710
Marking as urgent for v1.1 because an open PR is linked.

[2022-04-22 12:34] Noordfrees commented on #727
Marking as urgent for v1.1 because an open PR is linked.

[2022-04-22 14:05] hessenfarmer commented on #4139
@Noordfrees still I think we should close this as the bug is solved and only a wishlist item remains: supporting relative paths in scenario unit filesystems

[2022-04-22 15:33] #4139 closed, assigned to gunchleoc

[2022-04-25 15:43] TorstenFunk opened #5375 "Segfault in `DefaultAI::update_all_buildable_fields`"
The game always hangs-up at the same moment. It simply stops working, at 0% CPU and 365 MB RAM usage. When I wait some seconds and then click somewhere, Windows shows a small window: "Widelands - realtime strategy game funktioniert nicht mehr" (eng: "... has stopped working"). The task gets closed when hitting the button to close the program.

Steps to reproduce the behavior:
1. Run Widelands
2. L

[2022-04-25 16:33] Noordfrees commented on #5375
Confirmed. I've never seen this type of bug before…
[code]

[2022-04-25 16:49] frankystone commented on #5375
Windows 7 is EOL since January 2020.

[2022-04-25 19:32] hessenfarmer commented on #5375
it is crashing ion windows 10 as well.
as we have a reproducable crash we should investigate the root cause before postponing to 1.2 imho

[2022-04-26 07:12] Noordfrees commented on #5375
Caught it in a debugger. The offending line is `AI::DefaultAI::update_all_buildable_fields at ../src/ai/defaultai.cc:1380`
https://github.com/widelands/widelands/blob/0621ce2fe1a3825ae6669a424a700de5312fb84f/src/ai/defaultai.cc#L1378-L1380
gdb shows that the address of `bf` is uninitialized (`0xbebebebebebebebe` which is ASan's default value for all uninitialized variables). Also:
[code]
Definitel

[2022-04-26 12:47] hessenfarmer commented on #5375
If I understand the gdb commands correctly we have a deque with 0 elements and size 34 that is strange

[2022-04-26 13:10] tibor95 commented on #5375
Some (all?) C++ containers distinguish  the capacity and the size

So the deque is empty?

from: https://www.cplusplus.com/reference/deque/deque/front/
_Calling this function on an [empty](https://www.cplusplus.com/deque::empty) container causes undefined behavior._

[2022-04-26 13:25] tibor95 commented on #5375
Or we lost BF in the meantime and it was deleted and the pointer is no longer valid?

This implies that deque is not empty:
https://github.com/widelands/widelands/blob/0621ce2fe1a3825ae6669a424a700de5312fb84f/src/ai/defaultai.cc#L1310

EDIT:

I just see that elements from buildable_fields are popped just  few lines below.

[2022-04-26 13:37] tibor95 commented on #5375
Coding question:

_(invalidated_bf_count != 0u) || ((min_fields_rotated--) != 0u))_

if first condition is evaluated as true, is the second  condition evaluated and **decreased** ????

EDIT:

what about switching the order:

_(((min_fields_rotated--) != 0u)  || invalidated_bf_count != 0u)_

[2022-04-26 13:58] hessenfarmer commented on #5375
As far as I know && and || are fast evaluated. I have no idea if the decrease happens in this case or if not, however your suggested change might be worth a try.

[2022-04-26 13:58] Noordfrees commented on #5375
If the first expression evaluates to `false`, then, because of short-circuit evaluation, evaluation of the second expression is skipped and it should **not** be decreased. Changing the order would cause the variable to always be decreased. I don't know what the semantics of this variable are.

An empty deque with 34 elements looks like another uninitialized memory access to me. This would also exp

[2022-04-26 14:14] tibor95 commented on #5375
min_fields_rotated should be decreased **always**, so switching will do no harm...

We should never check more fields than the size of deque on the beginning - otherwise we can run into situation that deque is empty and we are asking for front().

EDIT: deleted some rows

[2022-04-26 14:17] tibor95 commented on #5375
To explain more, if you have 15 fields, from which:

- 15 are no more valid (and are popped from deque)
- 1 is to be checked

we should be sure it is not going to check 16 fields, because after 15-th field the deque will be empty.

[2022-04-26 14:23] tibor95 commented on #5375
and min_fields_rotated might be renamed to "fields_to_check"
I can try to change and compile tonight

[2022-04-26 19:15] tibor95 commented on #5375
I created branch and linked pull requests - tested, should be OK now

[2022-04-27 14:51] #5375 closed, assigned to tibor95

[2022-04-27 18:53] MarkMcWire opened #5379 "Rev-Detects broken and game crash with line 'findspace=size:any radius:6 avoid:field saplingsearches:7':"
I've cloned a fresh copy of this repo and compiled it. Regardless for release or debug, i get this info

`This is Widelands Version 1.1~error-REVDETECT-BROKEN-PLEASE-REPORT-THIS (Release)`

I cannot start a game, because of:

`[00:00:05.251 real] ERROR: ##############################
[00:00:05.251 real] ERROR:   FATAL EXCEPTION: game class: Error while loading tribe 'amazons': [/home/linuxmint/Git

[2022-04-27 18:59] Noordfrees commented on #5379
Those are two completely unrelated errors.
- Regarding the second one (unable to start the game), please disable the Europeans add-on and try if it still happens.
- Regarding the revdetect, please paste the output of `./utils/detect_revision.py`

[2022-04-28 10:00] #399 closed, assigned to andy5995

[2022-04-28 15:21] #1710 closed, assigned to andy5995

[2022-04-29 15:49] matthiakl commented on #4917
I noticed that the `CmdNetCheckSync` enqueued during the startup sync is never executed. Then the `syncreport_pending` is never reset, so no subsequent sync reports are done.

https://github.com/widelands/widelands/blob/aa65c4105cedf0c3b1545e0b6f27b694516d1d33/src/network/gamehost.cc#L2009-L2010

Any ideas how to debug it or why this command is not executed?

[2022-04-30 07:21] #5064 closed, assigned to nobody

[2022-04-30 15:25] #4917 closed, assigned to Noordfrees

[2022-05-01 07:53] MarkMcWire commented on #5379
2.) Error occurs also without any addon
1.)

`python detect_revision.py
1.1~git25737[518bb83@master]
`

[2022-05-01 08:06] Noordfrees commented on #5379
Just to be sure, by disabling add-ons I mean you have to untick the add-ons' checkboxes in the add-ons manager – if the Europeans tribe is available in the game setup screen and you just don't use it for any player, then the add-on itself is still enabled.

Regarding the rev detect, please delete the build dir and paste the complete output of a fresh compilation. Maybe the CMake status messages co

[2022-05-01 08:11] MarkMcWire commented on #5379
I disabled the checkboxes, but error occurs regardless. If I delete the entire addons folder, than a new game starts.

If I reinstall and activate the addon from repository, the error occurs again. But with reference to amazon_jungle_preserver.

If I start entire new game with only barbarians tribe, error references to barbarians_ranger.

If I start entire new game with only empire tribe, error re

[2022-05-01 08:43] MarkMcWire commented on #5379
Problem #2 solved. I replaced 'descriptions:' with 'wl.Descriptions():' in rye field init.lua.

[2022-05-01 18:09] #4881 closed, assigned to matthiakl

[2022-05-01 20:51] hessenfarmer commented on #5379
you need to do this in all of the init.lua files of your addon to avoid such errors.

[2022-05-01 21:05] MarkMcWire commented on #5379
Done with Update 2.4.9.

[2022-05-01 21:14] MarkMcWire commented on #5379
[code]

[2022-05-02 07:34] matthiakl commented on #5379
[code]
I guess `linuxmint` is not your current username? You should login as this user, clone the repo into your own home directory or use the provided git command.

[2022-05-04 17:19] MarkMcWire commented on #5379
Your guess is wrong. Its my current username. However, the folder has been restored from a backup after my old pc was gone and I buyed a new one. And obviously the access rights are set incorrectly.

[2022-05-04 17:44] Noordfrees commented on #5379
Then that's probably the cause of the problem. The compile script should never (need to) be invoked with `sudo`!
Please call
[code]
on the folder with the wrong rights to adjust ownership, then try to compile again (**without** `sudo`).

[2022-05-04 18:38] Noordfrees opened #5387 "Daily PPA Failing to Build"
Re https://github.com/widelands/widelands/pull/5359#issuecomment-1114222800 & https://github.com/widelands/widelands/pull/5383

As of 0ce5fb604e9bf884b0c4956500b61282cf6ae869 the [daily PPA](https://code.launchpad.net/~widelands-dev/+recipe/widelands-daily) is still failing. The build logs seem to be unavailable currently.

@matthiakl @andy5995

---

By the way, the PPA also doesn't use Debian's m

[2022-05-04 19:03] matthiakl commented on #5387
[amd64 build of widelands 2:1.1~bzr10260-202205040401\~ubuntu18.04.1 in ubuntu bionic RELEASE](https://code.launchpad.net/~widelands-dev/+archive/ubuntu/widelands-daily/+build/23607664) succeeded, so I am not sure if this is really another bug in the code or something related to launchpad. Also the missing logfiles look like the builds did not properly started.
Do you have the possibility to retry

[2022-05-04 19:08] Noordfrees commented on #5387
Yes but it usually takes some time until it starts. I triggered just one new build for now: https://code.launchpad.net/~widelands-dev/+archive/ubuntu/widelands-daily/+build/23607678

[2022-05-05 00:45] tothxa opened #5389 "emp04 game from v1.0 saveloading error"
**Describe the bug**
Games of the emp04 scenario started and saved in v1.0 cannot be loaded in current development version. The scenario defined units cause a lua error.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game of emp04 in v1.0
2. Save it: [emp04_v1.0_wgf.zip](https://github.com/widelands/widelands/files/8628213/emp04_v1.0_wgf.zip)
3. Load the saved game in current develo

[2022-05-05 05:23] attet opened #5390 "Filename input box in save game menu doesn't have initial focus"
**Describe the bug**
When opening the menu for saving a game, the filename input box doesn't truly have focus.
The caret is blinking as if the box is focused, yet nothing happens when characters are typed. I need to click on the box before it actually starts accepting input.

Note that this behaviour does not occur if the save game menu is instead opened using keyboard shortcut (Ctrl+ S); in that

[2022-05-05 06:10] matthiakl commented on #5387
Same again: now kinetic builts successfully. Could it be a problem that the repo is too full with old packages? (20GB/8GB) Maybe launchpad only allows to store a single package per build matrix in this case.

The PPA description still lists trusty as published platform. Is this outdated?

[2022-05-05 07:36] attet opened #5391 "Second tutorial (military) won't make progress if player builds additional sentries"
During the military tutorial, one of the objectives is to destroy a specific sentry building owned by the player:
https://github.com/widelands/widelands/blob/0ce5fb604e9bf884b0c4956500b61282cf6ae869/data/campaigns/tutorial02_warfare.wmf/scripting/texts.lua#L223

However, the clearing condition for this objective checks for overall count of sentries:
https://github.com/widelands/widelands/blob/0ce5

[2022-05-05 08:06] Noordfrees commented on #5387
Okay, seems to have just been a transient LP error then.
The repo size limit has been exceeded since about forever :wink: we never had any problems with it though.
We'll know for certain after the next build…

Trusty is listed – along with a lot of other EOL releases – because the PPA contains a package that installs there, but they're no longer kept up to date. The official description text says

[2022-05-06 06:38] andy5995 opened #5395 "Last entry in debian/changelog is from 2018"
Does debian/changelog need updating? The most recent entry appears to be from 2018...

https://github.com/widelands/widelands/blob/0ce5fb604e9bf884b0c4956500b61282cf6ae869/debian/changelog#L39

[2022-05-06 06:44] #3144 closed, assigned to nobody

[2022-05-06 08:11] tothxa commented on #5395
Actually the whole `debian` directory is way outdated. I'm not sure whether anyone actually uses it, but in the current state it is probably more like a disservice to our users.

Unfortunately pulling the changes from salsa.debian.org wouldn't be of much use either, because they're stuck at Build-21. The packaging team is unresponsive too: there was no response to the Debian bug reports requesting

[2022-05-06 08:11] Noordfrees commented on #5387
Failing again:
[code]
(many more similar traces…)
https://launchpadlibrarian.net/600067122/buildlog_ubuntu-impish-amd64.widelands_2%3A1.1~bzr10261-202205060716~ubuntu21.10.1_BUILDING.txt.gz
Perhaps related to system-wide minizip?

[2022-05-06 08:16] Noordfrees commented on #5395
Our `debian` directory is used exclusively for our two PPAs (daily and stable). So it is updated whenever the daily builds fail on a new platform (every couple of Ubuntu release cycles or so; hasn't happened in a while). The changelog is not maintained though.

Release packaging for the official repos is done independently from the main project.

[2022-05-06 08:44] andy5995 commented on #5387
One unrelated and probably minor thing I noticed from that log is that the buildtype is specified twice in the cmake args. Set to 'None' in one place and 'Release' in the other.

But to (hopefully) fix the actual problem with the errors, I opened https://github.com/widelands/widelands/pull/5396

[2022-05-06 09:01] tothxa opened #5397 "cmake failure with system wide minizip"
**Describe the bug**
cmake fails if libminizip-dev is installed on my system. Not sure if caused by some customisation quirk or version dependent…

**To Reproduce**
Steps to reproduce the behavior:

0. Make sure compiling Widelands works
1. Install libminizip-dev
2. Create and enter new build directory
3. Call `cmake <widelands-srcdir>`
4. See error

**Expected behavior**
cmake should generate bui

[2022-05-06 09:52] #5389 closed, assigned to matthiakl

[2022-05-06 13:51] #5387 closed, assigned to nobody

[2022-05-06 14:35] klaus-halfmann commented on #5362
OK I contacted @gunchleoc and @SirVer via Email.
And I registered at itch.io and left some comments.

Lets see what happens.

[2022-05-06 18:50] SirVer commented on #5362
@klaus-halfmann @hessenfarmer I do not have access to the account at itch.io. However, we usually used widelandsofficial@gmail.com for these kinds of accounts, maybe a password reset can be triggered for that one.

[2022-05-07 01:43] attet opened #5400 "Debug builds on MSVC crash frequently due to invalid iterator access in DefaultAI::check_economies"
Trace:

 	widelands.exe!std::_Deque_iterator<std::_Deque_val<std::_Deque_simple_types<AI::EconomyObserver *>>>::operator*() Line 459	C++
 	widelands.exe!AI::DefaultAI::check_economies() Line 4027	C++
 	widelands.exe!AI::DefaultAI::think() Line 412	C++
 	widelands.exe!SinglePlayerGameController::think() Line 78	C++
 	widelands.exe!Widelands::Game::think() Line 836	C++
 	widelands.exe!InteractiveBas

[2022-05-07 22:48] attet opened #5402 "Support additional mouse buttons as shortcuts"
This would be useful when playing leisurely not wanting to reach for keyboard (or navigate the menus); for activating building spaces etc.

Sdl supports the fairly common 3 additional mouse buttons (SDL_BUTTON_MIDDLE, SDL_BUTTON_{X1,X2}). Currently seems like only the middle button is used in the code, but it's unmappable and used just for hiding windows/messages which I don't find very useful.

[2022-05-08 01:11] attet opened #5403 "Occasional is_initializer_thread() assert failure when dismissing a story dialog message that has been open for long"
The failing assert is:
https://github.com/widelands/widelands/blob/9f70cb532d669dcae01af1c365c63c791eae0e88/src/graphic/texture.cc#L161

Full trace:

 	[External Code]
 	UI::RenderedRect::~RenderedRect() Line 72	C++
 	[External Code]
 	LuaGame::LuaPlayer::message_box(lua_State * L=0x00000285929453c8) Line 544	C++
 	method_dispatch<LuaGame::LuaPlayer,LuaGame::LuaPlayer>(lua_State * const L=0x000002

[2022-05-08 06:08] attet opened #5404 "Save game load failure: barbarians_geologist has no program"
Got an unloadable autosave in this barbarians campaign lvl 2 map, loading fails with: barbarians_geologist has no program '':
[loaderror.wgf.gz](https://github.com/widelands/widelands/files/8646414/loaderror.wgf.gz)

**Version:**
 - OS: Win 11
 - Widelands Version: 1.1~git25748[90b6c65@pr/5401] (Release)

[2022-05-08 08:06] #4863 closed, assigned to nobody

[2022-05-08 08:28] Noordfrees commented on #5404
Confirmed. The actual error happens directly after the loading has completed:
[code]

[2022-05-08 16:30] matthiakl commented on #5404
This is a similar problem as #5400 and caused in `start_task_program`:
https://github.com/widelands/widelands/blob/b8bea72df4348cea4c8ee6bccb0bdbb107759434/src/logic/map_objects/tribes/worker.cc#L2094-L2099
`programname` is passed by reference to an element inside `stack_`, but `push_task` may invalidate it due to reallocation for emplacing an element into `stack_`.

[(source)](https://www.cpluspl

[2022-05-08 16:53] Noordfrees opened #5405 "`NOCOM` Comments in AI Code"
Current master has two `NOCOM` annotations in it:
https://github.com/widelands/widelands/blob/b8bea72df4348cea4c8ee6bccb0bdbb107759434/src/ai/defaultai.h#L189
https://github.com/widelands/widelands/blob/b8bea72df4348cea4c8ee6bccb0bdbb107759434/src/ai/ai_help_structs.h#L417

The keyword `NOCOM` is used to annotate development debugging statements that are really, really not meant to belong in maste

[2022-05-08 17:06] tibor95 commented on #5405
Yes, should be OK to remove

[2022-05-08 18:30] matthiakl commented on #5397
This should have been fixed by #5396. Can you please check again?

[2022-05-08 19:43] tothxa commented on #5397
Indeed, it works now. Sorry, it wasn't clear to me from the other bug and the PR discussion that it was the same problem. Thank you.

[2022-05-08 19:43] #5397 closed, assigned to nobody

[2022-05-09 00:18] attet opened #5407 "Keyboard game menu navigation is broken"
First, the expected behavior from Widelands 1.0; when I navigate to a menu item and press space, it changes from this:

To this:

The text changed from 'Show statistics' to 'Hide statistics', and this setting is reflected in game. All is well and good.

Now compare this with the current master. Similarly we start from:

By pressing space we get to this:

Notice that:

- the menu oddly gets quite a

[2022-05-09 01:01] attet commented on #5407
Just noticed that the overall main menu suffers from similar problems. E.g. in 'Single Player...' menu the space press makes Campaigns and Tutorials options disappear (and the whole menu is gone on second press):
![mainmenu1](https://user-images.githubusercontent.com/1911416/167323730-4cd256a0-9fe6-4d8e-a0ea-483c176e2f6e.png)
![mainmenu2](https://user-images.githubusercontent.com/1911416/167323732

[2022-05-09 07:20] Noordfrees commented on #5407
The reason for this is that pressing character keys now filters the dropdown for the text you enter. Pressing Space once filters for entries containing a whitespace, pressing it again filters for strings containing two whitespaces in a row.

On the one hand, this is consistent with the new filtering. On the other hand I also find myself occasionally trying to select an element with Space instead o

[2022-05-09 10:41] attet commented on #5407
I see. I found this behavior extremely confusing (not knowing about said filtering feature), especially as you can't actually open the menus (only the individual items) with enter. Juggling between space and enter in this way feels weird.

[2022-05-09 11:52] attet opened #5408 "Out of bounds container access in GeneralStatisticsMenu"
Happens in
https://github.com/widelands/widelands/blob/3c65ca457c7b1e62f5241baa6bdf3e6f4c8d3ec6/src/wui/general_statistics_menu.cc#L118 size of both my_registry_->selected players and i is 1

Trace:
[code]

**To Reproduce**
1. Start a new game, e.g. tutorial mission 2 works fine.
2. Press A to open the general statistics menu
3. Boom!

**Version:**
 - OS: Windows 11
 - Widelands Version: 1.1~git25

[2022-05-09 20:20] matthiakl commented on #5408
This is an actual code error:
https://github.com/widelands/widelands/blob/3c65ca457c7b1e62f5241baa6bdf3e6f4c8d3ec6/src/wui/general_statistics_menu.h#L41
Constructor signature: `vector (size_type n, const value_type& val, const allocator_type& alloc = allocator_type());`

All these bugs were unnoticed with gcc and clang, so I think we should encourage people to test the MSVC Windows dev version to

[2022-05-09 20:47] #5400 closed, assigned to matthiakl

[2022-05-09 20:56] matthiakl commented on #5407
No, it is not consistent: It only starts filtering on space or a key without a shortcut assigned. When the menu is open and you press `C` it toggles the census instead of filtering for c.
Also it is now confusing, that you have to open the menu from the toolbar with space, but select an entry with enter (opening with enter does not work).

[2022-05-10 14:07] #5404 closed, assigned to matthiakl

[2022-05-10 14:09] #5408 closed, assigned to matthiakl

[2022-05-10 14:26] attet opened #5410 "Jerky map dragging behavior / Switch to SDL relative mouse mode"
Dragging the map via right click has some peculiarities, at least on Windows.

First, the sensitivity is way too high compared to normal mouse movement. This seems to be caused by the mouse_compensate_warp_ mechanism described here: https://github.com/widelands/widelands/blob/master/src/wlapplication.cc#L1056
I'm sure it was added for a (still valid?) reason, but on windows it seemed to essentiall

[2022-05-10 14:44] Noordfrees commented on #5410
Since the system upgrade to Ubuntu 22.04 I'm also getting extremely fast mouse dragging. This did not happen on 21.10.

With your patch, mouse dragging is slower than it used to be (maybe half as fast). I did not observe any regressions regarding mouse warping.

[2022-05-10 14:46] tothxa commented on #5407
Since all hotkeys have their function now even during filtering, I think `Space` should have it too. But ultimately this should be decoupled somehow. Some ideas:
- disable filtering in menus
- use a hotkey to start filtering, and disable hotkeys and `Space` in filter mode
- implement the requested but postponed visual feedback for filtering (this is important in any case)

[2022-05-10 15:17] Noordfrees commented on #5407
+1

That raises the question of which dropdowns are menus and which aren't. The main menu dropdowns wouldn't need filtering, but what about the editor tool menu? It's also a menu, but big enough for filtering to be useful. I think all dropdowns should remain filterable for consistency.

-1 since the use of hotkeys is usually more important than filtering.
Or do you mean a *new* hotkey that puts th

[2022-05-10 15:22] attet commented on #5410
Thanks. The relative speed change is not necessarily important, as the dragging behavior could've been 'incorrect' before.
I.e. does a mouse movement that results in, say, 10cm of cursor movement on map when **not dragging** result in the same distance of map travelled when holding down drag? Also, I suppose all sorts of 'mouse acceleration' features from the OS may or may not influence the result

[2022-05-10 15:43] Noordfrees commented on #5410
I checked with xdotool (a tool to simulate user input events under X11), and the exact same mouse movement parameters result in the same distance whether or not the right mouse button is down. So the dragging distance is the same as the normal distance. However it nonetheless *feels* too slow given the considerable size of Widelands maps at normal zoom – now it takes you ages to get anywhere. It u

[2022-05-10 16:36] tothxa commented on #5407
In the worst case an extra argument could be added to dropdowns whether they need filtering. (default on, disable in main menus)

It's 11 entries, so I don't think it needs much filtering. I already said in https://github.com/widelands/widelands/pull/5365#issuecomment-1120274142 that they all need hotkeys though. (I guess I should just create a PR for this... :)

Yes.

Unfortunately yes too.

[2022-05-10 19:02] akupar commented on #5390
It looks like this is because the main menu dropdown disables SDL text input when it is closed on line [554](https://github.com/widelands/widelands/blob/b3541945910bd9bb4e1678433b8c3ee37ac441e9/src/ui_basic/dropdown.cc#L554) of dropdown.cc. If you remove that line, the issue with save game dialog (and the debug console) is gone, but I think removing it would cause some other issues (see #5281).

E

[2022-05-10 19:24] tothxa commented on #5410
Tested with my ancient system (Debian buster / oldstable with SDL 2.0.9). With master I can get it to jump with an external mouse if I move it really fast. With your patch it doesn't jump, but mouse acceleration is also disabled. Using the touchpad physical button, the slow travel from top to bottom of the pad makes the same map movement in both, but again, acceleration doesn't work with your patc

[2022-05-11 07:33] Noordfrees opened #5411 "Replace `directory` with `animation_directory` in animations"
---

All unit definitions that still use `directory` should be converted to use `animation_directory`.

Support for the old syntax should be kept around for add-ons compatibility, and in order to ensure that it keeps working both syntaxes should be covered in the testsuite.

[2022-05-11 09:22] Noordfrees commented on #5403
Detailed trace:
[code]

[2022-05-11 09:23] hessenfarmer opened #5412 "testsuite frequently failing with Make install / uninstall task"
for some latest builds our ubuntu 20 debug builds are failing in the make instal uninstall task

[2022-05-11 16:35] matthiakl commented on #5412
I guess this is caused by using parallel make during uninstall (@andy5995 added it in https://github.com/widelands/widelands/pull/5358/commits/9b9cd8ced7c1d601cf3c26b128a6f52394c415f7 (#5358)). Then multiple processes might try to remove a child and a parent directory at the same time or cause other race conditions.

[2022-05-11 20:51] attet commented on #4963
I'm curious about the progress on this.

FWIW, I got a huge gamespeed performance boost (in a situation where max_fps was set to 99 and actual rendering was happening at around ~40fps; previously the game would barely keep up at just about 1-2x speed, now 10x was okay) by setting https://github.com/widelands/widelands/blob/41a4d8a971392c785719613664a5d7c0580f2403/src/base/multithreading.cc#L159 to

[2022-05-11 21:09] hessenfarmer commented on #4963
well, I gave up on the Ai multithreading for the moment being, I could not prevent it to crash, and mutexing the relevant code was slower then the current implementation.
But if you get such performance boost the mutex might work with such configuration. However, I don't understand why your change would speed up the logic thread, as the logic thread has a different locking intervall which is much

[2022-05-11 21:15] attet commented on #4963
The locking interval is defined per mutex, not per thread. i.e. https://github.com/widelands/widelands/blob/41a4d8a971392c785719613664a5d7c0580f2403/src/base/multithreading.cc#L160 gets used only when locking kLogicFrame, not for kObjects https://github.com/widelands/widelands/blob/41a4d8a971392c785719613664a5d7c0580f2403/src/base/multithreading.h#L90-L91 - most contention I'm seeing is from kObje

[2022-05-12 06:07] hessenfarmer commented on #5412
I have no glue what is causing this. However it worked some days ago and now it doesn't master is failing since https://github.com/widelands/widelands/commit/b714bc04c2a479173c80c0bcc702380fe102b901 while the Ci was green before this merge. So my best gues would be something might have changed in the CI environment meanwhile.
Anyhow guessing around here might not be the correct method, so I propos

[2022-05-12 06:18] andy5995 commented on #5412
I agree. I've pushed a change to https://github.com/widelands/widelands/pull/5413

It only disables the uninstall; the install should be fine.

[2022-05-12 13:51] hessenfarmer commented on #5412
well going through the logs it seems that in debug configuration it is trying to remove the local/./ directory which it doesn not in release config and which it previously did not for the debug build as well.
correctly it would delete local instead directly

[2022-05-12 19:49] #5412 closed, assigned to andy5995

[2022-05-13 11:09] #5136 closed, assigned to nobody

[2022-05-13 16:16] frankystone opened #5418 "Does not compile using gcc version 12.1.0-1"
After updating my system gcc was also updated:

[code]

Compiling a release build does not work anymore after the update:

[code]

Compiling a debug build throws another warning as error:

[code]

Compiling using clang works.

[2022-05-13 16:25] Noordfrees commented on #5418
I'm adding g++12 to the CI in #5415 and fixing the compiler issues one by one there

[2022-05-14 15:27] MarkMcWire opened #5420 "Are the WARNINGS about barrack, well and hunters hut really necessary?"
[code]
Are these warnings even needed or can't we just turn them off to make the debug text a bit clearer and point to real errors?

Especially since the warnings for buildings belonging to fishermen, stonecutters, lumberjacks or foresters are obviously not necessary.

The background is also that I would like to remove my hunters from the tribe and instead want to use the piggery as a meat produce

[2022-05-15 00:00] tothxa opened #5424 "AI dismantles military site while also building same type right next to it"
**Describe the bug**
While testing the atl02 scenario, I've once caught the AI dismantling a fortress right on the border while building another one, so I was able to conquer this area by quickly building some guardhouses. Here's the save with the dismantle:
[atl2_ai_fortress.wgf.zip](https://github.com/widelands/widelands/files/8694058/atl2_ai_fortress.wgf.zip)

Later to the East of here it lost

[2022-05-15 11:25] tibor95 commented on #5420
They indicate that AI might not work properly. At the end they are just warnings, not errors.
AI is trying to regulate stocks of meat and water via regulating particular types of buildings. There is dedicated code and logic for this. If particular types of buildings does not exist - this code and logic will not have any effect. I do not say it will lead to disaster, but AI is built on presumption

[2022-05-15 11:31] tibor95 commented on #5424
This is controlled by genetic algorithm but I agree, it is suboptimal...

[2022-05-15 13:14] tothxa commented on #5424
I forgot to mention that this is the stage of the scenario when we can't attack each other, so I guess, from the AI's point of view we are allies. I don't know how that is handled, whether it can "think" that I won't take advantage of the situation. But even then, some of its dismantles resulted in immediate land loss because of already existing military sites on my side.

[2022-05-15 19:05] andy5995 commented on #5418
@frankystone Which Linux distro are you using?

[2022-05-15 19:09] frankystone commented on #5418
archlinux, a rolling release distribution.

Sorry for not mention it.

[2022-05-15 19:10] tibor95 commented on #5424
No, AI for sure do not consider the other player as ally. Probably it just concluded that it is safe to dismantle as there are no potential attackers. And new militarysite is being built in vicinity...
Definitely there is no such logic that would estimate when own site will be built and how fast the enemy can built any smallest site.
Another reason for aggressive dismantlement might be shortage of

[2022-05-16 06:12] jopewe opened #5425 "hiding priority slider crashes game"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
Upgrading a building and changing building material priorities. Trying to use Ctrl + click to increase priority crashes the game.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade a building
2. Click on the building again
3. hold ctrl and click on the arrow to increase the priority
4. Game crashes
5.

[2022-05-16 08:54] Noordfrees commented on #5425
Thanks for reporting :)
I opened a PR to fix this: #5426

[2022-05-16 09:29] hessenfarmer commented on #5420
well, the warnings are already different.
and as Tibor commented they indicate that the AI might not work properly.
For the barracks it is essential that there exists exactly one building, that recruits new soldiers.
for hunters and wells the warning states " .. one building at the most" which means we can have 0 or 1 but not more of them, cause the AI can't handle more then 1 building.

[2022-05-16 09:32] hessenfarmer commented on #5424
this is one very old bug see #1083 which I couldn't track down to its root cause completely.
due to being a duplicate to #1083 I'll close this one.

[2022-05-16 12:52] #5424 closed, assigned to nobody

[2022-05-16 17:47] jopewe commented on #5425
I'm testing the PR.

[2022-05-16 18:07] jopewe commented on #5425
Fix was successful from my point of view - can I approve the PR, or do I have to be a proper project member?

[2022-05-16 19:03] #5425 closed, assigned to Noordfrees

[2022-05-21 14:50] #5418 closed, assigned to Noordfrees

[2022-05-21 17:28] MarkMcWire opened #5427 "Minimum distance between warehouses"
The AI often has a habit of building warehouses next to each other when there is space. I noticed this in 3 out of 5 test games with the Europeans (version 2.8.x).

Maybe some kind of distance penalty should be built in the AI Code to prevent the AI from building one warehouse too close to another. Because that reduces the benefit and produces traffic jams. The minimum distance should be 1/3 or be

[2022-05-22 14:47] Noordfrees commented on #5410
IMHO we should fix this for v1.1 since the game is practically unplayable with the too-fast scrolling

[2022-05-22 17:41] frankystone opened #5428 "Using --editor at the command line let widelands hang and it does not respond"
As the header says: Trying to use `./widelands --editor` the start is exteeeemmmmllyyy slow and it seems the program does not respond anymore. Because there is no window at all for me, i can only kill the program.

**Version:**
 - OS: archlinux
 - Widelands Version: This is Widelands version 1.1~git25763 (e4da6d6@master) Debug

[2022-05-22 17:55] Noordfrees commented on #5428
Can't reproduce. Can you run the program in `gdb`, and while it hangs, press <kbd>Ctrl</kbd>+<kbd>C</kbd> and get a backtrace to see what's blocking? Perhaps several backtraces, to see whether it progresses at all after that, just slowly, or whether some function call is truly blocking?

[code]

[2022-05-22 18:30] frankystone commented on #5428
Attached the backtraces.
[bt.txt](https://github.com/widelands/widelands/files/8750012/bt.txt)

[2022-05-22 18:42] Noordfrees commented on #5428
[patch.txt](https://github.com/widelands/widelands/files/8750027/patch.txt)
Can you please apply this patch and see if any asserts are triggered, and what the last output before it starts to hang is?

[2022-05-22 18:49] frankystone commented on #5428
After applying the patch compilation is failing:
[code]

[2022-05-22 19:19] Noordfrees commented on #5428
Updated [patch.txt](https://github.com/widelands/widelands/files/8750112/patch.txt)
I guess it wants an explicit cast

[2022-05-23 06:28] frankystone commented on #5428
The last output is:
[code]

This happens only if the window is set to maximized. Using fullscreen or smaller window sizes it works as expected.

So to reproduce i need
1. to start widelands
2. switch to maximized
3. close widelands
4. try to start with `--editor`

There is no difference if i use the menu to maximize the window or if i use the maximize button of the window.

Using a two monitor set

[2022-05-23 08:58] hessenfarmer commented on #5427
should have been fixed / addressed by #5229
which version did you use?

[2022-05-23 09:00] hessenfarmer commented on #5420
@MarkMcWire if this answers the question please close the issue

[2022-05-23 16:01] #5420 closed, assigned to nobody

[2022-05-23 16:49] #5428 closed, assigned to Noordfrees

[2022-05-24 07:49] #5405 closed, assigned to nobody

[2022-05-24 08:40] epixinvites opened #5431 "Mysterious SIGSEGV"
**Describe the bug**
Program SIGSEGVs without warning

**To Reproduce**
Steps to reproduce the behavior:
I was playing the economy tutorial until the point where I was supposed to check the encyclopedia and see which wares I need to produce a soldier.

**Version:**
 - OS: Arch Linux (5.17.9-zen1-1-zen)
 - Widelands Version: Commit `7c7565278d858656f0807b1599eff665f6367d84`

**Additional context**

[2022-05-25 07:57] hessenfarmer opened #5433 "mysterious segfault in notifications_test"
In the Appveyor CI the Notifications test is failing for x64 builds.
I can reproduce this in my own MSYS installation. but only on a clean build if I build a delta the test is working.
Furthermore it is not failing in the Github CI using MSYS.

[2022-05-25 17:10] matthiakl commented on #5403
After some investigations I found the problem:
The rendered text of the message box is evicted from the TransientCache while the window is open (done in initializer thread). Then the shared_pointer to the rendered text object is only owned by the message box and therefore destroyed when closing the window. Because it is a modal window from the logic thread the `assert` in the destructor fails. Nor

[2022-05-25 21:11] hessenfarmer commented on #1083
maybe I have found some reason for this .
dismantling is dependent on miliotary loneliness
https://github.com/widelands/widelands/blob/20b0953a10742f5cab5d35cd98412f385a4e8bbf/src/ai/defaultai_warfare.cc#L986

so we should not count constructionsites for loneliness like in this line
https://github.com/widelands/widelands/blob/20b0953a10742f5cab5d35cd98412f385a4e8bbf/src/ai/defaultai.cc#L6095

@tib

[2022-05-26 08:55] tothxa commented on #3250
Here's another savegame from a testing game of atl02 development:

[atl02_recruit_in_far_port.wgf.zip](https://github.com/widelands/widelands/files/8777657/atl02_recruit_in_far_port.wgf.zip)

Right in the saved state one ship is carrying a scythe to the far port, while the other one brings back a newly recruited miner.

In this game I built the second port early, and from then on during the whole

[2022-05-28 10:06] jopewe opened #5434 "Crash after returning to game / campaign announcement has been displayed for several minutes"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
After an announcement (campaign information / next tasks) pops up and the game is ignored for a while, the game crashed when closing (click "ok") the announcement.
It was present in the last few builds as well, I was not sure of how often this actually happens - now I feel quite confident it is mostly reproducib

[2022-05-28 10:54] Noordfrees commented on #5434
Looks like #5403

[2022-05-28 10:56] jopewe opened #5435 "Persistent position of windows (e.g. news)"
Please fill out the relevant sections below and delete the rest.

**Is your feature request related to a problem? Please describe.**
I am frustrated that I always have to configure my in-game window layout per hand each and every time I run the game. It is especially jarring that the position of an open "news" window (on loading the saved game) is forgotten when closing and reopening the window. I

[2022-05-28 16:58] jopewe commented on #5434
Yes, duplicate. Somehow I missed the other one.

[2022-05-29 04:56] MarkMcWire commented on #5427
I use latest master from this repository. The problem occurs not everytime. Sometimes the AI build warehouses next to each other without a reason.

[2022-05-29 04:57] klaus-halfmann commented on #5435
Hello @jopewe welcome to widelands. Your feature can be implemented for single player games only, when using the save file. Compare to the shortcut commands (Ctrl- 1-9)
For Multilplayer games there is just one singe, shared save file. So when switching positions you would see the window position of other players.
So I vote for storing this in the config file.

[2022-05-29 08:55] Noordfrees commented on #1603
No replies here for a long time, closing

[2022-05-29 08:55] #1603 closed, assigned to nobody

[2022-05-29 08:56] #1702 closed, assigned to Noordfrees

[2022-05-29 10:00] #5403 closed, assigned to matthiakl

[2022-05-29 10:00] #5434 closed, assigned to nobody

[2022-05-29 11:51] hessenfarmer commented on #5427
Well, currently we have a distance_malus value which is a measure for distance of a field to the nearest warehouse. It is used to increase the priority of a warehouse on more distant fields.  However regions near the border are discouraged, which might lead to little spots left to build a needed warehouse.
can't tell without replays or at least a savegame. As you made the observation with your add

[2022-05-29 18:14] jmoerschbach commented on #5407
sry, I haven't been around for a while...
Hope to have time again for widelands very soonish :)
I will have a look into why hotkey "space" is not triggered but instead directly affects the filter.
Selecting an item with "space" gets complicated as soon as "space" is also assigned as shortcut to another item... (imho in the end that means "space" cannot be assigned as hotkey if we want to select it

[2022-05-29 19:30] jopewe commented on #5435
Hi @klaus-halfmann and @Noordfrees ,
thanks for the welcome! And thanks for considering this request :)

The game is coming along very well, I am really impressed by the changes in comparison to the look and feel of the version that ships with Debian (21-1).

[2022-05-29 21:45] tothxa commented on #5407
You can change the background colour too, as already done for selection highlighting. That's visible for space as well.

[2022-05-30 19:33] tothxa commented on #5390
I think an important aspect of this is that the caret shouldn't be blinking (best it should be hidden) when a text input field doesn't have focus. Or should this be a separate issue?

[2022-05-31 08:18] tibor95 commented on #1083
The logic here is that 'one day' the constructions will change to full militarysite and there will be soldiers.
It would need to investigate the code, but if military_lonelines is used also for decisions about building new military sites, it should consider/involve current constructionsites

[2022-05-31 08:23] tibor95 commented on #5427
Also do not forget - when second warehouse is built (construction starts) the territory is as is. After some time when you look at the map and conclude that it was not well placed...

[2022-05-31 08:51] hessenfarmer commented on #1083
military_loneliness is used in 3 of 69 scoreparts to determine the Miltiry score of a field, which is used to determine whether to build a Militarysite.
I would give it a try to not count condtructionsites for military loneliness as the effect for construction decisions can be managed by training genetic algorithm.
Furthermore I believe we should only consider actual military strength rather then

[2022-05-31 10:54] tibor95 commented on #1083
"give it a try" - I think this is one-way road. We can change the code, train, and than wait a year for feedback. I do not believe we will revert it back ever.
I will look into code

[2022-05-31 11:13] tibor95 commented on #1083
What about changing this to:

[code]
This will make sure that we will not stay without any soldier nearby

[2022-05-31 11:24] tibor95 commented on #1083
As for considering construction sites for military_loneliness - what about a compromise - use square root of that dist/radius number? This will decrease the impact of such constructionsites

https://github.com/widelands/widelands/blob/20b0953a10742f5cab5d35cd98412f385a4e8bbf/src/ai/defaultai.cc#L6096

[2022-05-31 14:45] hessenfarmer commented on #1083
well, as should be dismanteled is considered as well. Maybe it is a good idea to add some logging here and analyze first what really causes the issue.
But I like the suggestion for can_be_dismanteled

[2022-05-31 14:57] tibor95 commented on #1083
But drawback for that can_be_dismantled could be that we might accumulate empty militarysites waiting for soldiers 'forever' and never be dismantled if there are no stationed soldiers nearby.

[code]
and this?

[2022-05-31 15:27] akupar commented on #5390
It actually does have focus. It just doesn't get input, because the SDL text input is disabled.

[2022-05-31 15:55] hessenfarmer commented on #1083
if a Military site is not manned it is better to wait for soldiers rather then dismantle, unless we are far from the enemy.

[2022-05-31 18:01] tibor95 commented on #1083
It depends. If we have 4 unmanned militarysites close together....

[2022-06-01 05:36] tibor95 commented on #1083
also military_loneliness is specific because it consider also distance to other militarysites, it would be good to have such info also for future militarysites. Maybe split it to two - one for finished, and one for in construction.
We are just before 1.1 - I would not touch this but look at this afterwards

[2022-06-01 09:45] hessenfarmer commented on #5379
can this be closed?

[2022-06-01 11:07] hessenfarmer commented on #1083
as this is one of the last big AI bugs, and a most annoying one i would prefer to have a solution in at the earliest opportunity if we find one

[2022-06-01 12:01] tibor95 commented on #1083
You know, we do a change, train and let players test it - can take some time to be sure that new status is better than old. Improvement in one aspect can bring problems elsewhere. So this is why I would prefer not to be under time pressure. Of course I can prepare something next week

[2022-06-01 13:51] hessenfarmer commented on #1083
Fully understood. So for a quick start we should first add some logging showing the numbers of all variables leading to can_be_dismanteled and should_be_dismanteled.
Might be a good idea to add the variables as well, that you proposed above. In General I like to make the decision to dismantle better (as you proposed) by taking more parameters into consideration. So any side effect would be minimis

[2022-06-01 14:25] tibor95 commented on #1083
OK. But I do not see it as a few hours of work only fix. I will work on it, but probably next week only

[2022-06-02 18:39] akupar opened #5440 "Inconsistent enter/space use in keyboard navigation"
**Describe the bug**
When navigating without mouse, you sometimes have to select a control with space and sometimes with enter key.

**To Reproduce**
Steps to reproduce the behavior:
1. In any game open save game.
2. Enter a file name
3. Use tab to focus to 'Cancel'
4. Press enter

This saves the game. To select a button you need to use space.

1. In any game open a menu.
2. Select any item and pr

[2022-06-05 20:37] jmoerschbach opened #5444 "Clearing dropdown filter via backspace not working for special characters"
**Describe the bug**
Clearing dropdown filter via backspace not working for special characters

**To Reproduce**
Language is German
1. Click Start "new random game"
2. Open "Clima" Menu and filter via "ä" for "zufällig" - all fine
3. Hit backspace to remove "ä" as filter -> only entries with Umlaute are displayed - a second backspace is needed to clear the filter completely and show all entries as

[2022-06-07 16:49] #5379 closed, assigned to nobody

[2022-06-07 17:39] tibor95 commented on #1083
I created the branch, linked it - I am not sure if you will see difference, pls check.

[2022-06-09 22:38] tothxa opened #5447 "destruction_blocked = true is not stored in savegames"
**Describe the bug**
Setting the `destruction_blocked` propery of a building to `true` by scenario scripts is ineffective after the game is saved and reloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new game with the 3rd scenario of the Frisian campaign
2. Check the window of the port: destroy and dismantle buttons are not present
3. Save the game
4. Load the saved game
5. C

[2022-06-11 20:29] #5444 closed, assigned to nobody

[2022-06-11 20:40] jmoerschbach opened #5448 "strings to-lower does not work for non-ascii characters"
**Describe the bug**
The to_lower function https://github.com/widelands/widelands/blob/d7d22c505d947cadb62198f6a557827aeba2503b/src/base/string.cc#L23 does not work for non-ascii (utf) characters like german umlauts. This is for example visible when filtering dropdowns

**To Reproduce**
Steps to reproduce the behavior:
1. Language is german
2. Start creating a new random game
3. Click on clima dro

[2022-06-12 21:35] #727 closed, assigned to hessenfarmer

[2022-06-14 16:38] #5447 closed, assigned to Noordfrees

[2022-06-15 06:45] #5390 closed, assigned to nobody

[2022-06-15 18:56] akupar commented on #5448
I agree this would be better, but I think it's not worth doing if it slows the game down. I looked up all the places where to_lower is used. It doesn't seem to be used with localized texts. Here are all the uses:

`xxx/widelands$ grep -Rin to_lower ./src/`
[./src/base/string.cc:23](https://github.com/widelands/widelands/blob/master/src/base/string.cc#L23):`std::string to_lower(const std::string& s

[2022-06-18 16:18] treefrog00 commented on #2851
After seeing the above comment that you can set the font sizes via lua, I had a look. This seems to work to make everything bigified:

- find where the data files are installed. On my ubuntu system they're in `/usr/share/games/widelands/data`
- - open i18n/fonts.lua and change `size_offset` in the `default` section. I went with 5. You could go bigger/smaller.

I played for about one minute and the

[2022-06-18 16:19] treefrog00 commented on #3392
Not sure if this works as a solution for 4k monitors, but I posted a comment here about how to manually set the font size bigger: https://github.com/widelands/widelands/issues/2851#issuecomment-1159495847

[2022-06-19 01:07] tothxa opened #5453 "Stuck at "Game ending - please wait" when loading a game from inside a game"
**Describe the bug**
Since #5421, loading a game directly from a game is broken. When the game to load is selected and OK is clicked the Widelands window is grayed out and the "Game ending - please wait" message is shown, but it never goes away. The controls of the game loading dialog underneath the graying out still respond to mouse clicks and key presses. If cancel is clicked, the loading dialog

[2022-06-19 05:22] Noordfrees commented on #5453
Confirmed. Does #5419 change the behaviour?

[2022-06-19 07:20] tothxa commented on #5453
It doesn't. Sorry, I forgot to mention it in the OP.

[2022-06-20 06:47] HeHaWN opened #5455 "Buildingstatistics window too short"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
the length of the window is limitated. Using european-tribes.wad the overview of medium size buildings is not complete

**To Reproduce**
Steps to reproduce the behavior:
1. type 'b'
2.  Scroll down to buttom
3. See limitation of windows length

**Expected behavior**
the window length should be extended

**Screen

[2022-06-20 07:11] #2148 closed, assigned to Noordfrees

[2022-06-20 08:27] Noordfrees opened #5456 "Toolbar buttons remaining perm-pressed after window closes"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
The toggle buttons in the main toolbar stay pressed after the window is closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new singleplayer game
2. Click on the toolbar's Objectives button. The Objectives window opens, and the toolbar button remains perm-pressed to indicate this.
3. Click on t

[2022-06-20 10:42] Noordfrees commented on #5455
Boxes are arbitrarily limited to be no larger than the screen resolution at creation time:
https://github.com/widelands/widelands/blob/6deb23cf9f15ed3bd7c9596cd3a42a871309b774/src/ui_basic/box.cc#L39-L40

This can be overridden by explicitly setting a larger maximum size, but IMHO a better (and more universal) solution would be to make them scrolling automatically when the size limit is exceeded,

[2022-06-22 15:43] matthiakl commented on #5433
Interestingly I cannot reproduce it on a local setup. My guess now is, that some cmake/gcc internals are slightly different on the systems. I currently don't have much time, but trying some things on [5433-appveyor_segfault](https://github.com/widelands/widelands/tree/5433-appveyor_segfault) branch.

[2022-06-22 20:26] hessenfarmer commented on #1083
recent PR's have improved the behaviour of the AI in this topic. However the algorithm was and is dependent on enemy fields in the vicinity. The definition of enemy is directly dependent on whether a player is_hostile(). This function is dependent on whether a player is allowed to attack the opponent. In Scenarios this is influenced by scripting by set_attack_forbidden(bool).
But if the change of

[2022-06-22 20:31] Noordfrees commented on #1083
If two players are meant to be truly allies they should be in the same team. If two players are only forbidden from attacking each other they're still competitors and definitely not friends. So how about replacing the AI's checks for `is_hostile()` with checks for
[code]

[2022-06-22 20:55] hessenfarmer commented on #1083
well it is not an AI definition yet as we use the property from player.cc

https://github.com/widelands/widelands/blob/a43d58fdcee287a1883009d7491009b168165e6c/src/logic/player.cc#L338

[2022-06-23 06:37] tibor95 commented on #1083
So we have three possible states here:
1. just enemies
2. the same team
3. not in team but cannot attack

I wonder if team membership can change during the game. I think AI does not expect such changes in this area during play. At least it is not intentionally written with this in mind

[2022-06-23 09:05] Noordfrees commented on #1083
Before attack bans were implemented, fri02 used a team change halfway through the scenario and the AI was then adapted to be able to handle this.

[2022-06-23 09:44] hessenfarmer commented on #1083
the main problem is that with scripting we can create a lot of situations which might lkead the AI in the wrong direction. Making the AI dealing with every thinkable state might be an unachievable task. For the moment I just wanted to record the result of my analysis to not forget about it.

Currently the the AI does not know about the three states but only whether a player is_hostile or an ally.

[2022-06-23 20:09] SirVer commented on #5211
The original poster reached out to me via email again, which makes me think that the problem is maybe not in the translations, but somewhere related to a asian OS?

[code]

[2022-06-25 14:59] MarkMcWire opened #5458 "More road types with various number of carriers"
In addition to the standard road with 1 carrier, there is also the "busy" line with several carriers. Since an update a few months ago, 3 or more carriers can now be placed on this upgraded road.

It would now be desirable if there were still gradations in between. So we can define several road types for a tribe with various maximum numbers of carriers.

Possibly we could also introduce constructi

[2022-06-25 15:02] MarkMcWire opened #5459 "Terrain gained by diking cannot be built on with buildings."
Problem: Terrain gained by diking cannot be built on with buildings. I hope that we can change that.

[2022-06-25 15:03] MarkMcWire commented on #5427
The problem is destinct to my European tribe addons. So I close this topic and maybe I can make a solution myself.

[2022-06-25 15:03] #5427 closed, assigned to nobody

[2022-06-25 15:10] Ahmad-fadl opened #5460 "Question to the game_structure"
Hi,
This is rather a question than a Bug.
I'm Trying to extract a kind of wares' hierarchy out of the game for example (i assume ) to produce a helmet we need iron or some other wares. I need to extract this kind of relationships between the wares.
I looked in the lua's data and did't find any buildcost for the wares (i only found buildcost for buildings or workers and so on).
In the Class ware_de

[2022-06-25 17:48] frankystone commented on #5460
The buildcosts for wares are stored in the programs table (and sub tables) of a production site. E.g. for an Empire Helmet it is:
https://github.com/widelands/widelands/blob/b312d544d96a031f47fbda1af827629411557aeb/data/tribes/buildings/productionsites/empire/armorsmithy/init.lua#L68-L91

The `produce_armor_helmet`-table starting at line 80 the keyword `consumes` shows how many wares of each kind

[2022-06-25 19:06] Ahmad-fadl commented on #5460
This was helpful thanks for clarification.

[2022-06-25 19:06] #5460 closed, assigned to nobody

[2022-06-25 20:06] Noordfrees commented on #5458
Sorry but this is most likely not going to happen. This would be a huge refactoring because lots of code pieces assume that roads are either Normal or Busy with no third state, and wares for road upgrades are also far from easy. And neither of the two features you're suggesting would be used by the official tribes which means that regressions (which I expect would happen frequently there) would be

[2022-06-27 12:21] hessenfarmer commented on #5459
can you provide a screenshot.
I assume you used your addon, does the addon have special terraforming tables?

[2022-06-29 13:26] spth opened #5463 "update.sh script no longer working"
Since a few months, the update script hasn't been working for me any more.
Historically, by invoking ./update.sh I could update the game binary (it used to fetch the current version from git, and then recompiled anything that had changed).

Now I see something like.:

[code]

I've seen this bug on multiple systems (all of them Debian GNU/Linux on amd64).

Though I wonder if the bug is really in up

[2022-07-02 06:34] jcy1001 opened #5464 "cant run new a game after setup"
[00:16:22.323 real] ERROR: ##############################
[00:16:22.323 real] ERROR:   FATAL EXCEPTION: Error while loading tribe 'barbarians': [../src/scripting/lua_errors.cc:22] tribe barbarians: Failed adding immovable 'wheatfield_tiny': [../src/scripting/lua_errors.cc:22] wheatfield_tiny: Error in immovable program main: Error reading line 'animate=idle duration:30s': basic_string::append
[00:

[2022-07-02 07:41] Noordfrees commented on #5464
- Which add-ons are enabled?
- Which map, which tribes, and which starting conditions are you using?
- Did it work previously and stopped working now, or is this a fresh installation and has never worked?

[2022-07-02 07:45] jcy1001 commented on #5464
no add-ons , I just fresh installation , I try select single map player , editor ,all cant run , I try resinstalll ,but still cannt run

[2022-07-02 17:25] frankystone commented on #5464
- An which widelands version are you using?
- Which operating system?
- Is this the first installation of widelands?

The bug report template is there on purpose...

[2022-07-02 17:30] frankystone commented on #5463
Does this line works when copying it into the terminal?

[2022-07-02 18:24] spth commented on #5463
No, it gives me the same error: `Call -j/--cores with a number, e.g. '-j 16`'.

[2022-07-02 19:03] frankystone commented on #5463
Since it works for me, the only thing i can think of is that the regular expression in line 203

https://github.com/widelands/widelands/blob/791a1b934e7fe3c5501ae94dab82fd5ef480820c/compile.sh#L202-L205

is maybe interpreted differently on your system? What is the output of `echo $SHELL`?

Just guessing...

[2022-07-03 00:38] jcy1001 commented on #5464
version 1.0
windows10
first installtion

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月3日(星期天) 凌晨1:25
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [widelands/widelands] cant run new a game  after setup (Issue #5464)

An which widelands version are you using?

Which operating system?

Is this the first installation of widelands?

The

[2022-07-03 06:18] spth commented on #5463
$SHELL is bash, but compile.sh has #!/bin/sh, and /bin/sh is dash.

[2022-07-03 07:09] tothxa commented on #5463
I have `dash` for `/bin/sh` too, and `--cores 15` is recognised as a number. (I get the message of more than max cores, so it should work if I had more than 10 cores)

[2022-07-03 08:15] frankystone commented on #5464
I guess you are playing with Chinese language?

Please try to set "English" as language in `Options→Interface` and check if the error still occurs.

Maybe related: #5211

[2022-07-03 08:18] jcy1001 commented on #5464
yes thanks bro

发自我的iPhone

------------------ Original ------------------
From: kaputtnik ***@***.***&gt;
Date: Sun,Jul 3,2022 4:15 PM
To: widelands/widelands ***@***.***&gt;
Cc: jcy1001 ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [widelands/widelands] cant run new a game  after setup (Issue#5464)

I guess you are playing with Chinese language?

Please try to set "English" as language in

[2022-07-05 16:34] frankystone commented on #5464
I think this is a duplicate of #5211

@jcy1001 : If the Error is still present with other non-asiatic languages, please reopen this bug report.

[2022-07-05 16:34] #5464 closed, assigned to nobody

[2022-07-05 23:13] tothxa commented on #5463
I think I've found the reason. `[^…]` in globs is actually a GNU extension, POSIX only allows `[!…]`. (why on Earth did they make it differ from regexs???) Looking at the changelog since buster/oldstable (which I have) they have something about disabling glob(3) from glibc, though for different bugs. This may explain why it works (erroneously) for me.

[2022-07-06 09:11] jopewe opened #5466 "Crash on dismantle site"
When dismantling many sites the game eventually crashes.
Linux (Devuan), version commit a44e8abaf6e7fcfd71ee9a590b3a47530d2692ef

Description:
When dismantling many sites (cleaning up the economy...) in quick succession, the game eventually crashes. I cannot pin point it to the current version, as I have never dismantled so many sites in such short time.

Crash report:
AddressSanitizer:DEADLYSIGNA

[2022-07-09 08:54] Noordfrees opened #5468 "Highlight Geologist Work Area Radius"
https://www.widelands.org/forum/topic/5601

When mousing over the Send Geologist button in the fieldaction window, highlight the geologist's work area radius.

[2022-07-09 09:05] #5453 closed, assigned to Noordfrees

[2022-07-09 09:06] #5463 closed, assigned to nobody

[2022-07-09 16:30] svenstaro opened #5469 "Error loading tribes/initialization/atlanteans/images/flag_00_pc.png: Unknown pixel format on sdl2_image 2.6.0"
Widelands 1.0 crashes when compiled and ran against sdl2_image 2.6.0. Startup says this:

[code]

This is on Arch Linux with gcc 12.

It works fine when I go back down to sdl2_image 2.0.5.

sdl2_image 2.6.0 is compiled with these options:
[code]
so it definitely has PNG support.

EDIT: So it appears sdl2_image defaults to stb-image. See [CHANGELOG](https://github.com/libsdl-org/SDL_image/releases/

[2022-07-11 06:41] tibor95 commented on #3099
While I do not know how to fix roads buildings by AI directly, but I think we can improve two things:

- stopping/dismantling fishers+hunters (fishers mostly)
- stopping/dismantling farmers (especially normal farmers - space consumers with no inputs and single output)

The roads are congested mainly with theirs outputs.

[2022-07-14 19:13] jopewe opened #5470 "More problems with the scenario dialogue, like issue #5403 - found in in Fri02"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
I found another occurrence similar to
"Occasional is_initializer_thread() assert failure when dismissing a story dialog"
https://github.com/widelands/widelands/issues/5403

The campaigns I played worked, except for Frisian #2 "an icy welcome"

**To Reproduce**
Steps to reproduce the behavior:
1. Play the Fri02 s

[2022-07-16 18:55] jopewe commented on #5470
Ok, I did edit the scenario lua script and commented out the first dialogue of Murilius - then everything seems to work. It seems that after five message boxes in short succession something weird happens. Whatever happens does not occur when the messages are interrupted by something else (l. 62-94 in data/campaigns/fri02.wmf/scripting/mission_thread.lua). I suggest a workaround for FRI02 for the c

[2022-07-18 10:49] jopewe opened #5473 "Fri02: Extend timount in l. 109, "The empire is angry, because you expanded...""
**Is your feature request related to a problem? Please describe.**
I have many military sites planned and under construction when I encounter Murilius / The Empire. He forbids me to expand my realm further "to save my precious resources". The game then checks whether you add military sites to your realm. I guess one should try and halt construction of sites - but I missed one that was almost done

[2022-07-18 12:35] hessenfarmer commented on #5473
Well actually the timeout is in line 109 and it is 30 seconds which is the intervall for one building step. What Interval would you deem appropriate? I think we could increase it a bit but not to far. The effect would be that for an unknown interval the player would be allowed to increase its territory and afterwards he wouldn't.

[2022-07-18 14:04] matthiakl commented on #5433
Since the latest update, all configurations fail with the same error...

[2022-07-18 18:00] jopewe commented on #5473
Dang, I looked at the wrong "sleep"... (there is even a comment in the .lua that tells me which one it is...) - fixed the title.

I understand your argument - extending the interval too far would lead to really weird and unintended behaviour (also exploity stuff, though one could just mess with the lua anyway). I stopped playing RTS games way back around when the Starcraft expansion came out, so I

[2022-07-19 08:34] hessenfarmer commented on #5433
This is hard to track down as it is only happening sometimes in my own Msys2 environment. and never in the github environment

[2022-07-22 15:39] Noordfrees commented on #4907
There's a very simple repro case, see https://www.widelands.org/forum/post/38995/

1. Enable the White Summer add-on
2. Start a new SP game on an official map
3. Build some foresters, speed up, wait a bit
4. White Summer trees get planted
5. Save and reload → `Unknown map object type 'linden_summer_old'`

Note that loading the savegame will fail even if the add-on remains enabled.

Retargeting as

[2022-07-23 20:43] hessenfarmer opened #5474 "Using in game help crashes the game on windows"
While testing Fri04 I tried to watch the help of the tribes Immovables using the mousewheel I scrolled and the game crashed.
I could reproduce this from the attached savegame.

here is the backtrace from gdb:
#0  0x00007ffa2718f593 in ntdll!RtlIsZeroMemory ()
   from C:\WINDOWS\SYSTEM32\ntdll.dll
#1  0x00007ffa27198352 in ntdll!RtlpNtSetValueKey ()
   from C:\WINDOWS\SYSTEM32\ntdll.dll
#2  0x00007

[2022-07-24 15:53] #5474 closed, assigned to Noordfrees

[2022-07-27 07:55] #4813 closed, assigned to nobody

[2022-07-27 15:32] #5459 closed, assigned to nobody

[2022-07-29 17:19] aggro80 opened #5478 "Neptune's revenge, campaign objective unclear"
Neptune's revenge, campaign objective unclear. Tested with nightly build.

Objective text asks to convert wheat into 50 wool, but does not give any help in how that is done. The text should indicate that player needs to build a sheep farm to do so. This is especially misleading because the scenario does not show sheep farm in building menu at the start and there is only one location on the map whe

[2022-07-29 18:22] Noordfrees commented on #5478
The sheep farm is explained at large in the campaign dialogue:

Later:

How to launch an expedition is explained in detail in the 3rd tutorial. One shouldn't play the campaigns before they've completed those.

[2022-07-29 21:51] aggro80 commented on #5478
I don't read the dialogue because I assume the important stuff is in the objectives. I think that just adding "sheep farm" to the objective text would fix the issue I experienced.

I also skipped the tutorials, because I have rough understanding how the game works, but I did not expect the expedition to be in the game.

I agree with you that if the player follows the correct order and protocol, no

[2022-07-30 13:04] klaus-halfmann opened #5479 "Widelands master fails to start with frisians/images/flag_0.5_pc.png: Unknown pixel format on macOS"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

Just compiled widelands on macOS and got this:

libc++abi: terminating with uncaught exception of type ImageLoadingError: [.../src/graphic/image_io.h:40] Error loading tribes/initialization/frisians/images/flag_0.5_pc.png: Unknown pixel format

**To Reproduce**

* Compile
* start

please note the failure to rea

[2022-07-30 13:12] frankystone commented on #5479
Possibly duplicate of #5469

[2022-07-30 13:12] klaus-halfmann commented on #5479
Some Version from https://github.com/widelands/widelands/releases/download/latest/Widelands-daily-debug-clang.dmg
shows the same Problem
Did I miss some switch in Libraries latest?

[2022-07-30 13:21] klaus-halfmann commented on #5479
@frankystone indeed I am on sdl2_image 2.6.0
brew info sdl2_image
sdl2_image: stable 2.6.0 (bottled), HEAD
Library for loading images as SDL surfaces and textures
https://github.com/libsdl-org/SDL_image
/opt/homebrew/Cellar/sdl2_image/2.6.0 (12 files, 450.5KB) *
  Poured from bottle on 2022-07-19 at 17:40:38
From: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/sdl2_image.rb
License: Z

[2022-07-30 13:31] klaus-halfmann commented on #5469
Do we have a Bug in  sdl2_image  2.0.6?

[2022-07-30 14:56] Noordfrees commented on #5469
Possibly related? https://github.com/libsdl-org/SDL_image/issues/294

[2022-07-31 10:14] klaus-halfmann commented on #5479
brew does not allow me to go back :-(

[2022-07-31 10:56] Noordfrees commented on #5433
Can you try to run the tests in a debugger and get a backtrace for the segfault?

[2022-08-01 06:53] hessenfarmer commented on #5478
Not reading the dialogues will resut in missing important hints. in other scenarios as well as in neptunes Revenge we put some good hints for the player in the dialogues to make reading them a benefit. I took us some effort to write them so we wanted them to be read.
Furthermore the info how to get cloth from wool, and wool from wheat is in the tribes encyclopedia as well. Lokking in the wares tab

[2022-08-01 10:40] jopewe commented on #5470
I have no idea why, but this is no longer reproducible for me. I tried it in the two branches above where it did crash several times. Now - in the current one - 5750147a3445bbaeea7dfa8b07ecca0031642460 it no longer happens (tried it twice).

It is weird. I will now close this issue, as I can no longer reproduce this one. Sorry for the confusion.

[2022-08-01 10:40] #5470 closed, assigned to nobody

[2022-08-01 10:47] Noordfrees commented on #5470
These `is_initializer_thread` assert bugs are never specific to any campaign message – they are race conditions that appear only rarely and in corner cases and then randomly. The only way to investigate them is to get a full backtrace; without one it is unfortunately impossible to do anything about this.

Edit: It's also possible that the cause was actually fixed as a side-effect of 5750147a3445bb

[2022-08-01 10:54] jopewe commented on #5470
I'll look into both of those, I'll try the respective commits and enable the backtrace. Still weird that I had them several times in the same dialogue :)
Thanks for the patience and the explanation.

[2022-08-01 10:57] Noordfrees commented on #5431
Judged from the backtrace, I believe this is actually another aspect of #5474 and was fixed by #5475

[2022-08-01 10:57] #5431 closed, assigned to nobody

[2022-08-01 13:58] #5466 closed, assigned to Noordfrees

[2022-08-01 14:00] tothxa opened #5483 "Saveloading error on emp04 mission specific units again"
**Describe the bug**
v1.0 savegames of emp04 fail to load with latest master

**To Reproduce**
1. Start a game of emp04 in v1.0
2. Save it: [emp04_v1.0_wgf.zip](https://github.com/widelands/widelands/files/8628213/emp04_v1.0_wgf.zip)
3. Load the saved game in current development version.
4. See error

**Expected behavior**
Game should be loaded and be playable.

**Version:**
a7704bd / first notice

[2022-08-01 14:50] aggro80 commented on #5478
Thank you, that sounds good to me.

[2022-08-01 16:31] Noordfrees commented on #5483
Not *again*! ;)

[2022-08-01 17:00] Noordfrees commented on #5483
I added a fix to #5480 in the hope it won't cause *other* regressions ;)

[2022-08-01 18:13] Noordfrees commented on #5479
Closing as duplicate of #5469

[2022-08-01 18:13] #5479 closed, assigned to nobody

[2022-08-01 18:15] Noordfrees commented on #5469
SDL_image released a point release 2.6.1 to fix this bug. Can someone please check whether the bug is gone with 2.6.1 and if so close this issue?

[2022-08-02 13:57] klaus-halfmann commented on #5469
Homebrew just Upgraded to: sdl2_image--2.6.0_1  now master starts up again, will palyn some testgame tommorow but I think we cal close this. Or do wen need another test using Linux?

[2022-08-02 15:04] #5469 closed, assigned to nobody

[2022-08-03 07:25] klaus-halfmann opened #5485 "Master fails to save File in multiplayer mode with unclear focus"
**To Reproduce**

* Open attached File from the Muliplayer Menu and try to save it, after playing a few seconds.
* Notice: that it still still possible to select something during the attempted save.
* Notice that Network connection is lost after a while.
* After pressing Escape Game seems to continue in the Background
* Debug Output does not indicate any real attempt to save.
* Notice that Autosav

[2022-08-03 13:16] hessenfarmer commented on #5485
the debug shows that the europeans addon is activated, which changes the tribes immovables of the tribes. Just for sorting things out is this reproducible with the addon disabled? was the savegame created without the addon?

[2022-08-03 17:06] aggro80 opened #5486 "Crash during normal gameplay, src/base/format/tree.h:269] Too few arguments"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I started playing the Atlantean campaign
2. After 13 minutes of playing, I pressed "s" key and the game crashed.

**Version:**
 - OS: Ubuntu 20.04.4 LTS
 - Widelands version 1.1~bzr10334-202207290846 Release

[2022-08-03 17:10] aggro80 commented on #5486
Re-tested the savegame with latest nightly version and the savegame does not crash with it, so I can't reproduce the issue. I leave the bug if you want to check the code if I got hit by some random error.

Perhaps this commit fixed it?
https://github.com/widelands/widelands/commit/c58a8c6784bfd4a103fcf1dec065bfce9ef813a5

Feel free to close this if you don't see a problem here.

[2022-08-03 19:08] hessenfarmer commented on #5485
bug confirmed. not relate to addons. tried it with different other multiplayer savegames.
edit: in windows the game freezes after rightclicking in the background.

[2022-08-03 19:24] Noordfrees commented on #5486
Yes, c58a8c6784bfd4a103fcf1dec065bfce9ef813a5 fixed this bug.

[2022-08-03 19:24] #5486 closed, assigned to nobody

[2022-08-03 19:36] hessenfarmer commented on #4907
ok tested it a bit. However I am not sure whether a specific behaviour is intended.
I made a simple map with tropics and white summer enabled. This was correctly saved with the map. Then  I disabled the addons. When loading the map however the editor has both addons available. Only when I deinstall an addon the map is not loadable and I get the message that the addon is missing.
Same for any saveg

[2022-08-03 19:58] Noordfrees commented on #5485
Looks like a multithreading race condition bug. Could you check whether reverting 5750147a3445bbaeea7dfa8b07ecca0031642460 changes the behaviour?

[2022-08-03 20:38] hessenfarmer commented on #5485
unfortunately not

[2022-08-04 06:31] #4907 closed, assigned to Noordfrees

[2022-08-04 06:31] #5483 closed, assigned to Noordfrees

[2022-08-04 07:09] klaus-halfmann commented on #5485
@hessenfarmer so you can reproduce this?

I disables all addons but still get the error.
Could we add some debug info when we are waiting for a Mutex for more then a second or such?
Where could I start debugging this? (The X-Code Debugger can cope well with multiple Threads)

[2022-08-04 07:55] Noordfrees commented on #5485
Wait until you get the hang, then get a full backtrace of all Widelands threads. That should contain all the relevant info.

+1 should be doable in the `MutexLock` constructor (`base/multithreading.cc`)

[2022-08-04 15:02] #4950 closed, assigned to nobody

[2022-08-05 07:57] Noordfrees commented on #5485
I tried catching this in GDB now but I can no longer reproduce. In a release build, I get the bug, in a debug build + GDB, it works fine.

[2022-08-05 13:51] matthiakl commented on #5433
The problem:
[code]
The solution:
[code]
Something in this test causes the windows runtime to screw up the std::cout redirection used for logging. When someone finds this cause, we can re-enable the logging.

[2022-08-05 13:57] matthiakl commented on #5433
Just for reference the method I used to obtain the trace:
- Install gdb (mingw-w64-%MINGWSUFFIX%-gdb)
- Add to CMakeLists.txt where the problematic binary is defined (src/notifications/test/CMakeLists.txt)
[code]

[2022-08-05 14:50] klaus-halfmann commented on #5485
Giving XCode a try ....
I see the code is haging around in "Thread1" at `game_main_menu_save_game.cc#292`:
   `MutexLock m(MutexLock::ID::kLogicFrame, [this]() { stay_responsive(); });`

The only other active Thread is `Thread10` stuck at: `gamehost.cc#618 `
[code]

From hat I see this is the "initailalizerThread" but the Mutex is waiting for the "kLogicFrame"?

Maybe a common debug Session would

[2022-08-05 15:01] Noordfrees commented on #5485
Please post the full backtraces of both threads, so we can see via which pathways they got there and which mutexes they acquired along the way…

[2022-08-05 16:28] klaus-halfmann commented on #5485
Sorry needed to find out how to extract the stack from XCode: [Threads.txt](https://github.com/widelands/widelands/files/9270300/Threads.txt)

[2022-08-05 17:05] Noordfrees commented on #5485
Aaaaaah…

The save game dialog has been made "fake"-modal some time ago to fix focus issues. It pretends to be a modal dialog but is not really. The stay_responsive code that is supposed to break the race condition assumes that the save game dialog is modal and tells it to handle responsiveness. The save game dialog however assumes that since it is *not* modal the underlying modal panel is respons

[2022-08-05 17:45] #5433 closed, assigned to matthiakl

[2022-08-06 15:28] hessenfarmer commented on #5485
by testing I found out, that #5421 introduced the bug

[2022-08-07 07:30] #5485 closed, assigned to Noordfrees

[2022-08-12 07:34] mquinson commented on #5418
Hello, could you point us to the relevant commits so that we can backport them in the Debian package? Failing to do so means that widelands will be removed from the "testing" rolling release in 6 days. https://tracker.debian.org/pkg/widelands

[2022-08-12 08:20] Noordfrees commented on #5418
e4da6d624640c6a9f204ec3e4a8d8d09e0158285 + 220ae30d458c8b45ea075dfca18f39d02980c3a7
If the first patch doesn't apply cleanly, the only crucial change that needs to be copied should be the one to `CMakeLists.txt`.

[2022-08-12 10:12] Ahmad-fadl opened #5498 "Coding question"
Hi All,
This is a question and not a bug.
I'm trying to get the route between tow building without the flags in between.
For example if there is a route between a production site and a head quarter without any other building in between but only flags then i want to save only these tow buildings.
I was trying something like :
`if ((transfer->route_.route_[0].get(game)->get_building() != nullptr)&&(

[2022-08-12 10:28] Ahmad-fadl commented on #5498
I made the route_ attribute public that is why I could access it from inside the Request class. as in the code above

[2022-08-12 11:08] Noordfrees commented on #5498
Did you first check that `transfer->route_.route_` is not empty, and that `transfer->route_.route_[...].get(game)` is not `nullptr`?
If either assumption does not hold then you dereference invalid memory. If you obtain a valid non-null `Flag*` then `get_building()` should tell you safely whether the flag has a building or not.

[2022-08-12 11:23] #5410 closed, assigned to Noordfrees

[2022-08-12 12:19] Ahmad-fadl commented on #5498
This worked thanks a lot.

[2022-08-12 12:19] #5498 closed, assigned to nobody

[2022-08-13 07:47] mquinson commented on #5418
Thanks a lot! I'll take care of this on Monday or so.

[2022-08-15 17:53] frankystone opened #5500 "scrolling the map results in unexpected behavior"
Just updated to last commit and found this behavior:

When scrolling the map sometimes it feels like the right mouse button gets not released: Although the right mouse button is not pressed the map moves with each mouse move. Nothing can be clicked. In this state pressing the right mouse button, to maybe "release" the button again, does not help immediately. After some tries the button get "releas

[2022-08-15 17:57] frankystone commented on #5500
Ah, forgotten: Tried with two different mice: One remote and one connected with a cable. The "locked"-button-situation happened with both mice.

[2022-08-16 06:43] jasonkhanlar opened #5501 "FATAL EXCEPTION: buildingdata: building 2: warehouse: Unknown worker '[RANDOM CHARACTERS HERE]'"
[code]

This error appears when trying to load a single player saved game that was originally a new random game.

Note: The line

[code]

the characters in between the apostrophes are random/different for each attempt to reproduce this error (unique to each save file)

Steps to reproduce:

- Edit file /usr/share/widelands/tribes/initialization/barbarians/starting_conditions/headquarters.lua
  Chan

[2022-08-16 06:53] jasonkhanlar commented on #5501
I tested all the other values, and it appears that this error is only affecting the number of soldiers. I tried changing file:

/usr/share/widelands/tribes/initialization/barbarians/starting_conditions/headquarters.lua

to:

[code]

Note: I left soldiers data to default value, but tested all the others with 65536 (or higher) and going through the same steps described above, the error does not occu

[2022-08-16 07:26] frankystone commented on #5500
Try this:

1. Open the map [Forest Valley](https://www.widelands.org/maps/forest-valley/) in the editor
2. Scroll to the blue starting position (at 20/45)
3. Press right mouse button at the blue starting position and scroll to the right until the pointer is in the right of the stone barrier
4. Release the right mouse button
5. Now the bug appears for me reproducible

I guess that some other progra

[2022-08-16 07:32] frankystone commented on #5500
Installed SDL-Versions here:

[code]

[2022-08-16 07:58] Noordfrees commented on #5500
Not reproducible for me with SDL 2.0.20 on Ubuntu Jammy.
Are the options to grab input and use system mouse cursor enabled or disabled?

Edit: X11 or Wayland?

[2022-08-16 08:08] Noordfrees commented on #5501
When I try to add 70000 soldiers to my HQ via the debug console I get:
[code]

Such large numbers apparently cause overflows somewhere. Since I am very confident this can not happen in a regular game, best approach IMHO would be to check in Lua's `set_soldiers` that the number of soldiers won't exceed say 30000 (leaving a decent safety margin to `INT16_MAX`).

Thanks for finding this :)

[2022-08-16 08:15] #5440 closed, assigned to matthiakl

[2022-08-16 15:25] frankystone commented on #5500
`Grab Input` = off
`Use System Mouse Cursor` = off
`Scroll When Mouse is near Screen Edge` = off
`Invert Click and Drag Map movement direction` = off

X11

[2022-08-16 15:26] matthiakl commented on #5500
I am also able to reproduce when the right mouse button is still pressed while the cursor moves out of Widelands in window mode.
This is a regression in SDL 2.0.22 and will be fixed in the next update: https://github.com/libsdl-org/SDL/issues/5652
Try `export SDL_MOUSE_AUTO_CAPTURE=0` before starting the game and see if it fixes it.

[2022-08-16 15:53] frankystone commented on #5500
Yes that fixed it the half way. This bug does not happen if this environment variable is set. But…

A few words about my desktop setup: I have the desktop panel (the one which shows e.g. open windows) configured this way: At the bottom, Hidden, if mouse pointer comes at the bottom edge of the screen, show it.

Now this happens when widelands is running in window mode:
If i scroll the map down and

[2022-08-17 07:38] jasonkhanlar opened #5505 "[Probably a duplicate] Attempt to fix traffic jams results in unnecessary carryings"
In situations where lots of roads (distance of 2) result in traffic jams and carriers are stuck, no movement at all, and where the same ware (e.g. log) is at both ends of a road (at each flag)

note: I notice this occurs when one of the pathways from source to destination involves an underground waterway where there also is not an above ground path to reach the location for workers to get to the a

[2022-08-17 07:43] jasonkhanlar commented on #5505
Oh also, this is not exactly a bug in the game code. It is more of a bug in gameplay logic of doing unnecessary things. Maybe this could be implemented into an upgrade for carriers, where a school building can be built so that the carriers can go to school and learn how to carry more efficiently than the complacent carriers.

[2022-08-17 07:56] jasonkhanlar commented on #3247
I notice this issue happen so many times also. Playing in a large 512x512 single player game, with lots of data resulting in 3-5 seconds to save it all, I encounter this issue almost every auto save.

This affects both when I am already holding right mouse button down, and scrolling around immediately before the auto save sequence starts, as well as after the auto save sequence starts, and then I

[2022-08-17 08:08] jasonkhanlar opened #5506 "[feature request] useless carriers heading back to HQ/warehouse, carry an item to be useful"
For example, when deleting a road, and the carrier goes back to HQ/warehouse, the path they take to return, if there is an item to be carried, carry it to the other end of the road, or if it needs to continue additional roads, all the way back to HQ/warehouse, then carry it all the way back, or as far as the path they are on is requiring it to be carried.

This feature request may not be necessary

[2022-08-17 08:18] jasonkhanlar opened #5507 "Add an upgrade option for Ferry Yard to produce larger ferries that workers can be transported across the water"
Per issue https://github.com/widelands/widelands/issues/5505

feature request: Add an upgrade option for Ferry Yard to produce larger ferries that workers can be transported across the water.

In some cases, the shortest path between two locations is by water, or even in some cases maybe only by water. I haven't played enough yet to know, but I think that islands that are not connected by roads/br

[2022-08-17 08:29] Noordfrees commented on #5507
Ferries can carry no workers on purpose because this would break a lot of existing map designs. It would make currently unreachable areas easily reachable. So -1 to allowing ferries to carry workers.

[2022-08-17 08:35] Noordfrees commented on #5505
General-case ware-rerouting is too CPU-hungry to ever be added, but in this case it should be doable. Actually I thought someone had already implemented exactly this suggestion at some point but maybe I misremember the details.

[2022-08-17 08:57] hessenfarmer commented on #5507
-1 from me as well for exactly the same reason

[2022-08-17 13:49] jasonkhanlar commented on #5506
Also when building roads and a carrier passes by carryables, consider to carry those to help out along the way to designated road to monitor

[2022-08-17 14:16] jasonkhanlar opened #5508 "[Feature Request] Repeat build action when holding CTRL or SHIFT or some other keyboard shortcut"
When building the same building types (e.g. Lumberjack's Hut) consecutively, allow for something like:

- Press and hold on keyboard the CTRL or SHIFT key before clicking on the build action
- click on the build action normally, action dialog window closes normally, build action proceeds normally
- still holding down CTRL or SHIFT, continue clicking on small, medium, or big building icons on the m

[2022-08-17 14:55] Noordfrees commented on #5508
This seems very similar to the building fastplace feature added in the current development version. It allows you to assign keyboard shortcuts to any building, and then in the game you can press the shortcut and the associated building is constructed at the node you're pointing the mouse over. Does this meet your needs?

[2022-08-17 14:56] #5500 closed, assigned to matthiakl

[2022-08-17 18:23] jasonkhanlar commented on #5508
Ah nice! I haven't seen that as I'm using latest stable release, but it seems good enough! Thanks!

[2022-08-17 18:39] #5508 closed, assigned to nobody

[2022-08-18 09:08] mquinson commented on #5418
Hello, for the record, I've fixed the Debian package. On that occasion, I discovered that our package version tracking thing is broken by the release of 1.0. I'm sorry for not packaging it earlier, but I'm now on it. I should upload it later today.

But that's not the reason why I'm writing now. I wanted to signal that -Werror does not sound like a good idea in release settings: users most probabl

[2022-08-18 11:20] hessenfarmer opened #5511 "MSVC CI builds failing"
since a couple of days the MSVC release build is failing due to some linking errors.

[2022-08-18 14:31] matthiakl commented on #5511
This is a problem with the Windows runner and will be fixed with the next deployment (probably monday).
See https://github.com/actions/runner-images/issues/6107

[2022-08-18 17:34] Veracion commented on #5411
Got a couple of questions regarding this:
- Should this only be corrected for the Frisians for now, or all in one fell swoop? I've seen there are about ~140 other files besides them still using the old way. More specifically, only immovables except two files.
- The Frisian soldiers use `directory` in order to store the images of the different soldier types in their own subfolders. Should it be cha

[2022-08-18 20:35] Noordfrees commented on #5411
It should be converted in all places where reasonably possible. For the frisian soldier I'd like to keep the directory structure as it's now and continue using the old syntax though, cluttering it all together would just be way too messy.

The deprecations and the TODO should be lifted IMHO since removing `basename` and requiring `animation_directory` would break add-ons. It is nonetheless a good

[2022-08-18 22:06] hessenfarmer opened #5514 "can't connect to the Addon server"
With latest master I don't get a connection to the addon server.
tried it with version 1.0 and it works. So I assume it is a problem in the client at current master

[2022-08-18 22:15] hessenfarmer commented on #5514
maybe it is a server issue instead as the automated server sync seems to be stale as well

[2022-08-19 07:42] Noordfrees commented on #5514
The server had crashed again. Restarted it, now it works.

v1.0 does not connect to the server, it reads from the GitHub repo instead.

[2022-08-19 07:42] #5514 closed, assigned to nobody

[2022-08-19 13:34] user709 opened #5516 "FATAL EXCEPTION: Syntax error at 1:130: expected an allowed tag, got '/font'."
While playing Imperial campaign mission 2 the game returned to main menu and showed the error, see title.
I could continue playing with the emergency savegame.

[stdout.txt](https://github.com/widelands/widelands/files/9382480/stdout.txt)
[saves.zip](https://github.com/widelands/widelands/files/9382479/saves.zip)
Includes:
- wl_autosave_00.wgf: last autosave before the error.
- 2022-08-18T18.39.45