[2020-07-18 11:26] Noordfrees commented on #3979
[code]

We ship our Lua dependency in source code because we require a specific version. For the other dependencies, we provide compatibility for newer versions as they come out while keeping our code compatible with very old versions as well. As GunChleoc stated a few posts above there are a few more changes to the scripting API underway but we want it to be stable from the next release on.

So w

[2020-07-18 12:04] Noordfrees commented on #3156
I'm going to gather the info in https://www.widelands.org/wiki/ReleasingWidelands/ now

[2020-07-18 12:05] scx commented on #3979
Some time ago, there was discussion about upgrading Lua in Aegisub:
https://github.com/wangqr/Aegisub/issues/15

It wasn't the only software that had a problem with this. Several projects switched to LuaJIT, then went back to classic Lua. And when it comes to the libraries, it was even more mess with it.
I have to admit that I don't know much about Lua in Widelands, but I still have some concerns

[2020-07-18 15:54] frankystone opened #3995 "LUA: allow_saving should prevent manual saves"
[allow_saving](https://www.widelands.org/documentation/autogen_wl/#wl.Game.allow_saving) affects only the SaveHandler that handles Autosaves, but not manually saving.

See: https://www.widelands.org/forum/topic/4905/ which contains also a test scenario.

[2020-07-18 17:04] Noordfrees commented on #3979
We are currently using Lua 5.3.4 which is included indirectly using [Eris 1.1.2](https://github.com/fnuecke/eris). Eris doesn't seem to be developed much anymore and AFAIK there are no plans on our side to upgrade to a newer Lua version – and personally I think that there is no need to update it even if there will be a new version as this would only force us to update our Lua code for no significa

[2020-07-18 18:29] scx commented on #3979
At some point, we may have problems with security holes, compatibility with new versions of GCC and LLVM/Clang, or support for new architectures.
When it comes to LuaJIT, upstream development has been basically stalled, or at least this project is not actively developed (no new stable releases since 2017). If I good remember, almost whole PPC64 port was done downstream.
https://src.fedoraproject.o

[2020-07-18 19:23] Noordfrees commented on #3979
We ship Eris in source code (it's written in C) and it is compiled along with our own source files by the user. Eris is designed to be [lightweight and portable](https://github.com/fnuecke/eris#cross-platform-compatibility) so it is highly unlikely that it won't be able to handle future compilers and architectures.

Security updates are a good point; however we are restricting the Lua library acce

[2020-07-18 19:39] s-tdh commented on #3964
I tried a few more times.  Playing at 1× speed I often, though not always, trigger this issue.  At 5× speed I got it once, but apparently at higher speeds (5 or 10) it seldom triggers.
My last tests were with minimal effort (building the port and shipyard, clicking 'OK') while still triggering the bug, so sailing around the second island doesn't seem to be involved.

[2020-07-18 19:51] Noordfrees commented on #3964
I found the reason. The function that returns the message table is evaluated at runtime, so the strings are translated using whichever textdomain happens to be set at the time of evaluation.
If you open the encyclopedia, the help scripts will change the textdomain, so the game looks for the tutorial message in `widelands` or whatever is then set. The solution is that ALL scripts in `data/scripts`

[2020-07-18 22:08] s-tdh opened #3996 "emp02: mission completion text inside Lutius' quotes"
In the second Empire campaign scenario, the last message about returning to Fremil: "You have completed this mission. ..." is inside Lutius' quotes.

I have a small patch that fixes this.  Should I attach it or do you want a pull request?

[2020-07-18 22:14] s-tdh opened #3997 "emp03: message box layout problem with picture"
In the third Empire campaign scenario, there's a message with an extra picture on the right hand side.  It's partially hidden by the scroll bar (at least in Dutch):
![messagebox_layout](https://user-images.githubusercontent.com/67842810/87862852-fe05b480-c943-11ea-82ae-8dca81f9547b.png)

[2020-07-19 09:46] scx commented on #3979
Stand-alone flatpak package:
https://github.com/scx/widelands-flatpak/releases/tag/v21+20200718

`Build 21` should be available on Flathub within 24 hours.
https://github.com/flathub/org.widelands.Widelands/pull/21

[2020-07-19 17:07] Noordfrees commented on #3979
Thanks :)
I have uploaded the standalone package to the list of downloads on LP.

[2020-07-19 20:27] hessenfarmer commented on #3996
Well this mesage is in Lutius diary in every empire mission so if we change this we shoud change it consistently

[2020-07-19 20:28] hessenfarmer commented on #3997
what was your screen resolution in this case?

[2020-07-20 05:52] gunchleoc commented on #3979
I' on favour of option 3. (`1.0`, `1.0.1` etc.) for the following reasons:

1. Savegame compatibility is done as version hopping. So, if I have a Build 20 game that I want to open with Build 22, I'll have to resave with Build 21 first. We do it like that in order to be able to unclutter the saveloading code, both for readability and performance.
2. We might want to update Eris in the future, which

[2020-07-20 06:06] gunchleoc commented on #3156
I'd still like to see ths in the Lua API, this way we will only need to update `debian` manually, any maybe the Windows packaging. We could the update script print that to console - I like to keep documentation like that close to the code, because it's easier to keep it current that way.

[2020-07-20 06:39] gunchleoc commented on #3996
Branch + pull request would be easiest for us, if you can take the time. Thanks!

[2020-07-20 06:41] gunchleoc commented on #3997
This might be related to different text length from the translation.

[2020-07-20 11:18] hessenfarmer commented on #3997
yes it seems as if due to the text length the scroll bar is blocking the picture. However the text doesn't seem to bee too long. Will have a look into this.

[2020-07-20 19:36] hessenfarmer commented on #3996
After a second look I got the issue with this.
Fixed it.
thanks for reporting

[2020-07-21 06:29] #3954 closed, assigned to Noordfrees

[2020-07-21 07:49] #3785 closed, assigned to Noordfrees

[2020-07-21 08:52] Noordfrees opened #4009 "Soldier Overview Window"
https://www.widelands.org/forum/topic/4907

There should be an overview window similar to the building statistics that shows all the player's soldiers grouped by training levels combinations.

[2020-07-22 11:00] hessenfarmer commented on #3997
Ok this is not as trivial as it looks like. The issue is that the windowheight is fixed with 500 due to support of 800x600 resolution. The 2 pictures together with formatting of headlines result in more then this height irrespective of the text so the scrollbar will always be present. To make it worse the picture of the artifacts is always aligned left, due to implementation of the objective box.

[2020-07-22 18:53] #3979 closed, assigned to Noordfrees

[2020-07-23 07:27] #3997 closed, assigned to nobody

[2020-07-23 07:33] #3978 closed, assigned to nobody

[2020-07-23 07:33] #3996 closed, assigned to nobody

[2020-07-23 14:33] s-tdh opened #4015 "Dolomites description, missing article"
After the recent string fixes commit, I noticed the hint of the map 'Dolomites' is missing an article:

"There is **a** lot of flat ground on the mountains..."

This single letter would be a valuable contribution to Widelands and is totally proportionate with the length of this bug report. :) (I also doubt the 'on' is correct, but I don't know what would be good.)

[2020-07-23 16:00] s-tdh opened #4016 "emp04: clicking the farm doesn't register"
Another small bug: in the fourth scenario of the Imperial campaign, the player has to click a farm after Amalea discovered they're not working well.  However if she/he has other building windows opened (not minimized), opening the farm window does not register.  In this situation, closing the other building windows triggers the next instruction message and the player can move on.  This is entirely

[2020-07-23 19:03] hessenfarmer commented on #4016
Well, if you opened the farm building window it might take half a second to recognize it due to necessary sleep time. And in the past it should only be triggerable by a farm. but after the latest change of the dismantle button it could as well be triggered by opening the building window of one of the initial foresters. the recognition is done via having a buiding window, without dismantle button,

[2020-07-23 19:18] hessenfarmer commented on #3930
I am in favor of the primary suggestions made. (intermediate objectives, allow stonemason after marblemine is built.)
Would you like to create a Pull request for this?

[2020-07-23 19:38] hessenfarmer commented on #4016
ok I did a short try and it seems that all building windows are evaluated rather then only any one. So here I am at loss, only thing might be to skip the check after 10 minutes rather then reminding about the click.

[2020-07-23 20:52] #3969 closed, assigned to Noordfrees

[2020-07-23 22:10] pospec4444 commented on #3930
I can create a pull request when I'll have some spare time.

[2020-07-24 13:51] s-tdh commented on #4016
I'm patient enough to wait half a second. :)  If someone else wants to reproduce, start the scenario and just wait ten in-game minutes until Amalea asks you to click a farm.  If you click a farm (or indeed a forester) before that, you'll take a shortcut in the mission thread.

Hessenfarmer, why do you believe all building windows are evaluated?  As an experiment, I have the windows for the headqua

[2020-07-24 16:36] gunchleoc commented on #4016
`static void put_all_visible_panels_into_table(lua_State* L, UI::Panel* g)` only gets the direct children, so we need to make that function recursive.

[2020-07-24 16:40] gunchleoc commented on #4015
How about "The mountains have an abundance of flat ground"

[2020-07-25 06:42] #2111 closed, assigned to nobody

[2020-07-25 22:07] s-tdh opened #4019 "Upgrade button for foreign captured building"
Playing emp04 on today's master branch (1.0~git57[7173bf0@master]).  I captured a Barbarian fortress and I noticed it had an 'upgrade' button, like this:
![upgrade_foreign_military_site](https://user-images.githubusercontent.com/67842810/88466528-dfac3580-cebc-11ea-9fc7-c996a8ede609.png)
Being curious, I clicked it, then the game crashed with an assertion error:
`widelands: ../src/logic/game.cc:78

[2020-07-25 22:42] s-tdh opened #4020 "Untranslated strings"
I can't imagine this not being known, but I can't find any bug reporting this:
There are a number of strings that are not translated/translatable:
- Ship names
- Custom buildings in campaigns (Vesta's temple in emp04, Imperial warehouse in fri02 - interestingly the broken forester etc. in emp04 are translated).

[2020-07-25 23:20] s-tdh opened #4021 "References to ~/.widelands"
Another small issue:
In the in-game README, it says you can find replays in ~/.widelands/replays which is no longer true for new installations.  There are a few other mentions to the 'legacy' folder scattered around the game sources.

(Not quite related: there's also a link to https://wlww.widelands.org/encyclopedia in doc/sphinx/source/lua_tribes_units.rst.org, that leads to a TLS-certificate err

[2020-07-25 23:28] s-tdh commented on #4015
I'm no native English speaker, but that does sound better.

Also, I really like the joke that this flat ground is vertical - it _is_ true in the real Dolomites.

[2020-07-26 05:55] klaus-halfmann commented on #4020
Thanks @s-tdh for finding this and all the other "small" things. Fact is that playtesting is a boring task and checking all translations even more dull. So such errors are only notices by +/- new developers/testers using a foreign language. I must admit I did it in once for relase 20 and after 3 days I gave up. Perhaps we should add a hint "Howto report bugs" in every tutorial, so we get more repo

[2020-07-26 09:14] Noordfrees commented on #4019
The only check whether a player can actually enhance an enhancable building is done in `wui/buildingwindow.cc:250` (`if (owner.is_building_type_allowed(enhancement)) {`). Apparently the scenario's messing around with setting allowed building types breaks it. Adding a check for `owner.tribe().has_building(enhancement)` should probably be enough

[2020-07-26 09:17] Noordfrees commented on #4021
That folder is still true if an older installation has been upgraded or when compiling with disabling the XDG support. So we need to mention that there are a number of paths where replays, savegames and similar are located.

[2020-07-26 13:20] hessenfarmer commented on #4020
That is indeed not a "small" or trivial one. Custom buildings are translated if they have the same name as the original building, cause they use the translated string of the original Building (emp04 foresters, farms, mills, etc. ) if the strings are altered they are not translated because they don't belong to any textdomain.

[2020-07-26 13:40] Noordfrees commented on #4020
It would be enough to add `'../../data/campaigns/%(name)s/scripting/*/*.lua',` to `buildcat.py:114` and to set the scenario's textdomain in each of the buildings' `init.lua`s

[2020-07-26 14:03] hessenfarmer commented on #4020
ok I'll try that and provide a PR.

[2020-07-26 15:57] hessenfarmer commented on #4020
@Noordfrees
Would it make sense if you could incorporte this in the stack textdomains branch

[2020-07-27 10:45] gunchleoc commented on #4020
For the shipnames, I have a branch on that that I never proposed for review: https://github.com/gunchleoc/widelands/tree/localizeable-shipnames

[2020-07-27 10:51] gunchleoc commented on #4021
How about updating the wiki at https://www.widelands.org/wiki/Technical%20Faq/#where-are-my-maps-and-savegames-stored and then referring the player to the wiki?

[2020-07-27 11:06] #3964 closed, assigned to Noordfrees

[2020-07-27 19:37] Noordfrees commented on #4020
Is this branch functional, or what's the reason why you didn't propose it?

Localizing shipnames would make #3947 a tiny bit harder to fix. These two should probably be fixed in one branch IMHO.

[2020-07-28 04:42] gunchleoc opened #4024 "Show initial status message for win conditions"
We reduced the number of win condition messages to make them less noisy. This means that we now don't have an initial message, which makes the win conditions harder to understand.

So, there should be 1 additional status message at 0:00 gametime.

[2020-07-28 06:39] gunchleoc commented on #3223
Since we have clang-tidy running in the pipeline now, I am going through the checks.

[2020-07-28 06:50] gunchleoc commented on #4020
The reason I didn't propose it is that I have too many branches that I can't get through code review, so I have to prioritize.

[2020-07-28 09:10] Noordfrees opened #4026 "Incompatible Scenarios"
Several of our scenarios are no longer compatible since #3980:

[code]

We need to either reinstate the MapObjectPacket compatibility code, or go through **all** maps and resave them with build21 if necessary.

@gunchleoc

[2020-07-28 11:15] hessenfarmer commented on #4026
does this affect maps from the homepage as well?

[2020-07-28 11:21] Noordfrees commented on #4026
Yes, it does. So we have just broken map compatibility – the support for older MapObject package versions has to be reinstated and must stick around for ever and ever.

[2020-07-28 11:43] gunchleoc commented on #4026
Yep, looks like I ripped out too much. We need to:

* Add packet version check to:
  * Ship::Loader::load(FileRead& fr, uint8_t /* packet_version */)
  * MapObject::Loader* Worker::load
* Allow the old version number in src/map_io/map_object_packet.cc

[2020-07-28 18:36] gunchleoc commented on #568
A possible solution is discussed in https://discourse.libsdl.org/t/sdl2-hidpi-problem/22943/3

[2020-07-29 04:35] #3705 closed, assigned to Noordfrees

[2020-07-29 08:05] #3957 closed, assigned to Noordfrees

[2020-07-29 08:06] hessenfarmer commented on #4019
I don't understand what is meant with messing around of allowed building types.
I always assumed allow_buildings all should only allow the buildings of the tribe.
if this is not the case it will affect almost any of the scenarios

[2020-07-29 08:12] Noordfrees commented on #4019
Checked the code – allowing buildings works on buildings the tribe has *and on all militarysites* – otherwise enemy milsites couldn't be conquered. That's why `allow_buildings("all")` will also allow barbarian citadels for empire. So the check for `has_building()` when creating the enhance button will be enough.

[2020-07-29 08:25] gunchleoc opened #4030 "Remove worker types without cost from statistics"
"Recruit" units spoil the general statistics (worker tab). As they consume memory space maybe they should just be replaced by carriers? And maybe soldiers shouldn't count as "workers" neither?

Solution for the recruits is to remove worker types without cost fro the statistics

https://www.widelands.org/forum/topic/4911/?page=1#post-34032

[2020-07-29 08:26] hessenfarmer commented on #4019
Ok well done and well spotted. Never realized that.

Thanks for fixing

[2020-07-29 20:27] #4019 closed, assigned to Noordfrees

[2020-07-30 11:06] Noordfrees commented on #3284
The tabbing order depends on the order in which the panels that can get the focus are created. Changing `main_menu_map_options.cc` line 105-108 to
[code]
changes the tabbing order so it is the exact *reverse* of what would be expected.

Now I have a **question**: Do we have tabbing panels in any other place as well, and are they working correctly? If not, we can fix this bug by changing the MapOpt

[2020-07-30 14:17] gunchleoc commented on #3284
The in-game message menu and the editboxes also mention  `SDLK_TAB`, but they only delegate. So, the map options are the only window that actually implements keyboard tabbing.

[2020-07-30 18:25] Noordfrees commented on #3094
This bug report seems invalid to me, that tree just looks like it is not Old enough for cutting yet…

[2020-07-30 18:25] #3094 closed, assigned to nobody

[2020-07-30 18:30] Noordfrees commented on #744
To reproduce: Start a 2-players game with a debug build, using the HQ starting condition for all players. Wait a few minutes. Use the debug console to put yourself and another player into the same team. The fog of war around your new teammate's HQ will flicker irregularly.

[2020-07-30 18:43] Noordfrees commented on #744
And after changing the team number back to 0 for either player, the behaviour doesn't change – the two players still share a vision even though they're not allied any more.

---

I had a look at the seeing/unseeing code (Player::(un)see_node) and it seems that we only update sight on demand. This design looks extremely fragile to me, especially in regard to teams. IMHO we should overhaul the whole

[2020-07-30 19:28] Noordfrees commented on #3093
Related to #744, and another argument for reimplementing the vision-related code.

[2020-07-30 19:58] Noordfrees commented on #3371
Would be good to get a new replay here, bzr8937 doesn't even compile for me with gcc10

[2020-07-30 20:56] Noordfrees commented on #3371
Suspecting a duplicate of #3449 though

[2020-07-30 20:57] Noordfrees commented on #455
Probably a duplicate of #3449

[2020-07-31 06:09] #4026 closed, assigned to gunchleoc

[2020-07-31 07:13] #3821 closed, assigned to nobody

[2020-07-31 11:23] #3252 closed, assigned to nobody

[2020-07-31 15:04] #3284 closed, assigned to Noordfrees

[2020-07-31 16:07] Noordfrees commented on #3883
Here the shipwright is unable to start building a ship even though there's water nearby. Perhaps the working area radius is counted from the base flag rather than the building's main position?
![shot0000](https://user-images.githubusercontent.com/48293446/89054128-99415580-d358-11ea-845d-0dbffe33af55.png)

[2020-07-31 17:16] Noordfrees commented on #1656
So the problem described in this thread has been fixed already, and what exactly is that ominous test that should be written supposed to be about?

[2020-07-31 17:18] Noordfrees commented on #2057
Prerequisite: #3852

[2020-07-31 18:48] pospec4444 opened #4043 "No Smelter is available but Smelting Works got occupied"
There was no smelter available, but smelting works got occupied anyway. Smelter came from Headquarters (he _wasn't_ reported there).

**Steps to reproduce the behavior**
(Note: I was testing emp02 scenario and randomly noticed it.)
1. Add `empire_smelting_works` to `p1:allow_buildings` in https://github.com/widelands/widelands/blob/b9b7dd7d30079e506e6f6b6da5b046610918f5e3/data/campaigns/emp02.wmf/

[2020-07-31 19:10] Noordfrees commented on #4043
You have some fire tongs in your initial stock, don't you?

[2020-07-31 19:25] pospec4444 commented on #4043
Oh, of course I do. My fault.

[2020-07-31 19:25] #4043 closed, assigned to nobody

[2020-07-31 19:33] Noordfrees commented on #3986
Alternatively, our old wishlist item of configurable hotkeys would also solve this issue

[2020-07-31 20:10] scx commented on #3986
I started working on solving this problem. We can slightly modify this code:
https://github.com/widelands/widelands/blob/build21/src/wui/quicknavigation.cc#L72-L84

I would like to add an option in `Options` under the `Game` tab.
https://github.com/widelands/widelands/blob/build21/src/ui_fsmenu/options.cc#L225
I would call it "_Use NumPad only for navigation_" or something like that.

We could add

[2020-07-31 20:40] Noordfrees commented on #597
Most helpful bug report ever, isn't it ;)
The links in the forum no longer work, and there is not even a hint about possible causes (the user says himself "Ja, es passiert aber nicht immer beim herauszoomen."). But we fixed several editor-related crashes between b20 and b21 so it is likely that this one is among them. And if it isn't, let's wait until this is reported again with a bit more info.

[2020-07-31 20:40] #597 closed, assigned to nobody

[2020-08-02 07:14] gunchleoc commented on #1656
It could be tested that

* remaining ship names are decremented by 1 when a ship is created
* no 2 ships have the same name when a new ship is created

I'd be fine with closing this though

[2020-08-02 07:35] gunchleoc commented on #3883
Yes it is https://github.com/widelands/widelands/blob/69ffe0b7e64d70756e73db1a538feb2e26b798f7/src/logic/map_objects/tribes/production_program.cc#L1293

[2020-08-02 07:42] Noordfrees commented on #1656
We already have a test that creates 20 ships and checks that all names are unique. So let's close this.

[2020-08-02 07:42] #1656 closed, assigned to nobody

[2020-08-02 09:50] gunchleoc opened #4047 "Refactor probability ranges"
At the moment, probability ranges are defined according to the range of `uint8_t`, i.e. we have 256 values at our disposal.

* This is not intuitive for humans.
* We also want to increase the range for finer control of sound effects (https://github.com/widelands/widelands/issues/3417). The proposal there is for a factor of 5, which would give us 1280 values. Also not intuitive for humans.

I propo

[2020-08-02 09:54] Noordfrees commented on #4047
+1
I'd prefer to have chances in the range `]0.0, 1.0[` so the second one would look best to me. But please call the parameter `chance` to save poor lua scripters some typing ;)

[2020-08-02 10:14] Noordfrees commented on #3883
Thanks! I have opened a one-liner PR to fix this issue.

[2020-08-02 12:58] gunchleoc commented on #4047
+1 for calling it `chance`

[2020-08-02 13:43] hessenfarmer commented on #4047
I would like to have it written in percent which would be 99.9, 99.8, 99.7 and so on
Don't mind whther it will be chance or probability both are quite understandable

[2020-08-02 13:50] gunchleoc commented on #4047
Shall we call it `percent` then to make the unit obvious? I'm still OK with `chance` though. Or we could do:

`"playsound=sound/farm/horse chance:7.5%"`

[2020-08-02 13:57] Noordfrees commented on #4047
How about allowing both `chance:75%` and `chance:0.75`? More coding effort but also more scripter-friendly

[2020-08-02 14:03] gunchleoc commented on #4047
This would make it easier to write according to personal preference, but harder to read. I'd rather not have a mix of orthography options.

The percent notation will be more accessible to normal people, and the probability notation to people who are used to doing math-related stuff.

[2020-08-02 14:08] scx commented on #3986
Temporary patch: [widelands-build21-numpad-quicknavigation.patch.txt](https://github.com/widelands/widelands/files/5012258/widelands-build21-numpad-quicknavigation.patch.txt)

[code]

[Link](https://pastebin.com/raw/8yqeq6Zd)

[2020-08-02 14:13] scx commented on #3986
@stonerl @gunchleoc @Noordfrees
Do you have any idea how to name this feature?

Disabled:
- Use `SDLK_KP_2`, `SDLK_KP_4`, `SDLK_KP_5`, `SDLK_KP_6`, `SDLK_KP_8` for quick navigation
- Use `SDLK_KP_3` and `SDLK_KP_9` for speed down/up game

Enabled:
- Use `SDLK_KP_1`, `SDLK_KP_2`, `SDLK_KP_3`, `SDLK_KP_4`, `SDLK_KP_5`, `SDLK_KP_6`,  `SDLK_KP_7`, `SDLK_KP_8`,  `SDLK_KP_9` for quick navigation

Tempor

[2020-08-02 14:24] scx commented on #3986
What about this one?: _Use NumPad for directional navigation only_

[2020-08-02 14:27] Noordfrees commented on #3986
We should keep the terminology consistent. We use the term *quick navigation* only for jumping with `Strg+1.9`/`1-9` and ','/'.'. The use of Numpad-2/4/6/8 is termed *scrolling*. So IMHO we should call the option something like "Allow diagonal scrolling with the numeric keypad"

[2020-08-02 14:29] gunchleoc commented on #3986
Check the first tutorial and use what it's called there.

[2020-08-02 14:33] scx commented on #3986
Sorry about that. I am not familiar with the Widelands terminology.

I am ok this this. What about the variable name?
- `numpad_diagonalscrolling`
- `scrolling_diagonal`
- something else

[2020-08-02 14:35] gunchleoc commented on #3986
`numpad_diagonalscrolling` sounds good to me.

[2020-08-02 14:50] hessenfarmer commented on #4047
my preferred choice would be percent:87.4

[2020-08-02 14:51] Noordfrees commented on #4047
`percent` wouldn't make it clear what the percentage refers to. In this example it might also refer to e.g. the relative volume of the sound effect.

[2020-08-02 16:09] scx commented on #3986
![widelands_build21_numpad_diagonalscrolling](https://user-images.githubusercontent.com/510369/89127099-4c41b880-d4eb-11ea-9216-626320e43a39.png)
PR on the way.

[2020-08-02 18:07] hessenfarmer commented on #4047
chance would be ok as well for me

[2020-08-03 01:34] #541 closed, assigned to Noordfrees

[2020-08-03 03:25] scx commented on #3985
The first issue is that `scenario_details_` doesn't take into account `scenario_difficulty_` and `scenario_difficulty_header_`, which were added in `Build 21`.

https://github.com/widelands/widelands/blob/build21/src/ui_fsmenu/scenario_select.cc#L157-L166

It should be pretty easy to fix ([widelands-build21-scenario-select.patch.txt](https://github.com/widelands/widelands/files/5013661/widelands-b

[2020-08-03 05:47] scx commented on #3985
## Patches

### Patch 1

[widelands-build21-scenario-select.patch.txt](https://github.com/widelands/widelands/files/5014113/widelands-build21-scenario-select.patch.txt)
[code]

[Link](https://pastebin.com/raw/6NAixqxh)

### Patch 2

[widelands-build21-scenario-select-difficulty.patch.txt](https://github.com/widelands/widelands/files/5014114/widelands-build21-scenario-select-difficulty.patch.txt)
[

[2020-08-03 06:14] #3449 closed, assigned to nobody

[2020-08-03 06:14] #455 closed, assigned to nobody

[2020-08-03 06:14] #3371 closed, assigned to nobody

[2020-08-03 08:48] gunchleoc commented on #4047
Let's go with `chance:75%` then, this will make the unit type clear. For sounds, we can then have `priority:75%`

[2020-08-03 14:59] #3883 closed, assigned to nobody

[2020-08-03 21:56] Niektory opened #4057 "bad lexical cast error on startup"
Since d2369aaa5e30c06f75c79f1a58322c100c88ef5a Widelands crashes on startup.
Error message:
[code]
Offending line:
https://github.com/widelands/widelands/blob/1b68d968fd3b3e12adce2685d15f647239487834/src/graphic/gl/initialize.cc#L239-L240

Probably the "NVIDIA" in the version string is causing the error.

**Version:**
 - OS: Manjaro Linux
 - Widelands Version: from d2369aaa5e30c06f75c79f1a58322c10

[2020-08-04 06:13] frankystone commented on #4057
Same for me...

[2020-08-04 06:38] #4057 closed, assigned to nobody

[2020-08-04 06:49] gunchleoc commented on #3691
The merging of the programs has been rejected to give Lua coders more control.

[2020-08-04 06:49] #3691 closed, assigned to gunchleoc

[2020-08-04 07:22] #1654 closed, assigned to nobody

[2020-08-04 07:45] hessenfarmer commented on #4047
so having a deciumal chance would mean chance:75.1% correct?
I would love that

[2020-08-04 08:11] gunchleoc commented on #4047
Exactly. I am planning to support 2 digits after the `.`, so `chance:0.25%` will also be possible. Just because this precision feels intuitive to me and easiest to learn & remember.

[2020-08-04 13:06] #2036 closed, assigned to Noordfrees

[2020-08-04 13:06] #3639 closed, assigned to Noordfrees

[2020-08-04 19:07] Noordfrees opened #4060 "Scenario details textarea uses scrollbar inconsistently"
Admittedly, a rare cornercase. Found this while testing #4054; this only seems to happen with very specific MultilineTextarea dimensions and row counts.
The description of emp01 in low german needs a scrollbar:
![shot0001](https://user-images.githubusercontent.com/48293446/89333884-efcecc80-d695-11ea-9c97-ee699265a1e8.png)
And so does emp02, but only barely:
![shot0002](https://user-images.githubu

[2020-08-04 19:22] #3986 closed, assigned to nobody

[2020-08-05 05:08] #3947 closed, assigned to Noordfrees

[2020-08-05 05:08] #4020 closed, assigned to Noordfrees

[2020-08-05 07:11] gunchleoc opened #4062 "UI::Box can't handle deletion of child members"
See discussion in https://github.com/widelands/widelands/pull/3847 and https://github.com/widelands/widelands/pull/4023

[2020-08-05 09:11] jmoerschbach commented on #4062
Is this real a UI::Box issue or rather a UI::Panel issue?

[2020-08-05 09:49] gunchleoc commented on #4062
UI::Panel can handle deletion, but we might need to change both classes for implementing this; e.g. the panel could send a notification for the box to pick up. That's just an idea though without looking at the code in detail.

[2020-08-05 12:58] #1470 closed, assigned to Noordfrees

[2020-08-05 14:25] gunchleoc commented on #4060
I don't consider this a bug - it's a matter of taste. The MultilineTextarea has an autodetect mode, and it is working properly.

[2020-08-06 05:45] frankystone opened #4067 "Editor: List of maps defaults to filename"
The list of maps defaults to show the filenames, not the name of the maps. This leads to confusion if one is using non English localization because the filenames are in English.
Two more things to mention:
The checkbox 'Show original (english) names' is useless in the initial state. It becomes only useful after hitting 'Show map names'.
The String "Folder ..." on the right side of the list appears

[2020-08-06 06:35] #3930 closed, assigned to pospec4444

[2020-08-06 06:48] #4009 closed, assigned to Noordfrees

[2020-08-06 08:31] Noordfrees commented on #4060
If this autodetect mode causes the same situation to sometimes have a scrollbar and sometimes not I would consider the autodetect mode buggy…

[2020-08-06 15:42] Noordfrees opened #4069 "Wrong labels in showhide menu"
- Start a new game
- Press S, C, U
- Open the showhide menu in the bottom toolbar. The census, stats, visibility entries will be called "show census" / "show stats" / "hide buildings" rather than "hide census" / "hide stats" / "show buildings".

[2020-08-06 15:46] gunchleoc commented on #4060
You did not put the 2 screenshots that demonstrate the actual bug next to each other, so I didn't see that the exact same text is sometimes with and sometimes without.

[2020-08-06 19:02] matszpk opened #4072 "yet another lua error in wood gnome."
Yet another lua error in wood gnome mode:
\[../src/scripting/lua_errors.cc:22] Error in format: boost::bad_format_string: format-string is ill-formed stack traceback:  [string "scripting/win_conditions/wood_gnome.lua"]:82: in local '_game_over'  [string 'scripting/win_conditions/wood_gnome.lua"]: 130: in function <[string "scripting/win_conditions/wood_gnome.lua"]:32>

This error happened when pla

[2020-08-07 04:24] #984 closed, assigned to Noordfrees

[2020-08-07 05:27] gunchleoc opened #4073 "Add starting options for show/hide menu"
At the moment, many players hit space, c, s on every game start. It would be nice to have options to set defaults for all entries in the Show/Hide menu.

[2020-08-07 08:49] #4060 closed, assigned to nobody

[2020-08-07 14:59] Noordfrees commented on #3184
I can reproduce. It is essential that you build the new road in step 4 at *exactly* the moment when the carrier is briefly idling on the flag.

![shot0005](https://user-images.githubusercontent.com/48293446/89658801-470bb180-d8cf-11ea-935e-5669bc98108b.png)

[2020-08-07 15:54] Noordfrees commented on #4067
Next to the toggle button for the map/file names, there's also a checkbox "show real map names" which doesn't seem to do anything. Either the button or the checkbox should be removed.

[2020-08-07 16:47] frankystone commented on #4067
The checkbox is working, but only if the map names are shown (not if map filenames are shown, which is the initial state). Checking the box shows the English names of the maps, if one has set another language. So one can switch between localized map names and english map names. This should stay :-)

[2020-08-07 16:49] Noordfrees commented on #4067
Okay didn't see that in a quick test. Perhaps we should combine them into a dropdown with three options though – File Names, English Map Names, Localized Map Names

[2020-08-07 17:40] Noordfrees commented on #1708
I have had a look at this and the actual problem is on a deeper level. First the middle flag is split off into a new economy from the HQ flag. Then the outermost flag is *not* split off into a new economy because the middle flag has already been split off. Therefore the HQ and the outer flags are now still in the same economy even though they are not connected. The fix for this needs to go into `E

[2020-08-07 18:04] Noordfrees commented on #4072
Which language are you playing in? I cannot reproduce and would suspect that a translator messed up the printf placeholders

[2020-08-08 04:20] matszpk commented on #4072
I am playing widelands in Polish language.

[2020-08-08 06:23] Noordfrees commented on #4072
Okay, the string `%1$s had %2$s` is translated as `%1$s miał $2%s.` Strange that our translations validator didn't notice that error…
@Niektory @gunchleoc

[2020-08-08 06:52] Niektory commented on #4072
The bad translation was 6 years old and marked as reviewed. I corrected it now in Transifex.

[2020-08-08 06:58] gunchleoc commented on #4072
The validator tool can get confused sometimes if the placeholders aren't followed by blank space - like the "%-Chance" in German it can't deal with.

It's a third-party tool, so we can't fix the tool.

[2020-08-08 06:58] #4072 closed, assigned to nobody

[2020-08-08 08:31] Noordfrees commented on #3055
Resis are immovables that vanish after a fixed time. They behave like any other immovable, which is fine.
The buildhelp is currently shown for own PreviouslySeen areas. IMHO it should stay like this to indicate that the area belongs to the player (as far as he knows…) and how valuable it is for building. How about blitting the buildhelp overlays with 50% transparency if the field is not currently

[2020-08-08 09:02] Noordfrees commented on #916
I believe this has been fixed by #3994 – we now force-conquer some nodes nearby for the portdock if necessary

[2020-08-08 09:02] #916 closed, assigned to nobody

[2020-08-08 09:05] Noordfrees commented on #1086
Is this still a problem? The valuable fields calculation was moved to C++ a while ago

[2020-08-08 09:08] Noordfrees commented on #1408
-1 from me for all suggestions here, a lot of effort with many possible side-effect bugs, for no practical gain. Let's leave it as it is.

[2020-08-08 09:10] Noordfrees commented on #1344
After #4046 we will always be seeing the state of the construction/dismantling at the time point when the field was last seen. Of course this does not fix the problem that you can't tell whether the building is being constructed or dismantled.

[2020-08-08 09:17] Noordfrees commented on #1307
The problem described here is that the worker notices that it's economy has no warehouses left. So he decides to leave this economy and turn fugitive, searching for a flag connected to a warehouse. To change this behaviour, we would need to add the worker to this warehouseless economy. But if that economy just happens *not* to have a place for the worker to go to (which we cannot know in advance!)

[2020-08-08 09:27] Noordfrees commented on #1615
Can this still happen? The `StepEvalFindPorts` used by fleets only allows moving to fields completely surrounded by water (`MOVECAPS_SWIM`) so this should not be possible now.

[2020-08-08 09:31] Noordfrees commented on #1821
Lots of effort for little gain. Especially as we are a bit short on graphicians. -1

[2020-08-08 14:34] #3874 closed, assigned to nobody

[2020-08-08 14:59] gunchleoc commented on #1086
I'd say it's obsolete.

[2020-08-08 14:59] #1086 closed, assigned to nobody

[2020-08-08 15:03] gunchleoc commented on #1408
The one thing we might still want to do is that when an expedition ship enters a field, it should be added to the top of the bob list, and in any other mode to the bottom of the list (or whichever way around they need to be sorted so that the expedition ship can be clicked on easily for selection).

I agree that we should not add any additional "move out of the way" code.

[2020-08-08 15:06] gunchleoc commented on #1344
I think that's good enough. Creating a "dismantle" animation would be too much Blender effort best spent elsewhere.

[2020-08-08 15:08] gunchleoc commented on #1307
Agreed. It's part of the risk of warfare, and if you lose your hero, you'll learn to manage your roads better next time.

[2020-08-08 15:08] #1307 closed, assigned to nobody

[2020-08-08 15:19] gunchleoc commented on #1615
Yes, this still can happen - I am circumnavigating the island here.

![ship_under_rocks](https://user-images.githubusercontent.com/4095570/89713916-dd54db80-d992-11ea-8362-9af70eef4a97.png)

Savegame: [ship under rocks.wgf.zip](https://github.com/widelands/widelands/files/5045441/ship.under.rocks.wgf.zip)

[2020-08-08 15:20] #1821 closed, assigned to nobody

[2020-08-08 15:24] Noordfrees commented on #1615
Ah. Apparently expedition ships are allowed to sail directly on the coast where the water is too shallow for transport ships. To me the actual bug seems to be that they can get that close – IMHO they should just have to stay in open water all the time like all other ships.

[2020-08-08 15:26] Niektory commented on #1307
Would it be an overkill to have him remember which ecenomies he's tried before?

[2020-08-08 15:40] frankystone commented on #1615
The thing with rocks is: Normally they can't be placed on water terrains. To do so one has to replace water with land like terrain, place the rocks and then replace land like terrain again with water terrain. Don't know actually if this trick works with other immovables too, but i would expect it. I guess the pathfinding for ships is not aware of this trick.

I think what GunChleoc says is the rig

[2020-08-08 17:46] Noordfrees commented on #1615
By the way, in this savegame I can not open the seafaring statistics menu. Another bug?
Edit: Yes it is, and it is an easy one that will be fixed by #4082

[2020-08-08 19:12] #744 closed, assigned to Noordfrees

[2020-08-08 19:12] #3093 closed, assigned to Noordfrees

[2020-08-08 19:12] #3281 closed, assigned to Noordfrees

[2020-08-08 20:09] Noordfrees commented on #3667
Will no longer be an issue after #4065

[2020-08-08 21:12] Noordfrees commented on #3227
I do not see a reason for this outstandingly informational and topical issue to remain open…

[2020-08-08 21:12] #3227 closed, assigned to nobody

[2020-08-08 21:19] Noordfrees commented on #3196
If the driver reports the wrong OpenGL version that's a bug in the driver and not in Widelands; trying to run Widelands anyway is not a good idea imho. We have some SDL message boxes now that should inform the user about the nature of such errors. I'd say let's close this issue

[2020-08-09 09:26] #3852 closed, assigned to nobody

[2020-08-09 09:28] gunchleoc commented on #3227
I remember that we did add a workaround for an SDL sound bug once, so probably already fixed too.

[2020-08-09 09:33] #3196 closed, assigned to nobody

[2020-08-09 17:55] Noordfrees opened #4087 "AI builds shipyard on non-seafaring map"
Build21: The AI has built a shipyard on a non-seafaring map (Crater).
Savegame: https://www.widelands.org/forum/topic/4924/?page=1#post-34170

@tibor95

See also #1689

[2020-08-09 18:35] gunchleoc commented on #4087
Is this the inverse of https://github.com/widelands/widelands/pull/4082?

[2020-08-09 18:37] Noordfrees commented on #4087
Nope, allows_seafaring detection is working correctly here: the human player can't build shipyards. I would guess that the AI is skipping the needs_seafaring check again.

[2020-08-09 18:53] tibor95 commented on #4087
I can see two possible causes:

- Shipyard is not recognized as shipyard (BuildingAttribute::kShipyard), we have no assert making sure that just one building is recognized as a shipyard, do we?
- Map::allows_seafaring() returned true by mistake

I am not aware of any change in the AI lately that could cause this, but I will investigate...

EDIT: third possibility:

- kShipyard is not handled in "n

[2020-08-09 19:15] tibor95 commented on #4087
sorry, It is not exact to say that it is about scoring, but more about placement of buildings. But still, look up the comment mentioned above and check...

[2020-08-10 07:17] #3184 closed, assigned to nobody

[2020-08-10 08:00] gunchleoc commented on #4087
*  we have no assert making sure that just one building is recognized as a shipyard

That shouldn't matter. What matters if the `BuildingDescr::needs_seafaring()`, which the AI needs to check against its `map_allows_seafaring_`, and not how many of them there are.

[2020-08-10 08:21] gunchleoc opened #4090 "Add notification when a screenshot is saved"
After hitting `CTRL+F11`, the player should see a status message in the lower left saying "Screenshot saved to <path>", just like then saving a game. At the moment, it is hard to sell whether the screenshot went through.

[2020-08-10 09:20] tibor95 commented on #4087
OK,
but we already have such check in DefaultAI::check_building_necessity(), I have to debug this. Hopefully this will be reproducible....

[2020-08-10 10:25] #3055 closed, assigned to Noordfrees

[2020-08-10 16:13] Niektory opened #4091 "Allow inspecting allies' buildings"
It would be nice to be able to inspect buildings belonging to your allies to see what wares and soldiers are inside.
It should work the same way as when you're watching a replay, but just for your allies.

[2020-08-10 16:56] #3667 closed, assigned to TinoM, gunchleoc

[2020-08-10 16:56] Niektory opened #4092 "Error when window size higher than primary monitor's"
When the window size is set to a size larger than the primary monitor's resolution the game fails to start with a confusing error message:
[code]

**To Reproduce**
1. Set the highest possible resolution in the options screen and disable fullscreen, quit the game.
2. Change your primary monitor/display to a smaller one.
3. Try to start the game again.

OR if you don't have monitors of different siz

[2020-08-10 17:00] Noordfrees commented on #4092
I got this before (using `--xres` and `--yres`) and I believe this is an SDL bug, not sure if we can do something about this…

(code is in `src/graphic/graphic.cc`)

[2020-08-10 19:03] tibor95 commented on #4087
I am trying to get this issue on master - no luck so far... do you think I should try build-21 branch  instead?

[2020-08-10 20:02] hessenfarmer commented on #4087
My guess is we didn't adapt the AI to

https://github.com/widelands/widelands/commit/a82ffd16e32b448b495580ad75dd97bbcf992157#diff-8b3fb4754ea59e427f4dd87588d46c97

[2020-08-10 20:47] Niektory opened #4093 "Starting a LAN game with AIs as spectator crashes"
The game crashes when a LAN game with AIs is started with the host spectating.

**To Reproduce**
1. Host a new LAN game.
2. Pick any map, Firegames for example.
3. Set yourself to spectator and all players to normal AI.
4. Start the game.

**Version:**
 - OS: Manjaro Linux
 - Widelands Version: 1.0~git24752[b08c22a@HEAD] (both release and debug)

**Backtrace**
[code]

[2020-08-10 21:31] Niektory commented on #4093
ab814efb6405192141f4c302d850094a78000223 is the first bad commit (Show buildhelp semi-transparent on PreviouslySeen nodes #4083)

[2020-08-11 06:24] hessenfarmer commented on #4087
well my first guess seems to be wrong as the AI should use the correct info from the logic code.
I already asked the bug reporter in the forum if he saved and reloaded, because my next gues would be we don't save this info and do not generate it after reloading , but I am not sure about that

[2020-08-11 06:26] tibor95 commented on #4087
I am just compiling build-21. My ques is somehow wrong data dir

[2020-08-11 06:33] TinoM commented on #3430
This is fixed, on windows widelands starts normaly with a missing "locale" dir in the datadir. It logs a warning into stdout.txt and runs in the default language english.

[2020-08-11 06:33] #3430 closed, assigned to gunchleoc

[2020-08-11 06:39] TinoM opened #4097 "Add new commandline parameter for the locale dir"
Currently only the datadir is a parameter and widelands expects the localedir to be in the datadir.
It does no longer crash with a missing localedir, but it would be nice to be able to specificy the localedir independently.

On my windows development machine, the locale dir with the translation get build in the build dir, while the datadir resides in the git checkout dir.
I've added an extra xcopy

[2020-08-11 16:25] #4093 closed, assigned to Noordfrees

[2020-08-11 17:56] Niektory opened #4103 "Assertion `ware_filled_ < ware_capacity_' failed."
The game crashed in a match between two AIs. It also crashes when watching the replay. The failed assertion:
[code]
In a release build a heap-buffer-overflow happens instead.

**To Reproduce**
1. Watch [the replay](https://github.com/widelands/widelands/files/5058583/fetch_pending_ware_crash.zip).
2. Resume after it ends.
3. The game crashes at 23:27.

**Version:**
 - OS: Manjaro Linux
 - Wideland

[2020-08-11 18:33] hessenfarmer commented on #4097
well in my machine it accepts a real symbolic link, but you need to create this in a specific way with the commandline tool "mklink"
if you don't add this to git it should work

[2020-08-11 18:36] Noordfrees commented on #4103
Not fair! Side-effect of #4076 which was merged just one day ago ;)

[2020-08-11 18:37] hessenfarmer commented on #4087
First strange thing is that this is a nethost savgame. Might be unrelated though

[2020-08-12 07:09] gunchleoc commented on #4097
I guess I misunderstood another of your comments that landed in my inbox today which stated that it was already fixed on Windows, so I deleted the branch. It didn't work anyway.

What I was trying to do was to move the link creation from `compile.sh` to CMake.

[2020-08-12 16:06] gunchleoc opened #4109 "Player vision packet is too slow"
Writing new Europa map with Build 21:

[code]

And on Master:

[code]

This is far too slow. I have started working on this https://github.com/gunchleoc/widelands/tree/speedup-player-vision-packet

[2020-08-12 19:38] Noordfrees commented on #4109
Perhaps writing all the details for `kPreviouslySeen` fields only would already give a good bonus?

[2020-08-12 22:23] Niektory commented on #1344
It doesn't seem like this is working in the case of dismantling.

[2020-08-13 03:39] Niektory commented on #4092
OK, I see what's going on. `SDL_GetWindowDisplayMode()` fails, but we don't do error checking, so we read uninitialized memory and get funny values. The failure just means that SDL couldn't find a fullscreen mode suitable for our window. If we're not in fullscreen we shouldn't care. Maybe it's not even the right function to use here.

[2020-08-13 08:07] #4103 closed, assigned to Noordfrees

[2020-08-13 08:16] Noordfrees commented on #4109
I have to update the packet saveloading anyway while working on #1344 so I'll also have a look at speeding things up there

[2020-08-14 03:02] Niektory commented on #3250
[3250_workers_not_spawned_at_closest_warehouse.wgf.zip](https://github.com/widelands/widelands/files/5072469/3250_workers_not_spawned_at_closest_warehouse.wgf.zip)
When the farm is built, a scythe is produced and carried to the distant headquarters to make a farmer, instead of the nearby warehouse.

[2020-08-14 06:06] #1723 closed, assigned to nobody

[2020-08-14 06:26] #3778 closed, assigned to nobody

[2020-08-14 12:02] #4097 closed, assigned to TinoM

[2020-08-15 05:32] #4069 closed, assigned to nobody

[2020-08-15 10:07] #3417 closed, assigned to gunchleoc

[2020-08-15 12:31] #4092 closed, assigned to Niektory

[2020-08-15 16:11] #3726 closed, assigned to nobody

[2020-08-15 18:35] #4067 closed, assigned to Noordfrees

[2020-08-16 06:13] #1344 closed, assigned to Noordfrees

[2020-08-16 06:13] #4109 closed, assigned to gunchleoc

[2020-08-16 10:19] frankystone opened #4132 "Missing localization for Territorial Time"
The localization of wincondition of territorial time isn't applied:

![localization](https://user-images.githubusercontent.com/6730556/90332026-9f227200-dfb9-11ea-909d-2eae3471f419.png)

All other winconditions are translated. Tested only German.

The corresponding po-file has the localized string in it.

**To Reproduce**
1. Start a new game
2. Click on Wincondition and move the mouse over Territo

[2020-08-16 10:20] Noordfrees commented on #3955
Closing as duplicate of #967

[2020-08-16 10:20] #3955 closed, assigned to nobody

[2020-08-16 10:21] Noordfrees commented on #4132
That string was changed recently and probably just hasn't been pulled from Transifex yet.

Edit: the string in the PO file is still the old version

[2020-08-16 10:54] hessenfarmer commented on #4047
Shouldn't this be closed now?

[2020-08-16 11:32] frankystone commented on #4132
Sorry

[2020-08-16 11:32] #4132 closed, assigned to nobody

[2020-08-16 11:39] Noordfrees commented on #4132
No problem. The last translations sync was two weeks ago – @gunchleoc

[2020-08-16 16:56] gunchleoc commented on #4132
I'll go ahead and pull them now.

Note that there might still be gaps if the bug that caused us to force pull from Transifex is still around - I don't want to force pull unless we need it, because it blows up the diffs with lots of changed timestamps.

[2020-08-16 16:58] gunchleoc commented on #4047
No, there is still 1 open branch, and we need to update the animation code to use the `%` unit.

[2020-08-16 17:09] #3741 closed, assigned to nobody

[2020-08-16 18:23] Noordfrees commented on #4132
Looks like the commit updated only the POT files. Apparently force-puling is necessary.

[2020-08-17 14:53] Noordfrees commented on #590
This has regressed in fc2cb61 :(
See the highlighted dropdown entry:
![wl-590](https://user-images.githubusercontent.com/48293446/90409929-0f102580-e0aa-11ea-8c30-fb4051460c52.png)

Perhaps it's related to the first character being an 'Ö'? (playing in low german)
This can also be seen further down with the map name "De lesten **Ö**verlevers"

[2020-08-17 16:00] gunchleoc commented on #4132
Translation pulling issue with https://github.com/widelands/widelands/commit/a8e3e60a77c4ca768d65cc7672953a3264b2cb8f

[2020-08-17 16:11] gunchleoc commented on #3834
@gingerDevilish In case you're interested, we're running our own clang-tidy as a GitHub action now: https://github.com/widelands/widelands/blob/master/.github/workflows/build.yaml#L9

This gives us full control over which checks we want to run, and we can run it offline too.

[2020-08-18 00:36] Niektory commented on #1079
Possible improvements to fullscreen handling on multiple monitors – do we want any of these?
1. Remember the last window position. Now if one prefers to play on a secondary monitor they have to move the window there every time they start Widelands. This is especially cumbersome if using fullscreen.
2. (Optionally?) Disable "minimize on focus loss", so you can do something on another monitor and ke

[2020-08-18 03:40] Niektory commented on #590
Yes it is. Before 1b2a67020a2cfaaaaeabfe3f30a4546c6bd31f46 the characters with descenders like **p**, **j**, **g** caused problems in some font sizes, but **Ö** did not. After 1b2a67020a2cfaaaaeabfe3f30a4546c6bd31f46 it's the other way around: characters with descenders work fine, but **Ö** (and I assume other characters with high diacritics) doesn't. So pick your poison.

[_TTF_SizeUTF8_ document

[2020-08-18 14:15] Noordfrees commented on #2921
Is this still open?

[2020-08-18 15:09] gunchleoc commented on #2921
I just tested. When no soldiers are available, the productivity starts dropping.

[2020-08-18 15:09] #2921 closed, assigned to nobody

[2020-08-18 15:11] gunchleoc commented on #1079
I have never used a multi-monitor setup and I have none available, so I don't have any informed opinions on this.

[2020-08-19 06:32] frankystone commented on #1079
I think both would be good.

If 1. get implemented, this would be superfluous, imho.

This sounds very tricky to me. It may can lead into some bugs if involved third party software (SDL, window manager) get updated?

Sounds complicated...

If i understand correctly this means i can place any window (e.g. inventory, statistics, watchwindows, ...) outside the main view? So i would have the mainview

[2020-08-19 08:13] hessenfarmer commented on #3346
should be fixed with the merge of #3693

[2020-08-19 08:13] #3346 closed, assigned to gunchleoc

[2020-08-20 20:02] hessenfarmer opened #4138 "Building help Healing text is not translated"
In the buildinghelp the text
"Garrisoned Soldiers heal 130 Health point per second" is not translated

[2020-08-20 20:29] hessenfarmer opened #4139 "tribes filtering introduced bug with custom Building, ware or worker images"
In a custom scenario map the game doesn't parse the images correctly it throws an error that no suitable animations were found
" Failed adding ware 'ax_sharp: Error while loading ware type 'ax_sharp': [D:/development/Widelands_Git/fork_bal/src/scripting/lua_errors.cc:22] Error loading animation 'idle' for map object 'ax_sharp': Animation in directory 'map:scripting/tribes/ax_sharp/' with basename

[2020-08-21 05:11] klaus-halfmann commented on #1079
I have a retina Display and can attach a 4k and a Full  HD Monitor. Playing e.g. crater on 4k, I can see the complete Map and some windows without scrolling. SDL cooperates nicely with macOS on resizing the screen.  #4125 does **not** allow e to strech the window across multiple screens, but thats a macOS "feature" I assume.  I am quite happy wth the situation as is (assuming #4125 gets merged.) I

[2020-08-21 09:16] gunchleoc commented on #4139
That's because `dirname = "test/maps/market_trading.wmf/" .. path.dirname(__file__)` only works within the test suite setup. If you want to run a test suite map as a normal game, you'll have to fix the path.

Can you reproduce this bug with a normally run game, with a map designed to be played and not so be used specifically for the test suite?

[2020-08-21 09:23] gunchleoc commented on #4138
Not just that one - any string fetched with ngettext in Lua has this problem.

[2020-08-21 10:09] Niektory commented on #1079
It could be fragile, yes.

Possibly. I don't have a solid idea how the secondary windows would work or what they would contain, just mentioning it as a possibility. I doubt we'll go for it anyway.

[2020-08-21 12:08] hessenfarmer commented on #4139
Ok I forgot that I changed the path to "map:" .. path.dirname(__file__) to get the relevant error message.

See also https://www.widelands.org/forum/topic/4926/

[2020-08-21 12:16] hessenfarmer commented on #4139
from the error message it seems like the program is expecting mipmaps but we only have an old style idle_00.png in there

[2020-08-21 13:00] gunchleoc commented on #4139
That error message is misleading - it's much more likely that it's looking in the wrong directory.

[2020-08-21 14:11] Niektory opened #4141 "Assertion `tribe().has_ware(ware)' failed in Ware Statistics"
[code]
[Backtrace](https://github.com/widelands/widelands/files/5109252/has_ware_assertion_failed.txt)

**To Reproduce**
1. Start a game.
2. Click Statistics -> Wares from the bottom menu.

**Version:**
 - OS: Manjaro Linux
 - Widelands Version: 1.0~git24798[8db5858@master]

[2020-08-21 14:55] frankystone commented on #4139
One may can try this scenario.

It consists only of internal data and uses an atlantean farm as a headquarter named "custom_building".

This throws two errors, one regarding missing animations, the second is an assert.
[test custom buildings.zip](https://github.com/widelands/widelands/files/5109439/test.custom.buildings.zip)

But maybe i am doing something wrong...

[2020-08-21 15:42] gunchleoc commented on #4139
Thanks for the files.

You are doing nothing wrong, this is definitely a bug.

I will look into this after https://github.com/gunchleoc/widelands/tree/pluggable-tribes-helptexts and https://github.com/gunchleoc/widelands/tree/world-filtering have been merged, because it will be easier to fix then.

[2020-08-22 09:20] gunchleoc commented on #4139
WIP branch: https://github.com/gunchleoc/widelands/tree/4139-scenario-animations

It fixes the problem for the animations, but the menu icons and helptexts will need fixing too. I need to wait now for the 2 branches mentioned above. Otherwise, I'll get massive merge conflicts.

[2020-08-22 09:32] frankystone commented on #4139
Thanks, no need to hurry :-)

[2020-08-22 11:31] frankystone opened #4142 "Editor: Rethink editors load map behavior"
I think most of the maps authors do work on their own maps. To open the wanted map there are two possibilities:

1. load it directly when passing it as argument to the command line. Downside: tab completion do not work (at least for me), so one has to remember and write down the full path the map
2. load it after starting widelands and click on Editor. Downside: To get to the wanted map, one has t

[2020-08-22 11:33] gunchleoc opened #4143 "Unknown campaign ... unprotected error in call to Lua API"
Reported in https://github.com/widelands/widelands/pull/4113#issuecomment-678371916

@klaus-halfmann Do you have any more information about what you were doing, so that we can try to reproduce this?

[2020-08-22 11:35] gunchleoc commented on #4142
When https://github.com/widelands/widelands/pull/4080 is done, we could add a dropdown menu in the main menu.

[2020-08-22 16:24] klaus-halfmann commented on #4143
Playing on 1.0~git24799[c477e3e@master]. master at 2020-08-22
Choose Map Europe with AIs only Tribes Round robin as Multiplayer Game
Let game run for about 15:00 minute game time (at 10 x speed)
quit game
Go back to start menu and choose "Continue Playing"

Last logs are:

[code]
Using the savegame works without issues ...
no difference if I do amunalsave or wait for an autosave.
Debug Build compi

[2020-08-22 16:51] Noordfrees commented on #4143
The "Continue" button loads the latest *singleplayer* game. Your multiplayer game is ignored.

Which win condition and starting conditions does the faulty SP savegame have? Can you upload it? (you can see the savegame name in the tooltip of the continue button)

[2020-08-22 16:59] klaus-halfmann commented on #4143
Win Condition was collectors. my last singelplayergame was ... some new atlanter scenario from @hessenfarmer .
Maybe we should handle this more gracefully and show a message like "Failed to continue <Filename> beacuse of <Error Condition>".

[2020-08-22 19:47] Noordfrees commented on #2057
Branch for this and #3656: https://github.com/Noordfrees/widelands/tree/extend_keyboard_support
Our focus system has a lot of bugs in it because we did not really use focus and keyboard input much until now, so this is going to become a somewhat larger refactoring.

[2020-08-22 20:50] Noordfrees commented on #4143
The Lua `PANIC` does not normally happen. Most other errors are caught gracefully with a message window, so we should try to do this for this error too (if possible – this error occurs inside the 3rd-party Eris lib). But to do that (and also to debug the bug itself) it would be good if you can upload the savegame ;)

P.S. There is no difference between using the Continue button and loading the sam

[2020-08-22 21:32] Noordfrees commented on #756
The stats windows doesn't have a help button currently. And I don't see why it should *need* a help window… let's close this?

[2020-08-23 06:11] klaus-halfmann commented on #4143
Here you are: [ATL-2.wgf.zip](https://github.com/widelands/widelands/files/5113574/ATL-2.wgf.zip)
Loading this the normal way gives me the same error.

Originating Branch is https://github.com/widelands/widelands/tree/atlantean02

[2020-08-23 09:13] Noordfrees commented on #4143
Thanks :)
[code]
As I thought this is deep in Eris code so it would be hard to debug. We could try to catch it though before it segfaults.

[2020-08-23 09:17] gunchleoc opened #4146 "Road program needs textures to be in first texture atlas"
**Is your feature request related to a problem? Please describe.**

In `build_texture_atlas`, there is some hard-coding for loading all terrain and road textures to get them into the first texture atlas. The `RoadProgram` then depends on all road textures being in the first atlas. There is an assert to ensure this: `assert(*gl_texture == texture.blit_data().texture_id);`.

Removing the hard-coded

[2020-08-23 09:47] gunchleoc commented on #4143
I tried catching the SIGABRT, but no luck.

https://stackoverflow.com/questions/8934879/how-to-handle-sigabrt-signal
https://www.geeksforgeeks.org/c-signal-handling/
https://www.tutorialspoint.com/cplusplus/cpp_signal_handling.htm

[2020-08-23 10:06] #1836 closed, assigned to Niektory

[2020-08-23 10:06] #3974 closed, assigned to nobody

[2020-08-23 10:09] #756 closed, assigned to nobody

[2020-08-23 16:34] gunchleoc commented on #3923
I'm refactoring the helptexts in https://github.com/gunchleoc/widelands/tree/pluggable-tribes-helptexts so that message will definitely go away then.

[2020-08-23 17:02] Noordfrees opened #4151 "The new resizing feature breaks default window resolution"
I usually play in windowed mode at 1024×768. Ubuntu MATE automatically maximizes new windows. With other programs, I can do this:
- Start the program in windowed mode. It is automatically maximized.
- Click-and-drag the titlebar. The window is returned to its normal window size.

With Widelands, this works the first time after I start it. But when I do this:
- Start WL. It is automatically maximiz

[2020-08-23 18:56] #1482 closed, assigned to nobody

[2020-08-24 01:02] josephomorrow opened #4152 "Production Stats Window"
Using build~git24808[fc505ab@master] (Release) in Fedora 32 x86_64:

Attempting to open the Production Statistics window crashes the program. Where can I find the core dump?

[2020-08-24 05:39] SirVer opened #4154 "Mac OS Nightlies broken"
I was on vacation last week and some merge has broken my build setup for the mac os nightlies on both of my machines. The modern one is complaining about OpenGL, while the older one is complaining about being unable to find ICU.

Reminder: I am manually building a version of widelands for Mac OS and upload them here: https://www.widelands.org/~sirver/wl/macos_daily/. They are linked from our downl

[2020-08-24 05:40] frankystone commented on #4152
I think this is the same as #4141 and will be fixed soon.

Marked as duplicate.

[2020-08-24 06:26] hessenfarmer commented on #4154
The culprit most probably is
https://github.com/widelands/widelands/pull/4100
this requires a cmake version newer then 3.7 to find the libraries with cmake delivered find files.
@gunchleoc managed to build and upload .dmg files for the latest mac-os on github (currently 10.15)
so if you could get the nightlies fixed they still might deliver support for older machines I believe.

[2020-08-24 06:31] gunchleoc commented on #4154
We do have working nightlies on GitHub now, like this one: https://github.com/widelands/widelands/actions/runs/221338805

They come with 2 drawbacks though:

- People need to get a GitHub account before they are allowed to download
- Only MacOs 10.5 is supported

So, I think it would be good to keep your nightlies working too. Our build code with working dependencies: https://github.com/widelands/

[2020-08-24 14:41] josephomorrow commented on #4141
Updated to 1.0~git24809[2f77c9a@master] (Release) Still crashes when attempting to open production-stats window from bottom menu or by pressing "P".

terminate called after throwing an instance of 'std::bad_cast'
  what():  std::bad_cast
/home/Joseph/bin/widelands_play: line 2: 146238 Aborted                 (core dumped) ./widelands

Where is that core dumped?

[2020-08-24 15:00] Noordfrees commented on #3221
I cannot reproduce with 3c33e3080339d6023e874db94201d13319d05bad
![shot0002](https://user-images.githubusercontent.com/48293446/91060399-30818c00-e62b-11ea-92e6-86ee0014bc49.png)

[2020-08-24 15:08] Noordfrees commented on #3436
Should probably be fixed by #3994. And the constructionsites for big buildings do have size "big" (this is overridden in `partially_finished_building.h`).

[2020-08-24 15:08] #3436 closed, assigned to nobody

[2020-08-24 16:12] #4141 closed, assigned to gunchleoc

[2020-08-24 16:12] #4152 closed, assigned to nobody

[2020-08-24 16:18] frankystone commented on #4141
You will need revision 7ee32e9 (one after yours) to check if it works for you.

[2020-08-24 19:40] #3971 closed, assigned to gunchleoc

[2020-08-24 23:26] Niektory opened #4160 "Game interface is drawn in a wrong place"
Reported by @frankystone. I can't reproduce so far but I've seen this problem before. It happens when the surface the game draws on is different size than the window. Normally they should stay synchronized but apparently they do not in some cases. One case I know was problematic was when the game tried to resize a maximized window, but I thought I took care of it (by forcibly unmaximizing it befor

[2020-08-25 05:06] SirVer commented on #4154
I confirmed that it was indeed #4100 that broke my setup (thanks @hessenfarmer for the hint!). On one machine updating cmake was all that was needed, the other one needed a little more work, but it seems I am back on having a working setup. I will keep this open until I can test the new nightlies on a machine that never build widelands before, will close then.

[2020-08-25 06:49] frankystone commented on #4160
OS: archlinux
Version is: 7ee32e9@master] (Debug)

My monitor setup:
[code]

Starting  widelands in window mode (it starts at primary monitor with resolution 1920x1080) i noticed the following:

1. Options shows me an active resolution of 1912x1047
2. Set resolution 1920x1050 and click Accept. The screen flickers a bit caused by some relayouting of the ui elements

Now the misbehavior happens. The

[2020-08-25 06:59] frankystone commented on #4160
Now i have managed to get the following:

![moved_buttons_1](https://user-images.githubusercontent.com/6730556/91142478-1e4a3100-e6b1-11ea-8db7-f7b341a8a078.jpg)

The whole menu including the background image was shifted down.

[2020-08-25 07:03] frankystone commented on #4160
Seems like only the x-axis is affected.

Bullshit, it's the y-axis... sorry

[2020-08-25 13:54] Niektory commented on #4160
Gah. I still can't reproduce even after replicating your monitor setup.

Could you run this branch, reproduce the bug and post the log output? https://github.com/Niektory/widelands/tree/resolution_debug

[2020-08-25 16:16] frankystone commented on #4160
I noticed also some flickering when hitting a mouse button in the first splashscreen ("Press any key to continue"). It feels like the window get translucent, or get closed and immediately reopened again. This last just miliseconds.

Here you are, the attached file shows the output after reproducing the bug. This is the output directly after start at resolution 1980x1080 until the first splashscree

[2020-08-25 16:28] gunchleoc commented on #1213
Since this is the ordering of bobs on a field, this can be worked on together with https://github.com/widelands/widelands/issues/1408

[2020-08-25 16:42] frankystone commented on #4160
Just to mention it: I do not resize the window, just start the game and clicked on Options and the corresponding dropdowns/buttons (Accept/OK).

[2020-08-25 18:00] frankystone commented on #4160
I've made a screencast of the issue. You can find it here: https://c.1und1.de/@520176427140645159/jGX8y6RKRgGpzvOm7ok5eQ

Note the following:
* The resolution shown in options menu
* The adjustments of ui elements if i set the resolution to 1920x1080
* The misaligned tooltips (=area to click) in the options menu
* The tooltips are now beneath the mouse pointer
* I have to click below the buttons
*

[2020-08-25 18:35] hessenfarmer opened #4164 "Atlantean Labyrinth Help Error"
In the Atlantean Labyrinth the needed wares for health training and evade training are wrong

see also https://www.widelands.org/forum/topic/4928

[2020-08-25 19:42] Niektory commented on #4160
Thanks for the screencast, it's super helpful. It's indeed the same issue that I ran into myself. Except on my system it only happened when the window was maximized, so I worked around it by unmaximizing the window before resizing. Unfortunately on your system it happens even when it's not maximized.

Basically what happens is that I call *SDL_SetWindowSize()* to resize the window to the new size

[2020-08-25 20:52] frankystone commented on #4160
hm... why does it work just after starting widelands? In this state the ui  does not have this issue. So if it works correct after starting widelands, and not working correct after applying a resolution, there must be different calculations?

[2020-08-25 21:53] Niektory commented on #4160
Here's the sequence of events. Note that all sizes are the sizes of the *contents* of the window; they do not include window decorations (title bar and borders).
- Widelands is started.
- Widelands creates a window at size **1920x1080**.
- The system maximizes the window to **1920x1051** (full screen minus title bar). Widelands receives *SDL_WINDOWEVENT_SIZE_CHANGED* and *SDL_WINDOWEVENT_RESIZED*

[2020-08-25 22:22] Niektory commented on #4160
I've got an idea that is a little silly. Could you try the debug branch again and see if it behaves differently?

[2020-08-26 05:22] SirVer commented on #4154
Build setup is healed and running again and I tested both nightlies on a machine that never built Widelands before successfully. So Mac OS nightlies are on track again.

[2020-08-26 05:22] #4154 closed, assigned to SirVer

[2020-08-26 05:46] frankystone commented on #4160
Thanks for the explanation :-)

The issue is gone, but the window (including title bar and borders) is now bigger than the screen: The title bar is at the top, but the bottom is below the bottom of the screen. The text of the splashscreen and the images in the bottom corners are too far down.

![resolution](https://user-images.githubusercontent.com/6730556/91257604-a5a7ab00-e76a-11ea-95ef-522f9eba

[2020-08-26 08:18] Noordfrees opened #4167 "Debug window won't scroll"
The debug window aggressively scrolls to the top of the window.

To reproduce: Use a debug build, click on a field, choose the Watch tab, click the DBG button, try to scroll down in the field-debug window.

[2020-08-26 11:23] Niektory commented on #4160
Here's how I see it: I think the possibility to resize the window by dragging the borders and using window manager controls makes the "Window Size" dropdown mostly obsolete. The dropdown is left there for the cases where you really want a specific UI size – taking screenshots or testing UI scaling, these kinds of things. I think the dropdown should be optimized for these use cases, because for oth

[2020-08-26 13:00] gunchleoc commented on #4160
I think we should keep it. One sometimes needs a specific resolution, e.g. I like to revert to 800x600 for testing purposes without doing lots of fiddly corner dragging. Speaking of fiddly corner dragging, it's also an accessibility feature for people who have low dexterity in their hands.

[2020-08-26 13:03] gunchleoc commented on #3221
I can still reproduce this in singleplayer when I save a non-English game, switch the UI to English and then load the savegame.

[2020-08-26 16:46] frankystone commented on #4160
Yes. If possible the dropdown should only show available resolutions given by the graphics driver. AFAIK on startup widelands read the set resolution from the config file and the dropdown should show this information. If the real size (inside the borders) is a bit smaller, i guess no one would ever notice it.

[2020-08-26 19:04] Niektory opened #4168 "Blurry sprite rendering at 1x zoom"
The sprites of buildings etc. rendered in the game are blurry at 1x zoom. It seems that the game doesn't align the sprites to integer pixel coordinates. It can be easily seen by replacing the Atlantean Headquarters sprite with this test image:
![idle_00.png](https://user-images.githubusercontent.com/4470900/91344576-631fb600-e7de-11ea-966c-b8b545cb2b6b.png)
![screenshot](https://user-images.github

[2020-08-27 04:55] #4164 closed, assigned to hessenfarmer

[2020-08-27 04:57] #2057 closed, assigned to Noordfrees

[2020-08-27 04:57] #3656 closed, assigned to Noordfrees

[2020-08-27 15:41] Niektory commented on #4160
What do you think about:

![Maximized in dropdown screenshot](https://user-images.githubusercontent.com/4470900/91463697-fd8a0300-e88b-11ea-9a86-71f71023e93d.png)

Or, going even further:

![Fullscreen in dropdown screenshot](https://user-images.githubusercontent.com/4470900/91463711-0084f380-e88c-11ea-8216-01ba86226242.png)

(this one would replace the checkbox)

[2020-08-27 15:52] Noordfrees commented on #4160
+1 for the second one :)

edit: might be hard to integrate this with fixing #4151 though

[2020-08-27 19:22] #4168 closed, assigned to Niektory

[2020-08-27 19:39] #1695 closed, assigned to gunchleoc

[2020-08-27 19:53] frankystone commented on #4160
I think both are good :-)

[2020-08-28 15:30] spth opened #4172 "ware statistic segfaults"
Today, on my Debian GNU/Linux testing system on amd64, I got current widelands from git, compiled using compile -r, started a new game, played a bit, then tried to look at the ware statistic.

widelands crashes, and the crash is reproducible using the save at
http://www.colecovision.eu/stuff/segfault-max.wgf

[2020-08-28 15:49] Noordfrees commented on #4172
Confirmed. Backtrace:
[code]

[2020-08-28 17:07] dreirund opened #4173 "Ferrys trying to reach their waterway they want to serve can get stuck on lava-water-boundaries."
### Describe the bug
Ferrys trying to reach their waterway they want to serve can get stuck on lava-water-boundaries:
Waterways can be build along "spikes" of land reaching into water (i.e. where the waterway touches, but does not pass along, land). Touching lava is not possible.
However, when a waterway is build elsewhere, and a newly build ferry wants to reach the waterway to enter it's service,

[2020-08-28 17:22] dreirund opened #4174 "In Map 'Long, long way v2.wmf', there is no space to build a mine at gold where from symmetry it seems that there should be."
### Describe the bug
In the map `Long, long way v2.wmf`, there is a place where there is gold, and symmetry of the maps make me assume that there should be space to build a mine. But there is no space (only space for flags).

### To Reproduce
Steps to reproduce the behavior:
1. Open the attached savefile `bug_ferry_stuck_at_lava_and_no_mine_building_place_at_gold.wgf.zip` of a gameplay of the map

[2020-08-28 17:28] Noordfrees commented on #4174
Sorry, side effect of #4033, will fix this quickly

[2020-08-28 17:28] frankystone opened #4175 "Game error: world does not define bob type "duck""
The campaign "Strands of Malac' More" fails to load with the message:

[code]

**To Reproduce**
1. Load campaign Empire -> Strands of Malac' More

**Version:**
 - OS: archlinux
 - Widelands Version: 1.0~git24[7f72ddf@master] (Release)

[2020-08-29 01:04] #3673 closed, assigned to Noordfrees

[2020-08-29 09:40] gunchleoc opened #4178 "Xenial daily PPA is failing"
See https://github.com/widelands/widelands/pull/4161#issuecomment-680877589

[2020-08-29 10:44] Noordfrees opened #4180 "Tooltip layouting issues"
The following screenshots illustrate two issues with very broad (> half the screen width) tooltips:
- When the mouse pointer is near the screen centre, the tooltip does not fit onto the screen when it is displayed to the lefr of the mouse pointer, nor when it is displayed to the right. In this situation it is cut off. **Expected:** it should be displayed with an offset so that it is completely on

[2020-08-29 11:40] gunchleoc commented on #4178
I can reproduce this on a Xenial VM. Both OpenGL and ICU are a problem.

* cmake version 3.5.1
* It's not taking the `if(${CMAKE_VERSION} VERSION_LESS "3.9.0")` path for ICU?

[2020-08-29 16:53] #4175 closed, assigned to gunchleoc

[2020-08-29 18:09] spth commented on #4172
On another system (also Debian GNU/Linux testing amd64, but a desktop, as the previous report was from a notebook), I compiled the same widelands version from git, started a new game on the same map. It took a bit longer this time, but now I also see the ware statistics crash there.

[2020-08-30 08:14] Noordfrees opened #4184 "Targeting Workers"
https://www.widelands.org/forum/topic/4930

***EITHER***

Allow moving the workarea of any building to a different spot (the worker should then prefer to work near the new centre).

***OR***

Allow marking immovables for removal using the fieldaction window (workers should then prefer ro work on those immovables).

Either way also should be adapted to allow the targeted removal of young trees.

[2020-08-30 09:34] gunchleoc commented on #4172
Thanks for testing some more. The attached pull request should fix it.

[2020-08-30 09:50] gunchleoc commented on #4184
I'm in favor of option 1, as this will make it easier to clear forested mountains, for example.

I think the removal of young trees might be problematic. As discussed on the forum, it will go against deliberate blocking by trees on some maps.

[2020-08-30 10:01] gunchleoc commented on #1882
Pause can be done by switching animations back and forth in the immovable program.

[2020-08-30 10:01] #1882 closed, assigned to nobody

[2020-08-30 10:11] frankystone commented on #4184
I agree with GunChleoc.

[2020-08-30 10:23] Noordfrees commented on #4184
Functional WIP branch for option 2: https://github.com/Noordfrees/widelands/tree/target_workers
I at first thought that this would be the better option but after some testing I'm not so sure. Will also make a branch for option 1 now.

[2020-08-30 11:53] #3685 closed, assigned to Noordfrees

[2020-08-30 13:15] Noordfrees commented on #4184
Functional branch for option 1: https://github.com/Noordfrees/widelands/tree/4184-move-workareas

IMHO this is a very powerful feature. It allows workers to reach immovables and other resources they could not reach otherwise. It also opens up lots of new ways of micromanaging, e.g. when your mine runs empty you just shift the workarea a bit further away.

Do we really want this? Please test both b

[2020-08-30 13:15] #585 closed, assigned to nobody

[2020-08-30 16:34] hessenfarmer commented on #4184
we should have the movable workareas only for the workers not for buildings. This will exclude mines and wells.
Furthermore I agree with GunChleoc and frankystone to not be able to remove young trees.

[2020-08-30 16:50] gunchleoc opened #4186 "Windows build won't run"
I downloaded a development build from a GitHub action (x64, release) and got this:

![glew-dll](https://user-images.githubusercontent.com/4095570/91664734-03c8eb00-eae9-11ea-9a54-25e0005a6dbf.PNG)

Looks to me like the static linking doesn't work.

[2020-08-30 17:26] frankystone opened #4187 "Sigbart in defaultai.cc"
widelands: /home/kaputtnik/Quellcode/widelands-repo/widelands/src/ai/defaultai.cc:1303: void DefaultAI::update_all_mineable_fields(uint32_t): Zusicherung »mine_fields_stat.has_critical_ore_fields()« nicht erfüllt.

1. Load attached savegame
2. Wait until the sentry in the east get filled with soldiers
3. As soon the first soldier walks in, the crash (assertion?) happens

[backtrace](https://github

[2020-08-30 17:36] Noordfrees commented on #4184
The problem with that is that assuming we have a building that works by itself (like a mine) and can also send out a worker would then have one workarea for the building and another one with a different centre for the worker. We cannot differentiate this right now, and this would involve quite some tedious refactoring.

I see that there's a majority for moveable workareas, and limiting this for wo

[2020-08-30 18:57] #4178 closed, assigned to gunchleoc

[2020-08-30 20:27] hessenfarmer opened #4190 "crash at start of debug build"
Starting any road placing or loading roads end with a crash in my debug build
---------------------------
Microsoft Visual C++ Runtime Library
---------------------------
Assertion failed!

Program: C:\msys64\home\Stephan\debug\src\widelands.exe
File: D:/development/Widelands_Git/fork.../road_program.cc
Line: 92

Expression: *gl_texture == texture.blit_data().texture_id

For information on how you

[2020-08-30 20:28] frankystone commented on #4184
I guess the problem is that the _worker_ programs are only defined by the _buildings_, __not__ the _workers_.  This has confused me quite a lot ;)

[2020-08-30 20:58] hessenfarmer commented on #4186
confirmed

[2020-08-31 07:57] hessenfarmer commented on #4187
well the AI Hints hadn't be renamed. I provided a branch that hopefully might fix this. However I can't check it as I can't get my debug builds to work

[2020-08-31 07:59] hessenfarmer commented on #4186
I have identified a fix I believe. Will provide a branch tonight as this needs some cleanup and was not ready yet

[2020-08-31 08:01] hessenfarmer commented on #4184
This I don't understand. the worker program with all parameters is defined in the workers init.lua.

[2020-08-31 08:04] hessenfarmer commented on #4146
It seems this is already a bug as in a current debug build I get the error of this assertion see #4190

[2020-08-31 08:05] hessenfarmer commented on #4087
After long attempts to solve this it seems that a clean reinstallation solved this issue

[2020-08-31 12:13] Noordfrees commented on #4184
In Lua, the definitions are separate. But in C++, the info we need is all mixed up together in `BuildingDescr.workarea_info`. It contains building actions (such as mining and conquer range), worker actions (like woodcutter), and also info about the building's enhancement's work areas. This would need to be split into something like this:
[code]
(I think we can drop the descriptive strings, AFAIK t

[2020-08-31 12:56] PinPhreek opened #4194 "Check that detected datadir matches executable version"
**Describe the bug**
When you start widelands, it crashes imidiatly.

**To Reproduce**
Steps to reproduce the behavior:
1. Freshly clone the repo
2. Run ./compile.sh -a -t -j 2
3. Wait to finish compiling
4. Run ./widelands

**Expected behavior**
Widelands should have started up.

**Version:**
 - OS: Arch Linux (5.4.60)
 - Widelands Version: 1.0~git1[c037065@master] (Debug)

**Error-Log**
his is W

[2020-08-31 13:04] Noordfrees commented on #4194
From the log it appears that an older installation of Widelands is around and causing trouble. You'll either need to specify the new data directory at startup with `--datadir=/home/max/projects/widelands/data` or remove the old installation at `/usr/share/widelands`.

---

Not really a bug, but this problem is reported pretty often. Perhaps we should include a VERSION file in the data directory th

[2020-08-31 13:32] PinPhreek commented on #4194
Thanks, that helped.

[2020-08-31 13:44] Noordfrees commented on #4194
Let's keep this issue open to remind us to implement some kind of version check while autodetecting the datadir

[2020-08-31 13:52] PinPhreek commented on #4194
ok

[2020-08-31 14:50] Niektory commented on #4184
How about instead of shifting the workarea one could select a location for the worker to focus on. Or a hard range limit so the new workarea is always a subset of the normal workarea.

[2020-08-31 15:53] frankystone commented on #4184
Maybe it's a misunderstanding from my side: For me a worker produces something, so if want to have look in the corresponding program, at first i search in the workers init.lua. But the programs to produce something are defined in the corresponding buildings init.lua.

Will test the branches soon.

[2020-08-31 16:26] Noordfrees commented on #4184
+1

Most of the time wares are produced by *buildings*. The workers are only required to be *there* but they don't actually *do* anything. Only when workers are actively walking around in the field it is the worker that does something, though he only does it when the building tells him to.

[2020-08-31 16:37] frankystone commented on #4190
Here on archlinux it runs fine with version [c037065@master] (Debug).

Starting a new game and connected buildings with the headquarters, no problem.

[2020-08-31 16:50] Noordfrees commented on #4190
For me all works fine too (ubuntu). Which version? Self-compiled or downloaded from GitHub/Appveyor/…? Full log output?

[2020-08-31 17:15] #4187 closed, assigned to nobody

[2020-08-31 17:17] hessenfarmer commented on #4190
self compiled version will check with appveyor / github as soon as it is possible again.

[2020-08-31 17:52] #4173 closed, assigned to Noordfrees

[2020-08-31 17:52] #4174 closed, assigned to Noordfrees

[2020-08-31 19:48] hessenfarmer commented on #4190
tried it with https://github.com/widelands/widelands/suites/1123111348/artifacts/15939188
same result

[2020-08-31 22:21] Niektory opened #4196 "Poor contrast in focused UI elements"
Highlighting the focused UI elements right now decreases the contrast within them, causing decreased readability.

Some ideas how to improve it:
- Limit the area that is highlighted. In some cases too big of an area is highlighted when it's not necessary. For example highlight just a scrollbar instead of the contents that are scrolled.
- Indicate focus in some other way, for example draw a box aro

[2020-09-01 05:55] gunchleoc commented on #4184
And I think a range limit is a good idea, as a property of the ProductionSiteDescr.

Trigger that shifting is allowed in the "callworker" productionsite program, this can set a flag in the ProductionSiteDescr if its range limit is > 0. Then all workareas for this building will be movable and all workareas always have the same center. Having multiple centers for the same building would be too much.

[2020-09-01 06:28] #581 closed, assigned to nobody

[2020-09-01 06:34] gunchleoc commented on #4190
I thought I had fixed this - problem is the same as in https://github.com/widelands/widelands/issues/4146

[2020-09-01 06:35] gunchleoc commented on #4146
I think we could solve this by giving roads/terrains their own image cache.

[2020-09-01 06:38] #590 closed, assigned to nobody

[2020-09-01 06:45] #3902 closed, assigned to nobody

[2020-09-01 06:48] gunchleoc commented on #4196
I'd be OK with either of these solutions:

1. Draw a border
2. Make background image darker so we'll have more range for contrast

For scrollbars and buttons, I guess just making them lighter should be sufficient.

[2020-09-01 10:01] #3926 closed, assigned to stonerl

[2020-09-01 10:15] Noordfrees commented on #4184
True. But if we have a building that mines a resource *and* sends out a worker (could be easily created by a modder) then we would *have* to have multiple centres – one for the mining and one for the worker.
I think this feature would have just too many complications…

[2020-09-01 11:42] #1625 closed, assigned to nobody

[2020-09-01 14:02] Niektory opened #4198 "Fishers can't find any fish"
Fishers don't work at all now. Reported on the forum: https://www.widelands.org/forum/topic/4755/?page=12#post-34372

**To Reproduce**
1. Build a Fisher's House near a shore that should have fish.
2. You'll receive a "No Fish" message immediately.

**Version:**
 - OS: Manjaro Linux
 - Widelands Version: 1.0~git24838[0107ae7@master] (Release)

[2020-09-01 16:19] Noordfrees commented on #4198
The fishers' program still says `"findspace=size:any radius:7 resource:fish"` but the resource has been renamed

[2020-09-01 16:25] Noordfrees commented on #3898
@gunchleoc I have lost the overview a bit – how many branches are left to get merged before I can safely convert the add-ons feature to the new format?

[2020-09-01 22:06] #1967 closed, assigned to gunchleoc

[2020-09-02 06:50] frankystone commented on #4184
Both options has some ups and downs:

Option 1 (move workareas):
I like this very much, but i fear this implies some new balancing because the player do not need to build a new building to reach specific resources. Less buildings = less need for building materials which could be used for other things. In the end i think this option will make establishing a full working economy much faster. This ca

[2020-09-02 08:18] gunchleoc commented on #4184
If workareas have priority in the center, you can have the worker prioritize a certain immovable/resource, so that would be enough control.

No we wouldn't. We could just let the building mine where the worker goes and add this information to the scripting documentation so that modders will know what the behavior is.

[2020-09-02 08:25] gunchleoc commented on #3898
- https://github.com/widelands/widelands/pull/4153 (already approved and waiting for Travis)
- https://github.com/widelands/widelands/pull/4156 (already approved and waiting for Travis)
- https://github.com/gunchleoc/widelands/tree/unify-tribes-world + 1 follow-up to replace wl.Tribes() and wl.World() with wl.Descriptions().

Then there will be a bug fix https://github.com/gunchleoc/widelands/tree

[2020-09-02 08:58] #4186 closed, assigned to nobody

[2020-09-02 09:28] gunchleoc opened #4202 "Allow savegame files anywhere"
When double-clicking on a Widelands save in Windows, Widelands will crash.

I can reproduce that on Linux like this:

[code]
1. It would be nice to have support for savegames anywhere
2. Maybe we can have some user-facing GUI for this error if we don't implement 1

[2020-09-02 09:33] gunchleoc opened #4203 "Document campaigns configuration"
* We should add information about the `.widelands/save/campaigns.conf` file to https://www.widelands.org/documentation/tutorial/ so that campaign designers can know how to set scenario completion.
* `data/campaigns/campaigns.lua` is also undocumented. The `.widelands/save/campaigns.conf` information could also go in there and just be linked up from the scenario tutorial

[2020-09-02 10:14] hessenfarmer commented on #4184
well we already have buildings with differing workareas in the amazons branch (huntergatherer).
I am still in great favor of the movable workareas. of course this would change somehow the current game as e.g. some rocks could be reached by a single quarry which couldn't be reached previous. however I don't see this as a big effect. Same for wood cutters as they get much more inefficient in terms o

[2020-09-02 10:24] Noordfrees commented on #4184
That's only true in cases where there are enough building spots around. But many official maps have much rough terrain where this would have quite a big effect. Being able to move workareas would introduce a new way of micromanaging which would penalize players who don't want to do that, especially if we "compensate" by reducing some radii. I wouldn't like that.
Using the maximum workarea to calcu

[2020-09-02 11:27] Noordfrees opened #4204 "Dropdowns select entry without click"
- Open the options menu
- Open the resolution or language dropdown by clicking on it
- Mouse over any entry in the list (other than the initially selected one) so it is highlighted
- Move the mouse far away (without mousing over any other list entries) so the dropdown auto-closes. The dropdown still shows the previous selection, as expected.
- Click OK. The resolution/language will be set to the v

[2020-09-02 18:10] #4198 closed, assigned to nobody

[2020-09-03 06:26] #4062 closed, assigned to nobody

[2020-09-03 06:27] #4143 closed, assigned to Noordfrees

[2020-09-03 06:54] frankystone opened #4208 "New log output has too many lines"
**Is your feature request related to a problem? Please describe.**

The log output puts sometimes the time (" → took: xyz ms") in an extra line:

[code]

This makes it hard to scroll up and the buffer on my system (1000 lines) get filled, so that i can't scroll to the first lines anymore after starting a game.

**Describe the solution you'd like**

If feasible all lines should be shown like the 7t

[2020-09-03 06:59] Noordfrees commented on #4208
The alternative would be to print the whole string ("Reading xy data took 123ms") on one line that is only printed when the respective packet loading is complete. Downside: Warnings and error messages thrown up by a packet would not be prefixed with the packet name any more so one doesn't see as easily which packet they occurred in. Or alternatively print the duration only when --verbose is enable

[2020-09-03 07:06] tibor95 commented on #4208
From design point of view this is not good approach. What if game crashes during these 5.4 seconds?
If the logs has the timestamp, it is not needed to say when it finished and how long it lasted, it can be deducted from (this and next) timestamp.

In fact I dont know if new logs has timestamps...

[2020-09-03 07:07] Noordfrees commented on #4208
It does have timestamps, but these refer to gametime and not realtime. They are only printed where applicable – as the gametime does not change during loading it is omitted there.
Should we additionally print realtime-stamps everywhere?

[2020-09-03 07:15] tibor95 commented on #4208
Oh, I did not know. But two timestamps in one line would look like a mess. Maybe using real-time timestamps when gametime timestamps are not used... Just a braninstorming :)

[2020-09-03 07:42] gunchleoc commented on #4184
It might still be balanced enough if we keep the allowed shift radius small.

For workarea overlap performance, the workarea centers could be recorded in the Map class.

[2020-09-03 07:47] Noordfrees commented on #4184
If we keep the radius (and the effect) small it's not really worth the effort imho…

Let's just go with option 2, I have a branch for that which only needs some minor tweaks to be ready for review

[2020-09-03 07:53] gunchleoc commented on #4184
OK, let's try this one out.

[2020-09-03 08:24] gunchleoc commented on #4208
This would certainly allow us to get rid of the "took..." lines.

We could prefix the timestamps with RT/GT or something equally short to distinguish real time from game time.

[2020-09-03 08:38] #4204 closed, assigned to Niektory

[2020-09-03 09:07] gunchleoc commented on #3115
Lack of information, so closing this.

[2020-09-03 09:07] #3115 closed, assigned to nobody

[2020-09-03 09:32] #3943 closed, assigned to nobody

[2020-09-03 10:43] Noordfrees commented on #4208
We can either have second-precision with the real time
[code]
or have millisecond-precision relative to either the Widelands startup time
[code]
Which one do we want?

Also, the meaning of RT/GT is not intuitive in my opinion. I'm using a clock icon for absolute time and an hourglass for gametime for now, better suggestions welcome…

[2020-09-03 10:54] tibor95 commented on #4208
those icons are shown also in linux teminals? And if I redirect the output to a file?

[2020-09-03 10:56] Noordfrees commented on #4208
Yes, they are :)
![terminaloutput](https://user-images.githubusercontent.com/48293446/92106542-d465f700-ede4-11ea-9432-c162462d2201.png)
(those are characters taken from the system's character map actually)

[2020-09-03 11:12] josephomorrow opened #4210 "Expedition Dock"
In 1.0~git24821[f9830d8@master]:
(Using fedora 32)
3rd Empire campaign
Create port with new expedition. Allow ship to dock. Crash produces attached.
[20200903_DeadlySignal.txt](https://github.com/widelands/widelands/files/5168095/20200903_DeadlySignal.txt)

[2020-09-03 11:19] Noordfrees commented on #4210
I can reproduce. It happens when clicking on the "expedition ship is waiting" message in the messages menu.

[2020-09-03 11:19] tibor95 commented on #4208
I am a minimalist in this regard, but if ok
BTW, what about better alignment if hours is single digit? I mean put a blank space or zero?

[2020-09-03 11:24] josephomorrow commented on #4210
That is exactly what happens (still waking up after error occurring late last night).

[2020-09-03 14:19] matthiakl commented on #3981
Instead of hardcoding the behavior, why not add an option to the game options tab to select, whether wares should be preserved on Ctrl+click? Then everyone can adapt it to his own playstyle.

[2020-09-03 16:40] frankystone commented on #4208
Please use only ASCII characters. I fear problems with different operating systems ,character sets, fonts, language settings and so on.

Edit: Do we really need milliseconds?

[2020-09-03 16:45] Noordfrees commented on #4208
Milliseconds might be useful sometimes to debug race conditions. (edit: micro- and nanoseconds would be even nicer but that's overkill imho)

okay, what strings should I use then to distinguish? `gametime`/`realtime` would be clear, but 8 chars is also pretty long…

[2020-09-03 16:51] frankystone commented on #4208
What about `hh:mm:ss.ms (Game) ......` equivalent `hh:mm:ss.ms (Real) .....`.  That should be clear?

[2020-09-04 06:58] #2110 closed, assigned to gunchleoc

[2020-09-04 14:46] #4196 closed, assigned to Noordfrees

[2020-09-04 14:47] #2143 closed, assigned to nobody

[2020-09-04 14:47] #4015 closed, assigned to nobody

[2020-09-05 06:45] gunchleoc opened #4216 "Editor categorized selection needs different focus highlighting"
In the attached screenshot, it's impossible to tell whether the Wisent has been selected or not without looking at the text on the bottom.

![animals_focus](https://user-images.githubusercontent.com/4095570/92299579-5708c680-ef4b-11ea-8cdb-cb152cd8328e.png)

For animals and immovables, we could add a fill rect, but that wouldn't work for the terrains, because they're square.

[2020-09-05 06:47] gunchleoc commented on #4210
I can reproduce that too, with any game.

[2020-09-05 07:40] frankystone opened #4217 "Multiplayer Player selection vanishes"
Just taken from: https://github.com/widelands/widelands/pull/4188#issuecomment-686394531

**To Reproduce**
Steps to reproduce the behavior:
1. Start Multiplayer LAN game and choose a map
2. Click on one of the entries 'Type: Open' (the green arrow) and apply a KI
3. The line vanishes

**Screenshots**
A 4 players map and slot 2 and 4 vanished:

![mp_vanished_lines](https://user-images.githubusercon

[2020-09-05 11:12] ryandesign commented on #3542
libsdl2 2.0.12 includes the fix.

[2020-09-05 11:31] Noordfrees commented on #4216
This needs to be fixed in `UI::Checkbox` for all checkboxes with custom images. Perhaps draw the orange line with a thicker inner border and the focus rects somewhat thinner so both are visible at once?

[2020-09-05 13:24] pabordel opened #4222 "Segfault opening wares statistics"
A segfault happens each time I press "p" or use the menu  to see wares statistic
os : ubuntu 20.04
saved game :
[en cours.wgf.zip](https://github.com/widelands/widelands/files/5178122/en.cours.wgf.zip)

widelands output :
[widelands.log.zip](https://github.com/widelands/widelands/files/5178125/widelands.log.zip)

[2020-09-05 13:26] Noordfrees commented on #4222
Duplicate of #4172

[2020-09-06 08:26] #4222 closed, assigned to nobody

[2020-09-06 08:27] gunchleoc commented on #4217
Not related to the multithreading branch

[2020-09-06 10:33] gunchleoc commented on #4216
Sounds worth trying :)

Or draw the checkbox border on top of the focus border, so we have the checkbox line on the inside? This way, the thickness of the focus border could remain as it is.

[2020-09-06 13:19] #4172 closed, assigned to gunchleoc

[2020-09-06 14:08] gunchleoc opened #4227 "AppVeyor builds are broken"
Starting from this one:

https://ci.appveyor.com/project/widelands-dev/widelands/builds/35025293

We did not change anything in our build environment for that commit, so something has changed in AppVeyor itself.

[2020-09-06 15:07] TinoM commented on #4227
The last platform update of Appveyor was already on Aug 29th: https://www.appveyor.com/updates/

So most likely something is broken in the msys2 repo.  All builds fail with not beeing able to compile the test program/check for gcc:
`[00:08:33] -- The C compiler identification is GNU 10.2.0
[00:08:34] -- The CXX compiler identification is GNU 10.2.0
[00:08:34] -- Check for working C compiler: C:/ms

[2020-09-06 15:27] gunchleoc opened #4229 "Korean Translation of InnoSetup"
The attached file was sent to me by our Korean translator - can we get this into the Windows installer?

[Korean.isl.zip](https://github.com/widelands/widelands/files/5179881/Korean.isl.zip)

[2020-09-06 15:36] gunchleoc opened #4230 "Add wares cheat to debug builds"
It would speed up playing through campaign missions if the players could cheat and give themselves some wares.

This would help translators to proofread the scenario dialog in context when the scenario is difficult or takes a long time to play.

This feature should be there for debug builds only.

Mockup:

![wares_cheat_mockup](https://user-images.githubusercontent.com/4095570/92329364-dfc45700-f0

[2020-09-06 15:38] Noordfrees commented on #4230
#3662 comes with a UI to change the actual ware quantity in warehouses and inputqueues for use in the editor which could be easily extended to be shown in debug builds for non-editor games as well

Edit: But perhaps it should only be shown if it is additionally enabled with a `--cheat` command line switch?

[2020-09-07 07:37] Noordfrees commented on #4217
Happens also in the shipwindow of an expedition ship. General UI::Box issue?

[2020-09-07 08:06] MarkMcWire opened #4232 "Possibility to limit wares of warehouses per Lua-script / starting conditions"
One thing I liked a lot about Siedler and that I miss here at Widelands is a general ware limit per warehouse. From a logical point of view alone, it makes no sense to be able to deposit an endless number of wares.

My suggestion is to limit the number of wares per warehouse per starting condition. Either a fixed value per ware, such as 255. Or a global value (sum) for a warehouse, such as 8191.

[2020-09-07 10:16] Noordfrees opened #4233 "Wrong toolbar tabbing order"
The tabbing order in the InteractivePlayer's, the InteractiveSpectator's, and the Editor toolbar is messed up because the respective buttons/dropdowns are being created in the wrong order.

The tabbing order for a simple line of menu icons should always be left-to-right.

[2020-09-07 13:33] PinPhreek opened #4234 "Compiler warnings"
**Describe the bug**
When I compile the newest version from git, I get compiler-warnings.

**To Reproduce**
Steps to reproduce the behavior:
1. update local repo
2. run the update-script

**Expected behavior**
There should be no error or warning.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version:**
 - OS: Arch Linux 5.4.62-1-lts
 - Widelands Version: Wideland

[2020-09-07 13:47] Noordfrees commented on #4234
That one is in third-party code, nothing we can do about that

easy one, will push a fix to master
edit: fixed in 6307961ad1ca8827b96add0a5ca3378b8bb1ad70

[2020-09-07 14:46] Niektory commented on #4234
Why not? We've already modified it.

[2020-09-07 14:53] PinPhreek commented on #4234
I recompiled the whole thing. Yes, the first warning is gone.

I found some more:

### Third Party
[code]

### Not third party
[code]

[2020-09-07 15:07] #4208 closed, assigned to Noordfrees

[2020-09-07 15:27] frankystone commented on #4234
[code]

This warning is there for month...

[2020-09-07 15:28] PinPhreek opened #4235 "[Duplicate] Widelands::Bob::State& Widelands::Bob::top_state(): Assertion `stack_.size()' failed"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
I played on the newest version of the master-branch (details below). And suddenly my game froze and crashed

**To Reproduce**
I have no Idea.

**Version:**
 - OS: Arch Linux 5.4.62-1-lts
 - Widelands Version: Widelands Build 1.0~git39[6307961@master](Debug)

**Error**
2:30:57.364 DEBUG: TW(1859): destination dis

[2020-09-07 15:48] Noordfrees commented on #4235
Duplicate of #3669

Do you have a replay?

[2020-09-07 15:57] PinPhreek commented on #4235
[replay.zip](https://github.com/widelands/widelands/files/5183930/replay.zip)

[2020-09-07 17:11] Noordfrees commented on #4235
Strangely enough I cannot reproduce with the same version and the replay :(
Perhaps the bug is somewhere in rendering/ui-related code…

[2020-09-07 17:15] gunchleoc commented on #4234
I'll definitely go through the Travis logs again once I am finished with my current big project.

I have found no simple way to get rid of the eris one, it has been there for years.

[2020-09-07 17:27] gunchleoc commented on #4232
Link to forum discussion: https://www.widelands.org/forum/topic/4936/

[2020-09-07 17:36] PinPhreek commented on #4235
I couldn't it reproduce neither :(

[2020-09-07 19:43] jmoerschbach commented on #4217
this is caused by ignoring invisible items while calculating how much space is needed. I will take a closer look tomorrow

[2020-09-08 03:36] Niektory opened #4237 "Alignment errors in tree spritesheets"
Tree spritesheets have misaligned images, with fragments of other images visible on the sides. I think all of them are affected, some more obviously than others.

[Dark Mushroom Tree](https://github.com/widelands/widelands/blob/master/data/world/immovables/trees/mushroom_dark/old_1.png) for example:
![mushroom_dark/old_1.png](https://raw.githubusercontent.com/widelands/widelands/master/data/world/

[2020-09-08 06:03] #4184 closed, assigned to Noordfrees

[2020-09-08 06:53] Noordfrees commented on #4234
Another one which I'd just like to mention for completeness even though we probably also can't fix it:
[code]

[2020-09-08 18:33] Niektory opened #4241 "Too low color depth, broken graphics"
Reported on the forum: https://www.widelands.org/forum/topic/4934/

Widelands can be run with too low color depth, producing messed up graphics. We used to have a check that was meant to catch this (removed in eddde008a70d03435c4fa5c57210f4fc28fb2829 / #4115), but it was doing it the wrong way so we can't just restore it.

**Screenshots**
![screenshot of the issue](https://www.widelands.org/forum/

[2020-09-09 01:16] #4151 closed, assigned to Niektory

[2020-09-09 01:16] #4160 closed, assigned to Niektory

[2020-09-09 01:19] #1913 closed, assigned to nobody

[2020-09-09 02:04] gunchleoc commented on #4237
I think I exported them before implementing a fix to the cropping algorithm https://github.com/widelands/widelands/commit/be4c07d76d3925c76812fc10839aae1a3ff8785c#diff-aabae7f4b06a763b76c96b390d2ad30c

The issue can be fixed by getting their animation files + code from Build 19 and recreating the spritesheet files.

[2020-09-09 07:54] gunchleoc commented on #3542
Thanks for confirming! Closing this issue, since it has been fixed upstream.

[2020-09-09 07:54] #3542 closed, assigned to jmroot, klaus-halfmann

[2020-09-09 17:31] Niektory commented on #4234
I think
[code]
would do the trick for the last one.

[2020-09-09 17:40] Noordfrees commented on #4234
Some more
[code]

[2020-09-09 18:19] hessenfarmer commented on #4227
Well, question is why is it working in github and my local installation?
It seems the appveyor uses the installed windows cmake to create the project files.
Curiosly it shows cmake 3.16 in the log, although 3.18 should be installed in windows.
For me most probably the update of cmake in appveyor broke something.

[2020-09-09 19:17] jmoerschbach commented on #4217
Hmm, I don't really understand what the real issue is, at least regarding the bug in multiplayer setup screen. However, once #3847 is merged, this is irrelevant - on that branch the issue does not exist.
Until then, I would revert the UI::Box modification so MP games are playable on master or what do you think? @gunchleoc @frankystone @Noordfrees

Anyways, I will check in more detail what the prob

[2020-09-09 19:31] Niektory commented on #4241
I can't reproduce this unfortunately. Even if I set my desktop color depth to 16-bit Widelands looks fine. Tried both on Manjaro Linux and Windows 7, using nVidia graphics.

[2020-09-09 20:45] hessenfarmer commented on #4227
yep cmake was the culprit

[2020-09-10 02:42] Niektory commented on #4234
The eris one could be zapped with this:
[code]
[code]

[2020-09-10 06:04] frankystone commented on #4241
Windows 7 is EOL anyway.

[2020-09-10 08:20] #4227 closed, assigned to nobody

[2020-09-10 12:00] Wegge opened #4248 "Game crash when reading the message that an expedition is ready."
[Imminent.zip](https://github.com/widelands/widelands/files/5201381/Imminent.zip)

Please fill out the relevant sections below and delete the rest.

**Describe the bug**
When opening the notification that en expedition is ready, a crash occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the attached save file.
2. Wait for the ship to complete, and the notification that the expediti

[2020-09-10 14:16] Niektory commented on #4248
Probably a duplicate of #4210

[2020-09-10 16:48] Niektory commented on #4210
Broken in 7f72ddfd870096f9d5e9dea44fc119fe21eeb3c1 (#4159)... I'll investigate.

[2020-09-10 17:49] frankystone opened #4250 "First Tutorial does not start because of lua error"
The error says:
[code]

I have lost overview of the lua stuff... i guess the script can now be found at "data/tribes/initialization/barbarians/starting_conditions/headquarters.lua", but i am not sure.

There might be other places which needs a change also.

**To Reproduce**
1. Start first tutorial

**Version:**
 - OS: arch linux
 - Widelands version: [ff36ede@master] (Debug)

[2020-09-10 19:27] spth opened #4251 "memory access error"
I compiled widelands from current git on my Debian GNU/Linux testing on amd64 system, played for a while; then wiedleands crashed with memory access error.

I can reproduce the issue when loading a savegame and just letting widelands run for a few seconds:

[code]

Savegame at http://www.colecovision.eu/stuff/widelands-crash/

[2020-09-10 19:30] jmoerschbach commented on #4217
I have a fix for the shipwindow issue locally on my machine

[2020-09-10 19:53] Noordfrees commented on #4251
I cannot reproduce. Which version exactly? Did you do anything special (like open the message menu)?

[2020-09-10 20:03] spth commented on #4251
I'm now also having trouble reproducing this. I've just loaded the savegame 10 times. Sometimes opening the message window, sometimes opening the minimap, sometimes building a flag to the lower right of the watchtower, sometimes also connecting that flag to the flag at the tower.

Out of that 10 times it crashed twice. But I'm still not sure what makes the difference between crashing and not crash

[2020-09-10 20:06] spth commented on #4251
I can reproduce it now:

Open message window immediately after loading the savegame, then wait until expedition is ready, then immediately click on the expedition message in the message window.

[2020-09-10 20:12] Noordfrees commented on #4251
Duplicate of #4210 then

[2020-09-10 21:01] Niektory commented on #4210
OK... It's *almost* working... :P

![funky screenshot](https://user-images.githubusercontent.com/4470900/92804953-01a03f80-f3b9-11ea-9cb5-8543c7dee230.png)

Turns out I changed the order of initialization which messed things up...

[2020-09-11 02:53] Niektory opened #4253 "Player vision code is very slow"
And I mean **very** slow. Profiling shows it is the biggest CPU eater right now by far.

Here's the problem. Every time a bob moves, its entire view area from its old position is recalculated:
https://github.com/widelands/widelands/blob/ff36ede854ab98cab34e20d6b2c2a3002c38a27b/src/logic/map_objects/bob.cc#L929-L934
That means every field separately:
https://github.com/widelands/widelands/blob/ff36

[2020-09-11 09:30] frankystone opened #4254 "Combine place flag and send geologist"
Currently there many clicks needed to send a geologist:

1. Place flag
2. connect flag to roadsystem
3. Click flag again
4. Send geologist

I think it would be very nice to have an additional button in the field action window beside "Set Flag": "Set Flag and send Geologist". One has to manually connect the flag with the road system after clicking on the additional button, but such button would sav

[2020-09-11 09:41] frankystone opened #4255 "Trainingscamp window moves down by click on start/stop"
Clicking on the start/stop button of an empire trainingscamp let the window move down.

**To Reproduce**
1. Load attached save game
2. Make sure the trainingscamp is in upper third of the screen
3. Open the trainibgscamp window
4. Click on start/stop

On each click the window moves a bit down. This happens until the window bottom reaches the bottom of the screen.

[test.wgf.zip](https://github.com

[2020-09-11 09:57] frankystone opened #4256 "Inconsistent placement of Save button in economy options"
Don't know if it is really a bug...

All Windows which have a "Save" or "OK" button has this this button either on the bottom of all other buttons or at right of all other buttons.

Except the "Save" button of the configure economy -> save own values. Here it is on the left of all buttons. Because i am used to click on the most right button to complete a task in widelands, recently i clicked the r

[2020-09-11 10:27] #4210 closed, assigned to Niektory

[2020-09-11 10:27] #4248 closed, assigned to Niektory

[2020-09-11 10:27] #4251 closed, assigned to Niektory

[2020-09-11 10:35] #4217 closed, assigned to nobody

[2020-09-11 12:09] gunchleoc commented on #4256
I think the idea was to place the button next to the edit field.

How about using a new row for the buttons?

[2020-09-11 17:12] Noordfrees commented on #4254
If you didn't play the tutorial it's entirely your own fault if you don't know how to do things ;)
+½ but a fieldaction window that is stuffed full with lots of buttons doesn't exactly make things easier for beginners either, does it

[2020-09-11 17:17] #4250 closed, assigned to gunchleoc

[2020-09-11 17:48] josephomorrow opened #4258 "Sound Effect Disconnect"
After saving the game, SoundHandler errors begin.

**To Reproduce**
Steps to reproduce the behavior:
1. Begin campaign
2. Run follow some instructions
3. Save game
4. Game sounds stop, while console screen continuous scrolls error messages

**Expected behavior**
Nothing should change after game saved.

**Screenshots**
n/a

**Version:**
 - Fedora 32
 - Widelands Version: 1.0~git1[c3fc079@master] (d

[2020-09-11 17:54] Noordfrees opened #4259 "heap-use-after-free in `Widelands::ObjectManager::object_still_available`"
Found while loading the savegame from https://github.com/widelands/widelands/issues/1615#issuecomment-670940791 in 8d9e15ed5bc22d8f0a61413b0e1f773ac36049f3 (but I did not touch the relevant code parts there so this should also be in master)
[code]

[2020-09-11 18:47] Noordfrees commented on #4255
I cannot reproduce. What resolution does your Widelands window have?

[2020-09-11 18:57] Noordfrees commented on #4253
It used to count only the number of map objects that see each field. This was very fragile so I removed it. I favour option 2. Option 3 also sounds good but a lot of effort. We could additionally tweak the iteration of player teams a bit so the seers belonging to the field's owner (if he's in the player's team) are iterated first.

[2020-09-11 19:01] Niektory commented on #4259
I can't reproduce but I'll see what I can do.

[2020-09-11 19:36] frankystone commented on #4255
The window is 1920x1080 (windowed mode).

Maybe the 2. Point from the first post was wrong. You shouldn't move the window, just click on start/stop. Edit: Once it was moved with the mouse, the issue doesn't appear.

Recently the window moves to the right instead of down when hitting start/stop.

[2020-09-11 19:42] frankystone commented on #4254
Yes i know ;)

It is empty at all:
![combine_geologist](https://user-images.githubusercontent.com/6730556/92966300-95d0dc00-f477-11ea-8d28-2502b5c75875.jpg)

[2020-09-11 19:49] Noordfrees commented on #4255
Still no luck :(

[2020-09-11 19:50] frankystone commented on #4233
Maybe the order should be dependent with regard to the language: People used to read from right to left may need a different ordering.

[2020-09-11 19:51] Niektory commented on #4259
Oh well... I'm starting to realize that by "optimizing" that function I've made it useless for its intended purpose, which was "figure out if the pointer is still valid". But I'm pretty sure that passing around invalid pointers and trying to figure out if they're valid after the fact is not a great idea. So it seems I'll need to rewrite every place it was used in...

[2020-09-11 21:25] Niektory commented on #4255
This way can be reproduced reliably:
1. Set your options like in the screenshot below.
2. Change the window size to the smallest possible (800x600).
3. Open the Training Camp window.
4. Click "Center view on this".
5. Close and reopen the Training Camp window.
6. Click Continue/Stop.

![options screenshot](https://user-images.githubusercontent.com/4470900/92974194-fb2bc980-f485-11ea-9516-0493240ee

[2020-09-12 00:10] Niektory commented on #4253
I've added some more ideas to the list in the initial post for discussion's sake, but my opinion doesn't change. Options 2-6 are band-aids. Even implementing all of them combined would still be significantly slower than option 1. If the old code was "fragile" (could you explain?) then it just needs to be rewritten in a non-fragile way. It's just a bunch of counters at its core, I'm sure we can do

[2020-09-12 06:01] Noordfrees commented on #4255
Yes, now I can reproduce too. Looks like the buildingwindow docks to the bottom edge of the WL window (I cannot reproduce anymore after disabling that option).

[2020-09-12 06:16] Noordfrees commented on #4253
Previously, the field's vision was a simple number where 0 meant "unexplored", 1 meant "previously seen" and 1+n meant "seen by n map objects". When a bob moved, the vision for all fields in its old vision range was decremented by 1 and the vision for all fields in the new vision range increased by 1. Similarly, buildings increased the vision of fields in their range by 1 when a worker entered a p

[2020-09-12 09:39] #4167 closed, assigned to nobody

[2020-09-12 11:43] #2112 closed, assigned to nobody

[2020-09-12 11:43] #2141 closed, assigned to nobody

[2020-09-12 11:46] gunchleoc commented on #4258
Maybe related to https://github.com/widelands/widelands/commit/7f72ddfd870096f9d5e9dea44fc119fe21eeb3c1

[2020-09-12 11:52] gunchleoc commented on #4233
The tabbing order should still be the same in that case, but the icons display order reversed.

Swapping the display for RTL should be done in the `UI::Box` class once we have converted everything to box layout.

[2020-09-12 16:21] Noordfrees commented on #4087
Reported again: https://www.widelands.org/forum/post/34498/ (didn't look at the replay)

[2020-09-12 16:32] tibor95 commented on #4087
Networkgame again? Does this ever happen on single player game?

[2020-09-13 02:24] Niektory commented on #4254
Another idea: Keep the action window open when clicking "Send geologist" with a modifier key, so you can quickly send a few of them without reopening the window each time.

[2020-09-13 04:19] gunchleoc commented on #4259
I'm getting a crash in the seafaring tutorial that might be related. Error raised in `LuaMapObject::get` and triggered by https://github.com/widelands/widelands/blob/d04de396c5ceddd6990f7e1fd996a9d87016c767/data/campaigns/tutorial03_seafaring.wmf/scripting/helper_functions.lua#L83

I was playing the tutorial at 11x speed.

[2020-09-13 04:47] Niektory commented on #4258
I've bisected and apparently the first bad commit is [e4cd8290e38140eef8be1b32c1d9678a5485dedd] Map preview on selection screen (#4201)

[2020-09-13 19:29] Niektory commented on #4258
This is the problem I think:

https://github.com/widelands/widelands/blob/01bc2e918e86aa81b4c1aaa3f15fee5b7d68d71b/src/logic/editor_game_base.cc#L86-L91
https://github.com/widelands/widelands/blob/01bc2e918e86aa81b4c1aaa3f15fee5b7d68d71b/src/wui/gamedetails.h#L72-L73
https://github.com/widelands/widelands/blob/01bc2e918e86aa81b4c1aaa3f15fee5b7d68d71b/src/wui/mapdetails.h#L60

[2020-09-14 01:14] Niektory opened #4265 "Starting a LAN game connects to the online lobby"
**To Reproduce**
1. Join the online lobby in Widelands (Multiplayer -> Online Game) or join #widelands on IRC.
2. Open another Widelands instance and start a LAN game (Multiplayer -> LAN / Direct IP).
3. You will see in the first client that the second one joined the lobby.

**Expected behavior**
Starting a LAN game does not connect to the online lobby.

**Version:**
 - OS: Manjaro Linux
 - Widela

[2020-09-14 03:46] klaus-halfmann commented on #4265
This is actually a privay issue as this will reveal a (under aged?) user that wanted to stay private.

[2020-09-14 06:04] Noordfrees commented on #4265
Ups, now what did I do there!? Will investigate… but I cannot reproduce, can you attach a screenshot?

Edit: Now I can reproduce – it only happens when using the dropdown, not with the hotkeys J+P. Will fix.

[2020-09-14 07:07] gunchleoc commented on #4265
@Noordfrees You added that to your fork

[2020-09-14 07:08] Noordfrees commented on #4265
I'm fixing this in the main menu redesign follow-up branch. It'll be ready for review quite soon…

[2020-09-14 07:13] gunchleoc commented on #4258
Fixed in https://github.com/widelands/widelands/pull/4240 so I won't have to fix this twice.

[2020-09-14 10:12] matthiakl commented on #3265
The buildhelp flag has been moved to displayflags in #4262

[2020-09-14 10:31] matthiakl opened #4266 "Flag statistics"
**Is your feature request related to a problem? Please describe.**
When I like to move large quantities of wares (e. g. from one warehouse to another), I always have to carefully observe the path for bottlenecks, where a flag got filled up.

**Describe the solution you'd like**
I would like to have a "Flags" tab in the building statistics window. Like for other buildings, it should show the amount

[2020-09-14 14:09] hessenfarmer opened #4268 "additional workers on an expedition getting lost if expedition is cancelled"
if you have an expedition ship with additional workers and you are cancelling the expedition the workers are not added to the port where this happens, but get simply lost.

Can be reproduced by starting atlanteans2 mission in the respective branch

[2020-09-14 14:13] hessenfarmer commented on #4268
was not the case

[2020-09-14 14:13] #4268 closed, assigned to nobody

[2020-09-14 15:03] matthiakl opened #4269 "Dropdown in options does not close"
**Describe the bug**
Dropdown lists cannot be closed by clicking on the opening button.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the options window
2. Click on 'Language' -> dropdown opens
3. Click on 'Language' again -> dropdown stays open

**Expected behavior**
The dropdown should close again

**Version:**
 - OS: Arch Linux
 - Widelands Version: current master (`ec48524`)

**Ad

[2020-09-14 17:05] Niektory commented on #4253
Some benchmarks to keep track of progress.
[Test savegame](https://github.com/widelands/widelands/files/5219868/406.wgf.zip)
CPU: Intel Core i5-2500K 3.7 GHz

Time spent in player vision code per 1 second gametime:
(The first second probably includes some initialization immediately after loading the game)

- build-21 release
gametime 51,163,247 - 51,164,252 took 100,838 µs
gametime 51,164,252 - 51

[2020-09-14 21:38] josephomorrow commented on #4258
Trying Widelands Version 1.0~git9[ec48524@master] (Debug)

Still getting endless SoundHandler errors after saving game. Also, after exiting:

==25895==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 152 byte(s) in 1 object(s) allocated from:
    #0 0x7ffa60998837 in __interceptor_calloc (/lib64/libasan.so.6+0xb0837)
    #1 0x7ffa5e87c7d5  (/lib64/libSDL2-2.0.so.0+0x847d5)

SUMMARY: Add

[2020-09-15 14:31] Niektory commented on #3669
I got this assertion twice by loading this save and randomly starting/stopping some buildings: [test.wgf.zip](https://github.com/widelands/widelands/files/5208050/test.wgf.zip)

GDB infodump: [top_state_stack_size_assertion.txt](https://github.com/widelands/widelands/files/5225590/top_state_stack_size_assertion.txt)

Version: 4f1cf0a44113643bc7712d70c6116b9bc6881304 (should be equivalent to ec4852

[2020-09-15 14:43] gunchleoc commented on #4258
The fix has not been merged to master yet - it's part of a big pull request (https://github.com/widelands/widelands/pull/4240) - I made an error with the link in my post above.

I always get 1 memory leak when I exit too - it's coming either from SDL or from the Mesa drivers, so there's nothing we can do about that one.

[2020-09-15 15:01] hessenfarmer opened #4271 "enhanced productionsite help not working properly"
the new collects part of the productionsite help is indicating wrong items to be collected from the map.

reason is:
the information is wrongly determined from the immovables findobject program, rather then from their modificating programs like (remove)

best visible in the amazons branch for the wilderness Keeper's tent where trees are listed to be collected which sre only searched for to release

[2020-09-15 16:12] josephomorrow commented on #4258
Sorry. I'm still learning some of the steps in the process and what they are called. Trying to catch up with latest programming requirements so I can help more. Is this the place to ask you which text editor(s) you prefer when programming or troubleshooting?

[2020-09-16 06:30] Niektory commented on #3669
I tried to catch when the stack is emptied:
[code]
The worker is evicted and fails to get a new task?

[2020-09-16 10:56] hessenfarmer commented on #4190
Probably related in normal games I saw my streets all suddenly changing to busy texture and some time later to norml texture. May be it is different between os how the textures are handled (i. e. which one is the first one)

[2020-09-17 05:56] Noordfrees opened #4273 "Incompatible b21 savegame"
- Open the savegame from https://bugs.launchpad.net/widelands/+bug/1799373/comments/20 with build 21. This will work without problem.
- Resave the savegame with b21.
- Try to load it in current master:
[code]

[2020-09-17 11:14] hessenfarmer opened #4275 "atlantean scenario selection screen is layouted wrong"
![grafik](https://user-images.githubusercontent.com/43039887/93463053-7a3a5b00-f8e7-11ea-92f0-fe4e02282b33.png)

further more the text between choose a campaign and chosse a scenario jumps a bit down which does not look good
in the other tribes the distances between "choose a scenario" and the name of the campaign differs as well but is not overlapping

[2020-09-17 14:21] matthiakl opened #4276 "Mixing mouse and keyboard control causes game crash"
**Describe the bug**
The game crashes when hitting enter (or space in dev-version) after opening a submenu from the toolbar with a mouse click.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on one of the toolbar buttons with a submenu (e.g. show/hide)
2. Don't select anything
3. Press 'Enter' (or 'Space' in dev-version)

**Expected behavior**
The game should handle the keypress witho

[2020-09-17 15:14] #4259 closed, assigned to Niektory

[2020-09-17 15:56] hessenfarmer opened #4278 "helptexts for ports and scouts houses not shown"
in current trunk the purpose helptexts for ports and scouts houses are not shown correctly although correctly defined in units.lua

[2020-09-20 04:42] Niektory opened #4279 "Neptune's Revenge is broken"
Reported on the forum: [artefacts not recognised after last upgrade](https://www.widelands.org/forum/topic/4954/)

When playing the Neptune's Revenge mission several bugs can be observed (probably all related):
1. Fog of war does not work normally. All explored fields become permanently visible, there is no "previously seen but now hidden" state.
2. Saving and loading the game results in unseen fi

[2020-09-20 17:46] frankystone commented on #4279
Another observation: Load attached savegame and wait until the tower was built. The area which reveals if soldiers walks into the tower get revealed before the soldiers arrives at the tower.

[test.wgf_1.zip](https://github.com/widelands/widelands/files/5252262/test.wgf_1.zip)

[2020-09-20 17:49] Noordfrees commented on #4279
Seems like there are two bugs being mixed up in one thread: One about the artifacts, and one about several vision issues. I will try to have a look at the vision-related issues soonish

[2020-09-20 20:18] hessenfarmer commented on #4279
i just played the campaign with several reloads and it worked fine for the artifacts with current trunk. However we might have broken savegame compatibility with the object alive checks fix and its reversal (which is quite normal on a dev branch). So I can't confirm 1 and 3 for current trunk. However the grass issue is true although unrelated to this scenario. while it is not always grass nearly e

[2020-09-21 18:27] Niektory commented on #4253
I've got some questions about the intended behavior of the Lua functions `reveal_fields()` and `hide_fields()`.

1. `reveal_fields()` should make fields permanently visible until hidden again with `hide_fields()`.
`hide_fields()` should remove the "permanently visible" status set by `reveal_fields()`. Additionally, if `unexplore=true`, their "previously seen" status should be forgotten and set as

[2020-09-21 18:35] Noordfrees commented on #4253
1. Correct, with the exception that `hide_fields(..., true)` should also work on fields that are in the "normal" PreviouslySeen state.
2. Fields that are seen by an own or allied bob or building must be always visible.
3. Allied players share a vision, so every field that is visible for a player must also visible for all of his team mates.
4. The explicitly revealed fields only stay visible for th

[2020-09-21 18:49] josephomorrow commented on #4279
Playing 1.0~git14[c3b1479@master] (debug):

Neptune's Revenge played fine from the beginning, but with same problems with sound effects as before. After saving, quitting, and reloading game, fog-of-war is broken and grass exists where much of the water should be.

[2020-09-21 19:05] Niektory commented on #4253
Thanks, that clears things up.

I don't have anything specific in mind, I'm just asking if it's a case I should be worrying about. For example storing a large number of them in a `std::set` might not be memory efficient (maybe, I haven't checked).

[2020-09-21 19:20] hessenfarmer commented on #4279
@josephomorrow
what do you mean with sound problems?
Did you try the "grass" should be sailable where previously was water. So I believe iot is only a texture problem.
Is there any other issue with fog of war then the "grass" problem.

[2020-09-21 19:26] Noordfrees commented on #4279
When all terrains are replaced with meadow1 this always indicates that it is a pure vision problem – a field is being made Visible for the interactive player without `rediscover_node` being called. The actual terrains should be set correctly internally.

[2020-09-21 19:28] Noordfrees commented on #4253
If I remember correctly the endless_game_fogless win condition uses `reveal_fields` to remove the fog of war. So you could check how (in)efficient this is for an eight-player fogless game on a 512×512 map.

[2020-09-21 19:38] josephomorrow commented on #4279
Saving game while sound effects are on (I never checked if music does the same), causes infinite console output of:
Partial readout from console after saving game:

[00:06:41.974 real] ERROR: SoundHandler: Sound effect 7 does not exist!
[00:06:41.977 real] ERROR: SoundHandler: Sound effect 7 does not exist!
[00:06:41.977 real] ERROR: SoundHandler: Sound effect 6 does not exist!
[00:06:41.977 real]

[2020-09-21 19:46] frankystone commented on #4279
@josephomorrow: This is a [different problem](https://github.com/widelands/widelands/issues/4258) and has nothing to do with the problems reported here.

I found that the exchange of terrains reverts if one builds a military building again, so the unseen visible area is the same as defined by the map. It looks to me like _grass_ is used for half visible areas. Anyway i can't get the amount of gras

[2020-09-21 20:01] Niektory commented on #4253
Could this be done with `set_see_all()` instead?

[2020-09-22 06:25] Noordfrees commented on #4253
see_all mode additionally shows the player some stats info about other players' buildings, and makes it impossible to attack them

[2020-09-22 17:50] hessenfarmer opened #4280 "Dither Layer for terrains should be unique over all 4 worlds"
The Terrains "Summer_swamp" and "wasteland_hard_ground_2" have the same dither layer resulting in sharp edges of triangles

See Forum Thread https://www.widelands.org/forum/topic/4964/

Other terrains to be checked

[2020-09-23 11:23] Noordfrees commented on #4279
Starting emp03 with b21, saving it, and loading with current master works without issue for me.

I can confirm that the tower starts seeing immediately, will be an easy fix.

The interesting thing is that I cannot reproduce the grass issue by starting a new game on emp03, saving and reloading:
![shot0000](https://user-images.githubusercontent.com/48293446/94006022-7b640000-fd9f-11ea-9627-4a6f0f19b

[2020-09-23 13:10] Niektory commented on #4279
Here's a video: [That's a lot of seaweed.mkv.zip](https://github.com/widelands/widelands/files/5268228/That.s.a.lot.of.seaweed.mkv.zip)

[2020-09-23 14:08] Noordfrees commented on #4279
Thanks :)
One would think the compiler would complain about an implicit conversion from `const FCoords&` to `MapIndex`, but no, it silently performs the conversion and this is what we get :P
The seaweed borders near unexplored areas are a bit more involved to fix because terrain (and edges) information is not being written to the savegame for those, will fix that too now

[2020-09-23 14:58] #4255 closed, assigned to Niektory

[2020-09-23 15:06] Niektory commented on #4279
https://github.com/widelands/widelands/blob/e5cb07646911fdd665222a9d4c1bfcf381705ae0/src/logic/widelands_geometry.h#L59

¯\\_(ツ)_/¯

[2020-09-23 18:24] matthiakl opened #4284 "Empty space in port window"
**Is your feature request related to a problem? Please describe.**
In the port window there is plenty of empty space.

**Describe the solution you'd like**
The buttons in the bottom row should be split into two rows to reduce the required width.

![Bildschirmfoto vom 2020-09-20 18-53-26](https://user-images.githubusercontent.com/23122583/94051874-7e2f1700-fdd8-11ea-849b-6a0538d9c4bb.png)

[2020-09-23 21:31] PinPhreek opened #4285 "Religions / Belief-systems"
**Is your feature request related to a problem? Please describe.**
When I was younger I played a lot of "Settlers IV" where you can build temples to boot strength of your army or just get stuff in return for mana. (Fish, ores, etc.)

**Describe the solution you'd like**
A possibility for every folk to pray and get mana (or some kind of spiritual energy) and use it in a (non-military) way. (You alr

[2020-09-24 03:56] MarkMcWire commented on #1006
I would suggest to change the size of a shipyard to "port". So AI can only build shipyards on sea and not on lakes or rivers.

Or second suggestion: We define a size "yard", which can placed on maps like ports.
("port" as a size modification of "big" and "yard" as a size modification of "medium")

Or third suggestion: We add AI hints, so the AI should only be build shipyards next to a port.
(Like

[2020-09-24 06:07] tibor95 commented on #1006
Having new type of buildspace for shipyard is not bad idea. Or using port buildspace.
Building shipyards next to ports is not fool prof - there might be no free buildspaces near ports, or there can be two distinct waters nearby.

[2020-09-24 06:16] Noordfrees commented on #1006
-1 for special buildplot size because then ALL seafaring maps would require updating. Too big a change.

No idea how the AI currently handles shipyards but if I remember correctly they already have special handling. So some bonus for placing them close to a port might be feasible.

[2020-09-24 06:20] Noordfrees commented on #4285
Pretty big change, but a good idea. Could be implemented as an add-on first to see how popular such a change is.

[2020-09-24 06:29] MarkMcWire commented on #1006
So compromise is to use the port sized buildspace for shipyards, too.

I tried it, but the game crashes. There must be a special code of port space in the game engine.

[2020-09-24 06:32] frankystone commented on #1006
Can't the Ai check whether the buildspace of a _planned_ shipyard is at a coastline with a port (where the invisible portdock is placed)?

[2020-09-24 06:33] Noordfrees commented on #1006
There are many maps where portspaces are very rare. If you're stuck on an island with just one port space then you'll have to build the shipyard, wait until you have a ship, dismantle the yard, build the port. This is a kind of micromanaging that we can expect from experienced players but we must not enforce it on *all* players.

[2020-09-24 06:50] hessenfarmer commented on #1006
-1 for new build space size as it would need a lot of map work, coding, savegame compatibility issues and so on.
-1 for using the port spaces as they are very rare on some maps and this change would be not an AI only change as well.

What could be tried and is worth to be tried is kaputtnik's suggestion. checking all portdocks if there is at least one connecteds to the place to build the shipyard.

[2020-09-24 06:53] hessenfarmer commented on #1006
just for informational purpose. there already had been a change to check for bigger waters to built on, so I believe the behaviour is better then in the original bug. the lake in Nordfrieses example seems to be just big enough to build a ship in.

[2020-09-24 06:58] tibor95 commented on #1006
medium sized buildspaces are on land, portdocks in water, so this would not be that trivial to find out. Moreover it would still not address possibility of two waters nearby a buildspace considered for shipyard.

[2020-09-24 07:04] frankystone commented on #1006
Maybe it's enough to check for a portspace instead of a portdock. Might lead into false positives if a portspace is between an ocean and a see.

[2020-09-24 07:20] MarkMcWire commented on #1006
Instead of "needs_water = true" there should be a hint "needs_coastline = true"

[2020-09-24 07:24] tibor95 commented on #1006
I dont think we have "coastline" defined or calculated in the game. And personally I wander how would you define it.

[2020-09-24 07:35] MarkMcWire commented on #1006
A coastline is a boundary between water and land on which there is at least one building site for a port.

[2020-09-24 07:49] Noordfrees commented on #4275
Let's wait if this is still a problem when #4054 and #4274 are both in

[2020-09-24 09:31] hessenfarmer commented on #1006
what I meant is delaying the shipyard until a port is built, and then have a check everytime a shipyard is evaluated, whether there is a water connection to an existing portdock to a nearby waterfield.
Trying to give a bonus for a nearby portspace and a malus for no nearby port space might be an alternative as we won't reach the state to distinguish 2 different waters.
It won't be perfect but woul

[2020-09-24 09:38] tibor95 commented on #1006
That would mean that in time between port building and shipyard building we would need to be calculating water connection between all medium-sized buildspaces and the port. But well might not be that bad - this value (bool) would be calculated once for buildable spot and saved as this does not change. Well unless AI losts the port, but do not complicate it.

[2020-09-25 02:27] Niektory opened #4286 "Can't load build21 save: flagdata: 22: ware #0 (1570): not found"
Loading this save from the mission Neptune's Revenge results in an exception.
[Neptunetest2.wgf.zip](https://github.com/widelands/widelands/files/5280187/Neptunetest2.wgf.zip)

[code]

**Version:**
 - OS: Manjaro Linux
 - Widelands Version: 1.0~git24895[d288d1a@master] (Debug)

[2020-09-26 06:19] #4279 closed, assigned to Noordfrees

[2020-09-26 19:12] Noordfrees commented on #4234
A few new ones:
[code]

[2020-09-27 05:42] #4233 closed, assigned to nobody

[2020-09-27 05:42] #4276 closed, assigned to nobody

[2020-09-27 07:30] #3265 closed, assigned to nobody

[2020-09-27 07:30] #4073 closed, assigned to nobody

[2020-09-27 12:51] Noordfrees opened #4288 "Crash in random map generator"
Generating the random map with the ID `dg71-qv0u-ht1t-mywc-7skc-7q1y` reproduceably crashes in 1.0~git24898[4e9992f@master]:
[code]

Another slightly different backtrace, with line numbers (from a development branch), for ID `xmwm-5ynx-cnyu-q3zb-uxpf-am21`:
[code]

[2020-09-28 12:06] frankystone opened #4291 "Buildings are half translucent"
This image was made with the multithreading branch, but in master it's the same.

![multithr_half_visible_hq](https://user-images.githubusercontent.com/6730556/94429824-3b33c180-0193-11eb-8ce8-9086b521dc3c.png)

**To Reproduce**
Just start a new game.

**Version:**
 - OS: archlinux
 - Widelands Version: [4e9992f@master] (Debug)

[2020-09-28 12:10] Noordfrees commented on #4291
What checkboxes are checked under Options – New Games? It works fine for me

[2020-09-28 12:25] frankystone commented on #4291
Ahhh, there is a new option...

When i started widelands after compiling i didn't looked into the options with the result shown above. After uncheck/check the corresponding option the buildings are shown.

If i rename the config file and start widelands again, the buildings are translucent again. The corresponding option is marked. So to sum up:

1. Rename the config file
2. start widelands
3. loo

[2020-09-28 12:32] Noordfrees commented on #4291
Can you try whether this fixes the issue:
[code]

[2020-09-28 12:44] Noordfrees commented on #3358
I can not reproduce with current master. The fake `.swd` file does not appear in the list of map files and no errors occur. Neither with different extensions like `.wmf`. Can anyone still reproduce or can this be closed?

edit: actually, I get a warning in the log output
[code]
or respectively
[code]
but this is fine and expected

[2020-09-28 12:45] frankystone opened #4294 "Sound of User interface and ambient sound are always to hear in a fogless game"
In a fogless game some sound effects are always to hear, although they are triggered outside the window. I noticed this for the sounds 'Placing flag' and 'Tree is falling'

**To Reproduce**
1. Make sure to enable sound for Ambient sound and User interface. Make them loud
2. Configure a new game. Use a map with more than 3 players. Choose Endless game (no fog)
3. Do nothing

Soon after the game has

[2020-09-28 12:48] Noordfrees opened #4295 "MapSelect should cache minimap previews"
Highlighting a map in a mapselect screen causes a noticeable delay while the minimap is being loaded. Additionally, the console output shows that the minimap is loaded *again* when clicking on the currently highlighted map.

This should be made more efficient by caching the minimaps so each mapselect screen preloads each map only once.

[2020-09-28 13:53] frankystone commented on #4291
Yep, that seems to fix it :-)

Do you want me to create a pull request or do you apply this small change directly?

[2020-09-28 14:12] frankystone opened #4296 "Editor player menu crashes on setting tribes"
**To Reproduce**
1. Create a new random map
2. Press 'p' to bring up the player menu
3. Try to change 'Random Tribe' with a tribe

Result:
[code]

**Version:**
 - OS: archlinux
 - Widelands Version: [4e9992f@master] (Debug)

[2020-09-28 14:24] #4291 closed, assigned to nobody

[2020-09-28 14:32] Noordfrees commented on #4296
This also happens when pressing P directly after starting the editor and choosing a tribe for a player.

@gunchleoc

[2020-09-28 18:37] #4280 closed, assigned to nobody

[2020-09-29 08:23] #3831 closed, assigned to nobody

[2020-09-29 08:23] #3886 closed, assigned to jmoerschbach

[2020-09-29 08:23] #3928 closed, assigned to nobody

[2020-09-29 08:23] #3940 closed, assigned to nobody

[2020-09-29 08:23] #3942 closed, assigned to nobody

[2020-09-29 18:47] Noordfrees opened #4300 "Minimap far too large"
When starting a game on a 64×512 map (low width, big height) at 1024×768 window resolution, the minimap is scaled up to many times the screen height. It should be small enough to fit on the screen completely.
![shot0003](https://user-images.githubusercontent.com/48293446/94602174-cfd21880-0294-11eb-849b-c8032037e56e.png)

[2020-09-29 19:17] frankystone commented on #4300
There was a similar issue when clicking on 2x in the minimap window with big maps and small screen resolution, but i can't find it anymore. Anyway this seems related to me.

[2020-09-30 06:20] frankystone opened #4303 "Window not maximized when starting with an option"
The window of widelands is not maximized when starting with an option, eg. `--editor`

**To Reproduce**
1. Make sure to set the resolution to Maximized
2. Close widelands
3. Start widelands on a command line with option `--editor`

The window position is top left and it is not maximized.

The same happens when starting a scenario through the command line.

Console output:
[code]

**Expected behavi

[2020-09-30 06:30] frankystone commented on #4258
This happens also when starting the editor and loading a map.

[2020-09-30 07:33] Noordfrees commented on #4303
Probably related: It is not possible to resize the game window while a progress-screen is open. Perhaps the progress window resizes the window back to the size it was created with?

[2020-09-30 07:34] #4278 closed, assigned to nobody

[2020-09-30 11:49] matthiakl commented on #4300
Scaling the map only considers the width and not the height:
https://github.com/widelands/widelands/blob/9919ef5bf50f6873f36c594eb506d32e702d666d/src/graphic/minimap_renderer.cc#L273-L287

[2020-09-30 12:56] Niektory commented on #4303
ProgressWindow doesn't call WLApplication::handle_input(), so resizing events are not handled. Adding that call should fix this.

[2020-09-30 13:04] #4138 closed, assigned to Noordfrees

[2020-09-30 13:04] Noordfrees commented on #4138
That error was such a stupid simple typo that I pushed the fix directly to master

[2020-09-30 14:42] Noordfrees opened #4306 "Crash when loading invalid map preview"
- Extract this map into your `.widelands/maps` folder: [ProblematicMap.wmf.zip](https://github.com/widelands/widelands/files/5306284/ProblematicMap.wmf.zip)
- Start Widelands, press `N`
- Highlight the problematic map

→ Crash back to main menu with
[code]

Expected behaviour: Since this map is obviously not playable, perhaps just disable the OK button and show an error message in the right column

[2020-09-30 18:47] frankystone opened #4308 "MP Lobby: Colummn for version is too small"
**Describe the bug**
When entring the internet lobby the column for the version string is too small to fit the github version string:

![mp_version_colummn](https://user-images.githubusercontent.com/6730556/94726126-14c18200-035d-11eb-8c2a-05ab260339f4.jpg)

**To Reproduce**
1. Enter the online lobby with a github branch compiled

**Expected behavior**
Since the name of a game is usually very smal

[2020-09-30 19:56] matthiakl opened #4309 "Map description in MP/SP setup screen does not scroll"
**Describe the bug**
The small map details textbox in both SP and MP does not scroll with the mouse wheel

**To Reproduce**
Steps to reproduce the behavior:
1a. Select a singleplayer map
or
1b. Start a multiplayer game and select a map
2. Move the cursor over the map description
3. Try scrolling using the mouse wheel

**Expected behavior**
The description should follow the mouse wheel.

**Version:

[2020-10-01 07:20] #4295 closed, assigned to nobody

[2020-10-01 07:34] Noordfrees commented on #4309
will be fixed by #4301

[2020-10-01 07:40] hessenfarmer opened #4311 "unload expeditions immediately"
As ships are loaded and unloadewd at once they should consistently unload their expedition wares at once as well.

See https://www.widelands.org/forum/topic/4911

[2020-10-01 09:39] Bjoern2Settler commented on #4311
-1

This robs the game a lot of potential and settler feeling

[2020-10-01 12:31] #4288 closed, assigned to Noordfrees

[2020-10-01 15:24] Noordfrees opened #4316 "LaunchSPG: heap-use-after-free when closing player slots"
In 7fca1097eb98d26846cbfb65b03a7307172df2de, ASan reports a heap-use-after-free while setting many players slots to Closed in the singleplayer launch game screen:
[code]

To reproduce: Press N, choose an 8-player map, set slot 8 to Closed, then close slot 7, then slot 6 etc. In debug builds, changing a slot takes about half a second – to reproduce this issue, be fast and try to close a slot while

[2020-10-01 16:57] Noordfrees opened #4317 "Dropdown list not responding to mouse move"
The dropdown's listselect does not respond to mouse moves when the mouse is moving over the hotkey column.

To reproduce: In the main menu, open the SP dropdown, highlight the first entry, move the mouse to the right until it's over the 'N', then move it straight down → doing so should set the highlight and tooltip to a lower entry, but the highlight remains on the first line and the tooltip alway

[2020-10-01 20:19] MartinSchmidt123 opened #4318 "Kicking a player causes a crash"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
When you host a game and kick a player before the game starts, the game will crash for the hosting player.

**To Reproduce**
Steps to reproduce the behavior:
1. Host a multiplayer game.
2. Open a second instance of widelands and join your game.
3. Do not start the game, but kick the joined player from the game u

[2020-10-02 07:21] #4306 closed, assigned to nobody

[2020-10-02 16:19] #4309 closed, assigned to Noordfrees

[2020-10-02 18:46] #4303 closed, assigned to Niektory

[2020-10-04 17:12] frankystone opened #4322 "Window not maximized when hitting Apply or OK in options"
**Describe the bug**
Sorry, another window maximized issue:
The button OK and Apply do not work when one sets Window: Maximized in the options.

**To Reproduce**
1. Open Options window
2. Choose resolution 800x600
3. Click Apply -> The window get resized
4. Choose resolution: Window Maximized
5. Click either Apply or OK

Nothing happens. When Restarting widelands the resolution will be 800x600

**

[2020-10-04 17:35] frankystone opened #4323 "SPG checkboxes Peaceful and Custom Starting positions are semantically wrong placed"
The checkboxes are part of the map details (just took this image from a PR, don't care of the red rectangle) :

![spg](https://user-images.githubusercontent.com/10723431/95021567-f8318c80-0671-11eb-9a62-74e297e8e39c.png)

Although semantically also not correct if they are part of 'Type of Game' i think they fit better below this section.

In general i think the table of 'Players' is too broad... w

[2020-10-04 20:45] Niektory commented on #4322
Works for me. Can you reproduce with this branch and post the log output? https://github.com/Niektory/widelands/tree/4322_debug_maximize

[2020-10-05 05:42] frankystone commented on #4322
[bug_4322.txt](https://github.com/widelands/widelands/files/5325439/bug_4322.txt)

Looks my statement

Was wrong. May i have clicked 'Cancel' in the options. If i click OK and restart widelands the window get maximized.

[2020-10-05 06:12] frankystone opened #4324 "Main menu stays active if mouse get moved out; SPACE triggers menu command"
If one clicks an entry in the mainmenu it get active. Hitting SPACE then will trigger the last used menu command.

**To Reproduce**
1. Start a game
2. Click on 'Show/Hide' -> 'Hide Buildings' or any other menu entry
3. Move the mouse outside the menu so it get closed. Don't click
4. Press SPACE

On each SPACE-press the last entry in the menu will be triggered again. Most worth: The mouse pointer g

[2020-10-05 06:27] frankystone commented on #4322
Here is a video of the issue created with your branch. You have to unzip it:

[bug_4322.zip](https://github.com/widelands/widelands/files/5325597/bug_4322.zip)

[2020-10-05 07:02] Niektory commented on #4322
`SDL_MaximizeWindow()` is called, and after that `SDL_GetWindowFlags()` reports that the `SDL_WINDOW_MAXIMIZED` flag is set. Yet the window is not actually maximized. What else am I supposed to do, call `pretty_please()`?

I'm afraid I'm out of ideas.

[2020-10-05 07:58] matthiakl commented on #4324
I suppose you mean the space key? The problem is, that space is one of the main keys in keyboard control. You can release the focus with ESC.
For mouse only users I agree, that the focus should be released, when the cursor moves away.

[2020-10-05 09:07] #4316 closed, assigned to jmoerschbach

[2020-10-05 16:02] frankystone commented on #4324
Of course i meant the space key... don't know what my brain has produced this morning... Thanks for reading my wrong bug report :-)

Usually i do not play with keybord commands.

[2020-10-05 16:30] frankystone commented on #4322
Maybe its related to SDL and my window manager? There are some issues with the window manager right now, but i have noticed them as qml/qt bugs of kde plasma, not related to sdl.

SDL version: 1.2.15-14
Window Manager: kwin, version 5.19.5-2

[2020-10-05 16:39] Niektory commented on #4324
Since Space is frequently intercepted by the UI, perhaps adding an alternative hotkey to toggle buildhelp would be useful. See also #3851

[2020-10-06 17:38] frankystone commented on #4284
What about having it the same as the configure economy window?
![configure_Economy](https://user-images.githubusercontent.com/6730556/95239526-6067a600-080b-11eb-89b5-7bd7498f46d8.jpg)

[2020-10-06 20:16] frankystone commented on #1623
This has regressed in current master with the difference:

1. Game stucks and the string 'Saving Game' appears
2. Game runs further
3. After a second or so the string 'Game saved' appears

I think 'Game saved' should be shown when the game runs further (step 2).

[2020-10-06 21:19] frankystone commented on #4311
I am unsure about this. When the 'animation' of loading wares was introduced, i found it a bit annoying. But after a while i found it convenient and logical to the fact that loading wares need some time.

When was the animation of loading wares was removed? I didn't noticed it...

The question is some sort of 'type of game': Do we want to be widelands slow-paced, or is there a need of rush? Since

[2020-10-06 21:45] matthiakl commented on #4284
+1
However I'm unsure whether the space between columns will be too wide. Currently less than half of the window is used.

[2020-10-07 07:36] Noordfrees commented on #4311
Previously, unloading wares was extremely slow (1.5 seconds per ware) but loading wares took place instantly. I changed this in #3857, and the new shipping algorithm assumes that transport ships have no delay at ports. I'd be the last person to turn Widelands from a slow-paced into a rush game, but in my opinion this delay is a detail for which there is no need; which is annoying; and which does n

[2020-10-07 08:00] PinPhreek commented on #4234
Found a new one:
[code]

[2020-10-07 08:40] hessenfarmer commented on #4311
I totally agree with @Noordfrees
the unloading was just an additional penalty on ship transport as the wares transport itself takes time.
So for consistency I am still in favor doing it at once for expeditions as well.
I didn't recognize the idea with the visible portdock but I really like it

[2020-10-07 09:53] Bjoern2Settler commented on #4311
But what about the ambiente of the game? If wares and escpecially expeditions are unloaded without any time its not fun watching. Why do we need carriers - because wares are not instantly brought to another building. What about highly important topics in playability like https://www.widelands.org/forum/topic/4981/?page=1#post-34956 since i cant open a pull request to solve these. Great work for bu

[2020-10-07 10:04] Bjoern2Settler commented on #4285
I totally agree, its a very nice Idea and maybe gives the game more than the linear building of full heroes.

Very nice Idea +1 maybe they can convert with a low chance units like the evade upgrade

[2020-10-07 10:07] Bjoern2Settler commented on #662
Very helpful if you can chose the numbers of units that guard your HQ, this has been a bug in many games where your hq was destroyed or all the guarding units just went out to fill a fortress

[2020-10-07 10:13] Bjoern2Settler commented on #3843
+1 very nice Idea, I lke it a lot because it gives more out of the game and for relatively little things to do a lot of more interesting gameplay

[2020-10-07 10:52] hessenfarmer commented on #4311
Well, there is no real animation to watch other then small wares pictograms removed from a ship window. So I can't see the fun in there.

Yep and ships already take their time to sail to a port and to sail to the destination port so this is anything else then instantly.

@Bjoern2Settler Stay to the topic please. Regarding pull requests - they are not used to discuss things in general (the forum is

[2020-10-07 16:46] frankystone commented on #4284
Yes, you are right anyway this should be testet. If the space between the wares get to big, we should think of another solution. Splitting the bottom row into two should be the last resort, imho.

* Maybe removing the workarea button for a port? It is pretty useless...
* Move the 'Start expedition'- button in the row of 'prefer wares'-buttons with a space between 'Start expedition' and Prefer-butt

[2020-10-08 19:07] hessenfarmer opened #4327 "territorial Win conditions messages broken"
If a player has 50% of the land he starts to receive winning messages. however this is only cleared iof another player has more then 50% and not if nobody has 50% anymore.
see https://www.widelands.org/forum/post/34971/

[2020-10-09 09:58] Noordfrees opened #4328 "Adjust fri01 to work with additional expedition items"
https://www.widelands.org/forum/post/34972/
Unfortunately the new additional-items feature makes this a bit confusing. The scenario is older than that feature, and the idea is that the soldiers have to be located in the port when the game ends to be carried over to the next scenario. I guess it would make sense to additionally preserve any wares, workers and soldiers that are taken on the ship in

[2020-10-09 09:59] Noordfrees opened #4329 "Intelligent worker slot reordering"
https://www.widelands.org/forum/topic/4983
Internally, every slot is assigned a minimum worker rank at building creation time. One slot for a miner or better, one for a chief miner or better, and one for a master miner or better. That's the same for every building that needs experienced workers. No reordering is possible currently, +1 for implementing intelligent detection whether the slot require

[2020-10-09 12:33] hessenfarmer opened #4332 "Addtional expeditions Items feature needs to be explained in tutorial"
the existence and the usage of the feature needs to be shown in the seafaring tutorial

[2020-10-10 08:08] gunchleoc commented on #4294
I designed the sound system to be independent of screen size. So, it's a feature, but if we decide it's a mis-feature, we can certainly change it.

[2020-10-10 08:11] gunchleoc commented on #3843
We also need to take sites with multiple workers into account when designing this. e.g. some Barbarian mines need a master, a chief and a normal miner, so the API for this new feature needs to support similar requirements.

[2020-10-10 08:19] gunchleoc commented on #4266
How about only adding blocked flags?

Productive flags would create a lot of clutter.

[2020-10-10 08:28] #4323 closed, assigned to jmoerschbach

[2020-10-10 08:29] gunchleoc commented on #4271
This will need more elaborate parsing, because the "remove" program doesn't name the object. So, first record the information from the findobject program, then confirm it with the remove program.

We'll only be able to test this fully with the amazons branch, but it can be implemented on master.

[2020-10-10 08:57] gunchleoc opened #4334 "Options screen freezes graphics"
My computer does not like the options screen since the resolution dropdown was reworked. It will often (but not always) freeze my MATE desktop to the point where I can move the mouse but do nothing else except kill my system with the power button.

[2020-10-10 09:00] gunchleoc commented on #4324
I'd replace the toggle buildhelp key rather than adding an alternative. I propose using "b" and picking something else for the building statistics - maybe use CTRL with all building statistics to increase your available hotkey space in a consistent fashion?

[2020-10-10 09:03] Niektory commented on #4334
Uh, that's bad. Does it only happen in the options screen? Immediately after opening it or after a while?

[2020-10-10 09:09] gunchleoc commented on #1006
Maybe the ship circumnavigating an island code could be reused? Start circumnavigating clockwise + counterclockwise in parallel from a port space until we hit a buildable plot that's close enough, and do that for a distance x max to prevent endless loops / too much of a performance hit.

[2020-10-10 09:12] gunchleoc commented on #4275
Same bug as https://github.com/widelands/widelands/issues/3985 ? The whole screen needs to be converted to `UI::Box`.

[2020-10-10 09:27] gunchleoc commented on #4334
Yes, only on the options screen. The screen doesn't show at all, it freezes when I hit the button.

I'm still catching up - it might have been fixed with https://github.com/widelands/widelands/pull/4321 - I was not on the master branch.

My graphics are a bit wonky sometimes and I get freezes from other programs, but until recently Widelands was fine once I had started it successfully once. There

[2020-10-10 10:04] gunchleoc opened #4335 "Editor display booleans should be display flags"
These variables in editorinteractive should be display flags for consistency:

[code]

c.f. https://github.com/widelands/widelands/issues/3265#issuecomment-536178710

[2020-10-10 11:10] gunchleoc commented on #3358
The map select screen filters these out with a console message, so this bug has been fixed. I tried both Settlers II and Widelands extensions.

[2020-10-10 11:10] #3358 closed, assigned to nobody

[2020-10-10 11:41] gunchleoc commented on #4138
Love those typos! *headdesk*

[2020-10-10 11:51] gunchleoc commented on #4284
I don't find the gaps between the wares visually appealing

+1

This could work if we add an invisible button to the other side to keep the preference button position stable. Or left-align the preferences buttons and right-align the expedition button.

We could definitely try that.

[2020-10-10 11:58] Noordfrees commented on #4284
-1, it is always important to be able to see which area is conquered by a building

[2020-10-10 13:16] #4327 closed, assigned to hessenfarmer

[2020-10-10 15:10] matthiakl commented on #4266
Yes, that would be sufficient, if it is possible to zoom to them.
Finding blocked flags has already been requested in #1781, however it doesn't allow to zoom directly to it.

[2020-10-10 16:35] matthiakl commented on #3221
The issue is, that the lua variables are dumped into the save after translating them (map/scripting/globals.dump).

[2020-10-11 06:17] gunchleoc opened #4338 "Chat message to oneself is posted twice in Internet Lobby"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
If I write `@GunChleoc hi to myself` in the Internet Lobby, I see the message twice.

This does not happen in the LAN lobby, so it might be a metaserver bug. @Notabilis

Forum discussion: https://www.widelands.org/forum/topic/4911/?page=4#post-34933

[2020-10-11 06:22] gunchleoc opened #4339 "Consider teams when negotiating game speed in multiplayer"
In a 2vs2 match, every team can push the speed to 33.5x even when the other team doesn't want that. (this is independent from teams, just depending on the numbers of players). For comparison: in 1vs1 a player can always turn the speed down to 0.5x (which is a much better situation, but 1x would be better)

Reported on the forums: https://www.widelands.org/forum/topic/4911/?page=3#post-34868

As to

[2020-10-11 06:33] gunchleoc opened #4340 "ASAN:DEADLYSIGNAL when marking replays"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
Selecting many replay files for deletion causes crash

**To Reproduce**
Steps to reproduce the behavior:
1. Watch Replay...
2. Select a screen full of replay files

[code]

[2020-10-11 07:57] Noordfrees commented on #1622
I get this one all the time. This false positive is sooo annoying…

E.g.: https://github.com/widelands/widelands/commit/8c502ef07c74a93551888fa843c143eb1789c935 @ https://travis-ci.org/github/widelands/widelands/jobs/734548358#L3627

[2020-10-11 08:33] gunchleoc commented on #1622
It's not a false positive - the rule is performing there as it's intended to do.

I don't know what motivated this rule though. @SirVer do you remember?

[2020-10-11 08:44] Noordfrees commented on #1622
It is a false positive when it catches the definition as well as the declaration. There is no reason why I shouldn't be allowed to make a literal parameter `const` in a `.cc` file, the rule should apply only to headers. Perhaps it should scan only `.h` files?

[2020-10-11 09:11] #4216 closed, assigned to Noordfrees

[2020-10-11 10:00] frankystone opened #4341 "Tutorials: Automatic mouse move does not work with drop-up menu"
In the first tutorial the section to show/hide buildhelp does not work correctly. The mouse pointer moves to the bottom show/hide menu but not walks up the menu entries. The mouse pointer sticks at the bottom menu.

**To Reproduce**
1. Start first tutorial
2. Do the things the tutorial wants you to do
3. The message box to toggle the buildhelp appears
4. after clicking OK you will see

**Expected

[2020-10-11 10:42] matthiakl commented on #4296
Is it necessary to have the tribes loaded for the editor? Without the assert, everything seems to work, but I don't have much experience with the editor.

Otherwise, all tribes have to be loaded during editor startup. This was removed in PR #3693 .

[code]

[2020-10-11 12:55] frankystone opened #4343 "White border disturbs campaign message windows"
Message windows in campaigns and/or tutorials have a white border around the text. The text is too close to the border:
![white_border](https://user-images.githubusercontent.com/6730556/95679076-d0da4280-0bd0-11eb-9088-cae0fa8137b7.jpg)

The white rectangle has no meaning in this message boxes and is more disturbing than helpful.

**To Reproduce**
1. Start a tutorial

**Expected behavior**
Either

[2020-10-11 13:27] Noordfrees commented on #4343
This is the focus overlay that is drawn around the MultilineTextarea to indicate that any key presses (e.g. Up, Down) will be handled by the text area. *Not* having such an indicator would be a bug.
Would it be enough for you to draw the silver overlay only around the scrollbar rather than the whole text area for MultilineTextareas?

[2020-10-11 14:37] frankystone commented on #4343
Isn't the window itself marked to have the focus? Since such windows can only react on scrolling or closing (button click) it seems useless to me to have such an indicator.

I am unsure. I don't like it all, maybe because of the coloring which is too disturbing, maybe because i had never trouble to find the things which have the focus, maybe because i am not familiar to have such an indicator, may

[2020-10-11 14:45] Noordfrees commented on #4343
The window has multiple child elements that can get focus: The textarea, the OK button and the three window titlebar buttons. So we do need a focus indicator.

Another option would be to put the focus on the OK button instead of the text area by default.

This is because the focus is first on the TabPanel because that's where you clicked first, and then you move it to the BaseListSelect by clickin

[2020-10-11 15:29] #4328 closed, assigned to Noordfrees

[2020-10-11 16:46] flegmaatikko commented on #4341
I can reproduce the bug. I think the incorrect behavior happens two times. The menu opens again after it was closed. But this may be the wanted behaviour.
There are also multiple clicking sounds when clicking the OK button of the  "Welcome the Widelands!" message box.

[2020-10-11 18:59] Noordfrees opened #4345 "Rethink game window overlay strings"
The overlay strings in the game window corners can be a bit annoying. We have a clock in the upper left corner, the speed in the upper right, the coords in the lower right, autosave info messages in the lower left, the FPS in the middle of the upper screen border, and of course the toolbar in the bottom middle.

All these overlay strings are useful and important, but it is annoying when they are d

[2020-10-11 19:41] Noordfrees opened #4346 "LaunchSPG: Switching player slot messes up player names"
I was using the map [Merkur](https://www.widelands.org/maps/merkur/). Start a new singleplayer game with this map – player 1 is called "Menschheit" and player 2 is called "Die Außerirdischen". When switching to slot 2, both players are now called "Die Außerirdischen". The names will stay like this when switching back to slot 1.

[2020-10-11 23:46] Niektory commented on #1622
It seems the main problem is that it checks line by line, so it cannot distinguish declarations from definitions when they span multiple lines. Perhaps it shouldn't match any lines that don't end with a `;`.

[2020-10-12 06:00] gunchleoc opened #4347 "Seafaring tutorial crashes with disappering MapObject"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
`get_waterway_fields(area)` in `helper_functions.lua` crashes - this traces to `int LuaMapObject::get_descr(lua_State* L)` and `Widelands::MapObject*
LuaMapObject::get(lua_State* L, Widelands::EditorGameBase& egbase, const std::string& name)` in `lua_map.cc`.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-10-12 06:13] frankystone commented on #4345
Yes, i also think that it can be improved. But i would propose to have those (or part of those) strings in an optional window similar to the Info tool in the editor. Most of them are uninteresting in a normal game, imho. At least uninteresting most of the time. The Toolbar should stay where it is. May the new window can be opaque without borders to differenciate between game windows and this info

[2020-10-12 06:26] frankystone commented on #4343
Yes.

I have to play and think of it a bit. Visually handicapped people might need such an focus overlay, whereas  other people find it annoying. In the end we may need a new option 'Use high contrast coloring'?

[2020-10-12 07:40] gunchleoc commented on #4234
This one was already reported by you a few comments above (https://github.com/widelands/widelands/issues/4234#issuecomment-688375120). Please try to avoid reporting the same warning multiple times, because it makes it harder to go through the warnings. Thanks! :)

[2020-10-12 07:45] #3233 closed, assigned to Noordfrees

[2020-10-12 07:55] Noordfrees commented on #4345
The top border needs to stay this big so the title fits, but +1 for shrinking the other borders

Big +1 :)

-1. IMHO, this info is important all the time. But how about reusing my idea about a top-bar panel where all this info should go, and adding a button to the panel's corner to toggle its visibility?

[2020-10-12 08:06] Noordfrees commented on #4256
Except for the editor map options window

[2020-10-12 08:38] gunchleoc commented on #4234
I have fixed everything except for the memset stuff in the attached PRs.

[2020-10-12 10:27] #4340 closed, assigned to matthiakl

[2020-10-12 11:45] pospec4444 opened #4352 "New in-game music song"
I've found this YouTube channel which lists a lot of OC fantasy/medieval songs:
https://www.youtube.com/c/DerekBrandonFiechter/videos

My ears told me that some songs might fit already existing in-game music. I asked authors of the music and they agreed that we might use one or two songs if we want to.

I'm willing to coordinate this activity with them.

At the moment, I'm trying to pick some song

[2020-10-12 15:04] Niektory commented on #4345
I don't think it is. But it doesn't hurt much to have it always on either.

How about integrating (some of) the strings in the toolbar, to not clutter the screen with other always visible elements?

[2020-10-12 15:07] Noordfrees commented on #4345
I was thinking about something like this:
![shot0001](https://user-images.githubusercontent.com/48293446/95761844-2b48d100-0cad-11eb-879c-8b1347fe716c.png)
Pressing the button in the top right corner toggles the panel's visibility

[2020-10-12 15:29] Niektory commented on #4345
It wastes space I think, most of it is unused. We already have the toolbar so I think any additional stuff should go in there if feasible.

[2020-10-12 15:32] gunchleoc commented on #1622
+1 for restricting it to .h files. Sorry, I overlooked that it was in a .cc file.

Difficult for long function signatures that span multiple lines. We'd need to rewrite the rule to support multiline.

[2020-10-12 15:51] gunchleoc commented on #4341
The dropdown entries are selected by simulating a keyboard shortcut. I decided against using mouse clicks there, because if we redesign anything in those menus that changes the height of the entries, it will stop working.

If somebody wants to implement detection for dropdown menu list position, width and entry height for Lua, that will be fine and certainly an improvement for this scenario.

[2020-10-12 15:56] gunchleoc commented on #4296
We should use `TribeBasicInfo::tribe_exists(const std::string& tribename);` which loads just the basic info from Lua.

We do this in GameSettings somewhere too, where the info is stored in a variable so we don't have to rerun the Lua script for every check.

[2020-10-12 16:01] gunchleoc commented on #4343
How about putting the focus indicator around the scroll bar?

[2020-10-12 16:11] gunchleoc commented on #4345
How about putting the new element on the bottom? We lose less screen space that way. The FPS could be moved right or left.

Also, have a look at the discussion in https://www.widelands.org/forum/topic/2769/ for a previous redesign attempt that ended up in our current bottom toolbar. Since some of the images are not visible in-line, I'll repost them here for reference.

![toolbar](https://user-imag

[2020-10-12 16:14] frankystone commented on #4345
I agree with Niektory.

If playing in window mode, the window has two top 'menus' then: The one shown in the screenshot above and the one of the system.

The coords are only visible in debug builds, afaik. And FPS isn't much informational  to normal users, imho. So what is important in a release build are the time and the speed. May those can be assembled somehow in the main menu (toolbar), but i

[2020-10-12 16:18] Noordfrees commented on #4345
Maybe the toolbar icons could also be moved to the top panel then?
The message preview should drop out from the screen top, which would look better if there's a panel there, like this:
![shot0003](https://user-images.githubusercontent.com/48293446/95768826-3dc80800-0cb7-11eb-9b62-3094bb46e94c.png)

[2020-10-12 16:42] frankystone commented on #4352
Didn't listen to the music (i hate youtube)...

You should ask on which License they want to share their music. Since widelands [license](https://github.com/widelands/widelands/blob/master/COPYING) is GNU general public license, any content can be copied, reworked and also sold, afaik. Of course always under the same license (GNU general public).

[2020-10-12 16:46] frankystone commented on #4256
Than those has to be changed also.

[2020-10-12 16:59] frankystone commented on #4341
I think for the menus we do not need such 'I'll show you how ...' with automatic mouse moves, maybe only 'I'll show where to find ...' and another message box describing the menu and the corresponding shortcuts. In this case the message box should request to press 'space' (or whatever one is wanted).

[2020-10-12 17:09] Noordfrees commented on #4345
WIP branch for testing: https://github.com/Noordfrees/widelands/tree/game_overlays_redesign

[2020-10-12 18:08] frankystone commented on #4345
I think we won't need a panel (mockups):

![screen_rework_1](https://user-images.githubusercontent.com/6730556/95777474-85a25b80-0cc6-11eb-9aec-79ed742e9dfd.png)
![screen_rework_2](https://user-images.githubusercontent.com/6730556/95777483-8b983c80-0cc6-11eb-995a-ccb0d9a39ea7.png)

Might be difficult with localized messages and string length.

[2020-10-12 18:15] flegmaatikko commented on #4341
Sounds good. The tutorial continues after the player has practiced enough and has closed the message box.
It requires some kind of selective user input blocker where only the corresponding shortcuts are active.

[2020-10-12 18:38] Noordfrees commented on #4345
Not having some kind of panel would not solve the initial issue that the overlay texts are hard to read and clash with window content.

So let's have one panel as wide as the screen which contains the toolbar as well as all strings? We could
1. have it on the screen top, and let new messages drop down from it (my preferred), *or*
2. have it on the screen bottom (like the toolbar now) and have mess

[2020-10-12 20:42] #3716 closed, assigned to Noordfrees

[2020-10-13 05:29] gunchleoc commented on #4345
Before we make a big messages refactoring, we should improve the chat overlay (which also prints the Game Saved... messages) and see how that goes.

At the moment, we have an option of whether to draw a transparent darkened background behind chat messages. We could make that non-optional (because it's off by default I think) and work on that background to make the messages more readable.

I'm also

[2020-10-13 05:48] gunchleoc commented on #4341
The tutorial continues when the player has done it, like for all other objectives. We use the actual state of the option for detection, so no problem there.

So, "I'll show you where the menu is" and click on the menu button, then let the user select the item from the dropdown or press the hotkeys as they see fit.

[2020-10-13 05:49] #3221 closed, assigned to nobody

[2020-10-13 06:00] frankystone commented on #4345
The mockup does not reflect the idea of having overlay texts in a new window. Sorry if that was not clear.

No :-) It indicates that there _can_ something happen. As soon the first message arrives it should be clear to player.

So there will be a mix of chat messages and ingame messages?

If we go for a panel it should adjustable on which edge of the screen it should be displayed. Some like it at

[2020-10-13 06:13] gunchleoc commented on #4345
We are actually discussion 3 things in this issue:

1. The game speed overlays etc, which was the original issue reported
2. The chat overlays, because they are also overlays
3. The discussion expanded to refactoring the message window too

[2020-10-13 06:37] frankystone commented on #4234
Now i got this one:

`Warnung: Format »%u« erwartet Argumenttyp »unsigned int«, aber Argument 5 hat Typ »Widelands::MapObjectType« [-Wformat=]`

The whole warning:
[code]

[2020-10-13 08:20] Noordfrees commented on #4345
In my opinion we should not mess up chat and messages, nor refactor the message window. The new message dropping-in indicator should only be an addition to the message menu, because currently the arrival of a new message is not very conspicuous if you disabled that annoying sound effect, and it is much more convenient to know at once what the new message is about (and in my branch you can jump to

[2020-10-13 08:22] #4311 closed, assigned to Noordfrees

[2020-10-13 09:46] Noordfrees commented on #4334
Does this still happen? I cannot reproduce (Ubuntu MATE 20.04). If yes, please run in gdb and create a backtrace while it's frozen

[2020-10-13 10:05] hessenfarmer commented on #4190
I'd really appreciate some progress with this as currently I don't have any debug builds on my windows machine

[2020-10-13 15:30] Noordfrees opened #4356 "Minimap misses territory information"
The minimap's territory layer incorrectly displays the player's own territory as "unowned" near the player's roads, flags and buildings.
![shot0000](https://user-images.githubusercontent.com/48293446/95882153-a7104f80-0d79-11eb-9d2b-5cd95574707b.png)

[2020-10-13 16:02] frankystone commented on #4322
This is working again, at least with branch multithreading_new.

[2020-10-13 16:02] #4322 closed, assigned to nobody

[2020-10-14 06:31] pospec4444 commented on #4352
GNU won't work for them.

[2020-10-14 06:31] #4352 closed, assigned to nobody

[2020-10-14 07:11] gunchleoc commented on #4345
I thought you were suggesting a refactoring of the messages because of your mockup example where they show up in the top middle of the screen (https://github.com/widelands/widelands/issues/4345#issuecomment-707216708).

The top bar from your mockup on the bottom, and maybe add some icons to the time strings. I had also suggested adding realtime so that one doesn't need to leave fullscreen to check

[2020-10-14 08:11] gunchleoc commented on #4334
I can't create a backtrace when it's frozen, because everything is frozen, including typing something into GDB.

I'll have to debug this by uncommenting code, then running widelands with logging into logfile, kill and start my operating system when it freezes, rinse and repeat until I find the line that's causing it. I haven't had time for that yet.

[2020-10-14 08:21] #4346 closed, assigned to nobody

[2020-10-14 08:23] Noordfrees commented on #4334
I'm getting a total freeze on my Ubuntu MATE like every half hour ever since the upgrade to 20.04. And from what I read on the Internet lots of people have that issue, with the problem occurring randomly. For me, they usually happen while the compiler is running, never yet in Widelands. So I would guess it's not related to Widelands at all

[2020-10-14 08:31] Niektory commented on #4334
If the mouse still moves then the system might be recoverable. Does switching TTYs with `Ctrl+Alt+F1...F7` work? Or at least `Ctrl+Alt+SysRq,R,E,I,S,U,B` for a gentler reboot.

[2020-10-14 08:57] Niektory opened #4359 "invalid map_object_descr in Neptune's Revenge"
Since I crammed too much into issue #4279 I'm making a separate one just for the artifact problem, which is still present in the current version.

Here are two savegames: [neptuneagain.zip](https://github.com/widelands/widelands/files/5376817/neptuneagain.zip)
`Autosave 03` is the last loadable one, `Neptune’s Revenge (Defeat the Barbarians)` is the first unloadable one. Loading the latter shows t

[2020-10-14 10:27] Niektory commented on #4190
Tried the AppVeyor debug 64-bit build of bceb8dcd4537a442791dacaa55b7ec6634815004 on Windows 8.1, it crashes as described. I didn't try building it myself.

[2020-10-14 11:15] gunchleoc commented on #4334
It's definitely a general graphics problem on my system, but it wasn't triggered until the recent changes to the options screen so I want to investigate this when I have time. Others might have the same buggy type of system.

[2020-10-14 13:17] matthiakl opened #4360 "Wrong translation hint for system language"
**Describe the bug**
When selecting the system language, the hint about the translation process shows the information of the current language instead of the system language.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Interface options'
2. Select a language other than the system language
3. Apply
4. Select 'Try system language'
5. The translation hint shows the information of the

[2020-10-14 13:55] Noordfrees commented on #4345
More like this?
![shot0000](https://user-images.githubusercontent.com/48293446/95998639-5b22e080-0e35-11eb-9376-9ca98a18570d.png)
There is a new option whether the info panel and toolbar should be on the bottom (default) or top.
Its visibility can be switched between visible, hidden, and only visible on mouseover with the dropdown in the corner.
The realtime clock can also be en-/disabled in the o

[2020-10-14 15:34] Noordfrees opened #4362 "Scripting packet needs to save textdomain stack"
**Bug**:
- Start a new game with the artifacts win condition (hint: Crater is good for fast and easy games here)
- Save the game
- Exit Widelands
- Restart WL and load the game
- Play until the end
[code]

**Solution**: I guess we need to saveload the textdomains stack from `lua_globals.cc` in the scripting packet

[2020-10-14 16:22] frankystone commented on #4345
Hm... maybe make the panel as height as the menu buttons are. And remove the menu backgroundgraphics? And make the menu as wide as the width of the messages box.

But to be honest: I think there is too much information, and i think some this information is superfluous. At least in release builds, for a non-dev player. Is there a need to display the current time? And as previously said: The coords

[2020-10-14 16:28] Noordfrees commented on #4345
Didn't I make this clear? FPS and coords are shown only in debug of course (coords also in the editor). And the realtime string is optional. Will try out increasing the height and removing the background graphics.

Since SP, MP, Replay, MP spectator, and Editor all have differing amounts of buttons (and some are very narrow), this could only be done by either making the gaps size vary to fill the

[2020-10-14 17:06] Noordfrees commented on #4345
Debug, realtime enabled, info panel on the bottom:
![shot0001](https://user-images.githubusercontent.com/48293446/96021815-3be57c80-0e50-11eb-85a2-b96f0edf42fe.png)
Release, realtime disabled, info panel on the top:
![shot0004](https://user-images.githubusercontent.com/48293446/96021837-4273f400-0e50-11eb-8a36-d3bf18f32e30.png)
I have changed the toolbar so the background graphics are only drawn i

[2020-10-14 18:23] Notabilis commented on #4318
Thanks for reporting, should be fixed soon.
Small addition: This only happens when the metaserver is used but not for LAN games.

[2020-10-15 06:14] gunchleoc opened #4365 "Basic tutorial improvement suggestions"
Ideas to unclutter the first tutorial

https://www.widelands.org/forum/post/35041/

![1](https://user-images.githubusercontent.com/4095570/96083846-e774e800-0eb5-11eb-834b-1a434ca55f96.png)
![2](https://user-images.githubusercontent.com/4095570/96083850-e8a61500-0eb5-11eb-88b5-96ec05a63b48.png)
![3](https://user-images.githubusercontent.com/4095570/96083852-e93eab80-0eb5-11eb-9ffb-ca6586e627f1.png

[2020-10-15 07:12] gunchleoc commented on #4360
That's because the system languages is only tried when it gets applied, so there's no information about that.

I originally left out the stats for this entry because of this, but that was also considered a bug and then put in...

[2020-10-15 07:20] gunchleoc commented on #4345
I prefer the bottom layout.

What is the extra "Raadhus" etc? I thought we were not refactoring the messages window in this discussion? Or is it a placeholder for chat messages? In any case, having this centered below the menu when the bar is on top is not a good idea, since the menu would drop on top of it.

[2020-10-15 07:22] gunchleoc commented on #4362
Do you have a savegame for that?

[2020-10-15 07:26] Noordfrees commented on #4362
[test3.wgf.zip](https://github.com/widelands/widelands/files/5383097/test3.wgf.zip)

[2020-10-15 07:31] gunchleoc commented on #4365
Tweaking the texts is a good first issue. Implementing the arrow is a bit more advanced and needs C++ changes.

[2020-10-15 07:48] matthiakl commented on #4360
If there is no information, then this as hint could be helpful, but the current message is misleading.

[2020-10-15 07:52] frankystone commented on #4345
The idea is to have game messages (not chat messages) popping up (sliding down) at the bottom screen and clicking on such an entry will open the normal message window.

I think the font there could be smaller and images shouldn't be shown there.

[2020-10-15 08:45] Noordfrees commented on #4345
I have implemented that left-clicking a message preview will jump to the associated map location. This is more useful in my opinion because when you see e.g. that your quarry is out of stones or your sentinel under attack, you would usually do nothing except hit G when viewing that message in the message menu. (At least that's what I do…)
And you can see the full message text when mousing over the

[2020-10-15 13:38] Niektory commented on #4258
I actually have no idea what would be the right place to ask this :-)
For C++ I use Code::Blocks. It makes it much easier to navigate a big codebase than a simple editor. It has some flaws though so there are likely better ones out there.
For everything else I use Mousepad, a simple editor that comes with Xfce.

[2020-10-15 15:01] Niektory commented on #4343
I think the focus indicator doesn't need to be very prominent. One pixel thick might be enough, or maybe dotted lines. See here for example:

![shot0103](https://user-images.githubusercontent.com/4470900/96144382-642eb300-0f04-11eb-9124-2fb86f2a26f9.png)

The focus indicator is more prominent than the selection indicator, while the latter is more important.

It also overlaps the borders of buttons

[2020-10-15 15:11] Noordfrees commented on #4343
Regarding the screenshot, those orange lines are not very prominent anyway. How about making them a pixel wider, and perhaps darkening the background when the statebox is selected?
Custom indicators are already implemented and used by e.g. tables, so it should be easy to move them further inside for buttons. I'll also make the focus indicator narrower; dotted lines are not trivial though.

[2020-10-15 15:36] Niektory commented on #4343
Darkening the background sounds good, the lines could be a little brighter too. That should be enough. Thicker lines would obscure part of some icons (though that's not a major problem).

[2020-10-15 16:09] gunchleoc commented on #3923
The helptext branch fixed this.

[2020-10-15 16:09] #3923 closed, assigned to gunchleoc

[2020-10-15 16:13] gunchleoc commented on #3302
This has been implemented with the tribes_filtering branch. Filenames for the "tribes" subdirectory are restricted to "init.lua", "register.lua" and "*.png".

[2020-10-15 16:13] #3302 closed, assigned to gunchleoc

[2020-10-15 16:17] gunchleoc commented on #4271
Actually, the trees should still be listed, because the building needs to be built close to them. I think we should keep it simple for now, but maybe replace the "Collects:" header with something else. The header should also fit the Frisian Beekeeper.

[2020-10-15 17:33] frankystone commented on #4365
May i find time (and motivation) to work on this. It will take some time though...

[2020-10-15 17:49] frankystone commented on #4345
Sounds logical to me. Bringing up the _real_ message window is also only one click away.

All fine, imho :-)

That should be only in the _real_ message window imho. Otherwise it will be some sort of useless.

I have to test it...

[2020-10-16 06:43] #4318 closed, assigned to Notabilis

[2020-10-16 06:56] gunchleoc commented on #4258
I use QTCreator for C++ and Geany for Lua/Python/Bash. I also use Geany for resolving merge conflicts in CMakeLists.txt files so that QTCreator can load the project.

[2020-10-16 08:16] gunchleoc opened #4367 "Client can't join saved network game"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

I get "Server sent a player update for a player that does not exist." on the client.

**To Reproduce**
Steps to reproduce the behavior:
1. Host a savegame on LAN or internet(mine was compressed)
2. Join with client. For LAN, join localhost rather than the named server

Savegame:
[chat setup.wgf.zip](https://git

[2020-10-16 08:24] gunchleoc commented on #3973
Possibly related: https://github.com/widelands/widelands/issues/4367

# Host log

[code]

# Client log

[code]

# Ping

[code]

# etc/hosts

[code]

[2020-10-16 08:35] Noordfrees opened #4368 "AI code bugs"
In AI code, there are at least two places where invalid function arguments are passed, and the AI relies on negative times and durations which needs to be refactored as these can no longer be negative. See #4325

_Originally posted by @gunchleoc in https://github.com/widelands/widelands/pull/4325#discussion_r506102102_

In `defaultai.cc`:

[code]

[code]

[2020-10-16 08:47] tibor95 commented on #4368
What else in addition to that #4325 comment?

[2020-10-16 10:27] #3640 closed, assigned to Noordfrees

[2020-10-16 10:27] #4256 closed, assigned to Noordfrees

[2020-10-16 10:56] hessenfarmer commented on #4368
@tibor95
the related branch identified the bug described in the 2nd code sniplet above where a player number is passed to a function that expects the actual gametime. This had no real bad effect so far but might mildly effect the weighting in the related part.
Furthermore the branch of @Noordfrees resulted in time not allowed negative values anymore. Therefore I proposed "change the semantic of th

[2020-10-16 10:59] hessenfarmer commented on #4368
Additionally I think we could improve the training and recruiting of soldiers within the AI. One of the keys might be to control the economy settings more explicit. Reason for this necessity in my eyes is the change in the soldier selection of trainingsites

[2020-10-16 11:26] Niektory commented on #4356
The minimap renderer reads the owner data from `Player::fields_`. On saveloading this data is preserved for `kPreviouslySeen` fields, but not for `kVisible` fields. The minimap renderer could just read it from `Map::fields_` for `kVisible` fields – this would be a trivial fix.

The question is, should the data for `kVisible` fields in `Player::fields_` be rediscovered after loading or is it not ne

[2020-10-16 12:06] tibor95 commented on #4368
what about setting construction_decision_time  to kNever on the begining. If you are adding another check anyway, why not

`if construction_decision_time  != kNever &&`

[2020-10-16 15:17] Notabilis commented on #4367
Which version were you using?

[2020-10-16 17:07] hessenfarmer commented on #4368
Well actually I intended to change the semantics of construction_decision_time like described above as it is cleaner imho then checking for a the startup condition each time it is used.
Furthermore I am not sure if kNever still exists after the branch to make the time variables Typesafe.

[2020-10-16 17:08] Noordfrees commented on #4368
Just use a default-constructed `Time()` and its member function `construction_decision_time.is_valid()`/`construction_decision_time.is_invalid()`

[2020-10-16 18:42] tibor95 commented on #4368
Looks interesting, but this still means additional checking every time if the time is valid... I must say I did not see the code of Time object

[2020-10-16 19:25] Noordfrees commented on #4368
Link to header file: https://github.com/widelands/widelands/blob/refactor_time_and_duration/src/base/times.h

[2020-10-16 19:49] tibor95 commented on #4368
Impressive. So we replace trivial(u)int32 with this object... OK

[2020-10-17 05:46] gunchleoc commented on #4334
I have created a branch with more log output, but the crash doesn't reproduce today. Will keep trying.

[2020-10-17 08:20] Niektory commented on #4237
This seems to work, but there's a lot of them and it's hard to automate because the old lua files don't work without changes. Using an older version for this will probably be easier.

[2020-10-18 09:56] Niektory commented on #4367
I can reproduce using the linked savegame and version 1.0~git24947[870c1e1@master] (Debug)

[2020-10-18 10:16] Niektory commented on #3973
I can't reproduce this problem in 1.0~git24947[870c1e1@master] (Debug).

[2020-10-18 11:01] Niektory opened #4373 "Error joining network game with no map selected"
Joining a network game with no map selected results in an error:
`Client sent malformed commands: The map file seems to be invalid!`

**To Reproduce**
1. Host a network game, but don't choose a map.
2. Join the game with another Widelands instance.

**Logs**
[malformed_commands_client.txt](https://github.com/widelands/widelands/files/5397387/malformed_commands_client.txt)
[malformed_commands_host.

[2020-10-18 16:22] Noordfrees opened #4374 "InputQueue priority improvements"
https://www.widelands.org/forum/topic/4994/?page=2

- Instead of three priority buttons, have a slider. This will make for a better click target and may be clearer regarding the meaning of the priority setting.
- Introduce additional states "Very Low" and "Highest" priority. The priorities are weighting constants defined in building.h and used in request.cc – the current ones are Low=2 Normal=4 Hi

[2020-10-18 18:45] Niektory opened #4375 "Soldier stuck at destroyed enemy building"
Reported here: https://www.widelands.org/forum/topic/4911/?page=2#post-34627

[**Replay**](https://www.widelands.org/forum/attachment/e459dff85fc7a2d5b6ab8f1a546cb28684e0ed23/)
[**Video recording**](https://github.com/widelands/widelands/files/5397987/stuck_soldier.mkv.zip)

**Version:** Build 21

[2020-10-19 11:24] Noordfrees commented on #4356
We'd better rediscover it, there may be more places that read data from the Player::Field (now and in the future)

[2020-10-19 18:47] Vipeltaja opened #4378 "Running regression_test.py on VMware operated Ubuntu"
**Describe the bug**
Downloaded Source code (.zip) from the website, followed README.md instructions to compile the files into the game and tried running the regression_test.py. All of the processes were executed through Ubuntu's terminal with exact lines given in instructions. Game versions used were "build-21(Debug/Release)". All tests returned FAIL and end result looked like this:
Regression_Te