[2021-04-15 09:49] Noordfrees commented on #4557
Whether it "works" depends on what you'd expect it to do…? Perhaps we should change the default Buildhelp hotkey (e.g. to <kbd>B</kbd>) as <kbd>Space</kbd> is also a UI selector

[2021-04-15 14:48] frankystone commented on #4557
My comment was not detailed, sorry.

I would expect that pressing Space will en/disable the buildingshelp. This behavior is described in the help, as well as pressing a number sets the toolsize.

What does space do else? What do you mean with UI selector?

[2021-04-15 15:06] frankystone commented on #4812
I have tried to find a video of the Mate desktop where this is shown but didn't found one.

Maybe i am just too old school for such new things.

[2021-04-15 15:16] Noordfrees commented on #4557
<kbd>Space</kbd> is used to emulate a mouseclick on the focused UI element when using the keyboard to navigate the UI. The other UI selectors are <kbd>Enter</kbd> (click the primary button), <kbd>Tab</kbd> (next/prev element), and <kbd>Esc</kbd> (clear focus). These bindings are consistent with about every window manager I can think of. Additionally the number keys can be used to directly access t

[2021-04-15 20:22] blu2lz opened #4814 "Widelands installed blocks upgrade to Fedora 34"
Hi,

I want to let you know that the Widelands package blocks the Fedora upgrade from 33 to 34 because the upgrade that landed in 34 was obsoleted in 33 because of conflicts with the fonts. Could you please build an intermediate package for Fedora 33 that solves that conflict?

[Package for 34 in Bodhi](https://bodhi.fedoraproject.org/updates/FEDORA-2021-08852b7ddd)
[Package for 33 in Bodhi](https

[2021-04-15 20:43] frankystone commented on #4557
I am fine with reassigning hotkeys as long they are doing the things they are intended for.

So +1 for using a modifier + 1-9. The F-keys should only be used for _very special_ tasks, imho, e.g. reserve them for Add-ons.

[2021-04-15 20:52] Noordfrees commented on #4814
The linked bug shows that it's a problem with the Culmus fonts bundled with Widelands. We last modified this shipped font over [6 years ago](https://github.com/widelands/widelands/tree/master/data/i18n/fonts/Culmus). To me this looks like it might be a problem with the Fedora packages rather than with Widelands itself?

[2021-04-15 21:30] frankystone opened #4815 "Formatting in multiline edit box does not survive save/load"
A multiline edit box does allow some formatting of text, e.g. adding newlines. But this formatting get lost:

![multiline_format](https://user-images.githubusercontent.com/6730556/114939008-202f5300-9e40-11eb-8484-3f67830e1265.jpg)

**To Reproduce**
1. Create a new map
2. In the map options do some formatting in the field "Description" like creating a ist
3. Save the map
4. Load the map

In result

[2021-04-16 11:24] Noordfrees opened #4816 "HQ Hunter replays desyncs"
https://www.widelands.org/forum/topic/5181

Replays with the HQ hunter win condition desync shortly after an HQ is destroyed. Replay created with 1.0~git25267[296b275@master] (Release) attached. It desyncs after the light green player player (amz) is defeated by violet (emp).
[code]
[replays.zip](https://github.com/widelands/widelands/files/6324546/replays.zip)

[2021-04-16 11:25] Noordfrees commented on #4815
The problem is that our config file format can not store newlines yet

[2021-04-16 14:21] hessenfarmer commented on #4816
I believe this to be the case for all Win conditions now as we use scripting to prevent ressurrection. Porbably this affects multiplayer as well

[2021-04-16 15:21] Noordfrees commented on #4816
I guess the cause may be lines such as this one:
https://github.com/widelands/widelands/blob/dc1415039e2fd86c6cd5d5ee54b5f3f9d6f684e8/data/scripting/win_conditions/win_condition_functions.lua#L92
Lua table iterations are not deterministic, so we need to perform some sorting on the result to ensure a deterministic order of destruction.

[2021-04-16 16:39] matthiakl commented on #4816
I can confirm, that there are some non deterministic operations. The desync happens always at the same time, but the wrong hash changes:
[code]

[2021-04-17 18:56] matthiakl commented on #4814
The easiest way should be to uninstall Widelands, upgrade Fedora, install Widelands again.
The user data does not get deleted together with packages, so you won't loose anything.
To be safe, you can create a backup of your homedir (either `~/.widelands` or `~/.config/widelands` + `~/.local/share/widelands`)

[2021-04-17 21:14] blu2lz commented on #4814
Yes. In the changelog it states “Unbundle Culmus fonts”, so I think that’s related. I hoped the package maintainer would read here to maybe react to the problems since there is no reaction in Bodhi oder Bugzilla. Maybe that is not the case, so feel free to close this issue if it does not fit here.

Sure, that’s what ***I*** will do. I still think that it is unfortunate that the package is just bui

[2021-04-18 12:21] Noordfrees opened #4819 "Replace `pairs` with `ipairs` or `ordered_pairs`"
From https://stackoverflow.com/a/55109411:

So the preferred way to iterate should be  which is only possible for continuous numeric keys. If the keys are not numeric and the outcome of the  loop depends on the iteration order the new  should be used.
I searched the lua files for calls of  and most of them could be replaced with  to guarantee the order. But I'm not sure, how to determine the key t

[2021-04-18 12:21] #4816 closed, assigned to matthiakl

[2021-04-18 13:53] frankystone commented on #4819
The problem is that there are some functions which returns either an array (numeric indexed) or a table (string indexed) depending on the given parameter. E.g. [get_buildings](https://www.widelands.org/documentation/autogen_wl_game/#wl.game.Player.get_buildings)

Just check the first index?

[code]

But this do not work with tables mixed with numerical and string keys. But i think there are no suc

[2021-04-18 15:26] matthiakl commented on #4819
`ordered_pairs()` should still work for numeric indexes, or even mixed indexes.
However, since it introduces quite a performance overhead for large tables, I don't think `pairs()` should be completely deprecated. Some function bodies do not depend on the order of execution, e.g.
https://github.com/widelands/widelands/blob/5ba1114e2bc609af21937553aee1c8e5ad1010da/data/scripting/ui.lua#L177-L183

[2021-04-18 17:51] Noordfrees commented on #4746
The last one can be fixed by this one-liner change:
[code]

For the initial problem, how about just letting the fields become PreviouslySeen after the intro for now, so we can apply those two quickfixes for 1.0 and postpone the real fix until after the release?
@hessenfarmer @frankystone @Niektory

[2021-04-18 18:40] Noordfrees commented on #4813
It probably wouldn't work exactly like this. Technically, most tool windows have 2 or 3 separate tools associated with them, e.g. the Resources tool window has an "Increase Resources" tool, a "Decrease Resources" tool, and a "Set Resources" tool. The modifier key held down determines which of the three tools is used when clicking the map. So this history would contain entries like "Increase Resour

[2021-04-18 18:53] Noordfrees commented on #3152
The whole main menu has been redesigned fully, so this is by all chances no longer valid.

[2021-04-18 18:53] #3152 closed, assigned to nobody

[2021-04-18 19:09] frankystone commented on #4813
Adding new tool actions if they aren't in the list would be just the final touch :-)

So i am fine with an extension of the _un/redo_ functionality.

[2021-04-18 21:19] blu2lz commented on #4814
If the package maintainer looks at this issue here first:
https://bugzilla.redhat.com/show_bug.cgi?id=1947182#c1

[2021-04-19 13:00] PinPhreek opened #4821 "update-script not working"
**Describe the bug**
the updatescript errors out.

**To Reproduce**
run `sh update.sh`

it crashes with `sh update.sh: line 18: compile.sh: command not found`

**Expected behavior**
update and compile with no errors

**Version:**
 - OS: Arch Linux
 - Widelands Version: current master (5ba1114)

[2021-04-19 13:24] Noordfrees commented on #4821
Can you post the 18th line of your `update.sh`? (edit: and also the exact complete command with which you last compiled Widelands)
The script is autogenerated from the invocation of `compile.sh`. e.g. for me this line says `./compile.sh -r -c -j 2` which works fine.

[2021-04-20 10:29] PinPhreek commented on #4821
18th line: `complie.sh`. That's all.

[2021-04-20 10:40] Noordfrees commented on #4821
That's weird, it should not be possible to run the script without a path in the first place…
can you try recompiling (by invoking `./compile.sh` again), and see whether the update script is still broken afterwards?

[2021-04-20 11:02] PinPhreek commented on #4821
Yup works now. Thanks for the help ^^. Shall I close this issue?

[2021-04-20 11:05] #4821 closed, assigned to nobody

[2021-04-20 13:23] Noordfrees commented on #1066
This was fixed by #4657 and/or the inputqueue redesign

[2021-04-20 13:23] #1066 closed, assigned to nobody

[2021-04-21 18:54] frankystone commented on #4819
What about extracting the `ipairs()` iterator and make it a function like `ordered_next()`?

[code]

 So we can split inside `ordered_pairs()`:

[code]

For the ipairs-iterator see chapter 'Misc Examples' in [lua users wiki-iterators](http://lua-users.org/wiki/IteratorsTutorial)

Doing so we can exchange each call to `ipairs()` with `ordered_pairs()` without loosing performance for numerical index

[2021-04-22 21:43] frankystone opened #4828 "Addons manager 'Browse': Disable remaining 'type' entries if user clicks on one type"
It is a bit time consuming when one searches an addon of a specific type: One has to disable all other types to filter out the add-on's type he is not interested in.

**Describe the solution you'd like**
1. Opening  _"Addons -> Tab Browse"_: All types are enabled
2. Clicking on one of the types all other types get disabled (and not shown). E.g. Clicking on 'Scripts' the list should only show add-o

[2021-04-22 22:05] Noordfrees commented on #4828
You can use <kbd>Ctrl</kbd>+Click to enable a type and disable all others. But since filtering for 1 specific type is probably the most common usage, we could make that the default and use the modifier to allow selecting multiple types instead.

[2021-04-23 20:11] Noordfrees commented on #3433
I wonder if this observation is actually valid. Something I see often is:
- I attack a sentry. Defenders swarm out from a nearby fortress.
- My soldiers kill both occupants of the sentry. After the last one is defeated, one of the defenders from the fortress intercepts my attacker before he can claim the sentry for me.
- All my attackers are eventually either defeated or retreat due to low health.

[2021-04-26 07:27] tothxa opened #4829 "Untranslated strings in emp04 (Surprise, Surprise!)"
The following strings should use pgettext (in data/campaigns/emp04.wmf/scripting/tribes, rgrep descname | grep -v pgettext):

foresters_house1/init.lua:   descname = "Forester’s House",
foresters_house1/init.lua:         descname = "planting trees",
lumberjacks_house1/init.lua:   descname = "Lumberjack’s House",
lumberjacks_house1/init.lua:         descname = "felling trees",
trainingcamp1/init.lu

[2021-04-26 11:51] Noordfrees commented on #3833
Another mode/option suggestion (https://www.widelands.org/forum/topic/5185/?page=2#post-36539):

We already have code to use "highest influence" rather than "first come first served" (used to ensure that ports claim a lot of land). The influence scoring might need to be adapted to be more intuitive though (e.g. linear instead of squared falloff).

[2021-04-26 15:58] #4829 closed, assigned to nobody

[2021-04-27 21:12] Noordfrees opened #4833 "Add custom hotkeys for fast building placement"
https://www.widelands.org/forum/topic/5213

Another possibility would be that one clicks on the building spot and is able to press a hotkey combination which places the building.... Those hotkeys could also be configurable.

 Maybe this feature would be even better if it would be enough to mouse over the building spot.

[2021-04-28 06:42] frankystone opened #4834 "Some addons do not work with random maps"
See: https://www.widelands.org/forum/post/36602/

**To Reproduce**
1. Install 'Fishy' addon or 'Automatic Soldier Setting for Military Construction Sites'
2. Start a random map
3. Check radius of wells and military construction sites

**Version:**
 - OS: archlinux
 - Widelands Version: [004bbc4@4746_vision_fix] (Debug)

[2021-04-28 11:08] Noordfrees commented on #4834
This is not trivial. I keep getting `heap-use-after-free`s because the random match generation bypasses the default load order. Let's only add a hint for now that world-, tribes-, and script-and add-ons don't work with the generator yet.

[2021-04-30 12:54] Noordfrees opened #4837 ""Continue Playing" does not work after deleting file"
- Start Widelands.
- Check in the singleplayer dropdown which game would get started via Continue Playing.
- Choose Singleplayer → Load Game and delete this game file.
- Close the Load Game window.
- Choose Singleplayer → Continue Playing.
- An error message is shown that the file could not be found.

Solution: Widelands should recompute the information about the last saved game after deletion of

[2021-04-30 19:04] hessenfarmer opened #4838 "Github Windows CI is broken"
Currently the windows CI Buolds on github are broken.
The error is due to a failed attempt to upgrade ca_certificates while doing the MSYS2 upgrades.
Error message says fatal error - cygheap base mismatch detected

no clue so far how to solve this

[2021-04-30 19:30] #4746 closed, assigned to Niektory

[2021-05-01 06:13] klaus-halfmann commented on #4837
I would see this as "works as designed", When the errormessage clearly states what the Problem was, this is nothing that needs fixing.

[2021-05-01 11:02] hessenfarmer opened #4839 "Widelands does not start with a wrong file / folder in the addons folder"
If there is a unexpected file type or empty folder in the addons folder. Widelands does not start without giving proper error information. In stdout.txt it says no config file instead of the real error.

occured on windows with latest master.
to reproduce put a zip file or an empty folder in the addons folder.

[2021-05-01 12:03] frankystone opened #4841 "Let a map suggest game settings"
Currently a map suggests only the tribe for a player. It would be nice to let a map also suggest

* the starting condition of a player
* the win condition of the game
* whether peaceful mode should be used
* whether custom starting positions should be used
* ...?

Like the suggested tribe those values should also be suggestions, so a player can adjust theses settings in the game setup screen.

Thi

[2021-05-01 13:42] Noordfrees commented on #4838
Perhaps related? https://github.com/msys2/MINGW-packages/issues/7679

[2021-05-01 18:37] #4839 closed, assigned to Noordfrees

[2021-05-02 11:25] Noordfrees opened #4842 "Refactor additional expedition items selection"
https://www.widelands.org/forum/topic/5226

Replace the dropdowns with an inventory pop-up window that offers all the wares and workers with the same layout as the stock window.

This pop-up would have to behave similar to a dropdown except with a different layout, which will probably not be easy to implement.

[2021-05-03 11:32] #4838 closed, assigned to nobody

[2021-05-12 18:20] klaus-halfmann opened #4854 "Bookmarks (Keys1-9) jump to "undefined location" if not set."
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

With the new Keyboard mapping on macOS the "Bookmark Buttons are CMD-1..9.
Out of old habit I used Ctrl-1..9 (which did not work). But when I then pressed
1 he mao moved to a "random position" Looks like 0,0

**To Reproduce**
Steps to reproduce the behavior:
1. Open any single or mutiplayer game without bookmar

[2021-05-12 18:56] klaus-halfmann commented on #4854
You are to fast :-) Will try a review later tomorrow.

[2021-05-13 11:02] #4854 closed, assigned to Noordfrees

[2021-05-13 15:00] klaus-halfmann opened #4857 "ASAN heap-use-after-free around IdleWareSupply::~IdleWareSupply()"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

Do so some training for the Tournament I played the Barbarian Scenario.
[TournTest.wgf.zip](https://github.com/widelands/widelands/files/6473313/TournTest.wgf.zip)
I then pressed CMD-Q (Which Triggers  an SDL base Quit)

**To Reproduce**

Not sure,
* load attached save game
*  then quit with CMD-Q (macOS) of AT

[2021-05-13 15:04] Noordfrees commented on #4857
Duplicate of #4533, #4645, and #4792

The allocation and free trace looks really weird regarding where the heap-use-after-free occurs. Dangling pointers?

[2021-05-13 15:07] klaus-halfmann commented on #4857
Sorry cannot redproduce it as described :-\

[2021-05-13 15:17] Noordfrees commented on #4857
We now have 4 bug reports for this, and they all have the same stacktrace (`WareInstance::cleanup → ~IdleWareSupply → SupplyList::remove_supply`) but every one has a different context (SEGV, global buffer overflow, now heap-buffer-overflow). I bet there's a dangling reference somewhere that causes random garbage memory to be searched, or perhaps the economy is being deleted before its ware instanc

[2021-05-15 09:57] klaus-halfmann commented on #4857
Got another one (not on the new branch yet). Will another Crashdump help?
Got the bugfix branch compiled now and will try ...

[2021-05-16 10:09] tothxa opened #4861 "Bogus load error after valid load failure due to missing building type"
**Describe the bug**
It is not possible to load another game or start a new one after trying to load a game with outdated building name

**To Reproduce**
1. Load an old savegame with cassava root plantation in a version after it was renamed to cassava plantation ([example attached](https://github.com/widelands/widelands/files/6489009/cassava_root_save.zip))
2. The load will fail due to missing bui

[2021-05-16 11:13] Noordfrees commented on #4861
The first one should not happen at all since we have compatibility code for the renamed units. Does the savegame still fail to load after recompiling with current master?

The second message seems related to #4602

… edit: yes I see, this should not happen. Will investigate soonish…

[2021-05-16 11:39] tothxa commented on #4861
This *IS* current master. It happens with flathub's newest build, as well as with previous local native and flatpak builds.

I first experienced it soon after the rename, but I just passed over it then. I only connected the second error with the first one now, and now I tested that none of these versions can start a game after failing to load an old amazons game.

The installed flatpak uses its ow

[2021-05-17 18:06] frankystone opened #4863 "Mapview not centered if one clicks on maximize window"
If i click on maximize window in the top border of the desktop window the current view of the game is moved to the upper left corner.

**To Reproduce**
1. start a game with a resolution of 800x600
2. click on 'Maximize' in the window upper border (close to the 'x')
3. the view of the map get moved to the upper left corner

**Expected behavior**
The view of the map should be centered inside the cur

[2021-05-18 04:32] klaus-halfmann opened #4864 "Tamper protection in Network games"
**Problem**

More an more people find ways to manipulate .lua or other files
to e.g. change the amount of wares for ships and whatever.

As of now only Maps are kind of protected against such manipulations,
but not .lua files and such.

**Possible Solution**

* For dev-builds there is a flag "tamper-protection" for normal build this is always true
  (yes it still can be set via the config)
* All r

[2021-05-18 08:27] Noordfrees commented on #4864
We already have md5 checksumming code. We can't use the git hash for anything though because then downloaded ZIP bundles would fail to work.

I was always against implementing such mechanisms, because in my opinion this will lead to a race between cheaters and anti-cheating development. Also the next step for cheaters is to simply manipulate the C++ code to send the expected sums (which can be obt

[2021-05-19 18:48] hessenfarmer commented on #4864
Tampering with the lua files almost certainly will already lead to a desync in network game

[2021-05-20 10:47] Noordfrees commented on #4598
Argh… the format bot has just formatted 117 files on master, even though it still does use clang and clang-format version 10 according to the logs…

[2021-05-20 15:26] matthiakl commented on #4598
That's bad. So the fix did not work correctly.
The log only shows version 10 for clang explicit, but not for clang-format:
`update-alternatives: using /usr/bin/clang-10 to provide /usr/bin/clang (clang) in auto mode`
Other than that I don't see any evidence which version is used.

As we already have the proposed mitigation way implemented, maybe we should report this problem over on `virtual-envir

[2021-05-20 15:31] matthiakl opened #4867 "Broken mingw github builds"
Some update in the github runner broke the mingw build. The working directory is not resolved correctly:
`/usr/bin/python: can't open file '/d/a/widelands/widelands/D:/a/widelands/widelands/utils/detect_revision.py': [Errno 2] No such file or directory`

See for example [this log](https://github.com/widelands/widelands/pull/4865/checks?check_run_id=2627316439#step:5:98)

[2021-05-20 19:26] matthiakl commented on #4317
The problem is not the hotkey column, but a fix offset from the right, where the selection started.
This can be observed in all dropdown menus and I suspect the push button to cause problems.
![Bildschirmfoto vom 2021-05-20 21-12-29](https://user-images.githubusercontent.com/23122583/119035889-5f594280-b9b0-11eb-8c46-4e5dda78cbb6.png)
![Bildschirmfoto vom 2021-05-20 21-17-09](https://user-images.g

[2021-05-22 12:31] #4867 closed, assigned to nobody

[2021-05-22 16:27] #4602 closed, assigned to nobody

[2021-05-22 16:27] #4861 closed, assigned to Noordfrees

[2021-05-23 12:47] Noordfrees commented on #3017
Duplicate of #3433?

[2021-05-24 00:53] tothxa opened #4872 "fri03 error: Lua coroutine failed"
**Describe the bug**
I got a lua error message in fri03, when I tried to reach the first new port:
[01:26:01.790 game] ERROR: […/widelands-master/src/scripting/lua_errors.cc:22] [string "scripting/mission_thread.lua"]:72: bad argument #-2 to 'get_distance' (Flag expected, got Road)

**To Reproduce**
After trying to understand the code, I think the cause may have been that I dismantled the original

[2021-05-24 06:26] klaus-halfmann commented on #4872
Thanks for helping us testing widelands.
(I did not pay this scenario myself, thanks for reminding me ...)

We are currently in feature freeze fro the upcoming version 1.0 and
I think: this such an edge case that it is not worth hotfixing it for this
version. @Noordfrees  what do you think?

P.S  what language is this?

[2021-05-24 07:53] tothxa commented on #4872
I don't know if there is a lua call to prevent dismantling a building. If not, I thought of another simple quick semi-fix: Disallow warehouses until the first new port is built. (even I can make a PR for this if @Noordfrees agrees) Then noone would think of dismantling the original port, or if they do, they lose the game anyway.

(it's hungarian)

[2021-05-24 08:59] frankystone commented on #4863
This happens also if one:

* starts widelands at low resolution
* maximize window in main-menu(!)
* start a new game

Result is the same: The visible area of the map is in the upper left corner.

[2021-05-24 09:28] Noordfrees commented on #4872
Hey, you're not supposed to dike over the stream before claiming the eastern port space ;)
We have a C++ function to make individual buildings indestructible but it's not part of the Lua interface yet. IMHO the best short-term solution would be to replace the default frisians_port with a scenario-specific port building that is indestructible like an HQ.

… edit: But this would create new translata

[2021-05-24 10:52] frankystone opened #4873 "Addons: Clicking "Browse" takes too long"
When i click on "Browse" in the add-ons manager it take about 5 to 7 seconds until the UI reacts: The tab get activated and the add-ons are shown.

This is quite too long. And i guess the more add-ons will be available the longer the UI needs to react.

**To Reproduce**
1. Click on Add-Ons
2. Click on "Browse"

**Expected behavior**
The UI should react much faster.

**Version:**
 - OS: archlinux

[2021-05-24 11:11] Noordfrees commented on #4873
We cannot easily change this for v1.0 because curl needs this long time to download and parse the listfile. But when the webserver feature is implemented we can add a progressbar.

[2021-05-24 12:55] tothxa opened #4875 "Editor: Improve error handling when loading invalid maps"
**Describe the bug**
The game crashes when the attached maps are loaded in the editor.

(sorry for doing unexpected things again… I found this when I tried loading the map from a savegame for checking — yes, I know this is cheating and unsupported, but the general issue is that the editor can be crashed. The test cases are with an empty map, with a newly started game (with random tribe, in this ca

[2021-05-24 12:56] frankystone opened #4876 "Add-on: Confirmation windows do not render wl-Richtext"
Just noticed this by examining the add-on "the-x's Tournament mode":

**To Reproduce**
1. Find this add-on
2. Click on install
3. The confirmation window appears
4. Some text of the description shows wl-richtext tags

![add-on_confirmation_richtext](https://user-images.githubusercontent.com/6730556/119350593-d1c36e80-bc9f-11eb-8395-449c00746c11.jpg)

Same happens when uninstalling this add-on.

**

[2021-05-24 13:00] Noordfrees commented on #4875
Skipping the unsupported elements is not possible because then subsequent map object would not be loaded which breaks the whole load procedure. So such exceptions should be caught and an error message shown.
I think this bug has been around forever so targeting to 1.1.

[2021-05-24 14:33] frankystone opened #4880 "The arrows of the toolsize window are reverted"
The ordering of the spinner buttons are in most windows like ↓ ↑ in the toolsize window they are vice versa: ↑ ↓

![toolsize_arrows_inverted](https://user-images.githubusercontent.com/6730556/119362402-f114c880-bcac-11eb-8e04-fbf63bf0ed8e.jpg)

Maybe because the toosize window is messed up anyway.

**Expected behavior**
All spinner buttons should have the same ordering.

**Version:**
 - OS: as eve

[2021-05-24 18:57] Noordfrees opened #4881 "Workareas display bug with some add-on buildings"
1. Start a new SP game on the map *The Pass Through The Mountains* with both players set to *Europeans*, the *Endless Game Fogless* win condition, and *Peaceful Mode* enabled.
2. Ensure that the option to indicate overlapping workareas is turned on.
3. Click on the building spot located 4 nodes W and 2 SW of the HQ's flag.
4. Select the small buildings tab. Point on the first building (basic well)

[2021-05-24 20:13] hessenfarmer opened #4882 "Addons mismatch closes (crashes) Game"
After confirming an addon mismatch in an online game the game gets closed (or crashes) rather than returning to the lobby

[2021-05-25 04:36] klaus-halfmann commented on #4882
I dont like having such chnages on the road to 1.0, lets better taraget a verison 1.1 or such?

[2021-05-25 04:56] matthiakl commented on #4882
This issue will likely be reported frequently, if it gets into 1.0. Crashes are always unpleasant and should not be in a stable version if possible. So 1.0 is the correct target.

[2021-05-25 07:37] hessenfarmer opened #4886 "Kicked worker runs back into the house he was kicked from"
if you kick a worker from a productionsite he will go to the closest open slot (the one which he was kicked from rather than to the one that is open for the longest time.

This is especially annoying in conditions with low tools where you might need to share worker between Productionsites e.g. poor hamlet and for playing amazons.

Kicked worker should try to fulfil the oldest open job offer. not t

[2021-05-25 07:41] hessenfarmer opened #4887 "In a productionsite window the first worker should be autoselected for kicking"
To kickj a worker currently you need to selct him with an extra click. Even if there is only one worker available. So the first worker of a buoilding should be autoselcted in the workers tab for kicking

[2021-05-25 07:43] hessenfarmer commented on #4886
closed as this is a duplicate of #4809

[2021-05-25 07:43] #4886 closed, assigned to nobody

[2021-05-25 07:53] hessenfarmer commented on #4809
A shortage of tools can happen very easily.
Furthermore the linked code does only tke ware priorities into account. does this work for workers as well since we split the ware economy from the worker economy?
Open slots for experienced worker should have higher priority imho.
As this is affecting our new tribe amazons very heavily we should reconsider fixing this for 1.0

[2021-05-25 08:26] hessenfarmer opened #4888 "Kicking a worker does not work if the worker works outside his hut (e.g. forester)"
Sometimes it does not work to kick a worker from A productionsite who is working outside the building (e.g. Forester, Woodcutter). the corresponding click is simply ignored.
The worker should be reliably kicked when he finishes his work.

[2021-05-25 08:28] hessenfarmer commented on #4882
@klaus-halfmann would you mind testing this branch tonight

[2021-05-25 08:31] hessenfarmer opened #4889 "Multiplayer setup should show required addons for a match"
the Multiplayer setup should already show the required addons to join a network game.
it is very annoying to find this out when you enter the game and then need to go outside again.

[2021-05-25 08:40] hessenfarmer commented on #4889
If possible in any case we should probably have this in 1.0 as it would increase visibilty and usability of the addon system which is one of our major improvements in this version.

[2021-05-25 08:43] Noordfrees commented on #4809
A true fix would be overkill so shortly before a release but I have an idea for a workaround

[2021-05-25 08:46] Noordfrees commented on #4889
I think this info needs to be added to the metaserver as well as Widelands, so I rather doubt we could have this in v1.0 (@Notabilis?)

[2021-05-25 10:10] hessenfarmer commented on #4889
Can't we just get the hosts activated addons like when entering the match?
I really don't have any knowledge of this part of the code.
If it is not possible due to availabilty of e.g. @Notabilis it would be ok to postpone this. I just suggested 1.0 to make the new feature as reliable and user friendly as possible to increase usage and acceptance.

[2021-05-25 10:35] klaus-halfmann commented on #4882
Its not about mind its about time :-)

[2021-05-25 10:40] Noordfrees commented on #4889
You mean, before announcing the intention to join the game enquire non-committally about the host's settings? I can't think of a way to do this that would not make older host versions crash with an "unknown command" error, as at this point not even very basic information like the protocol version is available.

Currently, on the first contact between host and client, the client sends a "hello" mes

[2021-05-25 11:07] hessenfarmer commented on #4889
ok understood and agreed v1.1 then

[2021-05-25 11:08] hessenfarmer commented on #4882
Ok I will join the lobby tonight with this version anyway to see if it works

[2021-05-25 12:59] klaus-halfmann commented on #4882
Same here ... there is a +/- related issue when you join with a local version the addon is found in the config but not locall on disk, this leads to confusion when using addons. Woraround: uninstall and reinstall.

[2021-05-25 18:17] MarkMcWire opened #4892 "Hardcoded Level-Indicator-location produces bug in helptext renderer."
**Describe the bug**

Richtext renderer failed for helptext, if soldiers level indicators on wrong location (subfolder). Moving from default location or renaming soldiers sub directory breaks the helptext renderer.

WARNING: Error rendering richtext: [../src/graphic/image_io.h:34] Image not found: tribes/workers/europeans/soldier/evade_level0.png. Text is:

In my example, I put soldier in addons/e

[2021-05-25 18:37] Noordfrees commented on #4892
I guess the only viable solution is to add the paths of the indicator images to `LuaSoldierDescription` like we already do for various other MapObject-related file paths (hardcoded paths are always bad, and worse for add-ons)

[2021-05-26 11:19] #4882 closed, assigned to Noordfrees

[2021-05-26 18:52] Noordfrees opened #4894 "Codecheck broken with certain directory names"
Clone widelands to a directory that has `build` in it and compile as debug build (so the full path to the script is e.g. in `~/wl/building-fastplace/compile.sh`). The `images_exist` codecheck rule then uses the wrong base directory, resulting in masses of codecheck errors.

[code]

https://github.com/widelands/widelands/blob/5ecd636422db718045d0f000e8807976b501e3f5/cmake/codecheck/rules/images_exi

[2021-05-27 19:13] #4894 closed, assigned to matthiakl

[2021-05-27 19:46] frankystone opened #4897 "Rethinking terrains dither_layer"
Formerly the values for `dither_layer` were deliberately spread over 5 to 10 values. This was made to have some freedom for adding new terrains: If a new terrains dither_layer should be between e.g. 60 and 65 this was possible without having problems.

Since #4281 some values of dither_layer are just added by 1, which makes it impossible to easily add new terrains by just adding 1 to the value of

[2021-05-27 20:04] #4872 closed, assigned to Noordfrees

[2021-05-28 05:47] hessenfarmer commented on #4897
Basically the values do not matter as long as they are unique. they are just there to decide which terrain gets displayed of the other in our small blenfing area around a triangle. this results in the higher dither layer being displayed as a triangle which has bulges (Ausbauchung) and the lower one has a dint (Einbeulung) instead.

if 2 terrains from addons have the same dither layer a warning wou

[2021-05-28 06:04] hessenfarmer opened #4898 "Multiple selection for game setup screen"
For maps with a high number of player slots a multiselection and edit feature would be nice.

This means a feature to select multiple player Slots with Mouse and Windows like Shortcut (ctrl-A, ctrl-Click, shift-Click) and afterward edit the tribe or startcondition or KI for all of the selected Slots

[2021-05-28 06:37] frankystone commented on #4897
Yes, i know. I reworked the values some years ago. The dither_layer was implemented on purpose for such bulges and dints, because with some terrains it looks just better if one has a higher/lower value. E.g. terrains of type "beach" have always a lower value than water (beach is right). Which coastline looks better?
![dither_laeyr](https://user-images.githubusercontent.com/6730556/119937130-87d1d5

[2021-05-28 07:54] frankystone commented on #4873
Maybe there can be a sort of local cache: Dowloading the first time will take longer and fills the cache. Clicking the next time on "Browse" reads the cache first. Clicking on "Refresh"  will download only additional add-ons and update the local cache?

[2021-05-28 08:40] Noordfrees commented on #4873
In the addons-webserver branch all downloads are way faster than with curl in master. Let's first wait until the branch is ready and then see whether this is still an issue then.
Regarding a cache, see https://github.com/widelands/widelands/pull/4710

[2021-05-28 08:47] Noordfrees commented on #4897
How about distributing the dither layers in a broader range? E.g. All the dither layers stated in the Lua files (both official and custom) would be internally multiplied with 10, and the layers for terrains belonging to the N-th enabled world add-on are then increased by N. This would allow up to 10 world add-ons without having conflicts. (We can also use any arbitrary larger number than 10.)

[2021-05-28 16:12] frankystone commented on #4897
Sounds ok for me.
The only argument against this idea is: Adjusting things internally hides functionality to the user. I guess this can lead to unexpected results or questions in the forums.

Anyway in the [wiki sandbox](https://www.widelands.org/wiki/WikiSandbox/) is a list of all current dither_layer-values.

[2021-05-28 16:30] frankystone commented on #4732
See also: #3154

[2021-05-28 18:28] hessenfarmer commented on #4897
Well, with the adon system we somewhat opened pandoras box, for having widelands in myriads of permutations. As we can't expect every user or addon designer to know as much as we do about internal mechanics. By this we need to put in some safeguards for this nice feature. So if there are complaints in the forum we need to rethink our safeguards to prevent such complaints. Implementing safeguards c

[2021-05-28 19:35] frankystone commented on #1381
This is solved with an Add-On: [no_default_resources](https://github.com/widelands/wl_addons_server/tree/master/addons/no_default_resources.wad)

Official available at version 1.0.

[2021-05-28 19:54] frankystone commented on #3244
There is now an Add-On available which adds terrains with the same coloring as shipped terrains but unset `default_resource`. Therefor the feature this bug is about get more important:
The only difference between "summer_meadow1" and "summer_meadow1_dry" is the unset default_resource. This difference should be visible when designing a map, because a map designer can't  distinguish between this two

[2021-05-28 20:04] Noordfrees commented on #1381
I'm not sure if this should be considered a true fix. When any property of the official terrains is changed (see e.g. https://github.com/widelands/widelands/issues/3678#), the add-on terrains need to be updated as well, and any change to those will then also affect older Widelands versions using the add-on unless you add version detection code. Furthermore add-ons are not available for official co

[2021-05-29 07:53] frankystone opened #4899 "Allow old maps to use new world Add-ons"
If one edits a map and want to modify it with a newly available add-on, this is currently not possible without editing the `elemental` file.

**To Reproduce**
1. Install an add-on providing new terrains
2. Start editor and load an "old" map
3. The new terrains are not available in _"Tools -> Terrains"_

**Expected behavior**
New terrains from add-ons should be ready to use for "old" maps.

**Versi

[2021-05-29 08:34] Noordfrees commented on #4899
Well how would this be possible? There's no notion of "the features an add-on provides": Compare for example with the More Fish & Water add-on which modifies existing terrains. Some add-ons create new items, some modify existing ones, and others still may do both. How to decide which ones have to be fixed and which ones can be en-/disabled dynamically when loading?

A crash should not happen thoug

[2021-05-29 10:49] Noordfrees commented on #4881
One of the bugs described here is general: Overlaps with productionsite-constructionsites are highlighted even if they belong to different players, because the ownership check for this case is missing here:
https://github.com/widelands/widelands/blob/da980781ddf3adc230acea439461594ec12e8b54/src/wui/fieldaction.cc#L993-L1006

[2021-05-30 10:08] frankystone commented on #4897
BTW: The game should not through an error if two terrains have the same value for dither_layer, instead it should show just a warning and load the map anyway.

1. Same values do not harm
2. An add-on author can visually see what happens if two terrains have the same dither_layer
3. An add-ons author might want just hard edges
4. Without much effort one can't make images like in [Help Terrains](htt

[2021-05-30 20:40] tothxa commented on #4875
Should be retitled something like "editor: missing input validations on loading maps" when #4902 is merged.

[2021-05-30 21:01] hessenfarmer opened #4903 "longer roads between to flags are preferred by routing"
If there are multiple roads between 2 flags the longest is preferred ( selected for the first ware)
see https://www.widelands.org/forum/post/37014/

[2021-05-31 08:45] Noordfrees commented on #4903
It depends on the direction of the roads. If they are arranged like this then the shorter one is preferred:
![grafik](https://user-images.githubusercontent.com/48293446/120165842-42b4da00-c1fc-11eb-8946-a140080231f2.png)
Whereas in this arrangement the longer one is preferred:
![grafik](https://user-images.githubusercontent.com/48293446/120165780-34ff5480-c1fc-11eb-892e-a12d4acf0ec6.png)

And this

[2021-05-31 09:11] Noordfrees opened #4904 "Smith gains experience without doing anything"
Start a new game as barbarians, build a metalworkshop, set all inputs to 0, and watch as the smith levels up to master smith within a few minutes without producing anything.

My guess is that reaching the end of the main program earns him an experience point for a successful program run. Perhaps some return=skipped at the end is needed?
Other buildings with multiple programs may be affected as wel

[2021-05-31 14:33] hessenfarmer opened #4906 "Deprecated pictures parameter"
If --verbose output is turned on a lot of warnings like "animation contains deprecated Pictures Parameter" are logged.

[2021-05-31 15:05] Noordfrees commented on #4906
Ideally we should convert all these animations to spritesheets (except for single-image animations which only need to be converted to the new definition format). That's the third step of https://github.com/widelands/widelands/issues/3162. This is a simple job for someone with lots of spare time…

[2021-05-31 16:19] #4904 closed, assigned to Noordfrees

[2021-06-01 05:48] hessenfarmer commented on #4906
Ok I already started a branch where the things have been fixed for the world categories. hopefully I can fix some other instances tonight

[2021-06-01 07:47] Noordfrees commented on #4906
I had a look at your branch. Actually this syntax is also deprecated; the latest recommended structure is the one I used for the amazons units:
[code]

The `basename` can be omitted if it's identical to the animation's name (strongly recommended). The `directory` key for an animation is deprecated and should only be used if the unit has animation files in several directories (currently only the fr

[2021-06-01 08:03] hessenfarmer commented on #4906
Ok I will redo all my work then, with this definitions.
One question if there are playercolor mask does this work for them as well?

[2021-06-01 08:18] Noordfrees commented on #4906
Yes, existence of playercolor masks is always automatically detected, they're not stated in the animation table.

Thanks for taking on this task :)

[2021-06-01 09:32] Noordfrees opened #4907 "Add-on descriptions registered too early"
Currently the EditorGameBase registers the descriptions directly after loading. If later add-ons are disabled by map/game loading code, this may mean that spurious registries by disabled add-ons are still in existence. In the worst case this means that add-ons are silently enabled they should not be.

As an example see this replay: [replays.zip](https://github.com/widelands/widelands/files/6575058

[2021-06-01 09:36] Noordfrees commented on #3433
To answer my own question: Yes, it does happen. I sent a bunch of soldiers from my fortress to attack an enemy sentry; while they were out the enemy counter-attacked with soldiers from his tower, and all my soldiers swarmed out from the fortress so when the enemy reached the fortress's doorstep I had to dismantle it else it would have been taken without a fight. Perhaps the attacking soldiers were

[2021-06-01 10:46] Noordfrees commented on #4907
SP savegame with supposedly no add-ons but with a Lapacho tree in it (can only be loaded if the Tropics add-on is enabled)
[DatGroteUtnaihenATL_lapacho.wgf.zip](https://github.com/widelands/widelands/files/6575625/DatGroteUtnaihenATL_lapacho.wgf.zip)
![grafik](https://user-images.githubusercontent.com/48293446/120311038-53864e00-c2d7-11eb-927d-44889b7f1a04.png)

[2021-06-01 10:49] hessenfarmer commented on #4906
ok changed world tribes wares and tribes immovables. Would be glad if you could have a look whether I am on the right way

[2021-06-01 10:53] Noordfrees commented on #4906
:+1: perfect :)

[2021-06-01 10:55] hessenfarmer commented on #4906
ok much to go then. At least I know what to do tonight

[2021-06-01 19:57] hessenfarmer commented on #4906
finished finally

[2021-06-02 10:48] hessenfarmer opened #4911 "AI bugs and glitches in v1.0"
1. this line

https://github.com/widelands/widelands/blob/0976a570055e43df6e7847c2831d08f6d09286e7/src/ai/defaultai.cc#L5628

should prevent the AI from building rangers if not at least one lumberjack was built.  With v1.0 we allowed multiple Lumberjacks to be designed in a tribe (e.g. amazons and europeans) so it is not necessarily the related lumberjack for the ranger in question. In fact for am

[2021-06-03 15:07] PinPhreek opened #4914 "Load own music as backgroundmusic"
**Describe the solution you'd like**
I want to be able to load my own background music into the game. Like having an option to specify a folder.

**Implementation steps**
-  give the possibility to import .ogg files
-  allow the user to specify a folder where they can put there music-files
-  give widelands the possibility to play mp3-files from users

[2021-06-03 15:50] PinPhreek opened #4915 "Memory leaks in the main-menu/options-menu"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
I compiled the newest build and ran it. after closing I had a memoryleak.

**To Reproduce**
Steps to reproduce the behavior:
1. Start freshly compiled widelands
2. Go to options
3. Click though some options, but don't change a thing
4. close options
5. exit widelands

**Version:**
 - OS:Arch Linux
 - Widelands V

[2021-06-03 16:17] Noordfrees commented on #4915
The first one comes from the SDL, the other two from `/usr/lib/dri/i965_dri.so` which seems to be a graphics or sound driver. These 3rd-party-library leaks have been around always, there's nothing we can do about them unfortunately.

[2021-06-03 16:17] #4915 closed, assigned to nobody

[2021-06-03 19:50] tothxa opened #4917 "desync not detected (LAN game)"
**Describe the bug**
The game does not detect when host and client desync.

**To Reproduce**
1. Start LAN game with incompatible versions on the host and the client
2. Make it desync
3. Continue playing with divergent host and client

**Expected behavior**
The players should be notified and a warning should be printed on stdout when the desync happens

**Version:**
 - OS: antix / Debian buster + b

[2021-06-04 08:08] tothxa commented on #4875
As #4902 is closed now, I copy this addition here:

`test_hq` can be opened in the editor and it seems to work fine. It can be edited and even saved (the problem is carried over to the save). But if another map is loaded afterwards, then the editor crashes and the error message is shown in the main menu. It looks as if the problem was caused by the newly loaded map, not the previous one.

[2021-06-04 11:52] Noordfrees commented on #4917
The problem is not specific to LAN – it also happens when starting such a game via the metaserver but all clients are on the same physical machine. At a quick look the problem seems to be that clients with a very good real-time shift don't request sync reports often:
https://github.com/widelands/widelands/blob/7aa6186f9e5410fc35280c81a394d03a10dab04a/src/network/gamehost.cc#L1919-L1922
Solution wo

[2021-06-04 13:13] tothxa commented on #4917
While I created the example on a single machine, I observed it first in a real network game between two laptops next to each other, using wifi. But that's still low latency, of course.

[2021-06-04 16:51] hessenfarmer opened #4919 "Can't get WL_create_spritesheet to run on a Windows System"
see titlle. I ahve compiled this succesfully however it doe not run.
Do I have to run it from a special directory?
Does it need to be installed registered in some path?

I usually use a buildfolder different from the sourcefolder does this matter?
do I need to use -- for the options like in the normal game?

[2021-06-04 17:10] Noordfrees commented on #4919
The program takes no optional arguments unlike the main game, and the mandatory options are positional and unnamed (not prefixed with `--xyz=`). There's also no way to specify a custom datadir, it always defaults to `INSTALL_DATADIR` which in turn defaults to `./data`. So one thing you could try is to recompile while passing `-DWL_INSTALL_DATADIR=C:/absolute/path/to/widelands/data` to CMake. If th

[2021-06-05 11:31] frankystone opened #4922 "Tipps: German localization of Game speed messed up"
The localized string regarding the game speed is not completely centered and extends the scroll:

![game_speed](https://user-images.githubusercontent.com/6730556/120890027-8e9ebf00-c600-11eb-8085-63b53c073248.png)

Maybe rephrasing like:

"Speed up or slow down the game with PageUp/PageDown. Using this keys in combination with  Ctrl for rapid change, with Shift for smooth change."

BTW: PageUp/Pag

[2021-06-05 12:45] Noordfrees commented on #4922
Will be fixed by #4784

Edit: The overlong strings are probably because there's no way to break them up currently, see #1077

[2021-06-05 13:43] Noordfrees commented on #1077
Some other characters such as `/` and `+` should also be made linebreak targets, see #4922

[2021-06-05 14:11] hessenfarmer commented on #4919
I am not getting this to work. Windows logs just tell me it is crashing with error code 0xc0000005. When I try to run it in msys it tells me segmentation fault.

[2021-06-05 19:57] matthiakl commented on #4919
Did any of the website tools work in the past on windows? Every time I test compilation on windows the website tools were disabled. Now I compiled them in my Visual Studio setup and get
[code]
It looks like the logger is not initialized for these binaries.
Try adding this to the `wl_create_spritesheet` and see, if it helps:
[code]

[2021-06-06 10:18] hessenfarmer commented on #4919
@matthiakl   thanks a lot that did the trick

I just added it to the main routine and the spritesheet was created. However I had to run it from the base directory of a widelands installation or source folder to find the proper data path. I need to get the output of the lua code be redirected to stdout.txt but that should not be the problem and then I can start to convert animations to spritesheets

[2021-06-06 16:49] hessenfarmer commented on #4919
Ok i started a branch to work on the graphics
https://github.com/widelands/widelands/tree/create_spritesheets

it is dependent on the deprecated pictures branch though.
one last question: is it normal that the hotspot is recalculated for the spritesheets sometimes?

[2021-06-06 16:55] Noordfrees commented on #4919
Great that it's working now. The animation is automatically cropped during converting and the hotspot adjusted accordingly.

[2021-06-06 16:57] hessenfarmer commented on #4919
Ok so I continue to do this.
btw the linked branch will fix this issue as well as it contains the code changes in create_spritesheets.cc to work in windows.
@MarkMcWire you might use my work in the branch instead of doing it yourself of course.

[2021-06-06 17:38] markusu49 opened #4924 "crash while hosting tournament game"
**Describe the bug**
The game crashed while waiting for other players to join (2021 tournament round 3).

**Logs**
[code]

**Version:**
 - OS: manjaro
 - Widelands Version: `da980781ddf3adc230acea439461594ec12e8b54`

[2021-06-06 17:43] markusu49 opened #4925 "game hangs while opening multiplayer lobby"
**Describe the bug**
Sometimes the game hangs for about 60 seconds while opening the multiplayer lobby. Afterwards the lobby opens as usual and is connected to the metaserver.

**Logs**
[code]

**Version:**
 - OS: manjaro
 - Widelands Version: `da980781ddf3adc230acea439461594ec12e8b54`

[2021-06-06 18:09] Noordfrees commented on #4924
I cannot reproduce this with 21d093f8db8f4b6285255e0cdc1ba1ffae539dd3, neither in LAN nor lobby. Can someone else please check if this is an urgent issue or already fixed?

[2021-06-06 18:14] Noordfrees commented on #4925
Cannot reproduce myself. I see the same logs but it connects smoothly (even on a debug build…). How often does this happen? Could it just be a transient network issue; do the browser etc work smoothly at those times?

[2021-06-06 18:23] frankystone commented on #4924
The add-on is called "Tournament 2021 Win Condition (Tournament_2021_win_condition.wad).

Maybe related?

[2021-06-06 18:38] markusu49 commented on #4925
I don't think it's a problem with my internet connection as I had downloads running in the background without issues. It happens about one out of ten tries for me.

EDIT: Once I had the issue twice - I left the lobby immediately, tried to join again and the game froze again. I used the browser while waiting, no connectivity issue there.

[2021-06-06 18:44] markusu49 commented on #4924
I was still setting up the game, I cannot say for sure if I already had selected the map or the right win condition when it crashed.

EDIT: In a second try my opponent hosted the game successfully, so it's not that urgent.

[2021-06-06 18:45] Noordfrees commented on #4925
Tried it 20 times now and though every time connecting is a bit slower than the last, it's still only two seconds at most:
[code]
Using <kbd>RMB</kbd> and <kbd>J</kbd> in very fast succession also doesn't trigger a hang for me. Might be some race condition with the network threading

[2021-06-07 05:30] klaus-halfmann commented on #4925
This can happen when interet is only "partially" up e.g. DNS-wors but actual IP-Conenction fails.
-> Please check your router logs

As the logs shows this happens for IPv6 : 2a03:4000:32:524:48cb:feff:feae:b0c6:7395

So after that 60 seconds the game will fall back to IPv4 which is OK.
Please check if you can use IPv6 (perhaps a tool like https://ipv6-test.com/)

if you still want to dig further w

[2021-06-07 07:21] markusu49 commented on #4925
IPv6 is possible on my connection. Although I cannot be sure about problems outside widelands of course, I don't have such issues with any other application. I cannot find any relevant logs, but that probably doesn't mean a thing on a consumer-grade router (Vodafone, 5 GHz WiFi, DHCP, no special configurations from my side).

Even if the problem is outside widelands, I think the timeout is far too

[2021-06-07 09:13] hessenfarmer commented on #4924
Maybe it is urgent. The client was disconnected several times due to a Addon-mismatch. While the host tried to progress it seems there might still have been a reference to the disconnected client as an an assertion failed that was expecting a client to be connected.

[2021-06-07 09:17] hessenfarmer opened #4926 "trying to enter an already running internet Multiplayer game crashes the game"
During yesterdays tournament matches I tried to enter an already running match. This crashed widelands instead of gracefully failing.

For the future I would love to see such a feature to enter a running match as spectator.
Something like sending a chat message into the gamechat asking for permission to enter and if accepted doing a save provide it to the spectator and continue from there automati

[2021-06-07 09:21] Noordfrees commented on #4924
I tried connecting to a host using add-ons from a client with no add-ons installed several times. In all cases the expected bounce-back worked smoothly for the host and all clients. So if someone finds a reliable way to reproduce the bug I'll write an urgent fix; otherwise it's probably a once-a-year race condition near-impossible to investigate directly

[2021-06-07 09:23] hessenfarmer commented on #4925
+1 for showing the game is actually doing something (progress indicator or running circle or walking widelands carrier)
+1 as well for shortening the timeout.

[2021-06-07 09:25] Noordfrees commented on #4926
I rather doubt this will ever be possible. When reloading from a savegame, all map objects' unique serials change, which would mess up all subsequent playercommands and syncstreams. We *could* send the original map/save and have the host keep a history of all commands sent so the new spectator could fast-forward, but this would probably be host-hostile (😉) and depending on the client's machine it

[2021-06-07 09:29] Noordfrees commented on #4926
Actually I cannot even join an already started match in the lobby? All I see ATM is yet another zombie game (which is a metaserver issue @Notabilis), the started "test" game is not available at all:
![grafik](https://user-images.githubusercontent.com/48293446/120993027-74411e80-c783-11eb-8ebe-991d109b6f61.png)
The crash will be hard to debug since it has to coincide with this metaserver bug, so I'

[2021-06-07 16:31] MarkMcWire opened #4928 "Using multiple workers in one building with different working programs"
As I have already asked in the forum. I would like the possibility that a production building can contain several different workers who have different work programs.

For example, the combination of fisher and fish breeder, hunter and gamekeeper, forester and lumberjack.
Or "gamekeeper and forester", which would make sense.

The Europeans use a "clay pit" building in which both the "clay digger" a

[2021-06-07 16:37] MarkMcWire opened #4929 "Seafaring comes to a complete halt when a single port is destroyed."
As soon as a port is destroyed, all ships with the status "delivering wares" gather at the other ports and do not continue to work.
Wares contained in the ship are not unloaded.

Apparently there seems to be a problem with the determination of the destination of the flow of wares as soon as a port is deleted from the game.

Errors can be traced on every map with seafaring. It doesn't matter whethe

[2021-06-07 17:40] MarkMcWire opened #4930 "Closer distance between productionssites and warehouses (by AI)"
I noticed on large maps that the AI often placed production buildings far away in their territory, far away from warehouses. Mostly at the end of a dead end street. This leads to long transport routes and low productivity, which delays the game (with AI versus AI) enormously.

It would be nice if the AI management defined a maximum distance from a production building to the nearest warehouse or po

[2021-06-07 17:44] hessenfarmer commented on #4930
This is not a matter of performance drop, but a matter of having a good algorithm to determine this.  Maybe we can try to include some weight on the field that evaluate distance to warehouses. I can't promise anything.

[2021-06-07 17:54] MarkMcWire commented on #4930
You could do it differently. If a production building is below 25% productivity for a certain period of time, just tear it down. Then the AI has to build it again anyway. Then the buildings that are closer to the warehouse automatically have an advantage.

Exceptions should only be made for mines or when build materials are rare.

[2021-06-07 18:16] MarkMcWire opened #4931 "Lua command to upgrade buildings"
Request to extend the Lua command set to include a command to upgrade buildings.

[2021-06-07 19:18] hessenfarmer commented on #4930
That is already implemented to a certain amount. However we do not check every building every time due to performance reasons.
Difficulty in your suggestion is:
from distance to warehouise alone a productionsite doesn't drop below 25% if it can be supplied normally.
tearing down and rebuilding takes a lot of time and material.
exceptions that are valid for a majority of maps and tribes are hard to

[2021-06-07 19:32] MarkMcWire commented on #4930
Okay, then a quick check would be necessary when building a building. The code would have to iterate over all warehouses (including ports) and determine the distance. Then simply impose penalty points for the construction site based on this distance.

Abort the construction from a certain value and search again.

[2021-06-07 19:42] hessenfarmer commented on #4930
that is not how our AI works. we first iterate over all possible buildable buildings and determine their necessity.   Then we select an amount of fields to check dependent on gametime and size of the economy. for this fields we iterate over all needed (or forced or allowed) buildings and determine the score of each of these buildings on each of these fields. in the end the highest score of a build

[2021-06-07 19:47] MarkMcWire commented on #4930
Then it would be possible to limit the number of fields available. Simply remove the fields whose coordinates are furthest away from a warehouse before the other check. In this way, unfavorable fields do not even appear in the list of buildable fields.

You can always take out the for instance 20% of the most distant fields. So if 200 fields are checked, the 40 furthest away are removed, the other

[2021-06-07 20:12] MarkMcWire opened #4932 "No upgrade of trainingssites, if there are only 3 or lower count of mines. (AI)"
I don't know if this is a bug or not. The AI only upgrades trainingsites if there are more than 3 mines. Since the Europeans never build more than 3 mines* (1 coal, 1 iron, 1 gold), since there is no granite mine, the trainingssites are never upgraded.
I have to force the construction of a fourth mine using a Lua script for the expansion to take place. Can also be easily reproduced.

(* btw: Thats

[2021-06-07 20:15] Noordfrees commented on #4932
What's the difference to #4669?

[2021-06-07 20:16] MarkMcWire commented on #4932
I totally forgot that I mentioned that on, sorry.

[2021-06-07 20:16] #4932 closed, assigned to nobody

[2021-06-07 20:17] MarkMcWire commented on #4669
In the case of the official tribes, this behavior only affects the empire. Only the Arena can be expanded into the Colosseum, there are no other upgradable trainingssites. Neither the Arena nor the Colosseum require weapons or armor from smithies, as both buildings only train "Evade". Seen in this way, it is unnecessary somewhere for the AI to check before the expansion whether 3 or more mines hav

[2021-06-07 20:51] hessenfarmer commented on #4930
the problem in excluding fields is exactly some productionsites with special needs. So exclusions are made carefully currently. AFAIK only fields near port spaces are excluded for some period if no port is built yet.
Futhermore distance of fields to warehouses is not calculated yet and might be very performance hungry due to distance is not the real measure but walkable distance is which needs som

[2021-06-07 21:10] MarkMcWire commented on #4930
I would just use "straight line" as the distance. So the x, y coordinates of the warehouse and the x, y coordinates of the fields. This can be calculated relatively quickly with Pythagoras. I also use this in my "connect road" routine.

[2021-06-07 21:17] Noordfrees commented on #4930
We already have a C++ function that does the hexagonal-grid maths more efficiently (and much more accurately) than Pythagoras. But to avoid any misunderstandings, before using words like "simply", "just", "quickly" in every post I can recommend [this read](https://www.theregister.com/2012/11/09/bofh_2012_episode_11/) to illustrate how they might (with a touch of programmers' humour) be interpreted

[2021-06-08 05:02] klaus-halfmann commented on #4929
Hello Markus, thanks for joining us here on GitHub,

I can confirm your findings, but it happend with some older version.
The Europe Map is a good candiate to run nto this Issue.
Can you support us with a savegame with perhaps 2 players where
you provoke this (rare) situation? Please save the game some time before
the port is destroyed, so the ShipEconomy can rebuild itself
to a status where the B

[2021-06-08 12:39] #4795 closed, assigned to nobody

[2021-06-08 12:40] #4317 closed, assigned to matthiakl

[2021-06-08 12:41] #4533 closed, assigned to nobody

[2021-06-08 12:41] #4645 closed, assigned to nobody

[2021-06-08 12:41] #4792 closed, assigned to nobody

[2021-06-08 12:41] #4857 closed, assigned to nobody

[2021-06-08 12:41] #4662 closed, assigned to nobody

[2021-06-08 12:42] #2120 closed, assigned to matthiakl

[2021-06-08 16:43] frankystone opened #4933 "Add a check for developers.json"
Every time a comma is missing, or a table entry ends with a comma, the website throws lots of server errors.

So a check for validity for this file would be fine.

The website code fails e.g. here https://github.com/widelands/widelands-website/blob/master/mainpage/views.py#L104

[2021-06-08 16:46] Noordfrees commented on #4933
Is there a commandline utility or script that does these checks? If yes adding it to the build suite should be easy

[2021-06-08 16:59] frankystone commented on #4933
Something like this should work in python:

[code]

[2021-06-08 17:08] frankystone commented on #4933
Oh, and sorry for changing the file directly on master. But creating a pull request seemed a bit overkill to me.

[2021-06-08 17:21] Noordfrees commented on #4933
Doing such small fixes on master is fine :)

I added this to #4735, one catch-all PR for three pieces of actions magic

[2021-06-08 18:05] frankystone commented on #4933
Thanks :-)

[2021-06-09 08:03] gunchleoc commented on #4933
Drive-by comment:

Run `python3 utils/update_authors.py`. This will not only create the Lua file for Widelands, but also valiate the JSON.

This script is also triggered by `utils/merge_and_push_translations.sh`.

There is also a `utils/validate_json.py' script

[2021-06-09 10:59] #4906 closed, assigned to nobody

[2021-06-09 11:00] #619 closed, assigned to matthiakl

[2021-06-09 11:00] #1012 closed, assigned to matthiakl

[2021-06-09 11:00] #4783 closed, assigned to matthiakl

[2021-06-09 11:00] #4790 closed, assigned to matthiakl

[2021-06-09 11:00] #4791 closed, assigned to matthiakl

[2021-06-09 14:32] matthiakl commented on #1738
Fixed in #4806

[2021-06-09 14:32] #1738 closed, assigned to matthiakl

[2021-06-10 07:55] #4922 closed, assigned to nobody

[2021-06-10 17:12] matthiakl opened #4937 "Resolution change in save window confuses layout"
**Describe the bug**
When maximizing and resizing the window during ingame save or load (editor or #4843) the buttons disappear through the bottom. Also the close button does not move to the corner, but stays at the previous x position

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game in 800x600 resolution
2. Click on save game
3. Maximize the window -> Close button at wrong posit

[2021-06-11 11:42] Noordfrees opened #4939 "Sound settings reset to defaults after crash"
This has regressed again in current master (03d27be), probably since #4806. Does not happen in 1.0~rc1.
1. Open Widelands and change the sound settings in the options menu.
2. Close and reopen Widelands.
3. Open the options menu and check that the sound settings still are what you just changed them to.
4. Force-close Widelands.
5. Reopen Widelands. The sound settings are now back to the presets.

[2021-06-11 20:30] #4939 closed, assigned to matthiakl

[2021-06-11 21:57] matthiakl opened #4941 "Some tooltips are too sticky"
While building a road, the road length tooltip is visible. However, it is not replaced if another tooltip is shown, resulting in something like this:
![Bildschirmfoto vom 2021-05-25 19-17-42](https://user-images.githubusercontent.com/23122583/121752302-25dba900-cb10-11eb-9e49-a9e9f8a63759.png)

A tooltip also stays active, when a message box opens, no matter where the mouse is moved:
![Bildschirmf

[2021-06-12 09:41] klaus-halfmann opened #4942 "Widelands hangs when trying to save Tournament based Network-Game"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

To get dome mor training I played on master along the current Tournament Rules.
Afte an hour I tried to save but wideland just hangs. SOund like the game ist still
ongoing in th background

**To Reproduce**
Steps to reproduce the behavior:
1. Load [wl_autosave_nethost_00.wgf.zip](https://github.com/widelands/wi

[2021-06-12 12:44] matthiakl opened #4944 "Assert is_initializer_thread() fails"
**Describe the bug**
Another multithreading related issue (maybe a new label `threading` could be introduced?):
I played bar02 in debug mode and got an assertion failure:

[code]
<details>
<summary>Backtrace</summary>
The causing thread
<pre><codeblock>
1  raise                                                        0x7ffff4e88ef5
2  abort                                                        0x7

[2021-06-12 13:31] #2015 closed, assigned to Noordfrees

[2021-06-12 17:13] MarkMcWire opened #4946 "Add "all" option to player:get_buildings"
I need for a script the possibility to iterate over all buildings the player has.

In the current version you have to add the name of one or more buildings to "get_buildings". When I use player.tribes.buildings for this handover, captured military buildings are not displayed. So I cannot generate a list of occupied buildings from other tribes.  Or I have to iterate over all the tribes available in

[2021-06-12 17:25] Noordfrees commented on #4946
`do_get_buildings` internally uses `parse_building_list` which already supports the `"all"` argument. `do_get_buildings` has code that disables this though:
https://github.com/widelands/widelands/blob/2bc7c3b986b289c35e677bb4c72d4f3170d25852/src/scripting/lua_game.cc#L1166-L1177
So extending this should not be too hard. (*extending*, not *replacing*, for backwards compatibility.)

Additionally a `

[2021-06-13 00:34] bkil commented on #1079
Let me share another data point on a multi-monitor setup. If you have one screen with a smaller resolution and another one with a bigger resolution, I can only select a resolution up to what the smaller (primary one) supports, while I would expect to be able to choose a higher resolution (or just type it in myself).

I prefer to play on the larger screen, while running the terminal, manual, chat,

[2021-06-13 08:25] frankystone commented on #1079
@bkil : I do have also the same setup two screens with different resolutions. Handling of the window is much improved in version 1.0. Now i can start widelands in window mode, if on wrong screen move it to the correct screen, and hit Strg-f ( or hit the "Maximize"-button) to switch to full screen.
In window mode it is also possible to stretch the window over both screens.

[2021-06-13 09:58] matthiakl opened #4947 "Client in local multiplayer games has black screen"
**Describe the bug**
Client in local multiplayer games only has a black screen.
Also reproduced with #4943

**To Reproduce**
1. Set up a local 2 player multiplayer game
2. Connect with another Widelands instance
3. Start the game
4. The client only has a black screen
5. Quit the game on the host
6. Try to quit the game on the client -> Game freezes in "Game ending" screen

[code]

**Version:**
 -

[2021-06-13 11:55] #4942 closed, assigned to Noordfrees

[2021-06-13 11:55] #4944 closed, assigned to Noordfrees

[2021-06-14 07:56] #4090 closed, assigned to matthiakl

[2021-06-14 10:30] Noordfrees opened #4950 "Add heights to map previews"
The preview image of a map currently does not show the terrain height. It used to do this in the past. Compare for example:
![](https://www.widelands.org/wlmedia/wlmaps/minimaps/Europa.wmf.png)
https://www.widelands.org/maps/europa/
![](https://www.widelands.org/wlmedia/wlmaps/minimaps/Europa_1.2a.wmf.png)
https://www.widelands.org/maps/europa-12/

The upper one (quite old) gives a clear idea what

[2021-06-15 07:59] #4947 closed, assigned to Noordfrees

[2021-06-15 15:24] ChemBro opened #4952 "Compiled Widelands on Arch Linux does not start, Lua exception"
I'm on Arch Linux and compiled from widelands-1.0.tar.gz linked in the version 1.0 announcement. The compilation was successful according to the terminal output (release version).

Though starting the game does not work. Output:

`$ ./widelands
This is Widelands Version 1.0 (Release)
[00:00:00.000 real] INFO: Set home directory: /home/<something>/.widelands
[00:00:00.000 real] INFO: Set configurat

[2021-06-15 15:36] Noordfrees commented on #4952
This bug happens because you have a system-wide installation of another, older Widelands version as well (in `/usr/share/widelands`). This is the same problem as #4194 and will be fixed in v1.1 by #4853.
The solution is to either uninstall the older version, or start Widelands with the commandline switch `--datadir=./data`

[2021-06-15 17:00] svenstaro commented on #4952
I just put widelands 1.0 in official repos and that works just fine so give it another go.

[2021-06-15 18:46] frankystone commented on #4952
Many thanks for the fix update of the package :+1:

[2021-06-16 09:07] Noordfrees commented on #3162
Compacted spritesheets will probably become a must-have for 1.1 as the data directory is very large already and will surely become even larger over time

[2021-06-16 18:52] johann1764 opened #4953 "Crash when loading savegame"
**description**
Crash when loading *any* savegame of campaign scenario "Neptune's vengeance".

**output**
terminate called after throwing an instance of 'Widelands::GameDataError'
  what():  Unknown building ''
terminate called recursively [repeated 5978 times]
segmentation fault

**version**
 - OS: raspberry pi os (debian buster, kernel 5.10)
 - This is Widelands Version 1.1~git25360[f59d3ad@mast

[2021-06-16 18:57] Noordfrees commented on #4953
I cannot reproduce the problem. Can you attach a savegame please?

[2021-06-16 20:47] johann1764 commented on #4953
[La Vengeance de Neptune (debut).wgf.gz](https://github.com/widelands/widelands/files/6665775/La.Vengeance.de.Neptune.debut.wgf.gz)

[2021-06-16 21:39] Noordfrees commented on #4953
I can reproduce with this save.
Interestingly the problem seems to come from Lua persistence:
[code]
I don't get a segfault or uncaught exception though, the error is caught safely with a message box (both Debug and Release). But the Scripting packet has special SIGABRT handling to catch segfaults and Lua Panics safely; this aspect might be platform- or compiler-specific – not something that can b

[2021-06-16 23:09] johann1764 commented on #4953
It may be possible that there are two bugs:
 1 producing a corrupt savefile, that is done on my machine and might be architecture-dependant  (armhf)
 2 crashing when trying to load such a corrupt savefile (not architecture-dependant)

I suggest the following experiment:
(1) make a save in emp03 scenario on a "regular" computer (amd64)
(2) try to reload it on the amd64 machine
(3) try to reload it

[2021-06-17 05:19] klaus-halfmann commented on #4953
Hello @johann1764 Thanks for compiling widelands on a raspberry!
I tried this some years ago befor the Raspi4 apperad and failed, but as it runs it is basically possible now!
(I currently have no time or resources to set this up again).

So we should try to get wiedlands (back) into the offical raspberry repos.

This bug this could be a (rare) big/litte endian issues.

Does this happen on just thi

[2021-06-17 07:49] Noordfrees commented on #4953
I can reproduce that the bug happens by loading the end-of-emp02 game, directly starting the next scenario, and then save-reloading. So it seems that the Lua interface is not reset correctly when starting/loading a scenario from inside the game. This is a very new feature, will investigate

[2021-06-17 09:29] Noordfrees commented on #4953
Fix is up: #4954
This was a quite simple oversight in the start-of-new-game cleanup

[2021-06-17 13:31] johann1764 commented on #4953
As expected, the fix also works on my machine:
I can save in emp03, the resulting savegame is loadable both when playing and at game start.

@Noordfrees: I don't know if having widelands state that a savegame is corrupted instead of crashing is possible and worth the effort.
If so, I let you open a new issue and attach the corrupted savegame file above.

@klaus-halfmann: getting widelands 1.0 into

[2021-06-17 14:03] klaus-halfmann commented on #4953
Looks like I have nothing more to do here :-)

Yes had the same Issue

`./compile.sh -j 1 ` should limit the threads ton one. You could use more threads for the .cc -> .o
compiation, but the linking will consume the most memory in the end.

you might use -t ore -w to omit some steps (well I assume you translate french, so -t would not
be the switch for you :-)

We actually should have a debian pac

[2021-06-18 22:09] simply-peachy opened #4957 "Delete Inbox message when the site is muted"
When a site creates an Inbox message, that message is automatically removed when the building is dismantled/upgraded. This is a great help to reducing the manual steps needed to keep the Inbox tidy. If a site generates an out of resources message, and is then muted, it would be helpful if the Inbox message is removed in the same manner.

[2021-06-19 07:55] physkets opened #4958 "Crash when using SDL's Wayland backend"
**Describe the bug**
The game refuses to start when using the Wayland backend of SDL.

**To Reproduce**
[code]

**Version:**
 - OS: Archlinux
 - Widelands Version: 1.0 (Release)

**Additional context**
I'm on a Wayland session of KDE's Plasma desktop.

[2021-06-19 09:48] klaus-halfmann commented on #4958
Thnanks for you bugreport,

I dont know if we have a Devloper using Wayland, yet.

Are you able to clone https://github.com/widelands/widelands/tree/release-1.0 and compile it yourself?

Is this a "packed" version of widelands or does it use the libraries provided by Archlinux?
e,g. from here https://aur.archlinux.org/packages/widelands-git ?

I am normally on macOS only, not sure If I can spare t

[2021-06-19 12:34] SirVer opened #4959 "Problems with Korean Translations"
A Korean Translator of Widelands has contacted me on my email:

I've been in touch with you before.
I am a translator at Transifex.
I still can't play the game.
I think there must be a problem with the game.
I can't figure out what the problem is even if I check the LOG file.
However, I found that the problem only occurred when I changed to Korean.
If I can know which string in which file is the p

[2021-06-19 12:34] SirVer commented on #4959
I am reporting here, since I will not be able to look into this myself.

[2021-06-19 12:52] Noordfrees commented on #4959
There's a known printf placeholder mismatch in a korean main menu string which I guess is responsible. I wrote a comment to the translator on Transifex which got no reply. In v1.0 I had removed the faulty translation. I'll delete the translation on Transifex now.
Edit: Done. String is Widelands Main 864

[2021-06-19 16:51] SirVer commented on #4959
Do you mind pasting your comment here. I can relay to the translator

[2021-06-19 17:05] Noordfrees commented on #4959
---

Edit: I deleted the translation now
---

The string in question is
[code]

[2021-06-20 15:03] frankystone commented on #4941
Really annoying.

The mouse reacts very slow during loading a game anyway and the tooltip (from Continue) is wandering along the stuttering mouse moves.

[2021-06-20 15:21] Noordfrees commented on #4941
I can look into at as soon as some of my 18 open PRs have been reviewed :wink:

[2021-06-20 16:11] klaus-halfmann opened #4962 "Personal Meeting of Developers"
This is a specal kind of Request.

I would like to invite / organise all developers for a personal
meeting / Workshop / Get Together. I would organize some
rooms in a youth hostel and reserve some accomodation
for a weekend. This would be in Germany, near frankfurt.

This should be an informal  meeting - for now - so we get
to know each other, have some fun _and_ discuss the
widelands future. But

[2021-06-20 16:13] frankystone opened #4963 "Game is stuttering"
After long time not playing i started a new game today. But i am a bit disappointed about the speed... The game noticeable stutters some time. Animals and carriers are walking not with the same speed during a single walk. Placing a building can last a while (click a building to place, but after some noticeable milliseconds the construction appears on the map) and it seems to me that even the mouse

[2021-06-20 16:37] Noordfrees commented on #4963
The speed is the same as it used to be (debug builds on large maps tend to be very slow), but it is more noticeable now than before due to multithreading. In 1.0, Widelands simply hangs for a brief (more or less) interval every time the game state is progressing by a certain number of milliseconds; whereas now the game is redrawn all the time, which has the side-effect that the continuous alterati

[2021-06-20 18:29] #4953 closed, assigned to Noordfrees

[2021-06-20 19:52] markusu49 opened #4964 "crash"
[code]

**To Reproduce**
1. load attached savegame
2. build Helmschmiede and Waffenschmiede (see attached screencast)

**Version:**
 - OS: manjaro
 - Widelands Version: `d94928c006547c2fca37a3e97513a0f0eb905a49`

**Attachments**
https://www.dropbox.com/sh/a2kav23nse1z10u/AABR_6vn34JSmHTCIgsXAx44a?dl=0

[2021-06-20 20:32] frankystone opened #4965 "compile.sh should show help when using wrong options"
`compile.sh` triggers build on invalid options.

**To Reproduce**
1. Run `./compile.sh -help` or some other unknown option like `-f`
2. The compilation process get triggered immediately

Say one wants to compile a release build and for the option he hits the key 'f' instead of 'r' (on german keybord layout close together). The compilation is triggered but in the end he has a debug build with ASAN.

[2021-06-21 09:18] Noordfrees commented on #4911
Don't know which of the several AI issues this best fits into or if I should open a new one…
I'm currently playing a game on Big Eden (which should be quite AI-friendly) and noticed that 5 of the 7 AIs are unable to develop a wood economy and run into a permanent no-logs-deadlock quickly.
[Replay for the first 5 hours](https://github.com/widelands/widelands/files/6685437/replays.zip)
[Savegame aft

[2021-06-21 10:42] MarkMcWire opened #4967 "AI player builts shipyard on wrong places"
If there is a small lake or pond near the starting position, the AI player will often build the shipyard there and not by the sea.
It is particularly noticeable on the map of Europe at starting positions 4 (Turkey), 5 (Russia) and 7(French).
![Bildschirmfoto vom 2021-06-21 12-34-42](https://user-images.githubusercontent.com/37956046/122748977-146f6b00-d28d-11eb-9a42-9fb6e0422a74.png)
![Bildschirmf

[2021-06-21 11:39] Noordfrees commented on #4967
Duplicate of #1006

[2021-06-21 11:39] #4967 closed, assigned to nobody

[2021-06-21 15:05] MarkMcWire commented on #1006
My proposed solution would be for the AI to wait until a port has been built while building the shipyard and then place the shipyard right next to it. This has the additional advantage that the transport of wares to the shipyard is optimized, since the port is also a warehouse at the same time. Because shipbuilding requires a continuous flow of building materials. If a single waretype is missing,

[2021-06-21 22:02] hessenfarmer opened #4969 "Website Encyclopedia misses upgrade building costs"
In the Website encyclopedia the buildcost for upgraded Buildings are not shown anymore.
need to check the in game version.
the culprit is most probably the shift of the Build costs to the enhanced building.

[2021-06-22 21:29] hessenfarmer commented on #4962
May I request to choose the location keeping in mind a good network connection and booking a meeting room.

[2021-06-23 05:46] klaus-halfmann commented on #4962
Sure! Since I got 2 replies I will go ahead an book a room for >= 5 Persons an reserve 4 rooms.
This should bee a weekend starting late Friday and a complete Saturday.
@Noordfrees I think we will need you as a core developer, too.

AFAIK this can happen even this year. Bigger events will need a reservation a year ahead.

[2021-06-23 06:00] klaus-halfmann commented on #4962
@matthiakl would you be able to attend such an Event in Germany? (I thik we will have some video tool anyway)

[2021-06-23 07:42] #4941 closed, assigned to Noordfrees

[2021-06-23 07:42] #4964 closed, assigned to Noordfrees

[2021-06-23 07:43] #3739 closed, assigned to matthiakl

[2021-06-23 07:43] #4629 closed, assigned to matthiakl

[2021-06-23 07:52] Noordfrees commented on #4962
I won't be able to participate unfortunately as I'm usually too busy on weekends. Perhaps I could look in via video call or such but I'd probably only know whether even this would be possible for me very shortly beforehand.

Edit: But I can already say with 99% certainty that I will have no time at all on the 11.09. :(

[2021-06-23 08:27] klaus-halfmann commented on #4962
I got a reservation for Fr. 10.09 till Su. 12.09..2021 will do some personal checks, next.
OK we have to fix this till 07.07.21. I would not invite "Gamers" only but perhaps
someone for the translators.I would really like if  @gunchleoc or @SirVer could attend
as ouf "Founding Parents".

We will have a room for >=5 Persons with a fixed line Internet access.

Address is:

Jugendherberge Bad Homburg

[2021-06-23 09:40] matthiakl commented on #4962
I will be able to attend personally

[2021-06-23 10:23] #4919 closed, assigned to nobody

[2021-06-24 17:41] #4598 closed, assigned to Noordfrees

[2021-06-24 17:41] #4933 closed, assigned to Noordfrees

[2021-06-25 15:37] #4194 closed, assigned to Noordfrees

[2021-06-25 15:37] #4952 closed, assigned to nobody

[2021-06-26 06:53] klaus-halfmann commented on #4962
@hessenfarmer can you cofirm this date?
I reserved 5 rooms so 3 additional people would  be OK.

[2021-06-26 07:47] klaus-halfmann commented on #4962
@frankystone what about you?

Which additonal Developers / Translators could be interested?

[2021-06-26 10:19] frankystone commented on #4962
I think about participation, but need some time. Is there a deadline for commitment?

[2021-06-26 10:49] klaus-halfmann commented on #4962
I must confirm this latest 7.7.2021. So it wold it woud be fine fi you could decide till then

[2021-06-26 14:36] hessenfarmer commented on #4962
Unfortunately I can't confirm this date until the the 7th of july.
Maybe we should first get all developers / translators intrested in such a meeting. then try to fix a date (using some sort of a poll and then find a location. Cause there  might be more locations then suitable dates from my experience.

[2021-06-26 14:37] hessenfarmer commented on #4962
Perhaps this should be moved from the issues to discussions as well
Anyhow a big thank you to Klaus for the idea and the organisation and I feel a bit guilty of not beeing able to confirm the date.

[2021-06-26 15:23] SirVer commented on #4962
Great idea! Reminds me of the wihacks we used to have back in the 2010s. I will unfortunately not be able to join in easily at this time in my life :(

[2021-06-26 17:54] frankystone commented on #4962
:+1:

For finding dates one can use [doodle](https://doodle.com/)

[2021-06-27 09:28] #4732 closed, assigned to Noordfrees

[2021-06-27 12:53] klaus-halfmann commented on #4962
My idea was to have this as a kind of "pre"-meeting, to get to know each other.
A Big-Meeting woud then be planned (with Doodle and everything) next year.
I think we must get bette organised, first.

[2021-06-27 14:57] frankystone opened #4978 "Set 'System Language' not applied immediately"
**To Reproduce**
1. Start widelands and set Language to 'English'
2. Exit widelands
3. Start widelands again and set Language to 'Try System Language'

Result: One has to restart widelands to get system language work (German in my case)

After the restart changing the language works as expected. So you can switch to 'English' and switch back to 'System language' and in both cases the change is app

[2021-06-27 17:06] #4965 closed, assigned to nobody

[2021-06-28 03:44] MXB2001 opened #4981 "Rare Tree Plantation help"
**Is your feature request related to a problem? Please describe.**
The problem is that the most efficient way to run a tree planter used to be to remove the road to his hut once he arrives. This screws up the rare tree planter though since he's not in the economy anymore and doesn't plant rare trees as needed.

**Describe the solution you'd like**
A BIG NOTICE in the help for this building to tell

[2021-06-28 06:03] frankystone commented on #4962
Klaus, can you please close this issue and start a [Discussion](https://github.com/widelands/widelands/discussions) with this topic?

I think the idea is very good, but it is not an issue :-)

[2021-06-28 06:58] #4962 closed, assigned to klaus-halfmann

[2021-06-30 10:52] hessenfarmer opened #4985 "#4935 broke savegame compatibility for sceanrios using scenario specific buildings"
As the Lua files in the savegame are still refering to animations that aren't there anymore (they used the animation files of the normal buildings) of the   savegame compatibility is broken for Empire 4, Frisians 2 and 3

[2021-06-30 14:08] Noordfrees commented on #4985
To prevent this in the future it would probably be best to copy the PNGs to each scenario map that uses them. Keeping them in separate directories like now is fragile.
To reinstate backwards compatibility we could re-add the old image files for the affected units and keep them around until 1.1.

[2021-06-30 14:34] hessenfarmer commented on #4985
Will try this and test how it works

[2021-06-30 15:22] MarkMcWire opened #4986 "Debug build broken, datadir"
This is Widelands Version 1.1~git25387[8abcfd8@master] (Debug)
[00:00:00.000 real] INFO: Set home directory: /home/solus/.widelands
[00:00:00.000 real] INFO: Set configuration file: /home/solus/.widelands/config
[00:00:00.001 real] INFO: Widelands executable directory: /home/solus/Git/widelands/
[00:00:00.001 real] ERROR: Unable to detect the datadir. Please specify a datadir explicitly
[00:00:00.

[2021-06-30 15:27] Noordfrees commented on #4986
Did you recompile after the last pull? If not please do that; if it's still a problem then please upload the file `/home/solus/Git/widelands/data/datadirversion`

[2021-06-30 16:13] MarkMcWire commented on #4986
Yes, several times. Release build work.

[2021-06-30 17:33] Noordfrees commented on #4986
Cannot reproduce, please upload or paste the said file…

[2021-06-30 18:08] MarkMcWire commented on #4986
Deleting the build folder and complete new compile solved the problem.

[2021-06-30 18:08] #4986 closed, assigned to nobody

[2021-07-04 11:12] klaus-halfmann opened #4988 "NullPointer in Carrier::transport_update(Widelands::Game&, Widelands::Bob::State&) carrier.cc:171"
**Describe the bug**

Played a nice network game against some player called "No" on "The Thaw".
after about 2:30 of Gametime the was a nasty congestion around
36,85 - 33,87 - 31,87 (Flag, Woodcutter, Fisher)
I noticed this at around 3:20 and tried to optimze the local Road-Network.

**To Reproduce**
1. Open Attached Replay [Crash2021-07-03.zip](https://github.com/widelands/widelands/files/6759790/

[2021-07-07 10:20] MarkMcWire commented on #662
I think warehouse should be conquerable und the attacker should get the wares. This prevents stalemates on maps with little ressources and accelerate the gameplay on big maps.

As a compromise we can limit the warecount of each ware to a maximum transfercount, which is transfered to the other player.
Maybe default_quantity or a multiple of it.

At least the option should available for addons, if n

[2021-07-07 18:29] MarkMcWire commented on #4931
[code]

[2021-07-07 18:54] MarkMcWire commented on #4931
[code]

[2021-07-07 19:08] MarkMcWire commented on #4931
[code]

[2021-07-07 19:50] MarkMcWire commented on #4931
https://github.com/widelands/widelands/pull/4989/commits/1512f92b74879016ef629dbcfd5b75f12c53f988

[2021-07-07 19:54] frankystone commented on #4931
The issue will be closed if the #4989 got merged ;)

[2021-07-11 08:08] #4931 closed, assigned to nobody

[2021-07-11 13:49] #4880 closed, assigned to nobody

[2021-07-12 04:47] klaus-halfmann commented on #4988
Created a branch https://github.com/widelands/widelands/tree/npe4988 based on relase-1.0 to hunt this down, not sure how sucessfull I will be

[2021-07-12 09:03] klaus-halfmann commented on #4988
Changed the code starting at carrier.cc:171  as follows
[code]
Indeed the location is null as locaton.m.serial is null.

I will now just return; here. Assuming the carrier is kind of invalid

[2021-07-12 09:46] klaus-halfmann commented on #4988
Now I get this in the logs:
[00:32:21.892 real] WARNING: Economy still has flags left on destruction
[00:32:21.892 real] WARNING: Economy still has flags left on destruction
[00:32:21.894 real] WARNING: ObjectManager: ouch! remaining objects

And some Exception like "Failed to act" but this is only in a dialog box and does not make it into a logmessage?

[2021-07-12 12:47] klaus-halfmann commented on #4988
And now: do I have to merge something from master, first?
Run failed: Formatting your code - npe4988

[2021-07-13 19:10] hessenfarmer commented on #4988
hi Klaus,
unfortunately I have no understanding of this parts of the code

[2021-07-13 20:59] matthiakl commented on #4988
Run failed: Formatting your code - npe4988

You can continue without merging master for now. The run failure is just that the code would be formatted, which might result from a version mismatch of clang-format (master uses 12, v1.0 uses 10).

From the action log:

[2021-07-14 07:31] #4557 closed, assigned to nobody

[2021-07-14 12:15] pabordel opened #4994 "Amazon graphics size is to big"
Since the creation of the amazon tribe the size of wideland has grown up  by a half.
the explanation is the size of amazons graphics files :
for example with workers :
9,6M atlanteans
12M	empire
37M	barbarians
62M	frisians
174M amazons

please considers enabling better compression for those files.

Thanks for that  great game !

[2021-07-14 18:26] Noordfrees commented on #4994
Related: #3162

[2021-07-15 09:01] hessenfarmer commented on #4994
I think one of the reasons is that especially atlanteans and empire lack a lot of animations and they are lacking zoomable graphics, whilst amzons having them so I would believe it to be better to have more animationfiles for them resulting in even bigger graphicssize, to support 4k and to have more animated screens

[2021-07-15 20:05] hessenfarmer commented on #4963
I simply do not understand enough to know what has to be done to make the Ai thread safe.  Discussing such things would be one big benefit of the proposal of @klaus-halfmann to have a devcon. So if somebody could teach me some principles I might help with my understanding of the AI code

[2021-07-16 07:00] Noordfrees commented on #4963
The AI could be run pretty much independent from everything else already except for one thing: The state of the game might change while the AI is analysing it. For example look at any piece of AI code:
https://github.com/widelands/widelands/blob/f3056433a8d72d891a221f840f7db211c79ed93c/src/ai/defaultai.cc#L4038-L4062
With the current implementation, the game logic freezes while the AI's code is ru

[2021-07-16 09:10] hessenfarmer commented on #4963
I would appreciate If you could create such a branch for me. Although I don't know how far I will get with it. At least I might learn something. Furthermore I wanted to try to restructure the AI code anyway to make it more readable as it is currently to unstructured imho.

[2021-07-16 12:02] sammalkanto opened #4996 "Main menu background picture with black borders."
**Describe the bug**
Menu background picture doesn’t scale well in higher resolutions.

**To Reproduce**
1: Start the game.
2: Go to options.
3: Change the resolution to 2560x1440
4: Go back to the main menu.

**Expected behavior**
Background picture which fills the whole screen.

**Achieved behavior**
Background picture with large black borders.

**Screenshots**
https://i.imgur.com/J8eyB6a.jpg

*

[2021-07-16 13:59] Noordfrees commented on #4963
Branch is up: https://github.com/widelands/widelands/tree/multithread-ai
And the first crash a few seconds after start in an AI-only LAN game is:
[code]

Edit: The AI also uses some local variables declared `static` for performance. All those will have to have the `static` keyword removed of course.

[2021-07-17 14:12] spth opened #4997 "Multiplayer crash on building mines"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
In the savegame at http://colecovision.eu/stuff/widelands-multiplayer-mine-crash/, with red player hosting the game, and yellow player on LAN, I see a crash (segfault) if the red player builds a few mines, doesn't matter what yellow does. The bug does not happen, if the yellow player is replaced by an AI player,

[2021-07-17 14:37] Noordfrees commented on #4997
I cannot reproduce with 1.1~git25401[f305643@master] (Release). Perhaps a race condition? A backtrace would be helpful…

[2021-07-17 18:41] spth commented on #4997
I usually reproduce the issue by building more iron ore mines near the existing ones. Both computers are running Debian GNU/Linux testing and the same recent version of widelands (build 1.1~git25401[f305643@master]). One is a Ryzen 4800H (host), the other a Ryzen 3200G, connected via Gigabit Ethernet.

[code]

[2021-07-17 19:25] hessenfarmer commented on #4963
ok thanks I will have a look.
What is promising is that a singleplayer game with only one AI runs without a crash for quite a while

[2021-07-17 20:17] SirVer commented on #4959
@Noordfrees I think the main ask here is that if a gettext problem happens, it is more clearly tracable for the translators, so they can fix it themselves, i.e. a crash should print the problematic string (or the english original) onto the commandline.

[2021-07-18 02:18] brad0 opened #4998 "Does not build with Boost 1.77"
Build testing the OpenBSD ports tree with Boost 1.77 beta1. widelands 1.0 does not build with Boost 1.77 beta1 like so..

[code]

[2021-07-18 06:54] matthiakl commented on #4998
Is there a reason, that you think boost is the problem here? The log looks more like a STL import issue, but shows nothing about boost.
Try adding `#include <map>` to the top of `src/network/bufferedconnection.h` and see whether the error changes.

[2021-07-18 07:09] brad0 commented on #4998
It builds fine with Boost 1.76. It does not with 1.77. Something has changed upstream in the Boost headers.

[2021-07-18 08:58] matthiakl commented on #4998
Then please wait until Boost 1.77 is officially released. Build failures against a development version of a dependency are not necessarily bugs in our code.

[2021-07-19 17:42] Noordfrees commented on #4996
We'd need people with a large monitor to provide sufficiently large screenshots. Everyone is very welcome to upload some @keek200 @widelands/developers , just make sure they're no larger than the gameloading photos (**2592×1944**) and cropped to exclude the toolbar, mouse pointer, and other UI stuff.

[2021-07-25 09:54] jmoerschbach opened #5001 "Cannot assign shortcut for "Toggle Fullscreen" to any other function"
Trying to assign Ctrl+F (toggle fullscreen default shortcut) to any other shortcut action available toggles fullscreen instead of showing the dialog which informs about conflicting shortcuts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Options
2. Click on Edit keyboard shortcuts
3. Click on Take screenshot (F11)
4. Assign Ctrl+F
5. Fullscreen is toggled

**Expected behavior**
Infobo

[2021-07-25 13:07] spth commented on #4997
I also was able to reproduce the issue using today's git version and a debug build:

[code]

[2021-07-25 13:14] #4876 closed, assigned to Noordfrees

[2021-07-25 13:17] Noordfrees commented on #4997
Looks like a multithreaded race condition. This backtrace should allow me to provide a fix :)

[2021-07-25 15:36] klaus-halfmann commented on #4997
As of Fix by Noordfrees this happens when one Thread copies the seetings from the old constructionsite (mine) to the new one. At the same time some other thread tries to operate on the (now invalid, deleted, old) settings.

I was unbable to reproduce that bug on macOS. This is quite OK for such kinds of Bugs, maybe thereading works a litte different for me.  spth / Philipp Klaus Krause  can you tr

[2021-07-28 11:43] hessenfarmer commented on #4963
Ok I am in Progress in understanding the concept.
In a first run I will clear of the static variables then as the above crash seems to be exactly an issue from this problem.
I still have difficulties to determine which type of Mutex to use when I need one. (i.e. what is the definition of each enum entry in the mutex Id enum?)
I don't know what a OPtr is and what the difference to a normal pointer

[2021-07-28 18:10] Noordfrees commented on #4963
The only mutex you *should* need for the AI is the `kObjects` mutex. The other ones are all used by various parts of the back-end, but the AI code uses front-end functions which already ought to take care of thread safety. E.g. the `kCommands` mutex guards against concurrent sending and processing of player commands, and the AI sends its commands via the `send_...` functions which use this mutex i

[2021-07-28 18:39] hessenfarmer commented on #4963
thanks for the explanation.
short update is that with the static definitions of inline variable gone 2 AI run pretty well until they get in contact.
Now I need to find out how to use gdb properly on Windows Msys to debug the crashes.  But I am making progress

[2021-07-29 13:27] spirillen opened #5004 "DejaVuSans-Bold build-20(Release)"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
Unable to load the game at all

**To Reproduce**
Steps to reproduce the behavior:
1. Install from PPA daily
2. Try to launch game
3. See error

**Expected behavior**
Play a game

**Screenshots**
Not needed

**Version:**
 - OS: Ubuntu 20.04
 - Widelands Version: "Build 20", "`?`"]

**Additional context**
<details

[2021-07-29 13:53] Noordfrees commented on #5004
That cannot be correct, because the daily PPA never contained the (ancient, outdated) version build-20. It should give you version `1.1~bzr9968-202107250301~ubuntu20.04.1`. Perhaps there are multiple Widelands versions installed; current daily builds will select the correct data directory but older versions tend to be confused by it.

Which Widelands PPA(s) are added on your system? What is the ou

[2021-07-29 20:46] spirillen commented on #5004
A first reply as I'm currently on a different PC, I did uninstall (purge) the stable PPA version, then installed the daily PPA, only the stable can be executed successfully.

About the info about the $data-dir I will take a look at that when I come to the other machine :)

[2021-07-30 08:41] spth commented on #4997
After fighting with git branches a bit (I'm more used to svn), I finally did a test of the branch today. I loaded the game, built plenty of mines, but did not encounter the crash again.

[2021-07-30 09:19] klaus-halfmann commented on #4997
Thanks for testing! I approved the PullRequest. Will get this into master, soon.

[2021-07-30 09:28] michaelbaeuerle opened #5005 "Too many open files in link step of build"
Link step of build fails because the OS limit for open files is too low.

Example how the error messages look like:
[code]

Versions:
 - OS: NetBSD 9
 - Widelands Version: 1.0

OS limits:
[code]
I have tested again with the hard limit (3404), but this is still too low.
Is there a possibility to reduce the required number of open files for the build process?

[2021-07-30 09:31] spth opened #5006 "Setting Atlantan tower to 0 soldiers"
I noticed that most of the time I can set the Atlantan tower (and its upgraded version) to 0 soldiers. I noticed this in a LAN multiplayer game, 2 players, widelands from git from a few days ago; didn't try in singleplayer yet.

If it build a tower (or upgrade it from the tower construction site), and I then quickly click the down buttons, I can set the number of soldiers all the way down to 0. I

[2021-07-30 09:40] klaus-halfmann commented on #5005
Hello michael. By default the compile script will use mutiple cores via the -j parameter.
So maybe try -j 1 and then slowly increase.

This is not per se a bug of widelands, but a problem of the buildenvironment.
Can you increas that file limit? (Like here: https://codingshell.com/linux-limit-number-of-open-files)

Which compiler (gcc / clang) and version did you use?

[2021-07-30 09:45] klaus-halfmann commented on #5006
I asssume this is related to multihreadig: The command to reduce the soldiers is on its way
in some other thread while the GUI still allows further clicks based on the actual value...

In a network game I now got
`Assertion failed: (ms->max_capacity >= capacity), function execute, file ../src/logic/playercommand.cc, line 1640.`
which would incifate more soldiers then expected ...

[2021-07-30 09:58] klaus-halfmann commented on #5006
Got it, already while building the tower (local network game, client) <img width="540" alt="Tower at 0" src="https://user-images.githubusercontent.com/16598373/127636588-101c4e31-4bae-4c9e-b9e9-389407dfdd79.png">

Once the tower is complete I get:
`Assertion failed: (ms->desired_capacity >= b.soldier_control()->min_soldier_capacity()), function cleanup, file ../src/logic/map_objects/tribes/constru

[2021-07-30 10:00] #4997 closed, assigned to Noordfrees

[2021-07-30 10:02] klaus-halfmann commented on #5006
@Noordfrees I dont think we need a savegame or such any longer?

[2021-07-30 10:03] Noordfrees commented on #5006
No need for a savegame here. I'm trying to reproduce now, should be an easy fix

[2021-07-30 10:13] michaelbaeuerle commented on #5005
A build without parallel jobs is currently running (at 10% now, I will report the outcome later).
But I don't think this will help, because the problem is the number of open files **per process**.

This works differently in NetBSD, but is possible via sysctl(8).
I have tested larger values and 4096 seems to be sufficient.

But increasing the kernel limit requires root permissions and our package b

[2021-07-30 11:45] michaelbaeuerle commented on #5005
The build without parallel jobs was successful.
Looks like my assumption was wrong and the per process limit was not the problem.

Thank you for the quick response. The program can now at least be started.
The splash screen pops up and the menu can be activated.
Later it fails with FATAL EXCEPTION, but this is a different problem. I think this issue can be closed.

[2021-07-30 12:12] michaelbaeuerle opened #5008 "FATAL EXCEPTION: Error while loading tribe ..."
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Select "Single player -> New game"
2. Select "Checkmate" and click on "OK"
3. Click on "Start game"
4. See error message above

**Versions**
 - OS: NetBSD 9
 - Widelands Version: 1.0
 - Boost Version: 1.76.0
 - Lua Version: 5.3.6

** Additional information**
The installation PREFIX was configured to "/usr/pkg".
CMake arguments used:
[cod

[2021-07-30 12:37] Noordfrees commented on #5008
Similar to #4959
Which language are you playing in? Does playing in a different language work?

[2021-07-30 13:55] michaelbaeuerle commented on #5008
First test was with my default locale setup:
[code]
Some of the error messages are displayed crippled. Example:
`ERROR:   It is often â though not always â possible to load it and continue playing.`

Looks like the ISO 8859-1 encoding is not supported.
Next test was with an english locale that use UTF-8 encoding:
[code]
Same FATAL EXCEPTION, but the error message above looks OK now:
`ERROR:   It i

[2021-07-30 17:04] klaus-halfmann commented on #5008
Uhh, I think Widelands dis on the extra econding parts of the locale,
en_US, de_DE etc. shoul be fine. But the extra encondig part may  result
in the observed erros as the .po files are alway encoded in UTF-8.

[2021-07-30 17:37] #5005 closed, assigned to nobody

[2021-07-30 17:55] klaus-halfmann commented on #4988
Sorry fogort the crash log
[Crash.txt](https://github.com/widelands/widelands/files/6909279/Crash.txt)

[2021-07-30 21:26] hessenfarmer commented on #4963
ok i found out how to use gdb and get the following crash although it should be safeguarded by a Mutex. I don't understand this
[code]

[2021-07-31 08:20] #4988 closed, assigned to nobody

[2021-07-31 08:30] Noordfrees commented on #4963
At a quick glance you seem to create the mutex lock after upcasting `base_immovable` to `Building`, but there is no lock that ensures that the `base_immovable` stays valid during the time from the creation of the pointer (in `map.find_immovables()`) until this cast. Does moving the lock up before line 1834 help?

[2021-07-31 11:50] hessenfarmer commented on #4963
Well Moving the mutex did work. I even realized this was more performant then having it further down. So sometimes a bigger focus of a mutex seems to be better.
Good news: I had an AI Battle on crater running for over 2 game hours without a crash. (needed to close it as both amazon AI were deadlocked.) So for the moment only the fields check seems to be not thread safe.
Bad news: creating this one

[2021-07-31 18:14] #5006 closed, assigned to Noordfrees

[2021-08-01 08:49] spirillen commented on #5004
[code]

[code]

This means `purge` isn't removing the conf dir

[code]

[code]

[code]

apt list --all-versions widelands

[code]

Yes twice

sudo apt install -y widelands

This time it worked :+1:

[2021-08-01 08:57] klaus-halfmann commented on #5004
We try not to touch the .widelands directory, so savegames sellmade maps and replays are not lost.
We partially cleanup autosaves and replays on startup of the game.

Hope to see you in the internet lobby then,

[2021-08-01 08:57] #5004 closed, assigned to nobody

[2021-08-02 06:32] #4833 closed, assigned to Noordfrees

[2021-08-02 20:51] hessenfarmer commented on #4963
Well I got a full match on crater running until one AI won, without using any mutex and quite nice performance

[2021-08-03 14:58] Noordfrees opened #5014 "Two pairs of soldiers fighting on the same spot"
In the attached replay, two pairs of soldiers are fighting on the same spot. Shortly after minute 10, Red and Green ± simultaneously attack the eastern blue barrier, and then a green soldier and a red soldier are each fighting a blue soldier on the flag before the barrier.

It should not be possible for a worker to walk on any spot where a battle in which the worker is not involved is happening.

[2021-08-03 15:05] Noordfrees opened #5015 "Game freezes; crash on resolution change"
Two problems here. Load the [replay](https://github.com/widelands/widelands/files/6925053/replays.zip) from #5014 in 1.1~git25433[bcd60ca@HEAD] (Debug) (branch `multithread-ai`). When the replay ends continue watching. At 12:42 the game **freezes**. If you resize the window then (in my case I hit Ctrl-Meta-Down to switch from maximized to windowed) it **crashes** after a second or so with:
[code]

[2021-08-04 20:57] tothxa opened #5017 "v1.0 crashes when replay from development version is highlighted in replay chooser"
**Describe the bug**
Version 1.0 crashes when the selection in the "Choose Replay" window is moved to a replay from a newer development version. If the latest replay is a new one, then it crashes immediately when the choose replay window is opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a replay in a current development build.
2. Start version 1.0
3. Choose "Watch Replay"
4.

[2021-08-05 08:00] Nick222 opened #5018 "Crached after updating"
Xubuntu 21.04
Widelands crashed on start - after addons updating

[2021-08-05 08:25] Noordfrees commented on #5018
Thank you for your bug report. Which add-ons do you have installed and in which order?
(You can find this info in `/home/nick/.widelands/config` in the line that starts with `addons=`)

[2021-08-05 08:27] Noordfrees commented on #5017
Happens in current master too when you rename a terrain in the Lua files

[2021-08-05 09:10] Noordfrees commented on #5018
Okay, this is a bug in the `Europeans Tribe` add-on. It depends on the `enhanced_debug_scripts.wad` add-on since the last update, which is not installed, and this requirement is not mentioned in the add-on config @MarkMcWire. In the current development version the error is caught so this no longer results in a crash. Please try deleting the directory `/home/nick/.widelands/addons/europeans_tribe.w

[2021-08-05 13:43] MarkMcWire commented on #5018
@Noordfrees  Sorry. There was a file in the add-on that shouldn't be become public. Please delete the hq_debug.lua in europeans_tribe.wad/scripting/starting_conditions.  This condition is only for developement.

[2021-08-06 17:48] klaus-halfmann opened #5019 "Improve delayed hanlding of GUI Events"
Please fill out the relevant sections below and delete the rest.

**Is your feature request related to a problem? Please describe.**

As of the new Multithreading in current master: When you click on some GUI Element,
the Event will processed by the GUT Thread, then by the game Logic Thread and finally become visble
via the rendering Thread. As we send "set to absoulute value" Events, Mutiple clic

[2021-08-12 07:25] frankystone opened #5022 "Automatic check test_ai fails for windows x86 Builds"
See e.g.: https://github.com/widelands/widelands/pull/4823/checks?check_run_id=3304557612

Error:
[code]

Full error:
[code]

[2021-08-12 13:10] hessenfarmer commented on #5022
will have a look seems that libtiff has a new dependency

[2021-08-12 13:15] Noordfrees commented on #5022
Would it be possible to detect those dependencies in CMake automatically instead of editing the list manually every time a 3rd-party library is updated?

[2021-08-12 13:31] hessenfarmer commented on #5022
Can't tell. I still struggle with CMake. Maybe @matthiakl has more Knowledge

[2021-08-12 15:58] matthiakl commented on #5022
Short answer: No.
Long answer: Static libraries don't contain any information about dependencies. Therefore they can't resolve them automatically (in contrast to shared libraries). The only possibility would be to check whether the package dependencies have changed, but this would require some scripting and I don't think it is possible with pure CMake.

MingW libraries are built with maximum featu

[2021-08-12 17:22] #5017 closed, assigned to Noordfrees

[2021-08-12 20:02] hessenfarmer commented on #5022
as Lerc is not provided with a static library, we may be at a decision point. For our github CI checks we could eventually drop the static builds and use dynamic linking instead. This should be sufficient enough for checking if it builds and whether the 5 tests run fine on windows.  but if we still want to provide static development builds to the community we would have to maintain 2 different MSY

[2021-08-13 16:50] brad0 commented on #4998
Same issue with the final release.

[2021-08-14 17:24] #4998 closed, assigned to matthiakl

[2021-08-16 14:24] andreafeletto commented on #4958
Running the game with `SDL_VIDEODRIVER=x11`, therefore using xwayland, works fine.

[2021-08-16 14:26] cliffalbert opened #5026 "Widelands crashing after loading huge savegame from widelands 21"
**Describe the bug**
Widelands crashes after loading my huge savegame from widelands 21. Savegame is included.

[widelands-21-save.zip](https://github.com/widelands/widelands/files/6993065/widelands-21-save.zip)

**To Reproduce**
- Start widelands
- Open savegame

**Expected behavior**
- The game running with the loaded savegame

**Screenshots**
[crashdump.txt](https://github.com/widelands/widelan

[2021-08-16 14:52] Noordfrees commented on #5026
gdb shows that the ship whose removal crashes was present in the fleet twice. This seems to be due to the bug that was fixed by #4027. Unfortunately there's no way to recover an already broken b21 savegame; it seems to load fine in a release build of current master though

[2021-08-16 18:52] ZehCastro opened #5027 "Zipped non-installer version for windows."
Is there a zip/non-installer version for windows?
If not, could you add one?

Thanks.

[2021-08-16 23:26] simply-peachy commented on #4254
A related comment: to fully prospect an area, four geologists are needed, which is a lot of clicking. If one could integrate flag/road placement with the geologist setting, and send min 1:<number of available geologists>:max 4 in a single action that'd be great.

[2021-08-17 03:09] ZehCastro opened #5028 "Typo in options menu: plantng"
https://github.com/widelands/widelands/blob/1317dd9c8817e5954bbaff31a759568f9a9bcf3b/po/widelands/en_GB.po#L5411

![image](https://user-images.githubusercontent.com/1457644/129657628-487571cb-b02b-4bbd-982a-805a2729ed31.png)

[2021-08-17 05:02] matthiakl commented on #5027
The installer does not require elevated privileges. So there is no real reason for a separate package. If you want a portable version, just install it to your device Widelands does not require a fixed absolute path.

[2021-08-17 08:23] Noordfrees commented on #5028
Thanks, I corrected the translation on transifex.

Fix will be in master at the next automated translations sync (in two days or so)

[2021-08-17 08:23] #5028 closed, assigned to nobody

[2021-08-17 15:43] the-Arioch commented on #428
Just my 2 cents.

Recently i tried Battle for Wesnoth on my phone.
https://sourceforge.net/projects/wesnoth-on-android/

At first i was very confused and did not know what to do, the game seemed broken and not reacting.
Later i noticed the game does not use touch screen directly, but instead simulates a mouse.

For desktop-first game it was even reasonable, as fingers on touch screen cover rather

[2021-08-17 20:56] DarthGandalf opened #5029 "Crash when scrolling empty list of objectives up"
**Describe the bug**
Game segfaults when trying to scroll the mouse

**To Reproduce**
Steps to reproduce the behavior:
1. Go to list of objectives when it's empty
2. Move the mouse the the upper part of the window (where the list of objectives is), above the description of the selected objective
3. Scroll the mouse whell up (scrolling down doesn't trigger the crash)
4. See error

**Expected behavi

[2021-08-17 20:59] Noordfrees commented on #5029
Thanks for reporting, crash confirmed
[code]

[2021-08-17 22:30] goelzma opened #5030 "Crash on startup if malformed command line arguments are supplied"
**Describe the bug**
[code]

**To Reproduce**
`widelands -h`
or `widelands foo`

**Expected behavior**
Print error message or ignore arguments
Don't crash

**Version:**
[code]

[2021-08-17 22:34] tothxa commented on #5029
I'll include the fix for this in my mousewheel changes. But don't wait for me if you think it's urgent.

[2021-08-18 06:07] frankystone commented on #5030
This is fixed in the current development version.

[2021-08-18 06:07] #5030 closed, assigned to nobody

[2021-08-18 06:35] ceeac opened #5031 "Data races on startup"
**To Reproduce**
Steps to reproduce the behavior from a clean checkout:
[code]

**Expected behavior**
No data race

**Actual behavior**
[code]
**Version:**
 - OS: Ubuntu 20.04
 - Widelands Version: `40dc16d84eaacce97cb085ea126f63d15a6f6841` (latest master branch as of today)

[2021-08-18 16:51] spth opened #5032 "Crash on upgrading frisian wooden tower"
Upgrading hte Frisian wooden tower results in a segfault.

To reproduce, start a LAN ("Endlosspiel") game on the "Der Pass durch die Berge" map. Host is frisians in red position, other player is blue empire. As host, immediately build a wooden tower, connect to HQ. Then upgrade the tower before any wares are delivered. This results in a segfault.

Even a bit later in the game, I still get h hsegfa

[2021-08-18 16:59] Noordfrees commented on #5032
Sounds pretty much like #4997 was not 100% fixed last time. I cannot reproduce at a quick test; a backtrace with a debug build will be the only way to pin this down

[2021-08-18 17:55] spth commented on #5032
In the debug build I wasn't able to reproduce the segfault. I was able to build and upgrade a few towers. On the fourth or fifth tower I got an assertion failure, though:

[code]

[2021-08-18 17:59] spth commented on #5032
Another one, assertion failure on the fourth tower, with backtrace:

[code]

[2021-08-18 19:08] Noordfrees commented on #5032
Thanks, but unfortunately this still gives no clues what is going on here…
can you please try to catch it again, and after the `bt` run the following additional commands in gdb:
- up 3
- p ((Widelands::ConstructionSite*)b)->building().name_
- p ((Widelands::ConstructionSite*)b)->building().enhancement_
- p ((Widelands::ConstructionSite*)b)->building().enhanced_from_
- p max_fill
- p real_fill
- p

[2021-08-18 19:30] Noordfrees commented on #5032
No need anymore, NOW I managed to reproduce it myself :)

[2021-08-20 14:08] spth opened #5035 "Offset numbers on Frisian soldiers in warehouse"
In a LAN game (using the 5032-race-condition,branch, but I don't think that matters), I noticed that Frisian soldiers in the warehouse have the number offset to the right. The offset depends on the level of the solider, e.g. level 0 soldiers have no offset, level 5 soldiers have 1 offset, level 10 soldiers have 2 offset.
![shot0001](https://user-images.githubusercontent.com/10352947/130245864-d2e5

[2021-08-21 07:10] #1931 closed, assigned to Noordfrees

[2021-08-22 09:11] burger-drip opened #5036 "Cannot make expedition in Twin Lagoons as Atlanteans"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
Single player. 1v1 Normal AI. Twin Lagoons
Can built a dock
Can click start expedition
Even with the materials, nothing seems to happen.
Even building a different dock location, there is no effect.

**To Reproduce**
Single player. 1v1 Normal AI. Twin Lagoons
Build dock.
Click Start expedition.

**Expected behavi

[2021-08-22 09:22] Noordfrees commented on #5036
You built a ferry yard but did you also build a shipyard? Expeditions can only be loaded on full-size ships; ferries are only for servicing minor waterways. (this is also explained in the third tutorial)

[2021-08-22 12:38] burger-drip commented on #5036
Yes, I am a fool...

[2021-08-22 12:38] #5036 closed, assigned to nobody

[2021-08-22 18:49] matthiakl commented on #4814
The linked bug report is marked as resolved, so I assume this is fixed.

[2021-08-22 18:49] #4814 closed, assigned to nobody

[2021-08-23 22:54] alasiax commented on #4981
Ok, I was thinking to update the text on this, but actually, the plantations do keep working when disconnected, but they don't adhere to main economy targets and instead plant indefinitely because each flag has its own economy. For example, say your main economy only needs rubber, your plantations will still keep planting the trees in the balsa/rubber/ironwood sequence, not being aware that actual

[2021-08-23 23:01] alasiax commented on #4981
On reflection, it was pointed out to me that it would be appropriate to have an Amazon tip, and a note in the building about that the mechanics work as designed, and why disconnecting roads to plantations will create infinite plantings, without respecting the economy targets as defined by the warehouses rather than the economy of each disconnected plantation.

[2021-08-24 03:52] simply-peachy opened #5038 "Segmentation fault on simultaneous multiplayer building on same fields"
When playing a multiplayer game it segfaulted just as both myself and my teammate tried to build a building on adjacent or the same plots. I suspect this was the cause of the crash but there was no useful information in the console other than "600322 Segmentation fault      (core dumped)". No autosave was created. I do have two replay files (.wrpl, .wss 180MB zipped) with the correct timestamp but

[2021-08-24 08:21] Noordfrees commented on #5038
.wss is not part of the replay, it's just a syncstream to debug desyncs. The replay consists of a .wrpl and a .wrpl.wgf with the same filename.

[2021-08-24 13:39] simply-peachy commented on #5038
The .wrpl.wgf isn't present in the replays folder.

[2021-08-25 19:54] Noordfrees commented on #4978
This happens because Widelands messes with the system's language environment variables such as `LANG` and `LC_ALL`, e.g. here:
https://github.com/widelands/widelands/blob/57f4aa38c3cc7e3347dae9e2ae75b1b8943c7a75/src/base/i18n.cc#L337-L339
It's all over the place in this file and absolutely messes up system language integration.

On a related note, I just discovered after years of being unable to t

[2021-08-26 02:06] alasiax opened #5041 "Capitalisation of Tribe names"
Tribe names are not capitalised within the game consistently. I noticed this with the Amazons, but hessenfarmer mentioned it should be the case for all tribes (see [comment 37928 in the forum](https://www.widelands.org/forum/topic/2897/?page=40#post-37928)).

I'll start with Amazons and then go through the other tribes.

[2021-08-26 02:07] alasiax commented on #5041
I tried to label and self-assign this, but I can't figure out how, or perhaps I don't have permissions?

[2021-08-26 02:59] alasiax commented on #4981
I have added tips and building help text to address this issue, and submitted it for commit :o) Please let me know if more is needed. (I'm Alasia on the WL forum if that's easier)

[2021-08-26 15:00] aummishra commented on #5041
I would like to contribute to this issue

[2021-08-26 19:18] MPagel opened #5043 "Empire2: cannot complete barracks"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
In empire campaign mission "An Outpost For Exile" cannot complete barracks due to lack of cloth.  Neither weaving mill nor sheep farm appear in build menus.

**To Reproduce**
Steps to reproduce the behavior:
Unknown.  My only current objective is labelled "Destroy the Barbarians".  The first bullet point is to b

[2021-08-26 19:20] MPagel commented on #5043
![WidelandsNoCloth](https://user-images.githubusercontent.com/3179116/131023157-5f93da87-9a4d-4c66-a4f6-e596eabf8d25.jpg)

[2021-08-26 19:31] MPagel commented on #5043
I was able to sack the enemy HQ and take all military buildings, but as the barracks does not exist on my side, nothing else triggers after obliterating the enemy.
[fsdfseffadgag.zip](https://github.com/widelands/widelands/files/7062310/fsdfseffadgag.zip)

Savegame at end included

[2021-08-26 20:26] #5032 closed, assigned to Noordfrees

[2021-08-26 20:38] spth opened #5044 "Atlantean tower is set to weak soldiers by default"
Usually, larger military buildings default to strong soldiers, while small ones default to weak soldiers. However, the Atlantean tower is an exception, as it is the Atlantean's second-strongest military building, but defaults to weak soldiers. I guess that this is a mistake, rather than a design choice.

[2021-08-26 20:40] hessenfarmer commented on #5043
the problem is not the missing barracks, but the missing fortress on the former Barbarians peninsula.
Furthermore to complete the mission the baracks could be completed by reducing the cloth input to the amor smithy.

Anyhow you are right if we allow a barracks we should allow sheep farm and weaving mill.  Will be corrected

[2021-08-26 20:46] hessenfarmer commented on #5044
It seems the settings of the small tower and the tower got mixed. So I would vote for having the tower prefer heroes and the small one not to do so.

[2021-08-27 04:22] alasiax commented on #5044
+1 for what @hessenfarmer said, will correct shortly.

[2021-08-27 05:32] alasiax commented on #5044
Edit: I deleted the PR for this as I think it needs further discussion.

For consistency, maybe have one medium plot building for each tribe (the lower, heightwise with less vision) which prefers rookies, and the tower equivalent which prefers heroes. Most tribes have upgrades available to medium plot buildings, but I think only Empire can access the upgrade in the plot build menu.
For comparison,

[2021-08-27 05:50] alasiax commented on #5041
Hi Aummishra, the more the merrier! Did you have a preferred tribe to start on?

[2021-08-27 07:56] hessenfarmer commented on #5044
thanks for the list. However there is a small error as amazon tower prefers Heroes and the obs. Tower prefers rookies. I need to check though whether the setting is inherited from the base which is a bug in this case imho that was introduced with the feature to keep the settings. I believe the logic is more simple. Heroes prefer space and company so only buildings with at least 4 soldiers should p

[2021-08-27 08:06] alasiax commented on #5044
Yes, you are right - the small tower wants heroes. I'll edit the above for clarity.

So, other than the Empire outpost, all medium+ militaries should prefer heroes then?

[2021-08-27 08:16] alasiax commented on #5044
Comparison below, based on heroes going by default to buildings of 4+ soldiers.

**Current:**
Barbarians - Barrier (h) Tower (h)
Empire - Outpost (r) Barrier (h) Tower (h)
Frisian - Outpost (h)
Amazon - War. Dwell. (h) Tower (h) Obs Tower(r)*
Atlanteans - Guardhall (h) Tower (r) High Tower(h)*
Atlanteans - Small Tower (h) (small plot)
\*available only via upgrade, not plot build

**Proposed:**
Bar

[2021-08-27 08:42] hessenfarmer commented on #5044
the proposed table is what I would deem appropriate.
regarding the availability from the build menu. This would only make sense if buildcost for upgrade would differ from direct build which in turn would make especially the atalntean high tower to cheap. so I don't think we should change it. Since b21 it is possible to directly upgrade the constructionsite anyway.

[2021-08-27 09:29] hessenfarmer commented on #5026
@Noordfrees
as you explained that this was already fixed in current master , shall we close this issue then?

[2021-08-27 09:30] #5026 closed, assigned to nobody

[2021-08-27 11:39] #4981 closed, assigned to nobody

[2021-08-28 11:07] #5044 closed, assigned to alasiax

[2021-08-28 17:26] Vamsikrishnapac commented on #5041
Can I take this.

[2021-08-28 19:06] hessenfarmer commented on #5041
anybody's help is welcome. But if 2 persons will do the same this might be a waste.  So it would be good if you agree on which tribe is done by whom.

[2021-08-29 03:56] aummishra commented on #5041
I'm currently working on another issue, I'd not be able to work on this issue. You can assign it to anyone else. Thank you!

[2021-08-29 04:24] alasiax commented on #5041
Thanks for letting us know Aummishra.

I'm happy to start with Amazons, since I'm working with those files anyway.

[2021-08-29 04:31] alasiax commented on #5041
@hessenfarmer : we should create a new branch here for this one, right? Call it 5041_Caps_fixes ?

[2021-08-29 12:31] #5043 closed, assigned to pospec4444

[2021-08-29 15:21] alasiax opened #5050 "Crash after hitting AI HQ"
**Describe the bug**
The game consistently crashes when I hit the grey AI HQ in Astoria R2 map. I was having this problem in git version 25438 which does not have a debug version, so I downloaded the Version 1.1~git25441[d355de6@HEAD] (Debug) and started it from the command line.
I've been able to reliably reproduce this from several saves made at different points (ie I went back and loaded an ear

[2021-08-29 15:46] Noordfrees commented on #5050
In game1 I also get the playersmanager assertion. gdb shows that the result was indeed added long ago:
[code]

So player 5 lost at time 26438300 (7:20:38) and now again at 45091300 (12:31:31). Perhaps a bug in the win condition scripting?

In the replay this end status is already added, do you have an earlier one?

---

The mousegrab_ assert looks like a separate bug in UI code, steps to reproduce

[2021-08-29 16:24] markusd112 opened #5051 "Improve Error Message when loading saved game from an old version"
**Describe the bug**
Error message "UnhandledVersionError" This game was saved with an incompatible widlenad version and cannot be load.

Saved version: 3
Current version: 5

**Screenshots**
![Screenshot_Widelands_01](https://user-images.githubusercontent.com/14372683/131257704-4f257219-b138-4896-ac78-c2691c290c4d.PNG)

**Version:**
 - OS: Windows 10
 - Widelands Version: 1.0 (Release)

[2021-08-29 16:26] markusd112 commented on #5051
[stdout.txt](https://github.com/widelands/widelands/files/7072855/stdout.txt)

[2021-08-29 16:48] alasiax commented on #5038
Is it helpful to see if I have the client-side replays? From my side the game simply hung, I had to exit out to reconnect to the server.

[2021-08-29 17:00] alasiax commented on #5050
These were created with 25438. Replay starts at 7.07. I have others if you need them.
[game 7.07.zip](https://github.com/widelands/widelands/files/7072904/game.7.07.zip)

Re: the mouse issue, it literally happened the same as the HQ hit today, which is why I wasn't sure if there's a connection. I will look for the multiplayer game files in the morning, but I think I was attacking when that happene

[2021-08-29 17:33] hessenfarmer commented on #5051
well actually the error is handled.
as the savegame is 2 versions behind there is not much we could do about.
With which version was the save created

[2021-08-29 18:26] Noordfrees commented on #5051
Savegame compatibility is guaranteed only from one Widelands release to the next. This save was probably created with build-20, so it needs to be loaded and resaved with build-21 before the resaved game can then be loaded in v1.0.

If this is indeed a b20 savegame then I propose closing this issue as wontfix

[2021-08-29 19:07] hessenfarmer commented on #5051
exactly what I thought

[2021-08-30 03:56] markusd112 commented on #5051
That's ok. I wanted only to help, because the text says, to report this bug, Thanks. :-)

[2021-08-30 07:35] hessenfarmer commented on #5041
yes it is recomended to create a new branch in your fork and create a pul request from this branch. don't forget to pull in master frequently to stay in sync with it.
the name of the branch is your free choice. however mentioning the bugnumber which should be fixed is good practise. What is more important then the branch name is the title of the PR. Cause this title is what appears in the changelo

[2021-08-30 07:38] hessenfarmer commented on #5051
Well this is a valid point, maybe we should think about editing this error message to state what @Nordfrees mentioned above, to avoid false alarms.
thanks for reporting it anyway

[2021-08-30 11:57] alasiax commented on #5050
Excellent news! I've been able to make the error happen on a different map. Hooray for reproducible crashes?

Edit: The win condition in this one is Autocrat. This map isn't super conducive to a quick restart, so I don't know if the error would be reproducible under the HQ Hunter condition.

I don't remember if the earlier game1/2 crashed when I hit the red player HQ in the previous games, but I d

[2021-08-30 13:06] alasiax commented on #5050
Ok, the game doesn't crash when I take out HQ and the last warehouse of the green player in the river explorers game.  I avoided going too close to the yellow HQ this time, in case that was the problem. It also crashed regardless of whether I conquered military buildings within the HQ sphere of control before attacking the HQ itself.

[game3-riverexplorers.v.1.zip](https://github.com/widelands/wid

[2021-08-30 15:32] alasiax opened #5052 "Assertion fail - inputqueuedisplay.cc line 584"
**Describe the bug**
Game crashed on trying to build stonecutter on small block

Edit to add error info at a glance and for search:
[code]
(end edit.)

**To Reproduce**
I haven't been able to reproduce this one, nor have I seen this particular error before.

**Expected behavior**
place flag for stone cutter.

**Screenshots**
Error and stdout.txt are in the zipfile. No output to stderr.txt

**Versi

[2021-08-31 02:49] simply-peachy opened #5055 "Unused keys in LuaTable"
Widelands Version 1.1~git25442[4faef54@master] (Release). I believe I was just watching the builders build and the other player removed a road from a forester build site and was about to replace it.

Started a multiplayer game and was only a few minutes in when the game segfaulted with:
[00:06:27.246 real] WARNING: Unused key "descname" in LuaTable. Please report as a bug.
[00:06:27.246 real] WARN

[2021-08-31 03:26] simply-peachy commented on #5055
Just re-tried the same map and I noticed the same two Lua errors but no crash yet.

[2021-08-31 06:43] hessenfarmer commented on #5055
which tribe did you choose. were any addons activated?

[2021-08-31 13:39] alasiax commented on #5055
We were Atlanteans in both games, no addons as far as I know on server side (although apparently client side had the mostly balanced maps add-on enabled), shared in.

In the first game there were duplicate tribes (random picks). In the second game, we chose different
tribes for the AI players (2 with HQ, 2 with Trade Posts). The game did not crash or return a visible error on the client end, but h

[2021-08-31 14:20] alasiax commented on #5052
Happened again. This time I think I clicked on fog, but I was just clicking around building in this map. stderr.txt is empty.
This map is Spider Lake.
[assertion fail - iputqueuedisplay2.zip](https://github.com/widelands/widelands/files/7084608/assertion.fail.-.iputqueuedisplay2.zip)

[2021-08-31 14:26] alasiax commented on #5050
As this happened again today with this error, I'll start a new bug report.

[2021-08-31 15:10] hessenfarmer commented on #5055
Another question is: it seems that @simply-peachy used the datadir option. Was this the datadir of the same Git version as the game?

[2021-08-31 17:05] alasiax opened #5056 "Assertion fail - panel.cc line 1014"
**Describe the bug**
Crash shows Microsoft Visual C++ runtime error, Assertion Failed

`line 1014 in ../src/ui_basic/panel.cc`

`!mousegrab_ || mousegrab_ == this`

(error screencaps in zip)

In Calvisson and game 1, the stderr.txt was empty. The Srawerb Ait game is not known as I didn't start it in the command line.

**Context**
I have not been able to reliably reproduce this, but the last two ti

[2021-08-31 18:17] klaus-halfmann commented on #5050
mousegrab_ assert happend for me, too. Try to click often between widelands and some other windows.
With and without Fullscreen mode (e.g. Switch vial ALT-TAB). I would assuem with the new Multithreading
this may lead to events where the Window does not have the correct mouse/window status, yet.

Should not be related (directly) to actually building something or other other in game actions.
Mabe w

[2021-08-31 18:40] simply-peachy commented on #5055
It looks like there were differences between the source `data` and game `datadir`, but only in locale files (my copy script didn't take into account symlinks).

To clarify the tribes: Player 1 and player 6 were shared in as Atlantean. Player 2 was Amazon (AI), 3 and 4 were Frisians (AI), player 5 was Atlantean (AI).

We've tried to recreate the crash (incl. with the same tribes and positions) but

[2021-08-31 19:51] hessenfarmer commented on #5055
well, I started the replay and I did not get the lua errors, so I beleive they are due to some leftovers in the used datadir.
I believe furthermore that the crash might be due to another not yet detected race condition implied by the multithreading change.

[2021-09-01 02:44] alasiax commented on #5050
Thanks for raising that it might be able to be triggered by window switching @klaus-halfmann. I will look out for that in future. I'm linking further notes on this to #5056 in case it helps there.

[2021-09-01 02:59] alasiax commented on #5056
_Originally posted by @klaus-halfmann in https://github.com/widelands/widelands/issues/5050#issuecomment-909483825_

With and without Fullscreen mode (e.g. Switch vial ALT-TAB). I would assuem with the new Multithreading
this may lead to events where the Window does not have the correct mouse/window status, yet.

I will see if I can trigger the error that way, thank you.

Mabe when (after starting

[2021-09-01 03:55] alasiax commented on #5052
I think I rightclicked as this error occurred. This time I'm using a Microsoft wireless mobile mouse 3000 model 1359. Map is twinkling waves.
[assertion fail - inputqueuedisplay3.zip](https://github.com/widelands/widelands/files/7088116/assertion.fail.-.inputqueuedisplay3.zip)

[2021-09-01 12:14] alasiax commented on #5052
Left clicking on the fortress under construction near blue HQ.
Microsoft wireless mobile mouse 3000 model 1359. Map is twinkling waves.
[assertion fail - inputqueuedisplay4.zip](https://github.com/widelands/widelands/files/7090919/assertion.fail.-.inputqueuedisplay4.zip)

[2021-09-02 09:11] alasiax commented on #5050
Two more sets of files (on the twinkling waves map)
Widelands Version 1.1~git25441[d355de6@HEAD] (Debug)

The game4 - desync is a replay of a game which did not immediately crash on HQ takeover. Interestingly, I closed the game naturally, but the replay is throwing a desync error, although it was definitely started in the same version. There were also warnings in the replay stdout.txt
As I exited

[2021-09-06 11:04] #4812 closed, assigned to nobody

[2021-09-06 11:04] #5029 closed, assigned to tothxa

[2021-09-09 10:29] #3581 closed, assigned to nobody

[2021-09-09 10:29] #4985 closed, assigned to nobody

[2021-09-10 15:36] #4828 closed, assigned to Noordfrees

[2021-09-10 15:36] #4873 closed, assigned to Noordfrees

[2021-09-10 19:47] Noordfrees opened #5058 "Focused dropdown consumes `Enter` key even when closed"
1. Open the single player game setup menu
2. Choose a map, click OK
3. Click on the win condition dropdown
4. Click on a win condition. The dropdown closes and is still focused (which is correct).
5. Press <kbd>Enter</kbd> to start the game → nothing happens (bug)
6. Press <kbd>Tab</kbd> and then try <kbd>Enter</kbd> again → now it works

Version 1.1~git25451[f598487@master] (Release)
Perhaps rela

[2021-09-11 18:48] Jars-of-jam-Scheduler opened #5059 "Archiving messages doesn't work"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
In the French first tutorial, I'm stuck at the messages archiving step of the tutorial. Indeed I can't archive the messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the first tutorial, objective "Archiving Messages"
2. Click on the button / pictogram "Archive the selected message (Delete)" of

[2021-09-11 18:55] tothxa commented on #5001
Please check whether the solution in https://github.com/tothxa/widelands/commit/038aaf7afe2ccd52fec8cf0dffcfd01f49c273cb is acceptable.

[2021-09-14 20:36] FelipeAndrioli commented on #2097
I'd like to work on that, is it possible yet?

[2021-09-16 16:23] Noordfrees opened #5064 "Bouncing soldier level indicators during battle"
Just noticed while watching a fight between two barbarian soldiers that the level indicators above their heads keep jumping up and down. Probably the battle animations have been cropped to different heights by the spritesheet exporting. Solution would be to add some empty padding to the top or bottom of the animations to get the indicator to stay at the same position all the time. Needs checking w

[2021-09-23 07:39] #5001 closed, assigned to nobody

[2021-09-28 14:19] hessenfarmer commented on #5055
@simply-peachy @alasiax
As I beleive the lua errors are due to leftovers in the used datadir and the crash is not reproducable, should we consider this to be closed?

[2021-09-28 15:03] #5055 closed, assigned to nobody

[2021-09-30 21:53] hessenfarmer commented on #1006
@Noordfrees which map is this. I am working on a fix

[2021-10-01 08:39] Noordfrees commented on #1006
the Europe map, happens all the time there especially with the black AI

[2021-10-02 16:34] frankystone opened #5069 "Reloading a won game causes crash"
Reloading the attached savegame after the won dialog is shown causes a crash close before the won dialog will be shown again.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Load attached savegame and wait until the won dialog is shown
2. Inside the won dialog click on 'Play further' (the green arrow)
3. Click on _Mainmenu → Load game_ and reload the attached savegame
4. Wait again u

[2021-10-05 15:06] eqom14 commented on #5052
Had this a couple of times but can't reproduce. Last time was a couple of weeks ago. I was camping so I had no internet to download the lastest.

[code]
[wl_autosave_00_bug#5052.wgf.gz](https://github.com/widelands/widelands/files/7286885/wl_autosave_00_bug.5052.wgf.gz)

[2021-10-06 07:28] hessenfarmer commented on #5027
As there was no response from the author of the issue I'll Propose this for closing
Opinions @widelands/developers

[2021-10-06 16:09] hessenfarmer commented on #4911
I couldn't reproduce this. Saving from replay and continue from save did show completely different behaviour. Furthermore the replay desyncs although I compiled the git tag mentioned in the replay files. Ai built not as many buildings as they should normally build, so only guess is that the time was set to very fast resulting in AI code getting skipped.

[2021-10-12 12:08] Noordfrees opened #5082 "MacOS CI Failure"
Since the `macos-latest` image was updated from  10.15.7 to   11.6 yesterday, all MacOS CI builds are now failing with a CXX compiler selftest error:
[code]

[2021-10-13 20:59] hessenfarmer commented on #5082
@SirVer  @stonerl @klaus-halfmann
any ideas?

[2021-10-14 04:45] klaus-halfmann commented on #5082
Works for me, but I use the clang provived by MacPorts not from XCode
$ which clang
`/opt/local/bin/clang`
$ clang --version
[code]

This is an Image based on Big Sure ad (propably) XCode Version 13.0 (13A233)

Will need some time to check this, but I am currently quite stressed by my Job

[2021-10-14 04:58] klaus-halfmann commented on #5082
I Upgraded macports to clang/llvm-12 but found that widelands compiles with

-- The C compiler identification is AppleClang 13.0.0.13000029
-- The CXX compiler identification is AppleClang 13.0.0.13000029
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc

[2021-10-14 05:01] klaus-halfmann commented on #5082
@Noordfrees please move from your Noordfrees:buildsys-update branch to a public one, So I (and others) may commit something there. (I will not clone this right now)

[2021-10-14 08:12] Noordfrees commented on #5082
Done: #5085 / https://github.com/widelands/widelands/tree/buildsys-update
No branch for this issue exists yet but you're welcome to add a fix to the buildsys-update branch

Do we already have a branch to fix this?
Can I test this Image (in Docker?) locally?

Broken build: https://github.com/widelands/widelands/runs/3878335125?check_suite_focus=true
They seem to publish their images [here](https://

[2021-10-14 11:10] klaus-halfmann commented on #5082
systeminfo.md  from Built_VM_Artifacts.zip
tells us where to find a clang from brew, maybe we can use that one?

[2021-10-16 07:51] Noordfrees opened #5086 "Template games crash on user input during loading"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
When starting a game from a template, Widelands crashes if any form of user input occurs during gameloading.

**To Reproduce**
Steps to reproduce the behaviour:
1. `./widelands --new_game_from_template=templates/new_game_template`
2. Move the mouse or press a key while it's loading
3.
[code]

**Expected behaviou

[2021-10-17 07:49] helmitoropainen opened #5087 "Game crashes when joining open online game"
**Describe the bug**
Game crashes when trying to join Open games "...." or "Private game".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Multiplayer' > 'Online game'
2. Click on '......' or 'Private game' and then 'Join this game'
4. See error, game crashes.

**Expected behavior**
You could join the game or if player doesn't reach game's requirements, game would notify that and not

[2021-10-18 08:26] #3992 closed, assigned to Noordfrees

[2021-10-22 15:31] Noordfrees commented on #1964
Missing and coming workers, production trends, and how many soldiers are fighting is already indicated in the stats text.

A pictogram to indicate wares supply might be useful, but I wonder how to solve that: A single icon carries very little meaning for a building with many inputs; and having multiple indicators would add clutter, also making it harder to filter out the relevant info.

Mockup of

[2021-10-22 15:47] Noordfrees commented on #2051
As my last comment from last year received a +1 and there was no further discussion since, I'm closing this now as wontfix.

[2021-10-22 15:47] #2051 closed, assigned to nobody

[2021-10-22 16:05] Noordfrees commented on #3136
We already have Random options for the world and the terrain distribution. What needs to be specified explicitly are map size, number of players, resource amount (low/medium/high), island mode (on/off). Do we really need randomization for those as well or shall we close this issue?

[2021-10-22 16:20] VitalyAnkh commented on #2851
Hi! I found widelands recently, and felt it's interesting! But it's really annoying playing on my screen because the UI is very small. Any updates here?

[2021-10-24 11:33] #5086 closed, assigned to Noordfrees

[2021-10-25 13:48] Noordfrees opened #5097 "Fastclick targets for constructionsite windows are off"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
The fastclick targets (the place where the mouse cursor jumps to automatically when a window opens) are incorrect for constructionsite windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a half-completed own constructionsite, especially for a building that costs several ware types and only ha

[2021-10-27 20:55] matthiakl opened #5100 "Resolve asan testsuite issues"
Re #5090
The testsuite reports some asan issues which should be addressed. See [this log](https://github.com/widelands/widelands/runs/3988961420?check_suite_focus=true)

Since leaks are suppressed all together in the CI, the testsuite should be run on a local machine to see, whether some leaks can be resolved as well.

[2021-10-28 09:52] Noordfrees commented on #5100
Interestingly the failure always seems to happen on just three configurations: g++ 5 and 6 under Bionic; both release builds plus the g++6 debug build.
I'm compiling Widelands in a Bionic container now to look at it…

---

It's reproducible with g++5 under bionic in the Casern test. Will investigate.

[2021-10-28 13:50] Noordfrees commented on #5100
The bug seems to be in `boost::format` (specifically I'm using version `1.65.1.0ubuntu1` there).

Rewriting this function:
https://github.com/widelands/widelands/blob/9efa8ea23bee95cf33fcef5a07c3d526d4ad4d60/src/graphic/style_manager.cc#L385-L390
to use plain string concatenation instead of `boost::format` fixes this crash, only to get a new crash a second later elsewhere (in `as_mapobject_message

[2021-10-30 06:46] klaus-halfmann opened #5103 "Compiling widelands for Apple Silicon / M1 ARM"
**Is your feature request related to a problem? Please describe.**

I  got a brand new M1 MacBook Pro and tried to compile widelands.

[code]
I switched from macports to brew. All the libs should be there but it now fails me at:
[code]
**Describe the solution you'd like**

* I assume the OS / CPU detection from CMake needs to be adopted.
 * I will try to install some other sdl based games via brew

[2021-10-30 12:06] Noordfrees commented on #5103
This looks like a problem specifically with locating the ICU library, rather than a platform-related error. I'm not familiar with MacOS but can you try the solutions [described here](https://stackoverflow.com/questions/52510499/the-following-icu-libraries-were-not-found-i18n-required) and see if any of them fixes it?

[2021-10-30 13:56] klaus-halfmann commented on #5103
So info that may be usefull:
https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary

[2021-10-31 13:38] klaus-halfmann commented on #5103
Looks like this is needed
[code]
Basically found at https://miktex.org/howto/build-mac

Thanks @Noordfrees you where almost on the right track

[2021-10-31 13:52] klaus-halfmann commented on #5103
Compiling  was **fast** 2m13.580s And head no fan (like on my Intel Mac) even though the Cores went to ~90 °C

[2021-10-31 14:32] klaus-halfmann commented on #5103
Looks like it is running fine (and fast!)
I added that snippet to fix the icu4c issue in [Building_Widelands_on_macOS]( https://www.widelands.org/wiki/Building_Widelands_on_macOS/)
Could we include this in some other place?

Next question should we now make Release 1 a universal binary?

[2021-11-01 10:46] #4937 closed, assigned to nobody

[2021-11-01 12:54] Noordfrees opened #5106 "Notifications for vacant experienced worker slots"
Please fill out the relevant sections below and delete the rest.

**Is your feature request related to a problem? Please describe.**
When a building lacks a worker who needs to be trained from a less experienced worker, micromanagement is strictly necessary to ensure the building gets a worker. This is especially a problem with Amazons whose rare wood plantations need workers who are trained in an

[2021-11-02 17:10] #5050 closed, assigned to Noordfrees

[2021-11-02 17:10] #5069 closed, assigned to Noordfrees

[2021-11-02 17:10] #5015 closed, assigned to nobody

[2021-11-03 06:31] #4329 closed, assigned to matthiakl

[2021-11-04 17:51] klaus-halfmann commented on #5103
I try to build the complete MacOS app as described here: https://www.widelands.org/wiki/Building_Widelands_on_macOS/

But .`/build_app.sh clang release ../release-1.0` does not work as described there.
I checked here:  https://github.com/widelands/widelands/runs/4089997323?check_suite_focus=true
../utils/macos/build_app.sh clang release ../

It fails me with

[code]

But the normal ./compile.sh wo

[2021-11-04 18:18] Noordfrees commented on #5103
That's the same error as in #5082

[2021-11-04 18:32] klaus-halfmann commented on #5082
OK maybe the fix is just to use the X-Code clang (and forget about brew) will try along this path

[2021-11-05 05:50] klaus-halfmann commented on #5082
Will try to fix this using my [m1arm](https://github.com/widelands/widelands/tree/m1arm) branch.

[2021-11-06 15:50] klaus-halfmann commented on #5103
OK, I checked this `/utils/macos/build_app.sh`

* Looks like same handcrafted magic from @SirVer that got broken with macOS 12.x Moterey -> Used compile.sh for the build part for now.
* Some other magic found in ` utils/macos/fix_dependencies.py` is broken ad gave me some ugly crash. But it looks like the orginal tool [macdylibbundler](https://github.com/auriamg/macdylibbundler) may do the trick.

[2021-11-08 07:48] #5097 closed, assigned to jmoerschbach

[2021-11-08 08:52] klaus-halfmann commented on #5103
* I switched `utils/macos/build_app.sh` to use ./compile.sh so we need to change the
automated buildscript to call it as `../utils/macos/build_app.sh -r`
* This currently only works for a release build , fo debug / ASAN I need to fix some Issue
* I will push this change to https://github.com/widelands/widelands/tree/m1arm
* BUT on startup I get  `EXC_BAD_ACCESS (SIGKILL (Code Signature Invalid)) `

[2021-11-08 11:24] Noordfrees commented on #5103
I assume you mean the CI builds?
Just edit the section `macos` in https://github.com/widelands/widelands/blob/m1arm/.github/workflows/build.yaml#L246-L282.
You may additionally want to add the branch name to line 6 and comment out line 247 to ensure you get a mac CI build for every push to the branch.

[2021-11-08 14:52] klaus-halfmann commented on #5103
@Noordfrees thanks for your hints:

A of the modifications the shard libs lost there signature, e.g.
[code]

Look like with Monterey code signing is played as hard as on iOS :-/

[2021-11-08 15:05] klaus-halfmann commented on #5103
Looks like
`codesign --sign - --force` * in `Widelands.app/Contents/libs`
does the trick

[2021-11-08 16:02] klaus-halfmann commented on #5103
OK, puzzled it all together, hold thumbs. Will check tomorrow

[2021-11-08 19:17] klaus-halfmann commented on #5103
OK the build does not know about macOS 12, yet, goig back to macOS 11
Here is a 1.0 build  https://www.magentacloud.de/share/ygwso1qmey.
Shall I just add it to https://www.widelands.org/wiki/Download ? Or do we have a better place?

[2021-11-08 20:04] Noordfrees commented on #5103
Great :)
Please upload it to both the GitHub release at https://github.com/widelands/widelands/releases/tag/v1.0 and to the launchpad release at https://launchpad.net/widelands/1.x/1.0 . Let me know in case you don't have permissions for one of them. The download page can then link to one of these downloads.

[2021-11-08 20:20] klaus-halfmann commented on #5103
Uploading to the release page now, the name is not _that_ good (there never was an m1 Mac before  mac0S 11)
Would widelands_m1Arm_1.0.dmg be OK.

I did not login to launchpad since ages, do we really need it there?

Next thing I will try is to get that debug build going.

[2021-11-09 06:37] Noordfrees commented on #5103
Yes, please do upload it there as well. LP downloads are way more reliable than those from GitHub for whatever reason, so the Download page should preferably link to the LP files. Also you can there add a signature to the file in case you have a GPG key.

[2021-11-09 10:32] klaus-halfmann commented on #5103
Never had a PGPG key on Launchpad, will try now

[2021-11-09 15:14] klaus-halfmann commented on #5103
Uhh, I tried to upload twice, but failed.
Maybw I need more badwidth

[2021-11-09 15:48] Noordfrees commented on #5103
Happens to me a lot as well… I'll download the file and try pushing it to LP

[2021-11-09 22:00] hessenfarmer commented on #5052
got the same assertion for line 563 of inputqueuedisplay.cc while testing the scenario as well. seems to be a race condition of set_visible probably

[2021-11-10 06:48] klaus-halfmann commented on #5103
Thats Odd, in my ARM Version I cannot switch to German, but to e.g. polish, even switching to German via the intel version leaves the language settings as "not-selected", indeed the "de" locale is missing. Will try to fix this later.
(Pushing to LP failed me again this morning)

[2021-11-10 07:15] klaus-halfmann commented on #5103
OK fixed the debug build, now we have a decision to make:
* This change will most probably break @SirVer daily build for the old macOS Version, so do we want to keep them.
* I will investigate if github allows compiling for Apple Silicon and maybe add this. @Noordfrees / @hessenfarmer  any idea?

[2021-11-10 07:22] klaus-halfmann commented on #5103
Added topica macos-app and apple-siicon so we now appear on https://github.com/topics/apple-silicon

[2021-11-10 07:25] Noordfrees commented on #5103
Only these environments are supported by GitHub's CI: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#github-hosted-runners

---

Pushing to LP failed for me yesterday and overnight, now trying one last time…

[2021-11-10 07:34] klaus-halfmann commented on #5103
https://github.com/actions/virtual-environments/issues/2187 and we are not the only ones waiting for this :-)

[2021-11-10 08:52] alasiax commented on #5052
![image](https://user-images.githubusercontent.com/62978355/141080888-4006ddd6-9ca7-4db0-a671-37617887effd.png)

Also got line 563, but can't reproduce.

ETA: Was playing 25489, "Trident of Fire" map

[2021-11-10 10:32] klaus-halfmann commented on #5103
Oh, the binaries build by github actions have only a (broken) symlink for the locale.

[2021-11-10 17:46] klaus-halfmann commented on #5103
@Noordfrees I think I fixed the locale Issue so is is ready to merge, but I am sure we must rever some parts
of that .github/workflows/build.yaml

[2021-11-10 21:30] jmoerschbach commented on #4957
can this be closed because of  #5109? :)

[2021-11-11 08:31] Noordfrees commented on #4957
IMHO, muting all buildings of a type should also remove inbox messages

[2021-11-11 14:17] klaus-halfmann opened #5111 "Epmty Stack exception on m1Arm / Apple Silcon"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

When quitting a game build for AppleSilicon, after running it for a long time I get
==39923==AddressSanitizer CHECK failed: /AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/clang_compiler_rt/clang-1300.0.29.3/compiler-rt/lib/sanitizer_common/sanitizer_posix_libcdep.cpp:191 "((0)) == ((sigaltstack(&

[2021-11-11 16:35] #4630 closed, assigned to Noordfrees

[2021-11-11 18:17] klaus-halfmann commented on #5111
Checking this via a debugger did not enlighten me in any way.
@hessenfarmer where do we start new threads?
Do we start a new thread just before quitting?
Where do we tear down the threads?

[2021-11-11 18:19] klaus-halfmann commented on #5111
Forgot the Dumps
[Crash.txt](https://github.com/widelands/widelands/files/7522477/Crash.txt)
[Crash2.txt](https://github.com/widelands/widelands/files/7522478/Crash2.txt)

[2021-11-12 07:13] klaus-halfmann commented on #5111
Happens in
[code]

almost directly after handling `case SDL_QUIT:`

all in wlapplication.cpp now switching to homebrew llvm

[2021-11-12 14:41] hessenfarmer commented on #5111
@klaus-halfmann
I have no idea as my c++ knowledge is more then limited and I don't understand the Threading at all. So for all Thread related issues please ask @Noordfrees

[2021-11-12 14:53] Noordfrees commented on #5111
The main loop, `WLApplication::run`, runs until `SDL_Quit` is received or Widelands is terminated through some other means. When it finishes running, a `GameLogicThread` goes out of scope and calls `std::thread::join` in its dtor. The backtrace indicates that some low-level backend call in `join()` raises an error.
https://github.com/widelands/widelands/blob/018de194545322bac371426b740e454546ec041

[2021-11-13 14:33] matthiakl commented on #5027
Closed for inactivity

[2021-11-13 14:33] #5027 closed, assigned to nobody

[2021-11-13 18:31] #4959 closed, assigned to Noordfrees

[2021-11-14 09:09] #4897 closed, assigned to Noordfrees

[2021-11-14 09:22] Noordfrees opened #5115 "Get Rid Of Boost"
This issue is to keep track of my progress in completely getting rid of our boost dependencies.

### Low hanging fruit
- [x] String functions (#5101)
- [x] Unify format interface (#5081)

### Next on the hit list
- [x] Format (#5118)
- [x] Signals2 (#5133)
- [x] Unit tests (#5122)

### Might be slightly harder
- [x] asio networking (#5164)
- [X] SHA1 computation and random UUID generation (#5124)

[2021-11-14 12:30] Noordfrees opened #5117 "Add-Ons: Binary File Upload Fails"
I am currently unable to push the latest foreign planet add-on to the server. It keeps failing with a checksum mismatch in an arbitrary PNG file.

Hex dump of the original file and the file received on the server:
[md5_orig.txt](https://github.com/widelands/widelands/files/7533684/md5_orig.txt)
[md5_recv.txt](https://github.com/widelands/widelands/files/7533685/md5_recv.txt)

From offset 00000df0

[2021-11-15 13:03] SirVer commented on #5115
@Noordfrees Can you outline why you want to get rid of boost as dependency?

[2021-11-15 13:45] Noordfrees commented on #5115
There are some good posts about the drawbacks of Boost [here](https://gamedev.stackexchange.com/questions/8980/why-dont-c-game-developers-use-the-boost-library) and [here](https://www.reddit.com/r/cpp/comments/gfowpq/why_you_dont_use_boost/), but mostly this is about Boost being by a large margin the dependency that gives us the greatest amount of recurring compatibility trouble:

- https://www.wi

[2021-11-15 20:06] SirVer commented on #5115
I am too far removed from the daily development to truly judge if the trouble is worth the effort, I can only judge the effort - which seems pretty large to me. Your argumentation makes sense to me though, it just seems like a very big task.

[2021-11-15 22:24] tothxa commented on #5115
If this effort succeeds, it will be a benefit for flatpak packaging as well. Boost is the only external library that's not included in the freedesktop.org runtime and SDK, neither in the semi-official submodules (https://github.com/flathub/shared-modules/pull/14). Boost build and installation in the flatpak build environment takes about as long as the actual compilation of Widelands afterwards, an

[2021-11-16 07:48] klaus-halfmann opened #5119 "Thread Sanitizer Issues around Addons"
After fixing #5031 I will us this Issue to collect more Threading Issues.

* Deleting an Add-On:  [TSAN.txt](https://github.com/widelands/widelands/files/7544240/TSAN.txt)
* Udating two Addons  [TSAN.txt](https://github.com/widelands/widelands/files/7544257/TSAN.txt)
* Loading Addons  [TSAN.txt](https://github.com/widelands/widelands/files/7544267/TSAN.txt)
* Leaving Add-ons Screen [TSAN.txt](http

[2021-11-16 07:56] Noordfrees commented on #5119
The main menu is completely single-threaded except for LAN / lobby / MP setup; only in-game and editor are multithreaded…

[2021-11-16 08:17] klaus-halfmann opened #5120 "Threading Issues based on a replay"
After fixing #5031 I will us this Issue to collect more Threading Issues.

No Issues around Options.

**To Reproduce**

Use this replay: [testreplay.zip](https://github.com/widelands/widelands/files/7544473/testreplay.zip)

./widelands --replay=~/.widelands/replays/testreplay_nethost.wrpl 2>&1 | tee TSAN_replay.txt
While watching switch between the two players on the map.
Press 'c', 's', set Map B

[2021-11-16 14:57] #5031 closed, assigned to matthiakl

[2021-11-17 14:35] Noordfrees opened #5123 "Random Number Generator is Never Seeded"
The random number generator (`RNG`) that deterministically generates all pseudo-random events in a game is never actually seeded, so that all games always use the exact same sequence of random numbers.

The RNG must be seeded with a truly random number (e.g. `SDL_GetTicks()` or `clock()`) exactly once at the start of every game.
In MP matches, the seed value must also be distributed from the host

[2021-11-17 14:41] klaus-halfmann commented on #5123
To reproduce bugs it should be possible (in Debug builds only) to set this value.
So we are able to reproduce the exact startconditions etc.

[2021-11-18 13:46] #5082 closed, assigned to nobody

[2021-11-18 13:46] #5103 closed, assigned to nobody

[2021-11-18 22:14] matthiakl opened #5126 "Multiplayer template game crashes"
**Describe the bug**
When loading a multiplayer template game, the game crashes with
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run Widelands with `--new_game_from_template=` with [ this template ](https://github.com/widelands/widelands/files/7566354/mp_test.txt)
2. See error

**Version:**
 - Widelands Version: master `77ffd853`

[2021-11-19 10:00] hessenfarmer commented on #5052
it happens in line 351 as well
and the original line 584 is now 652 due to the Mousewheel handling change

[2021-11-19 10:11] hessenfarmer commented on #5052
so the error is that nr_icons_ is zero or nil. as this is initialized wit the inoutqueuedisplay this should not happen unless there are no queuees to be displayed. this migh be the case in a constructionsitewindow where the last ware has been consumed or in any other intermediate state of the building (e.g. constructionsite set but not initialized in economy, same for enhancing)
maybe we can find

[2021-11-19 10:56] Noordfrees commented on #5052
It's annoying me too as I wrote that code and could never yet reproduce the bug…

`nr_icons_` is effectively constant. It's initialized in the constructor and then never changed. So there are two possibilities: one, that the variable is read *before* it's been initialized, in which case it's a random sequence of bytes. This should not be possible because the member functions can not be accessed be

[2021-11-19 13:19] hessenfarmer commented on #5052
would it help to insert some lines of logging code into this to get useful information from crash logs?
if we would insert this in master the next one who is experiencing the crash could easily help with some information

[2021-11-19 14:14] Noordfrees commented on #5052
Good idea, I'll make a branch

[2021-11-19 19:30] hessenfarmer commented on #5022
@matthiakl
for the moment being this had been workarounded a while. However I'd like to ask if you could elaborate whether solution 2 would be feasible. (i.e. make a github action to build a static build in msvc.)

[2021-11-19 23:28] matthiakl commented on #5022
I already checked, that the tools are available. So using MSVC in the CI should be possible.
Regarding the licensing, I posted a question on the Github community/support forum (https://github.community/t/github-action-visual-studio-licensing/213190/1)
I will try to put together a build script.

[2021-11-20 19:29] #5126 closed, assigned to matthiakl

[2021-11-21 18:43] matthiakl commented on #5022
Ready for testing in #5132

[2021-11-22 15:02] #4957 closed, assigned to nobody

[2021-11-23 18:18] frankystone opened #5135 "Tests failing on release builds"
After pulling the latest changes compiling a release build fails with segfaults during tests. Compiling a debug build works.

[code]

This happens also with a clean build (deleting the build directory prior compiling).

Running regression tests gives no errors (after compiling with `./compile-sh -r -s`) .

 - OS: archlinux
 - Widelands Version: Build is 1.1~git25528[776dcf0@master](Release)

Some

[2021-11-23 18:35] Noordfrees commented on #5135
This is a [known problem](https://github.com/widelands/widelands/pull/5122#issuecomment-972647161) since #5122 which I could not reproduce locally. Can you please run some of the tests in gdb and post the backtrace?
[code]

[2021-11-23 18:52] Noordfrees opened #5136 "Widelands Version String Generates Erratic Markdown"
Development versions of Widelands have the format
[code]
e.g.
[code]
Unfortunately, when posting something containing `[hello](world)` in a Markdown-interpreted form (e.g. a GitHub issue or the forum turns this into a link to `world` displayed as `hello`. This makes the pasted version string much harder to read, and on GitHub it additionally prevents GitHub from automatically linkifying the commit

[2021-11-23 19:12] frankystone commented on #5135
[code]

There is no folder called 'gcc' below the build directory and a folder called  'libstdc++-v3' isn't on my machine at all.

[2021-11-23 19:29] frankystone commented on #5135
Ah i forgot: The last version before i used was `git25518[738830e@master]` (copied from a savegame). This version didn't show the test segfaults, afair.

[2021-11-23 19:35] Noordfrees commented on #5135
After looking at the not.much-of-a-backtrace I think I now understand what's going on, and I'll try to create a fix. However without being able to test locally this won't be trivial…

The problem is most likely a wrong initialization order, where the global variable `Testsuite all_testsuites_` is written to by one .cc file before it has been properly instantiated in another .cc file. The reason wh

[2021-11-23 19:39] frankystone commented on #5135
To long away from gdb so i forgot to call the backtrace :-D But i think because of a release build it isn't very useful:

[code]

[2021-11-23 19:50] Noordfrees commented on #5135
Can you please try if the following patch over 1.1~git25529[fe7992d@master] fixes the problem, or failing that, what backtrace it gives?

[code]

[2021-11-23 20:16] frankystone commented on #5135
Either i am doing things wrong or the patch is faulty?

[code]

[2021-11-23 20:24] Noordfrees commented on #5135
Okay seems like git is generating a patch it can't parse itself :P
Next try, please overwrite your `src/base/test.h` with the contents of this file: [src/base/test.h](https://github.com/widelands/widelands/files/7590806/patch.txt)

[2021-11-23 21:32] hessenfarmer commented on #4558
well with intensive debug logging at last I found a major difference which points to an initialization problem:
- in a normal game the Ai is only evaluating its own military buildings for construction, while in a scenario all military buildings of each tribe are evaluated so if a building of a different tribe gets the highest score nothing is built. this is the reason why frisian scenario AI perfo

[2021-11-24 01:41] MarkMcWire commented on #5052
For me, the bug always occurs when I right-click on an unfinished building. However, the intervals seem to vary randomly. Sometimes it happens with the very first click, sometimes not until the tenth. But it always happens in the course of a game, I never managed more than 40-50 building clicks before the error occurred.

There doesn't seem to be a pattern either, meaning that the bug is not relat

[2021-11-24 07:12] Noordfrees commented on #4558
Looks like you found it 🚀 🚀 🚀
If I add `&& p.tribe().has_building(id)` to this line then the AI players seem to behave normal in fri03 and fri04

[2021-11-24 07:32] hessenfarmer commented on #4558
I added the check for having tribes buildings at the place where it is necessary rather then in the definition of the buildable property to interfere as low as possible with other places in the code. If we change the property we need to analyze all other places where this is used. If I have time I'll try to analyze them whether the definition is wrong in all cases and the definition should be corr

[2021-11-24 07:51] hessenfarmer commented on #4558
update: I checked the definition in all cases and corrected it in the way you suggested.

[2021-11-24 08:55] hessenfarmer commented on #5135
tested the patch in MSYS and it is not working. still segfaulting

Reading symbols from C:\msys64\home\Stephan\static\src\base\test\test_base...
(gdb) run
Starting program: C:\msys64\home\Stephan\static\src\base\test\test_base.exe
[New Thread 19212.0x4968]
[New Thread 19212.0x3764]
[New Thread 19212.0x10d8]

Thread 1 received signal SIGSEGV, Segmentation fault.
0x00007ff77310965a in std::local_Rb_

[2021-11-24 08:58] Noordfrees commented on #5135
Ok thanks for testing. This was the quick-and-easy attempt, I'll make a slightly larger branch with a different approach later today

[2021-11-24 09:38] Noordfrees commented on #5135
This was easier than expected, please try this patch: [patch.txt](https://github.com/widelands/widelands/files/7594460/patch.txt)

[2021-11-24 09:54] hessenfarmer commented on #5135
fix confirmed

[2021-11-24 15:00] #1006 closed, assigned to nobody

[2021-11-24 15:00] #4911 closed, assigned to nobody

[2021-11-24 15:00] #4087 closed, assigned to nobody

[2021-11-24 15:00] #4558 closed, assigned to nobody

[2021-11-24 15:00] #4669 closed, assigned to nobody

[2021-11-24 16:03] #5135 closed, assigned to Noordfrees

[2021-11-24 16:44] frankystone commented on #5135
Pulled the latest changes and all is fine.

Thanks hessenfarmer for being so quick with replies :-)

And thanks Noordfrees for all your work :-)

[2021-11-24 21:10] Noordfrees commented on #5052
Thanks :)
Apparently the queue that causes the crash is the dropout queue at an enhancement-constructionsite where leftover mead is being carried out. The mead queue has already been emptied at the time the window is opened, but the queue is still visible. Since the queue visibility is set only on first think() it may, as a race condition, receive a UI event or a redraw command before it auto-hide

[2021-11-24 21:56] tothxa opened #5140 "Unit replacement by addons doesn't work"
**Describe the bug**
It is not possible to replace units by addons. Neither the `__replace_if_exists`, nor the `__skip_if_exists` attribute works.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the following addon: [test_immovable_replace_wad.zip](https://github.com/widelands/widelands/files/7598811/test_immovable_replace_wad.zip)
2. Start a new game
3. Get fatal exception when conf

[2021-11-25 07:26] Noordfrees commented on #5140
In v1.0 this bug has actually been reported. In current master this is always encapsulated in a try-catch block in `MainMenu::create_safe_game` so this should no longer happen.

[2021-11-25 09:23] tothxa commented on #5140
Sorry, I didn't check that. Then the solution in the PR is enough.

[2021-11-25 11:56] hessenfarmer commented on #4969
closed as it is a website bug only

[2021-11-25 11:56] #4969 closed, assigned to nobody

[2021-11-25 17:04] frankystone commented on #4969
As far i remember the buildcost for upgraded buildings (buildcost which needs a building for upgrading) wasn't there for years. See e.g.: https://github.com/widelands/widelands-website/issues/132#issuecomment-527968311

The reason is that this info (beside some other infos) isn't extracted by wl_map_object_info. E.g.: the extracted info for an empire barrier (which can be enhanced form an outpost)

[2021-11-25 17:31] frankystone commented on #4969
Initially the idea of the website encyclopedia was to give the player some sort of help. It was created before the in game help was available. And i remember also that on the long run the website encyclopedia should be fully replaced by the ingame help (which i think is the better way). Nevertheless it can be helpful for scripting.

So all in all i am unsure if the buildcost for upgraded buildings

[2021-11-25 17:52] klaus-halfmann opened #5142 "Implement Ranking and Achievements"
** Ranking **

There is some way that a player gets a Ranking based on Games played/lost/won.
So when player meet each other in the Lobby the can judge how good the other player may be.

** Achievements **

There is a List of achievements a player has reached:
 * Has played Bar/Emp/Atl/Fri/Ama ...
 * Has won a game playing Bar/Emp/Atl/Fri/Ama ...
  - Against AI
  -  Against an Online player
 * has

[2021-11-25 18:26] Noordfrees commented on #5142
I like the idea a lot, especially as this gives players who like to play peacefully and for longer than the 4 hours limit of most win conditions more objectives to aim for.

We must really take care to have a sizeable number of very difficult Achievements though – the moment a player thinks they have achieved all Achievements, they will feel like they have "beaten" the whole game, and Widelands ma

[2021-11-26 07:32] #5140 closed, assigned to tothxa

[2021-11-27 01:26] MarkMcWire commented on #5052
[code]

[2021-11-27 17:59] MarkMcWire commented on #5052
@Noordfrees Occurs also on dismantlesite. Same bug?

[2021-11-28 19:05] frankystone commented on #4929
This is current master Version 1.1~git25536[a1c3ba9@master] (Release)

Here is a savegame, map Europe 1.2.. If you start the game you will see the port i just built and two construction sites which needs some wares.  Just dismantle or destroy another port, e.g. the one shown in the bottom right window. After my ships arrive at a port, they get stuck.

[destroy_a_Port.zip](https://github.com/widela

[2021-11-28 20:16] Noordfrees commented on #4929
I cannot reproduce this with b4c1560 – I loaded your savegame and dismantled the port in the bottom-right watchwindow, but all ships continued to carry wares and workers around normally, e.g. between the port in the top-right watchwindow and the colony in the main view. The constructionsites are completed and occupied after a while.

[2021-11-28 21:23] MarkMcWire commented on #4929
@Noordfrees
I can confirm the issue. Happened to me sometimes in the current master build, too. As soon as a port that is currently being approached by a ship has been destroyed, the entire seafaring of the corresponding player comes to a standstill. As soon as the game saves and reloads, it continues as normal. I suspect that has something to do with the broken chain of routes for the transported

[2021-11-29 07:58] frankystone commented on #4929
ok, next try...

Load attached savegame. Look where the ship called Alexandria (top right window) is sailing to (its in the north of Spain). Then destroy or dismantle this port (on Spain). Alexandria's destination now changes to the port  in the north of France. As soon it arrives at this port the ship get some wares and the destination changes to the port on England, but the ship stuck at the por

[2021-11-29 11:43] Noordfrees commented on #4929
Still cannot reproduce… after arriving at the French port, *Alexandria* receives a shipment of marble for England and promptly delivers it there. The ship then continues sailing to the Mediterranean port in the bay between Italy and Spain (South of France? Spain? My geography is not that great ;P )

[2021-11-29 16:05] frankystone commented on #4929
hm, strange. Can anyone else reproduce? Beside the different versions of widelands, can Debug vs. Release builds make a difference?

During this game i got this issue several times. As Mark said: It disappears after saving and reloading.

[2021-11-29 20:21] matthiakl commented on #5136
My suggestion is to remove the `()` around the build type and use them for the branch info instead:
`1.1~git25529 (fe7992d@master) Release`
I also had the idea to reorder the string, to have the explicit version info in front and the additional git info afterwards, but I guess this is not feasible, since the build type is evaluated later:
`1.1~git25529 (Release) [fe7992d@master]`

[2021-11-30 07:17] #1081 closed, assigned to matthiakl

[2021-11-30 07:17] #5022 closed, assigned to matthiakl

[2021-11-30 12:28] Noordfrees commented on #4914
Bug report: The new checkbox in the sound options always uses the FsMenu font and panel styles, but this needs to be FsMenu or Wui depending on whether the sound options panel is part of the main menu option dialog or the in-game sound options window.

![grafik](https://user-images.githubusercontent.com/48293446/144047380-19a2e58a-78cf-41ae-a394-c6395a090d5f.png)

[2021-11-30 19:49] frankystone commented on #4929
Another try: one player game on map Fellowships

If i load the attached savegame and dismantle/destroy the seen port, the ship Amolius is turning and sailing to another port. Looking at the new destination of Amolius and waiting for Amolius to arrive this happens here reproducible:

1. Amolius arrives and get stuck
2. Every ship which arrives at this port get stuck also (next ship is Saturn, then

[2021-11-30 20:26] Noordfrees commented on #4929
Arrrgh… It looks like a bug where the start and end of a path are inverted again. I thought I had squashed that one *ages* ago, it used to appear all the time in the testsuite and was gone after one of the shipping algorithm refactorings. Those are near-impossible to chase down because they're hard to trigger and they always go away after reloading.

What appears to be happening, judged solely fro

[2021-12-02 12:23] Noordfrees commented on #3232
Closed by #5090, and followed up by #5100

[2021-12-02 12:23] #3232 closed, assigned to nobody

[2021-12-02 16:21] frankystone commented on #4929
Yes in this game i dismantled and re-added a port. But in the game mentioned earlier this wasn't the case.

A check if the route is still valid doesn't work? Maybe it's too much calculating?

[2021-12-03 12:08] Noordfrees commented on #4929
This would only address the symptom but not the actual problem. A route should not become invalid in the first place, ever. And when a bug is addressed symptomatically it might just cause other, possibly worse, follow-up bugs elsewhere.

This evening I'll do what proved so successful for #5052 – I'll make a branch with lots of debug output and hope that you can reproduce the bug there so the logs

[2021-12-03 13:11] tothxa commented on #5115
Sorry if you were already aware of it, but `asio` is available as a separate library as well:
* https://think-async.com/Asio/AsioAndBoostAsio.html
* https://github.com/chriskohlhoff/asio

It is packaged in Debian and Ubuntu as libasio-dev. Though it `recommends` some boost-dev libraries.

[2021-12-03 14:21] Noordfrees commented on #5115
Thanks! I had not known that, that's great news :)

[2021-12-04 17:32] klaus-halfmann opened #5148 "Update of macdylibbundler may have broken arm and eventually x86 MacOS build"
Macdylibbundler has been updated to add the missing codesigning: https://github.com/auriamg/macdylibbundler/pull/71

I tried to build an m1Arm build but starting the App fails with an obscure message like
[code]

Where can I find the latest .dmg build to verify this. meanwhile I have created a local branch "ma1rm2" to check this.
May I will push this once I got an idea how to fix this.

[2021-12-05 12:36] Noordfrees commented on #1702
I've been looking into this and the map object saving code actually seems fine like it is. On the one hand, we have Flags, Roads, Waterways, and Buildings, which are registered and saved via a dedicated pair of two packets each. On the other hand, we have all other objects, such as Bobs (critters, workers, ships), plain Immovables, PortDocks, Battles, and Ship and Ferry Fleets, which are saved in

[2021-12-05 14:31] #3150 closed, assigned to nobody

[2021-12-05 14:33] Noordfrees commented on #5148
You can always find the latest builds under this link: https://github.com/widelands/widelands/releases/tag/latest

The DMGs are compiling and building fine, though there's no automated testing whether they actually work.

[2021-12-05 14:48] Noordfrees commented on #1603
This change would require a lot of the shipped maps to be edited, but it would also break hundreds of user-made maps on the homepage, all for a purely cosmetic effect. I propose closing this proposal as wontfix.

[2021-12-05 14:51] Noordfrees commented on #1578
Since this issue was opened, the directory structure has apparently changed a lot, so it no longer applies to the current source code layout.

[2021-12-05 14:51] #1578 closed, assigned to nobody

[2021-12-05 14:53] Noordfrees commented on #1587
Is this still valid, or have all occurrences been cleaned up already?

[2021-12-05 15:01] Noordfrees commented on #974
If this bug is even still valid, although possible, good luck trying to fix it for 1.1 using only build 18 :D

If this still happens we need a new bug report with an up-to-date way to reproduce, but this issue is no longer helpful or relevant now.

[2021-12-05 15:01] #974 closed, assigned to nobody

[2021-12-05 21:26] master-passeli opened #5150 "Chat message sending causes fatal exception/crash"
In multiplayer game, char message sending caused a fatal exception and game crash.
The error game gives to STDOUT was:
[code]
I was about to send chat message. I typed a message but when I was sending message with ENTER key I think I mistyped backspace at the same time. This caused instant crash of the game.

**To Reproduce**
I can not 100% reproduce this but what I did was:
1. Open chat window on

[2021-12-05 21:55] hessenfarmer commented on #1720
As we can't determine this anymore from fps we will move this to AI code so we just need to update the documentation.

[2021-12-06 11:40] #2146 closed, assigned to nobody

[2021-12-06 11:49] klaus-halfmann commented on #4929
I found the same Issue here
[EuroCrash.wgf.zip](https://github.com/widelands/widelands/files/7660413/EuroCrash.wgf.zip)

[2021-12-06 12:31] Noordfrees commented on #4929
I can't even get any meaningful log output out of this tangled paths and ports storage concept… I'll leave this bug for someone who enjoys jungle exploration ;)

[2021-12-06 20:12] hessenfarmer opened #5152 "tag creation triggers superfluous appveyor built"
the autoamted updated tag introduced with #5143 triggers an additional appveyor build.

any way to circumvent this would be welcome. maybe we could add the tag before buolding everything

[2021-12-06 20:16] Noordfrees commented on #5152
I have disabled building tags in the appveyor settings now, let's see if this fixes it next time the tag is updated

[2021-12-07 07:44] hessenfarmer commented on #5152
just had a look in the settings again and the flag to not build tags was not set. I have added this setting again however appveyor settings in the webcenter are widely ignored if an appveyor.yml is provided . if it does not work in the next run we need to include this setting in the appveyor.yml

[2021-12-09 13:31] hessenfarmer commented on #5152
Worked with the latest commit so I am closing this

[2021-12-09 13:31] #5152 closed, assigned to nobody

[2021-12-09 15:50] hessenfarmer commented on #5152
I was to quick. tried another solution directly in master.

https://github.com/widelands/widelands/commit/0b25706e056c1a540197df4d8cb2c1be49bcd8df

[2021-12-10 10:43] hessenfarmer commented on #5152
using the appveyor.yml did the trick

[2021-12-11 15:44] frankystone commented on #4929
Another one...
This is Widelands Version 1.1~git25546[42089b9@master] (Debug)

Load the game and wait for the ship called 'Remus' get full of wares. Then destroy the port in the watch window on the top. 'Remus' turns back and get stuck at the port where it got the wares.
Here i can reproduce it on every load of the save game.

The destroyed port was the first port i built in this game (just to men

[2021-12-11 16:01] Noordfrees commented on #4929
This time I can reproduce the bug :)
Will have a go at it with a debugger now…

---

It's a mess. The three remaining ports are
[code]
But the new cached portpaths are
[code]
But I can now try to fix or refactor the remapping (emphasis on *try*)…

[2021-12-12 10:44] frankystone opened #5155 "Expedition can't find port space although it is shown in buildhelp"
After destroying/dismantling a port, an expedition ship doesn't find the port space anymore. After some Roads/Buildings around the port space are destroyed the expedition ship finds the port space.

**To Reproduce**
1. Load attached save game
2. Let the expedition ship try to find the open port space -> It can't find it
3. Destroy roads around the port space
4. Let the expedition ship try to find

[2021-12-12 10:51] Noordfrees commented on #5155
This is where the availability of an expedition port space is checked. It assumes that you won't build a port in a place where you already have flags and roads and buildings in certain nearby spaces:
https://github.com/widelands/widelands/blob/7f3312646a24853e8353c543a260bd43ba9a62a0/src/logic/map_objects/tribes/ship.cc#L56-L100

[2021-12-12 11:06] frankystone commented on #5155
So initially this was meant to not bother a player with 'Port space found' messages for already owned land...

Can there be a check for warehouses/ports in the corresponding economy?
If economy has_not warehouse then find port_space... or so :-D

Or implement #4574 and remove some of the checks?

[2021-12-17 18:15] frankystone commented on #3448
Thoughts and questions about the current encyclopdias immovable tab (using Empire tribe, no opponents):

![current_encyclopedia](https://user-images.githubusercontent.com/6730556/146585671-3fcc19dc-4577-4da8-8cdb-faa29adb17c5.jpg)

- Is the intention for the immovable tab to show immovables the current player can use? If so: Can the tooltip be changed into "Immovables used by your tibe"?
- Current

[2021-12-21 13:38] Noordfrees commented on #1035
Desired behaviour as explained in https://github.com/widelands/widelands/issues/1082#issuecomment-529419243

[2021-12-21 13:38] #1035 closed, assigned to nobody

[2021-12-21 13:54] Noordfrees commented on #2022
Yes, it is

[2021-12-21 13:54] #2022 closed, assigned to nobody

[2021-12-21 14:01] Noordfrees commented on #3271
This issue has sort of fixed itself a few releases later…

[2021-12-21 14:01] #3271 closed, assigned to nobody

[2021-12-21 19:36] spth opened #5166 "Multiplayer game diverging"
During multiplayer game, the game diverged a lot. This was first noticed in the score graphs, but looking at the savegames on host vs. client, there is a massive difference for the orange and grey players.

Further details (and links to savegames) can be found in the forum thread:

https://www.widelands.org/forum/topic/5476/

[2021-12-21 19:38] spth commented on #5123
Reinitalizing on savegame load would make it much harder to reproduce bugs. So I'd be opposed to that (no matter if debug or release build).

[2021-12-29 17:24] klaus-halfmann opened #5172 "Basic Tutorial: Assertion failed is_initializer_thread() - file texture.cc, line 162. in show Map"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

Playing the Basic Tutorial on master gives me a Thread related assertion.

**To Reproduce**
Steps to reproduce the behavior:
1. Open SinglePlayer->Tutorials, Basic Control
2. Wait until the Map view should be shown
3. 3. I get [00:02:20.702 real] INFO: Selecting current item in dropdown 'dropdown_menu_mapview'

[2021-12-29 17:28] klaus-halfmann commented on #5172
Crashlog from Apple Crashreporter [Crash.txt](https://github.com/widelands/widelands/files/7789977/Crash.txt)

[2021-12-30 11:40] Noordfrees opened #5175 "Savegame from scripting does not trigger "Saving game?" message"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
When a Lua script triggers a savegame, the "Saving game…" message that is normally shown in the info panel during a save does not appear. The game seems to briefly hang with no indicator that a save is in progress.

**To Reproduce**
Steps to reproduce the behavior:
1. Start any tutorial or scenario
2. Fulfil an

[2021-12-30 17:34] #5172 closed, assigned to Noordfrees

[2021-12-30 17:36] #5115 closed, assigned to Noordfrees

[2021-12-31 00:30] tothxa opened #5177 "Build failure on aarch64 in base/format/common_nodes.h"
The flatpak beta aarch64 build of 7841615 failed. The error message was:
[code]

Build log is temporarily available at https://flathub.org/builds/#/builders/20/builds/5528 (error message is only visible in full log at line 3223 of 3299)

Flatpak manifest at: https://github.com/tothxa/org.widelands.Widelands/commit/c321301a1087a391bc5d58d2a2d54a59ce713b32

[2021-12-31 15:43] Noordfrees commented on #5058
Partly regressed in 1.1~git25571[c898083@master] (Release):
1. Open the single player game setup menu
2. Choose a map, click OK
3. Click on any player's **tribe** dropdown, then click on any entry. (Other dropdowns don't seem to be affected.)
4. Press <kbd>Enter</kbd> → nothing happens

[2021-12-31 17:32] frankystone opened #5180 "Disabled addon cause GameDataError but the error can be tricked out"
The attached map was made with the add-on no_default_resources.wad.

1. If the addon is installed but disabled and one tries to load the map (Hotkey `b`), the open map dialog shows a Game Data Error but no conflicts with the addon:
![game_data_error](https://user-images.githubusercontent.com/6730556/147833413-cd1fea16-6c5b-4d73-889a-ea82e89fd00a.jpg)
The map can't be loaded and it is difficult to

[2021-12-31 18:05] Noordfrees commented on #5180
Ouch, not trivial. When the dry barren summer steppe registers the dry summer steppe as its enhancement, a Notification is published to ensure that the enhancement is a valid and loaded terrain type. This Notification is sent to *all* `Descriptions` instances *every one of which* performs this check. When we load a map "normally" (e.g. via <kbd>W</kbd>), there is only 1 `Descriptions` instance so

[2021-12-31 19:44] #5177 closed, assigned to Noordfrees

[2022-01-01 12:50] MarkMcWire opened #5181 "Can't build source code, because asio.hpp doesn't exist"
[code]

[2022-01-01 12:52] Noordfrees commented on #5181
The [Asio](https://think-async.com/Asio/) library is a new dependency (replacing boost), please install it

Edit: We don't yet have a CMake check if it's installed, but I happen to be working on writing such a check just now :P

[2022-01-01 12:57] klaus-halfmann commented on #5181
Same here, installed asio via homebrew, all fine.

We should however check the homepage for the build instructions to mention this.

[2022-01-01 13:04] Noordfrees commented on #5181
I updated https://www.widelands.org/wiki/Building%20Widelands/ yesterday to point to the script
[code]
which will install all dependencies (including asio) on most supported systems, including homebrew.

[2022-01-01 13:08] MarkMcWire commented on #5181
Autodetecting operating system...
ERROR. Unable to detect your operating system.

I use Solus 4.3

[2022-01-01 13:11] Noordfrees commented on #5181
Solus is not supported yet, presumably because no developer ever used this system ;) If you could provide the command-line to install all dependencies needed to compile Widelands under Solus we can add it to the list of systems supported there

EDIT Ah this was on the wiki already so no need…

[2022-01-01 14:05] MarkMcWire commented on #5181
There exists no libasio for Solus.
The manual compilation doesn't work either, I've tried. :-(

[2022-01-01 14:10] Noordfrees commented on #5181
Hm :(
I'm going to build a Solus VM and have a look…

[2022-01-01 17:24] tothxa commented on #5181
The Asio documentation is indeed not clear at all. You don't have to compile anything to use it, but the release includes examples, which are compiled by default (and need boost). I figured out from the FreeBSD sources that you can use the `install-data` target, ie. `./configure && make install-data`. (Actually all this does is copy `asio.hpp` and the `asio` subdirectory from the `include` directo

[2022-01-01 17:46] MarkMcWire commented on #5181
I've installed a second OS (LinuxMint 20.2) on my PC on another SSD I put in today. I'll try to use widelands there.

[2022-01-03 20:06] #5035 closed, assigned to nobody

[2022-01-04 12:14] #5100 closed, assigned to Noordfrees

[2022-01-05 08:41] #5181 closed, assigned to Noordfrees

[2022-01-06 12:31] Noordfrees opened #5192 "Hotkeys should override dropdown filtering"
When a dropdown is open and a character key that is also the hotkey for one of the dropdown's entries is pressed, processing the hotkey should take precedence over filtering the dropdown.

Examples:
- In the main menu, press <kbd>S</kbd> to open the singleplayer dropdown. Then press <kbd>L</kbd>.
  **Result**: The dropdown is filtered for entries containing »L«.
  **Expected**: The Load Game windo

[2022-01-06 12:34] Noordfrees opened #5193 "Moving mouse away from dropdown does not clear filter"
1. In the main menu, press <kbd>S</kbd> to open the single player dropdown.
2. Press <kbd>L</kbd> to filter for entries containing »L«.
3. Move the mouse away so the dropdown closes.
4. Press <kbd>S</kbd> again to reopen the dropdown.
5. Press <kbd>L</kbd> again. The dropdown now has no entries.

Version 1.1~git25583[8eafdfb@master] (Release)

[2022-01-06 12:36] Noordfrees opened #5194 "Dropdown button remaining perm-pressed"
In the Singleplayer Launch Game screen, click on a player's tribe dropdown to open it, then click on a tribe to select this tribe and close the dropdown, then press Esc to clear the selection marker. The dropdown remains permanently pressed:
![grafik](https://user-images.githubusercontent.com/48293446/148383923-ccd20897-19b8-448a-a8de-70a31631c0d3.png)

Version 1.1~git25583[8eafdfb@master] (Releas

[2022-01-06 12:41] Noordfrees commented on #1935
No reply for over 1½ years, closing as wontfix

[2022-01-06 12:41] #1935 closed, assigned to nobody

[2022-01-06 20:36] #5052 closed, assigned to nobody

[2022-01-07 11:18] hessenfarmer opened #5197 "trident of Fire: initialistaion algorithm does not work properly"
In the Multiplayer scenario "Trident of Fire" some code is implemented to ensure there are always 6 active players. where 3 of them can be human, or AI. However this code does not work properly.  (i.e. with only one human player there are only 4 real players which are initialised. and the 2 dummy slots purple and white are shown but not initilaised.