[2020-10-19 18:58] Noordfrees commented on #4378
Unfortunately compiling with ASan always results in Widelands exiting with an error code due to memory leaks in libraries which we use. That's something we cannot fix I believe.
If you pass the `-a` switch to `compile.sh`, ASan will be disabled and everything should work fine.

[2020-10-19 23:39] Niektory commented on #4378
Clean the build directory before doing this, otherwise ASan might not be properly disabled.

[2020-10-20 06:35] #1561 closed, assigned to Noordfrees

[2020-10-20 06:52] gunchleoc commented on #4367
I'm always on a current development build.

[2020-10-20 07:44] #4237 closed, assigned to Niektory

[2020-10-20 09:00] Niektory opened #4380 "Low Productivity editbox bugs"
1. Typing a letter in the Low Productivity editbox results in an error:
`terminate called after throwing an instance of 'boost::wrapexcept<boost::bad_lexical_cast>'`
2. The box loses focus after a short moment.

**To Reproduce**
1. Start a game.
2. Build some buildings.
3. Open Statistics -> Buildings.
4. Click one of the building types you have.
5. Click on the percentage number next to "Low Prod

[2020-10-20 10:00] Vipeltaja commented on #4378
That solved the problem. Thanks for the help!

[2020-10-20 10:00] #4378 closed, assigned to nobody

[2020-10-20 12:00] Noordfrees commented on #4380
This editbox is awkward to use in my opinion even without those bugs. How about replacing the editbox with a spinner?

[2020-10-20 12:02] Noordfrees commented on #4374
We should additionally consider converting the InputQueueDisplay to a subclass of UI::Box. It contains so many child elements with hardcoded positions and spacings that it is getting harder and harder to maintain. Only after #4376 is merged though.

[2020-10-20 12:10] Vipeltaja opened #4382 "Windowed mode gets stuck in top left corner of the screen"
**Describe the bug**
When the game is opened and the resolution is set to be higher than or equal to the screen's resolution the game's titlebar goes beyond the top edge of the screen (even when fullscreen is unticked in the options menu). Changing the resolution still works but the gamewindow stays stuck in the top left corner of the screen.
No settings from the options-menu seemed make a differe

[2020-10-20 12:25] Niektory commented on #4382
Could you test with the current development version? There have been changes since Build 21 that may have changed this behavior. You can build it yourself or see https://www.widelands.org/wiki/Download/ for pre-compiled builds.

[2020-10-20 12:50] Noordfrees commented on #4362
This seems very involved. It appears that every coroutine has its own lua_state* with its own stack and I don't see where those should be persisted……
WIP branch https://github.com/Noordfrees/widelands/tree/4362_saveload_lua_textdomains

[2020-10-20 13:05] Vipeltaja commented on #4382
Downloaded and installed the pre-compiled build (1.0~git24950[d4ceb37@HEAD] (Debug))
Setting resolution to 1920x1080 and restarting the game had the same result. (1920x1080 screen resolution)

Downloaded and installed the pre-compiled build (1.0~git24950[d4ceb37@HEAD] (Release))
Setting resolution to 1920x1080 and restarting the game had the same result. (1920x1080 screen resolution)

Build was fr

[2020-10-20 13:06] Vipeltaja commented on #4382
![Screenshot2](https://user-images.githubusercontent.com/73128379/96589982-222fb380-12ee-11eb-9b65-6b5cfac84806.png)

[2020-10-20 13:19] Noordfrees commented on #1686
Does this still happen? We have several scrolling boxes now and they all seem to work fine

[2020-10-20 14:09] Niektory commented on #4382
I'm reluctant to add window-moving code to deal with this issue as it's OS-specific, easy to avoid and easy to work around. I'd rather discourage picking the biggest window size and recommend using Maximized or Fullscreen instead.

[2020-10-20 14:12] Vipeltaja commented on #4382
Maximized seems to work well for this specific use. As it has been implemented already.

[2020-10-20 14:12] #4382 closed, assigned to nobody

[2020-10-20 16:04] gunchleoc commented on #1686
This was fixed with https://github.com/widelands/widelands/commit/e48db4008ae6c9a2572e5bc61d901db0b57385dc

[2020-10-20 16:04] #1686 closed, assigned to nobody

[2020-10-20 16:26] gunchleoc commented on #4380
For a spinner, we'll need to make the window wider, which I was trying to avoid.
Maybe put it in an additional row on the bottom?

[2020-10-20 16:30] Noordfrees commented on #4380
Another row on the button for the spinner would be fine.

By the way – are the labels meant to have different font sizes?
![shot0001](https://user-images.githubusercontent.com/48293446/96615885-282f8f80-1302-11eb-8f1c-a72c4859c07e.png)

[2020-10-20 16:31] Niektory commented on #4234
Upon investigation there's actually a memory leak here (in `PartiallyFinishedBuildingDetails::constructionsite::intermediates`). Not so easy to fix though – unions are hard to use correctly...

[2020-10-20 16:52] gunchleoc commented on #4380
I don't remember - I did quite a lot of fiddling with the alignment for the editbox back then. Do feel free to change it, but it does need to stay small.

[2020-10-20 18:10] Noordfrees opened #4383 "Move config files to new directory"
Move the `~/.widelands/config` and the `~/.widelands/save/*.conf` to a new directory `~/.widelands/settings`

---

This is actually more difficult than it looks, because we also support the XDG standard. This will need a wider refactoring.

_Originally posted by @gunchleoc in https://github.com/widelands/widelands/pull/4369#discussion_r508708665_

[2020-10-20 19:08] hessenfarmer opened #4384 "crash with Attempt to add invalid Time or Duration"
latest commit crashed with:

Attempt to add invalid Time or Duration

setup was lokal network 4 AI game on full moon.

Emergency save and stdout.txt attached
[stdout.txt](https://github.com/widelands/widelands/files/5410980/stdout.txt)
[2020-10-20T20.59.14.wgf.zip](https://github.com/widelands/widelands/files/5410982/2020-10-20T20.59.14.wgf.zip)

[2020-10-20 19:16] Noordfrees commented on #4384
Do you have a replay? Without a backtrace it is hard to say from where in the code this comes

[2020-10-20 19:26] hessenfarmer commented on #4384
[replays.zip](https://github.com/widelands/widelands/files/5411065/replays.zip)
maybe unrelated but in latest trunk savegames saved after 15 minutes or so fail to load with the following stdout.txt
[stdout.txt](https://github.com/widelands/widelands/files/5411072/stdout.txt)

[2020-10-20 19:29] Noordfrees commented on #4384
Probably unrelated – `stol` is used only for saveloading in `map_io/map_players_view_packet.cc`

[2020-10-20 19:52] Noordfrees commented on #4384
The problem is not reproduceable from the replay so it is probably an AI issue (or in game host code). Will try to catch this in gdb with the same setup

[2020-10-20 20:07] Noordfrees commented on #4384
On the fifth try:
[code]
[code]

Apparently `bo.last_building_built` is invalid. I have no idea what it means, whether this is correct or not, and what this function does.

@tibor95

[2020-10-20 20:52] hessenfarmer commented on #4384
well I believe the problem is the initialization of bo.last_building_built in https://github.com/widelands/widelands/blob/0da398553f31db920a0df7a31f0a63e3abc707ed/src/ai/defaultai.cc#L654
what is the actual value returned by Time()

[2020-10-20 21:03] Noordfrees commented on #4384
`Time()` returns the special "invalid" value (2³²-1). So this could be fixed either by changing the AI's default-constructed Times and Durations to be initialized as 0. or doing it properly together with #4368

[2020-10-20 21:32] frankystone commented on #4345
Can you link a branch please?

[2020-10-20 22:22] Notabilis commented on #4367
The first commit I could reproduce the bug with is commit 472f910242b8d23c51211ada5a42e6ed88ca5178 "Overhaul of SP and MP launch game screen (#3847)", the previous one worked fine. I haven't looked into that commit yet.

[2020-10-21 03:14] gunchleoc commented on #4334
It reproduced today. I annotated it like this:

log_dbg("Filling resolution dropdown");

[code]

And the last log output I get it ""Filling resolution dropdown""

I'll try checking the return code from `SDL_GetNumDisplayModes(0)` to see if I can catch it and report back when this gets triggered again.

[2020-10-21 04:55] #4253 closed, assigned to Niektory

[2020-10-21 05:09] gunchleoc commented on #4345
GitHub doesn't allow linking branches, only PRs. So, here's the link from above again: https://github.com/Noordfrees/widelands/tree/game_overlays_redesign

[2020-10-21 06:41] hessenfarmer commented on #4384
I just added a guard to check if the last_building_built time is valid as it is done in all other instances. this should fix the current issue. I'll look into the other things soon. But they do not crash and for this aren't that urgent.

[2020-10-21 07:10] frankystone commented on #4345
Thanks, i have overlooked the link :-)

[2020-10-21 17:49] flegmaatikko opened #4392 "Mouse click of Wares button crashes WL"
**Describe bug**
Widelands crashes after clicking Wares button in Statistics menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Start single player game e.g Crater.
2. Open Statistics menu
3. Click Wares
4. Widelands crashes

**Version:**
 - OS: Debian 10.6
 - Widelands Version: 1.0~git750[eb5f4c8@master] (Debug)

**Additional context**
This is the error message during the crash.
[code]

[2020-10-21 20:23] Noordfrees commented on #4234
I get masses of those now:
[code]

[2020-10-22 06:23] #4392 closed, assigned to Noordfrees

[2020-10-22 06:32] #3134 closed, assigned to Noordfrees

[2020-10-22 06:32] #4142 closed, assigned to Noordfrees

[2020-10-22 06:45] gunchleoc commented on #4362
For reference, the crashing code snippet:

[code]

So, adding the contents of `static std::map<const lua_State*, std::vector<std::string>> textdomains;` to a savegame won't do it?

[2020-10-22 07:02] Noordfrees commented on #4362
That's exactly what we need to do. The hard part is mapping the old `lua_State` pointers to the new `lua_State` pointers because we have multiple `lua_State*` each with their own textdomain stack

[2020-10-22 09:30] Noordfrees commented on #4384
Another one:
[code]

[2020-10-22 18:43] #4190 closed, assigned to nobody

[2020-10-23 07:33] hessenfarmer commented on #4384
ok reason for this one is that a value isn't initiated properly.
Will fix tonight. found another variable that should have been converted to durstion but isn't. Will include this as well.

[2020-10-23 08:09] #4380 closed, assigned to Noordfrees

[2020-10-23 10:16] gunchleoc opened #4396 "Teaching Points List"
List of teaching points for the training wheels & encyclopedia to tick off. Please add any teaching points that I might have missed. Post to this issue if you want to work on one, so that we won't duplicate efforts.

A teaching point can be spread over multiple training wheels.

# UI

- [ ] Objectives
  - [x] Training Wheel (GunChleoc)
  - [ ] Encyclopedia Entry
- [ ] Building Spaces
  - [x] Train

[2020-10-23 15:06] #4230 closed, assigned to Noordfrees

[2020-10-23 18:53] matthiaskrgr opened #4398 "UB in map generator"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
There seems to be some runtime errors in the map generator

**To Reproduce**
Steps to reproduce the behavior:
Build with `-fsanitize=undefined` and generate a map:

[code]

game @ dadeaecaa874e9750a2cfb73fcd5ccdd95326915

[2020-10-23 19:06] matthiaskrgr opened #4399 "ub when starting match with ai: store to misaligned address"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
When I start game against the default AI I get these UBSAN warnings build with `-fsanitize=undefined`  and launch `UBSAN_OPTIONS=print_stacktrace=1 ./widelands` for backtraces:
[code]

game @ dadeaecaa874e9750a2cfb73fcd5ccdd95326915

[2020-10-23 19:17] Noordfrees commented on #4374
I am rewriting the InputQueueDisplay from scratch, so if we want a layout redesign now is the chance.

- We could have a conservative layout:
![q_classic](https://user-images.githubusercontent.com/48293446/97044818-f5410200-1574-11eb-9ced-f188199c857b.png)

- Or conservative with aligned priority sliders:
![q_align](https://user-images.githubusercontent.com/48293446/97044663-b317c080-1574-11eb-8fe

[2020-10-23 19:20] stonerl commented on #4374
My vote is for "redesigned with aligned sliders". And if possible aligned buttons and centered wares.

[2020-10-23 19:28] matthiaskrgr opened #4400 "Memory leaks in text renderer"
Please fill out the relevant sections below and delete the rest.

I got these memory leaks after playing locally with a couple of bots
[code]
(I just let the game run for a couple of minutes without building anything)

game @ dadeaecaa874e9750a2cfb73fcd5ccdd95326915

[2020-10-23 19:31] Noordfrees commented on #4374
Good idea, this would look either like this:
![q_modern_align_center1](https://user-images.githubusercontent.com/48293446/97046010-03901d80-1577-11eb-89af-1859f3a920b8.png)
Or alternatively like this:
![q_modern_align_center2](https://user-images.githubusercontent.com/48293446/97046020-068b0e00-1577-11eb-8d09-5d3cfed5c53b.png)

[2020-10-23 20:02] Niektory commented on #4374
These are rather big. It might be better to use something dropdown-like or spinner-like for them (with a conservative layout), or put them in a new tab.

[2020-10-23 20:35] frankystone commented on #4374
From an ui perspective it is necessary to let all wares have the same space in between. It indicates how many wares of each type is needed. If they are centered (space is added in between) this is not visible on first view.

[2020-10-23 20:41] frankystone commented on #4374
Just a side note: It would be nice to have such images with english translation.

[2020-10-23 20:51] Noordfrees commented on #4374
We can also make the slider a bit smaller and flush the wares left while still aligning the buttons:
![q_new](https://user-images.githubusercontent.com/48293446/97052413-41923f00-1581-11eb-824e-8cbf74a4cfee.png)

A dropdown or spinner would have the disadvantage of requiring (at least) one click extra. Another option might be to have a row of five radiobuttons instead (like what we have now, excep

[2020-10-23 21:05] matthiakl commented on #4374
I like this layout.

I agree. Additionally they should be aligned to one side for an easier check, how many wares of each type are present.

[2020-10-23 21:17] Niektory commented on #4374
There is not enough space for the vertical layout, as the training camp screenshot illustrates. Not being able to see all wares would be very annoying.

[2020-10-23 21:20] Noordfrees commented on #4374
Indeed it is annoying not to be able to see a window completely…
![shot0007](https://user-images.githubusercontent.com/48293446/97055056-43aacc80-1586-11eb-824b-8814c59f1f9e.png)

For now I have deliberately chosen a pretty small maximum size just to test that the scrollbox feature works properly. This is only a problem at very low resolutions.

[2020-10-23 21:42] hessenfarmer commented on #4368
ok I fixed the wrong parameter given to visible_enemies_power function.
I need to rethink about construction decision time as the AI now starts with only 2 lumberjacks which isn't too bad, as they get all materials delivered before any other building starts after 25 seconds. So I think we should not change this.

[2020-10-23 21:55] hessenfarmer commented on #4400
Well, according to the backtraces the AI is not the cultprit but our Text rendering. So I'd suggest to adjust the title of this issue
thanks for reporting anyway

[2020-10-24 05:46] #4308 closed, assigned to nobody

[2020-10-24 06:14] frankystone commented on #4374
I would vote for 'conservative with aligned priority sliders'.

![consercative](https://user-images.githubusercontent.com/48293446/97044663-b317c080-1574-11eb-8fea-40ce26f47431.png)

Since there are currently 5 Values to slide for (0,  4,  8, 16, 2048) the slider can be smaller imho: 5 * width of sliderbutton.

Instead of the background image, which adds too much colors imho, apply a color to the

[2020-10-24 07:10] #4356 closed, assigned to nobody

[2020-10-24 08:42] Noordfrees commented on #4374
Another possible design would be not to use a slider after all:
![shot0009](https://user-images.githubusercontent.com/48293446/97077581-59031380-15e5-11eb-8fd9-5b58d2f8526e.png)
("conservative with aligned buttons and no slider")
(the icons are only placeholders)

[2020-10-24 14:52] Notabilis commented on #4367
Optimization is all evil. Or something like that. ;-)
The faulting commit in the branch is bd0c1d32f1e229709c08cbda298991609115e91c "optimize subscriptions to avoid flickering".
The problem is that with this commit the UI now gets the update notification for a map change earlier than before. As a result of the change the UI sends player updates to the clients before the clients receive the message

[2020-10-24 15:07] tppq commented on #4374
I like this idea. The very low could be something that grabs stuff only if nobody else is asking for it. If implementing these using zero and max_int does it with modest amount of recoding, all the better.

[2020-10-24 15:15] spirillen commented on #4384
I can sign up in this queue

![image](https://user-images.githubusercontent.com/44526987/97085132-bade7000-161b-11eb-9367-da140f5425b2.png)

[replays.zip](https://github.com/widelands/widelands/files/5433071/replays.zip)

OS: ubuntu 20.04

[2020-10-24 15:22] tppq commented on #2082
I think that it would be even better if the spectators would write messages to other spectators only by default. Then there should be a @all or something like that to override.

Would it be funny to save the chat to replay?

[2020-10-24 15:58] spirillen commented on #4384
Appendix.

Error persist in latest daily-build, Just updated.

![image](https://user-images.githubusercontent.com/44526987/97086207-2cb9b800-1622-11eb-813e-e2f4124b4947.png)

[2020-10-24 18:44] Noordfrees opened #4404 "Unable to save game (training-wheels related?)"
After resetting the training wheels progress in the options screen, I started a new random match (player 1, as atlanteans) on 07ba5caa2fcb38a0e7c2ff533fb10699f6856ec4 (language: low german). The story message box teaching how to open the objectives window is currently open. Now, the autosave fails with
[code]
[code]

Manually saving now also fails:
[code]
After opening and closing the objectives w

[2020-10-24 19:36] hessenfarmer commented on #4384
@spirillen should be fixed with the linked branch as soon as it gets merged. You may try it in short time as it is already approved

[2020-10-24 19:48] frankystone commented on #4374
This also a nice idea, but i think a slider will fit better. While looking at 5 buttons on each row the brain has to calculate if it is pressed or not. A slider makes it much easier to the brain imho. And no extra images are needed. Just make the slider as small like the 5 buttons in this image :-)

Oh, and thanks for the localization :-)

[2020-10-24 20:19] Noordfrees commented on #4374
With the current request implementation these priorities are only implemented as what they say. But if you can answer some of my questions at https://github.com/orgs/widelands/teams/developers/discussions/2 I may be able to implement this :)

"Conservative with small and aligned priority sliders"
![shot0010](https://user-images.githubusercontent.com/48293446/97092751-ca26e300-1646-11eb-8ae4-ff785a

[2020-10-25 00:08] Niektory commented on #4374
These work fine if you want to open the windows to fiddle with the settings and then close them. But I often leave windows open to keep an eye on the wares inside. I'm then only interested in the wares and everything else just gets in the way so I'd like it to take minimal space. It seems you have different preferences, so perhaps it should be toggleable somehow.

[2020-10-25 06:47] #4384 closed, assigned to nobody

[2020-10-25 07:02] gunchleoc commented on #4404
I added fixes for objectives in https://github.com/widelands/widelands/pull/4406 because the scripting was broken.

I haven't tested with autosave or closed player slots yet, so that definitely needs looking into.

[2020-10-25 07:23] frankystone commented on #4374
Good point. Move them into a new tab "Wares priority settings"?

[2020-10-25 08:12] #4343 closed, assigned to Noordfrees

[2020-10-25 10:48] Noordfrees commented on #4374
A tab would make them too inaccessible for my liking, but a button to toggle the interface between fully expanded and show-only mode would be very good:
![shot0011](https://user-images.githubusercontent.com/48293446/97104911-ad76c380-16b7-11eb-8306-e0d37fcf3865.png)

[2020-10-25 10:58] frankystone commented on #4374
[I never want to read that widelands has already a complex UI anymore](https://www.widelands.org/forum/post/35251/) ;-)

[2020-10-25 11:01] Noordfrees commented on #4374
You call the non-collapsed state "not complex"!?
Is this statement meant as +1 or -1?

[2020-10-25 11:38] #4367 closed, assigned to Notabilis

[2020-10-25 13:15] Niektory commented on #4374
This would work for me.

[2020-10-25 13:40] matthiakl commented on #4374
Then in show-only mode a small indicator should also show the current priority. Maybe like the current selector, but not clickable, so all priority states can be distinguished.

[2020-10-25 14:41] Noordfrees commented on #4374
![grafik](https://user-images.githubusercontent.com/48293446/97110254-6fd66280-16d8-11eb-815c-92ac6dbc7e3d.png)

[2020-10-25 15:13] frankystone commented on #4374
Sorry if my statement wasn't clear. I just wanted to say that you are mostly arguing against some new buttons or other UI elements, whereas you are the one who makes the UI more complex, at least here. Please don't feel angry about my sentences. I really appreciate your work nevertheless :-)

-1

But most other people like it, so i am outvoted.

[2020-10-25 15:21] hessenfarmer commented on #4374
Well on the one hand I understand the point of @frankystone. This is surely making the handling of the UI more complex which is always an issue that should be caefully evaluated.
the reason why I am in favor of this solution is that it is better usable in 4k displays I guess as the slider is bigger and by this better manageable.
To make the indicator less confusing we might have a blue button for

[2020-10-25 15:48] Noordfrees commented on #4374
What exactly is it that makes the UI more complex? The replacement of one UI element (three buttons) with a different UI element (slider) is not additional complexity. The only new element here is the Collapse button, which in my opinion is not particularly obtrusive.

Like this?
![grafik](https://user-images.githubusercontent.com/48293446/97111911-bed4c580-16e1-11eb-9df1-3da9d864a97c.png)
(the sl

[2020-10-25 18:06] #3254 closed, assigned to nobody

[2020-10-25 19:05] hessenfarmer commented on #4374
I think this is understandable now. But I agree the slider being noisy, so what about having only vertical lines nt he colors so it looks like a scala?

[2020-10-25 20:24] Noordfrees commented on #4374
How about this?
![image](https://user-images.githubusercontent.com/48293446/97118071-56e5a580-1708-11eb-9a3c-ad9ebbf6df1c.png)

Alternative design (which I like much less than the one above):
![image](https://user-images.githubusercontent.com/48293446/97117961-7cbe7a80-1707-11eb-933f-739c949e73bd.png)

[2020-10-25 22:02] hessenfarmer commented on #4374
the one above looks good to me.

[2020-10-25 22:59] spirillen commented on #4384
Yep, it was purely information sharing for debugging :smiley:

[2020-10-26 04:26] #4258 closed, assigned to gunchleoc

[2020-10-26 07:29] SirVer opened #4413 "Nightly builds on Mac OS broken due to tests failing"
Starting today (2020-10-26) nightlies fail to build due to test failures in test_economy:

[code]

The current sha is d79d65d7e6e8fa3d80315c1ef0d36b555745a31b.

I have not investigated, I hope somebody has an idea what that could be about. @gunchleoc maybe?

[2020-10-26 07:30] SirVer commented on #4413
It is true that the datadir is not at `/Users/sirver/Desktop/Programming/cpp/widelands/data/`, but instead at `/Users/sirver/Desktop/Programming/cpp/widelands/git_repo/data/`, but I have not changed anything since the last successful build on the build environment and it started failing on both of my build machines at the same time.

[2020-10-26 08:44] hessenfarmer commented on #4384
Does "yep" mean you retested it with the actual merged fix? If not could you please do so, so we get better confidence there isn't another one of those hidden somewhere.
Thanks for sharing your info anyway.

[2020-10-26 08:49] Noordfrees commented on #4234
Masses of new warnings since the last full system upgrade:
[code]

[2020-10-26 11:14] #4269 closed, assigned to Noordfrees

[2020-10-26 14:51] spirillen commented on #4384
Yep, was not for a retesting, it was confirmation of your reply.

I'll give it a spin later, as it is on another installation not nearby.

[2020-10-26 19:02] gunchleoc commented on #4413
To fix this, add the datadir you need to `src/economy/test/test_road.cc` in the contructor of `struct WlTestFixture`. I hacked it in there for Linux, because the homedir is complete nonsense there.

This is needed to load `TribeBasicInfo` now.

The change is cause by https://github.com/widelands/widelands/commit/d79d65d7e6e8fa3d80315c1ef0d36b555745a31b

[2020-10-26 19:13] spirillen commented on #4384
That test unfortunately only toke a few seconds :unamused:

![image](https://user-images.githubusercontent.com/44526987/97217442-91624780-17c7-11eb-9016-6bc402c57003.png)

This is the latest edition on PPA-daily

[2020-10-26 19:15] Noordfrees commented on #4384
You're on version 9604. The fix was merged in 9605. Please try again tomorrow :)

[2020-10-27 08:03] frankystone opened #4422 "wl.Game.Player:hide_fields() does not work anymore"
hide_fields() was previously used to hide fields of a headquarters or a ship and reveal the fields through [field_animations.lua](https://www.widelands.org/documentation/autogen_auxiliary_field_animations/), e.g. reveal_concentric(). This does not work anymore, because the fields revealed by a headquarters can't be hid.

**To Reproduce**
1. start attached scenario

Or use one of the campaigns, e.g

[2020-10-27 08:33] hessenfarmer commented on #4413
I get the same error as I do not build in the repo directory as well. I usually build in a different directory due to minimising the risk of affecting the repo.
If the datadir is necessary to load something in the test it might be good to code the path to the src (repo) datadirectory and start the test exe with the datadir option

[2020-10-27 09:53] Noordfrees commented on #4422
You cannot hide fields that are currently seen by a building or worker, not should this be possible

[2020-10-27 13:11] spirillen commented on #4384
Preliminary report (to store information as they appear)

[code]

![image](https://user-images.githubusercontent.com/44526987/97306065-37f92780-185e-11eb-8412-c775c4f20628.png)

This screenshot appears on all saved games... also those from before the initial error started to happen.

I'll start a new game to night, and I'll continue my feedback then

[2020-10-27 13:19] Noordfrees commented on #4384
All of them? That's very bad… The error is known but I considered this a once-a-year case of bad luck so my "fix" was to show this error message instead of crashing (see #4143, #4147). There is no known way to reproduce, much less investigate the issue.
How many games are affected? Does this happen for new games as well?
Which win conditions did the affected games use, and which versions they were

[2020-10-27 13:48] spirillen commented on #4384
To start with what I can answer of keyboard

No :no_entry: win :no_entry:.... :no_entry: purely Linux here `4.15.0-121-generic` (*buntu 20.04)

2 or 3 as I cleanup as I'm done with the map

That most wait for to night :unamused:

I'll upload the saved game to a repo, then you can take a deeper look at them, any particular folders you like uploaded?

[2020-10-27 16:00] Noordfrees opened #4426 "Corrupted scripting packet in all older savegames"
![image](https://user-images.githubusercontent.com/44526987/97306065-37f92780-185e-11eb-8412-c775c4f20628.png)

_Originally posted by @spirillen in https://github.com/widelands/widelands/issues/4384#issuecomment-717232984_

---

My older savegames (meaning: a few weeks to months old, created with master builds newer than b21) all show this behaviour.

[2020-10-27 16:01] Noordfrees commented on #4384
My savegames are also broken. I created a new issue for this: #4426

[2020-10-27 16:12] gunchleoc commented on #4422
I guess you'll need to hide the fields first ow, then place the headquarters, then reveal? Not quite as pretty, but should be OK.

[2020-10-27 16:20] gunchleoc commented on #4374
I think the ware capacity buttons should remain visible in the collapsed view. I use these a lot, while I use the priority rather seldom.

+1 for a horizontal, aligned design.

[2020-10-27 16:48] gunchleoc commented on #4426
Probably related to training wheels, just like https://github.com/widelands/widelands/issues/4404

[2020-10-27 16:59] Niektory commented on #4422
Why not?

[2020-10-27 17:09] Noordfrees commented on #4422
What *is* vision?
To me, the "logical" definition is that workers and buildings see fields in their vicinity and report their findings back to their chieftain (the player). That's why you can see *all* and *only* fields near a building or worker. Additionally scenario scripts may choose to grant you extra vision as a kind of "gift from the gods".
From this definition it follows that your HQ will a

[2020-10-27 18:48] frankystone commented on #4422
No, that doesn't work because placing a headquarters or ship does reveal the fields in any case. The only solution having a black screen before showing a headquarters is to place the headquarters after some time, e.g. after showing a message_box.
Some of old LUA code does not work anymore as expected. As a result most campaigns which uses functions from  field_animations.lua in conjunction with an

[2020-10-27 18:54] spirillen commented on #4426
Maybe not directly related, but the sound of training wheeeeeeeels...

Chose new game, Elven forest, Team up 1,3 & 2,4

![image](https://user-images.githubusercontent.com/44526987/97348170-16b02f80-188e-11eb-864a-ae57bc33daae.png)

After some playing in a new game this happens

![image](https://user-images.githubusercontent.com/44526987/97354623-f84e3200-1895-11eb-93a0-921cf6e3e029.png)

[2020-10-27 20:25] frankystone commented on #4422
I agree from a players point of view.

Yes. Some workers walk in unseen areas, e.g. Hunters, Geolgists or Scouts.

Just because the author of a campaign is godlike. He can do many things what a player can't do, e.g restrict possible buildings, add workers or wares. why should a campaigns author should be able to do something like that, but not modify vision?

So far the possibility to hide and rev

[2020-10-27 22:30] Noordfrees commented on #4422
Yes they are blindfolded or yes they aren't blindfolded?
Hunters have a way of "knowing" where they may find animals in the far-away wilderness, but while they're there they still report what they see to you.

This does not necessarily make him a god though. Another interpretation: The players are dukes – they can build up and tear down stuff in their kingdom, give orders to their subjects, have f

[2020-10-28 07:15] frankystone commented on #4422
I have problems to understand your point. I can't express exactly why though. Maybe because i see no need to have a logical definition of the relation between a player and an author of campaign. All i know is: The more possibilities a campaigns author will have, the more interesting campaigns he can write. The __campaigns author is responsible for the logic__ in his campaign, also with regard to h

[2020-10-28 08:54] hessenfarmer commented on #4422
Full agreement from my side. Need to retest the effect on the scenarion though.
the problem is that especially empire03 uses a ship in the beginning to create the illusion of being in storms. this ship is later removed and we need to hide the fields seen by the ship completely as it was not meant that the place where the ship is in dangerous waters is even on this map.
Hiding the fields would give

[2020-10-28 12:14] #1560 closed, assigned to gunchleoc

[2020-10-28 15:40] Niektory commented on #4265
This is still happening.

[2020-10-28 15:46] Noordfrees commented on #4265
Argh, the fix was accidentally deleted during a merge

[2020-10-28 18:17] Niektory commented on #4374
What if you could change the capacity by clicking on the ware icons? I think that would be quite convenient.

[2020-10-28 19:43] Noordfrees commented on #4374
+1
We should use a double-click for that though, I am used to click-anywhere-and-drag to move windows.

[2020-10-28 20:28] Niektory commented on #4374
Double-clicking is double the effort, and inconsistent with how the rest of the UI works, so few people would try it.
I think there's still plenty of space to grab above, below and on the sides.

[2020-10-29 06:24] #4413 closed, assigned to nobody

[2020-10-29 07:05] gunchleoc commented on #4426
The commit that broke it is https://github.com/widelands/widelands/commit/cf3f7f64c95247987b6b288b5d4785d3a081be15

Looks like we need to keep the LuaWorld and LuaTribes modules around for savegame compatibility.

[2020-10-29 08:15] gunchleoc opened #4438 "Get rid of LuaWorld and LuaTribes"
**Is your feature request related to a problem? Please describe.**

We must keep LuaWorld and LuaTribes around forever for fixing https://github.com/widelands/widelands/issues/4426

**Describe the solution you'd like**

Add versioning to only load these 2 modules when needed for compatibility, so that we can get rid of them eventually.

[2020-10-29 08:32] gunchleoc commented on #4422
I'm in favor of getting this functionality back if the new vision code allows this.

[2020-10-29 10:41] #4426 closed, assigned to gunchleoc

[2020-10-29 11:23] Niektory commented on #4422
It should be possible, but we need to agree on the interface.

[2020-10-29 14:06] Wegge opened #4440 "test_io_filesystem fails with SIGABRT"
One of the tests run during build fails:

[code]

Skipping the tests during build produce an executable that fails with the same assert:

[code]

[2020-10-29 15:01] matthiakl commented on #4440
Not reproducible on all systems, but should be fixed in PR #4420
([here](https://github.com/widelands/widelands/pull/4420/files#diff-3e4b0e84aa3aa81913132bd9497c3996bc3c41a24a83ab2239d3078a89f16db0))

[2020-10-29 16:41] Noordfrees commented on #4438
Instead of adding versioning it would be easier to delete them when we next break savegame compatibility completely, together with `set_textdomain`. Not likely to happen before v1.0 though is it

[2020-10-29 18:00] Noordfrees opened #4442 "Assert failure when trying to join online game"
I got an assert failure when trying to join an online game:
```../src/network/gameclient.cc:252: void GameClient::run(): Assertion `!d->settings.tribes.empty()' failed.```

Version: 1.0~git25070[9c06b77@HEAD] (Debug)

[multithreading_new_assert_9c06b77.txt](https://github.com/widelands/widelands/files/5460268/multithreading_new_assert_9c06b77.txt)

_Originally posted by @Niektory in https://github

[2020-10-30 06:14] #4296 closed, assigned to nobody

[2020-10-30 07:11] gunchleoc commented on #4438
We might not even need to break savegame compatibility completely for v1.0, so I'd still like to look into whether we can avoid storing them with new savegames.

[2020-10-30 07:53] gunchleoc commented on #4442
This assert was introduced with https://github.com/widelands/widelands/commit/334128853592eb02bc63edcd3206376b53a17587

My first guess is that the assert is in the wrong spot and needs to be shifted to a later place in the control flow.

[2020-10-30 08:50] gunchleoc opened #4444 "Memory leak in create_building_settings"
Reported in https://github.com/widelands/widelands/pull/4240#issuecomment-709577821

Seems to be related to enhancing or dismantling.

[2020-10-30 17:20] #4442 closed, assigned to gunchleoc

[2020-10-30 18:35] gunchleoc commented on #4368
Clang-tidy found this line in `defaultai_warfare.cc:348`:

`inputs[11] = (observer.second.mines_nearby == ExtendedBool::kTrue) ? 0 : 0;`

It's 0 in both cases.

[2020-10-31 00:00] Niektory commented on #4400
Can you reproduce this?

[2020-10-31 06:53] #4444 closed, assigned to Niektory

[2020-10-31 08:53] frankystone commented on #4422
What do you mean with 'interface'? Which possibilities do we have?

[2020-10-31 13:30] Niektory commented on #4422
I meant the meaning of the Lua functions – what each one is supposed to do precisely.

[2020-10-31 14:11] frankystone commented on #4422
The documentation of [hide_fields](https://www.widelands.org/documentation/autogen_wl_game/#wl.game.Player.hide_fields) says:

I don't know why `hide_fields` shouldn't work for military buildings, but i am fine if it works as before: `hide_fields` should hide the given area of fields.

It would be nice if there were some explanation of 'unexplore'. What is the purpose to set this to true? When is

[2020-10-31 15:08] Notabilis commented on #3337
Was fixed at some point since player names now can no longer contain whitespace.

[2020-10-31 15:08] #3337 closed, assigned to nobody

[2020-10-31 20:02] frankystone commented on #4440
I can't reproduce:

[code]

Can you try to delete the build directory and compile again?

[2020-10-31 20:20] tibor95 commented on #4368
One of the zeros can be replaced by 1, or both by -1 and 1, depending on the context

[2020-10-31 21:21] uerlings opened #4453 "Build-21 won´t start"
I´ve installed build-21 64bit (and 32bit also)
[stdout.txt](https://github.com/widelands/widelands/files/5469820/stdout.txt)

on Windows 10 and the following error message appears:

ERROR: Widelands won't work because we were unable to detect the shading language version.
There is an unknown problem with reading the information from the graphics driver.

OS: Windows 10 Pro version 1909  18363.1139

[2020-10-31 21:31] Noordfrees commented on #4453
According to the stdout your graphics card or driver provides OpenGL at version 1.1.0. Widelands needs at least version 2.1. Please try upgrading your graphics driver to see if you can get a higher OpenGL version.

[2020-10-31 21:35] Noordfrees commented on #4453
See also https://www.widelands.org/wiki/Technical%20FAQ/#why-wont-widelands-start-after-upgrading-to-windows-10-on-my-computer

[2020-11-01 09:30] gunchleoc commented on #4438
The only viable solution would be to not persist those classes when saving. I don't want to dig further into that. We'll just have to keep the modules around until such a point when we should completely break savegame compatibility for all savegames.

[2020-11-01 09:30] #4438 closed, assigned to gunchleoc

[2020-11-01 09:44] Wegge commented on #4440
Building from scratch did not change things. I tried poking at it with gdb, but I'm not a C++ programmer, so unfortunately, it was gibberish to me. I have attached the backtrace here.
[test_io_filesystem.txt](https://github.com/widelands/widelands/files/5470505/test_io_filesystem.txt)

[2020-11-01 09:50] gunchleoc commented on #4273
Here's the resaved savegame to ease testing:

[b21-incompatible.wgf.zip](https://github.com/widelands/widelands/files/5470436/b21-incompatible.wgf.zip)

[2020-11-01 10:21] frankystone opened #4454 "Make play_sound accessible through the lua interface"
It would be nice to play some sound pieces in a campaign. E.g. simulating a thunderstorm with some sound of rain and thunder.

See also: https://www.widelands.org/forum/topic/4230/

**Describe the solution you'd like**
In a scenario script it should be possible to start (and probably stop) some individual soundtracks. E.g.

[code]

[2020-11-01 11:21] frankystone commented on #4453
The best thing we can do is to show a hint, probably during installation, that the current graphics driver don't fit to run widelands. But i don't know if it is worth the work:

1. make a small program which checks OpenGL and the capabilities of the graphics driver
2. [Run this program within Innosetup](https://stackoverflow.com/questions/3493416/how-to-run-a-file-before-setup-with-inno-setup) and

[2020-11-01 11:49] frankystone commented on #3992
Another one about find_package:

[code]

This warning appears additionally 3 times for those locations:

[code]

[2020-11-01 18:08] #3708 closed, assigned to Noordfrees

[2020-11-01 18:08] #4374 closed, assigned to Noordfrees

[2020-11-01 18:46] #4047 closed, assigned to gunchleoc

[2020-11-01 18:52] frankystone opened #4457 "Imprecision of wl.ui.MapView().center_map_pixel in conjunction with scroll_to_field"
Not sure if this is really a bug, but there is an imprecision when using [center_map_pixel](https://www.widelands.org/documentation/autogen_wl_ui/#wl.ui.MapView.center_map_pixel) in conjunction with [scroll_to_field](https://www.widelands.org/documentation/autogen_auxiliary_ui/#scroll_to_field). Maybe there are other imprecisions as well.

The y-value returned by center_map_pixel is always exactly

[2020-11-01 20:14] matthiakl opened #4459 "Unexpected treetop sentry behavior"
* Treetop sentries cannot be placed on every tree (seems to be only possible on planted trees, not on generated ones). The problem was already mentioned in the forum (https://www.widelands.org/forum/topic/2897/?page=37#post-34333).
* Removing a treetop sentry constructionsite (with no materials) burns down the tree. Removing a normal constructionsite however leaves a clean field behind, so I think

[2020-11-01 20:20] matthiakl opened #4460 "Amazons geologists send wrong messages"
**Describe the bug**
Geologists send messages for iron and coal, even though the spots on the map are marked with "No resources"

**Expected behavior**
No messages should show up, because amazons do not use iron or coal from mountains (afaik)

**Screenshots**
(sorry, not in English)
![wl3](https://user-images.githubusercontent.com/23122583/97813310-873cbf00-1c87-11eb-9fbb-c5eb82ec9289.png)

[2020-11-01 21:08] hessenfarmer commented on #4453
+1 for closing the bug
+1 for checking the graphics in the installer (innosetup) if this is possible.  Alternatively improve the failure message once again to tell it might be a graphics driver problem instead of being a problem in reading from  it

[2020-11-01 21:15] hessenfarmer commented on #4459
the first problem is not whether they have been planted or generated I believe. As you can build some in crater from the beginning. It is related to the fact that you only can use trees on a small building plot with no other tree on the flags place. Currently we don't have a user indication for this.  only solution would be to show the build help transparent under the trees (and other immovables )

[2020-11-02 09:10] #4265 closed, assigned to Noordfrees

[2020-11-02 14:56] Noordfrees opened #4463 "Missing encyclopedia ware/worker helptext translations"
The ware and worker helptexts are not localized in the encyclopedia in current master (dc1a860).

![grafik](https://user-images.githubusercontent.com/48293446/97882229-ab4dde00-1d23-11eb-9a5f-1cd542dafcd7.png)

[2020-11-02 20:39] matthiakl commented on #4459
Thanks for the explanation.

Ok, so I just misunderstood where it can be built. Some form of indicator would be nice for the future.

If the building is already partially constructed or some materials stocked up, it is totally fine to remove the tree, a normal construction site also burns for a short time in this case. Without any materials, there is only a flag, which has to be removed. A normal

[2020-11-02 22:48] matthiaskrgr commented on #4400
Hm, tried with 992f3f32220c6949070dd7edac203d5d0d79655f now and I did not managed to reproduce the memleaks.

[2020-11-03 10:16] hessenfarmer commented on #4459
Seems I misunderstood that one. You are rigth this is a bit illogical. And it might be an effective method against any forrest wall made by another tribe, so yes I would consider it a bug

[2020-11-03 16:38] Noordfrees opened #4466 "Minimap: Terrain and owner layers lack contrast"
The terrain layer can make it impossible to distinguish a field's owner on the minimap. Best seen with blue player and desert_water:
![shot0007](https://user-images.githubusercontent.com/48293446/98013541-c8091500-1dfa-11eb-8556-45243082b160.png)
The fields owned by the blue player are depicted in almost exactly the same colour regardless of whether the owner layer is switched on (left) or off (mi

[2020-11-03 17:58] Noordfrees opened #4468 "Assert fail in testsuite"
The testsuite occasionally report this assert:
[code]

[2020-11-03 18:23] gunchleoc commented on #4468
I changed the logging and we have a bit more info:

[code]

[2020-11-03 20:03] #4404 closed, assigned to gunchleoc

[2020-11-04 09:02] Noordfrees opened #4471 "Training wheels coroutine error"
Widelands Version 1.0~git25018[23c1329@master] (Debug): After the training wheel telling me to build flags on my roads popped up, I clicked on a flag and got this:
[code]

[2020-11-04 10:02] gunchleoc commented on #4453
We should add another error message for the OpenGL version, just like we did for the shading language

[2020-11-04 10:14] gunchleoc commented on #4457
It's incorrect behavior, so It is definitely worth fixing.

[2020-11-04 10:17] gunchleoc commented on #4368
I have no idea how the scoring works, so can you make the decision, please?

https://github.com/widelands/widelands/blob/master/src/ai/defaultai_warfare.cc#L348

[2020-11-04 10:19] #4338 closed, assigned to Notabilis

[2020-11-04 12:05] hessenfarmer commented on #4368
inputs[11] = (observer.second.mines_nearby == ExtendedBool::kTrue) ? 2 : 0;

should be safe to go imho

[2020-11-04 13:44] #4471 closed, assigned to gunchleoc

[2020-11-04 13:57] gunchleoc commented on #4334
`SDL_GetNumDisplayModes(0)` itself causes the hang, so I don't know whether we can do anything about this.

[2020-11-04 14:50] #4459 closed, assigned to Noordfrees

[2020-11-04 14:50] #4460 closed, assigned to Noordfrees

[2020-11-05 21:14] Noordfrees opened #4479 "Segfault in multiplayer lobby"
I got this when entering the lobby and just waiting a few seconds:
[code]
Version 1.0~git25075[00ca722@HEAD] (Debug)

_Originally posted by @Noordfrees in https://github.com/widelands/widelands/pull/4411#issuecomment-722255257_

---

Reproducable also with 919f06f so not related to any branch. There the line numbers are
[code]

Happens only now and then, *seems* to happen more often when you play

[2020-11-05 21:40] Noordfrees opened #4480 "Unable to load savegame (vision packet)"
The attached two savegames were created with Version 1.0~git25021[fd4744c@master] (Release). They both fail to load with the same version:
[code]
[code]
[savegames.zip](https://github.com/widelands/widelands/files/5497565/savegames.zip)

[2020-11-05 22:06] #2082 closed, assigned to Notabilis

[2020-11-05 23:26] Niektory commented on #4480
Do you have the replays?

[2020-11-06 01:28] Niektory commented on #4480
I'm pretty sure this partially seen weaving mill is where things went awry:

![shot0151](https://user-images.githubusercontent.com/4470900/98312160-66e76a00-1fd1-11eb-9969-549f1bf6e0b0.png)

There are other possibly related problems with partially seen buildings: Their info is only updated when a field is rediscovered, but that doesn't happen when the building is built, only on vision changes. A b

[2020-11-06 03:01] Niektory commented on #4480
I don't know how to fix the bug, but I fixed your saves (for now) ;-)

[SnowBound_fixed.wgf.zip](https://github.com/widelands/widelands/files/5498697/SnowBound_fixed.wgf.zip)
[SnowBound_Battle_fixed.wgf.zip](https://github.com/widelands/widelands/files/5498696/SnowBound_Battle_fixed.wgf.zip)

[2020-11-06 07:13] tibor95 commented on #4368
I agree, theoretically some re-training would be done, but if there is only such tiny change it can wait. Maybe there will be more of them

[2020-11-06 10:14] Noordfrees commented on #4480
Thanks for the fixed saves! :)
Here is the replay (in two parts: How To Build A Pretty Good Economy and How To Get Very Nearly Taken Apart By The AI In A Poorly Planned Attack):
[SnowBoundReplays.zip](https://github.com/widelands/widelands/files/5500629/SnowBoundReplays.zip)

[2020-11-06 14:25] Noordfrees commented on #4468
Another testsuite error, I don't see how it could be related to the branch with which it happened:
[code]
https://github.com/widelands/widelands/runs/1363370899?check_suite_focus=true

[2020-11-06 15:27] #947 closed, assigned to jmoerschbach, Noordfrees

[2020-11-06 15:27] #956 closed, assigned to jmoerschbach, Noordfrees

[2020-11-06 15:27] #3985 closed, assigned to nobody

[2020-11-06 15:27] #4275 closed, assigned to nobody

[2020-11-06 18:01] #1705 closed, assigned to nobody

[2020-11-06 19:12] gunchleoc opened #4482 "Amazons branch broke map_buildingdata_packet"
The attached savegame doesn't load any more, because its former immovable string is empty.

[expedition.wgf.zip](https://github.com/widelands/widelands/files/5503036/expedition.wgf.zip)

[2020-11-07 04:03] Niektory commented on #3669
The `2020-11-05T18.57.39_single_player` replay from [SnowBoundReplays.zip](https://github.com/widelands/widelands/files/5500629/SnowBoundReplays.zip) also reproduces this. The crash happens after 1:38:29.

Version: 1.0~git25021[fd4744c@HEAD] (Debug)

[2020-11-07 20:54] hessenfarmer opened #4490 "different translations for tribes of the same string is not possible anymore."
Previously it was possible to translate the same string diferently for different tribes.
e.g. soldiers was translated as "Soldaten" (soldiers) for atlanteans and empire but "Krieger" (Warriors) for barbarians and frisians.

This seems to be not possible anymore e.g. for the miitary Buildings with the same name.

Do we need / want to change the source strings to be able to do that as well? or is th

[2020-11-08 02:47] Niektory commented on #3669
From what I can tell so far, whis is what happens:
1. The worker gets evicted. `Worker::buildingwork_update()` pops the last task `Worker::taskBuildingwork` from `Bob::stack_`.
2. At this point `Bob::stack_` of the worker is empty. The worker is still on the list of workers in `ProductionSite::working_positions_`.
3. Some function (varies) calls `Worker::update_task_buildingwork()` of the worker i

[2020-11-09 20:42] #4180 closed, assigned to nobody

[2020-11-09 21:56] eqom14 opened #4497 "EconomyOptionsWindow::read_targets(): Assertion `di != Widelands::INVALID_INDEX' failed."
Clicked on a flag to look at economy - core dumped.
[code]
[wl_autosave_00.wgf.gz](https://github.com/widelands/widelands/files/5513496/wl_autosave_00.wgf.gz)

[2020-11-09 22:12] eqom14 commented on #4497
Duplicated this with a small map before building anything.

Clicked on the HQ flag
Clicked on Economy button
core dumped

[2020-11-10 03:29] Niektory commented on #4468
See the upgrade program:
https://github.com/widelands/widelands/blob/e6f05045aa5af86285ef5d91649f6ac7a2a00d78/data/tribes/buildings/trainingsites/empire/colosseum/init.lua#L60-L62
If the game is saved after `checksoldier` but before `train`, loading that game will crash.

Saved before `checksoldier` (doesn't crash): [test_test_26.wgf.zip](https://github.com/widelands/widelands/files/5514527/test_t

[2020-11-10 07:41] gunchleoc commented on #4490
We can change the translation markups in `units.lua` and in the militarysites to use a tribe-specific pgettext context. Best grep for "soldier" so we won't miss anything.

What will remain as "Soldier(s)" when we do that are the census strings and statistics windows.

[2020-11-10 07:51] hessenfarmer commented on #4490
Census and statistics would be ok. Although census would be nice as well especially with amazons

[2020-11-10 08:24] gunchleoc commented on #4490
I had a look on Transifex. For C++ changes, we have the following categories:

- **Census** strings. Where do we define it in Lua? Could be at the soldier worker, at the military sites or in the units.lua. IAt militarysites sounds best to me, although this will generate some duplication. What do you think?
- **Production program** strings (would need to be defined via Trainingsite Lua
- **UI** str

[2020-11-10 08:31] gunchleoc commented on #4497
The di is obtained via `Widelands::DescriptionIndex di = descriptions.ware_index(name);` . This needs to be Widelands::DescriptionIndex di = mutable_descriptions->load_ware(name);` for savegame compatibility.

[2020-11-10 09:16] hessenfarmer commented on #4490
Milsites should be ok

ok

agreed

[2020-11-10 16:48] #4482 closed, assigned to Noordfrees

[2020-11-10 18:28] Noordfrees commented on #1628
I have just played a random game where the two players' starting positions were on top of each other. And recently in a game the HQs were only about five fields away from each other so the conquer areas overlapped. At least an extra check for such extreme cases needs to be implemented.

[2020-11-10 18:42] gunchleoc commented on #4359
I can reproduce this on https://github.com/widelands/widelands/commit/93ec84d3eba297c02e2f8cec79ba880f8a23447c but not on https://github.com/widelands/widelands/commit/404f2c475a4da604bd135adbdee3b1fd82800cde

So, the recent changes to the vision code fixed it.

[2020-11-10 18:42] #4359 closed, assigned to nobody

[2020-11-11 05:11] #4362 closed, assigned to Noordfrees

[2020-11-11 05:12] #3669 closed, assigned to nobody

[2020-11-11 05:12] #4235 closed, assigned to nobody

[2020-11-11 05:57] gunchleoc commented on #4234
[code]

@Noordfrees

ETA: My bad, I pushed the branch without merging master first. Hotfix: https://github.com/widelands/widelands/commit/4b295d03a86ca7df6d036c20946036ffaebe495a

[2020-11-11 07:57] hessenfarmer commented on #4490
Unfortunately it isn't fixed
see
https://www.transifex.com/widelands/widelands/translate/#de/tribes/65218455

[2020-11-11 07:58] hessenfarmer commented on #4490
maybe we need to have an own TD for each tribe

[2020-11-11 12:02] #4422 closed, assigned to Niektory

[2020-11-11 18:50] frankystone opened #4508 "Argument 'position' of campaign_message_box does not hold the description"
The documentation of campaign_message_box says:

But some of the setting does not work correct:

1. "top" shows the message box at top left. According to the documentation it should be horizonally centered
2. "bottom" shows the message box bottom left. According to the documentation it should be horizontally centered
3. "right" shows the message box top right. According to the documentation it sho

[2020-11-11 20:17] frankystone commented on #4508
Hm, looks like the argument 'position' was formerly only valid for the removed function `message_box_objective`.

I can't remember if the expected behavior (e.g. centered horizontally when 'position = top') has worked with the function `message_box_objective`, but since the documentation mentioned it, i guess it had worked. Otherwise some other values for position makes no sense imho, e.g. `positi

[2020-11-11 20:47] Niektory opened #4509 "Map is loaded on Load Map screen before pressing OK"
Selecting a map in the "Load Map" window in the editor loads it immediately (without pressing OK).

It can also lead to a crash if a minimap window is opened at the time:

[code]

**To reproduce:**
1. Open the editor.
2. Optionally open the minimap window.
3. Press Ctrl+L to open the Load Map window.
4. Select any map.
5. At this point the game may crash if you opened the minimap window in step 2.

[2020-11-11 21:25] Noordfrees commented on #4509
Can you test if this also happens with #4464?

[2020-11-11 21:28] Niektory commented on #4509
Will do.

[2020-11-11 22:08] Niektory commented on #4509
I can't reproduce the problem with 2715202@addons (Debug), seems to be fixed there.

[2020-11-12 00:32] Niektory opened #4510 "Resizing the map with minimap open crashes the game"
Resizing the map when the minimap window is open crashes the game.

In order to fix it, `MiniMap::resize()` should be called when the map size changes.

**To Reproduce**
1. Open the editor.
2. Open the minimap window.
3. Open Tools -> Map size.
4. Change Width and Height and click on the map.
5. The game crashes.

**Version:**
 - OS: Manjaro 20.2
 - Widelands Version: 1.0~git25050[1878bf2@master]

[2020-11-12 06:57] gunchleoc commented on #4490
Those are different strings, they just need a pgettext too

Not possible because of shared wares & immovables

[2020-11-12 10:13] #4490 closed, assigned to gunchleoc

[2020-11-12 10:23] matthiakl commented on #4440
Now that #4420 is in, can you please check, whether the issue does still exist in current master?

[2020-11-12 11:51] frankystone commented on #4508
Ok, i think the culprit is inside StoryMessageBox and was introduced by [this commit](https://bazaar.launchpad.net/~widelands-dev/widelands/build20/revision/8533/src/wui/story_message_box.cc#src/wui/story_message_box.cc)

Not sure but i guess exchanging this:

[code]
with this:
[code]
has caused this.

[2020-11-14 09:06] frankystone commented on #4345
Finally i had some time to test this branch, rev c22e05d@game_overlays_redesign.

Some thoughts:
- It took me some time to understand the option "Follow mouse" and found the functionality at random. But in general very nice :-) The panel menu (Pin/Follow Mouse/Hide) is somehow lost in the left corner. The only idea i had is to integrate this menu in the main menu but this would feels also not good

[2020-11-14 15:55] Noordfrees commented on #4345
Thanks for testing and for the good suggestions :)
All implemented except that I also don't know a better place for the displaymode dropdown.
The mousebutton bindings for message previews are now
- Left: Center view
- Middle: Close message preview
- Right: Open message menu with this message selected

I decided to remove the position option again and instead added a "flip to top/bottom" button dir

[2020-11-15 12:49] Noordfrees commented on #4234
A new one:
[code]

[2020-11-15 12:59] gunchleoc commented on #4234
Ahrg, I put that in because another complained about the std::move NOT being there, because older compilers can be buggy and do a copy instead *headdesk*

[2020-11-16 05:47] #4300 closed, assigned to nobody

[2020-11-16 08:42] #4497 closed, assigned to gunchleoc

[2020-11-17 11:50] Noordfrees commented on #4480
Another savegame with this problem.
[Savegame](https://github.com/widelands/widelands/files/5553222/ColourCodedPlains.wgf.zip)
[Replay](https://github.com/widelands/widelands/files/5553225/ColourCodedPlains.zip)
Version 1.0~git25062[0a529da@master] (Release)

[2020-11-18 04:37] #4508 closed, assigned to nobody

[2020-11-18 10:34] #4480 closed, assigned to nobody

[2020-11-18 15:57] frankystone commented on #4341
I think this is fixed...

[2020-11-18 15:57] #4341 closed, assigned to nobody

[2020-11-18 21:09] xorxsan opened #4523 "Crash when removing many saved games"
**Describe the bug**
When you try to remove many saved games, Widelands crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on One player
2. Click on Load game
3. Try to select more than 23 saved games
4. Wait a little bit (less than 2 seconds) or click Remove, Back or any other button present in that UI
5. Widelands crashes

**Expected behavior**
You should be able to select many

[2020-11-19 04:09] Niektory commented on #4523
That's in Build 21, right? For me it crashes in Build 21, but 1.0~git25064[405bd61@master] (Debug) works fine. So it seems to be fixed already.

[2020-11-19 11:04] xorxsan commented on #4523
Yes, sorry, it's Build 21 Release. I edited the comment to remove the [eg.].
If it's already fixed in master, I'll close this ticket.
Thanks!

[2020-11-19 11:04] #4523 closed, assigned to nobody

[2020-11-20 13:37] #4468 closed, assigned to nobody

[2020-11-21 14:50] flegmaatikko opened #4528 "The buttons of the Minimap are tiny when the map is 64x512"
**Describe the bug**
A button width of the Minimap is much smaller than its height (20px) with the map of 64x512px. A button is hard to click and texture is not visible.
The pull request #4495  fixed the bug #4300 but at the same time created this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Editor > New Map
2. Select width 64 and height 512'
3. Press Create Map button
4. Press M

[2020-11-21 15:28] flegmaatikko commented on #4510
Still crashes with Version 1.0~git870[a3ffba3@master] (Debug)

1. Start the game `./widelands --xres=800 --yres=600`
2. Editor > New Map
3. Select height 512
4. Open Minimap by pressing M button
5. Click 'Create Map' button.
6. After initializing the new map, the game crashes

```widelands: /home/widelands/github/widelands/widelands/src/graphic/texture.cc:245: void Texture::set_pixel(uint16_t, uin

[2020-11-23 01:07] Niektory opened #4531 "Replays of single player games are not saved"
When I play a single player game no replay is saved. Multiplayer replays are still saved.

**To Reproduce**
1. Start a new single player game or load one.
2. Look in the `replays` directory – no new replay there.

**Version:**
 - OS: Manjaro 20.2
 - Widelands Version: 1.0~git25070[fe4c1e3@HEAD] (Release)

[2020-11-23 01:18] Niektory opened #4532 "Ships get stuck at destination ports"
At some point when playing on the Europa map ships started getting stuck at ports: they would arrive at their destination but not unload any wares and just stay there forever. Saving and reloading made them move again. I don't have a replay but here's a save: [Euro_Turk_12.wgf.zip](https://github.com/widelands/widelands/files/5580762/Euro_Turk_12.wgf.zip). If you pause right after loading you'll s

[2020-11-23 01:26] Niektory opened #4533 "Error when closing the game: SupplyList::remove: not in list"
When quitting the game by closing the window the following error sometimes occurs:
[code]
I don't have a replay. It happened twice when playing this game: [Euro_Turk_12.wgf.zip](https://github.com/widelands/widelands/files/5580762/Euro_Turk_12.wgf.zip). Happened together with #4532, maybe related?

**Version:**
 - OS: Manjaro 20.2
 - Widelands Version: 1.0~git25070[fe4c1e3@HEAD] (Release)

[2020-11-23 07:31] frankystone commented on #4531
Can't confirm this. The replays are in `~/.widelands/replays/` for me.

Version: [a3ffba3@master] (Release)

[2020-11-23 07:41] frankystone commented on #4533
Once i got this error also. If i remember correctly i have tried to leave the game normally (not by closing the window) close after i conquered a foreign miltary site. Also played the map Europa.

Version: [a3ffba3@master] (Release)

[2020-11-23 08:05] frankystone opened #4534 "Ship sails to other port than target"
In the attached save game i have cancelled an expedition. In result the ship sails to another port than shown when clicking "Go to destination" ("Gehe zum Ziel") in the ships window.

**To Reproduce**
1. Load the save game [test.zip](https://github.com/widelands/widelands/files/5581555/test.zip)
2. Wait until the ship named "Faustulus" comes into view. This is the ship where the expedition was can

[2020-11-23 08:25] frankystone commented on #4532
The save game does also show the bug #4534 for every ship.

[2020-11-23 08:26] frankystone commented on #4534
The save game from #4532 shows that clicking "Go to destination" in a ships window does not work for many ships. So cancelling an expedition is not the real issue.

[2020-11-23 09:25] Niektory commented on #4531
The problem only occurs when "Teach me how to play" is enabled in the options.

[2020-11-23 10:28] Noordfrees commented on #4531
That's disabled deliberately for the same reason why scenarios don't write replays: Apparently story message windows (used by training wheels) would crash the replay somehow.

[2020-11-23 10:45] Noordfrees commented on #4534
The reason is that the paths between ports are cached for performance. When a ship wants to sail from port A to port B, it will simply look up the cached path from A to B. For this purpose the ship always remembers both its current destination (B) and the last dock it ever visited (A).

When you cancel an expedition, the ship is told by the fleet to go to some well-suited port – in this case the o

[2020-11-23 10:58] Noordfrees commented on #4532
Wow, those coords and destinations are all thoroughly messed up. The *Baltic Sea* wants to go to a destination in the middle of the ocean, and its soldiers all have a destination elsewhere in the sea. The *Bellona* (on the same location) shows exactly the same details.
Those coords all look almost like uninitialized variables to me. But without a replay I cannot guess when and how and why it might

[2020-11-23 11:07] Noordfrees commented on #4532
After some more watching it seems that the ships first need to get back onto a proper route (similar to after an expedition, like in #4534 ) which involves sailing either all or part of the way back to the lastdock before being able to resume the route they are sailing on. After the arrival at the destination port they seem to behave normally again. This appears straightforward enough but is not p

[2020-11-23 17:49] Niektory commented on #4533
I got this by watching [this replay](https://github.com/widelands/widelands/files/5584811/SupplyList_crash_replay.zip) in a debug build until 6:24:00 and closing the game:
[code]

[2020-11-23 19:13] matthiakl opened #4535 "Mac builds fail on Travis"
Since a couple of days (around 17.11.) the Travis build for Mac has a good chance of failing.
Comparing the logs of [this](https://travis-ci.org/github/widelands/widelands/jobs/745089920) and [that](https://travis-ci.org/github/widelands/widelands/jobs/745090537) build, the problem seems to be a new dependency, which requires a newer cmake version. Building this package takes just about the declar

[2020-11-24 16:05] Niektory commented on #4533
Got the exception from the original post again when exiting the game after playing. Watching [the replay](https://github.com/widelands/widelands/files/5591138/SupplyList_segfault.zip) to the end with a release build and then exiting causes a segfault.

[2020-11-25 09:33] Noordfrees commented on #4535
Perhaps we should just get rid of travis entirely? – this is not the first time it's causing trouble and it won't be the last.
Travis tests compiling under MacOS 10.13.6; our build action compiles on MacOS 10.15.7. Do we need both?

[2020-11-26 10:46] #4528 closed, assigned to nobody

[2020-11-26 14:41] Noordfrees opened #4537 "Wrong militarysite soldier statistics strings"
In this screenshot the milsite displays the wrong soldier info: It says there are 0 soldiers present but in fact 1 soldier is inside.
![shot0002](https://user-images.githubusercontent.com/48293446/100363634-51c49080-2ffd-11eb-88b2-6475722b48ee.png)
[Savegame](https://github.com/widelands/widelands/files/5603589/soldierstatsbug.wgf.zip)

[2020-11-26 16:09] #3898 closed, assigned to gunchleoc, Noordfrees

[2020-11-26 16:09] #4509 closed, assigned to nobody

[2020-11-27 06:59] frankystone opened #4540 "team scores not shown"
Reported in the [forum](https://www.widelands.org/forum/topic/5069/):

**Expected behavior**
Show team scores at least in the won game dialog

**Version:**
 - OS: unknown
 - Widelands Version: Build 21

[2020-11-27 17:11] Noordfrees commented on #3885
Available as an add-on now: https://github.com/widelands/wl_addons_server/tree/master/addons/stronger-trading-outpost.wad

[2020-11-27 17:11] #3885 closed, assigned to nobody

[2020-12-02 00:08] Niektory opened #4545 "Crash when changing tabs in General Statistics"
**To Reproduce**
1. Start the first Empire campaign mission.
2. Press 'G' while the loading screen is shown.
3. Press the Workers button in the General Statistics window.
4. The game crashes.

**Version:**
 - OS: Manjaro 20.2
 - Widelands Version: 1.0~git25083[dd5c8b9@HEAD] (Debug)

**Backtrace**
[code]

[2020-12-02 17:53] Niektory commented on #4545
The problem is that the General Statistics window only reads certain information about the game state that it assumes to be static in the constructor when it is created. If it is created before that information is fully set up it is not created in a usable state. Any changes to that information while the window is open also cause problems.

It needs to be somehow updated when the information chang

[2020-12-07 09:02] frankystone opened #4548 "Add ons; Provide information on the maps download page"
It would be nice if the maps download section on the homepage shows with which addon a map was made.

**Implementation steps**
- [ ] Expose the addon name to the  json file created by wl_map_info

The other step is then on the website code.

[2020-12-07 09:12] Noordfrees commented on #4548
I am in favour of prohibiting them on the maps upload page and asking people to make an add-on instead. I am going to write a utility to package your own maps as an add-on fully automatically from inside the add-on manager, and downloading maps as add-ons means much easier dependency handling for everyone who wants to use the map.
The wl_map_info executable currently throws an error ("ERROR: This

[2020-12-07 14:17] frankystone commented on #4548
On the long run this means every new map will then be an addon, imho. And this means one has to fiddle with the addon system just to play a map. Not sure if this a good goal.

[2020-12-07 14:33] frankystone commented on #4548
Don't know if it would be possible, but i think implementing an addon inside the map would be better. An addon is then part of the maps file structure. Starting such a map wouldn't need to activate or use addons at all.

This would be much easier for new players and map designers, imho.

[2020-12-07 15:11] Noordfrees commented on #4548
Well currently anyone who wants to download a map needs to visit the homepage (if they even know that it exists and offers free maps for download), discover where their WL home directory is located, and download and move the map. Being able to do browse maps inside Widelands with three clicks (Add-Ons → Browse → Map Sets) and installing with another two (Install → OK) is much more convenient surel

[2020-12-07 17:20] frankystone commented on #4548
Your approach is straightforward. I am just a bit overwhelmed by this new feature and the ui ;)

[2020-12-09 17:50] #3062 closed, assigned to Noordfrees

[2020-12-10 21:20] frankystone opened #4553 "Immovables do not restrict buildingspace on mountains"
Immovables wich have a size do restrict building space on arable terrains, but not on mineable terrains:

![immovables_mineable](https://user-images.githubusercontent.com/6730556/101829729-bde1e100-3b33-11eb-98f4-6640a4ba8106.png)

The standing stone on mineable terrain shows that only one  buildingspace is lost, whereas on arable terrain all surrounding buildingspace is lost.

**To Reproduce**
1.

[2020-12-10 21:21] PinPhreek commented on #4234
Found some new ones:
`[2570/2667] Building CXX object src/wui/CMakeFiles/wui_common_mapdetails.dir/mapdetails.cc.o
In file included from /usr/include/boost/smart_ptr/detail/sp_thread_sleep.hpp:22,
                 from /usr/include/boost/smart_ptr/detail/yield_k.hpp:23,
                 from /usr/include/boost/smart_ptr/detail/spinlock_gcc_atomic.hpp:14,
                 from /usr/include/boost/sm

[2020-12-11 09:00] Noordfrees commented on #4553
Faulty code: `logic/map.cc` `Map::calc_buildsize` lines 1725-1758 → if a mine can be built, the calculations regarding surrounding immovables are skipped

[2020-12-12 10:01] #4345 closed, assigned to Noordfrees

[2020-12-12 11:34] frankystone opened #4555 "Inconsistent mouse behavior when placing flags on roads"
**Describe the bug**
Formerly one can just make a double click for placing flags on roads. For some reason this does not work anymore under some circumstances. I wasn't able to determine the circumstances.

**To Reproduce**
1. Start a game
2. Connect a building with a road without pressing STRG. This road should be long.
3. Try to place flags on the road

Sometimes the mouse pointer moves to the p

[2020-12-12 12:08] frankystone opened #4556 "BOOST_HEADER_DEPRECATED"
Just got a lot of this pragma messages with boost version 1.74.0-2

[code]

**Version:**
 - OS: archlinux
 - Widelands Version: [91caec3@master](Debug)

[2020-12-12 12:19] frankystone opened #4557 "Editor: Place terrain tool consumes shortcuts for tool size"
It is not possible to use the shortcuts 1...4 to change the toolsize in the place terrain tool. Pressing one of [1,4] changes the tab in the place terrain tool.
All other tools, also those with tabs, do not have this behavior.

**To Reproduce**
1. Start editor
2. Choose place terrain tool
3. Press one of the shortcuts 1,2,3 or 4
4. The tools size do not change, instead the according tab in the pla

[2020-12-12 12:53] Noordfrees commented on #4557
If the tool's window has focus, the tab panel will consume the keys 1-4. If the focus is on the editorinteractive (the main screen) instead, they will be used for setting the toolsize.
A solution would be to remove the 1-9 hotkeys for tab panels, or (better) require a modifier key to activate their tab choosing function.

[2020-12-12 12:54] Noordfrees commented on #4555
Confirmed and very annoying. The 'Place Flag' button should always be the fastclick panel.

[2020-12-12 12:59] Noordfrees commented on #4556
Duplicate of https://github.com/widelands/widelands/issues/4234#issuecomment-742807151

Some of the CI builds also show this

[2020-12-12 13:01] #3706 closed, assigned to Noordfrees

[2020-12-12 18:19] frankystone commented on #4557
Well, as said, this happens only for the place terrain tool, not with the other tools.

A modifier key would be good, imho. But then it should be valid for all (active) tools which have a tab panel.

[2020-12-13 09:28] Noordfrees commented on #4557
The critter tool window also shows this behaviour with the keys 1-3. The immovables tool window does *not* show it because it has 10 tabs, and the keys 1-9 are only accepted by tab panels if *all* tabs would then have a number key associated with them.

[2020-12-14 10:24] hessenfarmer commented on #4234
I think this is not on our side as the Warning is triggered by /usr/include/boost/smart_ptr/detail/sp_thread_sleep.hpp so I think this will fix itself with the next boost version

[2020-12-14 10:27] hessenfarmer opened #4558 "AI behaves wrong in scenarios"
Some recent playtesting showed the AI behaving differently in Scenarios than in normal single player.
Especially it does not expand / does not build military buildings. This is going away with a save and reload.

[2020-12-14 10:33] Noordfrees commented on #4558
The bug is probably related to this line:
https://github.com/widelands/widelands/blob/master/src/logic/game.cc#L248
A player's AI defaults to "" unless every scenario designer remembers to set one explicitly, and this is not a valid AI name and results in use of an arbitrary AI implementation. This code is only run when starting a new scenario game.

[2020-12-14 11:06] hessenfarmer commented on #4558
I experimented a bit with the AI setting an AI didn't solve the issue. Only saving reloading does the trick. I think it might be the case for normal singleplayer as well but is not visible there due to saving reloading for the replay.

[2020-12-14 11:09] Noordfrees commented on #4558
So if we found a way to make replays work for scenarios (re #4531) that might fix this issue as well…

[2020-12-14 11:46] hessenfarmer commented on #4558
not sure need to investigate the root cause first

[2020-12-14 14:28] Noordfrees commented on #3827
And another forum thread (in german) https://www.widelands.org/forum/topic/5090
With another new idea for militarysite preferences: A fourth option "Prefer Average" that prefers soldiers whose training levels are close to the average levels of all the player's soldiers

[2020-12-15 09:18] #2126 closed, assigned to Noordfrees

[2020-12-16 11:27] matthiakl commented on #4555
The 'sometimes' is, when the field underneath is capable of more buildings and not only flags.

[2020-12-16 11:57] Noordfrees commented on #3827
Updated the first post with all the good ideas from the new forum thread. I'm removing this from the milestone though because it is not a realistic expectation.

[2020-12-16 14:28] #4510 closed, assigned to Niektory

[2020-12-16 14:29] #4555 closed, assigned to nobody

[2020-12-17 10:28] hessenfarmer commented on #4558
I am still struggling to identify what is the difference in the sequence to initilaise a singleplayer scenario, a normal singleplayer game and a savegame. I believe the problem lies in this sequence. As the AI is working after a save and reload. (this is done in a normal game to initialize the replay as far as I know so the problem might exist there as well but gets masked. maybe it's worth trying

[2020-12-17 22:13] r-or commented on #3012
I just played the same Empire scenario (Surprise, surprise) and I could not create any trainer at all after reaching 3. I even tried setting target for soldiers low, so there was no demand of soldiers. All the goods available, still no trainer entering the training site. Build 21, release.

[2020-12-18 11:22] Noordfrees commented on #3012
For a trainer to be created, you need a wooden spear and a helmet and they both need to be in the same warehouse. Is this the case? If not can you upload the savegame please.

[2020-12-19 10:45] Noordfrees opened #4563 "Ship/Shipyard should send message on ship completion"
https://www.widelands.org/forum/topic/5096
When the shipbuilder finishes building a ship a message should be sent (like when a warehouse has been built), so I can stop building more ships.

[2020-12-20 08:26] spth opened #4565 "Multiplayer game shown in wrong language"
Yesterday, I started a multiplayer (LAN) game on the four castles map, using the current version from git as of yesterday.

Both computers were set to German locale, and locally the map is displayed as "Vier Burgen". However, on the joining player's computer, when looking at the open games on the LAN, it is displayed as "four castles". This is confusing, since that is the only place the map name i

[2020-12-20 08:32] spth opened #4566 "Geologists put up empty signs only after save-reload"
Yesterday, I started a multiplayer (LAN) game on the four castles map, using the current version from git as of yesterday.

Geologists then worked normally. Today, the game was loaded to continue playing.

However, geologists now put up empty signs only. Apparently, they find neither mountain resources, nor water.
However, the resources are there, and mines work normally (when I build a mine in a

[2020-12-20 14:03] Noordfrees commented on #4566
A missing postload() call somewhere, will investigate

[2020-12-20 14:37] #4553 closed, assigned to nobody

[2020-12-21 04:19] r-or commented on #3012
I checked the save again and you were totally right - there was no helmet. 37 spears but no helmet. Guess they got eaten up by the training site. Still new to the game, sorry for the confusion :)

[2020-12-21 09:58] #4535 closed, assigned to nobody

[2020-12-21 19:03] MarkMcWire opened #4570 "Game Crash randomly"
widelands: ../src/logic/map_objects/bob.h:301: Widelands::Bob::State& Widelands::Bob::top_state(): Zusicherung »stack_.size()« nicht erfüllt.

I used this build with europeans tribe (as player tribe) and barbarians and empire as AI tribes on the build-in Europa 1.2 map in an endless game. I haven't changed the source code of the game. The game randomly crashes when the game time is above 24 hours.

[2020-12-21 19:10] Noordfrees commented on #4570
Regression of #3669 #4235
Can you attach a deterministically failing savegame?

[2020-12-21 19:12] MarkMcWire commented on #4570
You can use the last savegame from forum. https://www.widelands.org/forum/attachment/bf4f909b40d71a91359ab761e793d643c5131c70/

To use it, you need my data folder from my fork. But I don't changed any files from other tribes, adding only my own.

[2020-12-21 21:50] Noordfrees commented on #4570
[code]
Worker at 375×500 with empty stack; `state` is a `Widelands::Worker::taskProgram`; his location is a productionsite at 376×507

[2020-12-21 22:53] MarkMcWire commented on #4570
I demolished all the forester houses at these coordinates. Seems to have helped. The question is, how did his stack get empty?

[2020-12-22 15:23] MarkMcWire commented on #4570
After I deleted the forester's houses that contained the fault worker (with empty stack), the game continued to run for 20 hours without any problems.

Now it crashed again with the same error message.

See savegame in forum thread.

[2020-12-22 15:37] Noordfrees commented on #4570
The linked PR should fix it

[2020-12-26 07:22] spth commented on #4566
I checked that this bug is reproducible: I've started two other multiplayer games since, and each time, geologists work after the initial start, but not after loading a savegame.

[2020-12-29 20:03] Noordfrees opened #4574 "Set expedition ship's destination"
https://www.widelands.org/forum/topic/5103

Add a new button 'Pick destination' to the expedition ship's window. After clicking this button and then clicking somewhere on the map or minimap, the ship will calculate a route and automatically sail to the selected place (or to the closest reachable spot, if the target is not on water or in a different ocean) and send a message upon arriving there.

I

[2020-12-30 12:11] Noordfrees opened #4575 "Info panel reaches unreachable code"
Occasionally the testsuite fails like this:
[code]
https://github.com/widelands/widelands/runs/1623853652?check_suite_focus=true

I also got this once during a game recently, did not find a way to reproduce yet.

[2020-12-30 14:58] matthiakl opened #4576 "Game crashes when loading a corrupt save"
**Describe the bug**
The error message box when loading an invalid save got lost during #4518. Instead the game crashes.

**Version:**
 - Widelands Version: since `d9a2b830552cc15afb30da77d9b5df6cec37babc`

[2020-12-30 15:17] Noordfrees commented on #4576
I have manipulated a savegame so it fails to load, but the only result is that I bounce back to the main menu with no error message (which I'll fix).
Can you attach a corrupt savegame and describe steps to reproduce the crash?

Edit: Ok sometimes I get an assert fail but not reproducible…
Edit2: Looks like the long jumps by exception catching are messing up the Panel::modal_ stacking

[2020-12-30 15:40] Noordfrees commented on #4576
The issue was actually quite simple – a piece of code that is meant to be run only once being run twice by accident…
Fixed in #4572

[2020-12-30 15:46] Noordfrees commented on #3599
Related:
https://www.widelands.org/forum/topic/5105
We should keep showing the loading screen while the players' starting conditions are being set up (especially for Discovery / New World)

[2020-12-31 17:50] #3776 closed, assigned to nobody

[2020-12-31 17:50] #4202 closed, assigned to nobody

[2021-01-01 15:31] #4565 closed, assigned to Noordfrees

[2021-01-02 14:33] #4575 closed, assigned to Noordfrees

[2021-01-03 04:00] MarkMcWire opened #4579 "Game crash while loading savegame from previous widelands build"
[00:00:10.040 real] INFO: GameLoader::load() took 2518ms
[00:00:10.040 real] ERROR: ##############################
[00:00:10.040 real] ERROR:   FATAL EXCEPTION: player info: Error while loading tribe 'barians': DescriptionManager::load_description: Object 'barians' was not registered
[00:00:10.040 real] ERROR: ##############################
[00:00:10.040 real] ERROR:   Please report this problem t

[2021-01-03 04:01] MarkMcWire commented on #4579
I do not modified the stock tribes from game, so I don't know whats the source of "barians" is.

[2021-01-03 11:16] klaus-halfmann opened #4580 "No "No Rocks" warning from Amazon Stone Carver"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
The Amazone Stone Carver does not send news when it is running out of stones.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Attached Savegame
2. Check Stonecarver next to HQ.
3. Stonecarver ist at 0% productivity

**Expected behavior**

Stonecarver  sends news "Ages of stones is over" :-) or such.

[2021-01-03 11:36] #4576 closed, assigned to Noordfrees

[2021-01-03 11:45] Noordfrees commented on #4579
I forgot to increase the packet version for a new feature recently so some characters are consumed that are meant to be missing in older savegames. Should be an easy fix.

[2021-01-03 12:30] Noordfrees commented on #4580
No `productivity_threshold` is set for the `amazons_stonecutters_hut` @hessenfarmer

[2021-01-04 10:03] #4548 closed, assigned to nobody

[2021-01-04 11:06] #4579 closed, assigned to Noordfrees

[2021-01-04 11:36] Noordfrees commented on #727
@hessenfarmer v1.0 or v1.1?

[2021-01-04 11:41] Noordfrees commented on #1924
Since there is now a shallow water add-on we can consider this issue closed.

[2021-01-04 11:41] #1924 closed, assigned to frankystone

[2021-01-04 11:42] Noordfrees commented on #2038
Is this still valid?

[2021-01-04 11:43] Noordfrees commented on #2063
This is already fixed isn't it

[2021-01-04 11:43] #2063 closed, assigned to nobody

[2021-01-04 11:46] Noordfrees commented on #2989
Marking as urgent because a PR for this is open

[2021-01-04 11:46] Noordfrees commented on #2125
Marking as urgent because a PR for this is open

[2021-01-04 11:48] Noordfrees commented on #3266
Is this still valid?

[2021-01-04 11:51] Noordfrees commented on #3851
Marking as urgent because a related PR is open

[2021-01-04 12:10] frankystone commented on #2038
Not sure at the moment.

It should be thought over to make the `is` value independent from `valid_resource`. Furthermore `is` should be renamed to make the meaning more clear, imho.

See also the notes for [is](https://github.com/widelands/widelands/blob/master/data/world/terrains/desert/beach/init.lua#L70) and [valid_resouces](https://github.com/widelands/widelands/blob/master/data/world/terrains

[2021-01-04 12:54] Noordfrees commented on #2038
From a quick look at the code it seems that they already are independent:
https://github.com/widelands/widelands/blob/fdadf5408347804254e49e21998c9d294d2d4247/src/logic/map_objects/world/terrain_description.cc#L160-L163
there's no code there to check for relations between `valid_resources_` and `is_`

[2021-01-04 13:03] klaus-halfmann commented on #727
Looks like v1.1 just tried to cancel by second ships expeditiond and got:

[00:09:03.639 real] ERROR: ##############################
[00:09:03.639 real] ERROR:   FATAL EXCEPTION: [../src/base/times.h:151] Time-Duration-Subtraction result would be negative
[00:09:03.639 real] ERROR: ##############################

[2021-01-04 13:37] frankystone commented on #2038
Looks like things have changed in the meantime.

Made a short test and it seems they are indeed independent.

We should remove the notes from the documentation though.

[2021-01-04 15:56] klaus-halfmann commented on #4566
OK savegame in for Empire, playing in German.
I tried with Barabrians, using Crater and Englis, did not happen there.
Lets play around with Language/Tribe/Map, mmh.

[2021-01-04 16:13] klaus-halfmann commented on #4566
Ahh, the _existing_ flags will be loaded correctly, however the gelogist will not find the existing resources from the savegame. Ok now I can test that fix.

[2021-01-04 16:56] klaus-halfmann opened #4586 "Crash wehn switching running Game to Fullscreen"
**Describe the bug**

Start any Game in a Window and while running (or starting) press ^F zo switch to Fullscren.
This may be related to a multi Monitor Setup and /or Appple enhance resolutions.

**To Reproduce**
Steps to reproduce the behavior:
1. Start /Load any game e.g. the one linked for #4566
2. Press ctrl-F
3. get a crash

This does not happen when fullscreen was entered before starting the

[2021-01-04 18:58] MarkMcWire opened #4588 "Couldn't load savegame from previous build"
[00:00:08.078 real] ERROR: ##############################
[00:00:08.078 real] ERROR:   FATAL EXCEPTION: player info: Error while loading tribe 'i�': DescriptionManager::load_description: Object 'i�' was not registered
[00:00:08.078 real] ERROR: ##############################
[00:00:08.078 real] ERROR:   Please report this problem to help us improve Widelands.
[00:00:08.078 real] ERROR:   You will

[2021-01-04 19:00] Noordfrees commented on #4588
We unfortunately had to break compatibility for savegames created with the master versions 5482285, bccc375, f997864, and a9cdcfb. I assume the savegame was created with an equivalent of one of those four faulty versions?

[2021-01-04 19:01] klaus-halfmann commented on #4588
Sorry, we had to break savegamecompatibilty (which is normal during development)
... and @Noordfrees was faster :-)

[2021-01-04 19:09] MarkMcWire commented on #4588
Okay, fortunatly the original savegame (Europa 1.2) works again.

[2021-01-04 19:11] #4588 closed, assigned to nobody

[2021-01-04 19:18] MarkMcWire opened #4589 "AI dont train soldier in any trainingssite if ration, snack and meal is used instead of meat and bread"
See also https://www.widelands.org/forum/topic/5111/

I suppose it has been hard coded somewhere that training soldiers require bread and meat / fish. The AI does not open the trainingssite to soldiers if you use a ration, snack or meal as a ware.

[2021-01-04 19:45] matthiakl commented on #4588
You can fix the savegame by manually bumping its version (open binary/player_info in a hex editor and set the first byte to 28).

[2021-01-04 19:47] #4566 closed, assigned to Noordfrees

[2021-01-04 20:51] #4586 closed, assigned to Noordfrees

[2021-01-05 13:40] Noordfrees commented on #967
Never liked this map, much… should we just remove it?

---

https://www.widelands.org/forum/topic/5112

[2021-01-05 14:50] hessenfarmer commented on #4589
confirmed should be not too hard to do a quick fix as long as #3665 is not solved which is related

[2021-01-05 20:11] #4580 closed, assigned to hessenfarmer

[2021-01-05 20:15] hessenfarmer commented on #727
Currently I have problems to focus myself on this so probably v1.1. Are there any schedules yet for 1.0?

[2021-01-06 10:54] Noordfrees commented on #727
See https://github.com/widelands/widelands/discussions/4585
The feature freeze will take place on 01.03.2021 since nobody argued against. I'll announce this on the homepage as well

[2021-01-06 16:44] #4545 closed, assigned to Niektory

[2021-01-06 17:49] Noordfrees opened #4595 "Amazon economy profiles crash"
https://www.widelands.org/forum/topic/4911/?page=5#post-35878

Using one of the predefined amazon economy settings crashes the game

@hessenfarmer

[2021-01-06 19:14] frankystone commented on #3981
I would like to have this in v1.0. In a recent game i just lost some wares because i was used to use STRG click when dismantling to skip the confirmation dialogue.

Counting the votes there are three for a change and one against...

[2021-01-07 10:34] Noordfrees commented on #1628
The more urgent situation of random matches was fixed with #4592; the actual logic change can wait for v1.1

[2021-01-07 10:38] hessenfarmer commented on #4595
that is simply because I forgot to define them properly

[2021-01-07 20:46] jmoerschbach opened #4596 "Menu is not consistent/faulty regarding "esc" and "enter"."
**Singleplayer**
- [x] :
1. Click Singplayer - New game
2. Select a map, Hit "enter"
3. Hit "esc"
4. Hit "enter" - nothing happens

---

- [x] :
1. Click Singplayer - Random game
2. Hit "enter"
3. Popup "error because editor is beta" (sometimes, is OK)
4. Hit "enter" - Popup is gone
5. Hit "esc" - segfault

---

- [x] :
1. Click Singplayer - Random game
2. Hit "enter"
3. Popup "error because edito

[2021-01-07 21:36] matthiakl opened #4598 "Prepare for clang-format 11"
This is a heads up, that the `.clang-format` should be reviewed for clang-format 11. The Github actions currently run version 10, but my local version 11 found lots of format changes. To prevent a complete formatting by Github, we should check this, before the runners are updated.
See
https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
https://github.com/act

[2021-01-07 21:44] matthiakl commented on #4440
@Wegge can you please report, whether the issue does still exist? Otherwise I can close it.

[2021-01-07 21:56] Noordfrees commented on #4598
Couldn't we just change the apt line in https://github.com/widelands/widelands/blob/master/.github/workflows/format.yaml#L60 to install `clang-format-10` instead of `clang-format`
Then we can keep the current format version until we choose to migrate to the later version (ideally at a time after the release and when fewer conflicting PRs are open)

[2021-01-07 22:06] matthiakl commented on #4598
Oh... You're right. That's so much simpler :)

Edit: ...but this would probably brake the dependency to the preinstalled clang version. But the linked issue proposes a solution for that.

[2021-01-08 09:54] Noordfrees opened #4602 "Sometimes games don't start due to unregistered immovables"
Occasionally it is impossible to start a game because an error message says that some immovable (e.g. a berry bush) was not registered (the exact wording of the error message is unknown). The bug occurs very rarely. Restarting Widelands fixes the issue.

[2021-01-08 17:26] matthiakl commented on #4596
One more:
1. Go to Options -> In-Game -> Progress...
2. Hit "enter" - nothing happens (we have a "green" button here)

(also applies to the keyboard options in #4476)

[2021-01-09 12:17] #4596 closed, assigned to Noordfrees

[2021-01-09 16:05] OIPUN opened #4604 "Inform players about replay version mismatch"
**Describe the bug**
Unable to watch a reply of a game originaly played in build 21 release

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Watch Replay'
2. Select the attached files
3. Error message occures

**Expected behavior**
I should be able to watch the replay

**Screenshots**
[2020-12-15T20.57.43_single_player.zip](https://github.com/widelands/widelands/files/5791363/2020-12-1

[2021-01-09 16:10] Noordfrees commented on #4604
Replays only work with exactly the same version they were created with, so this is expected.

This seems to be a common problem, perhaps we should show a warning if a replay was created with a different version. Keeping this issue open as a reminder to implement this.

[2021-01-09 16:13] OIPUN commented on #4604
Ok, I saw the message to report it so I did.

[2021-01-10 11:13] Noordfrees opened #4606 "Amazons glitches"
- Starting a game with amazons reports
[code]
- There are no amazons-specific game tips yet in https://github.com/widelands/widelands/tree/master/data/txts/tips
- The first tutorial still mentions 4 tribes. Check for other mentions as well.

[2021-01-10 12:35] klaus-halfmann opened #4607 "New World Staring condition not feasible for ATL"
**Describe the bug**

Wehn using the "New World" Starting Condition with Atlanter it is impossible
(or veey difficult) to get the Economy going.

We should add a normal- and a blackroot-farmer, a spider-breeder and a sawyer.
They could be distributed over the seven ships. A hint for the play that to he must
cancel the expedtions to unload the ships would help, too.

**To Reproduce**

1. Start a Na

[2021-01-10 12:55] klaus-halfmann opened #4608 "src/wui/seafaring_statistics_menu.cc:221 Unreachable code was reached."
**Describe the bug**

While checking #4607 I canceled an expedition while a port was still being build

**To Reproduce**
Steps to reproduce the behavior:
1. Start a Naval game (e.g. Two lagoons) with ATL and stating condition "new world".
2. Open the Seafaring statistics
3. Build a Port with one ship and while port is build cancel Expedtion on some other ship
4. FATAL EXCEPTION: [../src/wui/seafar

[2021-01-10 15:45] gituser823 opened #4610 "Sound options wont close."
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
There is no "close"-button to close the windows, it also does not work by pressing ESC.
Also the Music-configuration-windows can not be closed by this bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Main Menu"
2. Click on 'Sound options'
They can only be closed, when clicking on Main-menu /

[2021-01-10 15:55] klaus-halfmann commented on #4610
Mhh, works for me on master and on Build20? but I use macOS.

Please attach a screenshot and tell us your screen resolution.

Maybe try opening widelands with
--xres=[...]         Width of the window in pixel.
--yres=[...]         Height of the window in pixel.

Anyone else with Linux Mint around?

[2021-01-10 15:56] Noordfrees commented on #4610
You can close every window by right-clicking into it. The Esc key to close a window is a bit buggy in Build 20 and older.
In the last release (Build-21) this is improved, and every window now also has a Close button in the titlebar. So I think this is already fixed in the current dev version.

[2021-01-10 17:20] #4608 closed, assigned to Noordfrees

[2021-01-10 19:59] Noordfrees opened #4611 "Update maps' "needs Widelands version after""
Maps created with master are not backwards compatible with build21, so we need to increase the version number.

The change to the versioning scheme makes it necessary to introduce some change here. Currently we use a number: **20** means "needs a version **newer than build 20**" (= build21 or newer).
Let's change this to a string with the **minimum** version, e.g. **"1.0"** would mean "needs v1.0

[2021-01-10 20:19] hessenfarmer opened #4612 "use strip command on github artifacts"
From may perspective it makes sense to use the strip command before using innosetup on our windows artifacts on github as it decreases file size by a remarkable amount, this shortens downloadtimes and storage consumption

[2021-01-10 20:29] Noordfrees commented on #4612
Don't we do this already?
Actually we seem to run it *twice* before InnoSetup:
https://github.com/widelands/widelands/blob/f168f4a1b559279f3245a78d3e8368f5478d7a56/.github/workflows/build.yaml#L216
https://github.com/widelands/widelands/blob/f168f4a1b559279f3245a78d3e8368f5478d7a56/.github/workflows/build.yaml#L231-L232

[2021-01-10 20:39] hessenfarmer commented on #4612
forget it I was confused by the big filesize which is due to the background images,

Maybe we could deliver them by another way (e.g. the addon server) reducing the filesize for dev builds, Howevever this is not urgent and has nothing to do with this issue so I am closing it

[2021-01-10 20:39] #4612 closed, assigned to nobody

[2021-01-10 21:00] Noordfrees commented on #4607
I gave it a quick spin after not having played ATL for a while and got stuck with just 1 iron too few before I was able to get my iron mine operational. We could exchange a few spidercloth (there's way more than I needed) for a few more pieces of iron, then it should be doable without knowing how to puzzle it out.

[2021-01-11 07:32] frankystone commented on #4611
See [bug](https://github.com/widelands/widelands-website/issues/343).

Currently i am not very motivated to work on this.

[2021-01-11 08:47] hessenfarmer commented on #4234
boost 1.75 has fixed this. So Iam closing at least the duplicate. Shall we close this one as well as it got pretty much crowded with different issues.

[2021-01-11 08:47] hessenfarmer commented on #4556
boost 1.75 fixed it

[2021-01-11 08:47] #4556 closed, assigned to nobody

[2021-01-11 20:08] #4604 closed, assigned to Noordfrees

[2021-01-13 15:37] #4610 closed, assigned to nobody

[2021-01-13 18:21] hessenfarmer commented on #3499
Well, as only tapirs are missing I'd propose this issue to be closed

[2021-01-13 18:22] hessenfarmer commented on #3608
Any chance this could happen before v1.0?

[2021-01-13 18:28] #3499 closed, assigned to Noordfrees

[2021-01-13 18:33] Noordfrees commented on #3608
Sinking animations will require a coding change so this is a feature for v1.1. Construction anims could be done by giving the shipwright a special anim in which the ferry is being assembled, but I'm not planning to do this anytime soon. Any graphics for bar,emp,atl will probably be available on the thirtieth of February ;/

[2021-01-13 20:42] frankystone opened #4622 "shipping_schedule.cc:1559: Zusicherung »!candidates.empty()« nicht erfüllt."
Got this assertion.
[bt.txt](https://github.com/widelands/widelands/files/5810953/bt.txt)

This happens when the ship will arrive at the port.

Save game:
[crash.zip](https://github.com/widelands/widelands/files/5810977/crash.zip)

**Version:**
 - OS: archlinux
 - Widelands Version: [5d04671@master] (Debug)

[2021-01-14 08:15] frankystone commented on #4611
It might get problematic if the new versioning schema will reach 19.0: Because 19 (old) == 19.0 (new).

At least in Python:
[code]
Maybe this needs adding an additional value 'version_schema = [old,new]', or 'version_schema = [vs1, vs2]'?

[2021-01-14 10:57] Noordfrees commented on #4611
I don't think it likely we'll reach version 19.0, ever ;D
Even if we make two releases a year and break compatibility after every build this would still be 9 years away – at the very least! I'm confident that in nine years everyone will be using the add-on system to share their maps and the homepage's map section will be superseded, and nobody will still
be playing a WL version so old that they ca

[2021-01-14 10:57] #4570 closed, assigned to Noordfrees

[2021-01-14 16:31] #4595 closed, assigned to hessenfarmer

[2021-01-14 16:31] #4606 closed, assigned to nobody

[2021-01-15 08:17] hessenfarmer commented on #4558
I am not 100% sure anymore this is a general behaviour as with p1.see_all activated I watched some scenario AI and they were expanding pretty well and should not be different from normal game which I will try to confirm.
But in fri03 they are only expanding after save reload. In the enabled log after reload the Buildings were shortly listed as being forced which is weird as I don't understand how

[2021-01-15 10:36] PinPhreek opened #4626 "Newest master doesn't complie"
**Describe bug**
The newest master doesn't compile

**To Reproduce**
run $sh update.sh

You get the error-message:
`[ 77%] Generating translations for locale sr category scenario_tutorial04_economy.wmf
[ 77%] Generating translations for locale zh_CN category widelands
[ 77%] Generating translations for locale sr category texts
[ 77%] Generating translations for locale sr category training_wheels
/

[2021-01-15 10:37] Noordfrees commented on #4626
Confirmed, I just ran into the same problem
[code]

[2021-01-15 10:40] Noordfrees commented on #4626
As a workaround you can do `rm po/widelands/zh_CN.po`
then it compiles

[2021-01-15 11:00] Noordfrees commented on #4626
I have added comments to the problematic strings on Transifex asking the zh_CN translator to resolve the issues. Transifex also flags them as errors.

[2021-01-15 20:26] hessenfarmer opened #4627 "no UI for scenario difficulty if a scenario is run from SP setup"
if a scenario is run from the sp setup (ie. outside the campaign setup) there is no ui to set the scenario_difficulty which might be required by a scenario.

to reproduce: copy frisian scenario to my maps and run from sp interface

[2021-01-16 05:33] MarkMcWire opened #4628 "Random crash caused by seafaring."
widelands: ../src/economy/shipping_schedule.cc:570: void Widelands::ShippingSchedule::get_free_capacity_between(Widelands::Game&, const Widelands::Ship&, Widelands::ShipPlan&, Widelands::PortDock&, Widelands::PortDock&, bool&, bool&, bool&, bool&, Duration&, Duration&, uint32_t&): Zusicherung »ss.dock != &start« nicht erfüllt.

Occurs after an AI in the game defeats all of the other AIs. Endless g

[2021-01-16 10:26] #4626 closed, assigned to nobody

[2021-01-16 11:32] Noordfrees commented on #4628
I cannot reproduce the bug. When exactly does it happen? Is it reproducible? Any particular steps needed? Do you have a replay?

[2021-01-16 13:11] MarkMcWire commented on #4628
The bug is sporatic and cannot be triggered with secure. I have let run the game over night with 1x speed and after aprox. 5 hours I noticed that crash with this exception text in the terminal. (I started widelands from linux terminal via ./widelands).

I play since 11 am and no other crash happened in the meantime.

It would be important to mention that I have set some ports of the AI myself in t

[2021-01-17 07:13] klaus-halfmann opened #4629 "Autumatic Player Slot assignment on Internet games"
**Describe the solution you'd like**
When an internet game is started bases on a savegame the participating players will automatically
assigned the slots found in the savegame.

Manual re-assigment is prone to erros and can lead to information leaks, as
you may gain access to some other players map.

**Implementation steps**
- If a Map with playernames is loaded
- Automatically assign slot of star

[2021-01-17 10:43] frankystone opened #4630 "Window of foreign milsite get closed if another flagaction window get opened"
If one opens a foreign military site window and afterwards clicks on a flag, the military site window will be closed automatically.
Just stumbled over this because i opened the military site window to watch the soldiers for attacking it. I wanted to wait until enough soldiers arrived at the vicinity military sites  of my own, while doing other stuff, like build new roads.

**To Reproduce**
1. Open

[2021-01-17 11:21] Noordfrees commented on #4630
This is not trivial to do because they are actually the same window: A `FieldActionWindow`. Whenever you click on a node, the engine checks which kind of window to open: If there's a ship of yours, show the ship window; if there's an own building, show the building window; otherwise, show a `FieldActionWindow` and fill it in with whatever tabs and buttons and other widgets are appropriate for the

[2021-01-17 11:22] #4607 closed, assigned to Noordfrees

[2021-01-17 11:51] #4347 closed, assigned to Noordfrees

[2021-01-17 22:46] Ordoviz opened #4632 "Bumpy two-finger scrolling"
If you drag diagonally down with two fingers on a touchpad, the scroll bar bumps back. In the recording, you can see me scrolling straight up and down like a robot first and then scrolling diagonally like I usually do because it’s a more ergonomic movement:

https://user-images.githubusercontent.com/37733333/104857695-2336a800-5912-11eb-9cb5-9c308ed96db3.mp4

**To Reproduce**
Open a window with a

[2021-01-18 04:27] MarkMcWire commented on #4628
No reproduceable. Didn't occure after 12 house of game play after I loaded the savegame.

[2021-01-18 04:27] #4628 closed, assigned to Noordfrees

[2021-01-18 05:45] klaus-halfmann commented on #4632
Thanks for your Bugreport,

we have only a few developers and I am not sure if we have the +/- same hardware around.
Please Provide Operationg System (Windows / MacOS / Linux) and for Win/Linux the hardware
used.

How does it behave when scolling in the main Game? How does it work in Longer texsts,
e.g. the Onlne Help? I assume you are not totally blocked playing the game at all?

Widelands will r

[2021-01-18 07:48] Ordoviz commented on #4632
Of course not. It’s a minor inconvenience.

That’s what I used to think as well, but it also happens at the top/middle and when the scrolling area is long. Zooming in and out on the overworld works as expected.

I use Arch Linux on a HP EliteBook 8570p.

[2021-01-18 07:50] hessenfarmer commented on #4558
I did further testing:
- It is a general behaviour
- Fri 03 is more affected as the Ai has very little buildspace in the beginning
- Even with enough build space the AI is only building small Military Buildings (if at all) until Save/reload
- The AI is identified as Normal if not set explicitly. (Can't tell if it is initialized properly)
- in normal games (at least network games) the Ai behaves as

[2021-01-18 11:07] Noordfrees commented on #4558
We have like 4 or 5 different ways of initializing a game so this is not trivial. I have tried just enabling the replay writer for scenarios so a savegame is initially created and loaded like for normal games but this didn't help. I agree that this bug could be a showstopper. I do suspect though that some (replay-related) save-reloading magic affects the AI behaviour, Will try to investigate this

[2021-01-18 11:56] hessenfarmer commented on #4558
Many thanks. Please let me know if I can be of any help.
regarding the replays I am not sure whether we are still doing the save reload. I have distant memories this got changed for b20 or so as to reduce loading times for big games.

[2021-01-18 16:31] Noordfrees commented on #4558
I believe there was a time when the save-reloading happened twice and this was changed. Now it still does it but only once.

---

The game creation pathways, just for reference:
- New MP game: `Game::init_newgame` then `Game::run`
- Load MP game: `Game::init_savegame` then `Game::run`
- New SP game: `Game::init_newgame` then `Game::run`
- Load SP game: `Game::run_load_game` (which calls `Game::run

[2021-01-18 19:28] matthiakl commented on #4537
Could not reproduce with current master. I loaded the savegame and pressed page down during load, so the game started paused. The string showed correctly 1(+1). Did you verify, that the problem persists after loading it from save?

[2021-01-18 19:41] Noordfrees commented on #4537
Seems like this bug indeed vanishes after saving-reloading. I saw this problem several more times recently in master though.

[2021-01-18 22:50] matthiakl commented on #3266
The worker and statistics strings are already fixed, but those in military site construction and status windows not.

[2021-01-19 10:31] #1623 closed, assigned to Noordfrees

[2021-01-19 10:31] #3737 closed, assigned to Noordfrees

[2021-01-20 14:07] #4024 closed, assigned to nobody

[2021-01-20 20:28] matthiakl opened #4635 "Resizeable in-game windows"
**Is your feature request related to a problem? Please describe.**
Currently only the minimap can be resized to two different fixed settings.
Some in-game windows may profit from being resizeable:

- observation window
- encyclopedia
- messages
- minimap (dynamic)
- general statistics
- others ?

**Describe the solution you'd like**
The windows could be resizeable by dragging a corner in/out.

Re

[2021-01-20 20:43] matthiakl opened #4636 "Move caret with mouse click in multi-line edit box"
#4578 implemented it for single-line edit boxes, multi-line edit boxes were left out, but would be as useful.

[2021-01-21 14:21] Ordoviz opened #4638 "Add information about attackability of ports to game FAq and encyclopedia"
During Empire 3 some of my and the opponent’s buildings vanished into thin air. In particular, my port at the small island full of rocks vanished, leaving no place to build a new one. Consequently, I could not collect the last artifact.

My guess is that it has something to do with the buildings being unused or inefficient and on the border between the Empire and the Barbarians.

I am aware that t

[2021-01-21 15:48] klaus-halfmann commented on #4638
@Noordfrees / @hessenfarmer we just yesterday merged some empie fixes to master:
https://github.com/widelands/widelands/pull/4625
Is this related or is this something totally different.

@Ordoviz you may have found some condition the underlying lua scripts could not cope with. Will take some time to fix this, but we are on the way to a RC-Freeze, so please keep on testing.

[2021-01-21 17:11] frankystone commented on #4638
That was for emp_04.

@Ordoviz : Do you have a save game before the port vanished?

[2021-01-21 18:16] Ordoviz commented on #4638
Yes, I have: [Save game before port vanished](https://github.com/widelands/widelands/files/5851253/port-exits.zip).

Interestingly, when I saved the game to give the file a new name, the port and the Barbarian buildings to the North became transparent but remained fully functional.
![Screenshot](https://user-images.githubusercontent.com/37733333/105393202-fcc78400-5c13-11eb-8bf2-ab9c014a6d1f.png)

[2021-01-21 18:34] Noordfrees commented on #4638
The transparency can be toggled on/off with the hotkey 'U' or the button in the toolbar's showhide menu

[2021-01-21 18:41] Noordfrees commented on #4638
I built a quarry and let the game run for a while. Are you certain that this issue is not just about what this guy is doing:

![shot0003](https://user-images.githubusercontent.com/48293446/105396573-5c2b9100-5c20-11eb-8c10-0fd401fc5c81.png)

When the port is conquered and destroyed, the land may fall under control by the red player if he has built new military sites nearby in the meantime, making

[2021-01-21 19:12] Ordoviz commented on #4638
This seems like a good explanation. I did not know that enemies can attack non-military buildings and I did not get an “Attack!” notification.

I also lost two buildings on the island under the first island. This could have been an Barbarian as well. I thought there was something deeper going on because some of the Barbarian buildings also vanished. But maybe the AI controlling the barbarians just

[2021-01-21 19:23] Noordfrees commented on #4638
Any building that conquers land can be attacked: Militarysites, the HQ and ports. Also, if you dismantle military sites, the now-unguarded land can be conquered by other players, on which case any buildings you built are burnt down. No messages are sent about this.

The game is not yet lost now, you *can* still reach the artifact from the south. The red player's territory is all on one large islan

[2021-01-21 20:14] Ordoviz commented on #4638
The port should not be attackable. It’s not the player’s fault that it got destroyed. How should they know that this is even possible? There is no visible threat on the island. If a player loses in a game and it’s not their fault, they will be frustrated.

And the fix seems quiet simple: Just disconnect the small island from the big island so that no Barbarian can reach the port. Remember: This is

[2021-01-21 20:41] hessenfarmer commented on #4638
Well. the island there was designed as a backdoor to the barbarians homeland, so I am against deleting the small landbridge. it might serve as a good source of marble in the beginning of the game leaving the opportunity to build a military building.
Ports are attackable as they can store soldiers. so not storing some of them in the building might be considered suboptimal.

only valid complaint mig

[2021-01-21 21:02] Niektory commented on #4638
Building a tower to the north across the strait lets you conquer the remaining scraps of enemy territory and enables an expedition to build another port:

![shot0162](https://user-images.githubusercontent.com/4470900/105410514-550d7e80-5c32-11eb-9028-124c14e00881.png)

I'd suggest modifying the map slightly by removing some building spaces so the red player can't block the port space from across t

[2021-01-21 21:04] hessenfarmer commented on #4638
I am still against a modification as this spot was designed as valuable but vulnerable

[2021-01-21 21:34] Ordoviz commented on #4638
Maybe Amalea (the woman who gives you economy advice) can tell the player to leave some soldiers in the port?

[2021-01-22 00:17] dindoun opened #4639 "Allow using system fonts if available"
**Describe the bug**
amiri-regular.ttf does not exist in linux but Amiri-Regular.ttf exists : widelands can not find it.

**To Reproduce**
1. open widelands
2. Click on Options then langue ( french version )
4 . See error
Font file not found. Falling back to sans: amiri/amiri-regular.ttf
LayeredFileSystem: Could not load file: could not find file or directory: i18n/fonts/amiri/amiri-regular.ttf
I

[2021-01-22 02:59] Niektory commented on #4639
Widelands bundles the Amiri font, but the Debian package uses the system-wide font instead. It seems that we have an old version of the font, and the newer version found in Debian uses different file names.

[2021-01-22 06:46] frankystone commented on #4639
This file should be there. It is [part of build19](https://github.com/widelands/widelands/tree/build19/data/i18n/fonts/amiri).

[2021-01-22 07:23] hessenfarmer commented on #4638
It sshould be Saledus as it is a military advice and it should be a general advice for all ports as we don't know the sequence a player build them but yes this would be doable together with the other measures

[2021-01-22 13:24] MarkMcWire commented on #4622
Game Crash:

[03:58:18.931 real] INFO: GameSaver::save() took 3094ms
widelands: ../src/economy/shipping_schedule.cc:1304: Duration Widelands::ShippingSchedule::update(Widelands::Game&): Zusicherung »index_of_end < 0« nicht erfüllt.
Abgebrochen (Speicherabzug geschrieben)

After restart the savegame:

[00:01:26.378 real] INFO: GameSaver::save() took 2910ms
widelands: ../src/economy/shipping_schedul

[2021-01-24 17:13] #3851 closed, assigned to Noordfrees

[2021-01-24 19:33] matthiakl commented on #4627
This requires the campaign difficulty to be moved into the map folder. Currently it is stored in the global `campaigns.lua` and not accessible to other scenarios. It could be in the elemental packet or as a `meta.lua`. Then also standalone scenarios can implement multiple difficulties.

[2021-01-24 21:21] hessenfarmer commented on #4589
the linked branch should fix this.
@MarkMcWire can you confirm the fix?

[2021-01-25 07:44] frankystone commented on #4463
Can't confirm with [a9580f5@master] (Debug)

![lcalization](https://user-images.githubusercontent.com/6730556/105675448-6fbd4d00-5ee9-11eb-8d3b-ba90331210d8.jpg)

[2021-01-25 11:21] Noordfrees commented on #4463
I have debugged this in e9624ea@master and it seems that the text is not being localized while the tribe is being loaded – but I don't understand why.

`tribes/initialization/frisians/units.lua`:
[code]
[code]
The textdomain is also set correctly:
[code]
I triple-checked that `po/tribes_encyclopedia/nds.po` contains the correct translation:
[code]
And the result is still:
![grafik](https://user-im

[2021-01-25 13:11] markusu49 opened #4642 "Crash when cancelling expedition in discovery mode"
The game crashes when cancelling an expedition in discovery mode. Full log and savegame attached.

OS: Manjaro Linux
Widelands Version: Build 21

[code]

**To reproduce**

Load attached savegame and try to cancel one of the two remaining expeditions.

**Maybe related**

Game saving stops working after a while in this game situation:

[code]

**Attachments**

[log.txt](https://github.com/widelands/

[2021-01-25 13:15] Noordfrees commented on #4642
This seems to be a duplicate of #4608
fixed in the current development version by #4609

[2021-01-25 13:15] #4642 closed, assigned to nobody

[2021-01-25 13:45] matthiakl commented on #4463
It looks like the textdomains are a bit scrambled. Sometimes it is translated, sometimes not. By specifying the textdomain in the lua gettext functions (possibly redundant?) it is fixed for me.

[2021-01-25 17:23] #4463 closed, assigned to nobody

[2021-01-25 17:43] frankystone commented on #4537
There is definitely something wrong with this and i saw wrong strings often. I guess it has something to do with exchanging soldiers.

Play around with with the Barbarian fortress in this save game:

1. Wait until one soldier is leaving -> String shows 7 (+1)
2. then reduce the amount of soldiers by one -> A Soldier is leaving. I would expect that the empty slot will be closed. The string shows no

[2021-01-26 06:30] MarkMcWire commented on #4589
It works, I have tested it in a new game.

[2021-01-26 07:34] hessenfarmer commented on #4589
Would you like to provide a review on the branch? so it could get merged

[2021-01-26 12:06] #4589 closed, assigned to hessenfarmer

[2021-01-26 12:07] #967 closed, assigned to nobody

[2021-01-26 22:27] hessenfarmer commented on #4558
Update:
I added a saveloading cycle as else branch to the writereplay initialization (https://github.com/widelands/widelands/blob/a846817ed8a75d18ad4a84a8fc28c5375efc15a4/src/logic/game.cc#L638) and can confirm it doesn't help in this stage of the game.

However I copmpared the output in my stdout.txt from different attempts to start a game.

This led to one difference I could identify in the outp

[2021-01-27 11:07] Noordfrees commented on #4558
This should not matter – in both cases the script that places the initial buildings for all players is run at the gametime 1ms.
It seems like sometimes players are deleted and re-created during saveloading and sometimes not (even when adding the additional saveload cycle), and I suspect this might have something to do with the AI not being initialized correctly. I still did not find out much usefu

[2021-01-27 19:57] hessenfarmer commented on #4139
Well I can't confirm this bug anymore as I managed to load the scenario (and watch the trading function for the first time ;-)).
I just had to provide the correct prefix of the path (in my case: ""maps/My_Maps/market_trading.wmf/" .. path.dirname(__file__)")

I learned that in the dirname we can't use "map:" as it is dependent on the Game and while registering/loading the Game isn't available yet.

[2021-01-27 20:58] Noordfrees commented on #4622
https://www.widelands.org/forum/post/35979/
Another case of the same issue

[2021-01-28 09:32] frankystone commented on #4139
The error of missing images is gone after applying the base path. But now i get other errors. See below.

I didn't used "map:".

Now i get
[code]

Here is my adapted test scenario. Maybe you can get it make work. I am tired...

[test custom buildings.zip](https://github.com/widelands/widelands/files/5886147/test.custom.buildings.zip)

[2021-01-28 10:43] hessenfarmer commented on #4139
Well, there has been an update while unifiying tribes and world in the custom scenario building part.
your map is missing a init.lua file in the tribes folder which extends the tribes units.lua file for an example you might have a look here:
https://github.com/widelands/widelands/blob/a846817ed8a75d18ad4a84a8fc28c5375efc15a4/test/maps/market_trading.wmf/scripting/tribes/init.lua#L1

even more comp

[2021-01-28 11:39] frankystone opened #4645 "Crash after save and Quit"
I get some crashes after saving a game and afterwards quitting the game.

Don't know if the cause is always the same.

**To Reproduce**
1. Load a big save game
2. Play a bit
3. Save the game
4. Quit the game

Sometimes the main menu does not appear instead the whole game crashes. This time i get an ASAN report:

[bt.txt](https://github.com/widelands/widelands/files/5886782/bt.txt)

**Version:**
 -

[2021-01-28 11:40] frankystone commented on #4645
A big save game for testing.

[test.zip](https://github.com/widelands/widelands/files/5886804/test.zip)

[2021-01-28 12:01] Noordfrees commented on #4645
Sounds related to https://github.com/widelands/widelands/issues/4533

[2021-01-28 12:47] frankystone commented on #4139
Thanks, it is working now. But trying to start the scenario as a zipped file fails again. Moreover much more warnings are thrown:

[code]

Not sure if applying `"maps/My_Maps/somename.wmf" .. dirname(__file__)` is sufficient.

[2021-01-28 13:00] Noordfrees commented on #4139
If I remember correctly, animation files within a zipped directory are not and never were properly supported. Directories used by Widelands may only be zipped in a handful of narrowly defined usage cases, and this is not one of them. In other cases a zipfile might work but will more likely not. As a rule, never use zips if you want to modify anything manually.

[2021-01-28 13:13] Noordfrees commented on #4531
Will not be an issue for v1.0 after #4644
In the long term it would be good to get replays working in scenarios and with training wheels though

[2021-01-28 13:22] hessenfarmer commented on #4139
Well I need to test this then as it is hard to tell without trying it myself.
Can you attach the zip in the actual state again

[2021-01-28 19:25] hessenfarmer commented on #4139
Ok I fiddled around with the version available, and got it working. There wasn't much wrong with it except the that the folder name contained spaces. With underscores instead of spaces and a proper init.lua for the tribes folder it worked well
[test_custom_buildings.wmf.zip](https://github.com/widelands/widelands/files/5889582/test_custom_buildings.wmf.zip)
![grafik](https://user-images.githubuser

[2021-01-29 09:44] frankystone commented on #4139
Thanks, but i give up.

Nevertheless having a hard coded path seems not the correct approach to me.

[2021-01-29 11:30] hessenfarmer commented on #4139
sorry to hear that.

Agreed.
@Nordfrees Shall we close this one and open a new one for this ?

[2021-01-30 13:53] Ordoviz opened #4647 "Title screen logo is pixelated"
The logo on the title screen currently looks like this:
![](https://user-images.githubusercontent.com/37733333/106357139-2bbcb480-62fc-11eb-954a-ee8924c184eb.png)

The source for this logo is an aliased 3349×708px image in [`data/templates/default/loadscreens/logo.png`](https://github.com/widelands/widelands/blob/c41b0b35d91f9c3b71c000256e324555c34d6b73/data/templates/default/loadscreens/logo.png)

[2021-01-30 14:11] Noordfrees commented on #4647
The logo is scaled according to the window size, so if we made it smaller it would get upscaled and pixelated on high-resolution displays.

Using your SVG would be a very good solution. Unfortunately the colours don't quite match, especially the N is wrongly shaded:
![grafik](https://user-images.githubusercontent.com/48293446/106358520-0b492600-630d-11eb-9790-0669048f3b11.png)

[2021-01-30 14:49] Ordoviz commented on #4647
That is weird. What does Widelands use to render SVGs?

[2021-01-30 20:15] Noordfrees commented on #4647
The `SDL_image` library: https://www.libsdl.org/projects/SDL_image/docs/SDL_image.html#SEC12

[2021-01-30 22:21] Ordoviz commented on #4647
SDL_image uses [Nano SVG](https://github.com/memononen/nanosvg). I compiled SDL_image 2.0, ran showimage and it rendered the letter ‘W’ correctly! So there is hope that we can get the SVG to work—either by tweaking the SVG or by fixing Nano SVG.

[2021-01-31 20:55] #2125 closed, assigned to Noordfrees

[2021-01-31 20:55] #2989 closed, assigned to Noordfrees

[2021-02-01 06:47] frankystone opened #4650 "Add possibility to predefine a game"
When working on scripts for addons one has always to start a new game to test the changes in the script. It is tedious to start widelands, configure a new game, choose map, set players, start the game. Many clicks...

**Describe the solution you'd like**
It would be nice to have a commandline option `--new_game=configured_game`, where `configured_game` is a file containing all needed settings. Som

[2021-02-01 12:22] frankystone opened #4651 "MIssing translation for wood gnome"
Some strings aren't translated (the last two sentences):

![wood_gnome](https://user-images.githubusercontent.com/6730556/106458172-49228780-6490-11eb-80a1-6fb051999105.jpg)

Maybe other winconditions are also affected.

**Version:**
 - OS: archlinnux
 - Widelands Version: [c1317f5@master] (Debug)

[2021-02-01 19:01] Ordoviz commented on #4647
I made [an SVG that works with SDL_image](https://github.com/widelands/widelands/files/5906001/Widelands_logo.txt) but I am not sure whether it fixes this issue.

If I set the size of the SVG to something very small, it looks like this:
![](https://user-images.githubusercontent.com/37733333/106504314-af260380-64be-11eb-99e1-80fb6641a83e.png)

And if I use a large SVG, the rendered logo is still pi

[2021-02-03 18:03] #4651 closed, assigned to Noordfrees

[2021-02-04 11:46] Noordfrees commented on #4558
During creating a normal game, the players are first created directly after loading the tribes, later destroyed when `Reloading the game from replay`, then recreated while `Reading Player Info`. In a scenario, they are initially created at the same time and then *not* destroyed/rebuilt. When enabling replays for scenarios the behaviour is the same as in normal games. In all cases the AI instances

[2021-02-04 15:18] #4622 closed, assigned to Noordfrees

[2021-02-05 08:01] #4636 closed, assigned to nobody

[2021-02-05 14:17] Noordfrees opened #4654 "Update hero/rookie radiobuttons"
That's out of scope for this branch, but with this add-on that could become an annoying bug. I'll make a separate branch to fix this when this PR is merged. In the long term (post-1.0), when we have one or two additional soldier preferences (#3827), we could also use a dropdown instead.

_Originally posted by @Noordfrees in https://github.com/widelands/widelands/issues/4584#issuecomment-770273733_

[2021-02-05 16:48] frankystone opened #4655 "Scenario The Green Plateau crashes"
There is a shipped map called "The Green Plateau". Trying to start it crashes the game.

**To Reproduce**
1. Start the map The Green Plateau

Result:
[code]

**Version:**
 - OS: archlinux
 - Widelands Version: [af82ca0@master] (Debug)

[2021-02-05 17:44] matthiakl commented on #4655
The atlanteans tribe isn't loaded, which is required for some prefilled buildings.

[2021-02-05 19:05] #4479 closed, assigned to gunchleoc, Noordfrees

[2021-02-05 19:05] #4537 closed, assigned to matthiakl

[2021-02-05 19:51] matthiakl commented on #4558
Maybe #4656 makes a difference? The scenario script is run after the AI finishes initialization and may register new units without notifying the AI. After save reloading those are already part of the map and known to the AI.

[2021-02-05 19:57] Noordfrees commented on #4558
I already tried delaying the creation of the AI for a few seconds or minutes to ensure there was time for all scripts to run, but it made no difference :(

[2021-02-06 11:03] frankystone opened #4659 "Forcing a construction site uses wrong images"
When placing a new building per [place_building](https://www.widelands.org/documentation/autogen_wl_bases/#wl.bases.PlayerBase.place_building) and forcing a construction site some construction sites are shown with a buildings image. This happens when placing construction sites for _upgraded_ buildings.

E.g.: Placing a construction site of an empire sentry will immediately show the image of an emp

[2021-02-06 12:19] Noordfrees commented on #4659
Duplicate of #3356?

[2021-02-06 13:26] frankystone commented on #4659
Yes. So an old bug :-D

[2021-02-06 15:06] frankystone commented on #3356
Destroying such a construction site it will get immovable 'burning', although the builder wasn't arrived yet.

Normally destroying a construction site before it has been finished by around 30% it is just removed without burning down.

Just to mention it.

[2021-02-06 15:07] #4655 closed, assigned to matthiakl

[2021-02-06 15:54] Noordfrees commented on #3356
If a constructionsite is truly "new" (there is nothing to see yet except for the little csite marker) then there's nothing that would burn, so the site is removed cleanly. But if it is an upgrading site, there's already the old building there, so when you destroy it the old building needs to be burnt down. This is the same regardless whether you clicked the Enhance button of an existing building o

[2021-02-06 15:59] frankystone opened #4661 "Choosing tribe in scenarios"
If you configure the scenario the green plateau you can change the tribes. But this has no effect, the tribe a aplayer plays is always barbarians.

**To Reproduce**
1. Configure the map the green plateau and change the tribe of player 1 from barbarians to another tribe.
2. Start the game

You will play as barbarians although another tribe was chosen.

**Expected behavior**
Either prevent setting o

[2021-02-06 16:20] Noordfrees commented on #4661
It's a UI bug. This scenario's tribes are defined as barbarians for all players so the dropdowns should be disabled.

[2021-02-07 22:39] Noordfrees opened #4662 "Option to invert map movement"
https://www.widelands.org/forum/topic/5144
Add an option to invert the map movement direction when clicking+dragging with the right mouse button.

[2021-02-08 09:20] hessenfarmer commented on #941
This can be solved now, due to the changes in #4648
However the question is how it should be fixed. I would vote for having a bool "include_constructionsites", as the funtion currently is used to identify a finished building rather then a pure constructionsite, cause a constructionsite does not need to be supplied to trigger the objective if done otherwise. So harmonising this the constructionsite

[2021-02-08 11:45] Noordfrees opened #4664 "MP Scenario Setup: Glitch with Player Type Dropdown"
**Describe the bug**
The type dropdown in the MP setup for a scenario map can turn inaccessible during the setup and contains invalid entries.

**To Reproduce**
Steps to reproduce the behaviour:
1. LAN → New Game → Choose map 'Trident of Fire'
2. Set the first player's type to Normal AI. The button to change the type is still enabled, as it should be.
3. Set your own player number to player 2. Now

[2021-02-08 13:55] hessenfarmer commented on #2035
The Gamekeeper part is implemented for Amazons only and is a tribe feature so the legacy tribes including frisians should not be changed in this way I guess. If the hunter mechanism should be implemented we should reduce the area to look  for prey.
so if we walk in an area of 8 we should only look in an area of 8 for some prey (this increases the total area by radius 3 though but with less chance

[2021-02-09 14:44] #4661 closed, assigned to Noordfrees

[2021-02-10 08:15] hessenfarmer commented on #4638
@Ordoviz
I uploaded a branch to implement the advices. Maybe you could have a look into it. You may checkout the gaming FAQ on the homepage as well

[2021-02-10 10:00] Ordoviz commented on #4638
#4665 is a good addition. But if the player looses the port, they should be able to build a new port without any weird tricks. I like @Niektory’s idea:

[2021-02-10 12:44] matthiakl commented on #1998
Implemented in #4578

[2021-02-10 12:44] #1998 closed, assigned to nobody

[2021-02-10 12:45] matthiakl commented on #1982
Implemented in #4649

[2021-02-10 12:45] #1982 closed, assigned to nobody

[2021-02-10 23:46] MarkMcWire opened #4669 "AI dont enhanced trainingsites, if there are only 3 mines."
If an AI don't build more than 3 mines, for whatever reason, no upgrade of trainingsite is started. Even if all other requirements are met and 3 mines are completely sufficient to supply the economy with coal and ore.

See https://www.widelands.org/forum/topic/5146/?page=1#post-36083

apply to-> bool DefaultAI::check_trainingsites(const Time& gametime)

My proposed solution: Instead of checking th

[2021-02-11 10:05] hessenfarmer opened #4670 "Github Clang-tidy check broken"
Our Github CI environment fails to run clnag-tidy due to the module "yaml" not being found. Seems as if the environment got updated but probably the module not or some path settings got weird.

@Noordfrees can you have a look into it

[2021-02-12 07:48] frankystone opened #4672 "expose win condition to lua"
Didn't found a way to examine the current win condition of a game in lua.

If the win condition is exposed to lua, an add-on can do different things depending on the win condition.

**Describe the solution you'd like**
Similar to [wl.Game.type](https://www.widelands.org/documentation/autogen_wl/#wl.Game.type) there should be a property `wl.Game.win_condition`

[2021-02-12 11:55] Noordfrees commented on #4672
Currently the C++ `Game` class only has a variable `win_condition_displayname_` which contains the win condition's (unlocalized) descname (e.g. `"Endless Game"`, `"Autocrat"`). For scenarios it is `"Scenario"`. Exposing this to Lua could be done easily also for v1.0. Would this be enough?

[2021-02-12 14:11] #4638 closed, assigned to nobody

[2021-02-12 14:23] #4670 closed, assigned to Noordfrees

[2021-02-12 15:29] matthiakl opened #4673 "Tooltip of immovables always visible"
**Describe the bug**
After clicking on an immovable its tooltip stays active everywhere outside the action window

**Expected behavior**
The tooltip should behave the same as with the action window closed.

**Screenshots**
![Bildschirmfoto vom 2021-02-12 15-22-04](https://user-images.githubusercontent.com/23122583/107786491-45271d00-6d4e-11eb-9497-eab30e47960b.png).

[2021-02-12 15:35] matthiakl opened #4674 "Tooltip on ship cargo"
**Is your feature request related to a problem? Please describe.**
When ships carry wares/workers it is not always clear, what is on the ship.
![Bildschirmfoto vom 2021-02-12 15-21-22](https://user-images.githubusercontent.com/23122583/107787753-cdf28880-6d4f-11eb-94b8-7a511c557985.png)
Who is travelling here?

**Describe the solution you'd like**
A tooltip when hovering over the items in a ships

[2021-02-12 16:40] frankystone commented on #3962
Is it possible to show the requests, or the tool a toolsmithy will create the next time in the toolsmithies window?

If this is possible, would it be also possible to dismiss the request, or the next creation of a tool?

This way a player get knowledge of the production programs and has more control of those programs.

[2021-02-12 16:47] Noordfrees commented on #3962
Sadly no because there is no game-logical connection between the tool request and the toolsmithy. What the smithy does is to check whether its economy needs ware X, and if so start the production of tool X.

*Why* the economy needs or doesn't need a ware is known only to the economy itself and depends on the target settings, or (only if a ware's target setting is 0) any open requests.

These in tu

[2021-02-12 16:47] frankystone commented on #4672
Yes, i think it would be enough

But there is no need to hurry to get this in v1.0 :-)

[2021-02-12 16:49] Noordfrees commented on #4672
As I said this should be easy, so let's let add-on designers access this in 1.0 :)

[2021-02-12 17:23] frankystone commented on #3962
Ah, this done on demand. I thought a smithy might have a list of tools to produce. Say an economy requests 2 hammers and 3 scythes so the list might be {hammer, scythe, hammer, scythe, scythe} and represents the order of creation.

But if a smithy produce tools on demand, the order which tool to produce next is only made by the order of production programs? So production program `produce  hammer`

[2021-02-12 17:35] Noordfrees commented on #3962
Correct. The order of tools is controlled by the smithy's `init.lua`:
[code]

It checks if the first tool (fire tongs) in the list is needed and the raw materials are available. If so, produce the tool. Then move on to the next tool (hunting bow), again produce if needed and possible, then the next (pick) and so on. Skipping wares that are not needed is very fast.

If you want/need fine-grained co

[2021-02-12 17:53] #4654 closed, assigned to Noordfrees

[2021-02-13 15:58] frankystone opened #4676 "SoundHandler: Sound effect xy does not exist!"
When saving a map the console prints endlessly:
[code]

**To Reproduce**
1. Start editor and load map Kings and Queens
2. Save it

I got this endless prints also if i had create a new map and placed some critters, but i can't reproduce it this way.

**Version:**
 - OS: archlinux
 - Widelands Version: [ddcc509@3849_win_conditions] (Debug)

**Additional context**
A similar bugreport was #4258 but th

[2021-02-13 20:08] matthiakl commented on #4676
I think the culprit is here:
https://github.com/widelands/widelands/blob/86674946dcbc5a1024a3edf197b0fdc3ff1ada49/src/logic/map_objects/descriptions.cc#L119-L123
During loading and saving the descriptions are instantiated multiple times. When the save window is closed, sounds are removed from the global sound manager without readding them somewhere else.

[2021-02-13 22:46] #2121 closed, assigned to nobody

[2021-02-13 22:46] #3190 closed, assigned to nobody

[2021-02-13 22:46] #3849 closed, assigned to nobody

[2021-02-14 07:23] klaus-halfmann commented on #3236
I get these warnings:
[code]

[2021-02-14 07:39] klaus-halfmann commented on #3236
src/logic/mutable_addon.h:101:3: warning: extra ';' after member function definition

[2021-02-14 07:52] klaus-halfmann opened #4679 "macOS: libSDL2_image.dylib was built for newer macOS version (11.1) than being linked (11.0)"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**

When compiling latest Version: e.g. e9ad8c0a8b258952ead573503af5de1a9d10c81b
I get ld: warning: dylib (/opt/local/lib/libSDL2_image.dylib) was built for newer macOS version (11.1) than being linked (11.0)

This may be reated to:
* lastest macOS 11.2.1
* Uprade of underlying macPorts System
* Update of Xcode to

[2021-02-14 08:40] matthiakl commented on #4679
Have you tried cleaning up your build directory? This sounds like cmake needs to reevaluate the dependencies.

[2021-02-14 08:46] matthiakl commented on #3236
Unrelated. I will fix it in my current PR (#4678)

[2021-02-14 08:58] Notabilis commented on #3236
Indeed. I fixed it anyway, but should merge fine with your PR I think.

[2021-02-14 09:54] klaus-halfmann commented on #4679
This was a fresh build of https://github.com/widelands/widelands/pull/4677
https://github.com/Notabilis/widelands/tree/3236-player-list but I had this this before.
Lets kep this as a kind of tracking Issue for now.

[2021-02-14 14:48] frankystone opened #4681 "HQ_Hunter does not destroy conquered military sites of other tribe"
Sorry, now i found a bug in hq_hunter:

If a player had conquered a military building wich belongs to a different tribe than the player plays, it get not destroyed if his headquarter was destroyed.

Difficult to reproduce... i have a replay but it does not work because [i used an addon which does not work for replays](https://github.com/widelands/wl_addons_server/issues/21)

Instead of a replay i

[2021-02-14 18:16] #4373 closed, assigned to matthiakl

[2021-02-14 18:19] #4672 closed, assigned to Noordfrees

[2021-02-14 19:35] hessenfarmer commented on #4681
yes i once used the allowed buildings per player and switched to the tribes buildings as they could be assessed more easy. switchingback should dot the trick

[2021-02-16 11:13] Noordfrees opened #4688 "Add-Ons in MP games"
There are no checks yet that all participants of an MP game use the same add-ons.
Proposed solution: The host sends an ordered list of all enabled add-ons (with versions) to every new client. The client throws an exception if an add-on is missing, or shows a warning about version mismatches.

[2021-02-16 14:08] frankystone opened #4689 "Watch window jumps to center of screen"
Related: #1232

If you open a watch window to watch an enemies military site and click on the military site inside the watch window, the watch windows jumps to the center of the screen.

**To Reproduce**
1. Open the watch window and move the content to see a foreign military building
2. Move the watch window to e.g. the upper left corner
3. Eventually wait until soldiers arrive at the watched mili

[2021-02-16 14:27] Noordfrees commented on #4689
This bug has been around for some time

[2021-02-16 17:41] #4676 closed, assigned to matthiakl

[2021-02-16 20:14] #4681 closed, assigned to nobody

[2021-02-17 11:26] Noordfrees commented on #4286
The game loads fine with build 21. There seems to be a difference in the loaded map objects:

b21:
[code]
master:

[code]

[2021-02-17 13:41] matthiakl commented on #4664
The exact same behavior was already present in build 21, so no regression here.
I'm not sure about disallowing AIs and closed slots in the selection. In 'Trident of Fire' non-human players are replaced by AIs, so these cases are handled by the scenario (a rule?).
The "shared in" option clearly does not work because of the tribe presets, so this should be disabled. And the disabled dropdown  should

[2021-02-17 13:58] Noordfrees commented on #4286
The problem is that immovables have two different packet versions. Loading immovables which use the `kCurrentPacketVersionImmovableNoFormerBuildings` version load fine, immovables with the `kCurrentPacketVersionImmovable` version fail.

[2021-02-19 15:14] #4664 closed, assigned to matthiakl

[2021-02-19 15:14] matthiakl opened #4693 "Review Trident of Fire"
Posted by @Noordfrees in https://github.com/widelands/widelands/pull/4691#pullrequestreview-593412907

On that occasion it should also be moved to MP_Scenarios

[2021-02-22 08:46] frankystone opened #4697 "new compiler warnings"
Some new compiler warnings.

Most are kind of:
[code]

And one:
[code]

[all compiler warnings](https://github.com/widelands/widelands/files/6020594/compiler_warnings.txt)

Widelands version: [5d2022e@master] (Debug)

[2021-02-22 15:29] matthiakl opened #4699 "Territorial time lua error after first player is defeated"
In the attached savegame, after the first player (empire) is defeated, the following error occured:
[code]
The save is a multiplayer pure AI game, so I'm not sure, whether this is related to multiplayer, ai or is a general bug.
[save.wgf.zip](https://github.com/widelands/widelands/files/6022915/save.wgf.zip)

[2021-02-22 19:25] #4688 closed, assigned to Noordfrees

[2021-02-22 19:30] hessenfarmer commented on #4699
confirmed. Strange thing is I got the error in line 69 instead of 105 will investigate.

[2021-02-22 19:36] frankystone commented on #4699
Those wincondition scripts are very complicated... at least for me.

The only place where `fields` will be a table is in https://github.com/widelands/widelands/blob/master/data/scripting/win_conditions/win_condition_functions.lua#L69

This should be `local fields = {}`, but i am totally unsure if this will fix it.

[2021-02-22 19:38] Noordfrees commented on #4699
Sounds like there might be two variables called `fields` which occasionally overwrite each other? All variable names should be globally unique…

You're not the only one :D

[2021-02-22 19:46] hessenfarmer commented on #4699
Yep I was not aware of the other variable, fix will be easy then

[2021-02-22 19:53] matthiakl commented on #4699
Should the fix be possible for the save directly? I renamed the table `fields`, but still get the error.

[2021-02-22 19:56] frankystone commented on #4699
No, afaik. One of the biggest drawbacks of lua scripts.

[2021-02-22 19:59] Noordfrees commented on #4699
Scripting data is stored as a binary dump file in savegames, so a savegame with broken scripting can not be fixed :(

---

We should also add a warning note to the documentation that all variable names must be globally unique. It could also be good to rename all variables used by those scripts to names that are less likely to be used by modders, e.g. `__win_conditions_<variablename>` and `__starti

[2021-02-22 20:08] hessenfarmer commented on #4699
Well this would be a big task and will gain only limited security. The hint to check for the variable name to be unique in scripting should be added to the scripting documentation though. Toghether with having as little global variables as reasonable. Sorry this is a perfect example of me doing 2 faults in one declaration.

[2021-02-22 20:27] frankystone commented on #4699
Normally defining variables as `local` is enough. Exceptions are global variables like 'pl', 'plr' or 'map'.

So +1 from my side to make global variables as unique as they can be. And to mention a rule for global variables in the documentation. A rule can be e.g. `scenario_name_<variablename>` or `addon_name_<variablename>`. For winconditions or other shipped scripts  we may can have a shortcut: `

[2021-02-23 06:43] frankystone commented on #4699
No need to say sorry :-)

[2021-02-23 07:33] #4699 closed, assigned to nobody

[2021-02-23 07:35] #4697 closed, assigned to Noordfrees

[2021-02-23 13:20] Noordfrees commented on #2120
See also #4650

[2021-02-23 15:53] matthiakl opened #4704 "Lua variables naming convention"
Define a naming convention for lua names to prevent clashes of global variables.

https://github.com/widelands/widelands/issues/4699#issuecomment-783635242:

https://github.com/widelands/widelands/issues/4699#issuecomment-783652898:

[2021-02-23 18:22] #4453 closed, assigned to Noordfrees

[2021-02-23 22:02] #4693 closed, assigned to Noordfrees

[2021-02-24 12:02] hessenfarmer commented on #2117
I would like to have the option to decide about the way forward to create multiple paths for a scenario (e.g. choosing between military or economical option)

[2021-02-24 22:14] #4273 closed, assigned to gunchleoc

[2021-02-25 11:56] #4650 closed, assigned to Noordfrees

[2021-02-25 14:01] Noordfrees opened #4707 "Add-on Tribes"
A list of the things remaining to do for v1.0 in regard to custom tribes in add-ons.

- [x] Road graphics need to be included in the first texture atlas
- [x] Support tips text scripts
- [x] LaunchSPG needs to update available starting condition after changing player tribe
- [x] Collectors
- [x] Disable AI selection for unsuited tribes

[2021-02-26 23:22] #4286 closed, assigned to Noordfrees

[2021-02-27 11:03] #4707 closed, assigned to Noordfrees

[2021-02-27 18:51] #4332 closed, assigned to hessenfarmer

[2021-02-27 18:57] Noordfrees opened #4715 "Misc Multiplayer Issues"
https://www.widelands.org/forum/topic/5153

Also I found another one where joining a LAN game fails with an error message about invalid empty tribename.

[2021-02-28 13:34] hessenfarmer opened #4718 "tutorials do not reflect configurable hotkeys"
the tutorials still refer to the nonconfigurable keys hardcoded

[2021-03-01 07:28] #4718 closed, assigned to Noordfrees

[2021-03-01 07:54] frankystone opened #4721 "LAN game on the same machine: The tribe "" does not exist"
If i try to configure a LAN game i get on the client: ERROR The tribe "" does not exist.

**To Reproduce**
1. Configure a LAN game, choose map Atoll, no need to set a slot, but the error occurs also if a slot was set
2. Start another instance on the same machine
3. Try to connect with the previous configured game

**Expected behavior**
No error

**Version:**
 - OS: archlinux
 - Widelands Version:

[2021-03-01 07:55] Noordfrees commented on #4721
Fixed half an hour ago in 9f820f008396bc37737a0cd0f58a924fa2ca0935

[2021-03-01 07:56] #4721 closed, assigned to nobody

[2021-03-01 16:17] #3981 closed, assigned to nobody

[2021-03-01 19:21] hessenfarmer commented on #4440
@Wegge are you planning to report anything as asked by @matthiakl?
If not, just tell us please so we can close the bug.

[2021-03-01 19:40] hessenfarmer commented on #3937
@scx is this still an open bug. Will this regress for upcoming version 1.0

[2021-03-01 19:49] hessenfarmer commented on #3607
as this has not been used any further I'll close this

[2021-03-01 19:49] #3607 closed, assigned to nobody

[2021-03-01 20:05] hessenfarmer commented on #3630
@gunchleoc is this still valid after the unification of world and tribes?

[2021-03-02 11:47] #3588 closed, assigned to nobody

[2021-03-02 12:16] Noordfrees opened #4729 "Python error in translations update script"
The translations update script no longer works for me (neither before nor after the changes of #4728 by which I tried to fix it). The step that fails is the `update_translation_stats` program.
[code]

[2021-03-02 12:19] #3876 closed, assigned to tppq

[2021-03-02 14:39] frankystone commented on #4729
This script is not python3 ready.

Will try to look into it.

[2021-03-02 17:15] #4729 closed, assigned to nobody

[2021-03-02 18:43] Noordfrees opened #4732 "Switch tundra/taiga terrains"
From a Transifex string issue:

Let's rename the terrains without changing the values:

<table>
<tr>
	<td> Old:
	<td> New:
	<td> Best tree growth:
<tr>
	<td>Tundra 1
	<td>Taiga 1
	<td> 88,3%
<tr>
	<td>Tundra 2
	<td>Taiga 2
	<td> 92,3%
<tr>
	<td>Tundra 3
	<td>Taiga 3
	<td> 89,4%
<tr>
	<td>Tundra Taiga
	<td>(unchanged)
	<td> 62,2%
<tr>
	<td>Taiga
	<td>Tundra
	<td> 36,9%
</table>

The four terrains t

[2021-03-03 09:00] frankystone opened #4733 "Thoughts on options menu"
_Originally posted by @Noordfrees in https://github.com/widelands/wl_addons_server/issues/23#issuecomment-786811833_

Edit: Will ad some of my thoughts in the next days

[2021-03-03 09:26] frankystone commented on #4733
Tab _Interface_:

- Do we need the dropdown 'Windowsize' anymore? Since the main windows can be resized?
- Do we need ' Use system mouse cursor'?
- Do we need 'Maximum FPS'? I guess no one has ever changed this.
- What effect has 'Accessibility mode for Tooltips'? If i enable it, one tooltip of the main  menu stays open although the mouse moves to another button. Bug?
- The options related for doc

[2021-03-03 09:38] frankystone commented on #4733
Tab _'Sound'_:

Just a suggestion here: Invert position of checkboxes and sliders:

![options_sound](https://user-images.githubusercontent.com/6730556/109785614-95d2bd00-7c0c-11eb-8f08-e47a2732e1c2.jpg)

[2021-03-03 10:32] Noordfrees commented on #4733
I use Windowsize a lot because different window sizes are useful when debugging stuff in several windows. It's so much more convenient that manual resizing.
Use system mouse cursor needs to be an option because this feature can cause bad glitches on some hardware or drivers.
I set MaxFPS much higher than default for smoother performance, but I'd be fine with making this one of the "hidden" options

[2021-03-05 11:28] Noordfrees opened #4740 "GameDetails crashes when too large"
1.0~git25218[83ac047@master]: When the GameDetails column in the main menu's Load Game screen gets too large, the minimap preview icon is downscaled to a negative size, resulting in
[code]

Solution: the GameDetails box should have a scrollbar and the minimap icon always fitted to the available width (like in the MapDetails).

The bug can be reproduced by clicking on [this save](https://github.com

[2021-03-05 16:14] Noordfrees opened #4741 "Team vision bug regression"
![shot0000](https://user-images.githubusercontent.com/48293446/110141699-b5691180-7dd5-11eb-9a97-90cef6688163.png)

This is what happens when changing a player's team during the scenario. Before, player 1 was in team 1 and player 2 in no team (0); the scripting line is `p2.team = 1`. Apparently player1's vision is not updated.

Version: `1.0~git25220[12de8e4@fri04] (Debug)` (code is equal to 83ac0

[2021-03-05 19:10] matthiakl commented on #4733
The language hint should span over all three dropdowns instead of just the top two:
![Bildschirmfoto vom 2021-03-05 20-04-41](https://user-images.githubusercontent.com/23122583/110161725-0d137700-7dee-11eb-911f-e7d548047d62.png)

Just a suggestion here: Invert position of checkboxes and sliders:

+1

[2021-03-05 19:13] Noordfrees commented on #4733
The Theme dropdown will be removed again in #4734

[2021-03-05 22:34] #4740 closed, assigned to matthiakl

[2021-03-06 10:23] hessenfarmer commented on #4741
if player2 is red then it looks like player1 got the same vision as player 2. I can't see the problem in this screenshot

[2021-03-06 10:25] hessenfarmer commented on #4732
first we need to check the growth probabitlity of trees in the current terain definitions. Afterwards we should decide what to do.

[2021-03-06 10:28] Noordfrees commented on #4741
The terrain and roads info has not been updated when the teams merged. That's why everything is coloured as meadow1 and player 2's roads are invisible. (The wintery landscape visible in the southern part of the image just goes on in the northern part.)

---

EDIT: This is what the map is meant to look like (the bug goes away after save-reloading because all visible fields are rediscovered on load)

[2021-03-06 10:31] Noordfrees commented on #4732
Added this info to the table above. Current tundra is very well suited for coniferous trees; nothing grows well on taiga; tundra taiga is in-between. In reality it should be the other way around.

[2021-03-06 10:39] hessenfarmer opened #4744 "registering an attribute with a building should be possible"
I was trying to register an attribute with a custom building as it should be a child of immovable. however the attribute was not registered as i got a lua error that the attribute id was not existent, while using a findobject=attrib: command.

either this is a bug or we may consider it as a feature request.

[2021-03-06 10:47] Noordfrees commented on #4744
The attributes registered while loading are currently used only when creating a critter or immovable (`src/logic/map_objects/descriptions.cc:402-475 Descriptions::add_object_description`). I'd consider it a new feature to pass them to other types as well.
But buildings are not descendants of immovables (they are siblings which are both descended from the abstract type `BaseImmovable`); what are yo

[2021-03-06 11:09] frankystone opened #4745 "Move new_game_template to ./widelands/configured_game/"
I think for a user it is much easier to find the `new_game_template` if it is in `./widelands/configured_game/new_game_template`

Furthermore a user doesn't have to copy this template from `data/templates/` to somewhere below `.widelands/`. He can just adapt the given template and start it right away.

The folder `./widelands/configured_game/` should be static then. This gives more possibilities:

[2021-03-06 12:09] hessenfarmer commented on #4744
in my attempts on atl02 i need a custom worker named "trader" to go to the barbarian tribes HQ. I had introduced an immovable named trading pole with the attrib "trdepole" for this and placed it neat the HQ. However I recently had the idea to assign the attribute to a custom HQ and let the worker go there directly. This is not urgent though. Just wante to take note of this to not forget.

[2021-03-06 12:14] Noordfrees commented on #4744
This might need a slightly bigger change than just adding attributes to buildings because entering a building is a more difficult task than walking to an immovable: an immovable can be approached and left from/in any direction whereas buildings are always entered/exited from the south-east; workers should be invisible while inside a building but visible while on immovables; and the building itself

[2021-03-06 14:09] jeff-dh opened #4746 "Lua: Setting visibility of fields does not work correct after hide_fields()"
Hey,

I played the campaign Neptunes Revenge and couldn't finish it because I couldn't find the last artefact. After looking into the map in the editor I found it at (31,3). The point is this area is for some reason never "discovered" (e.g. the fog is  never removed) neither after I tried to discover it with an expedition nor after building a military building close to it.

I attached two screensh

[2021-03-06 14:18] hessenfarmer commented on #4746
well this is definitly a bug. thanks for reporting. The dark hexagon is the region that is shown in the beginning with the ship in danger and disclosed afterwards. It seems like the disclosure is permanent.

[2021-03-06 15:16] frankystone commented on #4746
The vision code was changed some time ago... looks like https://github.com/widelands/widelands/blob/master/data/scripting/field_animations.lua#L79 needs to be changed from:
[code]
to:
[code]

Edit by hessenfarmer( sorry wanted to do a quoted reply and got the wrong menu point):
I have tried the change suggested above and the result is the fields stay visible with only light fog of war.

[2021-03-06 15:53] frankystone commented on #4746
@jeff-dh can you please upload a save game?

[2021-03-06 19:23] jeff-dh commented on #4746
[neptunes-revenge-bug.wgf.zip](https://github.com/widelands/widelands/files/6095942/neptunes-revenge-bug.wgf.zip)

I just added the .zip postfix to the .wgf file to bypass the github upload filter. It's not compressed another time, just rename it.

[2021-03-06 19:48] hessenfarmer commented on #4746
@Niektory maybe you could have a look into this as I assume something was overdone in this commit
https://github.com/widelands/widelands/commit/1878bf2ec6f146a3eb59fb862dce219916304f79#diff-930e64765522ae7ac8f73b31c02194c0f8815a0cd9ee8d714a6670e05891e472

[2021-03-06 20:08] hessenfarmer commented on #4746
the problem is that hide_fields originally was meant as set the fields to normal and unexplored. this should be the case for unexplore = false now while unexplore = true can be used to hide fields in override mode.  Currently unexplore = false does not much. it just sets the fog of war if at all.
I tested to set the falg to false and in this situation the fields should already be partly set back t

[2021-03-06 22:52] hessenfarmer opened #4748 "Time minus duration negative error."
There is still an error resulting in the time minus durtion is negtive error.
to reproduce start the atlantean mission 2 from the following branch and wait 10 minutes

https://github.com/widelands/widelands/tree/atlantean02

I believe this is due to this mission is initialized with pretty much buildings for the AI Players. but I couldn't trace this so I need the help of someone with gdb

[2021-03-07 12:26] Noordfrees commented on #4748
[code]

[2021-03-07 12:28] Noordfrees commented on #4748
The if condition says `queue.back().first < current_time - duration_` which could probably be safely rephrased as `queue.back().first + duration_ < current_time`?

[2021-03-07 13:09] hessenfarmer commented on #4748
will have a look into it. Thanks for the trace

[2021-03-07 15:36] hessenfarmer commented on #4368
I'll close this as all things mentioned herein have been fixed and for any other issue it is to unspecifc
@Nordfrees I have reset the implementation version to 1.0 as all things mentioned herein have been introduced to 1.0

[2021-03-07 15:36] #4368 closed, assigned to nobody

[2021-03-07 15:44] hessenfarmer commented on #727
@klaus-halfmann  At least this one will be fixed soon when #4749 gets merged.

[2021-03-07 16:41] #4748 closed, assigned to nobody

[2021-03-07 17:21] frankystone opened #4750 "No buttons anymore in Save game menu"
I have no buttons anymore in the save game menu:

![shot0006](https://user-images.githubusercontent.com/6730556/110248429-5c35e500-7f71-11eb-8393-d91fb640d697.jpg)

Don't know if this is important: This screenshot is taken with the normal theme, but previously i have played with my minimalistic theme. There i noticed the missing buttons so i turned on the normal theme. But the buttons are still mi

[2021-03-07 17:52] Noordfrees commented on #4750
Confirmed with 05232a8f6b572824f355dcc8aba8e2caa0c1db2b and default theme, perhaps related to #4742 @matthiakl?

[2021-03-07 21:23] frankystone commented on #4750
Yes, definetly. The commit prior to this one shows the buttons.

[2021-03-07 22:13] matthiakl commented on #4750
Sorry, I overlooked this menu and did not test it. A fix is on its way.
However, I noticed a layouting bug in this menu (Maximize window, then resize again). This also happens on branches before my PR, so it seems to be unrelated:
![Bildschirmfoto vom 2021-03-07 23-05-50](https://user-images.githubusercontent.com/23122583/110256680-6d471c00-7f9a-11eb-9ca0-ce3b4a9abbb4.png)

[2021-03-08 08:57] hessenfarmer commented on #3617
frisian part is fixed by #4361
rest is duplicate to #3448
switched back to v1.0 to show correct point of embodiment
changed the title as well

[2021-03-08 08:58] hessenfarmer commented on #3617
closed as already implemented

[2021-03-08 08:58] #3617 closed, assigned to nobody

[2021-03-08 08:59] hessenfarmer commented on #3448
in the solution of this we should have all world immovables available in the tribes encyclopedia as well

[2021-03-08 12:03] hessenfarmer commented on #3989
closing this as all Tasks mentioned above have been implemented.
resetted the version impelemented to v1.0

[2021-03-08 12:03] #3989 closed, assigned to gunchleoc

[2021-03-08 19:36] #4750 closed, assigned to nobody

[2021-03-09 11:18] frankystone opened #4754 "Expose Stock total values to lua"
See: https://www.widelands.org/forum/topic/5165/

I think the easiest way to have this is to expose the total stock values to lua. Something like:
[code]

The functions should return a table of wares/workers instances so one can examine them.

[2021-03-09 11:28] Noordfrees commented on #4754
For the wares this is not possible. Ware instances do not have any properties of their own and are therefore not preserved in the same way as workers. When a `WareInstance` enters a building, it is destroyed and becomes a mere number in a statistics table, and when it is carried out a *new* `WareInstance` is created.

I think `get_total_workers` sounds as if it would return a number, how about `ge

[2021-03-09 11:50] frankystone commented on #4754
Ah, didn't know the thing for wares.

We should have the same naming convention for similar functions. We have `get_buildings` and `get_constructionsites` which return instances. And there are already functions `get_workers` and `get_wares` which returns the amount of wares/workers. Two options, imho:

1. Rename the functions `get_wares` and `get_workers` to `get_total_[wares|workers…]` or `get_al

[2021-03-09 11:59] Noordfrees commented on #4754
The problem is we need to keep the names intact for backwards compatibility. Now that we have an add-on system we don't want to rename functions every couple of months, so that an add-on written for 1.0 should (ideally) still function without any changes in 1.10.

We could however declare the convention like this:
- `get_all_xxx` – array of instances
- `count_xxx` – integer number
- `get_xxx` – de

[2021-03-09 12:22] frankystone commented on #4754
1.0 is not official yet, so renaming shouldn't be a problem for now. But in general i am fine with your proposal :-)

[2021-03-09 12:26] Noordfrees commented on #4754
Rename them now? I don't feel good about that – we'd need to change a lot of places in the scenarios and tutorials, win and starting conditions, encyclopedia and auxiliary scripts… lots of potential to introduce new Lua coroutine error bugs shortly before the first stable release, not to mention it would break existing savegames with win conditions or scenario scripting that use the old functions.

[2021-03-09 12:42] frankystone commented on #4754
Doing a `grep -r 'r:get_workers(' data/ | wc -l` and similar for `get_wares`  gives this occurrences:

* `get_workers` =  0
* `get_wares` = 12

For addons the occurrences are:
* `get_workers` = 0
* `get_wares` = 11

Should be doable, imho. But if you think your proposal is more secure, just do it.

[2021-03-09 12:51] Noordfrees commented on #4754
I get rather more hits…?
[code]

[2021-03-09 12:57] frankystone commented on #4754
Yes, because e.g. `wh:get_wares("beer") >= 30)` is the function of the [building](https://www.widelands.org/documentation/autogen_wl_map/?highlight=get_wares#wl.map.HasWares.get_wares), not the player.

But you are right, the naming convention should also apply for buildings.

[2021-03-09 17:47] frankystone opened #4757 "new_game_template: Setting win_condition from Addon does not work"
Trying to set a win_condition as Addon in the new_game_template crashes the game:

[code]

I have tried to set the value from `wc_name` ( i guess this is the internal name), also the path, e.g. `'addons/first_hero_wins.wad/first_hero_wins.lua'` but it looks like the game searches only the path `scripting/win_conditions/` for win conditions. I have also tried to enable the addon in `mainmenu -> add

[2021-03-09 17:49] Noordfrees commented on #4757
You must use *only* the add-on's internal name:
[code]

Whether the add-on is enabled doesn't matter, only the template's `addons` key is used to determine which add-ons are enabled in this game. But a win condition should work even if the add-on is not listed in this section.

[2021-03-09 17:58] frankystone commented on #4757
Ah, thanks. Please clarify this:

I have stumbled over this _internal_name_ and was not sure what this refers to. I wouldn't expect that this is just the name of the folder.

[2021-03-09 18:00] Noordfrees commented on #4757
Okay I just realized that I use internal add-on names all over the code everywhere where add-ons are used, but the doc only contains this tiny reference
https://www.widelands.org/documentation/add-ons/#campaign
will adjust the documentation for add-ons and the shipped game template

[2021-03-09 22:06] #4715 closed, assigned to Noordfrees

[2021-03-10 11:54] Noordfrees opened #4759 "Support multiple add-ons registering the same descriptions"
Widelands crashes if the New Tribe and Frisian Economy Ultra add-ons are enabled at the same time because they both register a new ware "rye". This must be fixed by allowing add-on designers to use conditionals in their `register.lua` files to handle duplicate definitions.

[2021-03-10 15:57] hessenfarmer opened #4761 "Documentation errors"
over the past time some errors have been emerged in our docuzmentation suite.  this Issue is to track them and hunt them down:

- [x] introduction.rst: Initializations should be renamed to starting conditions, a Link to the starting condition documentation should be added. Example should be deleted as it is outdated and is contained in the recently introduced SC documentation. Win condition exampl

[2021-03-10 18:36] frankystone commented on #4761
I this also for enhancements?

- [ ] win_condition_functions.lua: Add Rst comments for [broadacst_win](https://github.com/widelands/widelands/blob/master/data/scripting/win_conditions/win_condition_functions.lua#L146) and broadacst_lost()
- [x] Change occurences of `wl.Game.xy` to `wl.Game().xy`. E.g. [here](https://www.widelands.org/documentation/autogen_wl_game/#wl.game.Player) and add it e.g. [

[2021-03-10 18:46] Noordfrees commented on #4761
- [x] Write documentation for `LuaDescriptions::modify_unit`
- [x] [This section](https://www.widelands.org/documentation/autogen_wl/?highlight=wl%20game#world) is currently called "World" when it should be "Descriptions". Its list of methods seems pretty incomplete.

[2021-03-11 07:55] frankystone opened #4763 "Starting condition 'Discovery' should exclude 'Custom starting positions'"
If you set starting condition 'Discovery' and choose 'Custom starting positions' the player get prompted to choose a starting position. After Clicking the view is moved to a ship.
It's not logical to choose a starting field if the game starts with ships.

**To Reproduce**
1. Start two player game on 'Together we are strong'
2. Choose 'Discovery' for you
3. Check 'Custom starting position'
4. Start

[2021-03-11 23:07] spirillen opened #4768 "Unknown map object type"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
See screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Continue game

**Expected behavior**
:thinking: :thinking: :thinking:

**Screenshots**
![image](https://user-images.githubusercontent.com/44526987/110866312-41db6e80-82c5-11eb-8db6-9365367c7d9f.png)

**Version:**
 - OS: [Ubuntu 20.04
 - Widelan

[2021-03-12 06:05] matthiakl commented on #4768
Some more information would be helpful:

- Start widelands in a terminal to see and copy the log
- In which version did you save the game?
Go to the load game window for this information.

[2021-03-12 06:29] frankystone commented on #4768
The `amazon_youth_gathering` was renamed to `initiation_site` recently. I guess the last save game was a made with a previous version, then you have updated widelands and the game can't find the old name anymore.

Such things can happen when using a development build...

[2021-03-12 10:45] Noordfrees commented on #4768
Yep, that's correct. You can repair the savegame manually though:
- Unpack the savegame (in case it is a zip file).
- Open the files `map/binary/building` and `map/binary/building_data` with a hex editor (e.g. GHex) and do a Replace All with `amazons_youth_gathering` → `amazons_initiation_site`.
- Replace the occurrence in `map/allowed_building_types` with a plain text editor as well.

I'll close

[2021-03-12 10:45] #4768 closed, assigned to nobody

[2021-03-12 10:46] #4759 closed, assigned to Noordfrees

[2021-03-12 20:12] Noordfrees commented on #2078
Duplicate of #2047

[2021-03-12 20:12] #2078 closed, assigned to nobody

[2021-03-12 22:21] Noordfrees commented on #4440
No response here, let's assume the problem no longer happens.

[2021-03-12 22:21] #4440 closed, assigned to nobody

[2021-03-13 12:16] Noordfrees commented on #4602
https://www.widelands.org/forum/post/36223/
![](https://www.widelands.org/forum/attachment/dd34f5f852f3ae55a5a07462f3233f02642e995d/)

[2021-03-13 15:33] spirillen commented on #4768
Yep, I notice as I started a new game, that it was cursed by a renaming of the youth center.

But I would like to suggest that, in the future of similar events, that there could be:

1. A message in the error, stating there was a renaming.
2. A builtin naming converter / Alias handling.

[2021-03-13 17:09] Noordfrees commented on #4768
When a unit is renamed between releases, it is added to the compatibility lookup table and the name is converted automatically when loading. But for development versions we don't usually bother with this as we don't guarantee stability here.

[2021-03-13 18:41] #1424 closed, assigned to Noordfrees

[2021-03-13 18:41] #4234 closed, assigned to gunchleoc

[2021-03-13 21:23] #4763 closed, assigned to Noordfrees

[2021-03-14 09:18] Niektory commented on #4746
The current behavior of `unexplore = false` is used in This Land is Our Land (barbarians 2) to show the tracks and then put them in the fog of war. This seems to be intended so I think this functionality should be preserved.
![shot0163](https://user-images.githubusercontent.com/4470900/111062126-5d9e6a80-84a7-11eb-8f11-6a8bcb7f1aa0.png)

Currently (after #4478) the Lua functions work as follows:
-

[2021-03-14 12:58] frankystone commented on #3962
Just get again in a situation while playing discovery starting condition where i was wondering which tool the toolsmithy will made.

I built one building after the other until i noticed the sawmill misses a worker. So i built a toolsmithy but the toolsmith didn't produce a saw... it took me some time to find out why: He produces a fishing_rod because in my economy settings i have set it to one and

[2021-03-14 13:36] frankystone commented on #4746
Can't there be three states as argument?

Say `hide_fields(fields, visibility = ["hidden"|"normal"|"has_seen"]`?

* "hidden" = hide fields no matter what
* "normal" = hide fields but can be revealed again by residents, buildings and ships
* "has_seen" = hide fields like they have been seen formerly by residents, buildings and ships

For bar_02 this would be `hide_fields(fields, "has_seen")`
For Ne

[2021-03-14 18:07] #4741 closed, assigned to Niektory

[2021-03-14 18:17] Noordfrees commented on #4746
If I'm not mistaken the internal (C++) representation of the scripting vision magic is an "override" value that takes precedence over everything. So we should IMHO change the Lua interface to use the same mechanics. e.g.
[code]

[2021-03-14 18:53] frankystone commented on #4746
If this will be named to a name which is more selfexplaining (for beginners)...

`set_field_visibility(fields, ...)`

[vision](https://www.dict.cc/?s=vision) does not fit, imho.

[2021-03-14 19:50] hessenfarmer commented on #4746
The suggestion from Nordfriese sounds good to me in combination with the suggestion of frankystone. But I think we only would need 3 values for it:
[code]

[2021-03-15 18:48] tothxa opened #4772 "game crash"
**Describe the bug**
I had the game crash in multiplayer at the same point repeatedly. Does not matter if there are actual remote players connected or not. Even local user can be just spectator.

**To Reproduce**
Steps to reproduce the behavior:
1. Host multiplayer LAN game loading the attached savegame
2. You can set all players to AI
3. Start the game
4. After a few seconds, the game always cras

[2021-03-15 19:26] Noordfrees commented on #4772
Thank you for your bug report. The ASan output with build 21 says
[code]

This bug is caused by the problem that a port is being created in a place where there is no free space for a port dock. This bug is fixed in the current development version already.

If you want to continue playing this game with b21 you'd need to find the nearly-completed port construction site and destroy it before it comp

[2021-03-15 19:27] #4772 closed, assigned to nobody

[2021-03-15 19:39] tothxa commented on #4772
Thank you very much!

[2021-03-15 19:47] Noordfrees commented on #4733
- Does anyone have Mouse Grab turned on? If not, we could consider removing that option.
- Do we need the Write Syncstreams checkbox? Desyncs are rare now, and I for one find it much easier to define the `SYNC_DEBUG` symbol at compile-time instead of bothering with syncstream files, so a command line switch would be sufficient IMHO.

[2021-03-16 05:31] klaus-halfmann commented on #4733
+1 for making the sync-streams a commandline option
+1 for FPS
+1 for Mouse Grab

I used the window-size via commandline for some youtube videos only.
It can be importat if you last played WL on a big, external screen an now
start without it. Not sure how bad this is for the average player.

The cluttering is worse in german as we need longer texts there.
But we should check other languages, too

[2021-03-16 06:37] frankystone commented on #4733
Can't `max FPS` not be set automatically? Or set it to a higher value by default. I set it now to "99" and started a big save game. The FPS showed during the game are round about "70" and AVG shows values between 40 and 57.

[2021-03-16 07:41] frankystone commented on #4761
Just found [formatting.lua](https://github.com/widelands/widelands/blob/master/data/scripting/formatting.lua). There is one reference in [help_formatting](https://github.com/widelands/widelands/blob/master/data/tribes/scripting/help/format_help.lua#L20) but looking at the code formatting.lua isn't used.

According to the TODO the file `formatting.lua`  can be deleted? @gunchleoc ?

[2021-03-16 09:21] gunchleoc commented on #4733
Might be useful for streamers to be able set the window at a well-defined size.

[2021-03-19 11:14] #4757 closed, assigned to Noordfrees

[2021-03-19 17:55] another-m00 opened #4774 "On win7 game crashes with EXCEPTION_ACCESS_VIOLATION"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
I'm not sure if this game is developed for win7, but I'll try to submit this bug report.
On Windows 7 enterprise, the program immediately crashes with the code 0xc0000005 (EXCEPTION_ACCESS_VIOLATION)
(The error code is only aviable in the event log)

**To Reproduce**
Steps to reproduce the behavior:
1. Install t

[2021-03-19 18:17] frankystone commented on #4774
Widelands does not support operating systems which are not maintained anymore. Sorry.

[2021-03-19 18:17] #4774 closed, assigned to nobody

[2021-03-19 20:43] matthiakl opened #4775 "Multiple add-ons with same descriptions in a new game results in an exception"
**Describe the bug**
Re #4759
Using conflicting add-ons in a game results in an exception

**To Reproduce**
Steps to reproduce the behavior:
1. Enable "new tribe" and "Frisian Econonmy Ultra" add-ons
2. Start a singleplayer game with own tribe "New tribe" and AI tribe "Frisians"
3. Start the game
[code]
**Expected behavior**
One of the add-ons should receive priority

**Version:**
 - Widelands Ver

[2021-03-19 20:55] Noordfrees commented on #4775
I cannot reproduce. Which versions of both add-ons do you have?

[2021-03-19 20:59] another-m00 commented on #4774
Well, thats going to be a fork once I get some experience with C.

[2021-03-19 21:01] Noordfrees commented on #4774
Do you have the `stdout.txt` from the crash? It probably contains more information about what caused the crash. Good chance it might even be one of the crashes we fixed since build21.

[2021-03-19 21:05] matthiakl commented on #4775
Woops, I had frisians version 2.0.3. The current version works fine.
Sorry for the false report, I will use the update feature more often :)

[2021-03-19 21:05] #4775 closed, assigned to nobody

[2021-03-19 21:08] another-m00 commented on #4774
Oh, right, i forgot to incude that

[code]

I can't find any note of error though :(

[2021-03-19 21:16] Noordfrees commented on #4774
Looks perfectly fine… The first step after the end of the graphics report is normally the loading of the style manager templates, which is prone to crash if something is wrong with the template file. There is no success message for this in the log. Does the file `C:\Users\Desktop\AppData\Local\Widelands\data\templates\init.lua` exist?

[2021-03-19 21:20] another-m00 commented on #4774
Nope, only in the Default subdirectory, and it's hidden.
I'll check it out. _Which Lua version does it need?_... It seems any version

[2021-03-19 21:22] Noordfrees commented on #4774
My mistake that's the one I meant. So the datadir is also detected correctly and the template file is where it should be. I'm out of ideas now… :(

[2021-03-19 21:24] another-m00 commented on #4774
I'll check the init function in the source to see what else come next

[2021-03-19 21:27] Noordfrees commented on #4774
The next ones are the mouse cursor and the sound handler. So you could try if one of the following commandline parameters would help:
[code]

[2021-03-19 22:35] another-m00 commented on #4774
Iirc, the cursor didn't work on the 0.18 build either :(
with `--nosound` the window stayed alive for 2 more seconds, then crashed,
with `--sdl_cusor=false` inmediately crashed,
with both, inmediate crash again
So one of the errors might be with the sound module.
The stdout shows nothing new.

[2021-03-21 15:10] Noordfrees opened #4778 "MP setup changes tribes of savegame players"
Select a savegame in the LaunchMPG setup. It is possible to share a saved slot with a different player, even if that player uses a different tribe, resulting in the shared slot to be assigned a different tribe. It is also possible to assign an AI to a player with New Tribe, in which case the tribe is changed to Amazons.

[2021-03-21 17:32] matthiakl commented on #4778
Is sharing a slot after a game has started even implemented? I tried sharing a savegame slot with a player with the same tribe, but don't get access it in game. So maybe we should just disable the "Shared in" option for savegames.

[2021-03-21 19:16] Borim7 opened #4781 "Help overlay menu is cut off"
**Describe the bug**
When playing widelands in default resolution the menu for help overlays is cut off. An example is given as screenshot.

**To Reproduce**
1. Start widelands with default configuration, no changes after install
  * resolution: 800 x 600
2. Start any game
3. Click on overlay menu, where you can display building names etc.
4. The displayed menu is cut off

**Expected behavior**
Me

[2021-03-22 10:51] #4778 closed, assigned to matthiakl

[2021-03-22 17:19] klaus-halfmann commented on #4781
OK, this happens in German (or some other "long String" Language) only.
Will test that fix now

[2021-03-22 17:38] klaus-halfmann opened #4783 "Cannot get rid of maximized="true" via commandline or options menu"
**Describe the bug**

Once the Option "Window Size" is set to "Maximized" (config: maximized="true" )
one cannot get persistently get rid of it by either setting a normal size or using command line opttions.

**To Reproduce**

1. Open the Options Menu and set "Window Size" to  "Maximized"
2. Click OK or Apply -> Size changes
3. Quit Widelands and reopen
4. Widelands starts with a maximized WIndow

[2021-03-22 19:03] frankystone commented on #4783
Yes, it should so, imho. If you want another fixed size, just set it in the options. After restarting this new option is used.

Don't get the problem here.

[2021-03-22 21:27] #4781 closed, assigned to Noordfrees

[2021-03-23 06:30] klaus-halfmann commented on #4783
Hmm maybe this is an macOS only Issue?
Maybe its differnt as I have a dual Monitor setup?

Please check my Sccrencast here: https://www.magentacloud.de/share/ygwso1qmey
Anyone else with macOS around?

[2021-03-23 07:29] frankystone commented on #4783
Ah, that makes it more clear.

The problem is that command line options `--xres=` and `--yres=` doesn't apply once the window was maximized.

1. Start widelands and set resolution to maximized
2. close widelands
3. Try to start widelands with command line options like `./widelands --xres=800 --yres=600`

Result:
Windows is maximized although another resolution was given on the commandline

[2021-03-23 20:28] frankystone commented on #3962
Get this problem again with starting condition discovery:

Build a port from one of the three ships. After finishing the port i started to build a woodcutters house. Unfortunately at this moment there were no lumberjack in the port. Then i have cancelled the expedition of the remaining ships  and a lumberjack arrives at the port and the woodcutters house got a lumberjack. After building a toolsmit

[2021-03-26 02:20] Niektory commented on #4746
I'm not in the best shape right now. It might take a few more days before I get to it.

[2021-03-26 16:46] frankystone commented on #4746
Take the time you need :-)

[2021-03-28 18:59] matthiakl opened #4786 "Rework world and tribe loading"
The desync fix from #4777 should be replaced by a proper rework of world and tribe loading.
The current situation:
https://github.com/widelands/widelands/blob/8a69fea1ad7ce4e4b5b47dc538bcb4d95cbc9954/src/logic/game.cc#L228-L239

[2021-03-29 13:26] Noordfrees opened #4788 "Windows builds failure"
All windows builds are currently failing at link time with undefined references in `libopus.a` to `__memcpy_chk`
[code]
@hessenfarmer

[2021-03-29 15:39] frankystone commented on #4788
The related package was updated recently...

https://packages.msys2.org/package/mingw-w64-x86_64-opus

[2021-03-29 18:01] #4611 closed, assigned to Noordfrees

[2021-03-30 08:45] #4788 closed, assigned to nobody

[2021-03-30 17:52] Noordfrees commented on #4761
Perhaps we should put in deprecation notices in every function in this file now, and delete it after the release?

Edit: The testsuite includes it for the `test_text_renderer_does_not_crash` test; other than that it seems unused.

[2021-03-30 18:36] frankystone opened #4790 "./widelands --version should show only the version info"
**Is your feature request related to a problem? Please describe.**
AFAIK currently there is no easy way to get the widelands version, except starting widelands or use ./widelands --help which shows all command line options.

A command line option `--version` would be helpful, imho. This could be used for example on the homepage to easily show the used version for processing map files. Maybe this c

[2021-03-30 18:47] Noordfrees opened #4791 "Auto-indent console help"
The whitespaces used for indenting the commandline parameters in the `--help` output currently have to be set by the translators. Annoyingly Transifex "optimizes" out multiple whitespaces when copying strings. If you miscount, the help looks misaligned, e.g.:
[code]
[code]

We should hide all indentation as well as the line breaks in the console messages from the translators, and implement automat

[2021-03-31 00:17] tothxa opened #4792 "[Duplicate] `SupplyList::remove_supply` crashes when leaving game"
**Describe the bug**
The game crashed.

**To Reproduce**
While working on translation, I switched several times between Options and loaded singleplayer games, often pausing the game for a long time. The last game I loaded was originally an autosave after the host exited from a local multiplayer game. After running it at 8x speed for a while waiting for some buildings (with very low FPS - AIs not a

[2021-03-31 07:26] tothxa commented on #4792
Maybe it's a case of #4645

[2021-03-31 08:31] Noordfrees commented on #4792
Yep, that's again the ominous `SupplyList::remove_supply` crash

[2021-03-31 15:17] frankystone opened #4794 "Thoughts about event handling"
**Is your feature request related to a problem? Please describe.**
During some scripting i got the idea to gather some information from the players Inbox. As a primitive example:

[code]

This will not work e.g. for Discovery starting condition. We can write a function for watching messages and wait until the player has build a Port:

[code]

This does also not work because `msg.title` is localize

[2021-03-31 17:07] frankystone commented on #4783
I think in general command line options should preferred over settings from `config` file. If feasible without changing the config file.

[2021-03-31 17:55] frankystone opened #4795 "Give spin boxes a background"
Spin boxes should have a background similar to drop down boxes.

This should make the visual relation between value and arrows more visible.

Mockup:

![bg_sliders](https://user-images.githubusercontent.com/6730556/113188535-75713f00-925a-11eb-9b62-a0b9bd211ed4.jpg)

In this mockup the borders are missing but i think there should be some borders. So the value is visually in a sunken area, just lik

[2021-04-01 11:10] Noordfrees opened #4796 "MultilineEditbox crashes in `snap_to_char`"
https://www.widelands.org/forum/topic/5171
The crash can be reproduced with a self-built flatpak of latest master:
[code]

[2021-04-02 17:28] frankystone opened #4801 "Editor addons; create windows?"
The editor lacks some functionality which can be implemented as an add-on. E.g.:

* Change terrain from one type to another
* Copy some parts of the map

But this is currently not possible, because there is no possibility to ask for a terrain type, e.g. by a window.

**Describe the solution you'd like**
It would be nice if one can create windows inside the editor. Maybe also with a shortcut to ope

[2021-04-02 17:48] Noordfrees commented on #4801
+1
I see two ways to implement this:
- As a Script add-on. The only change needed in the backend is to allow running these in the editor (easy, probably); and for the Lua API we'd need to implement #2117 plus some additional features.
    The user-clicked-field hooks will be the hardest part; I tried out a similar thing ("callback functions") a while ago and after a while scrapped my work and pick

[2021-04-02 19:20] tothxa commented on #4796
I can confirm that this change solved the problem. Thank you very much!

[2021-04-02 19:32] #4796 closed, assigned to nobody

[2021-04-03 11:43] frankystone commented on #4761
How should the last paragraph be rephrased with regard to put localization string in paranthesis? (from [calling conventions](https://www.widelands.org/documentation/tutorial/#calling-conventions))

And also for [marking-a-string-for-translation](https://www.widelands.org/documentation/tutorial/#marking-a-string-for-translation)?

[2021-04-03 11:55] Noordfrees commented on #4761
Let's replace this lengthy explanation with a short note like

---

Something like

[2021-04-04 07:28] Noordfrees commented on #4794
Getting the unlocalized title is not possible. You can check whether the title equals a certain localized string though, i.e. `if msg.title == _("Port") then` (in the correct textdomain of course).

The following message attributes are available in C++, which ones do you want to be able to access?
https://github.com/widelands/widelands/blob/0b9b252666dff4baee9a7b068ff6ef4e35f64771/src/logic/messag

[2021-04-04 09:58] frankystone commented on #4794
I am not sure if my idea is a good one... Please don't take too much effort into this idea until it is more considered.

Anyway: I have tried to understand the attributes by looking at the source code, but i do not understand this:

* Where is the type  of a message?
https://github.com/widelands/widelands/blob/0b9b252666dff4baee9a7b068ff6ef4e35f64771/src/logic/message.h#L32-L45
* `sub_type` : ?
*

[2021-04-04 11:25] Noordfrees commented on #4794
Whether the message is `Unread`, `Read` or `Archived` is defined by the `status_` variable.
`serial_` is the unique serial of the map object associated with the message, if any (e.g. the Sentry that sent the "Sentry" message).
`sub_type_` is used only for internal purposes to handle deduplicated sending of geologist messages.

---

As I understand it the initial idea is to allow Lua scripts to rea

[2021-04-04 12:01] frankystone commented on #4794
Yes, this exactly what i think about. I already wrote a more or less big text file to make myself clear if it would be worth the work to have something like that. In the end i am still unsure because some things gets more complicated, others get easier.
The concept i thought about is to have `events` of different types which are fired by the game engine, and `listener_functions` which can be regis

[2021-04-04 12:24] Noordfrees commented on #4794
I have tried to implement exactly this approach a while ago: https://code.launchpad.net/~widelands-dev/widelands/lua_event_listeners
I abandoned the branch after a while and have no intention to pick it up again. Getting our Lua backend to work like this entails a lot of tedious low-level API magic, and it is generally a dirty imitation of the C++ Notifications code. If someone else wants to pick

[2021-04-04 18:27] frankystone opened #4803 "Toolsize: Immovables vs terrain"
The effect of the toolsize in the editor differs between placing immovables and set terrains:

![toolsize](https://user-images.githubusercontent.com/6730556/113517628-70c1c900-9581-11eb-83c6-5a9183b09f6b.jpg)

The effect of the toolsize when setting terrains is much smaller than when placing immovables. Setting terrains with a toolsize > 1 are also 'fringed' (no regular haxagon like placing immova

[2021-04-04 18:51] Noordfrees commented on #4803
It's correct IMHO, see https://www.widelands.org/documentation/geometry/#regions

Related: #1876

"Ingenious rocks"? Igneous typo :D

[2021-04-05 13:43] GoobScooper opened #4804 "Barracks missing in campaig"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
The "barracks" building is missing in the campaign scenarios, making it impossible to produce new soliders.

**Version:**
 - OS: MacOS
 - Widelands Version: Build 21

[2021-04-05 15:19] frankystone commented on #4804
Which scenario exactly?

In some scenarios some of the buildings are not allowed to build, or some buildings are only allowed after specific objectives have been fulfilled.

[2021-04-06 05:24] GoobScooper commented on #4804
An Outpost for Exile (from the Empire campaign) is one example.  End of the mission the barracks is still not available.

[2021-04-06 05:40] GoobScooper commented on #4804
Worked out the issue - the last objective wasnt triggering.  Loaded from an earlier save, built the required buildings and it fixed the issue

[2021-04-06 05:40] #4804 closed, assigned to nobody

[2021-04-09 16:15] frankystone commented on #4746
Not sure if this is related to this bug, but there is another strange behavior when placing a ship before revealing. This can be seen when changing terrains in the hidden state. Just watch this short scenario:
[test_hide_fields.zip](https://github.com/widelands/widelands/files/6287085/test_hide_fields.zip)

In short: The problem is that changing terrain have no effect if the ship get placed before

[2021-04-13 17:12] frankystone opened #4809 "Kicking a worker let him go the building where he was kicked off"
I have noticed this behavior several times now.

If you have two buildings A and B which uses the same worker, probably far away from each other.
A has a worker, B misses a worker.
Kicking the worker from A let him mostly not go to B. Instead the worker leaves the building to the buildings flag and then he goes immediately back to A again.

I noticed this for master miners and the empire stonemaso

[2021-04-13 17:28] Noordfrees commented on #4809
What happens internally is that a building that lacks a worker opens a Request for the worker, and the economy assigns an available worker to a matching Request. All worker requests have medium priority (there's no UI to change this ATM), so the two deciding factors when matching supplies to requests are how long the request has been open and the walking-time distance of the request-supply pair. E

[2021-04-14 07:33] klaus-halfmann commented on #4809
I have seen the same Problem with Amazones "Jungle Masters" and "Master Woodcutters". Especially annyoing is, that I can not move a weill trained Jungle Master to a "Rare Tree" plantation or a "Gardennig Center" and they remain unoccupied for some time until I notice, much later. So In addition of your (reasonabale) fix: Could we kick out well trained workers out to get new workers in for training

[2021-04-14 10:10] Noordfrees commented on #4809
Most of the time this already happens. When you kick an experienced worker from a slot that requires as minimum a less experienced one, the engine first tries to look for suited candidates elsewhere (and usually chooses or newly creates a worker of the low-experience type), and only if this fails because you have no such workers nor the required tools, then the kicked worker is also considered. (T

[2021-04-14 16:26] frankystone opened #4812 "UI: Mouse wheel issues"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the tribal enccloypdia
2. Move mouse pointer to the right panel "About Widelands"
3. Use the mouse wheel scroll down
4. The next tab get activated and the left and right panel get updated
5. Use the mouse wheel again
6. Now the entry in the right panel moves up-down

**Expected behavior**
Exclude switching tabs when using the mousewheel. A

[2021-04-14 17:03] Noordfrees commented on #4812
How about letting tab panels handle the mousewheel only if the mouse is over the row of tab buttons?

This is intentional – using the mousewheel over a list iterates through the list's entries. Simply point on the scrollbar on the right of the list instead to scroll the list without changing the selection.

Let's discuss all related things in this issue

[2021-04-14 18:03] frankystone commented on #4812
If scrolling through tabs is really needed this would be the better approach, imho.

When one is scrolling the left panel he probably searches an item. The flickering on the right side steals the focus of searching the item.

I would never assume this, and from my experience i don't know any program that behaves like this.

[2021-04-14 19:12] Noordfrees commented on #4812
The MATE menus behave like this when they're too large to fit the screen: Point on the scrolling arrows while using the wheel and the selection stays the same; point at the list while scrolling and the selection moves along with the view.

---

If there are more points where the mousewheel or keypress behaviours are considered confusing/intrusive/unexpected by some, we could also add an option "Di

[2021-04-15 06:39] frankystone commented on #4557
The Space-key does not work under all circumstances:

1. Open Terrain tool -> Space works
2. Choose a terrain -> Space doesn't work anymore

I think the Space key should work globally, except for the Players tool.

[2021-04-15 07:45] frankystone opened #4813 "Editor: Add a history list of last used tools"
When working with the editor one does similar things close after each other. Say place summer terrain x, place wasteland terrain y. Every time one has to make several clicks to change from summer terrain x to wasteland terrain y.

**Describe the solution you'd like**
It would be nice to have a window which shows the last 10 'actions' a user has done. An 'action' consists of the used tool + the val