[2019-09-09 15:54] #3341 closed, assigned to nobody

[2019-09-09 15:54] #3342 closed, assigned to nobody

[2019-09-09 15:54] #3343 closed, assigned to nobody

[2019-09-09 15:55] #3344 closed, assigned to nobody

[2019-09-09 15:55] #3345 closed, assigned to nobody

[2019-09-09 15:55] #3347 closed, assigned to nobody

[2019-09-09 15:55] #3348 closed, assigned to nobody

[2019-09-09 15:55] #3349 closed, assigned to nobody

[2019-09-09 15:55] #3350 closed, assigned to nobody

[2019-09-09 15:55] #3352 closed, assigned to nobody

[2019-09-09 15:56] #3353 closed, assigned to nobody

[2019-09-09 15:56] #3354 closed, assigned to nobody

[2019-09-09 15:56] #3355 closed, assigned to nobody

[2019-09-09 15:56] #3357 closed, assigned to nobody

[2019-09-09 15:56] #3359 closed, assigned to nobody

[2019-09-09 15:56] #3360 closed, assigned to nobody

[2019-09-09 15:56] #3361 closed, assigned to nobody

[2019-09-09 15:57] #3362 closed, assigned to nobody

[2019-09-09 15:57] #3363 closed, assigned to nobody

[2019-09-09 15:57] #3364 closed, assigned to nobody

[2019-09-09 15:57] #3365 closed, assigned to nobody

[2019-09-09 15:57] #3366 closed, assigned to nobody

[2019-09-09 15:57] #3367 closed, assigned to nobody

[2019-09-09 15:57] #3368 closed, assigned to nobody

[2019-09-09 15:57] #3369 closed, assigned to nobody

[2019-09-09 15:58] #3370 closed, assigned to nobody

[2019-09-09 15:58] #3372 closed, assigned to nobody

[2019-09-09 15:58] #3373 closed, assigned to nobody

[2019-09-09 15:58] #3375 closed, assigned to nobody

[2019-09-09 15:59] #3378 closed, assigned to nobody

[2019-09-09 15:59] #3379 closed, assigned to nobody

[2019-09-09 15:59] #3380 closed, assigned to nobody

[2019-09-09 15:59] #3381 closed, assigned to nobody

[2019-09-09 15:59] #3383 closed, assigned to nobody

[2019-09-09 16:00] #3384 closed, assigned to nobody

[2019-09-09 16:00] #3385 closed, assigned to nobody

[2019-09-09 16:00] #3386 closed, assigned to nobody

[2019-09-09 16:00] #3388 closed, assigned to nobody

[2019-09-09 16:00] #3389 closed, assigned to nobody

[2019-09-09 16:01] #3393 closed, assigned to nobody

[2019-09-09 16:02] #3395 closed, assigned to nobody

[2019-09-09 16:02] #3396 closed, assigned to nobody

[2019-09-09 16:02] #3398 closed, assigned to nobody

[2019-09-09 16:02] #3399 closed, assigned to nobody

[2019-09-09 16:03] #3400 closed, assigned to nobody

[2019-09-09 16:03] #3402 closed, assigned to nobody

[2019-09-09 16:03] #3403 closed, assigned to nobody

[2019-09-09 16:03] #3404 closed, assigned to nobody

[2019-09-09 16:03] #3406 closed, assigned to nobody

[2019-09-09 16:03] #3409 closed, assigned to nobody

[2019-09-09 16:04] #3411 closed, assigned to nobody

[2019-09-09 16:04] #3412 closed, assigned to nobody

[2019-09-09 16:04] #3413 closed, assigned to nobody

[2019-09-09 16:04] #3414 closed, assigned to nobody

[2019-09-09 16:04] #3419 closed, assigned to nobody

[2019-09-09 16:04] #3421 closed, assigned to nobody

[2019-09-09 16:05] #3434 closed, assigned to nobody

[2019-09-09 16:07] #3452 closed, assigned to nobody

[2019-09-09 17:16] #3460 closed, assigned to nobody

[2019-09-09 17:56] gunchleoc opened #3461 "Clean up issue labels"
- [x] For any grey issue label that is not on the [officialtags list on Launchpad](https://bugs.launchpad.net/widelands), search for both open and closed issues that have this label, then evaluate whether we want to keep it, replace it with another label or remove it. Replacing has to be done for each issue separately.

- [x] Add a description to all labels after the cleanup

[2019-09-09 18:01] gunchleoc opened #3462 "Link open issues on launchpad to this tracker"
For each open issue:

1. Follow the link to the issue on Launchpad
2. Double-check if it has the correct open/closed status here
3. Add a comment to the Launchpad issue "Migrated to <link to GitHub issue>"
4. Set the bug on Launchpad to "Won't Fix"

When this task is done, bugs should show up empty on Launchpad. If they don't double-check if the still open issues can be found here (Search both ope

[2019-09-09 18:03] gunchleoc opened #3463 "Replace issue label "lowhangingfruit" with "good first issue""
1. Replace our "lowhangingfruit" label with "good first issue", then delete the "lowhangingfruit" label. This only needs to be done on open issues.
2. When this has been cleaned up for the open issues, delete the "lowhangingfruit" label"

[2019-09-09 18:05] gunchleoc opened #3464 "Replace issue label "Won_t Fix" with "wontfix""
1. Replace the Launchpad issue label "Won_t Fix" with the GitHub standard label "wontfix" for both open and closed issues.
2. When this has been completed, delete the "Won_t Fix" label.

[2019-09-09 18:09] gunchleoc opened #3465 "Migrate branches"
Migrate branches from Launchpad

- [x] Update changelog before the move
- [x] Tag both git master and bzr trunk for the revision of the move
- [x] Replace `.bzrignore` with `.gitignore`
- [x] Update changelog with git hash
- [x] Rename branches to current issue number. Track in issue and on https://www.widelands.org/forum/topic/4624/
- [x] Delete old branches where we don't expect the owner to tur

[2019-09-09 18:11] gunchleoc opened #3466 "Update the widelands.org wiki"
Update the Widelands.org wiki

1. Clean up links to Launchpad
2. Mention GitPrimer where BzrPrimer is mentioned
3. Once we have more experience with the new forkflow, update/expand the documentation for that too.

[2019-09-09 18:14] gunchleoc opened #3467 "Create a README.md"
Create a README.md for this repository with

- [x] What is Widelands
- [x] License
- [x] Link to compile instructions
- [x] Link to GitPrimer
- [x] Link to Scripting reference
- [x] Other useful links?
- [x] Explain the repository's file structure

[2019-09-09 18:17] gunchleoc opened #3468 "Update utils/merge_and_push_translations.sh to use git"
Translations should be pulled/pushed from git master rather than bzr trunk.

[2019-09-09 18:22] gunchleoc opened #3469 "Update revision detection"
Update revision detection. We should still support bzr though so that we can have a Launchpad mirror for the daily PPA. From the forum discussion:

We may use the shortened hashes:

[code]

The shortest possible hash for git is 4, but on git defaults to 7. The above mentioned command would give the following output for the current master head:

[code]

which are 10 digits (maybe that is the defaul

[2019-09-09 18:26] gunchleoc opened #3470 "Set up Launchpad mirror"
Set up a Launchpad mirror so that we can get the daily PPA moving again. Ideas:

* Bunnybot
* https://help.launchpad.net/Code/Imports
* https://help.launchpad.net/Code/Git

[2019-09-09 18:28] gunchleoc opened #3471 "Automate utils/fix_formatting.py"
Until now, bunnybot took care of running 'utils/fix_formatting.py` on every merge. We need to find a new solution for this.

If all else fails, have one designated person running it manually on their machine - `clang-format` results differ from machine to machine, so we can't just let everybody run it.

[2019-09-11 08:11] TinoM commented on #3462
I've started with this. We should add the label "launchpad_done" to the github issue, so we don't loose track.
The label can be removed later.

[2019-09-11 08:29] TinoM commented on #3446
![wl-shipstatswindow](https://user-images.githubusercontent.com/3512161/64680906-ff8e6280-d47e-11e9-82d9-13f022e5dc5c.png)

[2019-09-11 08:52] gunchleoc commented on #3462
Sounds good to me.

I notices that you manually movde over attachments. Only do that if you really want to spend the time - attachments will still be available form Launchpad even when we deactivate the bug tracker over there. I think savegames might be worth grabbing, just in case.

[2019-09-11 10:59] TinoM commented on #3457
![Widelands_statistics_bug](https://user-images.githubusercontent.com/3512161/64691818-ee038580-d493-11e9-84c1-a4174bfa66de.png)

[2019-09-11 11:00] TinoM commented on #3457
See also patch file and test savegame on launchpad!

[2019-09-11 11:02] TinoM commented on #3464
Done

[2019-09-11 11:02] #3464 closed, assigned to TinoM

[2019-09-11 11:05] TinoM commented on #3462
Yes, that was only a test. You can only attach pictures and archives to issues, not even patchfiles or savegames (perhaps when zipping them).

I am thinking of scripting this due to the huge amount of issues. But of course this would go against the manuel double check. What is your opinion on this?

[2019-09-11 11:11] TinoM commented on #3455
Fix comitted

[2019-09-11 11:11] #3455 closed, assigned to nobody

[2019-09-11 11:14] TinoM commented on #3462
And by the way: On launchpad we had "Fix committed" and then "Fix released".
How do you want this mapped on Github? Do we close bugs with a fix commit or with the release of a milestone? e.g. #3455

[2019-09-11 13:23] stonerl commented on #3462
Fix committed == Issue Closed
Fix Released == Milestone Closed

[2019-09-11 13:31] TinoM commented on #3453
[constructionsite-memleaks.txt](https://github.com/widelands/widelands/files/3600999/constructionsite-memleaks.txt)

Fix committed

[2019-09-11 13:31] #3453 closed, assigned to nobody

[2019-09-11 13:56] gunchleoc commented on #3462
Sounds good to me. We can delete those 2 labels once we're done.

And yes, savegames etc. will need zipping.

If you want to script this, maybe you can script the double-check too?

[2019-09-11 14:34] gunchleoc opened #3472 "Replace "Wishlist" label with "enhancement""
Replace Launchpad "Wishlist" priority label with GitHub default "enhancement" label. We can assume that those items are not bugs.

[2019-09-11 22:21] simply-peachy commented on #1735
The markers are helpful since they are apparent whether the stats overlay is enabled or not. I always play with the stats enabled but I'm sure some people don't.

[2019-09-12 09:17] #3461 closed, assigned to gunchleoc

[2019-09-12 09:20] gunchleoc opened #3473 "Decide what to do with Launchpad labels"
After we have organized our current milestone, decide what to do with the Launchpad Priority & status labels and then clean them up

# Status

- [x] New: Moved to "To Do" column in https://github.com/widelands/widelands/projects/2. Delete when their triage is complete
- [x] Incomplete: Moved to "In Progress" column in https://github.com/widelands/widelands/projects/2. Delete when their triage is c

[2019-09-13 07:59] gunchleoc commented on #3471
This script should reduce the fallout if people run it locally: https://github.com/barisione/clang-format-hooks/

[2019-09-13 13:00] #3468 closed, assigned to gunchleoc

[2019-09-13 16:01] gunchleoc opened #3475 "Adapt update.sh for GitHub"
Rewrite update.sh to pull from GitHub

[2019-09-13 16:42] gunchleoc commented on #3466
I have done a first pass on Wiki edits. It would be good if somebody else could go over it too for the things that I might have missed.

[2019-09-14 08:15] gunchleoc commented on #1475
Branch: https://github.com/widelands/widelands/tree/1475-port-buildhelp

[2019-09-14 08:23] gunchleoc commented on #1560
Branch: https://github.com/widelands/widelands/tree/1560-iterator-loops

[2019-09-14 08:32] gunchleoc commented on #1016
Branch: https://github.com/gunchleoc/widelands/tree/1016-fullscreen-wui

[2019-09-14 08:36] gunchleoc commented on #3174
Debug branch: https://github.com/widelands/widelands/tree/debug-3174-visualize-fish

[2019-09-14 08:41] gunchleoc commented on #1699
Branch: https://github.com/widelands/widelands/tree/1699-ai-basic-economy

[2019-09-14 08:49] gunchleoc commented on #1708
Branch: https://github.com/gunchleoc/widelands/tree/1708-carriers-stuck-at-flags

[2019-09-14 16:04] gunchleoc commented on #1085
Debug branch: https://github.com/widelands/widelands/tree/debug-1085-construction-wares-stuck

[2019-09-14 16:09] gunchleoc commented on #3430
Branch: https://github.com/widelands/widelands/tree/3430-windows-localedir

Pull request: #3477

[2019-09-14 16:16] gunchleoc commented on #3448
Branch: https://github.com/gunchleoc/widelands/tree/3448-immovable-help

[2019-09-14 17:49] gunchleoc commented on #3459
PR: #3478

[2019-09-14 18:33] gunchleoc commented on #1879
PR: #3479

[2019-09-14 18:34] gunchleoc commented on #1380
PR: #3479

[2019-09-15 05:49] gunchleoc commented on #1325
Experimental branch https://github.com/gunchleoc/widelands/tree/1325-z-layering
Resulted in blinking building graphics sometimes.

[2019-09-15 06:14] gunchleoc commented on #2123
Branch: https://github.com/widelands/widelands/tree/expedition-cfg

[2019-09-15 06:18] gunchleoc commented on #1988
Branch: https://github.com/widelands/widelands/tree/1988-partial-training

[2019-09-15 07:41] gunchleoc commented on #2052
Branch: https://github.com/widelands/widelands/tree/ferry
Discussion on Launchpad: https://code.launchpad.net/~widelands-dev/widelands/ferry/+merge/351880

[2019-09-15 14:20] gunchleoc commented on #2125
Branch: https://github.com/widelands/widelands/tree/fri03

[2019-09-15 14:51] #216 closed, assigned to nobody

[2019-09-15 14:55] gunchleoc commented on #3462
Looks like "Fix committed" issues were left in open state by the migration script. So, I'll go through the issues assigned to the milestone first and clean them up, then we can add anything that's still "Fix committed" to the milestone and close them too.

[2019-09-15 14:56] #213 closed, assigned to nobody

[2019-09-15 14:58] #3454 closed, assigned to nobody

[2019-09-15 14:59] #3451 closed, assigned to nobody

[2019-09-15 15:00] #3447 closed, assigned to nobody

[2019-09-15 15:00] #3443 closed, assigned to nobody

[2019-09-15 15:01] #3438 closed, assigned to nobody

[2019-09-15 15:02] #3432 closed, assigned to nobody

[2019-09-15 15:02] #3431 closed, assigned to nobody

[2019-09-15 15:03] #3425 closed, assigned to nobody

[2019-09-15 15:04] #3424 closed, assigned to nobody

[2019-09-15 15:05] #3423 closed, assigned to nobody

[2019-09-15 15:05] #3422 closed, assigned to nobody

[2019-09-15 15:06] #3420 closed, assigned to nobody

[2019-09-15 15:07] #3410 closed, assigned to nobody

[2019-09-15 15:20] #3391 closed, assigned to nobody

[2019-09-15 15:21] #3376 closed, assigned to nobody

[2019-09-15 15:22] #3324 closed, assigned to nobody

[2019-09-15 15:24] #3323 closed, assigned to nobody

[2019-09-15 15:25] #3263 closed, assigned to nobody

[2019-09-15 15:26] #3167 closed, assigned to nobody

[2019-09-15 15:27] #3044 closed, assigned to nobody

[2019-09-15 15:28] #2979 closed, assigned to nobody

[2019-09-15 15:28] #2142 closed, assigned to nobody

[2019-09-15 15:29] #2138 closed, assigned to nobody

[2019-09-15 15:30] #2137 closed, assigned to nobody

[2019-09-15 15:31] #2136 closed, assigned to nobody

[2019-09-15 15:31] stonerl commented on #3471
Hmmm, maybe we can integrate this into a webhook?

[2019-09-15 15:31] #2134 closed, assigned to nobody

[2019-09-15 15:32] #2133 closed, assigned to nobody

[2019-09-15 15:33] #2119 closed, assigned to nobody

[2019-09-15 15:34] #2115 closed, assigned to nobody

[2019-09-15 15:35] #2079 closed, assigned to nobody

[2019-09-15 15:36] #2064 closed, assigned to nobody

[2019-09-15 15:37] #2055 closed, assigned to nobody

[2019-09-15 15:38] #2053 closed, assigned to nobody

[2019-09-15 15:39] #2048 closed, assigned to nobody

[2019-09-15 15:40] #2027 closed, assigned to nobody

[2019-09-15 15:40] #1978 closed, assigned to nobody

[2019-09-15 15:41] #1838 closed, assigned to nobody

[2019-09-15 15:42] #1830 closed, assigned to nobody

[2019-09-15 15:43] #1733 closed, assigned to nobody

[2019-09-15 15:44] #1732 closed, assigned to nobody

[2019-09-15 15:45] #1730 closed, assigned to nobody

[2019-09-15 15:45] #1729 closed, assigned to nobody

[2019-09-15 15:46] #1728 closed, assigned to nobody

[2019-09-15 15:47] #1727 closed, assigned to nobody

[2019-09-15 15:48] #1726 closed, assigned to nobody

[2019-09-15 15:50] #1718 closed, assigned to nobody

[2019-09-15 15:51] #1717 closed, assigned to nobody

[2019-09-15 15:51] #1715 closed, assigned to nobody

[2019-09-15 15:52] #1682 closed, assigned to nobody

[2019-09-15 15:53] #1667 closed, assigned to nobody

[2019-09-15 15:54] #1647 closed, assigned to nobody

[2019-09-15 15:54] #1640 closed, assigned to nobody

[2019-09-15 15:55] #1096 closed, assigned to nobody

[2019-09-15 15:56] #1095 closed, assigned to nobody

[2019-09-15 15:57] #1094 closed, assigned to nobody

[2019-09-15 15:58] #1091 closed, assigned to nobody

[2019-09-15 15:58] #1090 closed, assigned to nobody

[2019-09-15 15:59] #1087 closed, assigned to nobody

[2019-09-15 16:00] #1078 closed, assigned to nobody

[2019-09-15 16:01] #1072 closed, assigned to nobody

[2019-09-15 16:02] #1034 closed, assigned to nobody

[2019-09-15 16:02] #1033 closed, assigned to nobody

[2019-09-15 16:05] #214 closed, assigned to nobody

[2019-09-15 16:05] #586 closed, assigned to nobody

[2019-09-15 16:06] #591 closed, assigned to nobody

[2019-09-15 16:07] #592 closed, assigned to nobody

[2019-09-15 16:07] #593 closed, assigned to nobody

[2019-09-15 16:08] #594 closed, assigned to nobody

[2019-09-15 16:09] #595 closed, assigned to nobody

[2019-09-15 16:09] #596 closed, assigned to nobody

[2019-09-15 16:10] #598 closed, assigned to nobody

[2019-09-15 16:10] #906 closed, assigned to nobody

[2019-09-15 16:47] #1013 closed, assigned to nobody

[2019-09-15 16:47] #3472 closed, assigned to gunchleoc

[2019-09-15 16:50] gunchleoc commented on #3473
I have roughly sorted the issues in the milestone according to priorities, so the priority labels can be deleted

[2019-09-15 16:53] stonerl commented on #3463
I guess this one can be closed.

[2019-09-15 16:53] #3463 closed, assigned to TinoM

[2019-09-15 17:23] gunchleoc commented on #1862
Branch: https://github.com/widelands/widelands/tree/hardcore-starting-conditions

[2019-09-15 17:27] gunchleoc commented on #1924
Branch: https://github.com/widelands/widelands/tree/impassable-water-new

[2019-09-15 17:27] gunchleoc commented on #2038
Branch: https://github.com/widelands/widelands/tree/impassable-water-new

[2019-09-15 17:38] gunchleoc commented on #1867
Branch: https://github.com/widelands/widelands/tree/bridges

Merge Request discussion: https://code.launchpad.net/~widelands-dev/widelands/bridges/+merge/364318

[2019-09-15 22:17] simply-peachy commented on #1085
Thanks for the time put into fixing this bug! Are there any particular instructions on using the debug build, or will it just generate a log file?

[2019-09-16 06:10] gunchleoc commented on #947
Branches:
* https://github.com/gunchleoc/widelands/tree/internet-lobby-box
* https://github.com/gunchleoc/widelands/tree/netsetup-box
* https://github.com/gunchleoc/widelands/tree/singleplayer-dropdowns

[2019-09-16 06:11] gunchleoc commented on #956
Branches:
* https://github.com/gunchleoc/widelands/tree/internet-lobby-box
* https://github.com/gunchleoc/widelands/tree/netsetup-box

[2019-09-16 06:41] gunchleoc opened #3482 "--homedir options fails with non-Latin characters"
The `--homedir` option works: a directory is created at the specified location; log, settings and saved games are saved there. A directory containing spaces works too, if enclosed in quotation marks as follows:
[code]
Forward slashes and back slashes in the path both work.

A directory containing non-Latin characters like ą or 月 does not work properly; Widelands creates files with mangled names. T

[2019-09-16 06:48] gunchleoc commented on #3430
Widelands still does not like it if the localedir is missing.

[2019-09-16 07:32] gunchleoc commented on #3444
See also widelands/widelands-website#302

[2019-09-16 07:33] gunchleoc commented on #3445
@stonerl @hessenfarmer Is this fixed? See https://code.launchpad.net/~widelands-dev/widelands/unify_sleep_time/+merge/368086

[2019-09-16 08:09] gunchleoc commented on #589
Branch: https://github.com/widelands/widelands/tree/new-shipping
Merge Request discussion: https://code.launchpad.net/~widelands-dev/widelands/new-shipping/+merge/371155

[2019-09-16 08:28] gunchleoc commented on #3337
@stonerl is this fixed?

[2019-09-16 08:36] gunchleoc commented on #3316
When working on the spritesheet branch, I noticed that Lua tables can be slow too, so savegame loading performance would become really bad. So, I'll have to give this a -1.

[2019-09-16 08:36] #3316 closed, assigned to nobody

[2019-09-16 09:05] stonerl commented on #3445
Only partially. The first part is, the second, splitting up the programs, isn't.

[2019-09-16 11:02] gunchleoc commented on #3099
Branch: https://github.com/widelands/widelands/tree/anti-congestion

[2019-09-16 11:43] stonerl commented on #3445
Just checked again and it was kind of resolved. I didn't need to split the programs up. Just some fine-tuning  now.

[2019-09-16 12:06] stonerl commented on #3471
I try to incorporate this into a git-hook.

[2019-09-16 12:09] stonerl commented on #3471
Do we just want to add the scripts or add the repo as a git sub module?

[2019-09-16 12:43] gunchleoc commented on #1706
Branch: https://github.com/gunchleoc/widelands/tree/refactor-wordwrap

[2019-09-16 14:09] gunchleoc commented on #2087
For zooming in, we could repeat the textures, because they will tile.

[2019-09-16 14:23] gunchleoc commented on #1863
Branch: https://github.com/widelands/widelands/tree/market2

[2019-09-16 14:39] #3441 closed, assigned to nobody

[2019-09-16 14:40] #3439 closed, assigned to nobody

[2019-09-16 14:41] #3307 closed, assigned to nobody

[2019-09-16 14:42] #3217 closed, assigned to nobody

[2019-09-16 14:43] gunchleoc commented on #3462
The milestone tickets are done.

[2019-09-16 14:55] gunchleoc commented on #1866
We have `play_once` now for felling trees, so this could be implemented just like the harvested fields.

[2019-09-16 15:02] gunchleoc commented on #703
We have support for `play_once` now, but only the aspen and the oak have a falling animation.

[2019-09-16 16:14] gunchleoc commented on #3471
We cannot have developers run this on their local machines. The clang-format results will change depending on the machine, resulting in useless merge conflicts :(

[2019-09-16 16:15] stonerl commented on #3471
Why does this change depending on the machine? I'm currently testing this. It utilizes the .clang-format file in the root folder. The developers just need to add a pre-commit hook. I'll show you what I mean in my PR.

[2019-09-16 16:17] gunchleoc commented on #1085
It will log to console, or into the logfile if you're on Windows.

[2019-09-16 16:23] gunchleoc commented on #3471
Because every time I ran it, the results differed from what Bunnybot had produced. It seems that different versions of clang-format interpret the .clang-format file differently.

[2019-09-16 17:07] gunchleoc commented on #3471
I can't reproduce the problem with my machines any more, so I guess that they have fixed it.

The submodule makes it easy for maintenance, but it will be scary for newcomers, because now they have to learn how to deal with submodules too. So, I'd rather add this in a directory under utils with a link to the original repo.

The lua tabs formatting still produces differences, but clang-format doesn'

[2019-09-16 18:35] gunchleoc commented on #3450
We should upload these to the forums now

[2019-09-17 04:58] gunchleoc commented on #1947
Branch: https://github.com/gunchleoc/widelands/tree/spritemaps-experiment

[2019-09-17 04:58] gunchleoc commented on #3162
Branches:
* https://github.com/gunchleoc/widelands/tree/spritemaps-experiment
* https://github.com/gunchleoc/widelands/tree/spritesheet-generation

[2019-09-17 05:33] gunchleoc commented on #662
* Old branch that might still come in useful: https://github.com/widelands/widelands/tree/storages-garrisons
* Old merge request discussion about it: https://code.launchpad.net/~widelands-dev/widelands/storages_garrisons/+merge/178704

[2019-09-17 05:36] gunchleoc commented on #2102
Branch: https://github.com/gunchleoc/widelands/tree/supply-unique_ptr

[2019-09-17 05:44] gunchleoc commented on #3302
Branch: https://github.com/gunchleoc/widelands/tree/test-animations

[2019-09-17 05:49] gunchleoc commented on #2056
Old branch that might still come in useful: https://github.com/widelands/widelands/tree/threading

[2019-09-17 05:53] gunchleoc commented on #1781
Branch: https://github.com/widelands/widelands/tree/traffic-minimap

[2019-09-17 05:57] gunchleoc commented on #3346
Branch: https://code.launchpad.net/~widelands-dev/widelands/tribes_filtering

[2019-09-17 06:04] gunchleoc opened #3490 "Problem with datadir in XDG mode"
When I build latest Widelands with XDG enabled (which is the default now), it tries to use the datadir from `/usr/share/widelands` (the datadir from Build 20 installed via the Manjaro's package manager) and fails to run, spitting out some Lua errors. I have to use the `--datadir` switch to keep it from doing that. Not sure if a bug or working as intended, but it took me a while to figure out what

[2019-09-17 07:32] gunchleoc commented on #3416
I have set up an "Issue triage" project that contains all Launchpad issues that had the state "Incomplete" or "New" https://github.com/widelands/widelands/projects/2

[2019-09-17 11:00] gunchleoc commented on #3258
Debug branch: https://github.com/widelands/widelands/tree/debug-ware-routing-fps
Branch: https://github.com/widelands/widelands/tree/ware-routing-speedup

[2019-09-17 11:02] #3462 closed, assigned to nobody

[2019-09-17 11:11] gunchleoc commented on #2067
Duplicate of https://github.com/widelands/widelands/issues/2145

[2019-09-17 11:11] #2067 closed, assigned to nobody

[2019-09-17 11:20] gunchleoc opened #3491 "Trees Missing 3D Models"
For future reproduction and animation, 3D blender models should be considered for all of the trees:

- [ ]  alder
- [ ] aspen
- [ ]  beech
- [ ]  birch
- [ ]  cirrus
- [ ]  deadtree1-6
- [ ]  fallentree
- [ ]  larch
- [ ]  liana
- [ ]  maple
- [ ]  mushroom_dark
- [ ]  mushroom_green
- [ ]  mushroom_red
- [ ]  oak
- [ ]  palm_borassus
- [ ]  palm_coconut
- [ ]  palm_date
- [ ]  palm_oil
- [ ]  pal

[2019-09-17 11:25] gunchleoc opened #3492 "Add More Immovables to the Map"
To add more visual interest to the maps, a number of suggestions have been made in the Graphics Forum (https://wl.widelands.org/forum/topic/702/?page=1)

# Vegetation:

* Plants such as cattails, reeds and others that would be found near waterbodies
* More bushes, brambles and bracken in irregular shapes and animated like trees for growth and movement
* Flowers (individual and in patches)

# Hints

[2019-09-17 11:29] TinoM opened #3493 "Check Travis integration"
The new Travis repository seems to enforce the normal 50 minutes limit for jobs.

Looking at the old (wideland-old) repository, it seems there was an exception for us, because there are many finished jobs > 50 minutes.

Maybe we can again ask for this as an OpenSource project?

[2019-09-17 11:31] TinoM opened #3494 "Avoid double CI builds"
Example: https://github.com/widelands/widelands/pull/3488

Both Appveyor and Travis do run a build for both all branches and merge requests.
If we have a merge request to master from a branch in the widelands repo itself, overall 4 jobs are triggered.

[2019-09-17 11:34] gunchleoc commented on #1256
Note: Many of the barbarian buildings have no floor texture (in case it has no closed door). Thus the texture of the surrounding floor (Like grass, mountain etc.) is also inside the building.
No matter if this was designed purposely or not, some textures should be edited.

[2019-09-17 11:37] gunchleoc opened #3495 "Atlantean Shipyard only has idle animation"
The Atlantean Shipyard has no working or unoccupied animation.

Migrated from https://bugs.launchpad.net/widelands-media/+bug/1454168

[2019-09-17 11:39] gunchleoc opened #3496 "player-color on atlantean buildings too dark"
Since I started playing Widelands I noticed that the parts of atlantean buildings that use player-colours are reeealy dark. Especially with the standard blue it makes it look as if it's well after dusk. To me it makes the whole scenery look darker, at least on greenland terrains (maybe fighting severe depressions makes me extra sensitive to such things).

Making the player colors darker was a deci

[2019-09-17 11:41] gunchleoc opened #3497 "Add fraang's trees to the repository"
https://opengameart.org/content/palm-tree-1-0

Migrated from https://bugs.launchpad.net/widelands-media/+bug/1724325

[2019-09-17 11:42] gunchleoc opened #3498 "Campaign maps"
I have started playing with the campaign maps using IrfanView, so that we can generate any resolution that we want in the future. I have modeled 1 island for Empire, what do you think about the style?

I would like to simulate different styles for the different tribes:

Barbarians: painted cowhide or vellum
Empire:     chiseled marble
Atlanteans: silk painting
Frisians:   ?

More comments in the o

[2019-09-17 11:44] gunchleoc opened #3499 "Amazon models"
This bug is to keep track of graphics development for the amazons tribe.

Migrated from https://bugs.launchpad.net/widelands-media/+bug/1840761

[2019-09-17 11:44] gunchleoc commented on #3499
Sketches by Noordfrees
![wl-amazons](https://user-images.githubusercontent.com/4095570/65038912-ed159c80-d948-11e9-8a7a-9fabf1545353.png)
![wl-amazons2](https://user-images.githubusercontent.com/4095570/65038913-ed159c80-d948-11e9-8931-4cd30acb2c81.png)

[2019-09-17 11:45] stonerl commented on #3494
Should be solved now. I configured the webhooks to only fire for PRs.

[2019-09-17 18:58] frankystone opened #3501 "Accessing multiplayer lobby as unregistered user crashes the game"
The error says:

[code]

Did not tried as a registered user.

See also: https://www.widelands.org/forum/post/29883/

[2019-09-17 19:02] stonerl commented on #3501
Have to investigate this. This didn't happen when we introduced the change in April/May.

[2019-09-17 19:12] frankystone commented on #3501
This is maybe tricky, because '_M_construct' can only be found in the build directory after compiling.

[2019-09-17 19:34] Notabilis commented on #3501
The metaserver logs do not show anything about these login attempts.
Relavant excerpt from the gdb backtrace:

`#7  0x00005555571b8196 in std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >::_M_construct<char const*> (this=0x7fffffff4940, __beg=0x0,
    __end=0xffffffffffffffff <error: Cannot access memory at address 0xffffffffffffffff>) at /usr/include/c++/8/bits/basic

[2019-09-17 19:41] Notabilis commented on #3501
The referenced line is:
`std::string auth = register_ ? password_ : get_config_string("uuid", nullptr);`
I guess the `nullptr` is the bug here and should be `""` or something like that. Inside the `get_config_string()` method the `nullptr` is dereferenced (file wlapplication_options.cc).

Can someone please create a branch for this (and similar places)? I haven't set up Git yet.

[2019-09-18 02:38] jnahmias commented on #2851
Hi, I'm the one who originally reported the issue in launchpad.  Feel free to set me as the submitter for this github issue.
BTW, any chance of getting an update on it?

[2019-09-18 06:56] gunchleoc commented on #1073
Branch: https://github.com/widelands/widelands/tree/windows-esc

[2019-09-18 08:20] gunchleoc commented on #3494
Of course, we now lose the capability of getting builds without making a pull request first.

Should we keep the branches at least for AppVeyor, for example so that people can test the Amazons without us having a premature pull request?

[2019-09-18 09:17] gunchleoc commented on #2851
Hi, glad you found us over here :)

We now have shifted all font size definitions that were hard-coded in the C++ engine to Lua. We still need to

* Make UI elements' sizes configurable too so that increased font sizes will fit
* Turn the font sizes used in campaigns and scenarios into templated font sizes too
* Support more templates than the default one so that people an create their own templat

[2019-09-18 13:20] stonerl commented on #3494
We could try to get the Windows test on Travis running. Then we use Travis for PR and Appveyor for pushes.

[2019-09-18 13:49] stonerl commented on #3493
From what I read it is now possible to use caches. E.g. we can use ccache for the builds this could speed up the builds.

[2019-09-18 15:15] stonerl commented on #3493
Also, from what I read if we move our project from travis-ci.org to travis-ci.com we have the same execution time (120min) per job as private repos, since we are an open source project.

See here: [Open Source Accounts](https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/)

[2019-09-18 20:35] Kicer86 opened #3505 "After upgriding mine to deeper mine food is not delivered"
As soon as I have updated mine to deeper one food stopped to be delivered.
It happened to all upgraded mines

[2019-09-19 07:09] gunchleoc commented on #3494
I have now edited the .yml files to be restricted on the master branch and pushed the chnage directly. If people are working on a branch, they can add their branch to the list in the yml files. I'll create some test branches to verify that we will get a build on every push.

Excluding branch & tag creation is OK, because we should get builds with a push anyway.

Once I have verified that it works,

[2019-09-19 07:11] stonerl commented on #3494
I'm currently reworking travis.yml as well, without the restrictions to build just one branch. It will take some time, though. Cod you wait with the edit in the wiki, please?

[2019-09-19 07:12] gunchleoc commented on #3494
I will definitely wait until everything has been worked out.

Here's the test branch: https://github.com/widelands/widelands/tree/this-branch-should-be-built-by-travis

ETA: Tested and working, so I'll delete the test branch again.

[2019-09-19 07:34] #3501 closed, assigned to gunchleoc

[2019-09-19 07:41] gunchleoc commented on #3493
I researched ccache a few years ago because my machine was slow and decided against it, because I couldn't be sure that the builds would reflect the current state of the project with 100% certainty. So, we should research this carefully to see if that is still a concern before using it.

[2019-09-19 07:44] stonerl commented on #3493
I use ccache on my Mac without problems. Also my Travis changes use ccache for macbuilds. The build time is reduced tremendous, from 40 minutes to 16.

I'm currently looking into the Linux builds.

[2019-09-19 08:02] gunchleoc commented on #3493
Since you have good experience with it, let's use it. Reducing the build time will be excellent :)

I found this: https://stackoverflow.com/questions/1815688/how-to-use-ccache-with-cmake

[2019-09-19 08:35] gunchleoc commented on #3465
I have now sent PMs on the forum to people who have old branches to check which ones can be deleted. I'll deal with those as people reply over there, so I'm closing this ticket.

[2019-09-19 08:35] #3465 closed, assigned to gunchleoc

[2019-09-19 11:10] #3416 closed, assigned to nobody

[2019-09-19 11:11] gunchleoc commented on #3505
Do you have a savegame that you can attach ad a zip file?

[2019-09-19 11:13] gunchleoc commented on #3458
See also: https://github.com/widelands/widelands/issues/2128

There is no consensus so far. How about making this a player option?

[2019-09-19 11:13] gunchleoc commented on #2128
See also https://github.com/widelands/widelands/issues/3458

[2019-09-19 11:22] gunchleoc commented on #3449
Stuck soldiers confirmed.

[2019-09-19 15:05] stonerl commented on #3493
Another question regarding the regression test. Do we need to run them in debug and release builds or would it be sufficient to run them in release only?

[2019-09-19 17:25] Kicer86 commented on #3505
[otwarty swiat.zip](https://github.com/widelands/widelands/files/3632453/otwarty.swiat.zip)
Here is the original save file with changed extension to zip.
Take a look at the deeper marble mines on north. There are three of them, two are disabled and one is enabled. All suffer from this issue. I also had other mines with this problem but I destroyed them.

Another similar issue was on the south wher

[2019-09-19 17:41] frankystone commented on #3505
The upgraded mines do not work because meal is missing. Meal is produced in the Inn, which can be enhanced from a Tavern. You haven't an Inn so far... at least in this savegame.

As soon you decide to upgrade an empire mine you must upgrade a Tavern to an Inn too. A tavern produces only snacks, an Inn produces snacks and meal.

The thing with 'buildings does not finished' is a known bug and will b

[2019-09-19 17:41] #3505 closed, assigned to nobody

[2019-09-20 07:38] #3445 closed, assigned to stonerl

[2019-09-20 07:46] gunchleoc commented on #3493
It's better to run them in both modes. For example, if somebody adds an assert or other special debug code that has an unintended side effect, we could catch this via the tests if the code passes that point.

[2019-09-20 07:57] gunchleoc commented on #3473
Since newly created issues end up on top of the issue triage, we can remove the "New" label right now and be done with it.

[2019-09-20 07:57] #3473 closed, assigned to nobody

[2019-09-20 08:28] gunchleoc commented on #3351
I could trigger a map move from the savegame dialog in 73f9eb5c0b26599b72609f3e27de569f49049269, so this is definitely a bug.

[2019-09-20 08:31] gunchleoc commented on #3329
@Noordfrees Are you still getting this?

[2019-09-20 08:33] gunchleoc commented on #3260
I should have been more informative in my original report. I have no idea how to do this easily right now except for mock-reloading he game, which will be a performance issue with long games on big maps.

[2019-09-20 08:47] gunchleoc commented on #3252
I turned the test map into a savegame for faster testing. Reproduced with 73f9eb5c0b26599b72609f3e27de569f49049269.

[test roads switch.wgf.zip](https://github.com/widelands/widelands/files/3634983/test.roads.switch.wgf.zip)

[2019-09-20 09:32] Noordfrees commented on #3329
No, seems to be fixed :)

[2019-09-20 09:32] #3329 closed, assigned to nobody

[2019-09-20 14:16] gunchleoc commented on #3377
I think we could solve this by having a platform only at one end of the road texture, then make sure it's the one that's blitted on top where roads meet.

[2019-09-20 14:21] gunchleoc commented on #3428
I think this is a good idea.

As to informing about the connections, should that information come from the Metaserver? This will make the information current, no matter which Widelands version the player is using.

[2019-09-20 14:33] gunchleoc commented on #3270
I have tested what happens when charcoal kiln itself needs logs, and it still produces when its own input queue is not full. Shall we have this?

[2019-09-20 14:40] gunchleoc commented on #3106
The problem has been solved by only showing files/folders with the correct extension. Allowing subfolders just like for maps would be a neat feature though.

[2019-09-20 14:42] gunchleoc commented on #3112
This was split into separate issues.

[2019-09-20 14:42] #3112 closed, assigned to nobody

[2019-09-20 14:43] gunchleoc commented on #3120
The tune needed more work and was never completed, so I'm closing this one. Feel free to propose the piece again once it has seen more work.

[2019-09-20 14:43] #3120 closed, assigned to nobody

[2019-09-20 14:46] gunchleoc commented on #3169
@tibor95 How far has the AI training progressed, do you think we can close this issue?

[2019-09-20 14:55] gunchleoc commented on #3157
Git doesn't seem to have this problem and since we've moved off bzr, I'm closing this.

To verify, I ran

[code]

then cut the network connection and ran
[code]

[2019-09-20 14:55] #3157 closed, assigned to nobody

[2019-09-20 14:57] gunchleoc commented on #3024
We have an improved scouting algorithm now where the scout prefers militarysites, that should be good enough.

[2019-09-20 14:57] #3024 closed, assigned to nobody

[2019-09-20 15:06] gunchleoc commented on #2032
We decided to keep this as a special feature for the Frisians.

[2019-09-20 15:06] #2032 closed, assigned to nobody

[2019-09-20 15:14] gunchleoc commented on #1702
I have sent ixprefect a PM on the forum.

[2019-09-20 15:21] gunchleoc commented on #1595
No consensus, so closing this one.

[2019-09-20 15:21] #1595 closed, assigned to nobody

[2019-09-20 17:22] tibor95 commented on #3169
If we are talking about 'using mineral resources in colonies' I would close it. But if we feel that AI does not build enough mines I could investigate this. But I dont think this is the case.
So generally, I would close it

[2019-09-20 17:30] Noordfrees opened #3507 "ASan crashes reset sound settings"
- Start Widelands, choose Options -> Sound, disable all five sound checkboxes. Also change some other settings.
- Close and restart Widelands. All settings were saved correctly, sound is disabled.
- Do something that causes an ASan error (tested with multiple development branches), or try force-quitting while the editor is loading
- Start Widelands. The sound settings are reset to the defaults; ot

[2019-09-20 19:49] gunchleoc commented on #3507
I am getting this tool

[2019-09-20 19:50] gunchleoc commented on #3169
Let's close it then, thanks!

[2019-09-20 19:50] #3169 closed, assigned to nobody

[2019-09-20 19:53] #3457 closed, assigned to nobody

[2019-09-21 06:59] gunchleoc commented on #3450
Replays are now available on the forum: https://www.widelands.org/forum/topic/4535/?page=24#post-29916

[2019-09-21 06:59] #3450 closed, assigned to gunchleoc

[2019-09-21 10:13] jmoerschbach opened #3510 "Wrong/Misleading ToolTipText"
While playing first mission of the Atlanteans, wrong tooltiptext was visible. See screenshot.

OS: Win10
Version: Official Build20
Attachments: Savegame and screenshot
However, after restarting game and loading the savegame, it looks fine again
![tooltip](https://user-images.githubusercontent.com/10723431/65371915-1005c080-dc69-11e9-901b-8a80577c84ab.png)

[wrong tooltiptext.zip](https://github.co

[2019-09-21 10:57] stonerl commented on #3493
Do we need to run the documentation test in every build? Wouldn't it be enough to have one dedicated job just for this?

Also, wouldn't it be sufficient to have just one job for the codecheck? If it throws an error, we then don't start the others.

[2019-09-21 12:49] gunchleoc commented on #3493
It would be sufficient to run them in 1 build, yes.

I just compared the old and the new list of builds, and we have lost some coverage for compiler versions under Linux:

[code]

[2019-09-21 14:30] stonerl commented on #3493
Regarding clang:

- clang 3.4 is build on trusty
- clang 7 is build on bionic

CLANG_VERSION="3.4 == clang 3.4
CLANG_VERSION="7" == clang 7

Regarding gcc:

- gcc 4.8 is build on trusty
- gcc 5.4 is build on xenial
- gcc 7.4 is build on bionic

GCC_VERSION="4.8" == gcc 4.8
GCC_VERSION="7" == gcc 7.4

So we lost clang 3.5 & 8 and gcc 4.9 & 8.

The version 8 of either can be added back in later. Any

[2019-09-21 17:14] gunchleoc commented on #3493
We originally checked the 2 oldest and 2 newest versions of the compilers. I think checking the LTS releases only should be fine also. Does Travis support building with Ubuntu Eoan, so that we can run GCC9?

[2019-09-21 22:39] simply-peachy commented on #1085
It looks like the CI build for the branch at https://ci.appveyor.com/project/widelands-dev/widelands/builds/27412407 was cancelled. Is it possible to re-run it so I can download an installer for this branch?

[2019-09-21 23:31] Omaranwa commented on #3089
ok Great

[2019-09-22 06:22] gunchleoc commented on #1085
Done. It's building now: https://ci.appveyor.com/project/widelands-dev/widelands/builds/27576734

[2019-09-22 06:33] gunchleoc commented on #3510
This is the program being dieplayed:

    "return=skipped when site has corn and economy needs cornmeal and not economy needs blackroot_flour",

@hessenfarmer Can you check the German translation to tweak the sentence structure?

There is also a truncation issue, we need to allow longer tooltips here.

[2019-09-22 08:40] jmoerschbach commented on #3510
Hi @gunchleoc @hessenfarmer
since I would like start contributing to this great project, maybe you can point me to the right location in the code a little bit more precisely and I can work on this myself? :)
I'm german too, so the translation issue should not be a big deal...

[2019-09-22 09:11] gunchleoc commented on #3510
@jmoerschbach Our translations are handled via Transifex, see https://www.widelands.org/wiki/TranslatingWidelands/

The tooltip code is in [bool Panel::draw_tooltip(const std::string& text)](https://github.com/widelands/widelands/blob/master/src/ui_basic/panel.cc#L1086).

I have just updated our README.md, which should be enough to get you going. Please let us know if we can improve the instructio

[2019-09-22 10:22] ghost commented on #1073
Seems to be fine to me now or is the branch lagging behind? Then Ill create the PR.

[2019-09-22 10:53] stonerl commented on #3493
Currently, it doesn't. But we can add it via repositories. Will have a look into this later.

[2019-09-22 13:17] gunchleoc commented on #1073
You still wanted to have a look at the changes for the main menus, because they have been replaced in master. You'll also need to merge master first.

[2019-09-22 13:20] gunchleoc commented on #3493
Thanks!

I can look into skipping codecheck.

[2019-09-22 13:57] ghost commented on #1073
How do I update the branch with the changes from master?

[2019-09-22 14:09] stonerl commented on #1073
[code]
or
[code]

[2019-09-22 14:38] stonerl commented on #3493
About that website-tools. They are used for our website. So we only need to build them on bionic release. Since, that's what we run on our server. So we could omit building the website tools on all builds and add an extra job running on bionic with the default compiler and without the regression test just for the website tools.

[2019-09-22 15:21] ghost commented on #1073
Ok Ill try to make the remaining changes in the coming week.

[2019-09-22 15:52] gunchleoc commented on #3493
The website tools will also include the tool to create spritesheets, because I didn't want to have an extra compile switch for that. We will want that one available to artists who run older versions of Linux I guess. Let's wait and see if the latest builds will time out before making a decision on that.

[2019-09-22 15:55] gunchleoc commented on #1073
Thanks!

We have also put together a new wiki page on how to use Git https://www.widelands.org/wiki/GitPrimer/

Suggestions on how to improve it are welcome :)

[2019-09-22 20:03] jmoerschbach commented on #3510
Hi @gunchleoc,
I successfully managed to download the code, compile and build trunk version :)
For testing purposes, I just hardcoded a very long string in the draw_tooltip method, so I could observe some improvement by increasing kTipWidthMax. However, even with the original value of 360, the problem does not exist in trunk version anymore (see screenshot, last scenario of the introduction maps:

[2019-09-22 21:56] simply-peachy commented on #1085
Looks like that failed with a build error.

[2019-09-23 07:48] gunchleoc commented on #3510
Let's leave the C++ side like it is then and only fix the string in Transifex.

The production program strings are complicated to translate, because they are assembled out of sentence fragments. We have some special documentation for them: https://www.widelands.org/wiki/TranslatingWidelands/#production-program-messages

"Das Mahlen von Dunkelrüben", "Mais" and "Maismehl" are translated in *Tribes*

[2019-09-23 07:52] gunchleoc commented on #1085
Next try: https://ci.appveyor.com/project/widelands-dev/widelands/builds/27591682

[2019-09-23 09:02] hessenfarmer commented on #3510
The nproblem is if we change the sentence structure (the order of the fragments this might lead to issues in other tooltips. Anyhow I will have a look into it.

[2019-09-23 14:08] ghost commented on #1073
So if I want to replace EditorMainMenu by UI::Dropdown<MainMenuEntry> what should the size and title, etc. of the mainmenu be? Is it defined somewhere?

[2019-09-23 14:45] gunchleoc commented on #3510
Let me know if we need to change the strings to allow for natural German sentence structure.

[2019-09-23 14:50] gunchleoc commented on #1073
You could check out how its handled in the editor, where the main menu has the legacy hotkey "h" - search for occurrences of `mainmenu_` in `editorinteractive.cc`. I think we can replace that hotkey with Esc.

You can then implement it in the same way for the game.

[2019-09-23 15:10] hessenfarmer commented on #3510
Ok I changed the translation slightly for the site has and site has not strings. the result for the given constellation in german should be:
"Das Mahlen von Dunkelrüben wurde übersprungen, weil das Gebäude folgende Waren hat: Mais, die Wirtschaft die Ware Maismehl braucht und die Wirtschaft die Ware Dunkelrübenmehl nicht braucht."
This could be further improved (if wanted) by replacing "folgende W

[2019-09-23 15:12] hessenfarmer commented on #3510
Btw curently these strings are #267 and #268 in Widelands main on transifex

[2019-09-23 15:14] ghost commented on #1073
Ok that has been found quickly but does wui/interactive_player even have a Window for the MainMenu? - seems like mainmenu_ cant be accessed from there

[2019-09-23 15:20] gunchleoc commented on #1073
The in-game main menu is in `interactive_gamebase.cc`, because it's identical for players and spectators.

[2019-09-23 15:25] gunchleoc commented on #3510
We could split this in the engine into 2 strings, one for 1 ware, and the other for multiple wares. This would allow for more elegant translations.

[2019-09-23 18:08] ghost commented on #1073
Ah I now I found it there - wasn't sure which one it was.
Ok I am getting a SIGSEGV now - but it doesnt seem to be caused by my code.
Backtrace inbound: https://paste.gg/p/anonymous/9e8175f33d2e4cf8a45a9fce8c6b36be

[2019-09-23 18:10] hessenfarmer commented on #3510
In my second suggestion there is no need to change the engine I believe. If youi agree I'll implement that

[2019-09-23 18:37] jmoerschbach commented on #3510
Ah, ok now I understand the very first time what the tooltip actually is trying to say :D
In this particular case, it would be most comprehensive when it would just say
"Das Mahlen von Dunkelrüben wurde übersprungen, weil die Wirtschaft die Ware Dunkelrübenmehl nicht braucht", wouldn't it?

But I see that this is most probably a special case - when a site depends on more "intermediate" resources,

[2019-09-23 20:38] gunchleoc commented on #1073
No, not caused by your code. Can you make a new bug report?

In the meantime, try using the `--without-xdg` switch for `compile.sh`.

[2019-09-23 20:49] gunchleoc commented on #3510
I run a script about once per week to update the translations from Transifex. I have done so now, so the next time you pull or merge master and recompile, you will have it.

As an alternative, you can always download the current po file from Transifex and save it in the proper spot in the po directory, then recompile with translations. You can also use a tool like Virtaal to generate the .mo file,

[2019-09-24 05:34] hessenfarmer commented on #3510
No it wouldn't. The tooltip is compiled from the exact conditions set in the Production program for skipping. In this particualr case the mill will only skip the "grinding balckroot" program if the economy does not need black root flour AND the economy does need corn flour AND it has enough corn. In any other case e.g. it does not have corn it will try to grind blackroot if blacckroot is available

[2019-09-24 06:41] gunchleoc commented on #3510
Yes, let's give it a try.

[2019-09-24 07:50] stonerl commented on #1085
@gunchleoc I have merged master into this branch. Do you mind if I push it or do you want to have it like it is?

[2019-09-24 07:51] ghost opened #3518 "XDG caused SIGSEGV"
As in #1073 running the game instantly creates a sigsegv with the following backtrace:

[code]

[2019-09-24 07:52] gunchleoc commented on #1032
I just ran a test with 3 Barbarian AIs and they had a port and a shipyard ready around 1h. The shipyard was stopped though, so no Weaving Mill was built. So, no cloth and no starting the production site in this code snippet:

[code]

Maybe we should always keep the shipyard working until we have at least 1 ship before we let this code take over?

[2019-09-24 08:02] tibor95 commented on #1032
The purpose of this code is to prevent "decaying" unfinished ship and losing precious material. I dont think this prevents building the weaving mill in any way...

I will look at the code...

[2019-09-24 08:05] gunchleoc commented on #1012
@klaus-halfmann I tried a few things on a release build and got something useful out of it. I am not sure at this point what you need exactly.

If I forget the =, Widelands will print the command line help.

This is what I get for a nonexisting file:

[code]

[code]

An empty script file will simply start the editor and not do anything

[code]

If I add some nonsense to the script file, I get

[co

[2019-09-24 08:11] ghost commented on #1073
After testing I found out that menu_windows_ seems to be the struct accessible by interactive_player.cc but it doesn't seem to be used to open the main menu - but there's still mainmenu_ which I guess would be right but is not accessible.

[2019-09-24 08:13] gunchleoc commented on #1039
No confirmation, so I am closing this one.

[2019-09-24 08:13] #1039 closed, assigned to nobody

[2019-09-24 08:17] tibor95 commented on #1032
What about new AI hint - **supports seafaring**? It would be assigned to weaving mill, and AI would score such buildings differently on seafaring map (would assign higher score)

[2019-09-24 08:23] gunchleoc commented on #1981
This has been fixed.

[2019-09-24 08:23] #1981 closed, assigned to nobody

[2019-09-24 08:25] gunchleoc commented on #1032
How about adding it as a supporting building for the shipyard, like we have for lumberjacks and rangers? Then we wouldn't need to introduce anything special for it.

[2019-09-24 08:27] gunchleoc commented on #1085
Somebody broke savegame compatibility after Build 20 and I haven't had the time to track down the offending commit yet, so it might be better not to merge master .if we want to use the savegames attached to some of these bugs

[2019-09-24 08:28] gunchleoc commented on #1073
You can implement this in interactive_gamebase, so it will be available to both players and spectators. interactive_player is the wrong place to do this.

[2019-09-24 08:33] tibor95 commented on #1032
But this **supporting building** is mostly "geographical" and this is not relevant in this case. And not necessarily increase the probability (the score) of the weaving mill, only affects the placing once the AI decided that it is going to build the weaving mill...

The new hint would be intended "for first building only", so it would provide much bigger flexibility. It would be followed by some A

[2019-09-24 08:58] ghost commented on #1073
Ah thanks didnt know if I should add a function there or not.
Ok should be ready for review now.

[2019-09-24 19:35] jmoerschbach commented on #3510
Ah ok, thanks for the explanation. I looked into the lua script and think I understood it :)

Ok, since I do not really know what exactly to do (and by "we" maybe @hessenfarmer meant actually himself?) maybe this should be assigned to him? However, I'll gladly test it as soon as it is fixed...

In the meantime I'll dig through c++ and lua code and focus on one of the other good first issues then.

[2019-09-25 06:25] gunchleoc commented on #3510
Excellent! Let me know if you have any questions. You can ask in the issue that you picked or on our forums.

[2019-09-25 06:38] gunchleoc commented on #1032
I'm still thinking on how we could do this with the least amount of new code.
How about using `forced_after` and set it to 1 hour?

If you combine that with a check for needs_seafaring, that should work for non-seafaring maps too.

Maybe there is som common code that can be pulled out from `FieldActionWindow::add_buttons_build`?

[2019-09-25 06:51] #3493 closed, assigned to stonerl

[2019-09-25 07:09] gunchleoc commented on #3494
I have documented the `branches` thing in https://github.com/widelands/widelands/blob/master/README.md#obtaining-travis-and-appveyor-builds

[2019-09-25 07:09] #3494 closed, assigned to stonerl

[2019-09-25 08:13] gunchleoc commented on #3467
Got no feedback on additional links, so closing this one. I have added links for triaging bugs and testing. I have also shifted the CMake documentation to the source code, because it was getting a bit spotty on the Widelands Wiki.

[2019-09-25 08:13] #3467 closed, assigned to gunchleoc

[2019-09-25 08:14] gunchleoc commented on #3466
The brunt of the work has been done. Let's just keep an eye on difficulties that people report on the forums and in issues.

[2019-09-25 08:14] #3466 closed, assigned to nobody

[2019-09-25 10:56] hessenfarmer commented on #3510
Ok I changed the transifex strings. should work now for all combinations.

[2019-09-25 14:43] hessenfarmer commented on #3407
this was already fixed in trunk

[2019-09-25 14:43] #3407 closed, assigned to nobody

[2019-09-25 17:16] gunchleoc commented on #3510
Thanks!

[2019-09-25 18:20] tibor95 commented on #1032
It seems like some inconsistency, "forced_after" would would work differently depending on a building type and type of map and would confuse players. In fact I already started to work on a "supports_seafaring" hint. This would conditionally increase score for building a building. But would be fed to GA and some training would follow...

[2019-09-25 19:53] SirVer commented on #3469
I am currently fighting with this for the nightly builds: since git does not contain a running number for any commit, I cannot really know if the nightlies are "behind" or "ahead" without looking at the history of the git repo. I considered

-  just adding the build time into the nightly file name, so I can distinguish when they were build.
- adding in `git rev-list --count HEAD`, which gives the

[2019-09-26 05:54] gunchleoc commented on #3469
We have another related pull request: https://github.com/widelands/widelands/pull/3488/

[2019-09-26 06:01] gunchleoc commented on #1032
OK, if you don't like my idea, do go ahead with your own - I don't have any better ideas, and yours will definitely work.

[2019-09-26 09:45] gunchleoc commented on #3493
We ran into a timeout again in spite of all our efforts, so I have asked Travis and they have generously increased our timeout again for us :)

[2019-09-26 10:26] gunchleoc commented on #3188
This was not confirmed, so closing the bug.

[2019-09-26 10:26] #3188 closed, assigned to nobody

[2019-09-26 10:27] gunchleoc commented on #3268
The 2 linked bugs were fixed, so I am closing this one.

[2019-09-26 10:27] #3268 closed, assigned to nobody

[2019-09-26 10:28] gunchleoc commented on #3168
Unconfirmed, so closing it.

[2019-09-26 10:28] #3168 closed, assigned to nobody

[2019-09-26 10:31] gunchleoc commented on #3159
This was most likely fixed in bzr8987.

[2019-09-26 10:31] #3159 closed, assigned to nobody

[2019-09-26 10:34] gunchleoc commented on #3141
+1 for adding explicit destructors to see if that will help.

[2019-09-26 10:37] gunchleoc commented on #3152
Screen redesign isn't finished yet, so removed the milestone.

[2019-09-26 10:38] gunchleoc commented on #3155
I think we should have both the terrain tooltip and the info tool extension.

[2019-09-26 14:16] hessenfarmer commented on #1359
this should be gone by the Production program changes we (mainly stonerl) did for b20

[2019-09-26 15:37] #3475 closed, assigned to gunchleoc

[2019-09-26 15:44] gunchleoc commented on #1359
Thanks for your input. Closing this :)

[2019-09-26 15:44] #1359 closed, assigned to nobody

[2019-09-26 15:50] gunchleoc commented on #3279
Suggestion:

"You can obtain water by building a well. For the best productivity, build it on a spot where your geologists have found a water source."

[2019-09-26 19:35] jmoerschbach commented on #3510
Hi,
I just managed to test the translation fix on trunk version with new translation files.
It looks better, but unfortunately, even on trunk the problem with the too small tooltip I can now reproduce.
See screenshot (kTipWidthMax=360):
![grafik](https://user-images.githubusercontent.com/10723431/65719191-84939180-e0a5-11e9-85b6-085612b1069e.png)

Changing kTipWidthMax to 400, does result in incre

[2019-09-27 06:20] jmoerschbach commented on #3510
Hmm, in english it looks the same...
![grafik](https://user-images.githubusercontent.com/10723431/65746654-ae79a200-e0ff-11e9-9892-3cb01ff64f28.png)

Btw I think the english "translation" sentence structure should also be tweaked like the german version? :)

[2019-09-27 07:02] gunchleoc commented on #3510
Looks like a bug in the C++ code then

[2019-09-27 12:52] hessenfarmer commented on #3510
I believe this is a very special case and the issue lies within the following code
https://github.com/widelands/widelands/blob/a679819c79b7e263694e71f2de160db2ef7c8733/src/logic/map_objects/tribes/production_program.cc#L520

reason is we are not handling the Negation of a condition correctly within the strings. So for the when condition we only can have positive strings (e.g. has ware economy need

[2019-09-27 15:52] gunchleoc commented on #3518
I can't reproduce this on my system - it works both with and without `.widelands` present.

Can you give us some more info on this, e.g. which operating system and which compiler options you used?

[2019-09-27 16:22] ghost commented on #3518
Debian Bullseye: Linux L362 5.2.0-2-amd64 #1 SMP Debian 5.2.9-2 (2019-08-21) x86_64 GNU/Linux
I didnt add any compiler options myself.

[2019-09-27 20:14] jmoerschbach commented on #3510
Thanks for the hint. I'll take a look :)

[2019-09-28 00:18] Niektory opened #3529 "Can't load Build 20 save: unknown ware type "thatch_reed""
- Affected savegame: [215.wgf](https://www.widelands.org/forum/attachment/570041fdadfb373fde9ee7402e3230d679be8330/)

Trying to load this savegame (saved in Build 20) results in the following error:
[code]
Likely related to the following commits:

777771e9ed Renamed thatch reed to reed.
c7e8e09267 Fix savegame compatibility for reed, buildings, players view and economy requests.

 - OS: Manjaro Li

[2019-09-28 10:19] gunchleoc commented on #3518
#3490 might be related

[2019-09-28 10:19] gunchleoc commented on #3490
#3518 might be related

[2019-09-28 10:25] gunchleoc commented on #3374
The behavior I get is:

1. Small: First tab is activated, mouse is on first building
2. Medium: Second tab is activated, mouse is on second building
3. Big: Third tab is activated, mouse is on third building

The bug is probably in the following function:

[code]

[2019-09-28 10:48] gunchleoc commented on #3394
Here's a savegame for testing: [territorial_lord.wgf.zip](https://github.com/widelands/widelands/files/3665349/territorial_lord.wgf.zip)

I did not get a black screen during loading, but this should still be tested on a slow machine before we close the issue.

[2019-09-28 10:51] gunchleoc commented on #3418
[crash20secs.wgf.zip](https://github.com/widelands/widelands/files/3665356/crash20secs.wgf.zip)
[stdout.txt](https://github.com/widelands/widelands/files/3665357/stdout.txt)

[2019-09-28 10:55] gunchleoc commented on #3418
I could not reproduce this on my Linux, and since the savegame is for an old Widelands version, I'm closing it.

[2019-09-28 10:55] #3418 closed, assigned to nobody

[2019-09-28 10:58] gunchleoc commented on #3336
There was no follow-up, so closing it.

[2019-09-28 10:58] #3336 closed, assigned to nobody

[2019-09-28 11:01] gunchleoc commented on #3292
Could not reproduce, so closing this.

[2019-09-28 11:01] #3292 closed, assigned to nobody

[2019-09-28 11:20] gunchleoc commented on #3265
We now have the following switches in the editor too:

	bool draw_resources_ = true;
	bool draw_immovables_ = true;
	bool draw_bobs_ = true;
	bool draw_grid_ = true;

So, buildhelp is no longer the odd man out. I still think more consistency could be beneficial though.

[2019-09-28 11:24] gunchleoc commented on #3240
I am currently getting the leaks below. This is nowhere near the amount of leaks we had when this bug was created, so I am considering this to be fixed.

# When the map can't be loaded

[code]

# When the map can be loaded

Just the usual leak from SDL/mesa.

[2019-09-28 11:24] #3240 closed, assigned to nobody

[2019-09-28 12:01] gunchleoc commented on #3199
[empire_ai_failure.zip](https://github.com/widelands/widelands/files/3665427/empire_ai_failure.zip)

[2019-09-28 12:03] gunchleoc commented on #3086
Too old to reproduce

[2019-09-28 12:03] #3086 closed, assigned to nobody

[2019-09-28 12:05] gunchleoc commented on #3093
[TheNile07.wgf.zip](https://github.com/widelands/widelands/files/3665431/TheNile07.wgf.zip) (does not load any more)

![visibility01](https://user-images.githubusercontent.com/4095570/65816178-903f9f00-e1f0-11e9-8a25-9481df806e56.png)

[2019-09-28 12:29] gunchleoc commented on #979
The savegame isn't compatible with any release version. Since https://bugs.launchpad.net/widelands/+bug/1753230 got fixed, let's close this an open a new issue if this happens again.

[2019-09-28 12:29] #979 closed, assigned to nobody

[2019-09-28 12:57] gunchleoc commented on #1036
I tried to reproduce this and I don't understand the problem.

[2019-09-28 12:57] #1036 closed, assigned to nobody

[2019-09-28 13:07] gunchleoc commented on #1066
Confirmed.

[2019-09-28 13:34] jmoerschbach commented on #3529
I can confirm with just another savegame and different error message (exception)

`../src/map_io/map_object_packed.cc:120: load_pointers for ship: not found`
[bla.zip](https://github.com/widelands/widelands/files/3665501/bla.zip)

OS: Windows 10
Widelands Version: git-b'6b496 (master) (Release)

[2019-09-28 18:18] gunchleoc commented on #3250
It would be good to have a savegame for reproducing the problem.

[2019-09-28 18:21] gunchleoc commented on #3235
We will also need a privacy policy to go along with this, but it's a good idea.

[2019-09-28 18:23] gunchleoc commented on #3170
We have had some improvements to the game saving system since and this was not reported again. So, I'm closing this for now.

[2019-09-28 18:23] #3170 closed, assigned to nobody

[2019-09-28 18:26] gunchleoc commented on #3221
This one should be fixable, because it's a string literal rather than an assembled string.

![Bildschirmfoto 2017-11-05 um 12 38 29](https://user-images.githubusercontent.com/4095570/65820844-b7fd2a00-e225-11e9-8938-5aff2aa671e2.png)

[2019-09-28 18:28] gunchleoc commented on #3153
The minimap has been changed to not scroll. @frankystone D0 you still want to see a change here?

[2019-09-28 18:34] gunchleoc commented on #3085
We fixed a bunch of replay desyncs for Build 20. Since these won't load anymore, we can't reproduce and it's hopefully fixed by now.

[2019-09-28 18:34] #3085 closed, assigned to nobody

[2019-09-28 18:40] gunchleoc commented on #3048
mouse_smoothly_to_pos has been refactored away, so I am closing this one

[2019-09-28 18:40] #3048 closed, assigned to nobody

[2019-09-28 18:43] gunchleoc commented on #3059
The better strategy is to have a tool to change the baseline height as suggested in https://github.com/widelands/widelands/issues/2041

[2019-09-28 18:43] #3059 closed, assigned to nobody

[2019-09-28 18:52] gunchleoc commented on #2122
The soldier stats are a bit opaque. Maybe we can show the same soldier list that one would have inside the building window? That's probably too much for the statistics string, but we could have it as a tooltip.

[2019-09-28 18:56] gunchleoc commented on #2140
@frankystone Could our Django handle this now? I don't expect this to happen for Build 21, but it would be nice to know.

[2019-09-29 16:01] gunchleoc commented on #3046
No reply for 2 years, so closing this one.

[2019-09-29 16:02] #3046 closed, assigned to nobody

[2019-09-29 16:09] gunchleoc commented on #3027
I had a look and both bobs and immovables are treated the same way regarding the unnotify calls. Maybe it was refactored fro the time this issue was reported.

[2019-09-29 16:09] #3027 closed, assigned to nobody

[2019-09-29 16:11] gunchleoc commented on #2998
We have nobody who can reproduce this, so closing it.

[2019-09-29 16:11] #2998 closed, assigned to nobody

[2019-09-29 16:20] gunchleoc commented on #2937
There were significant changes to the font renderer since this was last reported, so closing it.

[2019-09-29 16:20] #2937 closed, assigned to nobody

[2019-09-29 16:29] gunchleoc commented on #1572
Can anybody reproduce this?

[2019-09-29 16:33] gunchleoc commented on #1042
We now exit with an error message rather than crashing: https://github.com/widelands/widelands/commit/00f9d1ed4871f006d28d07409e5517cf394ce1f9

That's the best we can do for unsupported graphics drivers.

We also print the result of the shading language detection, so we could adapt if it's just a non-standard string format. We need current log output for that though.

[2019-09-29 16:33] #1042 closed, assigned to nobody

[2019-09-29 16:36] gunchleoc commented on #3025
I think it's a pure editor UI issue at this point, which we have captured in https://github.com/widelands/widelands/issues/3155

@frankystone Can this issue be closed?

[2019-09-29 16:45] frankystone commented on #2140
Django should be able to handle this. The problem is the Database encoding.

The Database uses  the encoding utf8  (mysql specific), which stores up to 3 bytes for a character. To support all possible unicode code points, we have to convert the columns in the database to use the encoding utf8mb4 (mysql specific), which uses up to 4 bytes for a character.

Characters which uses more than 3 bytes ar

[2019-09-29 16:49] frankystone commented on #3025
Yes, i think so.

[2019-09-29 16:49] #3025 closed, assigned to nobody

[2019-09-29 16:54] frankystone commented on #3153
I think we can close this, since no one except me is confused ;)

[2019-09-29 16:54] #3153 closed, assigned to nobody

[2019-09-29 18:08] tibor95 commented on #3199
This was reported in 2017, there were so many changes to the AI since, cant we just close this?

[2019-09-29 19:44] #3275 closed, assigned to gunchleoc

[2019-09-29 19:45] gunchleoc commented on #3199
Sure

[2019-09-29 19:45] #3199 closed, assigned to nobody

[2019-09-30 10:02] gunchleoc commented on #3394
I tested the savegame on a slow computer and there was no black screen, so we no longer need this.

[2019-09-30 10:02] #3394 closed, assigned to nobody

[2019-09-30 19:52] jmoerschbach commented on #3510
Hi,

I found the problem. Took me some while though (java developer with ahh very little knowledge of c++, yet...).

Problem is that not-conditions are masking the description and description_negation of the condition they "extend" from.

So, when changing

https://github.com/widelands/widelands/blob/a679819c79b7e263694e71f2de160db2ef7c8733/src/logic/map_objects/tribes/production_program.cc#L291-L

[2019-10-01 07:05] gunchleoc commented on #3510
Yes, this combination is rare and for this particular building it was introduces fairly recently. Thanks for finding it!

Do you want to create a branch or shall I?

[2019-10-01 07:57] hessenfarmer commented on #3510
thanks for fixing this.
btw I would vote for having the original sentence fixed in the way we did for the german translation.
the wares list in the sentence the building has following wares: is compiled with and I believe so it would not harm to change it to e.g. the building has 3 x wheat and 2 x water

[2019-10-01 14:45] gunchleoc commented on #3469
Fixed in b1f5bebf4010f2e41fe6bb92fd2c397ac6357f9c

[2019-10-01 14:45] #3469 closed, assigned to nobody

[2019-10-01 14:48] gunchleoc commented on #1731
We need somebody who has the problem to identify the sound files

[2019-10-01 14:50] stonerl commented on #1731
Hmm. I think this a driver issue and has nothing to do with Widelands.

[2019-10-01 14:52] gunchleoc commented on #1056
We now print the detected version language string to console and are also displaying a basic eror message if we can't parse it.

It would be interesting to see the new log output  - maybe we can do something about this, but we will need a test on an affected system to know what it looks like.

[2019-10-01 14:58] gunchleoc commented on #2131
I agree that defining if by terrain would be the way to go.

[2019-10-02 08:12] stonerl opened #3534 "Add latest clang and gcc to travis build matrix"

[2019-10-02 08:13] stonerl commented on #3534
https://github.com/widelands/widelands/tree/travis-latest-compilers

[2019-10-02 14:22] #1681 closed, assigned to nobody

[2019-10-02 14:23] gunchleoc commented on #1731
Let's close it then. We can always open a new one if somebody can reproduce it.

[2019-10-02 14:23] #1731 closed, assigned to nobody

[2019-10-03 07:46] #3510 closed, assigned to nobody

[2019-10-03 21:06] jmoerschbach commented on #3529
Hi,
I just looked into "my" problematic savegame which cannot be loaded by current master (problem with ships).

I narrowed it down to following line:
https://github.com/widelands/widelands/blob/9e297d10a68b50be723b6e0f930b7673c3120aab/src/logic/map_objects/tribes/ship.cc#L1408

When I comment this one out, savegame can be loaded.
The call to mol().get<PortDock>(pair.first) results in a exception

[2019-10-04 17:23] stonerl commented on #3270
Let's have it.

[2019-10-04 18:09] Noordfrees commented on #3529
The ship-loading issue is a corner case in savegame compatibility code, will be an easy fix

[2019-10-04 18:10] jmoerschbach commented on #3529
So one last comment because I couldn't help thinking about it :D

Incompatibility has indeed be introduced by 6b49624 (verified by switching to 9f6391ed7eef64cdf1321c6308160a07d19c89d3 which works fine)

Problem is that fr.unsigned_32() returns 0 which seems to be non-valid value. It has been checked/ignored in old code

https://github.com/widelands/widelands/blob/e314409fd21023ca16ef716fedcde8b1f

[2019-10-04 22:03] stonerl commented on #3440
#1085 seems to be the same

[2019-10-04 22:08] stonerl commented on #1085
@gunchleoc It should be save to merge master into this. After @Noordfrees' #3537 PR, I was able to load the save game (not a zip btw).
[RedCornFarmConstructionSiteNeverFilled.wgf.zip](https://github.com/widelands/widelands/files/3692490/RedCornFarmConstructionSiteNeverFilled.wgf.zip)

[2019-10-05 15:59] Noordfrees commented on #589
I think this issue can be considered closed since the new algorithm was merged.

[2019-10-05 15:59] #589 closed, assigned to Noordfrees

[2019-10-06 05:35] klaus-halfmann opened #3538 "r24249[9e297d1@master] Assertion failed productionsite.cc, line 823"
Please fill out the relevant sections below and delete the rest.

**Description**

I was playing my Map https://www.widelands.org/maps/unreal-waterflow-2
in single player mode. directly after loading I got:
Assertion failed: (&worker == working_positions_[main_worker_].worker), function get_building_work, file ../src/logic/map_objects/tribes/productionsite.cc, line 823.
Abort trap: 6

**To Reprodu

[2019-10-09 08:17] #3534 closed, assigned to stonerl

[2019-10-09 08:22] #3471 closed, assigned to nobody

[2019-10-09 12:16] hessenfarmer commented on #3538
maybe this commit was the culprit
https://github.com/widelands/widelands/commit/5bf95ccbece41aca48abed735b4267f6773d6637

[2019-10-09 18:17] stonerl commented on #3538
Are we sure that the problem isn't the save game itself? I tried loading another one and that wasn't crashing. Also, when starting a new game and letting it run for some hours, I never encountered this assertion.

[2019-10-09 18:31] stonerl commented on #3538
Nope, I reverted this commit and the game still crashes.

[2019-10-10 09:58] klaus-halfmann opened #3542 "Wrong OpenGL resolution with macOS 10.15 Catalina"
I Upgraded my OSX Computer to 10.14 Catalina.

I use MacPorts but the people there did not adopt it to Catlina, yet.
https://www.macports.org/install.php
They actually fight the first bugs here: https://trac.macports.org/search?q=Catalina

The relesed build 20 is fine.

I noticed some problems with master though:
- Display shows only 1/4 of the actual resolution -> Issue with retina display
   we

[2019-10-10 16:18] klaus-halfmann commented on #3542
OK I installed MacPorts from the source, recompiled all my ports.
But the Bug is still there :(. Dowgrading a Port ist not so easy:
https://trac.macports.org/wiki/howto/InstallingOlderPort. Maybe I try this tomorrow

[2019-10-10 22:47] kencu commented on #3542
Downgrading a port takes some initial setup, but after the first one, is easy.

You need to clone the entire macports repo somewhere. I put it in ```/opt``` to avoid permissions errors etc, but that's not the only place it could go.
[code]
once you have that, you have everything in macports history.

Then go to the folder you're interested in (which hopefully still exists, and in the case of libsd

[2019-10-11 06:50] klaus-halfmann commented on #3542
Thanks for you detailed descripton, I took a faster aproach and located the Portfile in gitlab. But trying to install it fails as some needed patchfiles can not be found any longer ...

[code]
OK so I removed all the patches and now have:
[code]

will recompile wiedelands now

[2019-10-11 07:23] klaus-halfmann commented on #3542
No Success:
[code]

will go back to libsdl2 @2.0.10_0 and investigat with a debugger?
@kencu any better idea how to proceed?

[2019-10-11 07:27] kencu commented on #3542
You can't do it like that. You have to do it the way I outlined to have any hope of it working, with all the patches in it's directory as it was at that point in time.

If you run into an associated port that refuses to rebuild successfully, go to the same commit point as where you found the libsdl2 version (ie keep the macports-ports repo at that same commit) and copy over the associated port as

[2019-10-11 09:23] klaus-halfmann commented on #3542
OK, I now did it the clean way:
[code]

But the Bug is still here, So I am out of ideas.

<img width="979" alt="Bildschirmfoto 2019-10-11 um 11 21 55" src="https://user-images.githubusercontent.com/16598373/66640573-7dc65c00-ec19-11e9-90ec-02f39fc3f02e.png">

[2019-10-11 09:55] klaus-halfmann commented on #3542
@SirVer did / do we have any special tweaks for Retina Displays in Widelands?

[2019-10-11 10:06] SirVer commented on #3542
@klaus-halfmann not to my knowledge. It works on my retina without any issues too.

[2019-10-11 13:49] klaus-halfmann commented on #3542
OK I diggend into the code and (should not have been such a suprise) is using openGL to do most of the rendering. Deep don in the gears I found the `RenderQueue` but a that time all coordinates have become floats. So I will look around from some kind of global magnification factor which might be wrong. Not sure if SDL is still involved at that time.

And: Apple considers openGL deprecated and pref

[2019-10-11 15:46] klaus-halfmann opened #3543 "widelands_10.9_r24242[0e4fb2c@master] fails to start, OSX 10.15 Catalina"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
I dowloaded a github base build from Sirver at https://www.widelands.org/~sirver/wl/macos_daily/MACOS_10_9_OR_HIGHER/widelands_10.9_r24242%5B0e4fb2c%40master%5D.dmg

when trying to start this (in Terminal) I get:

[code]

[2019-10-11 16:06] klaus-halfmann commented on #3543
@gunchleoc if we get > 3 of catalina related issues i d like to have a tag for them :-)

And I have a bad deja vue from the last OSX Update before r19 or such ....

[2019-10-11 16:36] klaus-halfmann commented on #3543
widelands_10.9_r9167 from https://www.widelands.org/~sirver/wl/macos_daily/MACOS_10_9_OR_HIGHER/widelands_10.9_r9167.dmg starts without Issues ...
will check the other builds since then now.

[2019-10-11 17:00] stonerl commented on #3543
@klaus-halfmann r24242[0e4fb2c@master] starts without issues on my system

[2019-10-11 17:10] stonerl commented on #3542
Cannot confirm this. There seems to be a problem with your system, I suppose.

[2019-10-11 17:24] klaus-halfmann commented on #3542
@stonerl  are you a) on Catalina? b) Do you have a Retina Display? c) are you using MacPorts?

I assume its the Mix of MacPorts and Catalina causing this one.

[2019-10-11 17:25] stonerl commented on #3542
a) yes
b) yes
c) no - homebrew

[2019-10-11 17:29] klaus-halfmann commented on #3543
widelands_10.9_r24249[9e297d1@master].dmg works for me .. downloading next one

Mhh, since we switched to git the dowloads are not sorted in chronological order,
so my first one was not the latest one.

[2019-10-11 17:33] stonerl commented on #3482
on macOS it doesn't start:
[code]

[2019-10-11 18:01] klaus-halfmann commented on #3543
widelands_10.9_r24255[bcca1c2@master].dmg from 10-Oct-2019 05:26 works, sorry for the fuzz

[2019-10-11 18:01] #3543 closed, assigned to SirVer

[2019-10-12 05:30] klaus-halfmann commented on #3542
Here is my list of libraries / versions:

libsdl2 @2.0.10
libsdl2_image @2.0.5
libsdl2_mixer @2.0.4
libsdl2_ttf @2.0.15
gettext @0.19.8.1_2
libiconv @1.16
zlib @1.2.11
libpng @1.6.37
boost @1.71.0
Python 3.7.3
glew @2.1.0 -- Most suspect
doxygen @1.8.16

Compiler: Apple clang version 11.0.0 (clang-1100.0.33.8)
Target: x86_64-apple-darwin19.0.0
Thread model: posix
InstalledDir: /Applications/Xcode.

[2019-10-12 06:09] klaus-halfmann commented on #3542
My buest guess now is this call `SDL_GL_CreateContext(sdl_window);` in src/graphic/gl/initialize.cc

But this is a mix of SDL2 and OpenGL so I have now idea whome to blame. I will ask josh the SDL Maintainer and @kencu for further help.

[2019-10-12 07:19] jmroot commented on #3542
This sounds like https://bugzilla.libsdl.org/show_bug.cgi?id=4822 -- probably worth mentioning there that it affects OpenGL as well as Metal.

[2019-10-12 12:45] tppq opened #3544 "Assert failure after dismantling a port"
Dismantling the port may crash the game. Probably related to wares in transit.

Trace:
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:50
#1  0x00007ffff63dc535 in __GI_abort () at abort.c:79
#2  0x00007ffff63dc40f in __assert_fail_base (
    fmt=0x7fffedd7f97d "%s%s%s:%u: %s%sVäite ”%s” ei pidä paikkaansa.\n%n",
    assertion=0x555557c26e20 "dest", file=0x555557c269a0 "../s

[2019-10-12 12:53] tppq commented on #3544
[wl_autosave_00.wgf.gz](https://github.com/widelands/widelands/files/3720674/wl_autosave_00.wgf.gz)

Savegame.

[2019-10-13 07:54] tppq commented on #3544
[anothersavegame.zip](https://github.com/widelands/widelands/files/3721534/anothersavegame.zip)

Another savegame: The previous one was after a dismantle, this is an earlier one.

[2019-10-14 05:12] klaus-halfmann commented on #3542
Hello @jmroot we got a Patch / Bugfix at https://hg.libsdl.org/SDL/rev/46b094f7d20e
I will change this in my local code, but I may need some advice how to do this.
Best would be a temporary patch so it kind of sticks

[2019-10-14 06:52] klaus-halfmann commented on #3542
@jmroot the above fix did the trick!.
Will you need an offical Bug for Macports? on can we "sideuse" this one :-).
Please make this an official MacPorts patch.

Thanks to you and @kencu for the support.

[2019-10-14 07:28] stonerl commented on #3542
Maybe, just wait for the SDL developers to catch up and make a new release 2.0.11?

[2019-10-17 10:58] klaus-halfmann commented on #3538
Yep, still have the same Issue. Will check with the Debugger for some details

[2019-10-17 13:28] klaus-halfmann commented on #3538
* Some Bulding at 0% - cant out what kind of building, mmh
* main_worker_ is 0
* working_positions_.worker in NULL !
* Waiting for some worker to appear ...

task is "buildingwork"

I played a game now for about an hout _without_ that assert and found no Issues.
I think `working_positions_.worker` is null while waiting for workers to arrive

[2019-10-17 13:54] klaus-halfmann commented on #3538
@Noordfrees you added that assert, whats the sematic of it?
Can this happen diretly after load only, as some setup is still missing?

[2019-10-17 17:25] Noordfrees commented on #3538
The function with this assert gets called by a worker´s buildingwork task. This task should be started only for the main worker; this assert checks whether the worker calling it really is the main worker. For some reason, there is one atl-mine where only worker 2 is present but main_worker_ is 0. I have no idea yet how this can happen…

[2019-10-17 17:31] klaus-halfmann commented on #3538
AHH, this can can happen if you send the first Miner away, but it comes back as second/third miner! This usually is a transient state when you push miners from one mine onto another. I can stop the game directly after loading, and check for such a mine, lets see

[2019-10-17 17:40] Noordfrees commented on #3538
No, when you evict one worker the building instantly sets the main_worker_ to a different value if another worker is present, or -1 if there isn´t. When you send one worker away, the working position IDs of other workers do not change. The error already occurs during gameloading. The question is now whether your game was saved with wrong data or whether correct data is wrongly interpreted while lo

[2019-10-17 17:42] stonerl commented on #3538
Could this be one of our ominous save bugs. Like the one with the never arriving wares?

[2019-10-17 18:01] klaus-halfmann commented on #3538
OK, can we add a debuglog with the name and coordinated of the building?
or how I can I use a debugger to find it?

[2019-10-17 18:12] klaus-halfmann commented on #3538
Argh, I have overriden my second savegame with that bug ....

[2019-10-20 13:47] jmoerschbach commented on #3320
PR: https://github.com/widelands/widelands/pull/3546

[2019-10-30 17:14] klaus-halfmann opened #3553 "REVDETECT-BROKEN-PLEASE-REPORT-THIS on current HEAD"
I compile the current master and found REVDETECT-BROKEN-PLEASE-REPORT-THIS in VERSION

git status
On branch master
nothing to commit, working tree clean

commit e209f37cea9cdd8173d0c5a79527cd52f7347b47 (HEAD -> master)
Author: TinoM <TinoM@users.noreply.github.com>
Date:   Tue Oct 29 17:41:34 2019 +0100

git --version
git version 2.21.0 (Apple Git-122)

**To Reproduce**
* pull master or this parti

[2019-10-30 17:34] stonerl commented on #3553
PR #3552 should take care of this.

[2019-10-30 17:49] klaus-halfmann commented on #3553
OK my python --version is
Python 2.7.16

[2019-10-31 08:48] #3553 closed, assigned to nobody

[2019-11-02 20:09] TomQv commented on #3542
Hi Guys, I have the same problem with a c#-Mono-App developed with Visual Studio Mac using the NSOpenGLView. With Catalina on Retina-Displays the Window.Frame size is now only a quarter of the actual size. With Mojave everything was fine. You found the problem in "SDL", what ever this is. Could you maybe point me in a direction, where I could find this with Visual Studio Mac and maybe how to solve

[2019-11-02 21:20] TomQv commented on #3542
just found this:
https://github.com/ioquake/ioq3/issues/422
which solves the problem.
Thanks

[2019-11-03 11:18] #3529 closed, assigned to nobody

[2019-11-03 11:37] stonerl commented on #3542
@klaus-halfmann could you give [this build](https://fosuta.org/widelands_10.9_r24263[d7a64b6@master].dmg) a try?

[2019-11-03 12:26] stonerl commented on #1085
I merged master into the debug branch, since all incompatibilities have been resolved.

@simply-peachy you can continue testing with the latest build as soon as this build is finished:

[64bit Debug build](https://ci.appveyor.com/project/widelands-dev/widelands/build/job/yjyrv4ixytpjwqql)

[2019-11-03 13:04] stonerl commented on #3542
This seems to be the [fix](https://hg.libsdl.org/SDL/rev/46b094f7d20e) in SDL.

[2019-11-03 13:29] klaus-halfmann commented on #3542
@stonerl confirm: your fix work for me, I will approve the PR now

[2019-11-03 19:31] stonerl commented on #1085
I updated the [flag-unfreezer-branch](https://github.com/widelands/widelands/tree/debug-flag-unfreezer). So we can use that one as well.

Let's just recap. The problem is that a ware gets stuck at a flag, because it has an empty Route. The reason is still unknown. We assume it could be caused by (emergency) save games.

Since we still don't know the exact cause, although we could reproduce it occa

[2019-11-04 15:56] Noordfrees commented on #1085
In WareInstance::update(), there is a line (291) that skips the function in a cornercase that happens during loading. Did anyone check whether update() or act() is invoked again (after initialization) in this case?

---
If that doesn´t help:

I wonder, if a Ware headed to a Warehouse gets stuck and a Request for this Ware is later created nearby, will the stuck Ware be rerouted to the new Request?

[2019-11-04 20:05] jmoerschbach commented on #1085
Hi,

I fear I cannot be of great help (yet) - there is still so much code I never even had a chance to look at... ;)

However, stonerl's proposal sounds like a real crude workaround. What would be the impact performance-wise, I wonder?

[2019-11-05 12:54] stonerl commented on #1085
If this problem only exists after loading a save game, maybe we just need to check all flags once after the game has been loaded?

[2019-11-05 13:24] Frohicky commented on #1085
This also occurs in the middle of games, ones that have not been saved
or loaded from a save. It may be connected to redesigning the road
layout which means a lot of deleting and rebuilding roads.

On 05/11/2019 13:54, Toni Förster wrote:

--

[2019-11-05 14:54] #3320 closed, assigned to nobody

[2019-11-07 13:32] stonerl opened #3556 "AppVeyor builds fail"
[code]

[2019-11-08 18:03] #3556 closed, assigned to nobody

[2019-11-09 17:45] stonerl opened #3558 "Flatpack for the development (master) branch"
I wonder if we could provide a flatpack for the development branch that updates ervery time we push something to master. This would help to address more user. @scx  could you help us out here?

[2019-11-10 01:01] stonerl opened #3560 "Settings to apply after construction need double click"
**Describe the bug**
Setting the preferred soldier type in a military buildings under construction needs more than one click before the setting is active.

**To Reproduce**
1. Build a military building.
2. Open the buildings window
3. Click on "Settings to apply after construction"
4. Change the soldier from rookie to hero.

**Expected behavior**
The settings should be active when clicked on.

@No

[2019-11-12 10:13] #3560 closed, assigned to Noordfrees

[2019-11-12 10:23] #3459 closed, assigned to gunchleoc

[2019-11-12 10:30] stonerl opened #3563 "Compiling Warining regarding ships"
When compiling the latest master I get an this warning:

[code]

@Noordfrees I think you touched the code the last time. Is this a leftover from old code?

[2019-11-12 12:40] Noordfrees commented on #3563
It´s not a leftover, but it´s used only for an assert in line 906.
I´m not sure how exactly the compiler treats asserts – would it be enough to surround the declaration with `#ifndef NDEBUG`, or would that then be a compile error in release builds?

[2019-11-12 14:18] stonerl opened #3565 "Reorder buildings only available on seafaring maps"
Some buildings like the shipyard and the weaving mill are only available when the map supports seafaring. These buildings are then placed directly before the military buildings which means, that the buildings following these buildings move one place to the right.

This is quite inconsistent. Icons & buttons should always be in the same position. Therefore, these buildings should always be displaye

[2019-11-12 14:39] stonerl commented on #3563
I guess an `#ifndef` would be sufficing.

[2019-11-12 18:36] hessenfarmer opened #3569 "compile.sh needs to consider boost version"
Beginning with boost 1.70 correct cmake boost detection needs the option -DBoost_NO_BOOST_CMAKE=ON
to work properly. So we need to determine the boost version in compile.sh and provide the cmake command with the correct settings if boost version greater then 1.69

see forum https://www.widelands.org/forum/topic/4671/

[2019-11-12 21:17] scx commented on #3558
I will try. However, as far as I know, Flathub requires "stable releases, reproducible builds".
https://github.com/flathub/flathub/wiki/App-Requirements#stable-releases-reproducible-builds
Not sure how this applies to the `beta` channel, but I am afraid that we will have to type specific commit anyway.

[2019-11-13 14:12] #3563 closed, assigned to nobody

[2019-11-13 19:34] scx commented on #3558
@stonerl
What is the most suitable version string (`WL_VERSION`) for such a "release"?
- `r24271[e8dd143@HEAD]` (default)
- `r24271`
- `Build 20+r24271`
- `Build 21~r24271`

What do you think about it?

[2019-11-13 19:36] stonerl commented on #3558
The default one.

[2019-11-13 19:38] scx commented on #3558
And what about the AppData file?
Is it rather `Build 20` with some enhancements or development version of `Build 21`?

[2019-11-13 19:42] stonerl commented on #3558
`Build 21` since master will eventually branch into the next release, that will be build 21

[2019-11-13 20:22] stonerl opened #3570 "Changing horizontal windows size"
**Describe the bug**
When opening the construction site window of a military building and clicking changing the number of soldiers that should be sent to this buildings, changes the horizontal size of the window. Either when the number changes from single to double digits or when the word 'soldiers' is changed to 'soldier'.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the constructio

[2019-11-14 09:34] Noordfrees commented on #3570
Which number of soldiers results in the widest string may be i18n-specific; so iterating over all permitted values once, rendering a preview for each one and choosing the longest as fixed width for the textarea would do the trick. I don´t know how to get the rendered length of a string though

[2019-11-14 12:34] stonerl commented on #3570
I manually checked this. The widest rendering is the greek translation. This results in a window-with of 240 pixel.

I also saw the in-/decrease buttons start to move for languages like Japanese. So the windows size should be 240 and the buttons need to be on the left and right.

[2019-11-15 07:17] scx commented on #3558
@stonerl
Done: https://github.com/flathub/org.widelands.Widelands/pull/9

Sorry for a small delay, but I have to test it, and there was an issue with calculating the revision number, because of shallow clone, which is used by default by `flatpak-builder`.

Now it works correctly.
[code]

As for version string, it still use the default value.
[code]

Anyway, the `beta` channel should available with

[2019-11-15 11:33] stonerl commented on #3558
Thanks alot. How do we publish new builds? Just change the sha1 of the commit value and open a PR?

[2019-11-15 12:55] stonerl opened #3573 "Settings after construction: move enhance button to the lower rim."
@Noordfrees I'm not sure if I already asked you whether this is feasible or not. Could you move the enhance button to the lower rim where it belongs, in the normal building view? This would free up some space and the button wouldn't be hang lonely in the middle of the window. I added a screenshot.

![shot0007](https://user-images.githubusercontent.com/2091312/68944928-68f85d80-07af-11ea-9073-1ff39

[2019-11-15 16:26] scx commented on #3558
@stonerl

Yes, all you need to do is change the commit value and make a PR.
https://github.com/flathub/org.widelands.Widelands/blob/beta/org.widelands.Widelands.yaml#L89

Just remember, you have to use the `beta` branch.
https://github.com/flathub/org.widelands.Widelands/tree/beta

[2019-11-15 20:33] schnedann opened #3574 "Widelands crash on every attempt to load a map for playing"
**Describe the bug**
Widelands crash on every attempt to load a map for playing
The issue was first reported by me here:
https://bugs.archlinux.org/task/64501
And was verified and reproduced by others too

**To Reproduce**
start widelands
e.g. choose training Mission, select one of them, a screen with a progressbar appears, but the whole game crashes without any further notice

**Expected behavior

[2019-11-16 14:54] frankystone commented on #3574
I can confirm this when using the source from launchpad, but not when using the source from github (https://github.com/widelands/widelands/tree/build-20).

As far i understand the PKGBUILD downloads the source from launchpad:

https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/widelands

I think changing the source from launchpad to github will be sufficient.

[2019-11-16 17:32] #3570 closed, assigned to Noordfrees

[2019-11-16 18:59] #3573 closed, assigned to Noordfrees

[2019-11-16 20:32] stonerl opened #3577 "crash on local multiplayer"
When entering a local multiplayer the screen stays empty (no players & map) for the clients, and if the host changes some settings the client crashes.

Version:     r24275[6118f81@master]

@Notabilis didn't you change something in the network code lately?

Console output:
[code]

[2019-11-17 08:59] frankystone commented on #3574
Seems to be fixed. Feel free to reopen this bug again

[2019-11-17 08:59] #3574 closed, assigned to nobody

[2019-11-17 09:18] schnedann commented on #1294
Just a comment of somebody who just installed widelands and has a 4k display. Scaling is a must have now. Everything is way too small. Icons, especially in the headqarter menue, and all fonts are way to small, I even need to go nearer to the monitor to read it. And you already guessed it: there is no difference in fullscreen and windowed - the scale is the same in both versions. It also seems sett

[2019-11-17 18:55] stonerl commented on #3558
@scx Where do I find the beta on the flathub site?

https://flathub.org/apps/details/org.widelands.Widelands

Is only the release build.

[2019-11-17 19:17] scx commented on #3558
@stonerl

Unfortunately, unlike Snapcraft, Flathub doesn't show channels other than stable (`master`) on its site.

Oct 13, 2019:
[code]

However, as far as I know, it should be visible in [GNOME Software](https://wiki.gnome.org/Apps/Software).

Anyway, if you're looking for installation instructions, you'll find it here:
https://blogs.gnome.org/alexl/2019/02/19/changes-in-flathub-land/

[2019-11-17 19:31] stonerl commented on #3558
Thanks that's what I wanted to know.

[2019-11-17 19:31] #3558 closed, assigned to nobody

[2019-11-17 20:59] stonerl opened #3578 "Mulitplayer Setup Layout needs some fixing"
The MPS-Layout needs some changes since the introduction of the Peaceful-mode ate up some screen space used for the client info. Also, there is a little too much space before and after the checkbox, especially on 800 × 600.

[2019-11-17 23:07] Notabilis commented on #3577
Unfortunately I can't reproduce the bug, for me it works fine. Are you doing your local game with only a single computer / on localhost or over the LAN?

I pushed branch #3579 that might fix the problem, can you please test it?

[2019-11-18 09:05] stonerl commented on #3577
We were playing over LAN. The Host was a Windows 10 machine and the client a Mac. I'm going to test it later this week since I need access to the windows computer.

[2019-11-18 19:31] tppq commented on #2128
Player actions do not appear on map automatically, but only after a delay. This is because they will generate player action messages, that are processed when the game advances, and placed on map only after that. I suppose that the reason is that because in multiplayer, everybody must run the state machine exactly similarly. If actions would happen right away, a forester might prevent road on some

[2019-11-18 19:38] hessenfarmer opened #3581 "improve installing and loading of the game"
**Is your feature request related to a problem? Please describe.**
On my old machine i still have a mechanical HDD during install and loading the tribes this consumes a lot of time to load or save the thousands of tribes graphic files.

**Describe the solution you'd like**
The install and loading time should be improved by just saving compressed folders to the HDD and decompress them at loadtime.

[2019-11-18 20:57] stonerl commented on #3456
Closing this one I wasn't able to reproduce this with master. Tired any combination of tribes and buildings

[2019-11-18 20:57] #3456 closed, assigned to nobody

[2019-11-20 19:43] stonerl commented on #2066
I fixed this. The only problem I have is that I'd like to unfocus the editbox when the window hasn't focus. Somehow I'm not able to achieve this. Hints are welcome 😄

[2019-11-20 21:11] jmoerschbach opened #3585 "CIs instable"
Please fill out the relevant sections below and delete the rest.

**Describe the bug**
CIs (especially Travis) oftentimes fail where they should not. Usually it is only one or two of the many build configurations that fail while all the others succeed.

**To Reproduce**
1. create a pull request to trigger CI

**Expected behavior**
If no real problem exists (compile error, formatting problem, faili

[2019-11-20 23:10] stonerl commented on #3023
Since I cannot reproduce this and it has apparently been fixed I'm closing this one.

[2019-11-20 23:10] #3023 closed, assigned to nobody

[2019-11-20 23:44] stonerl commented on #3011
Tested this with the latest master. Military buildings don't affect the overall productivity.

[2019-11-20 23:44] #3011 closed, assigned to nobody

[2019-11-21 13:47] stonerl commented on #2082
We could use the current chat window and add a tab. One tab is the chat for all players. And the second one only for spectators/the players. We would then have two distinct chats.

[2019-11-21 21:09] #3577 closed, assigned to nobody

[2019-11-21 21:44] stonerl opened #3588 "Artifacts: add single player text"
Currently, artifacts messages talk about team achievements:

Even when no teams are selected. This needs to be adapted for single users.

[2019-11-22 19:00] #2113 closed, assigned to nobody

[2019-11-22 19:01] #3446 closed, assigned to stonerl

[2019-11-23 22:13] stonerl opened #3592 "Enhancing a military building doesn't enhancy capacity"
When enhancing a military that is under construction e.g. barbarian fortress to citadel, the soldiers need to be adjusted to the new level manually. (8 to 12)

[2019-11-23 22:45] #2094 closed, assigned to nobody

[2019-11-24 18:15] #3592 closed, assigned to Noordfrees

[2019-11-29 20:22] Noordfrees opened #3597 "Show progress info during gameloading"
**Is your feature request related to a problem? Please describe.**
Loading a game (especially savegames) sometimes takes ages, and there is no way to estimate how many cups of tea I have time for until I can start playing.

**Describe the solution you'd like**
It would be nice to see a progress message ("Loading XY data (xy%)") that updates itself every few seconds on the loading screen instead of

[2019-12-01 20:18] jmoerschbach commented on #2073
Hi,
I just picked up working on this when I realized, that on current master some kind of hint/explanations already exist, see picture.
![grafik](https://user-images.githubusercontent.com/10723431/69919663-b519f200-147f-11ea-9506-644426d78d6c.png)
I still think this issue is valid, because here a tooltip is requested which explains "HV, "AT" etc, right?
A tooltip is drawn below the cursor. If addi

[2019-12-02 12:20] #1038 closed, assigned to stonerl

[2019-12-02 12:55] stonerl opened #3599 "Multiplayer load map when all players are ready."
**Is your feature request related to a problem? Please describe.**
This request may tie in to #3597. Currently, when a relevant game data has been loaded the screen stay black and the game is paused until all players have entered the game. This can sometimes lead to confusion on the players side that are waiting for the game to start.

**Describe the solution you'd like**
Instead of going directly

[2019-12-02 13:44] Noordfrees commented on #3599
I assume that the loading screen for MP games is created by gamehost.cc or gameclient.cc respectively (needs verifying). I don´t know which function(s) is/are running while waiting for players, but it should be possible either to
- implement into these functions that unsetting the ProgressWindow is delayed until everything´s ready, or
- just open a new ProgressWIndow directly after the loading scr

[2019-12-02 15:29] stonerl opened #3600 "Territorial Time: End game ahead of the 4 hour mark when in Peaceful Mode"
**Is your feature request related to a problem? Please describe.**
Territorial Time (TT) ends after 4 hours when none of the parties has been able to conquer more than 50% of the land for at least 20 minutes. Since we allow Peaceful Mode for TT, it may happen that players have conquered all available land, but since they are not allowed to attack, they have to wait for the 4hours to end.

**Descri

[2019-12-02 15:41] stonerl commented on #3585
I'm not sure whether we can change any of this or not. Most of the time (90%) it is the xfvb.service that is, for some reason, not running anymore and therefor letting the test fail.

[2019-12-02 15:43] #215 closed, assigned to nobody

[2019-12-02 17:12] #588 closed, assigned to stonerl

[2019-12-05 13:42] #3374 closed, assigned to stonerl

[2019-12-05 14:03] #3597 closed, assigned to nobody

[2019-12-06 13:46] stonerl opened #3603 "Map scrolling with arrow key broken"
**Describe the bug**
Since scrolling has been moved out of `InteractiveBase::think()` to `InteractiveBase::handle_key()`it does not work properly anymore. Diagonal scrolling isn't possible anymore and scrolling isn't as smooth as it was before

The choppy scrolling is caused by the fact that `InteractiveBase::handle_key()` doesn't get called as often as `InteractiveBase::think()`.

The diagonal sc

[2019-12-06 16:06] hessenfarmer opened #3607 "Hunting down old issues which are fixed already"
This is to track any old issues that can be closed as they are not longer valid
please add them in the format `- [ ] #0000 @yourname`:
if you already closed it, because you are sure mark it in this list.
if a commit or Pullrequest can be iddentified which solved the problem it should be added as comment to the issue as "fixed by #0000" or "fixed by commit a123244"
if possible/known set the milesto

[2019-12-06 23:29] hessenfarmer commented on #1674
fixed by commit dba8cf09cff47ae6bf7a9a6c77345c7c9eeae227

[2019-12-07 08:53] hessenfarmer commented on #1969
Only valid  for Babarians and Empire. Atlanteans and frisians are done

[2019-12-07 11:54] stonerl commented on #1969
Added a checklist to the first comment.

[2019-12-07 11:56] stonerl commented on #3607
Just add them to the first Post.

[2019-12-07 11:59] stonerl commented on #3607
I also pinned this issue. So, it will appear on top of the issue list.

[2019-12-07 12:58] stonerl opened #3608 "Improve Graphics for Ferries & Ferry Yards"
We currently have only placeholder Graphics for Ferry Yards and Ferries. We would need dedicated graphics also to differentiate them from the Ship Yards. Here is a list of implementation steps.

__Ferry Yards__
- [ ] Atlanteans
- [ ] Barbarians
- [ ] Empire
- [x] Frisians
- [x] Amazons

__Ferries__
- [ ] Atlanteans
- [ ] Barbarians
- [ ] Empire
- [x] Frisians
- [x] Amazons

__Ferries sinking anima

[2019-12-07 14:19] Lucki commented on #3490
That's working as intended:

[1]: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
___

[2]: https://www.widelands.org/forum/post/29881/

He/She should just compile without XDG, set the variable as desired or as the best option use the `--datadir` switch as that's a development case.

[2019-12-07 19:10] #2052 closed, assigned to Noordfrees

[2019-12-07 19:31] stonerl commented on #2052
The followup issue is #3608

[2019-12-07 19:37] #3565 closed, assigned to stonerl

[2019-12-09 09:34] stonerl commented on #3603
Some additions:

On the keypad we could implement diagonal scrolling by utilizing 1/3/7/9. Currently 7 is mapped to Home but we could use 5 instead.

[2019-12-10 16:23] stonerl opened #3612 "Help & tips enhancements"
This is a Meta-Issue to handle improvements in the help. Please add them to the list. If an issue already exists, add it here.

- [x] add helptext/tip for SHIFT/CTRL buttons regarding gamespeed
- [x] add helptext/tip SHIFT/CTRL buttons regarding map scrolling
- [x] add helptext/tip for map scrolling

[2019-12-10 16:37] #3429 closed, assigned to nobody

[2019-12-10 18:33] #3603 closed, assigned to nobody

[2019-12-10 18:44] stonerl commented on #3351
This always occurs when the open window doesn't handle the arrow keys. The savegame dialog for example only handles UP and DOWN in the list view. Therefore, LEFT and RIGHT are passed on to InteractiveBase.

[2019-12-11 14:18] stonerl commented on #3507
This isn't related to the crash. If you delete your old config file, widelands creates a new one at start the only contains 2 values.

[code]

The go to the options and press ok without changing any settings:

[code]

Close Widelands and start it again. The config gets reset to the following values during start:

[code]

[2019-12-11 22:38] stonerl commented on #1085
As it seems this bug only occurs in multiplayer games. Could this be related to autosave? In single player mode a normal save pauses the game, saves it and then reloads the game from the save. Autosave does not seem to pause the game but it reloads it after saving.

In multiplayer neither is the game paused nor reloaded...

[2019-12-12 08:47] Noordfrees commented on #1085
No, I´ve also seen this in singleplayer games (unless of course there are several bugs here…)

[2019-12-12 09:33] Frohicky commented on #1085
As I have previously pointed out, this occurs with single player games
as well. As I have autosave turned off it can not be connected with auto
save, it probably has nothing to do with saving our loading anyway. I
often get stuck wares in games when I am realigning the road system and
it is very rare for me to save a game, normally only after 8 hours if
the game is going to last a lot longer.

On

[2019-12-12 14:34] stonerl commented on #1085
@Frohicky I had only encountered this in multiplayer and as you can see from the history of this issue could reproduce it. That is why I thought it could be somehow related to saving.

But thank you for pointing this out again. I was somehow fixated on multiplayer.

[2019-12-12 20:05] stonerl commented on #3270
@hessenfarmer since you're doing the balancing. What about this issue here?

[2019-12-13 16:12] stonerl commented on #2128
should be fixed by #3611

[2019-12-13 16:12] #2128 closed, assigned to nobody

[2019-12-13 16:28] stonerl commented on #1703
This is solved by: commit 8933043e9c3428c6ec960bd1435bdd09267d2d09

[2019-12-13 16:28] #1703 closed, assigned to nobody

[2019-12-13 21:20] hessenfarmer opened #3617 "improve frisian immovable helptexts"
A lot of immovables, especially tribes immovables need helptexts. Some older helptexts need to be improved. especially we should add a comment to flowering immovables that honey can be collected there. this should ideally implemented as specific to frisians

[2019-12-13 21:30] hessenfarmer commented on #3095
most standard values (as the ones mentioned here) are explained in the RST comments to create the doc
so this can be closed from my perspective

[2019-12-19 17:09] #528 closed, assigned to nobody

[2019-12-20 08:02] stonerl opened #3618 "Convert Blender Files"
With some of our blender files seem to incompatible with Blender versions newer than 2.79. They crash Blender on opening. We need go through the files and see which of them crash on the latest version.

Those files need to be saved (overwritten) again with blender 2.79. Maybe we can automate this and have all files rewritten to future proof them.

See also [this](https://www.widelands.org/forum/to

[2019-12-22 16:46] gunchleoc commented on #3433
Quotes from forum discussion:

* It can happen that defending soldiers don't leave one of them in the building, which can be conquered without a fight by an opponent then. This happened today when I played - with a castle. Two soldiers had been inside (and charged attackers both), and other soldiers have been on their way. Maybe the fact that soldiers had been on their way triggered the bug. (buil

[2019-12-22 17:06] gunchleoc commented on #2921
Needs checking it it's still relevant

[2019-12-22 17:16] gunchleoc commented on #2135
No consensus, and also difficult to pull off - what if the roads to the new Warehouse build site don't have any carriers on them yet? What if we have no builder available?

So, closing this for now.

[2019-12-22 17:16] #2135 closed, assigned to nobody

[2019-12-22 17:23] gunchleoc commented on #2022
Superseded by 3419fcda84d775c1a5da0b256fe93f78035a7c69?

[2019-12-23 09:02] jmoerschbach commented on #3585
is there really nothing we can do? Almost every time a CI build is triggered, at least one of the build configuration fails. quite annoying...

[2019-12-24 13:33] gunchleoc commented on #3585
Since we can't fix the instabilities in the CI environment, I have changed the code to log and exit(0) rather than throw an exception.

[2019-12-24 14:09] #3507 closed, assigned to stonerl

[2019-12-24 14:19] #3490 closed, assigned to nobody

[2019-12-24 14:25] gunchleoc commented on #3618
Some of the files will also need manual editing, e.g. the Barbarian roof grass textures.

Automation is a good idea anyway though.

[2019-12-25 11:11] #3578 closed, assigned to stonerl

[2019-12-25 15:44] stonerl commented on #3585
Well, it kind of worked, I guess. But I assume we can't do anything when xvfb dies during the test suite run?

[https://travis-ci.org/widelands/widelands/jobs/629354906](https://travis-ci.org/widelands/widelands/jobs/629354906)

[2019-12-25 19:58] StuartRedmann commented on #3233
@sirver: A static_cast is not just a reinterpret_cast for pointers, so your statement <<it just takes a pointer and reinterprets it as a pointer>> is wrong. It will do the right thing, which most often includes a adjustment of the pointer value. It must however be able to do that, which means no virtual inheritance must be involved. This is covered by the C++ standard, but don't ask me for section

[2019-12-25 20:47] SirVer commented on #3233
@StuartRedmann I did not state that. I stated

and

`reinterpret_cast<void*>(building_ptr) != reinterpret_cast<void*>(dynamic_cast<Warehouse*>(building_ptr))`

while
`reinterpret_cast<void*>(building_ptr) == reinterpret_cast<void*>(static_cast<Warehouse*>(building_ptr))`

which I still believe to be correct.

[2019-12-25 21:10] jmoerschbach opened #3621 "Disable "Start attack"-Btn when no attacker is selected"
**Describe the bug**
On master, it is now possible to choose which soldiers should attack. It is possible to start an attack even when no (zero) soldiers are selected. This is confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on building you want to conquer
2. Deselect all soldiers
3. Click on "Start attack" - nothing happens

**Expected behavior**
When not a single soldier is

[2019-12-25 22:56] StuartRedmann commented on #3233
@SirVer
Unfortunately, the part where I cited your statement was interpreted by github as some kind of markup, so all that can be seen is

I wanted to cite your statement

You are right that static_cast won't change the address of building_ptr when it is downcast to Warehouse* because Building is the first (and only) non-virtual base class of Warehouse, so most compilers will lay out the classes i

[2019-12-26 09:10] StuartRedmann commented on #3233
@SirVer Ah, sorry, it was rather late at night. Actually I wanted to say that dynamic_cast yields either nullptr or the same value as static_cast.
`dynamic_cast<Warehouse*>(building_ptr) == nullptr || reinterpret_cast<void*>(dynamic_cast<Warehouse*>(building_ptr)) == reinterpret_cast<void*>(static_cast<Warehouse*>(building_ptr))`

[2019-12-27 09:38] SirVer commented on #3233
@StuartRedmann, yes, you are indeed right about that and I had the wrong mental model. Thanks for helping me thinking through this. So i was mistaken about the dangers of using `static_cast` in my post from 2017 above. I still think this macro is not great for readabilities sake.

For reference, I used this program to experiment:

[code]

[2019-12-29 13:15] gunchleoc opened #3623 "Update Tutorial 1 for new game speed UI"
The game speed behaviour changed with https://github.com/widelands/widelands/pull/3611

Double-check whether the tutorial needs changing and implement the changes.

[2019-12-29 14:20] stonerl opened #3624 "Crash when loading replay"
**Describe the bug**
When loading a replay the game crashes.

[code]

**Version:**
 - OS: macOS 10.14
 - Widelands Version: r24353[9269276@master]

[2019-12-29 16:04] gunchleoc opened #3625 "Fix 18n for status bar in progress window"
The new progress bars from https://github.com/widelands/widelands/commit/d8a789f9c71741681b3f084ad4d8e35c951f61b3 have some problems for translations

1. The text doesn't even fit in English, so the background graphic of the bar needs widening. Maybe we should just have it run over the entire width?
2. There is too much repetition for translators. I recommend 2 strings with placeholders:

`"Loadin

[2019-12-29 16:56] gunchleoc commented on #3585
We could use a different return code and check for that return code when running the test suite to make it ignore the problem.

[2019-12-29 17:03] gunchleoc commented on #3095
Agreed, we have an RST comment for this one.

[2019-12-29 17:03] #3095 closed, assigned to nobody

[2019-12-29 17:47] gunchleoc commented on #3600
We should implement this for the next milestone. If we can't make it, https://github.com/widelands/widelands/commit/ee67729691daebd7c39924e83454ecc9194391a7 will have to be reverted.

[2019-12-29 18:11] gunchleoc commented on #2082
+1 for tabs. I'd also like one for team chat.

[2019-12-29 18:15] gunchleoc commented on #3570
@stonerl when merging, please make sure that attached issues have the next milestone assigned to them :)

[2019-12-29 19:37] gunchleoc commented on #2066
The best thing I can say right now is "with lots of digging though the control flow in the code". The focus issue is non-trivial.

[2019-12-29 19:53] gunchleoc opened #3630 "Legacy lookup table is called during the game"
TribesLegacyLookupTable is called during running a game. This class is meant for savegame compatibility only, so https://github.com/widelands/widelands/issues/3529 that was fixed with https://github.com/widelands/widelands/pull/3549/ needs to be fixed in a different manner.

[2019-12-29 20:00] gunchleoc commented on #3581
We already have an open issue for the tribes: https://github.com/widelands/widelands/issues/3346

Loading the tribes will also become faster when we finish creating spritemaps.

Compression will be more work and I don't expect it to happen for Build 21.

[2019-12-30 13:10] hbeni opened #3633 "Multiplayer savegame distribution very slow"
**Describe the bug**
The distribution of saved multiplayer games is very slow. It takes minutes to transfer some 100k files between two machines in a 100Mb/s wired LAN.

**To Reproduce**
- Play in multiplayer
- save the game
- reload

**Expected behavior**
I expect the transmission to complete in few seconds, depending on the connection speed.

**Version:**
 - OS: Debian testing
 - Widelands Versi

[2019-12-31 13:28] tppq commented on #2940
After thinking again, I think that this could be improved.

Would this do:
- If a training site has failed to promote a soldier because of lack of resources, it expicitly asks for somebody who is below that level. If done, Atlantean labyrinth could be used as an efficient evede-only site.

- If a training site has succeeded to promote a soldier to maximum, then it asks for a new candidate who is a

[2019-12-31 16:07] PinPhreek opened #3634 "Bug under Ubuntu 19.04 (ppa) with Blackrootfarms"
When I build a blackrootfarm (Atlanteans), it keeps staying at 88% finished until you cut all ways to the construction site and rebuild it. The last item that's left to complete the blackroot farm is a plank. Please fix this bug as soon as possible, because it is very unpleasant to play with this bug.

[2020-01-01 08:11] klaus-halfmann commented on #3634
Hello  @PinPhreek thanks for you bugreport. Unfortunlally this is a know Issue (at least in the current development version). In complex econonmies sometimes planned wares do not arrive. A simple workaround is to decrease the ware for a short time and then increase it, this normally should fix the issue.

To aid us in finding the bug please supply us with as much information as you can gather:
* V

[2020-01-01 19:52] PinPhreek commented on #3634
Hello @klaus-halfmann,
I'm using Widelands **_Version build-20 (Release)_**, which is the newest one I could find without compiling from github. Unfortunately I have overwritten my savegame file, so you would get a version of my game just an hour after the bug occured. I played the campain "From Nemisis to Genisis".
![image](https://user-images.githubusercontent.com/34819140/71645400-25fb3680-2cd8

[2020-01-01 21:08] frankystone commented on #3634
This is indeed an annoying bug. Unfortunately it is unclear when, or how, this bug happens.

See #1085

[2020-01-02 07:56] klaus-halfmann commented on #1085
As of  #3634 we found this affects at least Ubuntu and OSX, we had in in R20 and still have it in master :( and I find it in almost every game with a more complex economy.

[2020-01-02 17:58] #3621 closed, assigned to nobody

[2020-01-05 11:39] gunchleoc commented on #3633
@Notabilis Any idea where the bottleneck is?

[2020-01-05 11:46] #1867 closed, assigned to Noordfrees

[2020-01-05 14:22] gunchleoc commented on #2940
Sounds good.

Maybe also a button to give a training site priority over all military sites in peacetime?

[2020-01-05 14:26] gunchleoc commented on #1380
Fixed with https://github.com/widelands/widelands/commit/9bce593607db40301355ed4e6d7efeeb75b22bd4

[2020-01-05 14:26] #1380 closed, assigned to gunchleoc

[2020-01-05 14:27] gunchleoc commented on #1879
Fixed with https://github.com/widelands/widelands/commit/9bce593607db40301355ed4e6d7efeeb75b22bd4

[2020-01-05 14:27] #1879 closed, assigned to gunchleoc

[2020-01-05 15:52] Notabilis commented on #3633
Yes, it is in our code. My last branch was a preparation for fixing this, when the branch "Refactor gamehost" is merged I will prepare a branch that fixes this bug.

[2020-01-05 16:11] gunchleoc opened #3638 "Shift contents of GameHelpInGame to Lua"
The following page on the Wiki is seriously outdated now: https://www.widelands.org/wiki/GameHelpInGame

I'd be in favour of shifting this information to the Tribal Encyclopedia, because Wiki pages tend to become outdated. The shortcuts are already explained.

[2020-01-05 16:30] gunchleoc opened #3639 "Make "Out of Resources" messages less noisy"
**Is your feature request related to a problem? Please describe.**

"Out of resources" messages can still be too noisy, especially for the lumberjacks. C.f. https://www.widelands.org/forum/topic/4704/

**Describe the solution you'd like**
I have 2 ideas:

1. Add button to adjust general threshold for each building type in the Building Statistics window
2. Mute/unmute individual buildings

[2020-01-06 10:39] gunchleoc commented on #3633
refactor-gamehost has been merged https://github.com/widelands/widelands/commit/3a428bd93712294d6f09634541a01d053e2b7da9

[2020-01-07 14:56] hessenfarmer commented on #3581
Ok I will reevaluate after all spritesheets finished

[2020-01-07 17:13] hessenfarmer commented on #508
has been solved with commit b2e84e87410a273e145039819a23012e02d2bf1c

[2020-01-07 17:30] #508 closed, assigned to nobody

[2020-01-07 17:34] #1514 closed, assigned to nobody

[2020-01-07 17:37] #1032 closed, assigned to tibor95

[2020-01-07 17:39] #1674 closed, assigned to nobody

[2020-01-07 18:56] hessenfarmer commented on #310
@gunchleoc
this is more the less overtaken by events through our ingame help I believe. So I think we should close this until somebody complains again about manual.

[2020-01-07 19:26] frankystone opened #3640 "Won dialog messed up"
Don't know if this is already in build20, but i think the won dialog is somehow messed up, at least with german translation:

1. The String 'Spielerinformation' is on the right side of the table. I guess it should be on top of the table?
2. In this game the one who won is shown in the last row of the table, although he was player 1. I think the table should be sorted either by playernumber, or the

[2020-01-07 19:37] frankystone opened #3641 "Autosave leads to flickering"
**Describe the bug**
When the game makes an autosave, the screen shows a wooden background with the 'Tips'-banner for a short time (fewer than a second, but long enough to see the banner).

'Tips'-banner = the small white banner which is seen when loading/starting a game, containing some tips.

**To Reproduce**
Start a new game and wait for an autosave

**Expected behavior**
Don't know if this was

[2020-01-07 19:49] hessenfarmer commented on #1073
should be fixed with #3527

[2020-01-07 19:49] #1073 closed, assigned to nobody

[2020-01-07 20:00] hessenfarmer commented on #3640
Hi,
as far as I know the player info (original text) contains additional info for some win conditions. so perhaps we should rename it to additional info instead. so it is not the headline of the table but an optional column and we could think of formatting it differently.
furthermore the table is sorted by the time the final message is compiled so if scripting checks first for the winner and after

[2020-01-07 20:17] hessenfarmer commented on #1699
I believe this is now only a minor issue as the Ai doesn't build that many foresters and lumberjacks anymore so the difference between building finished and manned is only minor.

[2020-01-07 20:37] hessenfarmer commented on #2016
fixed with commit c4cb9bfa2a2e177cf7145b72919c09e31c62b03f

[2020-01-07 20:37] #2016 closed, assigned to nobody

[2020-01-07 20:42] hessenfarmer commented on #3161
should be closed or renamed to lowering plank settings in starting conditions. However the original deadlock is gone

[2020-01-07 20:53] hessenfarmer commented on #2939
fixed with commit 5b126ac2cd1d0d843b5b0884a13a58f3e4d6dfab and commit  b2e84e87410a273e145039819a23012e02d2bf1c

[2020-01-07 20:53] #2939 closed, assigned to nobody

[2020-01-07 20:55] hessenfarmer opened #3642 "Ferries need to be explained in tutorials"
As we have introduced ferries and waterways lately we need to explain them in the tutorials

[2020-01-08 08:09] hessenfarmer commented on #651
if such a tool, is still needed it could be based on the scripts I used in creating Atlantean Mission 2.They were originally designed by nasenbaer and SirVer. I believe they could be implemented in c++ as well to parse the created infrastructure from the editor into a lua script that could be run at startup of a map in scenario mode.

[2020-01-08 08:50] hessenfarmer commented on #1310
the correctness of statistics has been questioned often in the forums. As we now have a new stats value for AI we could try to use this as suggested in https://www.widelands.org/forum/topic/4523/?page=3

[2020-01-08 10:25] stonerl commented on #3641
It seems this issue and #3624 are related.

[2020-01-08 12:07] hessenfarmer commented on #1862
as the Hardcore settings are lying around for ages now we should either implem,ent them togehter with a hint that they are not suitable for AI (and never will be) or just close this bug. I'd vote for including a them. maybe we could name this poor_village  or poor_hamlet

[2020-01-08 12:33] Noordfrees commented on #651
I am working on a scenario editor: https://github.com/Noordfrees/widelands/tree/scenario-editor
You´re welcome to test the existing infrastructure tools :)

[2020-01-08 12:36] Noordfrees commented on #3641
The saveloading progress window is now shown always when saving as a side effect of d8a789f . But on my slow machine an autosave often takes about 5-10 seconds, so I´m in favour of keeping it.

[2020-01-08 12:37] Noordfrees commented on #3642
Already in progress here: https://github.com/Noordfrees/widelands/tree/ferry2

[2020-01-09 09:34] hessenfarmer commented on #1592
needs to be reconfirmed if still valid

[2020-01-09 09:53] hessenfarmer commented on #3053
We had some discussions on the forum while making a new time based percentage for AI purposes.
https://www.widelands.org/forum/topic/4523/?page=3
I would give it a try to use this value and skip the bool array to provide better productivity to users. we could ask for feedback in the forum for this change.

[2020-01-09 10:04] hessenfarmer commented on #3051
this one got fixed by various commits from stonerl like this one
312791b87573a551fbd7ef1983c4a2643f2c9757
However we now have again the fast dropping productivity which is mentioned above but this could be fixed while fixing #3053

[2020-01-09 10:04] #3051 closed, assigned to nobody

[2020-01-09 11:53] hessenfarmer commented on #2008
I'd recommend to close this one as "won't fix" I see no reason for the AI to send geologists.

[2020-01-09 12:28] hessenfarmer commented on #1037
If a player is defeated it means he has no warehouse left. so 1. from above does not fit to this bug and is normal beahviour of Ai roadbuilding mode I believe. 2. is not possible as you can't start a new warehouse to build. you won't get a builder for it. We have seen this again in my tournament match against Hasi so 2. isn't a valid alternative. Only thing is that Ai stops its activity after bein

[2020-01-09 20:52] frankystone commented on #3641
Do i understand this correctly: When an autosave is made, the intermediate screen is shown as long the autosave last?

If this is true: I noticed the string "Saving the Game" (or similar) after the intermediate screen appears at the bottom left of the screen (when the game is shown again and runs further). Is it possible to have this string in the intermediate screen inside the tips banner (or jus

[2020-01-09 21:12] Noordfrees commented on #3641
Removing the "Saving the game" string from the corner is easy. Replacing the tips with this string might be tricky, I´ll see what I can do…

[2020-01-09 21:33] Noordfrees opened #3643 "update.sh creation broken"
compile.sh does not create an update script if the working tree is not clean. To check this, it runs `git status` and checks for `"${STATUS##*nothing to commit, working tree clean*}"`.

On my machine (ubuntu 19.10 with nds and de_DE locales), git status returns "nichts zu committen, Arbeitsverzeichnis unverändert".
Therefore no update script is created…

[2020-01-09 21:57] Noordfrees commented on #3641
Ouch. What you see during autosaving is actually *always the same* ProgressWindow which is created once when starting the game and sticks around until you return to the main menu. Modifying it is not a very safe thing to do…
Depending on the game type, the ProgressWindow can be created from a dozen different places. These code paths could use some general restructuring, simplifying and redundance-

[2020-01-10 09:35] hessenfarmer commented on #1310
I have started a branch for that
https://github.com/widelands/widelands/tree/productionsite_performance

[2020-01-10 09:38] hessenfarmer commented on #3053
branch is up now
https://github.com/widelands/widelands/tree/productionsite_performance

[2020-01-10 09:38] hessenfarmer commented on #3053
#1310 is related if not duplicate

[2020-01-10 12:29] gunchleoc commented on #310
Agreed. Thanks for cleaning up our issues :)

[2020-01-10 12:29] #310 closed, assigned to nobody

[2020-01-10 12:31] gunchleoc commented on #3640
I agree that this can be improved. The right-hand side should optimally be filled by detailed information from the win condition, and it concerns the currently selected player.

[2020-01-10 12:44] #3585 closed, assigned to gunchleoc

[2020-01-10 12:48] #3624 closed, assigned to Noordfrees

[2020-01-10 12:48] #3625 closed, assigned to Noordfrees

[2020-01-10 12:48] #3641 closed, assigned to nobody

[2020-01-10 13:15] gunchleoc commented on #1699
https://github.com/widelands/widelands/tree/1699-ai-basic-economy was still mergeable, so I have merged current master.

@tibor95 do you want to continue work on the branch, or are you happy with the current state and we close this and delete the branch?

[2020-01-10 13:21] gunchleoc commented on #3161
Reducing the target quantity takes about 2 minutes, so I have created a PR.

[2020-01-10 13:26] gunchleoc commented on #1862
+1 for hamlet

I have merged master.

[2020-01-10 13:29] gunchleoc commented on #2008
At the very least this is very low priority. It would only be eye candy.

[2020-01-10 13:30] gunchleoc commented on #1037
+1 for using the empty AI, excellent idea :)

[2020-01-10 13:35] gunchleoc commented on #3643
`git status -s` will come up empty if there are no changes, we should use that instead.

[2020-01-10 13:40] gunchleoc commented on #1310
Astuur's mockups

[maneuvering_site_windows.pdf](https://github.com/widelands/widelands/files/4045826/maneuvering_site_windows.pdf)
[New_Colemine_window.pdf](https://github.com/widelands/widelands/files/4045827/New_Colemine_window.pdf)
[New_Lumberjacks_house_.pdf](https://github.com/widelands/widelands/files/4045828/New_Lumberjacks_house_.pdf)
[New_Lumberjacks_house_V2.pdf](https://github.com/wide

[2020-01-10 15:00] tibor95 commented on #1699
I would stick with current state, I dont remember the particular branch but I dont think it is in good shape

[2020-01-10 15:01] tibor95 commented on #1037
+1 because responsibility for defining the "defeated" would be out of AI

[2020-01-10 19:20] hessenfarmer commented on #1699
+1 from my side to close this and delete the branch. As explained current state of AIin this particular part is working well

[2020-01-10 20:18] hessenfarmer commented on #1310
to make it clear I am just working on the productivity string. As can be read above SirVer implemented the building help different from the mockups for reason of more consistent help. Furthermore we have nearly all of the information now in the in game help so I believe we should just fix the productivity if any to close this.

[2020-01-10 20:20] hessenfarmer commented on #2008
I would vote against such eye candy as it would be pretending to do something that isn't really done. And for this I am totally with SirVer and his ethics explained in this discussion

[2020-01-10 20:26] hessenfarmer commented on #1592
clicking a part of a big building while the entrance is under fog of war still brings up the attack window, but no soldiers can be selected and no attack can be launched. However this would look like a bug for any unexperienced player

[2020-01-11 13:48] #3161 closed, assigned to gunchleoc

[2020-01-11 16:16] frankystone opened #3647 "Game crashes when trying to save or when build a waterway"
**Describe the bug**
1. The attached game can't be saved again.
2. Trying to build waterway crashes the game also

**To Reproduce**

1. Load the attached game
2. Try to save it again

or:

1. Set a flag at 127/99
2. start build a waterway
3. click on the flag at 125/97

The game crashes immediately. With a debug build nothing useful is shown in the terminal.

**Version:**
 - OS: archlinux
 - r5666

[2020-01-11 16:49] Noordfrees commented on #3647
It saves normally for me, but I can reproduce the crash when building the waterway. ASan says:
[code]
will investigate

[2020-01-11 17:00] Noordfrees commented on #3647
The ferry with serial 944 on field 140×89 does not know its position and has an empty task stack, thus the crash. Now I need to find out how this happened…

[2020-01-11 17:04] Noordfrees commented on #3647
Found it :)
This is the same bug that was reported on the forum a while ago and is already fixed in my branch https://github.com/Noordfrees/widelands/tree/ferry2
Reason is that in master, fleets don´t notice yet when a ferry sinks

[2020-01-11 20:48] Notabilis commented on #3633
Thanks for the notification, I pushed a branch proposing a fix for this.

[2020-01-12 09:00] frankystone commented on #3647
Thanks :-)
And many thanks for the bridges!

[2020-01-14 09:02] hessenfarmer commented on #1493
![shot0003](https://user-images.githubusercontent.com/43039887/72329363-e1e33b00-36b4-11ea-8e2a-a2ec0c132980.png)
![shot0002](https://user-images.githubusercontent.com/43039887/72329367-e1e33b00-36b4-11ea-8ebe-085c40ce2293.png)

[2020-01-14 09:03] hessenfarmer commented on #1493
copied the files from launchpad. first shows the roads after re exploration second shows the situation after loading.

[2020-01-14 09:03] hessenfarmer commented on #1493
[bug-1283526.zip](https://github.com/widelands/widelands/files/4058233/bug-1283526.zip)

[2020-01-14 09:04] hessenfarmer commented on #1493
zip contains a savegame from july 2019

[2020-01-14 09:15] hessenfarmer commented on #1651
The behaviour was explained in the helptexts. with commit https://github.com/widelands/widelands/commit/5a9bc39b6e49bf3e5bf844fa7b1014fe9ab8be6d#diff-7d88844aa9b3290f82cd708b80ba5927

[2020-01-14 09:16] hessenfarmer commented on #1651
perhaps we could try to remove the economy setting for blackroot to cause less disturbance on user side.

[2020-01-14 12:01] Noordfrees commented on #1493
Can someone confirm this issue with current master? (The road rendering system was refactored twice recently)

[2020-01-14 12:05] hessenfarmer commented on #1657
should be fixed with commit 7a409c69c9ead748fe8df47e0f438300c5f0c60d
at least partly

[2020-01-15 13:45] hessenfarmer commented on #2921
probably fixed by #3645
at least it is touched and we have a new metric then. Will test the values produced now

[2020-01-15 13:50] hessenfarmer commented on #1310
statistics part will be fixed with #3645

[2020-01-15 13:51] hessenfarmer commented on #3053
fixed by #3645

[2020-01-16 15:39] hessenfarmer commented on #3270
Just to get this right I will add
return = skipped when economy needs log
so it doesn't produce if logs are needed. Correct?

[2020-01-18 16:51] #1699 closed, assigned to tibor95

[2020-01-18 16:56] gunchleoc commented on #2008
Let's close it then.

[2020-01-18 16:56] #2008 closed, assigned to nobody

[2020-01-18 21:53] #3442 closed, assigned to hessenfarmer

[2020-01-18 22:11] gunchleoc commented on #1651
The entry in the economy settings is ther because we have the following lines in the mill's production programs:

`return=skipped when site has blackroot and economy needs blackroot_flour and not economy needs cornmeal`

`return=skipped when site has corn and economy needs cornmeal and not economy needs blackroot_flour`

I don't think that this is severe enough a problem to code a special "hide fr

[2020-01-19 21:00] hessenfarmer commented on #1651
It is understood. However the lines read like
"return=skipped when site has corn and economy needs cornmeal and not economy needs blackroot_flour" for the blackroot and
"return=skipped when site has blackroot and economy needs blackroot_flourl and not economy needs cornmeal" for the corn.
I believe this should work well without an ecosetting at all, cause it is the same case as for the charcoalkil

[2020-01-19 21:00] hessenfarmer commented on #1651
It is understood. However the lines read like
"return=skipped when site has corn and economy needs cornmeal and not economy needs blackroot_flour" for the blackroot and
"return=skipped when site has blackroot and economy needs blackroot_flourl and not economy needs cornmeal" for the corn.
I believe this should work well without an ecosetting at all, cause it is the same case as for the charcoalkil

[2020-01-20 13:44] #3642 closed, assigned to Noordfrees

[2020-01-20 13:44] #3647 closed, assigned to Noordfrees

[2020-01-21 19:07] Noordfrees commented on #1493
[test.wgf.zip](https://github.com/widelands/widelands/files/4093152/test.wgf.zip)

I can no longer reproduce this issue in master, so closing this now.

[2020-01-21 19:07] #1493 closed, assigned to nobody

[2020-01-21 21:57] Joesalmon1985 commented on #3588
Okay, I'm interested in trying to fix this.

[2020-01-22 12:18] stonerl commented on #3588
@Joesalmon1985 thanks allot. The file in question is this one:

https://github.com/widelands/widelands/blob/master/data/scripting/win_conditions/artifacts.lua

[2020-01-22 12:47] stonerl commented on #3639
I'd say we have this option on a per building basis. Maybe with an option in the settings to enable or disable these message by default, so the user can decide whether s/he wants to disable or enable the messages for buildings during the game.

[2020-01-22 13:00] stonerl commented on #1651
Maybe we should get rid of this and consider using blackroot for more than just flour. Maybe instead of feeding only corn to horses we could feed blackroot and corn?

[2020-01-22 20:11] hessenfarmer commented on #1651
I still vote for just deleting the economy setting

[2020-01-23 08:32] frankystone opened #3652 "Editor crashes when trying to save a map"
Try to save a map leads to a crash.

**To Reproduce**
1. Start editor
2. Try to save the map
3. The editor crashes with this result:

`widelands: /.../widelands-repo/trunk/src/map_io/map_saver.cc:85: void Widelands::MapSaver::save(): Zusicherung »egbase_.get_loader_ui()« nicht erfüllt.`

**Expected behavior**
The map should be saved

**Version:**
 - OS: archlinux
 - Version: r5672[8d86094@master]

[2020-01-23 12:44] stonerl opened #3655 "Rework autosave (in multiplayer)"
We should rethink the autosave mechanism now that we have the new dialog and. In single-player the game is paused/saved/resumed. In multiplayer the game isn't paused but during saving the save screen appears (which is a good thing IMHO).

Currently, the default autosave period is 15 minutes. I don't think it makes much sense to allow a changing this on a minute scale. With an 1-minute autosave per

[2020-01-23 12:49] Noordfrees commented on #3655
That´s a pretty huge step size IMHO. I have set my interval to 10 minutes. I we change anything here I´d vote for 5 min step size and not changing the default.

I don´t play multiplayer, but the current behaviour sounds strange to me. +1

[2020-01-23 12:58] Noordfrees opened #3656 "Extend keyboard support for dropdowns"
Dropdowns should get the following additional keyboard support:
- [ ] When pressing Up while the first element in the list is highlighted, go to the last element
- [ ] When pressing Down while the last element in the list is highlighted, go to the first element
- [ ] Home and End should jump to the first/last element in the list
- [ ] PageUp/PageDown should go up/down by `max_list_items_` entries

[2020-01-23 16:52] hessenfarmer commented on #1862
wrong branch was linked
correct one is https://github.com/widelands/widelands/tree/minimal-startconditions
I will take care of it.

[2020-01-23 19:16] frankystone commented on #1085
While this problem is most noticeable for construction wares, i think this problem affects ware routing in general. E.g. i have a savegame where a sack of flour stays at a flag and beer stays at another flag. It is clear which construction site is affected, so one can fix this by the known steps, but for beer it is totally unclear which mine may is affected.

One beer, or one of any other wares, c

[2020-01-25 10:42] frankystone opened #3657 "compiling a downloaded zip won't work"
**Describe the bug**
Compilation fails if one tries to compile a downloaded zipped branch without having a git repo.

**To Reproduce**
1. Choose a branch. I used https://github.com/Noordfrees/widelands/tree/3652-editor-loader-ui
2. Click on 'Clone or download -> Download zip'
3. Extract the zip file to a folder without git versioning
4. Run ./compile.sh  -r -w -t

The following error occurs:

As a

[2020-01-26 21:57] simply-peachy opened #3658 "Unable to load save game due to economy error"
Widelands version r24376[98e57ac@master] (Release) on Ubuntu 19.10. Trying to load a saved game results in an error: Fatal exception: economies: player 3: error reading economy data for ship Bounty: economy: Representative flag/ship has economy serial 2767, but the data packet has 1955

The save was using the same version of the game, and appeared to save OK.

Stdout, stderr, map and save attached

[2020-01-26 22:00] simply-peachy commented on #3658
Looks like the last autosave is also broken, attaching in case it helps.
[autosave.zip](https://github.com/widelands/widelands/files/4114547/autosave.zip)

[2020-01-26 22:11] simply-peachy commented on #3658
[replays.zip](https://github.com/widelands/widelands/files/4114590/replays.zip)

[2020-01-27 07:26] Noordfrees commented on #3658
Thanks for reporting, will investigate.
Did you also start this game with this version of Widelands or is this an older game which was saved and reloaded multiple times?

[2020-01-27 12:57] simply-peachy commented on #3658
Game was started and played with the same version.

[2020-01-27 19:40] Noordfrees commented on #3658
Found it :)
Player 3 has two ships at the same location, "Siena" and "Bounty", both if them waiting expedition ships. The saveloading code assumes that this doesn´t happen.
I´ll write some code so ships can be disambiguated in this case in the future, but this savegame is unfortunately beyond recovery :(

[2020-01-27 22:08] simply-peachy commented on #3658
That was prompt! I must have created an expedition in an alternate reality which would confuse any game. I keep frequent autosaves so I only lost a little playtime and was victorious anyway :-D

Thanks!

[2020-01-28 17:36] Noordfrees opened #3660 "Flickering census strings on invisible map movement"
**To Reproduce**
1. Start a game
2. Ensure the map is at 1x zoom level. Enable census and stats.
3. Press Ctrl-0 to reset zoom

**Expected behavior**
Nothing should happen, because the zoom is already at 1x

**Actual behavior**
The census and stats strings disappear, and reappear after ~1s, as if there was a map movement

**Version:**
 - Ubuntu 19.10
 - current master, Release

[2020-01-29 08:42] hessenfarmer commented on #3657
Hm,
this looks like having 2 problems the first line is about a git error, but the rest of the traceback is about a failing attempzt to identify a bazaar version. Normally everything should fail safely and provide fianlly the REVDETECT-BROKEN Version.
BTW the order is search for a WL_VERSION file, try to find git version, try BZR version, deliver revdetect.
I have no glue however why this is faili

[2020-01-30 13:38] #3652 closed, assigned to Noordfrees

[2020-01-31 11:17] #3053 closed, assigned to nobody

[2020-01-31 11:21] hessenfarmer commented on #1310
graphics part was implemented by SirVer see above
Statistics part got fixed now so I would consider this closed

[2020-01-31 17:58] stonerl commented on #3660
I think I saw something similar with the soldiers' overlay.

[2020-02-01 11:08] hessenfarmer commented on #3657
I just tried this on my windows machine with a downloaded zip. and it reverted to REVDETECT-BROKEN string. only thing is I haven't installed bazaar anymore.

[2020-02-01 19:16] hessenfarmer opened #3665 "weapons and armor for Ai use are hardcoded"
AI identifies weapons and armor withthe help of a hardcoded stringpattern
https://github.com/widelands/widelands/blob/99c93d3821fd2b4d2e3ea75196ff588e41dbcefa/src/ai/defaultai.h#L393
This is used for reducing inputs to 1 in the TS to distribute demand for weapons in the economy.

this should be read from the weapons sections in the training programs of a trainingsite furthermore it should be done

[2020-02-01 23:20] #3633 closed, assigned to nobody

[2020-02-01 23:20] hessenfarmer commented on #3633
fixed by #3649

[2020-02-02 13:44] frankystone commented on #1424
I think the log output should get a timestamp (gametime) and should contain 'playeractions'. So the logging may can make bugs more reproducible without staring at a replay. It might be difficult to decide which playeractions are relevant and should be logged...

[2020-02-02 13:50] tibor95 commented on #1424
I see here two independent things - first is timestamp like in "normal" software - this one could be configurable (on/off)
And playeractions are separate thing....

[2020-02-02 17:47] frankystone commented on #1288
This is a duplicate of bug #1652

[2020-02-02 18:10] frankystone commented on #1781
Don't know what the proposed branch includes to fix this, but i think having the roads connected to a 'busy' flag colored red should be better visible.

[2020-02-02 18:28] frankystone commented on #1734
Can't reproduce this on linux running two instances of widelands on the same machine using LAN game.

[2020-02-02 18:58] frankystone commented on #3072
Can't reproduce this anymore. Anyone else?

Since we didn't get any such response in the forum, i would consider this bug as fixed.

[2020-02-02 19:13] frankystone commented on #3075
Since there are no 'X' displayed anymore and we have percentage, i think this bug is fixed?

[2020-02-03 13:13] Noordfrees opened #3667 "Frequent AppVeyor Timeouts"
The 64-bit debug builds on AppVeyor frequently fail due to a timeout. The other three builds take about one hour each, this one often timeouts after 2h.

[2020-02-04 09:22] TinoM commented on #3667
This is mainly due to:
- The memory/cpu limit on the build images
- The circular dependencies in widelands

We already have disabled parallel linking (otherwise it takes >8GB mem):
`-DCMAKE_JOB_POOLS=\"linking=1\" -DCMAKE_JOB_POOL_LINK=linking`

[code]

So building takes the same time as x86 debug, but the linking takes ages...

[2020-02-04 09:31] Noordfrees commented on #3667
Perhaps we could skip building the tests on appveyor, since travis already runs them for us?

[2020-02-04 12:17] hessenfarmer commented on #3075
I believe with commit https://github.com/widelands/widelands/commit/ff8c5f22411ec0a1d9e8f5a63789a35795085f39
we made the exhausted message stay even if the mine was successful again. so this is what was intended by this bug. The x will be shown as well after each additional unsuccesful attempt I believe.

[2020-02-04 12:23] hessenfarmer commented on #3075
Only thing is we might ask @Noordfrees to display a X for the depleted frisian mines as well Additionally to the ladder pulled out. Perhaps this could be where now the ladder is closing the entrance to the mine

[2020-02-04 15:35] Noordfrees commented on #3075
OK will do so soonish

[2020-02-04 18:11] hessenfarmer commented on #3075
Oh many thanks for that.

[2020-02-04 23:18] frankystone commented on #3075
I don't know... i guess the 'X' was a solution which is very old. In the meantime we have some more (i guess) things to notify a player of depleted mines:

1. There is a tooltip on the mine
2. There is a notification for it

![depleted_mine](https://user-images.githubusercontent.com/6730556/73796191-e202c200-47ac-11ea-9c76-e2024e019ffa.png)

[2020-02-04 23:33] simply-peachy commented on #3075
One thing I know is that not all players watch the Inbox. I like the idea of a persistent marker on a depleted mine, as they're easily visible on the play area.

[2020-02-05 06:28] hessenfarmer commented on #3075
I believe the real use of our little x is to identify which mine is depleted in an area with a lot of mines. So I like to still have our empty animation

[2020-02-05 11:08] eqom14 opened #3669 "bob.h:314: Widelands::Bob::State& Widelands::Bob::top_state(): Assertion `stack_.size()' failed."
[code]

I have the executable, core, replay and last saved game so let me know if you want them ( well the core is a gibabyte so maybe github wouldn't like that?)

[2020-02-05 12:37] Noordfrees commented on #3669
A savegame would be useful. Does the crash happen reproducably after loading or do you have instructions how to reproduce?

Possibly related to #3538

[2020-02-05 14:54] eqom14 commented on #3669
Annoyingly had to gzip it to upload.  I can't reproduce so far.

[wl_autosave_00.wgf.gz](https://github.com/widelands/widelands/files/4160152/wl_autosave_00.wgf.gz)

[2020-02-05 16:51] gunchleoc commented on #3667
We could skip the tests for the 64 bit debug builds only.

I have a feeling that our linking time became worse a while ago. Cleaning up the circular dependencies is very hard though, resolving them tends to snowball big time, so I already have a few dead-ended branches on the topic.

[2020-02-05 17:00] gunchleoc commented on #3647
When closing an issue, please remember to add the milestone ;)

[2020-02-05 17:42] gunchleoc commented on #3669
That's the 1 thing that was easier on Launchpad... on the other hand we can upload multiple files to the same post here. You win some, you lose some...

[2020-02-05 17:45] gunchleoc commented on #1651
The problem is that we can't "just delete" the economy setting, because it's autogenerated from the return program.

[2020-02-05 18:02] #3106 closed, assigned to nobody

[2020-02-05 18:06] gunchleoc commented on #3660
Confirmed.

We switch of the strings during zooming because the rerendering is very expensive, so it's a performance hack. We could look into checking whether the zoom level has changed at all before switching them off.

[2020-02-05 18:11] gunchleoc commented on #3655
+1 for using the host's interval

I use the 1 minute interval often for testing purposes. Maybe have a different step size for debug and release builds?

[2020-02-05 18:21] gunchleoc commented on #3656
I don't find the round-robin intuitive - hit the key once too many accidentally and you're somewhere you don't expect to be. Home and End will serve for that just fine :)

I like the other suggestions.

[2020-02-05 18:22] gunchleoc commented on #3665
Sounds good to me :)

[2020-02-05 18:30] #1310 closed, assigned to nobody

[2020-02-05 18:49] gunchleoc opened #3670 "Icons overlap in ship's hold"
**Describe the bug**
In the ship window, ware/worker icons can overlap.

We should have less icons per row with more space between them

**To Reproduce**
Get a ship to transport a mix of wares and workers

**Screenshots**

![shipwindow_overlap](https://user-images.githubusercontent.com/4095570/73872732-2becb600-4848-11ea-9bdd-4c340b8ffb42.png)

[2020-02-05 18:50] gunchleoc commented on #3072
The shipwindow bug is still there, I have created a separate issue for it: https://github.com/widelands/widelands/issues/3670

The other issues have been fixed.

[2020-02-05 18:50] #3072 closed, assigned to nobody

[2020-02-05 19:08] hessenfarmer opened #3671 "make savegame loading less succeptible for changes in lua"
Currently savegame loading easily breaks if lua working programs are changed.

This should be fixed in a way that if a program in the savegame is not found in the productionsite definition anymore just reinitialize the program working state of the productionsite.

Perhaps some other parts of saveloading could be hardened this way

[2020-02-06 08:26] hessenfarmer commented on #1651
it is not generated from the return=skipped program. The possibilities for having an eco setting in the economy window is dependent on a default_target specified for the ware and the tribe. so deleting this default_target woulkd delete the possibility to define an eco setting so the user can't be confused by a setting with no effect.

[2020-02-06 08:37] hessenfarmer commented on #1424
I believe we first have to decide whether this bug is still valid.  So what I see in stdout.txt on windows is not very much output. most lines are lines generated from autosave or saving operations. These lines could be reduced probably as they are not generating much help during bug hunting.
The issue commented by kaputtnik though being very valid should be a handled with a new issue I believe.

[2020-02-06 09:11] gunchleoc opened #3673 "Add timestamp to logger"
As discussed in https://github.com/widelands/widelands/issues/1424 it would be good to have a gametime stamp with the log output. This will help scanning replays for the relevant time frame.

**Implementation steps**
- [ ] Add `[hh:mm:ss]` timestamp to the output generated by `base/log/ .

[2020-02-06 09:14] gunchleoc commented on #1424
I have created a new issue for the time stamp.

I also like the idea of error, warning, info, debug levels - if somebody agrees, we can open a new issue for it and close this one. Available levels should be stuck in an enum class and the output string generated from there.

[2020-02-06 09:15] gunchleoc commented on #1651
We could remove the default_target and test - it might have some impact on cornflour getting enough priority.

I dug around some more, it's a combination of 2 factors:

1. If there is a `needs` in a return statement https://github.com/widelands/widelands/blob/master/src/logic/map_objects/tribes/production_program.cc#L139

[code]

2. Then the following function is called:

[code]

So, it is added t

[2020-02-06 11:32] gunchleoc commented on #3270
Correct :)

[2020-02-06 11:35] gunchleoc commented on #1652
In the other issue, we discussed the idea of workers booking a spot

[2020-02-06 11:35] #1288 closed, assigned to nobody

[2020-02-06 11:56] gunchleoc opened #3675 "Seafaring tutorial improvements"
I'd like to see the following tweaks in the seafaring tutorial:

Seafaring part:

1. Start the Ship Yard objective while the port is still building, because both the port and the ships take a long time to build. This will speed things up for the player.

Ferries part:

1. We could break up the wall of explanation text a bit by asking the player to build a ferry yard first, then explain more about

[2020-02-06 11:59] gunchleoc commented on #1734
Me neither - seems like it got fixed by recent changes somewhere.

[2020-02-06 11:59] #1734 closed, assigned to nobody

[2020-02-06 13:06] hessenfarmer commented on #1651
Hm,
maybe there is another bug in there. According to the mentioned set_has_demand function it seems to be intended that an economy setting is created by either having default_target_quantitiy or by having a needs statement in a program. However the if close in the set_has-demand function never can be true due to
https://github.com/widelands/widelands/blob/ff36f1dc22f688ba69327d7e6766b1aadf8bec71/

[2020-02-07 08:31] gunchleoc commented on #1651
Yes it is set: When default_target_quantities_ <=0 for the tribe, then `WareDescr::default_target_quantity` returns kInvalidWare and `default_target_quantities_.at(tribename) == kInvalidWare` becomes true.

[2020-02-07 09:50] gunchleoc opened #3678 "Increase maximum map resources in editor to 50"
Allow map editors to place higher amounts of resources. See discussion in https://www.widelands.org/forum/topic/4688/

We agreed on an amount of 50.

[2020-02-07 09:52] gunchleoc opened #3679 "Delete kRefinedLog"
kRefinedLog is not used by the AI any more, get rid of it.

[2020-02-07 09:56] gunchleoc commented on #3679
False alarm, it's still being used.

[2020-02-07 09:56] #3679 closed, assigned to gunchleoc

[2020-02-07 11:25] hessenfarmer commented on #1651
I don't believe it is set :
1. WareDescr::default_target_quantity only returns kInvalidWare if default_target_quantities_.count(tribename) <= 0 it does not set any value for default_target_quantities_.at(tribename)
2. If  default_target_quantities_.count(tribename) <= 0 to return kInvalidWare the first part of
if (default_target_quantities_.count(tribename) > 0 &&
	    default_target_quantities_.a

[2020-02-07 15:08] Noordfrees commented on #3678
We should then also add more stages for the editor resource icons since only 4 icons per resource would be too inexact

[2020-02-07 15:37] gunchleoc commented on #1651
If this never got true, we would not have gaps in the economy settings window.

[2020-02-07 19:05] Niektory opened #3680 "Game hangs (shipping related?)"
**Describe the bug**
Widelands hangs/freezes, becoming unresponsive and using 100% CPU. The hang in the attached savegame lasts either very long or forever. It's not the first hang during this game - Widelands already hanged a few times before, but resumed each time after a few minutes.

**To Reproduce**
Steps to reproduce the behavior:
1. Load [this savegame](https://github.com/widelands/wideland

[2020-02-07 19:16] hessenfarmer commented on #1651
sorry, if this is never true (as it truely is) the gaps in the economy setting window are solely controlled by the default_target_quantity value of the wares declaration. I have just tested this in my tribes_fixes branch.
deleting the default_target_quantity leads to no economy setting for blackroot flour while still having a needs statement for it in a program. The need statement should trigger t

[2020-02-07 19:37] Noordfrees commented on #3680
Okay, the culprit is Ship::reorder_destinations. The function is exponential in the number of destinations the ship has. Pushing many destinations is penalized so that this should not be a problem – clearly it is not penalized enough yet. I have a branch open with some tweaks to the ship scheduling, will also look into this there.

[2020-02-08 11:16] #3658 closed, assigned to nobody

[2020-02-08 14:03] hessenfarmer commented on #3270
I have tested this now and it doesn't produce anything with the current settings. Will analyze this.

[2020-02-08 14:41] hessenfarmer commented on #3270
with no default_target_quantity it is not producing as there is no target defined in this case.  With a default of 0 it is producing if no unsatisfied demand exists (light coloured slot) but the economy setting for log reappeared whis is unwanted.

[2020-02-08 21:47] hessenfarmer commented on #1651
have tried to fiddle around with this code to solve the charcoal issue however even when it should be true it has no effect neither on economy setting nor on the target.

[2020-02-08 21:48] #1016 closed, assigned to gunchleoc

[2020-02-08 21:54] hessenfarmer commented on #3679
Use of it was useless or wrong did delete it, Tibor is reviewing it
fixed by #3681

[2020-02-09 01:50] simply-peachy opened #3683 "Segfault after port is lost"
Ubuntu 19.10. Widelands Version r24412[b0849ef@master] (Release). Using a later version results in a crash on loading the save but that's another matter (or may be expected?)

The port at the current window location has just been lost. Boo. Speed up the game and shortly it will segfault:

[code]
[Savegame.zip](https://github.com/widelands/widelands/files/4176360/Savegame.zip)
[Tasmanian Black War.

[2020-02-09 11:24] Noordfrees commented on #3683
Can reproduce:
[code]
Seems to be a duplicate of #3544

[2020-02-09 12:38] hessenfarmer commented on #3270
Currently I believe this won't fix

[2020-02-09 16:19] fenjen opened #3685 "Let player pick a starting position"
In the past days, I've very much enjoyed playing Widelands with some friends. Most of us used to play _The Settlers 1_ when we were young. We however all agreed that picking a decent starting position was an important strategic factor. It also gives the player a deeper understanding of the map, and helps the player identifying with the settlement. I think it would be great having an option for tha

[2020-02-09 16:20] fenjen commented on #3685
![startpos](https://user-images.githubusercontent.com/2162388/74105695-7334b880-4b60-11ea-9835-5732d9d759dd.png)
Simple mockup

[2020-02-09 16:37] Noordfrees commented on #3685
I like the idea very much :)

IMHO we could allow all starting conditions here, and the player gets to decide which field the HQ/village is centered on. This should be as easy as setting the map's n-th starting position to the spot the n-th player clicks on.

This would have to go into the InteractiveGameBase – a new variable `starting_position_selection_mode_`, and while it's `true`, a leftclick

[2020-02-09 16:40] tibor95 commented on #3685
I think there is minimal distance between headquarters defined, so the selection would not be completely free, moreover prohibited areas (headquarters + radius) might just be invisible (dark)

[2020-02-09 18:56] fenjen commented on #3685
@Noordfrees: I am very happy about the quick responses. Concerning the resources... I found it a bit necessary, because otherwise people could get stuck i. e. when they're not able to gather certain resources for manufactoring tools. I thought, that if all people have access to that information, no one would have an advantage. But in any case it would be crucial to obscur this information in order

[2020-02-10 08:12] hessenfarmer commented on #3667
rather then skipping the tests I'd feel like we could speed up all our CI Builds by skipping the translations.
If we compile them once in a seperate thread (like the code checking) ans push them back onto github they could be fetched by the builds on appveyor to be incorporated into the installer artefact.
On travis we don't use them anyhow as we don't provide any installable binaries don't we.

[2020-02-11 08:18] hessenfarmer commented on #3075
fixed by #3676

[2020-02-11 08:18] #3075 closed, assigned to nobody

[2020-02-11 21:57] stonerl commented on #3458
Well, according to [this poll](https://www.widelands.org/poll/15/) I'd say we close this one? Only a third of the users who participated think that the current speed is too slow.

[2020-02-11 22:29] Noordfrees commented on #3458
I agree.
Alternatively we could also consider re-enabling [an option that apparently was present in build 14](https://www.widelands.org/wlmedia/wlscreens/screens/Current%20Development/Advanced%20options%20menu.jpeg).

[2020-02-12 09:05] gunchleoc commented on #3302
Now working on this in https://github.com/gunchleoc/widelands/tree/tribes-filtering

[2020-02-12 15:55] stonerl commented on #3458
I agree. This option should only apply for single player matches, though. I wonder why it has been removed in the first place.

[2020-02-12 15:56] #3458 closed, assigned to nobody

[2020-02-12 16:03] stonerl opened #3686 "Add option to the main menu to change speed"
Followup for #3458

Something like this had been present already in [build 14](https://www.widelands.org/wlmedia/wlscreens/screens/Current%20Development/Advanced%20options%20menu.jpeg)

![Advanced options menu](https://user-images.githubusercontent.com/2091312/74352963-87bfbd80-4db9-11ea-8e97-025a70f91917.jpeg)

[2020-02-12 16:11] Noordfrees commented on #3686
The poll's purpose sounded to me as if the default speed increase should apply to both SP and MP. So perhaps each player's desired speed should be initially set to this value in MP.

IMHO the setting should have steps of 0.25×, with a default of 1×, a minimum of 0.25× (0 means the game starts with a black screen, which would look like a bug), and a reasonable maximum like 5× or 10×.
This step size

[2020-02-12 16:12] stonerl commented on #3686
Changed the title 😀

[2020-02-12 19:08] gunchleoc opened #3687 "Add a Lua scripting function to place waterways"
Jut like `LuaPlayerBase::place_flag`, it would be good to have a function to place waterways via the Lua interface for scenario scripting.

We could then also add a function `connected_waterway` to `scripting(infrastructure.lua`.

[2020-02-12 21:00] Noordfrees commented on #3687
There is no significant distinction between roads and waterways in Lua, the class `LuaRoad` functions as a lua equivalent for `RoadBase`. And I´m planning to also cleanup the IBase to unify road- & ww-buildingmodes into one mode with a bool param so the two concepts share as much code as possible.

So IMHO instead of duplicating these functions, we should allow passing an optional parameter `type`

[2020-02-12 21:10] #1651 closed, assigned to nobody

[2020-02-15 14:13] Noordfrees commented on #3687
Will have to implement this anyway to address your review comments in #3662 ;)

[2020-02-15 14:47] #1592 closed, assigned to nobody

[2020-02-15 21:47] hessenfarmer commented on #3270
@gunchleoc
shall we close this one as I see currently no possibility to get this working in the desired way

[2020-02-16 09:24] gunchleoc opened #3691 "Merge "transform" and "grow" immovable programs"
The "transform" and "grow" immovable programs both do the same, except for some differences in parameters.

1. [ ] Replace "grow" with "transform", making sure that tha parameters work
2. [ ] Add saveloading compatibility code for games

[2020-02-16 11:14] gunchleoc commented on #3687
+1 for the optional parameter :)

The only scenario in master that uses it directly at this point is Empire4, everybody else is using the helper function in `data/scripting/infrastructure.lua`. So, we might even make it required.

[2020-02-16 12:24] hessenfarmer commented on #3691
I believe the difference is that transform is not taking terrain affinity into account while grow does. So this is a big difference in result.

[2020-02-16 17:25] frankystone commented on #3518
I ran into the same issue, see https://www.widelands.org/forum/topic/4769/

It seems to me the problem is the missing environment variable XDG_DATA_DIRS on my system. If i export this variable like:

`export XDG_DATA_DIRS=`

widelands does start normally. The problem seems to be the line 392 in  https://github.com/widelands/widelands/blob/master/src/io/filesystem/filesystem.cc#L392

According to h

[2020-02-17 16:34] Noordfrees opened #3695 "Game crashes on constructionsite completion due to wrong inputqueue request"
**Describe the bug**
The attached savegame reproducably crashes as soon as the tavern csite at 112×246 is completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the savegame
2. Give the tavern (screen center, next to the outpost) highest priority for the remaining wares
3. Wait until it completes

**Version:**
 - OS: Ubuntu 19.10
 - r24429[873d4d2@master]

**Additional context**
Err

[2020-02-17 16:34] Noordfrees commented on #3695
[LongLongWay.wgf.zip](https://github.com/widelands/widelands/files/4214938/LongLongWay.wgf.zip)

[2020-02-17 16:37] hessenfarmer commented on #3695
My fault. I need to provide savegame compatibility code.
Reason is I changed the order of the wares in the tavern to make it prefer fruit.

[2020-02-17 20:12] gunchleoc commented on #3634
Thanks for reporting! I'll close this now, because it's a duplicate.

[2020-02-17 20:12] #3634 closed, assigned to nobody

[2020-02-17 20:18] Noordfrees commented on #3695
8217940 . The savegame was created at So 09 Feb 2020 13:14:53 CET (according to the filesystem) and if I remember correctly I saved it only this once (not reloaded and resaved since).

[2020-02-17 20:22] gunchleoc opened #3697 "DEBUG: macOS 10.12 with Xcode 9.2 fails on Travis"
DEBUG: macOS 10.12 with Xcode 9.2 fails on Travis with no output received. For example, in https://travis-ci.org/widelands/widelands/jobs/651254913?utm_medium=notification&utm_source=github_status

Last few lines of output:

[code]

[2020-02-17 20:23] hessenfarmer commented on #3695
found it and coreected it now it works. problem is that if we change the order of includes in tribes/init.lua the ware index is different and we can't generic compat code for this.
I need to fix the order in my amazon branch as well as I wanted to have it nicely and sorted everything alphabetically.

[2020-02-18 12:34] stonerl commented on #3697
I'm going to remove macOS 10.12 from the build roster.

[2020-02-18 12:36] #3697 closed, assigned to stonerl

[2020-02-18 15:06] hessenfarmer commented on #3697
weird thing was that the release build worked while the debug build always failed in the download of dependencies.

[2020-02-18 17:55] frankystone commented on #3518
On my second machine i didn't get this, until i compiled from scratch (deleting the directory build/ and recompile).

The attached patch should fix this, but i don't know if the patch works with other configurations.

[fix_xdg.txt](https://github.com/widelands/widelands/files/4220790/fix_xdg.txt)

[2020-02-18 20:29] stonerl commented on #3697
For some reason, `make` had to be built from source. But 10.12 isn't supported by Apple anymore, so removing it was a the simplest way.

[2020-02-19 19:34] gunchleoc opened #3699 "Barbarian Weaving Mill needs to work with waterways"
The Barbarian Weaving Mill won't produce anything on maps that have waterways but no seafaring.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a game on the "Golden Peninsula" map
2. Build a Reed Yard, a Weaving Mill and a Ferry Yard
3. The Ferry Yard won't get any cloth

The bug is somewhere in this code:

[code]

[2020-02-20 16:19] gunchleoc commented on #3518
Looks like what happens is that `getenv("XDG_DATA_DIRS")` returns a `nullptr`, which we can't store in a `std::string` object without pointer. I have created a branch based on your patch with a few more tweaks.

https://github.com/widelands/widelands/pull/3700

[2020-02-20 16:22] gunchleoc commented on #3270
Yes, I'm fine with closing it. Thanks for the research :)

[2020-02-20 16:22] #3270 closed, assigned to nobody

[2020-02-20 16:26] gunchleoc commented on #3667
Travis builds won't time out due to translations, so we're fine there.
The reason we're building them on AppVeyor is to get them into the downloadable installers.

How about building them on AppVeyor for release builds only? This way, people can still play a current version in their language, and we save some time on the debug builds.

[2020-02-20 16:43] gunchleoc commented on #3691
I did indeed miss that. I'm wondering whether we could make this difference a parameter. I'd be fine with not changing anything though.

[2020-02-20 18:10] frankystone commented on #3518
Thanks :-)

[2020-02-21 19:14] gunchleoc commented on #2940
Related forum discussion:

- https://www.widelands.org/forum/topic/4708/
- https://www.widelands.org/forum/topic/4690/

[2020-02-21 19:55] gunchleoc opened #3704 "Frisian Soldiers lack blender files"
The Blender files for the Frisian soldiers have been lost, so they need recreating.

See https://www.widelands.org/forum/topic/4522/?page=2#post-30136

[2020-02-21 19:59] gunchleoc opened #3705 "Add function to toggle visibility of buildings"
It's sometimes hard to see what goes on behind a building, so if would be great to have  UI option to toggle them. They could be made transparent with a silhouette, for example.

https://www.widelands.org/forum/topic/4522/?page=2#post-30061

[2020-02-21 20:15] Noordfrees commented on #3704
I'm planning to give all frisian workers a small rework (esp. regarding more realistic clothes anims, body shape and proportions, faces) when I'm done with the amazon graphics. I'll take care of this then…

[2020-02-21 20:18] Noordfrees commented on #3269
Since frisians are no longer marked experimental, can this issue be considered closed?

[2020-02-21 20:52] gunchleoc opened #3706 "Accessibility ideas for eye tracking"
From the forum: https://www.widelands.org/forum/topic/4642/

- Add buttons for things that need a right-click
- Add navigator buttons for scrolling the map (where - bottom of minimap?)
- Hover actions are difficult - button to toggle all tooltips on?

[2020-02-22 11:51] gunchleoc commented on #3695
Saving DescriptionIndex instead of descr().name() is unstable, so the fix is only temporary. I'll have a real fix soon.

[2020-02-22 12:36] gunchleoc opened #3708 "Allow player to manage expedition wares"
Allow player to

1. Add wares to expeditions and (duplicate of https://github.com/widelands/widelands/pull/3692)
2. To set their ware priority

Forum discussion: https://www.widelands.org/forum/topic/4686/

[2020-02-22 12:51] gunchleoc opened #3709 "Allow critters to breed"
There are some ideas on the forum for allowing critters to have a low chance of breeding

https://www.widelands.org/forum/topic/4778/

[2020-02-22 13:11] Noordfrees commented on #3708
What exactly is the difference between 1) and the feature of #3692 ?
Priority buttons would be nice, though I don't see the point of decreasing the default wares (just as in constructionsites by the way…)

[2020-02-22 13:12] gunchleoc commented on #3269
Agreed - we should no longer have a blanket issue for this.

[2020-02-22 13:12] #3269 closed, assigned to nobody

[2020-02-22 13:35] gunchleoc commented on #3708
Oh, I see you already have selecting the wares in there, so it's redundant in this issue.

[2020-02-22 13:48] Niektory commented on #3708
Well, it allows you to temporarily send some wares away if you realize some other place needs them more urgently.

[2020-02-22 15:25] Noordfrees commented on #3470
Should actually not be that hard. IMHO the best solution would be a GitHub action that runs on every push to master:
- `git clone --depth 1 https://github.com/widelands/widelands.git master`
- `bzr branch lp:widelands trunk`
- login to bzr as bunnybot
- clear the `trunk` directory (except `.bzr`) and copy all files (except `.git`) from `master` to `trunk`
- rename all `.git*` → `.bzr*` (except `.g

[2020-02-22 19:11] simply-peachy opened #3711 "Show thumbnail in "Choose a map" screen when starting new game"
It would be really helpful for the "Choose a map" screen to show a thumbnail of a map. Oftentimes I'm looking for a map that I know the shape of, but cannot remember it's name :-)

The right-pane map metadata would need to be juggled or re-implemented to provide a space for this. Perhaps a semi-sticky tab for the right-hand pane, so a user can switch between text and thumbnails, displaying the tex

[2020-02-22 19:24] simply-peachy commented on #3708
It also provides consistency.

[2020-02-22 21:06] Noordfrees commented on #3470
I have a functional branch for a LP mirror:
https://github.com/Noordfrees/widelands/tree/lp-mirror
https://code.launchpad.net/~widelands-dev/widelands/test-github-mirror
All that is needed now to complete the mirror is to give the action access to Bunnybot's LP account… (@SirVer ?)

[2020-02-22 21:28] gunchleoc commented on #3470
Is there a way to give the pushes to the mirror commit messages?

We could also pick a somewhat higher depth to get more than 1 commit, there have been a few since the move...

I had been contemplating the https://help.launchpad.net/Code/Imports way, but controlling it ourselves from here sounds more attractive :)

[2020-02-22 21:31] gunchleoc commented on #3711
Duplicate of https://github.com/widelands/widelands/issues/1913

[2020-02-22 21:31] #3711 closed, assigned to nobody

[2020-02-22 21:39] Noordfrees commented on #3470
The empty message was only an oversight. If I didn't introduce another typo, the next push (in 10min, because that's the action's running time) will have a message in the format "`gunchleoc: Create spritesheets for trees (#3702)`"

Pushing one git commit at a time would be doable but very tricky, especially as it could be hard to find out which git commit a certain bzr revision refers to. Once the

[2020-02-22 21:50] gunchleoc commented on #3470
I think squashing would be fine, since the sole purpose of the mirror is to provide us with a PPA. I'd like to hear the opinion of @SirVer on this though, since he has more experience with project management than I do.

[2020-02-23 16:33] Noordfrees commented on #3706
1 – a little button with an X in the corner of every window's titlebar would be nice
2 – let's have an option to enable scrolling the map when the cursor is near the edges
3 – I don't understand, the tooltips are shown the moment the mouse points on an item, and the TT doesn't go away when you move the mouse only a bit

[2020-02-23 19:08] gunchleoc commented on #3706
I like your suggestions :)

For 3, maybe it's difficult to keep the eyes still long enough? I don't know how the apparatus works though, so I'm just guessing.

[2020-02-24 10:25] gunchleoc commented on #1085
Fixed by https://github.com/widelands/widelands/pull/3712

[2020-02-24 10:25] #1085 closed, assigned to nobody

[2020-02-24 10:25] gunchleoc commented on #3440
Fixed by https://github.com/widelands/widelands/pull/3712

[2020-02-24 10:25] #3440 closed, assigned to nobody

[2020-02-24 10:28] #3660 closed, assigned to nobody

[2020-02-24 11:39] hessenfarmer commented on #3667
I know why we are doing this on Appveyor. And I really would like to keep the translations in the package as long as there is no other possibility.
That is why I thought about building them once and then just need to download them to incorporate them.
Proposing this for travis as well was just to save time in the CI environment. As we (at least I) have to wait for a completed CI build with the las

[2020-02-24 13:07] Noordfrees commented on #3667
Pushing to master through actions is broken because the branch protection rules allow only admins to do that. Especially the translations update introduces one format issue every time. (I cannot look into this because all branch settings are admin-only.)

What could be done though is to create another repo just for translation files which is updated by an action and pulled by appveyor. I could set

[2020-02-24 13:46] hessenfarmer commented on #3667
Having a seperated repo is even better I believe. I would vote for it, but as GunChleoc is our expert in localization let's wait for her judgement.

[2020-02-24 13:51] hessenfarmer commented on #3691
I would vote for keeping things as they are. Mainly for keepin the telling program names which make reading the immovable programs easier.

[2020-02-24 14:03] Noordfrees commented on #3691
Currently trees have programs like `"remove=21","grow=…"`. IMHO it would be better if this was unified into one program that accepts an optional param for a remove chance and autodetects whether the immovable has terrain affinity. The remove chance should then be weighted with the terrain goodness, and instead of increasing the growth time for bad terrains remove the immovable with a chance that i

[2020-02-24 14:27] Noordfrees opened #3716 "Lua coroutine errors don't show up in regression tests output"
When our testsuite fails due to a lua coroutine error, this error does not cause widelands to crash and therefore does not show up in the log output.
On travis this leads to the build stalling without any log output that gives a clue to the failure type.

Suggestions:
- improve regression_test.py to identify coroutine errors in the output
- throw a wexception when a coroutine error is found

[2020-02-25 12:15] TinoM commented on #3667
[code]
Doing the translations takes ~2 minutes, so skipping these won't help with the timeouts due to linking time.
Skipping tests would help (because linking the test executable binaries takes the same amount as linking widelands.exe) would defeat the whole purpose of the appveyor builds:
I still believe that windows x64 user are the biggest user group of widelands and we should take care that th

[2020-02-25 13:38] Niektory opened #3719 "Assertion failed after loading build 20 savegame in master"
**To Reproduce**
1. Host a multiplayer game and load [this build 20 save](https://github.com/widelands/widelands/files/4250184/assertion_failed.wgf.zip)
2. Wait a few seconds
3. Widelands crashes with assertion failed:
[code]

**Version:**
 - OS: Manjaro
 - Widelands Version: r24441[cabdba2@master]

**Additional context**
- [Full terminal output and backtrace](https://github.com/widelands/wideland

[2020-02-25 14:16] Noordfrees commented on #3719
Confirmed. The economy savegame code output (a82ffd1) says:
[code]

For some reason the running serial is being reset to a very very high value, causing an overflow and hence the assert when a few new flags and buildings are placed by an AI. The expected value would be 1516.
I have no idea why this should happen. I only know that I never claimed that this compatibility code would work reliably…

[2020-02-25 17:10] Niektory commented on #3719
I tried to do some debugging.
[This code](https://github.com/widelands/widelands/blob/master/src/map_io/map_flag_packet.cc#L130-L140) seems to expect that the set `all_economy_serials` contains all the "high" serials created, but it seems not all serials are included in it, and it has some gaps. If encounters the first gap and assumes the serial below this gap is a "low" serial, but some "high" se

[2020-02-25 17:38] Noordfrees commented on #3719
Good find :)
But perhaps it would be better to rewrite the compat code instead so that old-style eco N is split into ware eco N and worker eco (kInvalidSerial / 2 + N) (assuming that no savegame has an economy with serial >2mrd). Then we wouldn't need to bother  about keeping this serials table and resetting the serial to an appropriate value. Not sure how compatible this solution would be with ga

[2020-02-25 18:19] #1862 closed, assigned to nobody

[2020-02-25 20:01] hessenfarmer commented on #3667
ok so skipping translation is not a big benefit. Perhaps it might be worth a try to use the Hyper-V "4-cores" environment to save time on parallel building

[2020-02-25 20:34] hessenfarmer commented on #3667
another solution might be to try the bake image function to save time on downloading all MSYS updates every time

[2020-02-26 10:45] #3657 closed, assigned to nobody

[2020-02-26 12:01] gunchleoc commented on #3667
I have a PR up to speed up linking a bit: https://github.com/widelands/widelands/pull/3720

It won't do much, bu it might just push us over the edge for some of the timeouts.

If we pre-build the translations, +1 for putting them in a separate repository.

I noticed that too. I think my translation update script is missing a git add somewhere. Me & SirVer are the only people who can run this scrip

[2020-02-26 12:41] gunchleoc commented on #3716
Coroutine errors ave special handling at the moment that they send a message and pause the game. I guess this is useful wile creating scenarios. How about adding a command line switch for the testsuite to skip this special code?

[2020-02-26 14:58] Noordfrees commented on #3667
Okay, I volunteer :)
(my username there is [Nordfriese](https://www.transifex.com/user/profile/Nordfriese/))

[2020-02-26 18:21] gunchleoc commented on #3719
Attached PR works fine with Build20 savegames, but not if they have been resaved in the meantime. Do we care? If the answer is no, the PR can go in.

* [Build 20.wgf.zip works](https://github.com/widelands/widelands/files/4257487/Build.20.wgf.zip)
* [Build 20 resaved.wgf.zip crashes with assert failure](https://github.com/widelands/widelands/files/4257488/Build.20.resaved.wgf.zip)

[2020-02-26 18:31] Noordfrees commented on #3719
The current compatibility hack is extremely unstable for b20 saves after resaving the a couple of times. The most important thing IMHO is that b20 savegames can be continued with b21 without problems. Since we never guarantee development versions to be stable I'm in favour of discarding compatibility just for b20 saves resaved within the last three months, in favour of providing better long-term c

[2020-02-26 18:36] gunchleoc commented on #3719
I agree with your reasoning, so let's have it :)

[2020-02-26 20:33] gunchleoc commented on #3691
The tribe immovables also use `remove` (ashes, harvested fields). Shipconstruction uses `transform` without a separate `remove`. So, if we want to combine `grow` with `remove`, how about combining `transform` and `remove` too? If `transform` is called without an object, simply remove the object.

[2020-02-27 07:51] #3695 closed, assigned to gunchleoc

[2020-02-27 11:05] SirVer commented on #3470
Sorry for the late reply, I am rather busy reorganizing my professional life currently.

A few thoughts:
- where are maintainers getting their package from? If some choose to use Launchpad, having not a 1:1 mapping between bzr and git commits will make bug reports and also maintainers life hard.
- If the mirror is truly only for our own PPA it seems inconsequential if commits are squashed or not -

[2020-02-27 11:16] Noordfrees commented on #3470
regarding 2): The action includes the github SHA in the LP commit message so this can be translated at one glance
re 3): "Fortunately" our current changes have such incompatibilities already, which caused bzr to crash frequently in my first tests. I am fixing this by running `bzr remove; bzr add` which fixes all these problems, only renaming will not be detected this way. But since we use LP only

[2020-02-27 12:29] Niektory commented on #3706
I suspect the problem with tooltips is that you need to move your eyes to read them (as they don't show up exactly at the cursor's location, and some are quite large), but when you do, the mouse cursor moves as well causing them to disappear.

[2020-02-28 09:31] #3719 closed, assigned to Noordfrees

[2020-02-28 09:34] hessenfarmer commented on #3667
Tinos latest change gave us a big speedup on appveyor, which is still our CI Bottleneck. Thanks a lot for doing so.
As my suggested function of baking an image is not cost free, we can't use it. However I didn't find out if caching some data would be helpful. If we could cache our MSYS/mingw folders we won't need so much time to download and install all the packages in there. This could give us an

[2020-02-28 12:21] TinoM commented on #3667
Relating to the longest running x86_x64 build:
@gunchleoc overhaul of the includes saved us ~15 minutes build time, using the HyperV cloud another ~10 minutes (when i switched to GCE some time ago it was the other way round).

We are always updating the whole build environment (msys2) at the beginning because Appveyor does only update the images every few months. But downloading is done with inter

[2020-02-28 13:22] hessenfarmer commented on #3667
My idea was to cache C:/msys64 each time. This would be extracted after getting the repository. As this would contain the db of MSYS2 our pacman commands would result in nothing to do or only small things to do that get cached after the build again.
I agree that downloading does not take long however the current install takes up to 7 minutes from which possibly 5 could saved.

[2020-02-28 13:36] gunchleoc commented on #3667
I am manually cleaning up our external includes too, so that should have us additional memory & time.

One Pull Request is already up: https://github.com/widelands/widelands/pull/3724

Follow-up branches:
1. https://github.com/gunchleoc/widelands/tree/cleanup-includes2
2. https://github.com/gunchleoc/widelands/tree/cleanup-SDL-headers

[2020-02-29 08:42] SirVer commented on #3470
2) that sounds sufficient then, IMHO.
3) I cannot answer that question besides the points I mentioned above. I still think letting Launchpad deal with the headaches of importing is saving resources for the Widelands project, but since you @Noordfrees seem to be eager to own and maintain this piece of infrastructure, that might not be an issue either.

[2020-02-29 10:41] #3600 closed, assigned to hessenfarmer

[2020-02-29 12:43] gunchleoc commented on #3470
I am leaning towards https://help.launchpad.net/Code/Git#Mirroring_repositories_from_other_sites now. This will probably mess with our legacy branch history on Launchpad, but it would avoid the git->bzr conversion. I don't think we need that history any more at this point.

[2020-02-29 19:55] Noordfrees opened #3726 "Editbox consumes Ctrl-modfied hotkeys"
**Describe the bug**
When the keyboard focus is on an input field, Ctrl-… hotkeys don't work.

**To Reproduce**
1. Open the debug console (F6)
2. Press Ctrl-F → Nothing happens

**Expected behavior**
The hotkey should work.
Hotkeys like 'M' that are also characters should be consumed (as they are), but if Ctrl is down this is *not* a character so it should be treated as a hotkey instead.

**Versio

[2020-03-01 10:58] gunchleoc opened #3728 "Test suite sometimes hangs on Clang5 during saveloading"
Saveloading fails sometimes with the test suite, which is causing the timeouts on Travis. The game then just keeps running at 1x speed without doing anything.

**To Reproduce**

1. Get an Ubuntu Trusty
2. Install clang version 5.x
3. Open a terminal
4. Delete the `build` directory if you already have one
5. Call
[code]
6. Run `./compile.sh -w -a -s -t`
7. Run `./regression_test.py -b ./widelands`

[2020-03-01 19:59] gunchleoc opened #3729 "Some critter models need retexturing"
The following models were made more massive by a halo particle effect that doesn't work any more. I tried opening it in the original Blender version, but they were broken there too. Example screenshot:

![particle_halo](https://user-images.githubusercontent.com/4095570/75632704-afef4f00-5bf6-11ea-81ad-e614ced3673d.png)

- brownbear
- sheep
- wildboar
- wisent

Also, 1 model has some texture stretc

[2020-03-01 20:01] gunchleoc opened #3730 "Critters missing 3D models"
The following critters have no 3D models:

- bunny
- duck

[2020-03-02 21:49] stonerl opened #3734 "(Barbarian) Citadel only holds 8 Soldiers after upgrade"
**Describe the bug**
When a barbarian Citadel gets enhanced the number of soldiers stays at 8 instead of 12. The user has to manually increase the capacity.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a Fortress
2. After the Fortress has been built and occupied with soldiers enhance it to a Citadel
3. The number of soldiers stays at 8.

**Expected behavior**
The number of soldiers

[2020-03-03 09:02] #3643 closed, assigned to nobody

[2020-03-03 10:02] gunchleoc commented on #3269
Hessenfarmer's Excel sheets from the Launchpad bug

[BuildCost.xlsx](https://github.com/widelands/widelands/files/4280617/BuildCost.xlsx)
[mine efficiency.xlsx](https://github.com/widelands/widelands/files/4280619/mine.efficiency.xlsx)
[mine efficiency_new.xlsx](https://github.com/widelands/widelands/files/4280620/mine.efficiency_new.xlsx)
[Soldiers.xlsm.zip](https://github.com/widelands/widelands

[2020-03-04 05:45] #3734 closed, assigned to Noordfrees

[2020-03-05 15:43] Noordfrees opened #3737 "Make autosave message better visible"
During game autosaves no ProgressWindow is being displayed any more. The only indicator why the game seems to be hanging is a small, sometimes poorly visible string in the lower left corner which may be obscured by open windows.

Suggestions:
- Re-enable the progress window for autosaves like for manual saves
- Draw the progress string on top of windows etc, make it larger, and make the background

[2020-03-05 16:38] hessenfarmer commented on #3667
For whatever reason we are timing out again. So we might try the caching solution probably. When I am back at my machine I could provide a branch to show you what I mean.

[2020-03-05 16:43] hessenfarmer opened #3738 "Compiler warnings in read MapViewPacket"
Currently there are a lot of compiler warnings visible on appvehor. (line 2450 ff). Regarding some variables incompatibilities

[2020-03-06 11:32] gunchleoc opened #3739 "Bugs in Multiplayer setup UI"
1. if you load a match, it shows "no team" everywhere even when there are teams. (by the way it's confusing with the colors. i recommend to replace team colors by team numbers again)
2. and it also reveals the tribes of random tribe. which should be still shown as random.

**To Reproduce**
Load a multiplayer savegame with teams in it

Reported on the forum: https://www.widelands.org/forum/topic/47

[2020-03-06 17:37] hessenfarmer commented on #3667
ok the reason is on msys2 side where repo.msys2.org is not reachable. But they are wotking on this.

[2020-03-06 18:34] Noordfrees commented on #3538
I had another look at this issue. The savegame still reproducably crashes with the assert in current master, and I still have no clue whatsoever why this can happen, or how to reproduce the issue.
Since this bug was not reported again in the last five months, I'm in favour of closing this issue for now, and only taking care of it if it does happen again.

[2020-03-06 18:40] Noordfrees commented on #3669
The savegame is no longer compatible:
[code]
@hessenfarmer ?

[2020-03-06 19:22] Noordfrees commented on #1782
I believe such a tool would become obsolete by #3662

[2020-03-06 19:25] Noordfrees commented on #1747
IMHO such a feature would be superfluous in current Widelands. The stats strings over and inside productionsites, their tooltips, and the economy menus already give the player all the information they need. Close this issue?

[2020-03-06 19:26] Noordfrees commented on #1737
Since we have enough animals and no longer have separate worlds, let's close this issue?

[2020-03-06 19:32] Noordfrees commented on #1896
If we want different animations for some building's "sleeping" program (do we? no need IMHO), just add a new anim as "sleep" and replace "sleep=10000" with "animate=sleep 10000".

[2020-03-06 19:32] #1896 closed, assigned to nobody

[2020-03-06 19:35] Noordfrees commented on #2071
Is there a reason why this issue is still open?

[2020-03-06 19:38] Noordfrees commented on #2068
We'll rejoice the day any AI better than Very Weak can give players serious trouble… Let's close this issue until then.

[2020-03-06 19:51] Noordfrees commented on #3056
The shipping algorithm has been reworked a number of times since then (and is being reworked again currently), so I believe this is no longer valid.

[2020-03-06 19:51] #3056 closed, assigned to nobody

[2020-03-06 19:58] #2068 closed, assigned to nobody

[2020-03-06 19:58] #1737 closed, assigned to nobody

[2020-03-06 19:58] #1747 closed, assigned to nobody

[2020-03-06 20:07] Noordfrees commented on #952
The backtrace says nothing and there is practically no substantial information in this bug report. The savegame is very old and incompatible so no such information can be obtained either. Chances are that this problem no longer exists in current Widelands.

[2020-03-06 20:07] #952 closed, assigned to nobody

[2020-03-06 20:10] Noordfrees commented on #925
Did anyone get this bug again in the last couple of years? If not, let's close it.

[2020-03-06 20:12] Noordfrees commented on #931
I very much doubt that this is still a problem in current Widelands. If it is, the shipping code changed so much in the last four years that it qualifies for a new issue then.

[2020-03-06 20:12] #931 closed, assigned to nobody

[2020-03-06 20:15] Noordfrees commented on #744
The discussion is not topical any more, but this ancient bug is still around. Happens pretty rarely, sporadically and not reproducably. Should be looked into on occasion though.

[2020-03-06 20:22] Noordfrees commented on #1006
This bug was last updated 4 years ago. Does this still happen or can it be closed?

[2020-03-06 20:28] Noordfrees commented on #1482
Still happens on adf1bc6195ec14d778302d4145586177b37e9c87, should be fixed for b21

![](https://launchpadlibrarian.net/155774187/shot0005.png)

[2020-03-06 20:29] Noordfrees commented on #1481
Most likely no longer present in current Widelands due to multiple shipping reworks.

[2020-03-06 20:29] #1481 closed, assigned to nobody

[2020-03-06 20:34] Noordfrees commented on #1471
This bug is over six years old; there are no instructions to reproduce except a way outdated savegame and replay; and it has not been reported again since. If this can still happen, let's have a fresh issue for it then.

[2020-03-06 20:34] #1471 closed, assigned to nobody

[2020-03-06 20:37] hessenfarmer commented on #3669
yes it has been saved with a version between the 3 program fix implementation and the first fix for compatibility with b20.
needs fixing of #3671 for compatibility again.

[2020-03-06 20:38] Noordfrees commented on #1470
`Player::Field` has a field `terrains`, but apparently it is either not used or invalidly updated. Terrain changes under fog of war are still visible. Should be fixed for b21.

[2020-03-06 20:44] Noordfrees commented on #1444
The internal mechanics that require dropping out and fetching back in wares when starting an expedition are fine. Let's just drop out all wares to the flag when cancelling an expedition for consistency.